{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
  {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5cc30e52a85862a9"></script>
{% set records = content.field_resource_reference['#items']|length %}
{% if records > 0 %}
  <section class="news-slider animation-four {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    <div class="container">
      <div class="slider-block">
        <div class="item">
          {% for item in content.field_resource_reference['#items'] %}
            {% set title, blurb, type, data_id = item.entity.title.value|e, item.entity.field_blurb.value, item.entity.type.entity.label, item.entity.field_data_id.value %}
            {% set start_date, end_date, subtitle = item.entity.field_event_date.start_date, item.entity.field_event_date.end_date, item.entity.field_subtitle.value %}
            {% if item.entity.field_image.isempty and type == "Blog"  %}
              {% set image_url, image_alt =  '/themes/rms/templates/assets/images/blog-generic.jpg', 'Blog' %}
            {% elseif item.entity.field_image.isempty and type == "News"  %}
                {% set image_url, image_alt =  '/themes/rms/templates/assets/images/news-generic.jpg', 'News' %}
            {% elseif item.entity.field_image.isempty and type == "Events"  %}
                {% set image_url, image_alt =  '/themes/rms/templates/assets/images/event_detail_default.jpg', 'Events' %}
            {% elseif item.entity.field_image.isempty  %}
                {% set image_url, image_alt =  '/themes/rms/templates/assets/images/resources-generic.jpg', 'resource' %}
            {% else %}
              {% set image_url, image_alt =  file_url(item.entity.field_image.entity.uri.value), item.entity.field_image.alt %}
            {% endif %}
            {% set external_redirect = item.entity.field_external_redirect.value %}
            {% set file = item.entity.field_file.entity.uri.value %}
            {% set start_time = item.entity.field_event_time.value is not empty ? item.entity.field_event_time.value : '' %}
            {% if start_date == end_date %}
                {% set event_date = start_date|date('F d, Y') %}
            {% else %}
                {% set event_date = start_date|date('F d, Y') ~ ' - ' ~ end_date|date('F d, Y') %}
            {% endif %}
            {% if loop.index == 1 %}

              <div class="media-block" data-id="{{ data_id }}">
                <div class="pattern-animation" id="lottie4">
                </div>
                <div class="media-top-wrap wow fadeInUp" data-wow-delay="0.7s">
                  <div class="img-box">
                    {% if type == 'Video' %}
                      <a  class="video-play" data-video="{{ item.entity.field_video_url.value }}" tabindex="0">
                        <p>
                            {% autoescape false %}
                            {{ title }}
                            {% endautoescape %}
                        </p>
                      </a>
                    {% elseif type == 'Infographics' %}
                      <a href="{{ image_url }}" rel="prettyPhoto[gallery1]"></a>
                    {% elseif external_redirect is not empty %}
                      <a href="{{ external_redirect }}" class="learn-more"></a>
                    {% elseif file is not empty %}
                      <a href="{{ file_url(file) }}" target="_blank" class="learn-more"></a>
                    {% else %}
                      <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}"></a>
                    {% endif %}
                    {% if item.entity.field_thumbnail.value  %}
                      <img src="{{ file_url(item.entity.field_thumbnail.entity.uri.value)}}" alt="{{ item.entity.field_thumbnail.alt }}">
                    {% elseif item.entity.field_image_three.value  %}
                        <img src="{{ file_url(item.entity.field_image_three.entity.uri.value)}}" alt="{{ item.entity.field_image_three.alt }}">
                    {% elseif item.entity.field_image_two.value  %}
                      <img src="{{ file_url(item.entity.field_image_two.entity.uri.value)}}" alt="{{ item.entity.field_image_two.alt }}">
                    {% else %}
                      <img src="{{ image_url }}" alt="{{ image_alt }}">
                    {% endif %}
                    <div class="shared-icon">
                      {% if type == 'Video' %}
                        <div class="addthis_inline_share_toolbox_sove" data-url="{{ item.entity.field_video_url.value }}" data-title="{{ title }}"></div>
                      {% elseif type == 'Infographics' %}
                        <div class="addthis_inline_share_toolbox_sove" data-url="{{ url('<front>')|render|trim('/', 'right') ~ image_url }}" data-title="{{ title }}"></div>
                      {% elseif external_redirect is not empty %}
                        <div class="addthis_inline_share_toolbox_sove" data-url="{{ external_redirect }}" data-title="{{ title }}"></div>
                      {% elseif file is not empty %}
                        <div class="addthis_inline_share_toolbox_sove" data-url="{{ url('<front>')|render|trim('/', 'right') ~ file_url(file) }}" data-title="{{ title }}"></div>
                      {% else %}
                        <div class="addthis_inline_share_toolbox_sove" data-url="{{ url('<front>')|render|trim('/', 'right') ~ path('entity.node.canonical', {'node': item.entity.id}) }}" data-title="{{ title }}"></div>
                      {% endif %}
                    </div>
                    {% if type == 'Video' %}
                      <div class="play-icon"></div>
                    {% endif %}
                  </div>
                  <div class="media-footer">
                    <div class="icon-box">
                      <img src="/themes/rms/templates/dist/images/svg/{{ type }}.svg" alt="{{ type }}">
                    </div>
                    <span>{{ type }}</span>
                  </div>
                </div>
                <div class="content-box wow fadeInUp" data-wow-delay="0.9s">
                  <h4>
                      {% autoescape false %}
                      {{ title|truncate(65, true, ' ...') }}
                      {% endautoescape %}
                  </h4>
                  {% if type == 'Events'  %}
                    <p class="small-text">{{ event_date }} {{ start_time }}</p>
                  {% elseif subtitle %}
                    <p class="small-text">{{ subtitle }}</p>
                  {% endif %}
                  {% if blurb %}
                    <p>
                      {% autoescape false %}
                        {{ blurb|striptags|truncate(467, true, '...') }}
                      {% endautoescape %}
                    </p>
                  {% endif %}
                  {% if type != 'Video' %}
                  <div class="button-box">
                    {% if type == 'Infographics' %}
                      <a href="{{ image_url }}" rel="prettyPhoto[gallery1]" class="learn-more">Read More</a>
                    {% elseif external_redirect is not empty %}
                      <a href="{{ external_redirect }}" class="learn-more">Read More</a>
                    {% elseif file is not empty %}
                      <a href="{{ file_url(file) }}" target="_blank" class="learn-more">Read More</a>
                    {% else %}
                      <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}" class="learn-more">Read More</a>
                    {% endif %}
                  </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {% endfor %}

          {% if records > 1 %}
            <div class="resources-block">
              {% for item in content.field_resource_reference['#items'] %}
                {% set title, blurb, type, data_id = item.entity.title.value|e, item.entity.field_blurb.value, item.entity.type.entity.label, item.entity.field_data_id.value %}
                {% set start_date, end_date, subtitle = item.entity.field_start_date.value, item.entity.field_end_date.value, item.entity.field_subtitle.value %}
                  {% if item.entity.field_image.isempty and type == "Blog"  %}
                      {% set image_url, image_alt =  '/themes/rms/templates/assets/images/blog-generic.jpg', 'Blog' %}
                  {% elseif item.entity.field_image.isempty and type == "News"  %}
                      {% set image_url, image_alt =  '/themes/rms/templates/assets/images/news-generic.jpg', 'News' %}
                  {% elseif item.entity.field_image.isempty  %}
                      {% set image_url, image_alt =  '/themes/rms/templates/assets/images/resources-generic.jpg', 'resource' %}
                  {% else %}
                      {% set image_url, image_alt =  file_url(item.entity.field_image.entity.uri.value), item.entity.field_image.alt %}
                  {% endif %}
                {% set external_redirect = item.entity.field_external_redirect.value %}
                {% set file = item.entity.field_file.entity.uri.value %}
                {% if loop.index == 2 or loop.index == 3 %}
                  <div class="wrapper-box" data-id="{{ data_id }}">
                    <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                      <div class="img-box">
                        {% if type == 'Video' %}
                          <a class="video-play" data-video="{{ item.entity.field_video_url.value }}" tabindex="0">
                            <p>
                                {% autoescape false %}
                                    {{ title }}
                                {% endautoescape %}
                            </p>
                          </a>
                        {% elseif type == 'Infographics' %}
                          <a href="{{ image_url }}" rel="prettyPhoto[gallery1]"></a>
                        {% elseif external_redirect is not empty %}
                          <a href="{{ external_redirect }}" class="learn-more"></a>
                        {% elseif file is not empty %}
                          <a href="{{ file_url(file) }}" target="_blank" class="learn-more"></a>
                        {% else %}
                          <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}"></a>
                        {% endif %}
                        <div class="shared-icon">
                          {% if type == 'Video' %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ item.entity.field_video_url.value }}" data-title="{{ title }}"></div>
                          {% elseif type == 'Infographics' %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ url('<front>')|render|trim('/', 'right') ~ image_url }}" data-title="{{ title }}"></div>
                          {% elseif external_redirect is not empty %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ external_redirect }}" data-title="{{ title }}"></div>
                          {% elseif file is not empty %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ url('<front>')|render|trim('/', 'right') ~ file_url(file) }}" data-title="{{ title }}"></div>
                          {% else %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ url('<front>')|render|trim('/', 'right') ~ path('entity.node.canonical', {'node': item.entity.id}) }}" data-title="{{ title }}"></div>
                          {% endif %}
                        </div>
                        {% if item.entity.field_thumbnail.value  %}
                          <img src="{{ file_url(item.entity.field_thumbnail.entity.uri.value)}}" alt="{{ item.entity.field_thumbnail.alt }}">
                        {% elseif item.entity.field_image_three.value  %}
                            <img src="{{ file_url(item.entity.field_image_three.entity.uri.value)}}" alt="{{ item.entity.field_image_three.alt }}">
                        {% elseif item.entity.field_image_two.value  %}
                            <img src="{{ file_url(item.entity.field_image_two.entity.uri.value)}}" alt="{{ item.entity.field_image_two.alt }}">
                        {% else %}
                          <img src="{{ image_url }}" alt="{{ image_alt }}">
                        {% endif %}
                        {% if type == 'Video' %}
                          <div class="play-icon"></div>
                        {% endif %}
                      </div>
                      <div class="media-footer">
                        <div class="icon-box">
                          <img src="/themes/rms/templates/dist/images/svg/{{ type }}.svg" alt="{{ type }}">
                        </div>
                        <span>{{ type }}</span>
                      </div>
                    </div>
                    <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                        <h4>
                            {% autoescape false %}
                                {{ title|truncate(32, true, ' ...') }}
                            {% endautoescape %}
                        </h4>
                      {% if blurb %}
                        <p>
                          {% autoescape false %}
                            {{ blurb|striptags|truncate(55, true, '...') }}
                          {% endautoescape %}
                        </p>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>

        {% if records > 3 %}
          <div class="item">
            <div class="resources-block half-width">
              {% for item in content.field_resource_reference['#items'] %}
                {% set title, blurb, type , data_id= item.entity.title.value|e, item.entity.field_blurb.value, item.entity.type.entity.label, item.entity.field_data_id.value %}
                {% set start_date, end_date, subtitle = item.entity.field_start_date.value, item.entity.field_end_date.value, item.entity.field_subtitle.value %}
                  {% if item.entity.field_image.isempty and type == "Blog"  %}
                      {% set image_url, image_alt =  '/themes/rms/templates/assets/images/blog-generic.jpg', 'Blog' %}
                  {% elseif item.entity.field_image.isempty and type == "News"  %}
                      {% set image_url, image_alt =  '/themes/rms/templates/assets/images/news-generic.jpg', 'News' %}
                  {% elseif item.entity.field_image.isempty  %}
                      {% set image_url, image_alt =  '/themes/rms/templates/assets/images/resources-generic.jpg', 'resource' %}
                  {% else %}
                      {% set image_url, image_alt =  file_url(item.entity.field_image.entity.uri.value), item.entity.field_image.alt %}
                  {% endif %}
                {% set external_redirect = item.entity.field_external_redirect.value %}
                {% set file = item.entity.field_file.entity.uri.value %}
                {% if loop.index == 4 or loop.index == 5 %}
                  <div class="wrapper-box" data-id="{{ data_id }}">
                    <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                      <div class="img-box">
                        {% if type == 'Video' %}
                          <a  class="video-play" data-video="{{ item.entity.field_video_url.value }}" tabindex="0">
                            <p>
                                {% autoescape false %}
                                    {{ title }}
                                {% endautoescape %}
                            </p>
                          </a>
                        {% elseif type == 'Infographics' %}
                          <a href="{{ image_url }}" rel="prettyPhoto[gallery1]"></a>
                        {% elseif external_redirect is not empty %}
                          <a href="{{ external_redirect }}" class="learn-more"></a>
                        {% elseif file is not empty %}
                          <a href="{{ file_url(file) }}" target="_blank" class="learn-more"></a>
                        {% else %}
                          <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}"></a>
                        {% endif %}
                        <div class="shared-icon">
                          {% if type == 'Video' %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ item.entity.field_video_url.value }}" data-title="{{ title }}"></div>
                          {% elseif type == 'Infographics' %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ url('<front>')|render|trim('/', 'right') ~ image_url }}" data-title="{{ title }}"></div>
                          {% elseif external_redirect is not empty %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ external_redirect }}" data-title="{{ title }}"></div>
                          {% elseif file is not empty %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ url('<front>')|render|trim('/', 'right') ~ file_url(file) }}" data-title="{{ title }}"></div>
                          {% else %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ url('<front>')|render|trim('/', 'right') ~ path('entity.node.canonical', {'node': item.entity.id}) }}" data-title="{{ title }}"></div>
                          {% endif %}
                        </div>
                        {% if item.entity.field_thumbnail.value  %}
                          <img src="{{ file_url(item.entity.field_thumbnail.entity.uri.value)}}" alt="{{ item.entity.field_thumbnail.alt }}">
                        {% elseif item.entity.field_image_three.value  %}
                            <img src="{{ file_url(item.entity.field_image_three.entity.uri.value)}}" alt="{{ item.entity.field_image_three.alt }}">
                        {% elseif item.entity.field_image_two.value  %}
                            <img src="{{ file_url(item.entity.field_image_two.entity.uri.value)}}" alt="{{ item.entity.field_image_two.alt }}">
                        {% else %}
                          <img src="{{ image_url }}" alt="{{ image_alt }}">
                        {% endif %}
                        {% if type == 'Video' %}
                          <div class="play-icon"></div>
                        {% endif %}
                      </div>
                      <div class="media-footer">
                        <div class="icon-box">
                          <img src="/themes/rms/templates/dist/images/svg/{{ type }}.svg" alt="{{ type }}">
                        </div>
                        <span>{{ type }}</span>
                      </div>
                    </div>
                    <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                      <h4>
                          {% autoescape false %}
                          {{ title|truncate(32, true, ' ...') }}
                          {% endautoescape %}
                      </h4>
                      {% if blurb %}
                        <p>
                          {% autoescape false %}
                            {{ blurb|striptags|truncate(55, true, '...') }}
                          {% endautoescape %}
                        </p>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="resources-block half-width">
              {% for item in content.field_resource_reference['#items'] %}
                {% set title, blurb, type, data_id = item.entity.title.value|e, item.entity.field_blurb.value, item.entity.type.entity.label, item.entity.field_data_id.value %}
                {% set start_date, end_date, subtitle = item.entity.field_start_date.value, item.entity.field_end_date.value, item.entity.field_subtitle.value %}
                  {% if item.entity.field_image.isempty and type == "Blog"  %}
                      {% set image_url, image_alt =  '/themes/rms/templates/assets/images/blog-generic.jpg', 'Blog' %}
                  {% elseif item.entity.field_image.isempty and type == "News"  %}
                      {% set image_url, image_alt =  '/themes/rms/templates/assets/images/news-generic.jpg', 'News' %}
                  {% elseif item.entity.field_image.isempty  %}
                      {% set image_url, image_alt =  '/themes/rms/templates/assets/images/resources-generic.jpg', 'resource' %}
                  {% else %}
                      {% set image_url, image_alt =  file_url(item.entity.field_image.entity.uri.value), item.entity.field_image.alt %}
                  {% endif %}
                {% set external_redirect = item.entity.field_external_redirect.value %}
                {% set file = item.entity.field_file.entity.uri.value %}
                {% if loop.index == 6 or loop.index == 7 %}
                  <div class="wrapper-box" data-id="{{ data_id }}">
                    <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                      <div class="img-box">
                        {% if type == 'Video' %}
                          <a  class="video-play" data-video="{{ item.entity.field_video_url.value }}" tabindex="0">
                            <p>
                                {% autoescape false %}
                                    {{ title }}
                                {% endautoescape %}
                            </p>
                          </a>
                        {% elseif type == 'Infographics' %}
                          <a href="{{ image_url }}" rel="prettyPhoto[gallery1]"></a>
                        {% elseif external_redirect is not empty %}
                          <a href="{{ external_redirect }}" class="learn-more"></a>
                        {% elseif file is not empty %}
                          <a href="{{ file_url(file) }}" target="_blank" class="learn-more"></a>
                        {% else %}
                          <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}"></a>
                        {% endif %}
                        <div class="shared-icon">
                          {% if type == 'Video' %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ item.entity.field_video_url.value }}" data-title="{{ title }}"></div>
                          {% elseif type == 'Infographics' %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ url('<front>')|render|trim('/', 'right') ~ image_url }}" data-title="{{ title }}"></div>
                          {% elseif external_redirect is not empty %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ external_redirect }}" data-title="{{ title }}"></div>
                          {% elseif file is not empty %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ url('<front>')|render|trim('/', 'right') ~ file_url(file) }}" data-title="{{ title }}"></div>
                          {% else %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ url('<front>')|render|trim('/', 'right') ~ path('entity.node.canonical', {'node': item.entity.id}) }}" data-title="{{ title }}"></div>
                          {% endif %}
                        </div>
                        {% if item.entity.field_thumbnail.value  %}
                          <img src="{{ file_url(item.entity.field_thumbnail.entity.uri.value)}}" alt="{{ item.entity.field_thumbnail.alt }}">
                        {% elseif item.entity.field_image_three.value  %}
                            <img src="{{ file_url(item.entity.field_image_three.entity.uri.value)}}" alt="{{ item.entity.field_image_three.alt }}">
                        {% elseif item.entity.field_image_two.value  %}
                            <img src="{{ file_url(item.entity.field_image_two.entity.uri.value)}}" alt="{{ item.entity.field_image_two.alt }}">
                        {% else %}
                          <img src="{{ image_url }}" alt="{{ image_alt }}">
                        {% endif %}
                        {% if type == 'Video' %}
                          <div class="play-icon"></div>
                        {% endif %}
                      </div>
                      <div class="media-footer">
                        <div class="icon-box">
                          <img src="/themes/rms/templates/dist/images/svg/{{ type }}.svg" alt="{{ type }}">
                        </div>
                        <span>{{ type }}</span>
                      </div>
                    </div>
                    <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                        <h4>
                            {% autoescape false %}
                                {{ title|truncate(32, true, ' ...') }}
                            {% endautoescape %}
                        </h4>
                      {% if blurb %}
                        <p>
                          {% autoescape false %}
                            {{ blurb|striptags|truncate(55, true, '...') }}
                          {% endautoescape %}
                        </p>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endif %}

        {% if records > 7 %}
          <div class="item">
            <div class="resources-block half-width">
              {% for item in content.field_resource_reference['#items'] %}
                {% set title, blurb, type, data_id = item.entity.title.value|e, item.entity.field_blurb.value, item.entity.type.entity.label, item.entity.field_data_id.value %}
                {% set start_date, end_date, subtitle = item.entity.field_start_date.value, item.entity.field_end_date.value, item.entity.field_subtitle.value %}
                  {% if item.entity.field_image.isempty and type == "Blog"  %}
                      {% set image_url, image_alt =  '/themes/rms/templates/assets/images/blog-generic.jpg', 'Blog' %}
                  {% elseif item.entity.field_image.isempty and type == "News"  %}
                      {% set image_url, image_alt =  '/themes/rms/templates/assets/images/news-generic.jpg', 'News' %}
                  {% elseif item.entity.field_image.isempty  %}
                      {% set image_url, image_alt =  '/themes/rms/templates/assets/images/resources-generic.jpg', 'resource' %}
                  {% else %}
                      {% set image_url, image_alt =  file_url(item.entity.field_image.entity.uri.value), item.entity.field_image.alt %}
                  {% endif %}
                {% set external_redirect = item.entity.field_external_redirect.value %}
                {% set file = item.entity.field_file.entity.uri.value %}
                {% if loop.index == 8 or loop.index == 9 %}
                  <div class="wrapper-box" data-id="{{ data_id }}">
                    <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                      <div class="img-box">
                        {% if type == 'Video' %}
                          <a class="video-play" data-video="{{ item.entity.field_video_url.value }}" tabindex="0">
                            <p>
                                {% autoescape false %}
                                    {{ title }}
                                {% endautoescape %}
                            </p>
                          </a>
                        {% elseif type == 'Infographics' %}
                          <a href="{{ image_url }}" rel="prettyPhoto[gallery1]"></a>
                        {% elseif external_redirect is not empty %}
                          <a href="{{ external_redirect }}" class="learn-more"></a>
                        {% elseif file is not empty %}
                          <a href="{{ file_url(file) }}" target="_blank" class="learn-more"></a>
                        {% else %}
                          <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}"></a>
                        {% endif %}
                        <div class="shared-icon">
                          {% if type == 'Video' %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ item.entity.field_video_url.value }}" data-title="{{ title }}"></div>
                          {% elseif type == 'Infographics' %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ image_url }}" data-title="{{ title }}"></div>
                          {% elseif external_redirect is not empty %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ external_redirect }}" data-title="{{ title }}"></div>
                          {% elseif file is not empty %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ url('<front>')|render|trim('/', 'right') ~ file_url(file) }}" data-title="{{ title }}"></div>
                          {% else %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ url('<front>')|render|trim('/', 'right') ~ path('entity.node.canonical', {'node': item.entity.id}) }}" data-title="{{ title }}"></div>
                          {% endif %}
                        </div>
                        {% if item.entity.field_thumbnail.value  %}
                          <img src="{{ file_url(item.entity.field_thumbnail.entity.uri.value)}}" alt="{{ item.entity.field_thumbnail.alt }}">
                        {% elseif item.entity.field_image_three.value  %}
                            <img src="{{ file_url(item.entity.field_image_three.entity.uri.value)}}" alt="{{ item.entity.field_image_three.alt }}">
                        {% elseif item.entity.field_image_two.value  %}
                            <img src="{{ file_url(item.entity.field_image_two.entity.uri.value)}}" alt="{{ item.entity.field_image_two.alt }}">
                        {% else %}
                          <img src="{{ image_url }}" alt="{{ image_alt }}">
                        {% endif %}
                        {% if type == 'Video' %}
                          <div class="play-icon"></div>
                        {% endif %}
                      </div>
                      <div class="media-footer">
                        <div class="icon-box">
                          <img src="/themes/rms/templates/dist/images/svg/{{ type }}.svg" alt="{{ type }}">
                        </div>
                        <span>{{ type }}</span>
                      </div>
                    </div>
                    <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                        <h4>
                            {% autoescape false %}
                                {{ title|truncate(32, true, ' ...') }}
                            {% endautoescape %}
                        </h4>
                      {% if blurb %}
                        <p>
                          {% autoescape false %}
                            {{ blurb|striptags|truncate(55, true, '...') }}
                          {% endautoescape %}
                        </p>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="resources-block half-width">
              {% for item in content.field_resource_reference['#items'] %}
                {% set title, blurb, type, data_id = item.entity.title.value|e, item.entity.field_blurb.value, item.entity.type.entity.label, item.entity.field_data_id.value %}
                {% set start_date, end_date, subtitle = item.entity.field_start_date.value, item.entity.field_end_date.value, item.entity.field_subtitle.value %}
                  {% if item.entity.field_image.isempty and type == "Blog"  %}
                      {% set image_url, image_alt =  '/themes/rms/templates/assets/images/blog-generic.jpg', 'Blog' %}
                  {% elseif item.entity.field_image.isempty and type == "News"  %}
                      {% set image_url, image_alt =  '/themes/rms/templates/assets/images/news-generic.jpg', 'News' %}
                  {% elseif item.entity.field_image.isempty  %}
                      {% set image_url, image_alt =  '/themes/rms/templates/assets/images/resources-generic.jpg', 'resource' %}
                  {% else %}
                      {% set image_url, image_alt =  file_url(item.entity.field_image.entity.uri.value), item.entity.field_image.alt %}
                  {% endif %}
                {% set external_redirect = item.entity.field_external_redirect.value %}
                {% set file = item.entity.field_file.entity.uri.value %}
                {% if loop.index == 10 or loop.index == 11 %}
                  <div class="wrapper-box" data-id="{{ data_id }}">
                    <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                      <div class="img-box">
                        {% if type == 'Video' %}
                          <a  class="video-play" data-video="{{ item.entity.field_video_url.value }}" tabindex="0">
                            <p>
                                {% autoescape false %}
                                    {{ title }}
                                {% endautoescape %}
                            </p>
                          </a>
                        {% elseif type == 'Infographics' %}
                          <a href="{{ image_url }}" rel="prettyPhoto[gallery1]"></a>
                        {% elseif external_redirect is not empty %}
                          <a href="{{ external_redirect }}" class="learn-more"></a>
                        {% elseif file is not empty %}
                          <a href="{{ file_url(file) }}" target="_blank" class="learn-more"></a>
                        {% else %}
                          <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}"></a>
                        {% endif %}
                        <div class="shared-icon">
                          {% if type == 'Video' %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ item.entity.field_video_url.value }}" data-title="{{ title }}"></div>
                          {% elseif type == 'Infographics' %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ url('<front>')|render|trim('/', 'right') ~ image_url }}" data-title="{{ title }}"></div>
                          {% elseif external_redirect is not empty %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ external_redirect }}" data-title="{{ title }}"></div>
                          {% elseif file is not empty %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ url('<front>')|render|trim('/', 'right') ~ file_url(file) }}" data-title="{{ title }}"></div>
                          {% else %}
                            <div class="addthis_inline_share_toolbox_sove" data-url="{{ url('<front>')|render|trim('/', 'right') ~ path('entity.node.canonical', {'node': item.entity.id}) }}" data-title="{{ title }}"></div>
                          {% endif %}
                        </div>
                        {% if item.entity.field_thumbnail.value  %}
                          <img src="{{ file_url(item.entity.field_thumbnail.entity.uri.value)}}" alt="{{ item.entity.field_thumbnail.alt }}">
                        {% elseif item.entity.field_image_three.value  %}
                            <img src="{{ file_url(item.entity.field_image_three.entity.uri.value)}}" alt="{{ item.entity.field_image_three.alt }}">
                        {% elseif item.entity.field_image_two.value  %}
                            <img src="{{ file_url(item.entity.field_image_two.entity.uri.value)}}" alt="{{ item.entity.field_image_two.alt }}">
                        {% else %}
                          <img src="{{ image_url }}" alt="{{ image_alt }}">
                        {% endif %}
                        {% if type == 'Video' %}
                          <div class="play-icon"></div>
                        {% endif %}
                      </div>
                      <div class="media-footer">
                        <div class="icon-box">
                          <img src="/themes/rms/templates/dist/images/svg/{{ type }}.svg" alt="{{ type }}">
                        </div>
                        <span>{{ type }}</span>
                      </div>
                    </div>
                    <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                        <h4>
                            {% autoescape false %}
                                {{ title|truncate(32, true, ' ...') }}
                            {% endautoescape %}
                        </h4>
                      {% if blurb %}
                        <p>
                          {% autoescape false %}
                            {{ blurb|striptags|truncate(55, true, '...') }}
                          {% endautoescape %}
                        </p>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endif %}

      </div>
      <div class="button-wrap">
        <span class="pre-btn"></span>
        <div class="dots-outer">
        </div>
        <span class="next-btn"></span>
      </div>
    </div>
  </section>
{% endif %}

