{% if content.field_link[0] is not empty %}
    {% set new_tab_1= content.field_target[0]|render|striptags %}
    {% set popup= content.field_popup[0]|render|striptags %}
    {% set target = '_self' %}
    {% if new_tab_1 == 'On' %}
      {% set target = '_blank' %}
    {% endif %}
    {% set anchor_class = content.field_class[0] ? content.field_class[0] : 'learn-more' %}
    {% if 'btn-transparent video-play' in anchor_class %}
    <a href="#" class="{{ anchor_class }}" data-video="{{ content.field_link[0]['#url'] }}" tabindex="0">
      <span>{{ content.field_link[0]['#title'] }}</span>
      <p style="display: none;">{{ content.field_link[0]['#title'] }}</p>
    </a>
    {% elseif popup == 'On' %}
        <a rel="prettyPhoto[gallery1]" href="{{ content.field_link[0]['#url'] }}" class="{{ anchor_class }}"><span>{{ content.field_link[0]['#title'] }}</span></a>
    {% else %}
      <a href="{{ content.field_link[0]['#url'] }}" target="{{ target }}" class="{{ anchor_class }}"><span>{{ content.field_link[0]['#title'] }}</span></a>
    {% endif %}
{% endif %}
