{% set body = content.field_blurb|render|striptags %}
{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
  {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="cta {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
  {% if content.field_background_image[0] is not empty %}
    <div class="bg-img">
      {{ content.field_background_image[0] }}
    </div>
  {% endif %}
  <div class="content-box">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-12 text-block wow fadeIn" data-wow-delay="0.4s">
          <p class="cta-headline">{{ body }}</p>
        </div>
        <div class="col-md-5 col-sm-12 button-box wow fadeIn" data-wow-delay="0.4s">
          {{ content.field_cta }}
        </div>
      </div>
    </div>
  </div>
</section>

