{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
{% set video_class = content.field_video_url[0] is not empty ? 'video-banner' : '' %}
<section class="hero-banner {{ class|join(' ') }} {{ video_class }}" id="homepage-banner">
    <div class="row col-outer position-relative wow fadeIn" data-wow-delay="0.3s">
        <div class="bg-img">
            {{ content.field_image[0] }}
        </div>
        {% if content.field_video_url[0] is not empty %}
            <div class="video-wrapper">
                <video class="agari-video" muted="muted" autoplay="autoplay" playsinline="true" poster="{{ content.field_video_poster[0]}}">
                    <source src="{{ content.field_video_url[0] }}" type="video/mp4">
                </video>
            </div>
        {% endif %}
        <div class="col-12 banner-content wow fadeIn"
             data-wow-delay="0.4s">
            <div class="container">
                <div class="row col-outer no-gutters">
                    <div class="content-outer text-left col-lg-8">
                        <h1>{{ content.field_hero_title[0] }}</h1>
                        <h5>{{ content.field_subtitle[0] }}</h5>
                        <div class="button-box">
                            {{ content.field_cta }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#<div class="location-box">#}
        {#<div class="container">#}
            {#<div class="place-location">#}
                {#<span><p>{{ content.field_location[0] }}</p></span>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
</section>