{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="body {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    <div class="container">
        {{ content.field_body[0] }}
    </div>
</section>
