{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
{% set video_url = content.field_video_url[0] %}
{% set icon_class = video_url is not empty ? 'play-icon' : '' %}
<section class="card-with-image animation-second {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    {% if content.field_background_image[0] is not empty %}
        <div class="bg-img" >
            {{ content.field_background_image[0] }}
        </div>
    {% endif %}
    <div class="container">
        <div class="pattern-animation" id="lottie2">
        </div>
        <div class="container-wrap">
            <div class="row column-wrapper no-gutters wow fadeInUp">

                <div class="col-two green-border align-left text-wrapper">
                    <h4 class="">{{ content.field_title[0] }}</h4>
                    {{ content.field_blurb[0] }}
                    <div class="button-box">
                        {{ content.field_cta }}
                    </div>
                </div>
                <div class="col-two image-box">
                    {% if content.field_image[0] is not empty %}
                        <div class="img-wrapper {{ icon_class }}">
                            <div class="top-border"></div>
                            {% if video_url is not empty %}
                              <a href="#" class="video-play" data-video="{{ video_url }}" tabindex="0">
                                <p>{{ content.field_title[0] }}</p>
                              </a>
                              {{ content.field_image[0] }}
                            {% else %}
                              {{ content.field_image[0] }}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</section>
