{% set blurb = content.field_blurb|render|striptags %}
{% if content.field_title[0] is not empty %}
<div class="side-notifictaion-btn">
    <div class="intro">
        <h6>{{ content.field_title[0] }}</h6>
    </div>
    <div class="content-block">
        <div class="top-img">
          <a href="{{ file_url(paragraph.field_background_image.entity.uri.value) }}" rel="prettyPhoto[gallery1]">{{ content.field_image[0] }}</a>
        </div>
        <div class="text-block">
            <h5>{{ content.field_subtitle[0] }}</h5>
            <p>{{ blurb }}</p>
            <a href="{{ file_url(paragraph.field_background_image.entity.uri.value) }}" rel="prettyPhoto[gallery1]" class="learn-more"><span>See Infographic</span></a>
        </div>
    </div>
</div>
{% endif %}


