{% set body = content.field_blurb|render|striptags %}
{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="banner-second-level {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    {% if content.field_background_image[0] is not empty %}
        <div class="bg-img wow fadeIn" data-wow-delay="0.3s">
            {{ content.field_background_image[0] }}
        </div>
    {% endif %}
    <div class="v-middle-wrapper wow fadeIn" data-wow-delay="0.4s">
        <div class="v-middle-inner container">
            <div class="v-middle">
                <div class="inner-text">
                    {% if content.field_hero_title[0] is not empty  %}
                        <h1>{{ content.field_hero_title[0] }}</h1>
                    {% else %}
                        <h1>{{ content.field_title[0] }}</h1>
                    {% endif %}
                    <h5>{{ body }}</h5>
                    <div class="button-box">
                        {{ content.field_cta }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if content.field_location[0] is not empty %}
    <div class="location-box">
        <div class="place-location">
            <span><p>{{ content.field_location[0] }}</p></span>
        </div>
    </div>
    {% endif %}
</section>