{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="banner-fourth {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    {% if content.field_background_image[0] is not empty %}
        <div class="bg-img wow fadeIn" data-wow-delay="0.3s">
            {{ content.field_background_image[0] }}
        </div>
    {% endif %}
    <div class="v-middle-wrapper wow fadeIn" data-wow-delay="0.4s">
        <div class="v-middle-inner container">
            <div class="v-middle">
                <div class="inner-text">
                    <h1>{{ content.field_title[0] }}</h1>
                    <h5>{{ content.field_subtitle[0] }}</h5>
                </div>
            </div>
        </div>
    </div>
</section>
