<section class="exceedance-banner " id="homepage-banner">
    <div class="row col-outer position-relative wow fadeIn" data-wow-delay="0.3s">
        <div class="bg-img">
            {{ content.field_background_image[0] }}
        </div>
        <div class="col-12 banner-content wow fadeIn"
             data-wow-delay="0.4s">
            <div class="container">
                <div class="row content-wrap col-outer no-gutters">
                    <div class="content-outer text-left col-lg-6 col-sm-12">
                        <div class="logo-bg">
                            {{ content.field_image[0] }}
                        </div>
                        <h1 class="">{{ content.field_title[0] }}</h1>
                        <div class="button-box">
                            {{ content.field_cta }}

                            {#<a href="#" class="btn-transparent"><span>Register Now</span></a>#}
                        </div>
                    </div>
                    <div class="content-outer large-text text-center col-lg-6 col-sm-12">
                        <div class="large-txt-img">
                            {{ content.field_text_image[0] }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#<div class="location-box">#}
        {#<div class="container">#}
            {#<div class="place-location">#}
                {#<span><p>Ontario, Canada</p></span>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
</section>