{% set subtitle = content.field_subtitle|render|striptags %}
<section class="new-banner" >
  <div class="bg-img wow fadeIn">
    {{ content.field_image[0] }}
  </div>
  <div class="v-middle-wrapper wow fadeIn">
    <div class="v-middle-inner container">
      <div class="v-middle">
        <div class="inner-text">
          <div class="col-two inner-content">
            <h1>{{ content.field_title[0] }}</h1>
            <h5>{{ subtitle }}</h5>
          </div>

          <div class="col-two right-block">
            <div class="slider-outer-block">

              <div class="row-wrap">
                <div class="col-box media-block">
                  {{ content.field_card_image[0] }}
                </div>

                <div class="col-box content-block">
                  <div class="logo-box">
                    {{ content.field_card_icon[0] }}
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
