<div class="violator-banner active {{ content.field_background_color[0] }}">
    <div class="container">
        <div class="content-wrap">
            {{ content.field_blurb[0] }}
            {% if 'Off' in content.field_hide_close[0] %}
                <span class="close-button"></span>
            {% endif %}
        </div>
    </div>
</div>