<section class="banner-404">
    <div class="bg-img">
        {{ content.field_image[0] }}
    </div>
    <div class="v-middle-wrapper">
        <div class="v-middle-inner container">
            <div class="v-middle">
                <div class="inner-text">
                    {{ content.field_blurb[0] }}
                    <form method="get" action="/node/2090">
                        <div class="type-text">
                            <input type="text" name="q" placeholder="Try searching for something else." required>
                            <button type="submit">
                                <div class="img-box">
                                    <img src="/themes/rms/templates/dist/images/svg/search_icon.svg" alt="search">
                                </div>
                            </button>
                        </div>
                    </form>
                    {{ content.field_body[0] }}
                </div>
            </div>
        </div>
    </div>
    <div class="location-box">
        <div class="place-location">
            <span><p>{{ content.field_location[0] }}</p></span>
        </div>
    </div>
</section>