{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="wow fadeInUp {{ class|join(' ') }}" data-wow-delay="0.3s" id="{{ content.field_section_id[0] }}">
    <div class="container">
        <div class="intro-box green-border align-center">
            {% if content.field_title[0] is not empty %}
                <h3>{{ content.field_title[0] }}</h3>
            {% endif %}
            {{ content.field_blurb[0] }}
            <div class="button-box">
                {{ content.field_cta }}
            </div>
        </div>
    </div>
</section>