<section class="card-with-features animation-first " >
    <div class="row-wrapper no-gutters">
        <div class="pattern-animation" id="lottie1">
            {#<img src="/themes/rms/templates/dist/images/svg/Grid-blue.svg" alt="green pattern">#}
        </div>
        <div class="container">
            <div class="overview-block green-border align-left wow zoomIn" data-wow-delay="0.4s">
                <div class="container">
                    <h2>Model
                        Features</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam set nonumy amet invid unt ut
                        labore et dolore sit magna aliquyam a, sed diam voluptua.</p>
                </div>
            </div>
            <div class="slider-block  wow fadeIn" data-wow-delay="0.4s">
                <div class="row">
                    <div class="col-md-6 col-sm-12 item-box">
                        <div class="icon-box">
                            <img src="/themes/rms/templates/dist/images/model-feature-icon.svg" alt="icon image">
                        </div>
                        <div class="text-block">
                            <h5>Lorem Ipsum</h5>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, un diam amet tempor eirmod
                                tempor invidunt ut labore et dolore.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 item-box">
                        <div class="icon-box">
                            <img src="/themes/rms/templates/dist/images/model-feature-icon.svg" alt="icon image">
                        </div>
                        <div class="text-block">
                            <h5>Lorem Ipsum</h5>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, un diam amet tempor eirmod
                                tempor invidunt ut labore et dolore.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 item-box">
                        <div class="icon-box">
                            <img src="/themes/rms/templates/dist/images/model-feature-icon.svg" alt="icon image">
                        </div>
                        <div class="text-block">
                            <h5>Lorem Ipsum</h5>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, un diam amet tempor eirmod
                                tempor invidunt ut labore et dolore.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 item-box">
                        <div class="icon-box">
                            <img src="/themes/rms/templates/dist/images/model-feature-icon.svg" alt="icon image">
                        </div>
                        <div class="text-block">
                            <h5>Lorem Ipsum</h5>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, un diam amet tempor eirmod
                                tempor invidunt ut labore et dolore.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
