<section class="reference-carousel model-slide wow fadeInUp" data-wow-delay="0.4s">
    <div class="container">
        <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.4s">
            <h3 class="">Learn More</h3>
        </div>
        <div class="col-wrapper">
            <div class="col-item">
                <div class="row">
                    <div class="col-md-4 col-sm-12 media-with-text">
                        <div class="content-wrap">
                            <div class="img-wrap">
                                <img src="/themes/rms/templates/dist/images/risk-sol-img.jpg" alt="risk image"/>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/svg/news_icon.svg"
                                         alt="icon image">
                                </div>
                                <span>News</span>
                            </div>
                            <h5>RMS Expands Risk Solutions for Asia-Pacific with Launch of…</h5>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12 content-block">
                        <h3>China Agricultural Model</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                            et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                            diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                            voluptua. At vero eos et accusam et justo duo sed diam nonumy eirmod tempor</p>
                    </div>
                </div>
            </div>
            <div class="col-item">
                <div class="row">
                    <div class="col-md-4 col-sm-12 media-with-text">
                        <div class="content-wrap">
                            <div class="img-wrap">
                                <img src="/themes/rms/templates/dist/images/risk-sol-img.jpg" alt="risk image"/>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/svg/news_icon.svg"
                                         alt="icon image">
                                </div>
                                <span>News</span>
                            </div>
                            <h5>RMS Expands Risk Solutions for Asia-Pacific with Launch of…</h5>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12 content-block">
                        <h3>China Agricultural Model</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                            et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                            diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                            voluptua. At vero eos et accusam et justo duo sed diam nonumy eirmod tempor</p>
                    </div>
                </div>
            </div>
            <div class="col-item">
                <div class="row">
                    <div class="col-md-4 col-sm-12 media-with-text">
                        <div class="content-wrap">
                            <div class="img-wrap">
                                <img src="/themes/rms/templates/dist/images/risk-sol-img.jpg" alt="risk image"/>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/svg/news_icon.svg"
                                         alt="icon image">
                                </div>
                                <span>News</span>
                            </div>
                            <h5>RMS Expands Risk Solutions for Asia-Pacific with Launch of…</h5>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12 content-block">
                        <h3>China Agricultural Model</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                            et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                            diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                            voluptua. At vero eos et accusam et justo duo sed diam nonumy eirmod tempor</p>{##}
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrap">
            <span class="pre-btn"></span>
            <div class="dots-outer">
            </div>
            <span class="next-btn"></span>

        </div>
    </div>
</section>