<section class="resource-with-card-slider animation-second model-resource" >
    <div class="bg-img" ></div>
    <div class="container">
        <div class="intro-block green-border align-center wow fadeInUp" data-wow-delay="0.3s">
            <h3>Validation</h3>
        </div>
        <div class="pattern-animation" data-wow-delay="0.3s" id="lottie2">
        </div>
        <div class="award-top-carousel wow fadeInUp" data-wow-delay="0.5s">

            <div class="slider-outer ">
                <div class="items ">
                    <div class="col-two media-block " >
                        <div class="img-wrapper">
                            <div class="top-border wow fadeInLeft" data-wow-delay="0.5s"></div>
                            <img src="/themes/rms/templates/dist/images/award-image.jpg" alt="award image">

                        </div>
                    </div>
                    <div class="col-two content-block wow fadeIn" data-wow-delay="0.5s">
                        <h3>Reactions 2019 North America Award for Modeler of the Year</h3>
                        <p>“On behalf of my 50,000 colleagues, it’s an honor to accept this recognition. Every day, it’s
                            a privilege to see my dedicated colleagues bring their best to our clients around the world.
                            They serve with excellence, and seek to help clients address the volatility and new
                            challenges so prevalent in today’s marketplace.”
                        </p>
                        <div class="author-box">
                            <h6>Greg Case</h6>
                            <p>Company Title</p>
                        </div>

                    </div>
                </div>
                <div class="items">
                    <div class="col-two media-block" >
                        <div class="img-wrapper">
                            <div class="top-border wow fadeInLeft" data-wow-delay="0.5s"></div>
                            <img src="/themes/rms/templates/dist/images/award-image.jpg" alt="award image">

                        </div>
                    </div>
                    <div class="col-two content-block wow fadeIn" data-wow-delay="0.5s">
                        <h3>Reactions 2019 North America Award for Modeler of the Year</h3>
                        <p>“On behalf of my 50,000 colleagues, it’s an honor to accept this recognition. Every day, it’s
                            a privilege to see my dedicated colleagues bring their best to our clients around the world.
                            They serve with excellence, and seek to help clients address the volatility and new
                            challenges so prevalent in today’s marketplace.”
                        </p>
                        <div class="author-box">
                            <h6>Greg Case</h6>
                            <p>Company Title</p>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="col-two media-block " >
                        <div class="img-wrapper">
                            <div class="top-border wow fadeInLeft" data-wow-delay="0.5s"></div>
                            <img src="/themes/rms/templates/dist/images/award-image.jpg" alt="award image">

                        </div>
                    </div>
                    <div class="col-two content-block wow fadeIn" data-wow-delay="0.5s">
                        <h3>Reactions 2019 North America Award for Modeler of the Year</h3>
                        <p>“On behalf of my 50,000 colleagues, it’s an honor to accept this recognition. Every day, it’s
                            a privilege to see my dedicated colleagues bring their best to our clients around the world.
                            They serve with excellence, and seek to help clients address the volatility and new
                            challenges so prevalent in today’s marketplace.”
                        </p>
                        <div class="author-box">
                            <h6>Greg Case</h6>
                            <p>Company Title</p>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="col-two media-block " >
                        <div class="img-wrapper">
                            <div class="top-border wow fadeInLeft" data-wow-delay="0.5s"></div>
                            <img src="/themes/rms/templates/dist/images/award-image.jpg" alt="award image">

                        </div>
                    </div>
                    <div class="col-two content-block wow fadeIn" data-wow-delay="0.5s">
                        <h3>Reactions 2019 North America Award for Modeler of the Year</h3>
                        <p>“On behalf of my 50,000 colleagues, it’s an honor to accept this recognition. Every day, it’s
                            a privilege to see my dedicated colleagues bring their best to our clients around the world.
                            They serve with excellence, and seek to help clients address the volatility and new
                            challenges so prevalent in today’s marketplace.”
                        </p>
                        <div class="author-box">
                            <h6>Greg Case</h6>
                            <p>Company Title</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="button-wrap">
                <span class="pre-btn"></span>
                <div class="dots-outer">
                </div>
                <span class="next-btn"></span>
            </div>
        </div>
    </div>
</section>