{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
  {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
{% set form_id = content.field_form_id[0] %}
<section class="content-with-form e-response wow fadeIn contact-us {{ class|join(' ') }}" data-wow-delay="0.9s"
         id="{{ content.field_section_id[0] }}">
  <div class="container">
    <div class="column-wrapper">
      <div class="col-two content-with-heading">
        {{ content.field_blurb[0] }}
      </div>

      <div class="col-two form-box">

        <div class="column-wrap wow fadeInUp" data-wow-delay="1.2s">
          <div class="green-border ">
            <h3>{{ content.field_form_title[0] }}</h3>
          </div>
          {% if form_id is not empty %}
            <form id="mktoForm_{{ form_id }}" data-form-id="{{ form_id }}"></form>
          {% else %}
            <form id="mktoForm_1280" data-form-id="1280"></form>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
  <input type="hidden" id="thank-you-message" value="{{ content.field_thankyou_message[0] }}">
</section>

