{% set blurb = content.field_blurb_two|render|striptags %}
{% if content.field_title[0] is not empty %}
    <section class="col-three-with-text ">
        <div class="container wow fadeInUp" data-wow-delay="0.5s">
            <div class="intro-box green-border align-center " >
                <h3 class="">{{ content.field_title[0] }}</h3>
                <p>{{ blurb }}</p>
            </div>
            <div class="row three-col-wrap">
                {{ content.field_overview_detail }}
            </div>
        </div>
    </section>
{% endif %}