{% for item in items %}
    {% set label, title, blurb = item.content['#node'].type.entity.label, item.content['#node'].title.value, item.content['#node'].field_blurb.value %}
    {# Model CT #}
    {% if label == 'Model and Risks' %}
      {% set icon = 'Blog' %}
    {% else %}
      {% set icon = label %}
    {% endif %}
    {% if item.content['#node'].field_image.isempty %}
        {% set image_url, image_alt = '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
    {% else %}
        {% set image_url, image_alt = item.content['#node'].field_image.entity.uri.value, item.content['#node'].field_image.entity.alt %}
    {% endif %}
    <div class="col-item">
        <div class="row">
            <div class="col-md-4 col-sm-12 media-with-text">
                <div class="content-wrap">
                    <div class="img-wrap">
                        <img src="{{ file_url(image_url) }}" alt="{{ image_alt }}"/>
                    </div>
                    <div class="media-footer">
                        <div class="icon-box">
                            <img src="/themes/rms/templates/dist/images/svg/{{ icon }}.svg" alt="{{ icon }}">
                        </div>
                        <span>{{ label }}</span>
                    </div>
                    <h5>{{ title|length > 58 ? title|slice(0, 58) ~ '...' : title }}</h5>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 content-block">
                <h3>{{ title|length > 58 ? title|slice(0, 58) ~ '...' : title }}</h3>
                <p>{{ blurb|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES')|length > 517 ? blurb|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES')|slice(0, 517) ~ '...' : blurb|striptags }}</p>
                {% if item.content['#node'].field_file.entity.uri.value is not empty %}
                    <a href="{{ file_url(item.content['#node'].field_file.entity.uri.value) }}" target="_blank" class="test2 learn-more">Read More</a>
                {% else %}
                    <a href="{{ path('entity.node.canonical', {'node': item.content['#node'].id}) }}" class="learn-more">Read More</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
