{% set blurb = content.field_blurb_five|render|striptags %}
{% if content.field_title_five[0] is not empty and content.field_slider_resource['#items']|length < 4 %}
    <section class="reference-carousel model-slide wow fadeInUp" data-wow-delay="0.4s">
        <div class="container">
            <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.4s">
                <h2>{{ content.field_title_five[0] }}</h2>
            </div>
            <div class="col-wrapper">
                {{ content.field_slider_resource }}
            </div>
            <div class="button-wrap">
                <span class="pre-btn"></span>
                <div class="dots-outer">
                </div>
                <span class="next-btn"></span>

            </div>
        </div>
    </section>
{% elseif content.field_title_five[0] is not empty %}
    <section class="col-four-with-slider animation-first">
        <div class="row-wrapper no-gutters">
            <div class="pattern-animation" id="lottie1">
                {#<img src="/themes/rms/templates/dist/images/svg/Grid-blue.svg" alt="green pattern">#}
            </div>
            <div class="overview-block green-border align-left wow zoomIn" data-wow-delay="0.5s">
                <div class="container">
                    <h2>{{ content.field_title_five[0] }}</h2>
                    <p>{{ blurb }}</p>
                </div>
            </div>
            <div class="slider-block  wow fadeIn" data-wow-delay="0.5s">
                <div class="button-wrap">
                    <span class="pre-btn"></span>
                    <div class="dots-outer">
                    </div>
                    <span class="next-btn"></span>
                </div>
                <div class="slide-outer">
                    {% for item in content.field_slider_resource['#items'] %}
                        {% set title, blurb = item.entity.title.value|e, item.entity.field_blurb.value|striptags %}
                        {% if item.entity.field_image.isempty  %}
                            {% set image_url, image_alt =  '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
                        {% else %}
                            {% set image_url, image_alt =  file_url(item.entity.field_image.entity.uri.value), item.entity.field_image.entity.alt %}
                        {% endif %}
                        <div class="item-box">
                            <div class="no-state">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/risk-modeler-icon.svg" alt="icon image">
                                </div>
                                <div class="text-block">
                                    <h3>{{ title|length > 12 ? title|slice(0, 12) ~ '...' : title }}</h3>
                                    <p>{{ blurb|length > 129 ? blurb|slice(0, 129) ~ '...' : blurb }}</p>
                                </div>
                            </div>
                            <div class="hover-state">
                                <div class="bg-img-top">
                                    <img src="{{ image_url }}" alt="{{ image_alt }}">
                                </div>
                                <div class="content-footer">
                                    <h3>{{ title|length > 12 ? title|slice(0, 9) ~ '...' : title }}</h3>
                                    <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}" class="learn-more">Learn More</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endif %}
