{% set text = content.field_blurb|render|striptags %}
<div class="content-box wow fadeIn" data-wow-delay="0.5s">
    {% if content.field_image[0] is not empty %}
        <div class="img-box">
            {{ content.field_image[0] }}
        </div>
    {% endif %}
    <div class="black-overlay wow fadeIn" data-wow-delay="0.5s">
        <p>{{ text }}</p>
    </div>
</div>