{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="image-gallery animation-second {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    <div class="bg-img"></div>
    <div class="container">
        <div class="column-wrap">
            <div class="pattern-animation" data-wow-delay="0.6s" id="lottie2">
            </div>
            <div class='col-grid wow fadeIn ' data-wow-delay="0.4s">
                {{ content.field_image_gallery_items }}
            </div>
        </div>
    </div>
</section>
