{% set body = content.field_blurb|render|striptags %}
{% if content.field_title[0] is not empty %}
  <div class="col-item">
    <div class="row">
      <div class="col-md-4 col-sm-12 media-block">
        <div class="img-box">
          {{ content.field_image[0] }}
        </div>
      </div>
      <div class="col-md-8 col-sm-12 content-block">
        <h4>{{ content.field_title[0] }}</h4>
        <p>
            {% autoescape false %}
            {{ body }}
            {% endautoescape %}
        </p>
        {% if content.field_link[0]['#title'] %}
          <div class="button-box">
            <a href="{{ content.field_link[0]['#url'] }}" class="learn-more">{{ content.field_link[0]['#title'] }}</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
