{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
  {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="reference-carousel-with-img {{ class|join(' ') }}">
  <div class="container wow fadeInUp" data-wow-delay="0.4s">
    <div class="col-wrapper">
      {{ content.field_product_carousel_items }}
    </div>
    <div class="button-wrap">
      <span class="pre-btn"></span>
      <div class="dots-outer">
      </div>
      <span class="next-btn"></span>

    </div>
  </div>
</section>
