{% set image = content.field_image_two[0] %}
{% set text = node.title.value %}
<div class="items">
    <div class="row-wrap">
        {% if image is not empty %}
            <div class="col-box media-block">
                {{ image }}
            </div>
        {% endif %}
        {% if image is empty %}
            <div class="col-box media-block">
                <img src="/themes/rms/templates/assets/images/blog-generic.jpg" alt="blog">
            </div>
        {% endif %}
        <div class="col-box content-block">
            <div class="resource-block">
                <div class="icon-box">
                    <img src="/themes/rms/templates/dist/images/svg/Blog.svg" alt="icon">
                </div>
                <span>Blog</span>
            </div>
            <div class="date-block">
                <p>{{ node.createdtime|date('F d, Y') }}</p>
            </div>
            <h5>{{ text|truncate(66, true, '...') }}</h5>
            <div class="button-block">
                <a href="{{ url }}" class="learn-more">Read More</a>
            </div>
        </div>
    </div>
</div>
