{% set body = content.field_blurb|render|striptags %}
{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="banner-with-carousel wow fadeIn {{ class|join(' ') }}" data-wow-delay="0.4s" id="{{ content.field_section_id[0] }}">
    <div class="bg-img wow fadeIn" data-wow-delay="0.5s">
        {{ content.field_background_image[0] }}
    </div>
    <div class="row-wrapper">
        <div class="container">
            <div class="col-two inner-content">
                <h1>{{ content.field_title[0] }}</h1>
                <h5>{{ body }}</h5>
            </div>
            <div class="col-two right-block">
                <div class="slider-outer-block">
                    {{ content.field_reference_blog }}
                </div>
            </div>
        </div>
    </div>
    <div class="location-box">
        <div class="place-location">
            <span><p>{{ content.field_location[0] }}</p></span>
        </div>
    </div>
</section>
