{% set location_class =  content.field_marker_location%}
{% if content.field_title[0] is not empty %}
<div class="place-pin wow fadeIn {{ location_class }}" data-wow-delay="0.2s">
    <div class="wrapper-box">
        <p>{{ content.field_title[0] }}</p>
        <span>
            <div class="content-box">
                {% if content.field_image[0] is not empty %}
                    <div class="img-box">
                        {{ content.field_image[0] }}
                    </div>
                    <div class="content-text">
                        <h6>{{ content.field_subtitle[0] }}</h6>
                        {{ content.field_blurb[0] }}
                    </div>
                {% else %}
                    <h6>{{ content.field_subtitle[0] }}</h6>
                    {{ content.field_blurb[0] }}
                {% endif  %}
            </div>
        </span>
    </div>
</div>
{% endif %}
