{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="location-map-box  {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    <div class="container">
        <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.4s">
            <h3 class="">{{ content.field_title[0] }}</h3>
            {{ content.field_blurb[0] }}
        </div>
        <div class="map-block">
            <div class="img-box wow fadeIn" data-wow-delay="0.5s">
                <img src="/themes/rms/templates/dist/images/contact_locations_map.svg" alt="map image">
                {{ content.field_location_map_items }}
            </div>
        </div>
    </div>
</section>