{% set title = content.field_title|render|striptags %}
{% set body = content.field_blurb|render|striptags %}
{% set len = content.field_blurb|render|striptags|length  %}
{#
{% //set less_content = '' %}
{% //if len >  200 %}
    {% //set less_content = '' %}
{% //elseif len < 200 %}
    {% //set less_content = 'no-read-more' %}
{% ///endif %}
#}
<div class=" col-wrapper ">
    <div class="content-wrap">
        <span class="close-btn"><img src="/themes/rms/templates/dist/images/svg/close-icon.svg" alt="clode icon"></span>
        <div class="text-outer">
            <h3>{{ title }}</h3>
            <p>{{ body }} </p>
        </div>
        <div class="open-close-link">
            <span class="open-link">Read More</span>
            <span class="close-link">Read Less</span>
        </div>

    </div>
</div>