{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="feature-grid  {{ class|join(' ') }}">
    <div class="bg-img">{{ content.field_background_image[0] }}
    </div>

    <div class="container">
        <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.4s">
            <h2>{{ content.field_title[0] }}</h2>
        </div>
        <div class="column-wrap">
            <div class=" outer-wrapper wow fadeInUp" data-wow-delay="0.57s">
                {{ content.field_feature_grid_items }}
            </div>
        </div>

    </div>
</section>
