{% for item in items %}
    {% set label, blurb = item.content['#node'].title.value, item.content['#node'].field_blurb.value %}
    {% if item.content['#node'].field_image.isempty %}
        {% set image_url, image_alt = '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
    {% else %}
        {% set image_url, image_alt = item.content['#node'].field_image.entity.uri.value, item.content['#node'].field_image.entity.alt %}
    {% endif %}
    <div class="col-lg-4 col-md-6 content-box wow fadeInUp" data-wow-delay="0.4s">
        <div class="bg-img">
            <img src="{{ file_url(image_url) }}" alt="{{ image_alt }}">
        </div>
        <div class="blue-overlay wow fadeInUp" data-wow-delay="0.4s">
            <div class="icon">
                <img src="/themes/rms/templates/dist/images/risk-modeler-icon.svg" alt="Icon">
            </div>
            {% if item.content['#node'].field_title_model.value  is not empty %}
                <h3>{{ item.content['#node'].field_title_model.value }}</h3>
                <p>{{ item.content['#node'].field_blurb_model.value|striptags|length > 176 ? item.content['#node'].field_blurb_model.value|striptags|slice(0, 176) ~ '...' : item.content['#node'].field_blurb_model.value|striptags }}</p>
            {% else %}
                <h3>{{ label }}</h3>
                <p>{{ blurb|striptags|length > 176 ? blurb|striptags|slice(0, 176) ~ '...' : blurb|striptags }}</p>
            {% endif %}
            <div class="button-box ">
                <a href="{{ path('entity.node.canonical', {'node': item.content['#node'].id}) }}" class="learn-more ">Learn More</a>
            </div>
        </div>
    </div>
{% endfor %}
