  <section class="insight-with-progress animation-five " >
  <div class="bg-img">
  <img src="/themes/rms/templates/dist/images/nathan-anderson-PB-14uh_lyg-unsplash.png" alt="bg-image">
  </div>
  <div class="container">
  <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.3s">
    <h3 class="">Infographic about RMS Data</h3>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua, at vero eos et et.</p>
  </div>
      <div class="content-box">
        <div class="pattern-animation" id="lottie5">
        </div>
            <div class="row column-wrapper no-gutters wow fadeInLeft" data-wow-delay="0.5s">
                    <h3>Categories of Data Products and The Value of their Insights</h3>
                    <div class="cover-item">

                      <div class="text-after we-items wow fadeInLeft" data-wow-delay="0.6s">
                        <div class="top-heading">
                          <h6>Corresponding RMS Data Product</h6>
                        </div>
                        <div class="items">
                          <h6>Instant insight provided</h6>
                        </div>
                      </div>

                      <div class="col-lg-2 light-green we-items hass-arrow wow fadeInLeft" data-wow-delay="0.8s">
                        <div class="top-heading">
                          <h5>Geocoding</h5>
                        </div>
                        <div class="items ">
                          <p>Where is the risk located?</p>
                        </div>
                        <span class="left-arrow"></span>
                        <span class="center-arrow"></span>
                        <span class="right-arrow"></span>
                      </div>

                      <div class="col-lg-2 green we-items hass-arrow wow fadeInLeft" data-wow-delay="1s">
                        <div class="top-heading">
                          <h5>Exposure Data</h5>
                        </div>
                        <div class="items ">
                          <p>What are its key attributes?</p>
                        </div>
                        <span class="left-arrow"></span>
                        <span class="center-arrow"></span>
                        <span class="right-arrow"></span>
                      </div>

                      <div class="col-lg-2 dark-green we-items hass-arrow wow fadeInLeft" data-wow-delay="1.2s">
                        <div class="top-heading">
                          <h5>Hazard</h5>
                        </div>
                        <div class="items">
                          <p>Does this submission comply with my risk appetite?</p>
                        </div>
                        <span class="left-arrow"></span>
                        <span class="center-arrow"></span>
                        <span class="right-arrow"></span>
                      </div>

                      <div class="col-lg-2 extra-dark-red we-items hass-arrow wow fadeInLeft" data-wow-delay="1.4s">
                        <div class="top-heading">
                          <h5>Risk Scores</h5>
                        </div>
                        <div class="items">
                          <p>Which are my best submissions?</p>
                        </div>
                        <span class="left-arrow"></span>
                        <span class="center-arrow"></span>
                        <span class="right-arrow"></span>
                      </div>

                      <div class="col-lg-2 dark-orange we-items hass-arrow wow fadeInLeft" data-wow-delay="1.6s">
                        <div class="top-heading">
                          <h5>Loss Costs</h5>
                        </div>
                        <div class="items">
                          <p>Is premium adequate to cover the risk?</p>
                        </div>
                        <span class="left-arrow"></span>
                        <span class="center-arrow"></span>
                        <span class="right-arrow"></span>
                      </div>

                    </div>

              <div class="cover-col-outer">
                <div class="col-outer wow fadeInLeft" data-wow-delay="1.8s">
                  <p>Value of insight</p>
                  <span class="right-arrow"></span>
                </div>
              </div>

             </div>

       </div>
  </div>

  </section>
