<section class="news-slider animation-four data-landing-new-slider">
    <div class="container">
        <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.5s">
            <h3>Resources</h3>
        </div>

        <div class="slider-block">
            <div class="item diff">
                <div class="media-block">
                    <a href="#"></a>
                    <div class="pattern-animation" id="lottie4">
                    </div>
                    <div class="media-top-wrap wow fadeInUp" data-wow-delay="0.7s">
                        <div class="img-box">
                            <img src="/themes/rms/templates/dist/images/underwriting.png" alt="underwriting image">
                            <div class="shared-icon">
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/facebook-share.svg" alt="facebook icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/linkedin-share.svg" alt="LinkedIn icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/twitter-share.svg" alt="Twitter icon">
                                </a>
                            </div>
                        </div>
                        <div class="media-footer">
                            <div class="icon-box">
                                <img src="/themes/rms/templates/dist/images/svg/report.svg" alt="icon play">
                            </div>
                            <span>Report</span>
                        </div>
                    </div>
                    <div class="content-box wow fadeInUp" data-wow-delay="0.9s">
                        <h3>RMS Data for Underwriting </h3>
                        <p class="small-text"> Instant Peril Insights on Every Submission</p>
                        <p>Carriers increasingly need a more accurate and diferentiated understanding
                            of risk and exposure. They want to write better risks, reduce underwriting frictional
                            expense, and build consistency within their portfolios. RMS® Data for Underwriting is a
                            rapidly expanding suite of data delivered instantly at...</p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="resources-block">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                                <img src="/themes/rms/templates/dist/images/wepage-image.png"
                                     alt="bitmap image">
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/svg/webpage.svg"
                                         alt="icon play">
                                </div>
                                <span>WebPage</span>
                            </div>
                        </div>
                        <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                            <h3>New RMS Data Solutions Deliver Real-Time, Site…</h3>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                                <img src="/themes/rms/templates/dist/images/vision.png" alt="bitmap image">
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/svg/news_icon.svg"
                                         alt="icon play">
                                </div>
                                <span>News</span>
                            </div>
                        </div>
                        <div class="content-block wow fadeInUp" data-wow-delay="0.9s">
                            <h3>Underwriting with 20/20 Vision
                            </h3>
                        </div>
                    </div>
                </div>
            </div>


            <div class="item">
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg"
                                     alt="bitmap image">
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/news-resource-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>News</span>
                            </div>
                        </div>
                        <div class="content-block wow fadeInUp" data-wow-delay="0.9s">
                            <h3>New U.S. Wildfire HD Model</h3>
                            <p>The Most Comprehensive</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                                <img src="/themes/rms/templates/dist/images/event-reaction-img.jpg" alt="bitmap image">
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/event-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Event</span>
                            </div>
                        </div>
                        <div class="content-block wow fadeInUp" data-wow-delay="0.9s">
                            <h3>Reactions North America</h3>
                            <p>This one-day event will examine.</p>
                        </div>
                    </div>
                </div>
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg"
                                     alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/event-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Event</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>U.S. Flood Risk</h3>
                            <p>Identifying Floodwater Sources</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>Post-Exceedance Website Live</h3>
                            <p>Stay Informed with News, Videos, Updates, Photos…</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/infogrph-card-img.jpg"
                                     alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>U.S. Flood Risk</h3>
                            <p>Identifying Floodwater Sources</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>Post-Exceedance Website Live</h3>
                            <p>Stay Informed with News, Videos, Updates, Photos…</p>
                        </div>
                    </div>
                </div>
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/infogrph-card-img.jpg"
                                     alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>U.S. Flood Risk</h3>
                            <p>Identifying Floodwater Sources</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>Post-Exceedance Website Live</h3>
                            <p>Stay Informed with News, Videos, Updates, Photos…</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/infogrph-card-img.jpg"
                                     alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>U.S. Flood Risk</h3>
                            <p>Identifying Floodwater Sources</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>Post-Exceedance Website Live</h3>
                            <p>Stay Informed with News, Videos, Updates, Photos…</p>
                        </div>
                    </div>
                </div>
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/infogrph-card-img.jpg"
                                     alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>U.S. Flood Risk</h3>
                            <p>Identifying Floodwater Sources</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>Post-Exceedance Website Live</h3>
                            <p>Stay Informed with News, Videos, Updates, Photos…</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrap">
            <span class="pre-btn"></span>
            <div class="dots-outer">
            </div>
            <span class="next-btn"></span>
        </div>
    </div>
</section>