<section class="three-col-image bg-grey">
  <div class="container">
    <div class="row three-col-wrap">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 content-column">
        <div class="image wow fadeIn" data-wow-delay="0.5s">
          <img src="/themes/rms/templates/dist/images/COVID-19-LeadingAnalytics.jpg" alt="leading analytics">
        </div>
        <div class="text-wrap wow fadeInUp" data-wow-delay="0.8s">
          <h4>Leading Analytics</h4>
          <p>Our pandemic experts have created a view of daily and
            cumulated projections for COVID-19 cases, hospitalizations,
            and deaths.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 content-column">
        <div class="image wow fadeIn" data-wow-delay="0.5s">
          <img src="/themes/rms/templates/dist/images/COVID-19-ProjectionPeriod.jpg" alt="Projection Period">
        </div>
        <div class="text-wrap wow fadeInUp" data-wow-delay="0.8s">
        <h4>Meaningful Projection Period</h4>
        <p> A projection period covering 3 to 6 months provides meaningful
          input that can drive decision-making.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 content-column">
        <div class="image wow fadeIn" data-wow-delay="0.5s">
          <img src="/themes/rms/templates/dist/images/COVID-19-VariableManagement.jpg" alt="Variable Management">
        </div>
        <div class="text-wrap wow fadeInUp" data-wow-delay="0.8s">
        <h4>Variable Management</h4>
        <p>Projections are provided with a confidence interval and
          multiple outlooks to help manage uncertainty.</p>
        </div>
      </div>
    </div>
  </div>
</section>
