/* Jobvite CSS*/
/*@import "themes/rms/templates/assets/styles/common/_variables.scss";*/
/* GLOBAL ELEMENTS */
.jv-button{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    padding: 11px 27px 11px 30px;
}
.jv-button-primary:hover {
    background-image: none;
    border-color:  #9b001d;
    background-color:#9b001d;;
    color: white;
}
.jv-page-jobs h2 {
    font-size: 26px;
    font-weight: 400;
    font-family:'Inter semiB', sans-serif;
}
h3.h2{
    font-size:18px;
}
.jv-search-form .jv-form-field-label{
    font-size: 14px;
    line-height: 1.75;
    letter-spacing: 0.16px;
    font-weight:400;
    font-family:"Gotham A", sans-serif;
}
select#jv-search-category{
    outline: 0;
}

td.jv-job-list-name, .jv-job-list .jv-job-list-location {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.16px;
    font-weight:400;
    font-family:"Gotham A", sans-serif;
}
@media only screen and (max-width:991px){
    td.jv-job-list-name, .jv-job-list .jv-job-list-location {
        padding-bottom:8px;
    }
    .jv-search-form{
        margin: 20px 0;
    }
    .jv-job-list{
        margin-bottom: 20px;
    }
    .jv-page-jobs h2{
        font-size: 22px;
    }
    td.jv-job-list-name, .jv-job-list .jv-job-list-location, .jv-job-detail-meta, .jv-job-detail-description p, .jv-job-detail-description ul li,.multiLine{
        font-size: 16px;
    }
    h3.h2{
        font-size:16px;
    }
}
@media only screen and (max-width:767px){
    .jv-search-form .jv-form-field-label, .jv-form .jv-form-field .jv-form-field-control, .jv-button-primary{
        margin-bottom:10px;
    }
    .jv-page-jobs h2{
        font-size: 20px;
    }
}
@media only screen and (max-width:480px){
    .jv-form-field-select{
        margin-right:0;
    }
    select#jv-search-category{
        width: 100%;
        min-width: 100%;
    }
}
td.jv-job-list-name a:hover{
    color:#00b7c6;
    transition: all 0.3s ease;
}

.jv-notify p{
    font-size: 14px;
}
.jv-notify p a:hover{
    color:#00b7c6;
    transition: all 0.3s ease;
}

.jv-wrapper .jv-job-detail-location .jv-icon-primary, .jv-wrapper .jv-job-detail-bottom-actions .jv-current-openings a, .jv-job-detail-description p a{
    color: #9b001d;
}
.jv-wrapper .jv-job-detail-top-actions .jv-button-primary, .jv-wrapper .jv-job-detail-bottom-actions  .jv-button-primary{
    background-color: #9b001d;
    border-color: #9b001d;
}
.jv-job-detail-meta{
    font-size: 16px;
}
.jv-job-detail-description p{
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.16px;
    font-weight: normal;
    font-family: "Gotham A", sans-serif;
}
.jv-job-detail-description ul li{
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.16px;
    font-weight: normal;
    font-family: "Gotham A", sans-serif;
}
.multiLine{
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.16px;
    font-weight: normal;
    font-family: "Gotham A", sans-serif;
}

.jv-page-header{
    background-color:#9b001d;
}
.jv-page-header h1{
    white-space: normal;
}
.jv-page-header h1{
  white-space: normal;
}
.jv-tabs{
    background:#9b001d;
}

.jv-job-categories .jv-job-category .jv-job-category-link .jv-job-category-label{
    color:#9b001d;
}
.jv-job-categories .jv-job-category .jv-job-category-link .jv-list-icon{
    color:#9b001d;
}
.jv-job-categories .jv-job-category .jv-job-list .jv-job-list-inner, .jv-page .jv-nav{
    background:#9b001d;
}

.jv-page-body .jv-job-list-pane .jv-wrapper p a{
    color:#9b001d;
}

.jv-page-content .jv-page-header .icon-menu-flyout:after{
    /*border-color: transparent transparent #9b001d;*/
    background: #9b001d;
}

.jv-tabs li a:after{
    border-color: transparent transparent #9b001d;
    background: #9b001d;
}

.jv-tab-active:before {
    border-top: 10px solid #9b001d;
}

.jv-logo:after {
    background: linear-gradient(left, rgba(0,0,0,0), #9B001D 0);
    background: -owg-linear-gradient(left, rgba(0,0,0,0), #9B001D 0);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0), #9B001D 0);
    background: -moz-linear-gradient(left, rgba(0,0,0,0), #9B001D 0);
    background: -o-linear-gradient(left, rgba(0,0,0,0), #9B001D 0);
}

