{% include directory ~ '/templates/events/part/banner-third-level.html.twig' %}
{% include directory ~ '/templates/events/part/image-with-text.html.twig' %}
{% include directory ~ '/templates/events/part/col-two.html.twig' %}
{% include directory ~ '/templates/events/part/leadership-grid.html.twig' %}
{% include directory ~ '/templates/events/part/col-four-with-slider.html.twig' %}
{% include directory ~ '/templates/events/part/rms-form-event.html.twig' %}