{% set body = content.field_blurb|render|striptags %}
{% if content.field_title[0] is not empty %}
  <div class="card">
    <div class="img-box">
      {{ content.field_image[0] }}
    </div>
    <div class="content-btn">
      <h6>{{ content.field_title[0] }}</h6>
      <p>{{ body|truncate(30, true, '...') }}</p>
      <div class="button-box">
        <a href="{{ content.field_static_link[0] }}" class="learn-more">Read More</a>
      </div>
    </div>
  </div>
{% endif %}
