<section class="event-response-grid ">
    <div class="container">
        <div class="column-wrapper">
            <div class="filter-outer wow fadeInUp" data-wow-delay="0.5s">
                <div class="text-wrap">
                    <p>Filter by:</p>
                </div>
                <div class="select-outer">
                    {# <div class="select-plugin">
                        <select class="Month">
                            <option value="all">Month</option>
                        </select>
                    </div>
                    <div class="select-plugin">
                        <select class="Year">
                            <option value="all">Year</option>
                        </select>
                    </div> #}
                    <div class="select-plugin">
                        <select class="Region">
                            <option value="all">Region</option>
                        </select>
                    </div>
                    <div class="select-plugin">
                        <select class="Catastrophe">
                            <option value="all">Type of Catastrophe</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="column-wrap cover-two-col">
                <div class="col-two card-grid wow fadeInUp" data-wow-delay="0.5s">
                    <div class="grid">

                    </div>
                    <div class="button-box">
                        <a href="#" class="btn-white event-load"><span>Load More</span></a>
                    </div>
                </div>
                <div class="col-two menu-item wow fadeInUp" data-wow-delay="0.8s">
                    <div class="cover-right-content">
                        <div class="subscribe-box">
                            <h6>{{ content.field_title[0] }}</h6>
                            <p>{{ content.field_blurb|render|striptags }}</p>
                            <div class="button-box">
                                {{ content.field_cta[0] }}
                            </div>
                        </div>
                        <div class="card-with-blog">
                            <h6>{{ content.field_title_two[0] }}</h6>

                            {{ content.field_event_response_products }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</section>
