<section class="banner-second-level blog-landing-banner" >
    <div class="column-wrapper">
        <div class="slider">
            <div class="cover-slider item">
                <div class="bg-img wow fadeIn" data-wow-delay="0.3s">
                    <img src="/themes/rms/templates/dist/images/banner-blog-landing.png" alt="model banner">
                </div>
                <div class="v-middle-wrapper wow fadeIn"  data-wow-delay="0.4s" >
                    <div class="v-middle-inner container">
                        <div class="v-middle">
                            <div class="inner-text">
                                <h1>U.S. Wildfire:<br>
                                    Mitigation Really Matters</h1>
                                <h5>It has been a year since the deadliest and most destructive wildfire in California’s history. </h5>
                                <div class="button-box">
                                    <a href="#" class="btn-red"><span>Read Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cover-slider item">
                <div class="bg-img wow fadeIn" data-wow-delay="0.3s">
                    <img src="/themes/rms/templates/dist/images/contact-banner.jpg" alt="model banner">
                </div>
                <div class="v-middle-wrapper wow fadeIn"  data-wow-delay="0.4s" >
                    <div class="v-middle-inner container">
                        <div class="v-middle">
                            <div class="inner-text">
                                <h1>U.S. Wildfire:<br>
                                    Mitigation Really Matters</h1>
                                <h5>It has been a year since the deadliest and most destructive wildfire in California’s history. </h5>
                                <div class="button-box">
                                    <a href="#" class="btn-red"><span>Read Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cover-slider item">
                <div class="bg-img wow fadeIn" data-wow-delay="0.3s">
                    <img src="/themes/rms/templates/dist/images/banner-news-detail.png" alt="model banner">
                </div>
                <div class="v-middle-wrapper wow fadeIn"  data-wow-delay="0.4s" >
                    <div class="v-middle-inner container">
                        <div class="v-middle">
                            <div class="inner-text">
                                <h1>U.S. Wildfire:<br>
                                    Mitigation Really Matters</h1>
                                <h5>It has been a year since the deadliest and most destructive wildfire in California’s history. </h5>
                                <div class="button-box">
                                    <a href="#" class="btn-red"><span>Read Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cover-slider item">
                <div class="bg-img wow fadeIn" data-wow-delay="0.3s">
                    <img src="/themes/rms/templates/dist/images/banner-career.png" alt="model banner">
                </div>
                <div class="v-middle-wrapper wow fadeIn"  data-wow-delay="0.4s" >
                    <div class="v-middle-inner container">
                        <div class="v-middle">
                            <div class="inner-text">
                                <h1>U.S. Wildfire:<br>
                                    Mitigation Really Matters</h1>
                                <h5>It has been a year since the deadliest and most destructive wildfire in California’s history. </h5>
                                <div class="button-box">
                                    <a href="#" class="btn-red"><span>Read Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrap">
            <span class="pre-btn"></span>
            <div class="dots-outer">
            </div>
            <span class="next-btn"></span>
        </div>
    </div>


</section>
