{% include directory ~ '/templates/solution/part/banner-fourth-level.html.twig' %}
{% include directory ~ '/templates/solution/part/col-three-with-text/col-three-with-text.html.twig' %}
{% include directory ~ '/templates/solution/part/col-four-with-slider/col-four-with-slider.html.twig' %}
{% include directory ~ '/templates/solution/part/resource-with-card.html.twig' %}
{% include directory ~ '/templates/solution/part/col-three-with-image/col-three-with-image.html.twig' %}
{% include directory ~ '/templates/solution/part/reference-carousel/reference-carousel.html.twig' %}
{% include directory ~ '/templates/solution/part/image-with-text-slider/image-with-text-slider.html.twig' %}
