<section class="banner-third-level banner-news-detail banner-with-out-image banner-blog-list">
    <div class="bg-img wow fadeIn" data-wow-delay="0.3s">
        {#<img src="/themes/rms/templates/dist/images/Repeat-Grid.png" alt="News detail Alt banner">#}
    </div>
    <div class="v-middle-wrapper wow fadeIn"
         data-wow-delay="0.4s">
        <div class="v-middle-inner container">
            <div class="v-middle">
                <div class="inner-text">
                    <h1>Blog List</h1>
                    <h5>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</h5>
                </div>
            </div>
        </div>
    </div>
</section>
