<section class="blog-grid blog-list-cards heading-margin wow fadeIn" data-wow-delay="0.5s">
  <div class="container">
    <div class="column-wrapper">
      <div class="filter-oldest-news">
        <span class="date-filter">2019</span>
      </div>

      <div class="column-wrap cover-two-col">

        <div class="col-two card-grid upper-card">
          <div class="filter-outer filter-with-search">
            <div class="set-position">
              <div class="text-wrap">
                <p>Sort by:</p>
              </div>

              <div class="select-outer">
                <div class="select-plugin">
                  <select class="Month">
                    <option value="Month">Oldest to Newest</option>
                  </select>
                </div>

                <div class="select-plugin none-arrow">
                  {#<span class="search-box">#}
                  {#<img src="/themes/rms/templates/dist/images/search-icon.svg" alt="search icon">#}
                  {#</span>#}
                  <div class="search">
                    <form action="" class="fixed-position">
                      <input type="text" placeholder="Search" name="search" value="">
                      <div class="close">
                        <span class="front"></span>
                        <span class="back"></span>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="heading-month">
            <h6>January</h6>
          </div>

          <div class="grid">
            <div class="box">
              <div class="card card-with-img">

                <div class="img-top">
                  <a href="#"></a>
                  <img src="/themes/rms/templates/dist/images/police.png" alt="image">
                </div>
                <div class="card-body">
                  <h4><a href="#"></a>
                    Crossing the Terrorism
                    Casualty Protection Gap</h4>
                  <div class="auther-info">
                    <div class="auther"><img src="/themes/rms/templates/dist/images/robert-muir.png" alt="icon auther">
                    </div>

                    <div class="author-detail">
                      <span>Robert Muir-Wood</span>
                      <span class="date">November 19, 2019</span>
                    </div>
                  </div>
                  <p>The victims of the Las Vegas shooter
                    Stephen Paddock, the injured and the
                    dependents of the 57 who died have
                    one comfort following their tragic…</p>
                  <ul class="">
                    <li>#terrorisminsurance</li>
                    <li>#hacktivism</li>
                  </ul>
                </div>

              </div>
            </div>

            <div class="box">
              <div class="card card-with-img">
                <div class="img-top">
                  <a href="#"></a>
                  <img src="/themes/rms/templates/dist/images/risk.png" alt="image">
                </div>
                <div class="card-body">
                  <h4>
                    <a href="#"></a>Cyberterrorism: A Risk
                    Assessment</h4>
                  <div class="auther-info">
                    <div class="auther"><img src="/themes/rms/templates/dist/images/weimeng-yeo.png" alt="icon auther">
                    </div>

                    <div class="author-detail">
                      <span>Weimeng Yeo</span>
                      <span class="date">November 10, 2019</span>
                    </div>
                  </div>
                  <p>Technological advances in communications, computing and computer networks are exposing new
                    vulnerabilities that terrorist groups can…</p>
                  <ul class="">
                    <li>#cyberterrorism</li>
                    <li>#hacktivism</li>
                  </ul>
                </div>

              </div>
            </div>


            <div class="box">
              <div class="card small-card">
                {#<div class="img-top">#}
                {#<img src="/themes/rms/templates/dist/images/police.png" alt="image">#}
                {#</div>#}
                <div class="card-body">
                  <h4><a href="#"></a>Did Ridgecrest Increase the Chances of a Large Seismic Event?</h4>
                  <div class="auther-info">
                    <div class="auther"><img src="/themes/rms/templates/dist/images/marleen-nyst.png" alt="icon auther">
                    </div>

                    <div class="author-detail">
                      <span>Marleen Nyst</span>
                      <span class="date">November 15, 2019</span>
                    </div>
                  </div>
                  <p>Interest in the 160-mile-long Garlock Fault, the second-largest fault in California, has been
                    piqued recently after a Los Angeles Times article about</p>
                  <ul class="">
                    <li>#Ridgecrest Earthquake</li>
                    <li>#sciencemagazine</li>
                    <li>#underwitingmanagment</li>
                  </ul>
                </div>

              </div>
            </div>


            <div class="box">
              <div class="card card-with-img">
                <div class="img-top">
                  <a href="#"></a>
                  <img src="/themes/rms/templates/dist/images/earth.png" alt="image">
                </div>
                <div class="card-body">
                  <h4><a href="#"></a>U.S. Wildfire: Mitigation
                    Really Matters</h4>
                  <div class="auther-info">
                    <div class="auther"><img src="/themes/rms/templates/dist/images/author-full-width.png"
                                             alt="icon auther"></div>

                    <div class="author-detail">
                      <span>Michael Young</span>
                      <span class="date">November 8, 2019</span>
                    </div>
                  </div>
                  <p>It has been a year since the deadliest and most destructive wildfire in California’s history. </p>
                  <ul class="">
                    <li>#californiawildfire</li>
                    <li>#CampFire</li>
                    <li>#wildfires</li>
                    <li>#RMS-United States-Wildfire-HD-Model</li>
                  </ul>
                </div>

              </div>
            </div>

          </div>

          <div class="heading-month boder-top">
            <h6>February</h6>
          </div>

          <div class="grid">

            <div class="box">
              <div class="card small-card">
                {#<div class="img-top">#}
                {#<img src="/themes/rms/templates/dist/images/police.png" alt="image">#}
                {#</div>#}
                <div class="card-body">
                  <h4><a href="#"></a>Cyber Risk Under the Spotlight: RMS and NetDiligence</h4>
                  <div class="auther-info">
                    <div class="auther"><img src="/themes/rms/templates/dist/images/without-image.png"
                                             alt="icon auther"></div>

                    <div class="author-detail">
                      <span>Devonne Cusi</span>
                      <span class="date">October 30, 2019</span>
                    </div>
                  </div>
                  <p>The Twitterverse got its chance to pose cyber risk questions to a panel of distinguished experts at
                    the NetDiligence® Cyber Risk Summit in….</p>
                  <ul class="">
                    <li>#cyberterrorism</li>
                    <li>#hacktivism</li>
                    <li>#underwitingmanagment</li>
                  </ul>
                </div>

              </div>
            </div>


            <div class="box">
              <div class="card card-with-img">
                <div class="img-top">
                  <a href="#"></a>
                  <img src="/themes/rms/templates/dist/images/location-card.png" alt="image">
                </div>
                <div class="card-body">
                  <h4><a href="#"></a>SiteIQ: More Power and
                    Control for Your Underwriters</h4>
                  <div class="auther-info">
                    <div class="auther">
                      <img src="/themes/rms/templates/dist/images/shaheen-razzaq.png" alt="icon auther">
                    </div>

                    <div class="author-detail">
                      <span>Shaheen Razzaq</span>
                      <span class="date">October 29, 2019</span>
                    </div>
                  </div>
                  <p>If on-the-ground underwriters can get risk insight instantly – and can make a quick check simply by
                    entering a location rather than waiting for a risk…</p>
                  <ul class="">
                    <li>#SiteIQ</li>
                    <li>#underwitingmanagment</li>
                  </ul>
                </div>
              </div>
            </div>


          </div>


          <div class="button-box">
            <a href="#" class="btn-white"><span>Load More</span></a>
          </div>

        </div>


        <div class="col-two menu-item">

          <div class="cover-right-content">

            <div class="icon-wrapper">
              <a class="icon-box">
                {#<img src="/themes/rms/templates/dist/images/facebook-logo.svg" alt="facebook logo">#}
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                  <defs>
                    <clipPath id="clip-path">
                      <path id="Rectangle_2900" d="M0 0h16v16H0z" class="cls-1" data-name="Rectangle 2900"
                            transform="translate(102 5906)"/>
                    </clipPath>
                  </defs>
                  <g id="Group_5272" data-name="Group 5272" transform="translate(-102 -5906)">
                    <path id="Rectangle_2897" d="M0 0h30v30H0z" class="cls-2" data-name="Rectangle 2897"
                          transform="translate(102 5906)"/>
                    <g id="Mask_Group_9" class="cls-3" data-name="Mask Group 9" transform="translate(7 7)">
                      <g id="_002-facebook-logo" data-name="002-facebook-logo"
                         transform="translate(105.675 5906)">
                        <path id="Path_7285"
                              d="M15.215 0H13.14A3.644 3.644 0 0 0 9.3 3.938v1.815H7.216a.326.326 0 0 0-.326.326V8.71a.326.326 0 0 0 .326.326H9.3v6.637a.326.326 0 0 0 .329.327h2.722a.326.326 0 0 0 .326-.326V9.036h2.439a.326.326 0 0 0 .326-.326V6.08a.326.326 0 0 0-.326-.326h-2.44v-1.54c0-.74.176-1.115 1.14-1.115h1.4a.326.326 0 0 0 .326-.326V.33a.326.326 0 0 0-.327-.33z"
                              class="cls-1" data-name="Path 7285" transform="translate(-6.89)"/>
                      </g>
                    </g>
                  </g>
                </svg>

              </a>
              <a class="icon-box">
                {#<img src="/themes/rms/templates/dist/images/linkedin-logo.svg" alt="linkedIn logo">#}
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                  <defs>
                    <clipPath id="clip-path">
                      <path id="Rectangle_2901" d="M0 0h16v16H0z" class="cls-1" data-name="Rectangle 2901"
                            transform="translate(144 5906)"/>
                    </clipPath>
                  </defs>
                  <g id="Group_5271" data-name="Group 5271" transform="translate(-144 -5906)">
                    <path id="Rectangle_2898" d="M0 0h30v30H0z" class="cls-2" data-name="Rectangle 2898"
                          transform="translate(144 5906)"/>
                    <g id="Mask_Group_10" class="cls-3" data-name="Mask Group 10"
                       transform="translate(7 6)">
                      <g id="_001-linkedin-letters" data-name="001-linkedin-letters"
                         transform="translate(144 5906.355)">
                        <g id="Group_5269" data-name="Group 5269">
                          <path id="Rectangle_2903" d="M0 0h3.437v10.323H0z" class="cls-1"
                                data-name="Rectangle 2903" transform="translate(.198 4.969)"/>
                          <path id="Path_7286"
                                d="M19.756 10.714a3.7 3.7 0 0 0-2.865-1.182 4.128 4.128 0 0 0-1.193.162 2.706 2.706 0 0 0-.906.453 3.881 3.881 0 0 0-.995 1.093V9.771h-3.426l.011.5q.011.5.011 3.083t-.021 6.74H13.8v-5.761a2.516 2.516 0 0 1 .115-.844 2.213 2.213 0 0 1 .662-.89 1.687 1.687 0 0 1 1.1-.36 1.482 1.482 0 0 1 1.318.62 3.014 3.014 0 0 1 .422 1.714v5.521h3.423v-5.917a4.96 4.96 0 0 0-1.084-3.463z"
                                class="cls-1" data-name="Path 7286"
                                transform="translate(-4.84 -4.802)"/>
                          <path id="Path_7287"
                                d="M1.937.664a1.961 1.961 0 0 0-1.4.505A1.677 1.677 0 0 0 0 2.445a1.707 1.707 0 0 0 .521 1.271 1.88 1.88 0 0 0 1.375.51h.021a1.963 1.963 0 0 0 1.412-.51 1.649 1.649 0 0 0 .526-1.271 1.738 1.738 0 0 0-.531-1.276A1.9 1.9 0 0 0 1.937.664z"
                                class="cls-1" data-name="Path 7287" transform="translate(0 -.664)"/>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>

              </a>
              <a class="icon-box">
                {#<img src="/themes/rms/templates/dist/images/twitter-logo.svg" alt="twitter logo">#}
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                  <defs>
                    <clipPath id="clip-path">
                      <path id="Rectangle_2902" d="M0 0h16v16H0z" class="cls-1" data-name="Rectangle 2902"
                            transform="translate(186 5906)"/>
                    </clipPath>
                  </defs>
                  <g id="Group_5273" data-name="Group 5273" transform="translate(-186 -5906)">
                    <path id="Rectangle_2899" d="M0 0h30v30H0z" class="cls-2" data-name="Rectangle 2899"
                          transform="translate(186 5906)"/>
                    <g id="Mask_Group_11" class="cls-3" data-name="Mask Group 11"
                       transform="translate(7 7)">
                      <g id="_003-twitter" data-name="003-twitter" transform="translate(186 5907.5)">
                        <g id="Group_5270" data-name="Group 5270">
                          <path id="Path_7288"
                                d="M16 4.352a6.839 6.839 0 0 1-1.89.518 3.262 3.262 0 0 0 1.443-1.813 6.555 6.555 0 0 1-2.08.794A3.28 3.28 0 0 0 7.8 6.094a3.378 3.378 0 0 0 .076.748 9.284 9.284 0 0 1-6.762-3.431 3.281 3.281 0 0 0 1.008 4.383 3.239 3.239 0 0 1-1.482-.4v.036a3.3 3.3 0 0 0 2.628 3.223 3.274 3.274 0 0 1-.86.108 2.9 2.9 0 0 1-.621-.056 3.311 3.311 0 0 0 3.065 2.285 6.591 6.591 0 0 1-4.067 1.4A6.144 6.144 0 0 1 0 14.34a9.234 9.234 0 0 0 5.032 1.472 9.272 9.272 0 0 0 9.336-9.334c0-.145-.005-.285-.012-.424A6.544 6.544 0 0 0 16 4.352z"
                                class="cls-1" data-name="Path 7288" transform="translate(0 -2.813)"/>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>

              </a>
            </div>

            <div class="subscribe-box">
              <h6>Subscribe by Email</h6>

              <div class="search-box">
                <input type="text" placeholder="Email Address">
                <button type="submit">

                  <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/svg/arrow-right-white-color.svg" alt="search">
                  </div>

                </button>
              </div>
            </div>

            <div class="archives-content">
              <h6>Archives </h6>

              <div class="calendar-box">
                <div class="cover-ul">
                  <ul class="ul-left">
                    <li><a>2019</a></li>
                    <li><a>2018</a></li>
                    <li><a>2017</a></li>
                    <li><a>2016</a></li>
                    <li><a>2015</a></li>
                  </ul>

                </div>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


</section>
