@import 'variables';

/*
 * Links.
 */

.btn-red {
  font-family: $font-families-gotham;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  padding: 11px 27px 11px 30px;
  color: $white;
  background-color: $wine-red;
  @include transition(all, 0.2s, ease-in-out);
  box-shadow: 0 0 0 2px $wine-red;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  //&:before {
  //  content: "";
  //  position: absolute;
  //  right: -16px;
  //  top: 16px;
  //  width: 16px;
  //  height: 16px;
  //  background-size: 15px;
  //  background-repeat: no-repeat;
  //  background-image: url(/themes/rms/templates/dist/images/arrow-white-small.svg);
  //  transition: all 0.3s ease;
  //  @include desktop-down {
  //    top: 15px;
  //  }
  //}
  @include desktop-down {
    padding: 10px 34px 10px 34px;
    font-size: 12px;
  }
  @include tablet-down {
    padding: 10px 25px;
  }
  span {
    font-family: $font-families-gotham;
    position: relative;
    left: 0;
    transition: all 0.3s ease;
  }
  &:hover {
    box-shadow: 0 0 0 2px $maroon;
    background-color: $maroon;
    color: $white;
    &:before {
      //left: 82%;
      right: 14px;
    }
    //span {
    //  left: -10px;
    //}
  }
}

.btn-transparent {
  @extend .btn-red;
  background-color: transparent;
  box-shadow: 0 0 0 2px $white;
  padding: 10px 27px 11px 24px;
  color: $white;
  //&:before {
  //  background-image: url(/themes/rms/templates/dist/images/arrow-red-small.svg);
  //  z-index: 1;
  //}
  //&:after {
  //  content: "";
  //  position: absolute;
  //  top: 43px;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //  background: $white;
  //  transition: 0.2s all ease-in-out;
  //}
  &:hover {
    color: $wine-red !important;
    background-color: $lighter-grey;
    box-shadow: 0 0 0 2px $lighter-grey;
    &:after {
      top: 0;
    }
  }
  span {
    z-index: 1;
  }
}

.learn-more {
  color: $wine-red;
  position: relative;
  //padding: 0 20px 2px 0;
  transition: all 0.3s ease;
  overflow: hidden;
  font-size: 16px;
  font-family: $font-families-gotham;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  //&:after {
  //  content: "";
  //  position: absolute;
  //  right: -25px;
  //  top: 6px;
  //  width: 16px;
  //  height: 16px;
  //  background-size: 15px;
  //  background-repeat: no-repeat;
  //  background-image: url(/themes/rms/templates/dist/images/arrow-red-small.svg);
  //  transition: all 0.3s ease;
  //}
  span {
    position: relative;
    padding-bottom: 7px;
    display: inline-block;
    //&:before {
    //  content: "";
    //  position: absolute;
    //  z-index: 0;
    //  width: 100%;
    //  right: 0;
    //  bottom: 0px;
    //  background: $trinided;
    //  height: 1px;
    //  -o-transform: scale(1, 1);
    //  -webkit-transform: scale(1, 1);
    //  transform: scale(1, 1);
    //  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    //  -webkit-transition: -webkit-transform 0.4s cubic-bezier(1, 0, 0, 1);
    //  transition: -webkit-transform 0.4s cubic-bezier(1, 0, 0, 1);
    //  -o-transition: -o-transform 0.4s cubic-bezier(1, 0, 0, 1);
    //  transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    //  -o-transform-origin: right top;
    //  -webkit-transform-origin: right top;
    //  transform-origin: left top;
    //}
  }

  &:hover {
    color: $light-teal !important;
    &:after {
      right: 0;
    }
    span {
      &:before {
        transform: scale(0, 1);
        transform-origin: left top;
      }
    }
  }
}

.back-link {
  @extend .learn-more;
}

.read-more {
  color: $wine-red !important;
  position: relative;
  padding: 0 0px 2px 0;
  transition: all 0.3s ease;
  overflow: hidden;
  font-size: 16px;
  font-family: $font-families-gotham;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $wine-red;
    transition: all 0.3s ease;
  }
  &:hover {
    //color: $wine-red;
    &:after {
      width: 100%
    }
  }
}

.btn-white {
  background-color: transparent;
  //box-shadow: 0 0 0 2px $white;
  color: $white !important;
  &:after {
    background-color: $white;
  }
}

.btn-white {
  font-family: $font-families-gotham;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  padding: 11px 27px 11px 30px;
  color: $wine-red !important;
  background-color: $white;
  transition: 0.3s all ease-in-out;
  @include transition(all, 0.2s, ease-in-out);
  //box-shadow: 0 0 0 2px $wine-red;
  //border: solid 2px $wine-red;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 2px $wine-red;
    background: transparent;
    transition: 0.3s all ease-in-out;
  }
  @include desktop-down {
    padding: 10px 34px 10px 34px;
    font-size: 12px;
  }
  @include tablet-down {
    padding: 10px 25px;
  }
  span {
    font-family: $font-families-gotham;
    position: relative;
    left: 0;
    transition: all 0.3s ease;
  }
  &:hover {
    &:after {
      content: "";
      border: solid 3px $wine-red;
    }
  }
}
