/* Transition */
@mixin transition($property, $time, $behaviour) {
  -webkit-transition: $property $time $behaviour;
  -moz-transition: $property $time $behaviour;
  -o-transition: $property $time $behaviour;
  -ms-transition: $property $time $behaviour;
  transition: $property $time $behaviour;
}

/* Transition-delay  */
@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: $transition-delay;
  -ms-transition-delay: $transition-delay;
  -moz-transition-delay: $transition-delay;
  -o-transition-delay: $transition-delay;
  transition-delay: $transition-delay;
}

@mixin transition-property($property) {
  -webkit-transition-property: $property;
  -moz-transition-property: $property;
  -o-transition-property: $property;
  transition-property: $property;
}

/* Order  */
@mixin order($order) {
  -webkit-box-ordinal-group: $order;
  -moz-box-ordinal-group: $order;
  -ms-flex-order: $order;
  -webkit-order: $order;
  order: $order;
}

/* Transform-origin */
@mixin transform-origin($origin) {
  -moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

/* Transform */
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  -o-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

/* border-radius */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

/* Backface-visibility  */
@mixin backface-visibility($arguments) {
  -webkit-backface-visibility: $arguments;
  -moz-backface-visibility: $arguments;
  -ms-backface-visibility: $arguments;
  -o-backface-visibility: $arguments;
  backface-visibility: $arguments;
}

/* Box-shadow*/
@mixin box-shadow($top, $left, $blur, $color) {
  box-shadow: $top $left $blur $color;
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  -ms-box-shadow: $top $left $blur $color;
  -o-box-shadow: $top $left $blur $color;
}

@mixin flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin box-orient($orientation) {
  -webkit-box-orient: $orientation;
  -moz-box-orient: $orientation;
  -ms-box-orient: $orientation;
  -o-box-orient: $orientation;
  box-orient: $orientation;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -o-flex-direction: $direction;
  flex-direction: $direction;
  -ms-flex-direction: $direction;
}

@mixin box-align($alignment) {
  -webkit-box-align: $alignment;
  -moz-box-align: $alignment;
  -ms-box-align: $alignment;
  -o-box-align: $alignment;
  box-align: $alignment;
}

@mixin align-items($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  -o-align-items: $align;
  align-items: $align;
}

@mixin line-clamp($line-clamp) {
  -webkit-line-clamp: $line-clamp;
  -moz-line-clamp: $line-clamp;
  -ms-line-clamp: $line-clamp;
  -o-line-clamp: $line-clamp;
  line-clamp: $line-clamp;
}

/* Animation */
@mixin animation($animation, $duration, $transition, $iteration) {
  -webkit-animation-name: $animation;
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: $transition;
  -webkit-animation-iteration-count: $iteration;
  -moz-animation-name: $animation;
  -moz-animation-duration: $duration;
  -moz-animation-timing-function: $transition;
  -moz-animation-iteration-count: $iteration;
  -o-animation-name: $animation;
  -o-animation-duration: $duration;
  -o-animation-timing-function: $transition;
  -o-animation-iteration-count: $iteration;
  animation-name: $animation;
  animation-duration: $duration;
  animation-timing-function: $transition;
  animation-iteration-count: $iteration;
}

/* Fonts */
$font-families: 'Montserrat', sans-serif;
$font-families-nunito: "Nunito Sans", sans-serif;
$font-families-gotham: "Gotham A", sans-serif;
$font-families-Inter: 'Inter semiB', sans-serif;
$font-Inter-extraB: 'Inter extraB', sans-serif;
$font-families-InterB: 'Inter B', sans-serif;
$font-families-InterM: 'Inter Mid', sans-serif;
$font-inter-regular: 'Inter Regular', sans-serif;

/* Base colors*/
$primary: #2f3640;
$primary2: #d9d9d9;
$primary3: #0096aa;
$primary4: #b2b2b2;
$primary5: unquote('#b2b2b24f');
$primary6: #75706e;
$primary7: #c7c7c7;
$primary8: #212121;
$light-green: #0086a1;
$purple: #623c6d;
$dark-purple: #3d0135;
$dark-red: #c41757;
$extra-dark-red: #76222f;
$light-brown: #b3774f;
$light-orange: #f15a31;
$dark-orange: #d86017;
$white: #ffffff;
$white_hover: rgba(255, 255, 255, 0.15);
$black: #000000;
$blue: #2e4f7c;
$blue-overlay: unquote('#004a58b0');
$light-blue: #0095ab;
$green: #00b7c6;
$dark-green: #004c6c;
$purple-red: #95001d;
$extra-light-gray: #d8d8d8;
$light-white: #fafafa;
$light-gray: #f3f3f3;
$silver-gray: unquote('#222227c7');
$wine-red: #b40023;
$light-teal: #00b7c6;
$maroon: #9b001d;
$blackthin-light: #222227;
$lighter-grey: #e8e8e8;
$dark-gray: #383838;
$text-gray: #464646;
$rect-gray: #f7f7f7;
$lightbrown-gray: #DBDBDB;
$bar-gray: #999999;
$nobal-gray: #B7B7B7;
$light-black: #4b4b4b;
$footer-bar: #6d6e71;
$slate-gray: #666666;
$hex-gray: #e5e5e5;
$hexa-light-gray: #e6e6e6;
$hex-white-smoke: #f8f8f8;
$blur-white: unquote('#ffffffe3');
$gray10: #e2dfdf;
$gray11: #ddd;
$dark-blue: #00728e;
$dark-blue1: #1a4f83;
$dark-blue2: #337ab7;
$black-light: #2e2e2e;
$gray15: #676767;
$gray14: #D7D7D7;
$white-gray: #efefef;
$darkblue4: #002060;
$darkred:#820000;
$blue:#2246d2;
$yellow:#f59e1b;

$green10:#00a464;
$darkgreen:#326400;
//new color

$trinided: #ed3d0b;
$trinided_hover: #ca3309;
$gray: #827f7e;
$red: #f8f5f7;
$chartreuse:#cec627;

$light-red: #FBF9FA;
$plum: #772172;
$razzmatazz: #eb0d79;
$burnt-sienna: #E85F53;
$tundora: #4E4E4E;
$gallery: #F0F0F0;
$dove-gray: #707070;
$teal: #0085ad;
$hovgray: #f2f2f2;
$gray55: #f4f4f4;
$colors: ("white", $white, "hovgray", $hovgray, "black", $black, "gray", $gray, "primary", $primary, "primary2", $primary2, "red", $red, "text-gray", $text-gray, "light-gray", $light-gray, "bar-gray", $bar-gray, "light-black", $light-black, "footer-bar", $footer-bar, "slate-gray", $slate-gray, "blackthin-light", $blackthin-light, "wine-red", $wine-red, "light-green", $light-green, "blue-overlay", $blue-overlay, "rect-gray", $rect-gray, "primary8", $primary8, "dark-green", $dark-green ",purple-red", $purple-red, "blur-white", $blur-white);

$gutter: 15px;
$animate: all 0.2s ease-in-out;
$rounded: 4px;
$col1: desaturate(#FF22CC, 40%);
$col2: desaturate(#EE0088, 40%);
$col3: desaturate(#DD33AA, 40%);
$col4: desaturate(#AA3399, 40%);

/*  Media query variables */
$phone_width: 481px;
$phablet_width: 596px;
$tablet_width: 768px;
$desktop_width: 992px;
$desktop_mid_width: 1024px;
$container_width: 1200px;
$container_mid_width: 1350px;
$orientation: landscape;
$container-max-width: 1400px;
$container-mid-width: 1270px;
/*
 * Mobile landscape media query
 */

@mixin container-max-width {
  @media only screen and (max-width: 1400px) {
    @content;
  }
}

@mixin container-max-width-up {
  @media only screen and (min-width: 1400px) {
    @content;
  }
}

/* (max-width: 480px) */
@mixin phonedown_landscape {
  @media (max-width: #{$phone_width - 1px}) and (orientation: #{$orientation}) {
    @content;
  }
}

/* (max-width: 767px) */
@mixin mobiledown_landscape {
  @media (max-width: #{$tablet_width - 1px}) and (orientation: #{$orientation}) {
    @content;
  }
}

/* (max-width: 595px) */
@mixin phabletdown_landscape {
  @media (max-width: #{$phablet_width - 1px}) and (orientation: #{$orientation}) {
    @content;
  }
}

/* (min-width: 596px), (max-width: 767px) */
@mixin mobile_landscape {
  @media (min-width: #{$phablet_width}) and (max-width: #{$tablet_width - 1px}) and (orientation: #{$orientation}) {
    @content;
  }
}

/*  (min-width:481px), (max-width: 595px) */
@mixin phoneup_landscape {
  @media (min-width: #{$phone_width}) and (max-width: #{$phablet_width - 1px}) and (orientation: #{$orientation}) {
    @content;
  }
}

/* (min-width: 768px), (max-width: 991px) */
@mixin ipad_landscape {
  @media (min-width: #{$tablet_width}) and (max-width: #{$desktop_width - 1px}) and (orientation: #{$orientation}) {
    @content;
  }
}

/*  Media query mixins

   (min-width:1250px) */
@mixin large_container-up {
  @media (min-width: #{$container_width + 100px}) {
    @content;
  }
}

/*  (min-width:1150px) */
@mixin container-up {
  @media (min-width: #{$container_width}) {
    @content;
  }
}

/*  (min-width:1024px) */
@mixin desktop-mid-width-up {
  @media (min-width: #{$desktop_mid_width}) {
    @content;
  }
}

/*  (min-width:992px) */
@mixin desktop-up {
  @media (min-width: #{$desktop_width}) {
    @content;
  }
}

/*  (min-width:768px) */
@mixin tablet-up {
  @media (min-width: #{$tablet_width}) {
    @content;
  }
}

/* (min-width:1150px), (max-width: 1350px) */
@mixin container {
  @media (min-width: #{$container_width}) and (max-width: #{$container_mid_width}) {
    @content;
  }
}

/* (min-width:992px), (max-width: 1024px) */
@mixin desktop-mid {
  @media (min-width: #{$desktop_width}) and (max-width: #{$desktop_mid_width}) {
    @content;
  }
}

/* (min-width:992px), (max-width: 1200px) */
@mixin large_desktop {
  @media (min-width: #{$desktop_width}) and (max-width: #{$container_width + 50px}) {
    @content;
  }
}

/* (min-width:992px), (max-width: 1150px) */
@mixin desktop {
  @media (min-width: #{$desktop_width}) and (max-width: #{$container_width}) {
    @content;
  }
}

/*  (min-width:768px), (max-width: 991px) */
@mixin tablet {
  @media (min-width: #{$tablet_width}) and (max-width: #{$desktop_width - 1px}) {
    @content;
  }
}

/*  (min-width:596px), (max-width: 767px) */
@mixin phablet {
  @media (min-width: #{$phablet_width}) and (max-width: #{$tablet_width - 1px}) {
    @content;
  }
}

/*  (min-width:481px), (max-width: 595px) */
@mixin phone {
  @media (min-width: #{$phone_width}) and (max-width: #{$phablet_width - 1px}) {
    @content;
  }
}

/* (max-width:1150px) */
@mixin container-down {
  @media (max-width: #{$container_width - 1px}) {
    @content;
  }
}

/* (max-width:991px) */
@mixin desktop-down {
  @media (max-width: #{$desktop_width - 1px}) {
    @content;
  }
}

/* (max-width:767px) */
@mixin tablet-down {
  @media (max-width: #{$tablet_width - 1px}) {
    @content;
  }
}

/* (max-width:595px) */
@mixin phablet-down {
  @media (max-width: #{$phablet_width - 1px}) {
    @content;
  }
}

/* (min-width:596px) */
@mixin phablet-up {
  @media (min-width: #{$phablet_width}) {
    @content;
  }
}

/* (min-width:481px) */
@mixin phone-up {
  @media (min-width: #{$phone_width}) {
    @content;
  }
}

/*  (max-width:480px) */
@mixin phone-down {
  @media (max-width: #{$phone_width - 1px}) {
    @content;
  }
}

/* (min-width:1190px),(max-width:1269px)*/
@mixin container-mid-width {
  @media (min-width: #{$container_width}) and (max-width: #{$container-mid-width}) {
    @content;
  }
}

/* (min-width:1270px),(max-width:1390px)*/
@mixin container-max-width {
  @media (min-width: #{$container_width + 80px}) and (max-width: #{$container-max-width}) {
    @content;
  }
}


@mixin anchor-tag{
  a{
    color:#C41240;
    &:hover{
      color:#00b7c6;
    }
  }
}

