{% include directory ~ '/templates/model/part/banner-third-level.html.twig' %}
{% include directory ~ '/templates/model/part/overview-detail/col-three-with-text.html.twig' %}
{% include directory ~ '/templates/model/part/card-with-features/card-with-features.html.twig' %}
{% include directory ~ '/templates/model/part/testimonial/resource-with-card-slider.html.twig' %}
{% include directory ~ '/templates/model/part/col-three-with-image/col-three-with-image.html.twig' %}
{% include directory ~ '/templates/model/part/reference-carousel/reference-carousel.html.twig' %}
{% include directory ~ '/templates/model/part/news-slider/news-slider.html.twig' %}
{% include directory ~ '/templates/model/part/cta/cta.html.twig' %}
