<section class="content-with-form wow fadeIn " data-wow-delay="0.5s">
  <div class="container">
      <div class="column-wrapper">
          <div class="col-two content-with-heading">
            <h3s>Lorem Ipsum Dolore</h3s>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit ame.</p>
          </div>

          <div class="col-two form-box">

              <div class="column-wrap wow fadeIn" data-wow-delay="0.7s">
                  <div class="green-border ">
                      <h3>Form Title</h3>
                  </div>

                  <form>
                      <div class="mktoFormRow">
                          <div class="cover-input">
                              <input type="text" placeholder="First Name">
                          </div>
                      </div>
                      <div class="mktoFormRow">
                          <div class="cover-input">
                              <input type="text" placeholder="Last Name">
                          </div>
                      </div>
                      <div class="mktoFormRow">
                          <div class="cover-input">
                              <input type="email" placeholder="Email Address">
                          </div>
                      </div>

                      <div class="mktoFormRow">
                          <div class="check-box">
                              <label class="main">I agree with all conditions
                                  <input type="checkbox">
                                  <span class="geekmark"></span>
                              </label>
                          </div>
                      </div>
                      <div class="mktoFormRow">
                          <button><span>Submit</span></button>
                      </div>
                  </form>
              </div>

          </div>
      </div>
  </div>
</section>

