{% set body = content.field_blurb_three|render|striptags %}
{% if content.field_title_four[0] is not empty %}
<section class="col-three-with-image  data-detail-page-overview sol-overview ">
    <div class="container">
        <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.3s">
            <h3 class="">{{ content.field_title_four[0] }}</h3>
            <p>{{ body }}</p>
            <div class="button-box">
                {{ content.field_related_cta }}
            </div>
        </div>
        <div class="col-grid row no-gutters">
            {{ content.field_related_products }}
        </div>
    </div>
</section>
{% endif %}