<section class="banner-second-level banner-404 ">
    <div class="bg-img wow fadeIn" data-wow-delay="0.3s">
        <img src="/themes/rms/templates/dist/images/banner_404.png" alt="model banner">
    </div>
    <div class="v-middle-wrapper wow fadeIn" data-wow-delay="0.4s">
        <div class="v-middle-inner container">
            <div class="v-middle">
                <div class="inner-text">
                    <h1>404</h1>
                    <h5>Sorry, we couldn’t find that page. You may have mistyped the address or the page may have moved.</h5>
                    <div class="button-box">
                        <a href="#" class="btn-red"><span>Go to Homepage</span></a>
                        <a href="#" class="btn-transparent"><span>Contact Us</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="location-box">
        <div class="place-location">
            <span><p>Ontario, Canada</p></span>
        </div>
    </div>
</section>
