<section class="banner-second-level banner-gated-resource " >
    <div class="bg-img wow fadeIn" data-wow-delay="0.3s">
        <img src="/themes/rms/templates/dist/images/contact-banner.jpg" alt="contact us banner">
    </div>
    <div class="v-middle-wrapper wow fadeIn" data-wow-delay="0.4s">
        <div class="v-middle-inner container">
            <div class="v-middle">
                <div class="inner-text">
                    <h1>Contact Us</h1>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing, sed do eiusmod tempor incididunt</h5>
                </div>
            </div>
        </div>
    </div>

    {#<div class="location-box">#}

    {#</div>#}
</section>

