<section class="content-with-form e-response wow fadeIn contact-us" data-wow-delay="0.5s">
    <div class="container">
        <div class="column-wrapper">
            <div class="col-two content-with-heading">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit ame.</p>
            </div>

            <div class="col-two form-box">

                <div class="column-wrap wow fadeIn" data-wow-delay="0.5s">
                    <div class="green-border ">
                        <h3>General inquiry</h3>
                    </div>

                    <form>
                        <div class="mktoFormRow">
                            <div class="cover-input">
                                <input type="text" placeholder="Name" value="">
                            </div>
                        </div>
                        <div class="mktoFormRow">
                            <div class="cover-input">
                                <input type="text" placeholder="Email Address" value="">
                            </div>
                        </div>

                        <div class="mktoFormRow">
                            <div class="check-box">
                                <label class="main">I agree with all conditions
                                    <input type="checkbox" value="1">
                                    <span class="geekmark"></span>
                                </label>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidun.</p>
                            </div>
                        </div>
                        <div class="mktoFormRow">
                            <div class="button-box">
                                <a href="#" class="btn-red"><span>Submit</span></a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>

