<section class="inquiry-block animation-five">
    <div class="bg-img"></div>
    <div class="container">
        <div class="pattern-animation" data-wow-delay="0.5s" id="lottie5"></div>
        <div class="row col-wrap">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col-four-cards">
                <div class="icon-box">
                    <img src="/themes/rms/templates/dist/images/headquarters-icon.svg" alt="icon image">
                </div>
                <div class="text-box">
                    <h4>Headquarters</h4>
                    <h6>Silicon Valley, CA</h6>
                    <p class="line-border-bottom">7575 Gateway Blvd., Suite 300
                        Newark, CA 94560</p>
                    <ul>
                        <li><a href="tel:+ 1.510.505.2500">Tel: 1.510.505.2500</a></li>
                        <li><a href="tel:+1.510.505.2501">Fax: 1.510.505.2501</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col-four-cards">
                <div class="icon-box">
                    <img src="/themes/rms/templates/dist/images/sales_icon.svg" alt="icon image">
                </div>
                <div class="text-box">
                    <h4>Sales Inquiries</h4>
                    <ul class="line-border-bottom">
                        <li><a href="tel:+1.201.912.8600">+1.201.912.8600 or</a></li>
                        <li><a href="tel:+44.20.7444.7600">+44.20.7444.7600</a></li>
                    </ul>
                    <div class="button-box">
                        <a href="mailto:sales@rms.com" class="learn-more">sales@rms.com</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col-four-cards">
                <div class="icon-box">
                    <img src="/themes/rms/templates/dist/images/product_support_icon.svg" alt="icon image">
                </div>
                <div class="text-box">
                    <h4>Product Support</h4>
                    <ul>
                        <li><a href="tel:+1.877.767.0266">+1.877.767.0266 or</a></li>
                        <li><a href="tel:+44.20.7444.7777">+44.20.7444.7777 or</a></li>
                        <li><a href="tel:+91.120.442.7300">+91.120.442.7300</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col-four-cards">
                <div class="icon-box">
                    <img src="/themes/rms/templates/dist/images/media_icon.svg" alt="icon image">
                </div>
                <div class="text-box">
                    <h4>Media</h4>
                    <p>For media inquiries, please email us at: </p>
                    <div class="button-box">
                        <a href="mailto:prteam@rms.com" class="learn-more">prteam@rms.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>