<section class="location-map-box">
    <div class="container">
        <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.4s">
            <h3 class="">Locations</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut labore et
                dolore
                magna aliquyam erat, sed diam voluptua, at vero eos et.</p>
        </div>
        <div class="map-block">
            <div class="img-box wow fadeIn" data-wow-delay="0.5s">
                <img src="/themes/rms/templates/dist/images/contact_locations_map.svg" alt="map image">
                <div class="place-pin bellevue wow fadeIn" data-wow-delay="0.7s">
                    <div class="wrapper-box">
                        <p>Bellevue</p>
                        <span>
                             <div class="content-box">
                            <h6>Washington, USA</h6>
                                 <p>800 Bellevue Way NE</p>
                                 <p> Suite 325</p>
                                <p>Bellevue, WA 98004</p>
                        </div>
                        </span>
                    </div>
                </div>
                <div class="place-pin silicon-valley wow fadeIn" data-wow-delay="0.7s">
                    <div class="wrapper-box">
                        <p>Silicon Valley (HQ)</p>
                        <span>
                            <div class="content-box">
                            <h6>Washington, USA</h6>
                            <p>800 Bellevue Way NE</p>
                                 <p> Suite 325</p>
                                <p>Bellevue, WA 98004</p>
                        </div>
                        </span>

                    </div>
                </div>

                <div class="place-pin lawrence wow fadeIn" data-wow-delay="0.7s">
                    <div class="wrapper-box">
                        <p>Lawrence KS</p>
                        <span>
                            <div class="content-box">
                            <h6>Washington, USA</h6>
                            <p>800 Bellevue Way NE</p>
                                 <p> Suite 325</p>
                                <p>Bellevue, WA 98004</p>
                        </div>
                        </span>

                    </div>
                </div>


                <div class="place-pin peoria wow fadeIn" data-wow-delay="0.7s">
                    <div class="wrapper-box">
                        <p>Peoria</p>
                        <span>
                            <div class="content-box">
                            <h6>Washington, USA</h6>
                            <p>800 Bellevue Way NE</p>
                                 <p> Suite 325</p>
                                <p>Bellevue, WA 98004</p>
                        </div>
                        </span>

                    </div>
                </div>
                <div class="place-pin lafayette wow fadeIn" data-wow-delay="0.7s">
                    <div class="wrapper-box">
                        <p>Lafayette</p>
                        <span>
                            <div class="content-box">
                            <h6>Washington, USA</h6>
                           <p>800 Bellevue Way NE</p>
                                 <p> Suite 325</p>
                                <p>Bellevue, WA 98004</p>
                        </div>

                        </span>

                    </div>
                </div>
                <div class="place-pin hoboken wow fadeIn" data-wow-delay="0.7s">
                    <div class="wrapper-box">
                        <p>Hoboken</p>
                        <span>
                            <div class="content-box">
                            <h6>Washington, USA</h6>
                            <p>800 Bellevue Way NE</p>
                                 <p> Suite 325</p>
                                <p>Bellevue, WA 98004</p>
                        </div>
                        </span>

                    </div>
                </div>
                <div class="place-pin bermuda wow fadeIn" data-wow-delay="0.7s">
                    <div class="wrapper-box">
                        <p>Bermuda</p>
                        <span>
                            <div class="content-box">
                            <h6>Washington, USA</h6>
                           <p>800 Bellevue Way NE</p>
                                 <p> Suite 325</p>
                                <p>Bellevue, WA 98004</p>
                        </div>
                        </span>

                    </div>
                </div>
                <div class="place-pin miami-tallahassee wow fadeIn" data-wow-delay="0.7s">
                    <div class="wrapper-box">
                        <p>Miami + Tallahassee</p>
                        <span>
                            <div class="content-box">
                            <h6>Washington, USA</h6>
                             <p>800 Bellevue Way NE</p>
                                 <p> Suite 325</p>
                                <p>Bellevue, WA 98004</p>
                        </div>
                        </span>

                    </div>
                </div>
                <div class="place-pin london wow fadeIn" data-wow-delay="0.7s">
                    <div class="wrapper-box">
                        <p>London</p>
                        <span>
                            <div class="content-box">
                            <h6>Washington, USA</h6>
                            <p>800 Bellevue Way NE</p>
                                 <p> Suite 325</p>
                                <p>Bellevue, WA 98004</p>
                        </div>
                        </span>

                    </div>
                </div>
                <div class="place-pin zurich wow fadeIn" data-wow-delay="0.7s">
                    <div class="wrapper-box">
                        <p>Zurich</p>
                        <span>
                             <div class="content-box">
                            <h6>Washington, USA</h6>
                           <p>800 Bellevue Way NE</p>
                                 <p> Suite 325</p>
                                <p>Bellevue, WA 98004</p>
                        </div>
                        </span>

                    </div>
                </div>
                <div class="place-pin noida wow fadeIn" data-wow-delay="0.7s">
                    <div class="wrapper-box">
                        <p>Noida</p>
                        <span>
                             <div class="content-box">
                            <h6>Washington, USA</h6>
                           <p>800 Bellevue Way NE</p>
                                 <p> Suite 325</p>
                                <p>Bellevue, WA 98004</p>
                        </div>
                        </span>

                    </div>
                </div>
                <div class="place-pin beijing wow zoomIn" data-wow-delay="0.7s">
                    <div class="wrapper-box">
                        <p>Beijing</p>
                        <span>
                             <div class="content-box">
                            <h6>Washington, USA</h6>
                            <p>800 Bellevue Way NE</p>
                                 <p> Suite 325</p>
                                <p>Bellevue, WA 98004</p>
                        </div>
                        </span>

                    </div>
                </div>
                <div class="place-pin tokyo wow fadeIn" data-wow-delay="0.7s">
                    <div class="wrapper-box">
                        <p>Tokyo</p>
                        <span>
                             <div class="content-box">
                            <h6>Washington, USA</h6>
                           <p>800 Bellevue Way NE</p>
                                 <p> Suite 325</p>
                                <p>Bellevue, WA 98004</p>
                        </div>
                        </span>

                    </div>
                </div>
                <div class="place-pin singapore wow fadeIn" data-wow-delay="0.7s">
                    <div class="wrapper-box">
                        <p>Singapore</p>
                        <span>
                            <div class="content-box">
                            <h6>Washington, USA</h6>
                            <p>800 Bellevue Way NE</p>
                                 <p> Suite 325</p>
                                <p>Bellevue, WA 98004</p>
                        </div>
                        </span>

                    </div>
                </div>
                <div class="place-pin sydney wow fadeIn" data-wow-delay="0.7s">
                    <div class="wrapper-box">
                        <p>Sydney</p>
                        <span>
                            <div class="content-box">
                            <h6>Washington, USA</h6>
                           <p>800 Bellevue Way NE</p>
                                 <p> Suite 325</p>
                                <p>Bellevue, WA 98004</p>
                        </div>
                        </span>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>