{% set records = content.field_news_slider_items['#items']|length %}
{% if records > 0 %}
    {% set active_2_3 = false %}
    {% set active_4_5 = false %}
    {% set active_6_7 = false %}
    {% set active_8_9 = false %}
    {% set active_10_11 = false %}
    <section class="news-slider new-slider-career animation-four">
        <div class="container">
            <div class="slider-block">
                <div class="item">
                    {% for item in content.field_news_slider_items['#items'] %}
                        {% set title = item.getFieldCollectionItem().field_title.value|e %}
                        {# check title value exist for items #}
                        {% if loop.index in [2, 3] and title is not empty %}
                          {% set active_2_3 = true %}
                        {% elseif loop.index in [4, 5] and title is not empty %}
                          {% set active_4_5 = true %}
                        {% elseif loop.index in [6, 7] and title is not empty %}
                          {% set active_6_7 = true %}
                        {% elseif loop.index in [8, 9] and title is not empty %}
                          {% set active_8_9 = true %}
                        {% elseif loop.index in [10, 11] and title is not empty %}
                          {% set active_10_11 = true %}
                        {% endif %}

                        {% set type = item.entity.type.entity.label %}
                        {% set blurb = item.getFieldCollectionItem().field_blurb.value %}
                        {% set designation = item.getFieldCollectionItem().field_designation.value|e %}
                        {% set author = item.getFieldCollectionItem().field_author.value|e %}
                        {% set video_url = item.getFieldCollectionItem().field_video_url.value|e %}
                        {% if item.entity.field_image.isempty %}
                            {% set image_url, image_alt =  '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
                        {% else %}
                            {% set image_url, image_alt =  file_url(item.getFieldCollectionItem().field_image.0.entity.uri.0.value), item.getFieldCollectionItem().field_image.0.alt %}
                        {% endif %}
                        {% set image_popup = item.getFieldCollectionItem().field_image_popup.value %}
                        {% if loop.index == 1 %}
                            <div class="media-block">
                                {% if image_popup %}
                                  <a href="{{ image_url }}" rel="prettyPhoto[gallery1]"></a>
                                {% else %}
                                  <a href="#" class="video-play" data-video="{{ video_url }}" tabindex="0">
                                    <p>{{ title }}</p>
                                  </a>
                                {% endif %}
                                <div class="pattern-animation wow fadeIn" id="lottie4" data-wow-delay="0.8s">
                                    {#<img src="/themes/rms/templates/dist/images/svg/Grid-blue.svg" alt="green pattern">#}
                                </div>
                                <div class="media-top-wrap wow fadeInUp" data-wow-delay="0.7s">
                                    <div class="img-box">
                                        <img src="{{ image_url }}" alt="{{ image_alt }}">

                                        {% if video_url is not empty and (image_popup is empty or image_popup == '0') %}
                                            <div class="play-icon"></div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="content-box wow fadeInUp" data-wow-delay="0.9s">
                                    <h3>{{ title|length > 44 ? title|slice(0, 41) ~ '...' : title }}</h3>
                                    <p>
                                        “{{ blurb|striptags|length > 467 ? blurb|striptags|slice(0, 464) ~ '...' : blurb|striptags }}
                                        ”</p>
                                    <div class="author-info">
                                        <span class="name-author">{{ author }}</span>
                                        <span>{{ designation }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% if records > 1 and active_2_3 %}
                    <div class="resources-block">
                        {% for item in content.field_news_slider_items['#items'] %}
                            {% set title = item.getFieldCollectionItem().field_title.value|e %}
                            {% set type = item.entity.type.entity.label %}
                            {% set blurb = item.getFieldCollectionItem().field_blurb.value %}
                            {% set designation = item.getFieldCollectionItem().field_designation.value|e %}
                            {% set author = item.getFieldCollectionItem().field_author.value|e %}
                            {% set video_url = item.getFieldCollectionItem().field_video_url.value|e %}
                            {% if item.entity.field_image.isempty %}
                                {% set image_url, image_alt =  '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
                            {% else %}
                              {% set image_url, image_alt =  file_url(item.getFieldCollectionItem().field_image.0.entity.uri.0.value), item.getFieldCollectionItem().field_image.0.alt %}
                            {% endif %}
                            {% set image_popup = item.getFieldCollectionItem().field_image_popup.value %}
                            {% if loop.index == 2 or loop.index == 3 %}
                                <div class="wrapper-box">
                                    {% if image_popup %}
                                      <a href="{{ image_url }}" rel="prettyPhoto[gallery1]"></a>
                                    {% else %}
                                      <a href="#" class="video-play" data-video="{{ video_url }}" tabindex="0">
                                        <p>{{ title }}</p>
                                      </a>
                                    {% endif %}
                                    <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                                        <div class="img-box">
                                            <img src="{{ image_url }}" alt="{{ image_alt }}">
                                            {% if video_url is not empty and (image_popup is empty or image_popup == '0') %}
                                            <div class="play-icon"></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                                        <h3>{{ title|length > 44 ? title|slice(0, 41) ~ '...' : title }}</h3>
                                        <div class="author-info">
                                            <span class="name-author">{{ author }}</span>
                                            <span>{{ designation }}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                {% if records > 3 and active_4_5 %}
                <div class="item">
                    <div class="resources-block half-width">
                        {% for item in content.field_news_slider_items['#items'] %}
                            {% set title = item.getFieldCollectionItem().field_title.value|e %}
                            {% set type = item.entity.type.entity.label %}
                            {% set blurb = item.getFieldCollectionItem().field_blurb.value %}
                            {% set designation = item.getFieldCollectionItem().field_designation.value|e %}
                            {% set author = item.getFieldCollectionItem().field_author.value|e %}
                            {% set video_url = item.getFieldCollectionItem().field_video_url.value|e %}
                            {% if item.entity.field_image.isempty %}
                                {% set image_url, image_alt =  '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
                            {% else %}
                              {% set image_url, image_alt =  file_url(item.getFieldCollectionItem().field_image.0.entity.uri.0.value), item.getFieldCollectionItem().field_image.0.alt %}
                            {% endif %}
                            {% set image_popup = item.getFieldCollectionItem().field_image_popup.value %}
                            {% if loop.index == 4 or loop.index == 5 %}
                                <div class="wrapper-box">
                                    {% if image_popup  %}
                                      <a href="{{ image_url }}" rel="prettyPhoto[gallery1]"></a>
                                    {% else %}
                                      <a href="#" class="video-play" data-video="{{ video_url }}" tabindex="0">
                                        <p>{{ title }}</p>
                                      </a>
                                    {% endif %}
                                    <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                                        <div class="img-box">
                                            <img src="{{ image_url }}" alt="{{ image_alt }}">
                                            {% if video_url is not empty and (image_popup is empty or image_popup == '0') %}
                                                <div class="play-icon"></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                                        <h3>{{ title|length > 44 ? title|slice(0, 41) ~ '...' : title }}</h3>
                                        <div class="author-info">
                                            <span class="name-author">{{ author }}</span>
                                            <span>{{ designation }}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% if active_6_7 %}
                    <div class="resources-block half-width">
                        {% for item in content.field_news_slider_items['#items'] %}
                            {% set title = item.getFieldCollectionItem().field_title.value|e %}
                            {% set type = item.entity.type.entity.label %}
                            {% set blurb = item.getFieldCollectionItem().field_blurb.value %}
                            {% set designation = item.getFieldCollectionItem().field_designation.value|e %}
                            {% set author = item.getFieldCollectionItem().field_author.value|e %}
                            {% set video_url = item.getFieldCollectionItem().field_video_url.value|e %}
                            {% if item.entity.field_image.isempty %}
                                {% set image_url, image_alt =  '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
                            {% else %}
                              {% set image_url, image_alt =  file_url(item.getFieldCollectionItem().field_image.0.entity.uri.0.value), item.getFieldCollectionItem().field_image.0.alt %}
                            {% endif %}
                            {% set image_popup = item.getFieldCollectionItem().field_image_popup.value %}
                            {% if loop.index == 6 or loop.index == 7 %}
                                <div class="wrapper-box">
                                    {% if image_popup %}
                                      <a href="{{ image_url }}" rel="prettyPhoto[gallery1]"></a>
                                    {% else %}
                                      <a href="#" class="video-play" data-video="{{ video_url }}" tabindex="0">
                                        <p>{{ title }}</p>
                                      </a>
                                    {% endif %}
                                    <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                                        <div class="img-box">
                                            <img src="{{ image_url }}" alt="{{ image_alt }}">
                                            {% if video_url is not empty and (image_popup is empty or image_popup == '0') %}
                                                <div class="play-icon"></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                                        <h3>{{ title|length > 44 ? title|slice(0, 41) ~ '...' : title }}</h3>
                                        <div class="author-info">
                                            <span class="name-author">{{ author }}</span>
                                            <span>{{ designation }}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% endif %}

                {% if records > 7 and active_8_9 %}
                <div class="item">
                    <div class="resources-block half-width">
                        {% for item in content.field_news_slider_items['#items'] %}
                            {% set title = item.getFieldCollectionItem().field_title.value|e %}
                            {% set type = item.entity.type.entity.label %}
                            {% set blurb = item.getFieldCollectionItem().field_blurb.value %}
                            {% set designation = item.getFieldCollectionItem().field_designation.value|e %}
                            {% set author = item.getFieldCollectionItem().field_author.value|e %}
                            {% set video_url = item.getFieldCollectionItem().field_video_url.value|e %}
                            {% if item.entity.field_image.isempty %}
                                {% set image_url, image_alt =  '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
                            {% else %}
                              {% set image_url, image_alt =  file_url(item.getFieldCollectionItem().field_image.0.entity.uri.0.value), item.getFieldCollectionItem().field_image.0.alt %}
                            {% endif %}
                            {% set image_popup = item.getFieldCollectionItem().field_image_popup.value %}
                            {% if loop.index == 8 or loop.index == 9 %}
                                <div class="wrapper-box">
                                    {% if image_popup %}
                                      <a href="{{ image_url }}" rel="prettyPhoto[gallery1]"></a>
                                    {% else %}
                                      <a href="#" class="video-play" data-video="{{ video_url }}" tabindex="0">
                                        <p>{{ title }}</p>
                                      </a>
                                    {% endif %}
                                    <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                                        <div class="img-box">
                                            <img src="{{ image_url }}" alt="{{ image_alt }}">
                                            {% if video_url is not empty and (image_popup is empty or image_popup == '0') %}
                                                <div class="play-icon"></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                                        <h3>{{ title|length > 44 ? title|slice(0, 41) ~ '...' : title }}</h3>
                                        <div class="author-info">
                                            <span class="name-author">{{ author }}</span>
                                            <span>{{ designation }}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% if active_10_11 %}
                    <div class="resources-block half-width">
                        {% for item in content.field_news_slider_items['#items'] %}
                            {% set title = item.getFieldCollectionItem().field_title.value|e %}
                            {% set type = item.entity.type.entity.label %}
                            {% set blurb = item.getFieldCollectionItem().field_blurb.value %}
                            {% set designation = item.getFieldCollectionItem().field_designation.value|e %}
                            {% set author = item.getFieldCollectionItem().field_author.value|e %}
                            {% set video_url = item.getFieldCollectionItem().field_video_url.value|e %}
                            {% if item.entity.field_image.isempty %}
                                {% set image_url, image_alt =  '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
                            {% else %}
                              {% set image_url, image_alt =  file_url(item.getFieldCollectionItem().field_image.0.entity.uri.0.value), item.getFieldCollectionItem().field_image.0.alt %}
                            {% endif %}
                            {% set image_popup = item.getFieldCollectionItem().field_image_popup.value %}
                            {% if loop.index == 10 or loop.index == 11 %}
                                <div class="wrapper-box">
                                    {% if image_popup %}
                                      <a href="{{ image_url }}" rel="prettyPhoto[gallery1]"></a>
                                    {% else %}
                                      <a href="#" class="video-play" data-video="{{ video_url }}" tabindex="0">
                                        <p>{{ title }}</p>
                                      </a>
                                    {% endif %}
                                    <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                                        <div class="img-box">
                                            <img src="{{ image_url }}" alt="{{ image_alt }}">
                                            {% if video_url is not empty and (image_popup is empty or image_popup == '0') %}
                                                <div class="play-icon"></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                                        <h3>{{ title|length > 44 ? title|slice(0, 41) ~ '...' : title }}</h3>
                                        <div class="author-info">
                                            <span class="name-author">{{ author }}</span>
                                            <span>{{ designation }}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% endif %}

            </div>
            <div class="button-wrap">
                <span class="pre-btn"></span>
                <div class="dots-outer">
                </div>
                <span class="next-btn"></span>

            </div>
        </div>
    </section>
{% endif %}
