<section class="col-two-with-cards animation-five" >
  <div class="bg-img"><img src="/themes/rms/templates/dist/images/willian-justen-de-vasconcellos-74elF-XSsPg-unsplash.png" alt="bg-image">
  </div>


  <div class="container">
      <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.4s">
        <h3>Benefits</h3>
      </div>
            <div class="content-box">
              <div class="pattern-animation" id="lottie5">
                {#<img src="/themes/rms/templates/dist/images/svg/Grid.svg" alt="white pattern">#}
              </div>

                  <div class="row column-wrapper no-gutters wow fadeInUp" data-wow-delay=".5s">
                    <div class="card">
                      {#<div class="top-border wow fadeInLeft" data-wow-delay="0.8s"></div>#}
                      <div class="top-icon">
                        <img src="/themes/rms/templates/dist/images/svg/icon_benefits.svg" alt="benefits icon">
                      </div>
                      <h3>Lorem Ipsum Dolore</h3>
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus.</p>
                    </div>
                    <div class="card">
                      {#<div class="top-border wow fadeInLeft" data-wow-delay="0.8s"></div>#}
                      <div class="top-icon">
                        <img src="/themes/rms/templates/dist/images/svg/icon_benefits.svg" alt="benefits icon">
                      </div>
                      <h3>Lorem Ipsum Dolore</h3>
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus.</p>
                    </div>
                    <div class="card">
                      {#<div class="top-border wow fadeInLeft" data-wow-delay="0.8s"></div>#}
                      <div class="top-icon">
                        <img src="/themes/rms/templates/dist/images/svg/icon_benefits.svg" alt="benefits icon">
                      </div>
                      <h3>Lorem Ipsum Dolore</h3>
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus.</p>
                    </div>
                    <div class="card">
                      {#<div class="top-border wow fadeInLeft" data-wow-delay="0.8s"></div>#}
                      <div class="top-icon">
                        <img src="/themes/rms/templates/dist/images/svg/icon_benefits.svg" alt="benefits icon">
                      </div>
                      <h3>Lorem Ipsum Dolore</h3>
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus.</p>
                    </div>
                  </div>
            </div>
    </div>

</section>

