<section class="col-two-with-cards col-three-benefits-cards animation-five">
    <div class="bg-img"><img
                src="/themes/rms/templates/dist/images/willian-justen-de-vasconcellos-74elF-XSsPg-unsplash.png"
                alt="bg-image">
    </div>


    <div class="container">
        <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.4s">
            <h2>Benefits</h2>
        </div>
        <div class="content-box">
            <div class="pattern-animation" id="lottie5">
                <img src="/themes/rms/templates/dist/images/svg/Grid.svg" alt="white pattern">
            </div>

            <div class="row column-wrapper no-gutters wow fadeInUp" data-wow-delay=".5s">
                {#<div class="box">#}
                <div class="card">
                    <div class="card-inner">
                        <div class="top-border wow fadeInLeft" data-wow-delay="0.8s"></div>
                        <div class="top-icon">
                            <img src="/themes/rms/templates/dist/images/svg/icon_benefits.svg" alt="benefits icon">
                        </div>
                        <h3>Industry Segment Assessment</h3>
                        <p><span>In-house risk modeling teams face multiple challenges—data volumes are increasing, accuracy and
              completeness are paramount, results are required in ever tighter timeframes. Working with RMS Analytical
              Services, companies can gain efficiency, speed, and quality assurance without the expense of recruiting and
              training experienced experts, allowing you to quickly adapt to rapidly evolving market opportunities.</span>
                        </p>
                    </div>
                </div>
                {#</div>#}

                {#<div class="box">#}
                <div class="card">
                    <div class="card-inner">
                        <div class="top-border wow fadeInLeft" data-wow-delay="0.8s"></div>
                        <div class="top-icon">
                            <img src="/themes/rms/templates/dist/images/svg/icon_benefits.svg" alt="benefits icon">
                        </div>
                        <h3>Industry Segment Assessment</h3>
                        <p><span>In-house risk modeling teams face multiple challenges—data volumes are increasing, accuracy and
              completeness are paramount, results are required in ever tighter timeframes. Working with RMS Analytical
              Services, companies can gain efficiency, speed, and quality assurance without the expense of recruiting and
              training experienced experts, allowing you to quickly adapt to rapidly evolving market opportunities.</span>
                        </p>
                    </div>
                </div>
                {#</div>#}
                {#<div class="box">#}
                <div class="card">
                    <div class="card-inner">
                        <div class="top-border wow fadeInLeft" data-wow-delay="0.8s"></div>
                        <div class="top-icon">
                            <img src="/themes/rms/templates/dist/images/svg/icon_benefits.svg" alt="benefits icon">
                        </div>
                        <h3>Industry Segment Assessment</h3>
                        <p><span>In-house risk modeling teams face multiple challenges—data volumes are increasing, accuracy and
              completeness are paramount, results are required in ever tighter timeframes. Working with RMS Analytical
              Services, companies can gain efficiency, speed, and quality assurance without the expense of recruiting and
              training experienced experts, allowing you to quickly adapt to rapidly evolving market opportunities.</span>
                        </p>
                    </div>
                </div>
                {#</div>#}
                {#<div class="box">#}
                <div class="card">
                    <div class="card-inner">
                        <div class="top-border wow fadeInLeft" data-wow-delay="0.8s"></div>
                        <div class="top-icon">
                            <img src="/themes/rms/templates/dist/images/svg/icon_benefits.svg" alt="benefits icon">
                        </div>
                        <h3>Industry Segment Assessment</h3>
                        <p><span>In-house risk modeling teams face multiple challenges—data volumes are increasing, accuracy and
              completeness are paramount, results are required in ever tighter timeframes. Working with RMS Analytical
              Services, companies can gain efficiency, speed, and quality assurance without the expense of recruiting and
              training experienced experts, allowing you to quickly adapt to rapidly evolving market opportunities.</span>
                        </p>
                    </div>
                </div>
                {#</div>#}
                {#<div class="box">#}
                <div class="card">
                    <div class="card-inner">
                        <div class="top-border wow fadeInLeft" data-wow-delay="0.8s"></div>
                        <div class="top-icon">
                            <img src="/themes/rms/templates/dist/images/svg/icon_benefits.svg" alt="benefits icon">
                        </div>
                        <h3>Industry Segment Assessment</h3>
                        <p><span>In-house risk modeling teams face multiple challenges—data volumes are increasing, accuracy and
              completeness are paramount, results are required in ever tighter timeframes. Working with RMS Analytical
              Services, companies can gain efficiency, speed, and quality assurance without the expense of recruiting and
              training experienced experts, allowing you to quickly adapt to rapidly evolving market opportunities. Added Content: In-house risk modeling teams face multiple challenges—data volumes are increasing, accuracy and
              completeness are paramount, results are required in ever tighter timeframes. Working with RMS Analytical
              Services, companies can gain efficiency, speed, and quality assurance without the expense of recruiting and
              training experienced experts, allowing you to quickly adapt to rapidly evolving market opportunities.</span>
                        </p>
                    </div>
                </div>
                {#</div>#}
                {#<div class="box">#}
                <div class="card">
                    <div class="card-inner">
                        <div class="top-border wow fadeInLeft" data-wow-delay="0.8s"></div>
                        <div class="top-icon">
                            <img src="/themes/rms/templates/dist/images/svg/icon_benefits.svg" alt="benefits icon">
                        </div>
                        <h3>Industry Segment Assessment</h3>
                        <p><span>In-house risk modeling teams face multiple challenges—data volumes are increasing, accuracy and
              completeness are paramount, results are required in ever tighter timeframes. Working with RMS Analytical
              Services, companies can gain efficiency, speed, and quality assurance without the expense of recruiting and
              training experienced experts, allowing you to quickly adapt to rapidly evolving market opportunities.</span>
                        </p>
                    </div>
                </div>
                {#</div>#}
            </div>
        </div>
    </div>

</section>


