<section class="col-three-with-image  data-detail-page-overview">

    <div class="container">
        <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.3s">
            <h3 class="">Related Products</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua, at vero eos et et.</p>
            <div class="button-box">
                <a href="#" class="learn-more">See All Products</a>
            </div>
        </div>
        <div class="col-grid row no-gutters">
            <div class="col-lg-4 col-md-6 content-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="bg-img">
                    <img src="/themes/rms/templates/dist/images/industry-img.jpg" alt="industry image">
                </div>
                <div class="blue-overlay wow fadeInUp" data-wow-delay="0.4s">
                    <div class="icon">
                        <img src="/themes/rms/templates/dist/images/risk-modeler-icon.svg" alt="Icon">
                    </div>
                    <h5>Risk Modeler</h5>
                    <p>Lorem ipsum dolor sit amet, dolore consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt set ut labore amet dolore. Lorem met ipsum dolor sit amet.</p>
                    <div class="button-box ">
                        <a href="#" class="learn-more">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 content-box  wow fadeInUp" data-wow-delay="0.4s">
                <div class="bg-img">
                    <img src="/themes/rms/templates/dist/images/laptop-clouds-copy_RMS.png" alt="laptop clouds image">
                </div>
                <div class="blue-overlay wow fadeInUp" data-wow-delay="0.4s">
                    <div class="icon">
                        <img src="/themes/rms/templates/dist/images/risk-modeler-icon.svg" alt="Icon">
                    </div>
                    <h5>SiteIQ</h5>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut
                        labore et dolore magna aliquyam erat, sed diam voluptua at vero,
                        diam nonumy eirmod.</p>
                    <div class="button-box">
                        <a href="#" class="learn-more">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 content-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="bg-img">
                    <img src="/themes/rms/templates/dist/images/Risk-image.png" alt="Risk image">
                </div>
                <div class="blue-overlay wow fadeInUp" data-wow-delay="0.4s">
                    <div class="icon">
                        <img src="/themes/rms/templates/dist/images/risk-modeler-icon.svg" alt="Icon">
                    </div>
                    <h5>Risk Intelligence</h5>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut
                        labore et dolore magna aliquyam erat, sed diam voluptua at vero,
                        diam nonumy eirmod.</p>
                    <div class="button-box">
                        <a href="#" class="learn-more ">Learn More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>