<section class="feature-grid animation-five">
    <div class="bg-img"><img
                src="/themes/rms/templates/dist/images/willian-justen-de-vasconcellos-74elF-XSsPg-unsplash.png"
                alt="bg-image">
    </div>

    <div class="container">
        <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.4s">
            <h2>Benefits</h2>
        </div>
        <div class="column-wrap">
            <div class="pattern-animation" id="lottie5">
            </div>

            <div class=" outer-wrapper wow fadeInUp" data-wow-delay="0.57s">
                <div class=" col-wrapper">
                    <div class="content-wrap">
                        <span class="close-btn"><img src="/themes/rms/templates/dist/images/svg/close-icon.svg" alt="clode icon"></span>
                        <div class="text-outer">
                            <h3>Industry Segment Assessment</h3>
                            <p>In-house risk modeling teams face multiple challenges—data volumes are increasing,
                                accuracy and completeness are paramount, results are required in ever tighter
                                timeframes. Working with RMS Analytical Services, companies can gain efficiency, speed,
                                and quality assurance without the expense of recruiting and training experienced
                                experts, allowing you to quickly adapt to rapidly evolving market opportunities. </p>
                        </div>
                        <div class="open-close-link">
                            <span class="open-link">Read More</span>
                            <span class="close-link">Read Less</span>
                        </div>

                    </div>
                </div>
                <div class=" col-wrapper">
                    <div class="content-wrap">
                        <span class="close-btn"><img src="/themes/rms/templates/dist/images/svg/close-icon.svg" alt="clode icon"></span>
                        <div class="text-outer">
                            <h3>Industry Segment Assessment</h3>
                            <p>In-house risk modeling teams face multiple challenges—data volumes are increasing,
                                accuracy and completeness are paramount, results are required in ever tighter
                                timeframes. Working with RMS Analytical Services, companies can gain efficiency, speed,
                                and quality assurance without the expense of recruiting and training experienced
                                experts, allowing you to quickly adapt to rapidly evolving market opportunities. </p>
                        </div>
                        <div class="open-close-link">
                            <span class="open-link">Read More</span>
                            <span class="close-link">Read Less</span>
                        </div>
                    </div>
                </div>
                <div class=" col-wrapper">
                    <div class="content-wrap">
                        <span class="close-btn"><img src="/themes/rms/templates/dist/images/svg/close-icon.svg" alt="clode icon"></span>
                        <div class="text-outer">
                            <h3>Industry Segment Assessment</h3>
                            <p>In-house risk modeling teams face multiple challenges—data volumes are increasing,
                                accuracy and completeness are paramount, results are required in ever tighter
                                timeframes.  </p>
                        </div>
                        <div class="open-close-link">
                            <span class="open-link">Read More</span>
                            <span class="close-link">Read Less</span>
                        </div>
                    </div>
                </div>
                <div class=" col-wrapper">
                    <div class="content-wrap">
                        <span class="close-btn"><img src="/themes/rms/templates/dist/images/svg/close-icon.svg" alt="clode icon"></span>
                        <div class="text-outer">
                            <h3>Industry Segment Assessment</h3>
                            <p>In-house risk modeling teams face multiple challenges—data volumes are increasing,
                                accuracy and completeness are paramount, results are required in ever tighter
                                timeframes. </p>
                        </div>
                        <div class="open-close-link">
                            <span class="open-link">Read More</span>
                            <span class="close-link">Read Less</span>
                        </div>
                    </div>
                </div>
                <div class=" col-wrapper">
                    <div class="content-wrap">
                        <span class="close-btn"><img src="/themes/rms/templates/dist/images/svg/close-icon.svg" alt="clode icon"></span>
                        <div class="text-outer">
                            <h3>Industry Segment Assessment</h3>
                            <p>In-house risk modeling teams face multiple challenges—data volumes are increasing,
                                accuracy and completeness are paramount, results are required in ever tighter
                                timeframes. Working with RMS Analytical Services, companies can gain efficiency, speed,
                                and quality assurance without the expense of recruiting and training experienced
                                experts, allowing you to quickly adapt to rapidly evolving market opportunities. </p>
                        </div>
                        <div class="open-close-link">
                            <span class="open-link">Read More</span>
                            <span class="close-link">Read Less</span>
                        </div>
                    </div>
                </div>
                <div class=" col-wrapper">
                    <div class="content-wrap">
                        <span class="close-btn"><img src="/themes/rms/templates/dist/images/svg/close-icon.svg" alt="clode icon"></span>
                        <div class="text-outer">
                            <h3>Industry Segment Assessment</h3>
                            <p>In-house risk modeling teams face multiple challenges—data volumes are increasing,
                                accuracy and completeness are paramount, results are required in ever tighter
                                timeframes. Working with RMS Analytical Services, companies can gain efficiency, speed,
                                and quality assurance without the expense of recruiting and training experienced
                                experts, allowing you to quickly adapt to rapidly evolving market opportunities. </p>
                        </div>
                        <div class="open-close-link">
                            <span class="open-link">Read More</span>
                            <span class="close-link">Read Less</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
