<section class="image-with-text-slider animation-three ">
  <div class="container">
    <div class="award-top-carousel">
      <div class="pattern-animation" id="lottie3">
      </div>
      <div class="slider-outer">
        <div class="items">
          <div class="col-two image-box wow fadeInUp" data-wow-delay="0.4s">
            <div class="img-wrapper">
              <div class="top-border "></div>
              <img src="/themes/rms/templates/assets/images/iStock-107321705.png" alt="Management Image">
            </div>
          </div>
          <div class="col-two green-border align-left text-wrapper wow fadeInUp" data-wow-delay=".4s">
            <h2 class="">A Mature Approach to Exposure and Catastrophe Risk Management</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue
              interdum velit euismod in. Dolor purus non enim praesent. Lectus proin nibh nisl condimentum id
              venenatis a condimentum. Lectus mauris ultrices eros in. </p>
            <div class="button-box">
              <a href="#" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>


        <div class="items">
          <div class="col-two image-box wow fadeInUp" data-wow-delay="0.4s">
            <div class="img-wrapper">
              <div class="top-border "></div>
              <img src="/themes/rms/templates/assets/images/iStock-107321705.png" alt="Management Image">
            </div>
          </div>
          <div class="col-two green-border align-left text-wrapper wow fadeInUp" data-wow-delay="0.4s">
            <h2 class="">A Mature Approach to Exposure and Catastrophe Risk Management</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue
              interdum velit euismod in. Dolor purus non enim praesent. Lectus proin nibh nisl condimentum id
              venenatis a condimentum. Lectus mauris ultrices eros in. </p>
            <div class="button-box">
              <a href="#" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="items">
          <div class="col-two image-box wow fadeInUp" data-wow-delay="0.4s">
            <div class="img-wrapper">
              <div class="top-border "></div>
              <img src="/themes/rms/templates/assets/images/iStock-107321705.png" alt="Management Image">
            </div>
          </div>
          <div class="col-two green-border align-left text-wrapper wow fadeInUp" data-wow-delay="0.4s">
            <h2 class="">A Mature Approach to Exposure and Catastrophe Risk Management</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue
              interdum velit euismod in. Dolor purus non enim praesent. Lectus proin nibh nisl condimentum id
              venenatis a condimentum. Lectus mauris ultrices eros in. </p>
            <div class="button-box">
              <a href="#" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
        <div class="items">
          <div class="col-two image-box wow fadeInUp" data-wow-delay="0.4s">
            <div class="img-wrapper">
              <div class="top-border "></div>
              <img src="/themes/rms/templates/assets/images/iStock-107321705.png" alt="Management Image">
            </div>
          </div>
          <div class="col-two green-border align-left text-wrapper wow fadeInUp" data-wow-delay="0.4s">
            <h2 class="">A Mature Approach to Exposure and Catastrophe Risk Management</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue
              interdum velit euismod in. Dolor purus non enim praesent. Lectus proin nibh nisl condimentum id
              venenatis a condimentum. Lectus mauris ultrices eros in. </p>
            <div class="button-box">
              <a href="#" class="learn-more">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="button-wrap">
        <span class="pre-btn"></span>
        <div class="dots-outer"></div>
        <span class="next-btn"></span>
      </div>
    </div>
  </div>
</section>
