{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
  {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="reference-carousel-with-img {{ class|join(' ') }}">
  <div class="container wow fadeInUp" data-wow-delay="0.4s">
    <div class="col-wrapper">
      {% for item in content.field_product_reference_carousel['#items'] %}
        {% set external_redirect = item.entity.field_external_redirect.value %}
        {% set file = item.entity.field_file.entity.uri.value %}
        {% set text = item.entity.field_blurb.value %}

        {% if item.entity.field_image.isempty  %}
          {% set image_url, image_alt =  '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
        {% else %}
          {% set image_url, image_alt =  file_url(item.entity.field_image.entity.uri.value), item.entity.field_image.entity.alt %}
        {% endif %}
        <div class="col-item">
          <div class="row">
            <div class="col-md-4 col-sm-12 media-block">
              <div class="img-box">
                <img src="{{ image_url }}" alt="{{ image_alt }}">
              </div>
            </div>
            <div class="col-md-8 col-sm-12 content-block">
              <h4>{{ item.entity.title.value|e }}</h4>
              <p>{{ text|render|striptags }}</p>
              <div class="button-box">
                {% if external_redirect is not empty %}
                  <a href="{{ external_redirect }}" class="learn-more">Learn More</a>
                {% elseif file is not empty %}
                  <a href="{{ file }}" class="learn-more">Learn More</a>
                {% else %}
                  <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}" class="learn-more">Learn
                    More</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="button-wrap">
      <span class="pre-btn"></span>
      <div class="dots-outer">
      </div>
      <span class="next-btn"></span>

    </div>
  </div>
</section>
