<section class="banner-second-level" >
    <div class="bg-img wow fadeIn" data-wow-delay="0.3s">
        <img src="/themes/rms/templates/dist/images/banner-image.png" alt="model banner">
    </div>
    <div class="v-middle-wrapper wow fadeIn" data-wow-delay="0.4s">
        <div class="v-middle-inner container">
            <div class="v-middle">
                <div class="inner-text">
                    <h1>Models</h1>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et aliqua. </h5>
                    <div class="button-box">
                        <a href="#" class="btn-red"><span>Contact Us</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="location-box">
        <div class="place-location">
            <span><p>Vatnajökull, Iceland</p></span>
        </div>
    </div>
</section>
