<section class="image-with-text animation-six" >
    <div class="container">
        <div class="pattern-animation" id="lottie6">
          {#<img src="/themes/rms/templates/dist/images/svg/Grid-blue.svg" alt="green pattern">#}
        </div>
        <div class="row column-wrapper no-gutters " >
            <div class="col-two image-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="img-wrapper">
                    <div class="top-border"></div>
                    <img src="/themes/rms/templates/assets/images/iStock-107321705.png" alt="Management Image">
                </div>
            </div>
            <div class="col-two green-border align-left text-wrapper wow fadeInUp" data-wow-delay="0.4s">
                <h2 class="">A Mature Approach to Exposure and Catastrophe Risk Management</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue
                    interdum velit euismod in. Dolor purus non enim praesent. Lectus proin nibh nisl condimentum id
                    venenatis a condimentum. Lectus mauris ultrices eros in. </p>
                <div class="button-box">
                    <a href="#" class="learn-more"><span>Read More</span></a>
                </div>
            </div>
        </div>
    </div>
</section>