<section class="image-slider">
    <div class="container">
        <div class="intro-box green-border align-center wow fadeInUp">
            <h3 class="">Spotlight</h3>
        </div>

        <div class="column-wrapper  wow fadeInUp">
            <div class="slider">
                <div class="cover-text-image item">
                    <div class="bg-img">
                        <img src="/themes/rms/templates/dist/images/slider-image.png" alt="slider image">
                    </div>
                    <div class="v-middle-wrapper">
                        <div class="v-middle-inner container">
                            <div class="v-middle">
                                <div class="inner-text">
                                    <h2>North America Wildfire HD Models
                                    </h2>
                                    <h5>Managing severe wildfire risk for today’s new (ab)normal</h5>
                                    <div class="button-box">
                                        <a href="#" class="btn-transparent"><span>Learn More</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cover-text-image item">
                    <div class="bg-img">
                        <img src="/themes/rms/templates/dist/images/slider-image.png" alt="slider image">
                    </div>
                    <div class="v-middle-wrapper">
                        <div class="v-middle-inner container">
                            <div class="v-middle">
                                <div class="inner-text">
                                    <h2>North America Wildfire HD Models
                                    </h2>
                                    <h5>Managing severe wildfire risk for today’s new (ab)normal</h5>
                                    <div class="button-box">
                                        <a href="#" class="btn-transparent"><span>Learn More</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cover-text-image item">
                    <div class="bg-img">
                        <img src="/themes/rms/templates/dist/images/slider-image.png" alt="slider image">
                    </div>
                    <div class="v-middle-wrapper">
                        <div class="v-middle-inner container">
                            <div class="v-middle">
                                <div class="inner-text">
                                    <h2>North America Wildfire HD Models
                                    </h2>
                                    <h5>Managing severe wildfire risk for today’s new (ab)normal</h5>
                                    <div class="button-box">
                                        <a href="#" class="btn-transparent"><span>Learn More</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cover-text-image item">
                    <div class="bg-img">
                        <img src="/themes/rms/templates/dist/images/slider-image.png" alt="slider image">
                    </div>
                    <div class="v-middle-wrapper">
                        <div class="v-middle-inner container">
                            <div class="v-middle">
                                <div class="inner-text">
                                    <h2>North America Wildfire HD Models
                                    </h2>
                                    <h5>Managing severe wildfire risk for today’s new (ab)normal</h5>
                                    <div class="button-box">
                                        <a href="#" class="btn-transparent"><span>Learn More</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="button-wrap">
            <span class="pre-btn"></span>
            <div class="dots-outer">
            </div>
            <span class="next-btn"></span>
        </div>
    </div>
</section>
