<section class="news-slider resources animation-four">
    <div class="container">
        <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.5s">
            <h3 class="">Resources</h3>
        </div>
        <div class="slider-block">
            <div class="item">
                <div class="media-block">
                    <a herf="#"></a>
                    <div class="pattern-animation" id="lottie4">
                    </div>
                    <div class="media-top-wrap wow fadeInUp" data-wow-delay="0.7s">
                        <div class="img-box">
                            <img src="/themes/rms/templates/dist/images/CyberReport.png" alt="CyberReport image">
                            <div class="shared-icon">
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/facebook-share.svg" alt="facebook icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/linkedin-share.svg" alt="LinkedIn icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/twitter-share.svg" alt="Twitter icon">
                                </a>
                            </div>
                        </div>
                        <div class="media-footer">
                            <div class="icon-box">
                                <img src="/themes/rms/templates/dist/images/svg/report.svg" alt="icon play">
                            </div>
                            <span>Report</span>
                        </div>
                    </div>
                    <div class="content-box wow fadeInUp" data-wow-delay="0.9s">
                        <h3>2019 Cyber Risk Outlook</h3>
                        <p class="small-text">Key Insights for Managing Through a Changing Cyber Risk Landscape</p>
                        <p>Cyber perils continue to be dynamic, which makes managing such risk a continuing challenge in
                            a diversifying and growing insurance industry. With the rate of change for cyber risk
                            continuing to accelerate, risk managers cannot assume that the status quo will continue.</p>
                        <div class="button-box">
                            <span href="#" class="learn-more">Read More</span>
                        </div>
                    </div>
                </div>
                <div class="resources-block">
                    <div class="wrapper-box">
                        <a herf="#"></a>
                        <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/Cyber.png"
                                     alt="Cyber image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/svg/report.svg"
                                         alt="icon play">
                                </div>
                                <span>Report</span>
                            </div>
                        </div>
                        <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                            <h3>Earthquake Coverage for 1.8 Million Employees</h3>
                            {#<p>Identifying Floodwater Sources</p>#}
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a herf="#"></a>
                        <div class="media-top wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/bitmap.png" alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/svg/Blog.svg"
                                         alt="icon play">
                                </div>
                                <span>Blog</span>
                            </div>
                        </div>
                        <div class="content-block wow fadeInUp" data-wow-delay="0.9s">
                            <h3>Predicting North Atlantic Hurricanes is a Balancing Act</h3>
                            {#<p>Stay Informed with News, Videos, Updates, Photos…</p>#}
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a herf="#"></a>
                        <div class="media-top wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg"
                                     alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/news-resource-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>News</span>
                            </div>
                        </div>
                        <div class="content-block wow fadeInUp" data-wow-delay="0.9s">
                            <h3>New U.S. Wildfire HD Model</h3>
                            <p>The Most Comprehensive</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a herf="#"></a>
                        <div class="media-top wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-reaction-img.jpg" alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/event-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Event</span>
                            </div>
                        </div>
                        <div class="content-block wow fadeInUp" data-wow-delay="0.9s">
                            <h3>Reactions North America</h3>
                            <p>This one-day event will examine.</p>
                        </div>
                    </div>
                </div>
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a herf="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg"
                                     alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/event-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Event</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>U.S. Flood Risk</h3>
                            <p>Identifying Floodwater Sources</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a herf="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/event-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>Post-Exceedance Website Live</h3>
                            <p>Stay Informed with News, Videos, Updates, Photos…</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a herf="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/infogrph-card-img.jpg"
                                     alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>U.S. Flood Risk</h3>
                            <p>Identifying Floodwater Sources</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a herf="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/event-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>Post-Exceedance Website Live</h3>
                            <p>Stay Informed with News, Videos, Updates, Photos…</p>
                        </div>
                    </div>
                </div>
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a herf="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/infogrph-card-img.jpg"
                                     alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>U.S. Flood Risk</h3>
                            <p>Identifying Floodwater Sources</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a herf="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/event-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>Post-Exceedance Website Live</h3>
                            <p>Stay Informed with News, Videos, Updates, Photos…</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a herf="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/infogrph-card-img.jpg"
                                     alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>U.S. Flood Risk</h3>
                            <p>Identifying Floodwater Sources</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a herf="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/event-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>Post-Exceedance Website Live</h3>
                            <p>Stay Informed with News, Videos, Updates, Photos…</p>
                        </div>
                    </div>
                </div>
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a herf="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/infogrph-card-img.jpg"
                                     alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>U.S. Flood Risk</h3>
                            <p>Identifying Floodwater Sources</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a herf="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/event-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>Post-Exceedance Website Live</h3>
                            <p>Stay Informed with News, Videos, Updates, Photos…</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrap">
            <span class="pre-btn"></span>
            <div class="dots-outer">
            </div>
            <span class="next-btn"></span>
        </div>
    </div>
</section>