<section class="sticky-nav wow fadeInUp" data-wow-delay="0.4s">
    <div class="container">
        <div class="row column-wrapper no-gutters wow fadeInUp" data-wow-delay="0.4s">
            <div class="by-category">
                <a data-scroll="" href="#category"></a>
                <div class="icon-svg">
                  {#<img src="/themes/rms/templates/dist/images/icon_category.png" alt="category icon">#}
                  <?xml version="1.0" encoding="utf-8"?>
                  <!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve">
          <style type="text/css">
            .st1{fill:none;}
            .st0{fill:#B2B2B2;}
          </style>
                    <g id="category_icon" transform="translate(-478.748 -23.432)">
                      <g id="Rectangle_3599" transform="translate(478.748 23.432)">
                        <rect y="0" class="st1" width="8" height="8"/>
                        <path class="st0" d="M8,8H0V0h8V8z M1.2,6.8h5.6V1.2H1.2V6.8z"/>
                      </g>
                      <g id="Rectangle_3604" transform="translate(478.748 34.432)">
                        <rect y="0" class="st1" width="8" height="8"/>
                        <path class="st0" d="M8,8H0V0h8V8z M1.2,6.8h5.6V1.2H1.2V6.8z"/>
                      </g>
                      <g id="Rectangle_3607" transform="translate(478.748 45.432)">
                        <rect y="0" class="st1" width="8" height="8"/>
                        <path class="st0" d="M8,8H0V0h8V8z M1.2,6.8h5.6V1.2H1.2V6.8z"/>
                      </g>
                      <g id="Rectangle_3600" transform="translate(489.748 23.432)">
                        <rect y="0" class="st1" width="8" height="8"/>
                        <path class="st0" d="M8,8H0V0h8V8z M1.2,6.8h5.6V1.2H1.2V6.8z"/>
                      </g>
                      <g id="Rectangle_3603" transform="translate(489.748 34.432)">
                        <rect y="0" class="st1" width="8" height="8"/>
                        <path class="st0" d="M8,8H0V0h8V8z M1.2,6.8h5.6V1.2H1.2V6.8z"/>
                      </g>
                      <g id="Rectangle_3606" transform="translate(489.748 45.432)">
                        <rect y="0" class="st1" width="8" height="8"/>
                        <path class="st0" d="M8,8H0V0h8V8z M1.2,6.8h5.6V1.2H1.2V6.8z"/>
                      </g>
                      <g id="Rectangle_3601" transform="translate(500.748 23.432)">
                        <rect y="0" class="st1" width="8" height="8"/>
                        <path class="st0" d="M8,8H0V0h8V8z M1.2,6.8h5.6V1.2H1.2V6.8z"/>
                      </g>
                      <g id="Rectangle_3602" transform="translate(500.748 34.432)">
                        <rect y="0" class="st1" width="8" height="8"/>
                        <path class="st0" d="M8,8H0V0h8V8z M1.2,6.8h5.6V1.2H1.2V6.8z"/>
                      </g>
                      <g id="Rectangle_3605" transform="translate(500.748 45.432)">
                        <rect y="0" class="st1" width="8" height="8"/>
                        <path class="st0" d="M8,8H0V0h8V8z M1.2,6.8h5.6V1.2H1.2V6.8z"/>
                      </g>
                    </g>
</svg>

                </div>

                <p>By Category</p>

            </div>

            <div class="by-category">
                <a data-scroll="" href="#region"></a>
                <div class="icon-svg">

                    {#<img src="/themes/rms/templates/dist/images/region_icon.png" alt="region icon">#}
                    <?xml version="1.0" encoding="utf-8"?>
                    <!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 35 35" style="enable-background:new 0 0 35 35;" xml:space="preserve">
          <style type="text/css">
              .st0{fill:#B2B2B2;}
          </style>
                        <g>
                            <g id="Region_Icon" transform="translate(-854 -22)">
                                <g id="_002-worldwide" transform="translate(854 22)">
                                    <g id="Group_5541">
                                        <path id="Path_7648" class="st0" d="M6,6.3C12.2-0.1,22.4-0.2,28.7,6l-1.8,0c-0.4,0-0.7,0.3-0.7,0.7c0,0.4,0.3,0.7,0.7,0.7h0
					l3.5,0c0.4,0,0.7-0.3,0.7-0.7l0-3.5c0-0.4-0.3-0.7-0.7-0.7c-0.4,0-0.7,0.3-0.7,0.7l0,0l0,1.8C22.8-1.8,11.7-1.6,5,5.3
					C0.3,10.1-1.2,17.1,1,23.4c0.1,0.3,0.4,0.5,0.7,0.5c0.1,0,0.2,0,0.2,0c0.4-0.1,0.6-0.5,0.4-0.9C0.3,17.1,1.7,10.6,6,6.3z"/>
                                        <path id="Path_7649" class="st0" d="M5.3,30c3.3,3.2,7.7,5,12.2,5h0.2c8.2-0.1,15.3-5.9,16.9-13.9c0.7-3.2,0.4-6.5-0.7-9.5
					c-0.1-0.4-0.5-0.6-0.9-0.4c-0.4,0.1-0.6,0.5-0.4,0.9c3,8.4-1.3,17.6-9.7,20.6c-5.8,2.1-12.3,0.7-16.7-3.6l1.8,0
					c0.4,0,0.7-0.3,0.7-0.7c0-0.4-0.3-0.7-0.7-0.7h0l-3.5,0c-0.2,0-0.4,0.1-0.5,0.2c-0.1,0.1-0.2,0.3-0.2,0.5l0,3.5
					c0,0.4,0.3,0.7,0.7,0.7h0c0.4,0,0.7-0.3,0.7-0.7L5.3,30z"/>
                                        <path id="Path_7650" class="st0" d="M27.3,13.4c-1.5-3.7-5.1-6.3-9.1-6.5c-0.1,0-0.1,0-0.2,0h0c0,0-0.1,0-0.1,0h0
					c-0.1,0-0.2,0-0.2,0C11.6,7,7,11.8,7,17.6c0.1,5.8,4.7,10.4,10.5,10.5c0.1,0,0.1,0,0.2,0c0,0,0.1,0,0.1,0c0,0,0,0,0,0
					c0.1,0,0.1,0,0.2,0h0.1c0,0,0,0,0.1,0c5.8-0.3,10.3-5.3,10-11.2C28,15.7,27.7,14.5,27.3,13.4C27.3,13.4,27.3,13.4,27.3,13.4
					L27.3,13.4z M13.8,9.1C13,10.3,12.3,11.6,12,13H9.5C10.5,11.3,12,9.9,13.8,9.1z M8.9,14.4h2.8c-0.2,1-0.3,2-0.2,3.1
					c0,1,0.1,2.1,0.3,3.1H8.9C8.1,18.6,8.1,16.4,8.9,14.4z M9.5,22H12c0.4,1.4,1,2.8,1.9,4C12.1,25.2,10.5,23.8,9.5,22z M17.1,26.6
					c-1.5-0.4-2.8-2.2-3.5-4.6h3.5V26.6z M17.1,20.6h-3.9c-0.2-1-0.3-2-0.3-3.1c0-1,0.1-2.1,0.3-3.1h3.9L17.1,20.6z M17.1,13h-3.6
					c0.7-2.5,2-4.2,3.6-4.6L17.1,13z M25.5,13h-2c-0.3-1.2-0.8-2.4-1.5-3.5C23.5,10.3,24.7,11.5,25.5,13L25.5,13z M18.5,8.4
					c1.6,0.4,2.9,2.1,3.6,4.6h-3.6V8.4z M18.5,14.4h3.9c0.2,1,0.3,2,0.3,3.1c0,1-0.1,2.1-0.3,3.1h-3.9V14.4z M18.5,26.6V22H22
					C21.3,24.4,19.9,26.1,18.5,26.6z M21.9,25.6c0.7-1.1,1.3-2.3,1.6-3.6h2C24.7,23.5,23.4,24.7,21.9,25.6L21.9,25.6z M26.1,20.6
					h-2.3c0.2-1,0.3-2,0.3-3.1c0-1-0.1-2.1-0.2-3.1h2.3C26.9,16.4,26.9,18.6,26.1,20.6L26.1,20.6z"/>
                                    </g>
                                </g>
                            </g>
                        </g>
</svg>


                </div>
                <p>By Region</p>
            </div>
        </div>
    </div>
</section>
