    <section class="tabs-with-detail wow fadeInUp" data-wow-delay="0.4s" id="region">
        <div class="container">
            <div class="intro-box green-border align-center wow fadeInUp">
                <h3 class="">Models by Region</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut labore et
                    dolore magna aliquyam erat, sed diam voluptua, at vero eos et et.</p>
            </div>
            <div class="column-wrapper" >
                <button class="open">
              <span>Americas
              </span>
                </button>

                <div class="scroll-wrap">
                    <ul class="tabs">
                        <li class="tab-link " data-tab="tab-1">Americas</li>
                        <li class="tab-link current" data-tab="tab-2">Latin America & Caribbean</li>
                        <li class="tab-link" data-tab="tab-3">Asia Pacific</li>
                        <li class="tab-link" data-tab="tab-4">Europe</li>
                    </ul>
                </div>

                    <div class="text-with-image tab-content" id="tab-1">
                        <div class="col-two text-content">
                            <h3>Americas</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue interdum velit euismod in. </p>
                            <p>Mattis enim ut tellus elementum sagittis vitae et leo. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue interdum velit euismod in. Tincidunt augue interdum velit euismod in. </p>
                            <div class="button-box">
                                <a href="#" class="learn-more">Learn More</a>
                            </div>
                        </div>
                        <div class="col-two bg-img">
                            <div class="img-wrapper">
                                <div class="top-border wow fadeInLeft" data-wow-delay="0.5s"></div>
                                <img src="/themes/rms/templates/dist/images/nasa.png" alt="nasa image">
                            </div>

                        </div>
                    </div>
                    <div class="text-with-image tab-content current" id="tab-2">
                        <div class="col-two text-content">
                            <h3>Latin America & Caribbean</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue interdum velit euismod in. </p>
                            <p>Mattis enim ut tellus elementum sagittis vitae et leo. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue interdum velit euismod in. Tincidunt augue interdum velit euismod in. </p>
                            <div class="button-box">
                                <a href="#" class="learn-more">Learn More</a>
                            </div>
                        </div>
                        <div class="col-two bg-img">
                            <div class="img-wrapper">
                                <div class="top-border wow fadeInLeft" data-wow-delay="0.5s"></div>
                                <img src="/themes/rms/templates/dist/images/nasa.png" alt="nasa image">
                            </div>
                        </div>
                    </div>
                    <div class="text-with-image tab-content" id="tab-3">
                        <div class="col-two text-content">
                            <h3>Asia Pacific</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue interdum velit euismod in. </p>
                            <p>Mattis enim ut tellus elementum sagittis vitae et leo. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue interdum velit euismod in. Tincidunt augue interdum velit euismod in. </p>
                            <div class="button-box">
                                <a href="#" class="learn-more">Learn More</a>
                            </div>
                        </div>
                        <div class="col-two bg-img">
                            <div class="img-wrapper">
                                <div class="top-border wow fadeInLeft" data-wow-delay="0.5s"></div>
                                <img src="/themes/rms/templates/dist/images/nasa.png" alt="nasa image">
                            </div>
                        </div>
                    </div>
                    <div class="text-with-image tab-content" id="tab-4">
                        <div class="col-two text-content">
                            <h3>Europe</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue interdum velit euismod in. </p>
                            <p>Mattis enim ut tellus elementum sagittis vitae et leo. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue interdum velit euismod in. Tincidunt augue interdum velit euismod in. </p>
                            <div class="button-box">
                                <a href="#" class="learn-more">Learn More</a>
                            </div>
                        </div>
                        <div class="col-two bg-img">
                            <div class="img-wrapper">
                                <div class="top-border wow fadeInLeft" data-wow-delay="0.5s"></div>

                                <img src="/themes/rms/templates/dist/images/nasa.png" alt="nasa image">
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>