<section class="blog-grid blog-list-cards blog-listing wow fadeIn" data-wow-delay="0.5s">
    <div class="container">
        <div class="column-wrapper">
            <div class="column-wrap cover-two-col">

                <div class="col-two card-grid upper-card">
                    <div class="filter-outer filter-with-search">
                        <div class="set-position">
                            <div class="text-wrap">
                                <p>Sort by:</p>
                            </div>

                            <div class="select-outer">
                                <div class="select-plugin">
                                    <select class="Month" id="blog-sorting">
                                        <option value="desc">Newest to Oldest</option>
                                        <option value="asc">Oldest to Newest</option>
                                    </select>
                                </div>

                                <div class="select-plugin none-arrow">
                                    <div class="search">
                                        <form action="" class="fixed-position">
                                            <input type="text" placeholder="Search" name="search" value="">
                                            <div class="close">
                                                <span class="front"></span>
                                                <span class="back"></span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{ drupal_view('blog', 'block_5') }}
                </div>

                <div class="col-two menu-item">
                    <div class="cover-right-content">
                        <div class="icon-wrapper">
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5cc30e52a85862a9"></script>
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_inline_share_toolbox_bbes"></div>
                        </div>

                        {#<div class="subscribe-box">#}
                            {#<h6>Subscribe by Email</h6>#}

                            {#<div class="search-box">#}
                                {#<input type="text" placeholder="Email Address">#}
                                {#<button type="submit">#}

                                    {#<div class="img-box">#}
                                        {#<img src="/themes/rms/templates/dist/images/svg/arrow-right-white-color.svg" alt="search">#}
                                    {#</div>#}

                                {#</button>#}
                            {#</div>#}
                        {#</div>#}

                        <div class="archives-content">
                            <h6>Archives </h6>

                            <div class="calendar-box">
                                <div class="cover-ul">
                                    {{ drupal_view('archive', 'block_4') }}
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="records">
    <input type="hidden" id="records-sorting">
</section>
