<section class="blog-grid blog-landing wow fadeIn" data-wow-delay="0.5s">
    <div class="container">
        <div class="column-wrapper">

            <div class="filter-outer">
                <div class="text-wrap">
                    <p>Filter by:</p>
                </div>
                <div class="select-outer">
                    <div class="select-plugin">
                        <select class="Month" id="blog-month">
                            <option value="">Month</option>
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>

                    <div class="select-plugin">
                        {{ drupal_view('archive', 'block_3') }}
                    </div>

                </div>
            </div>

            <div class="column-wrap cover-two-col">
                <div class="col-two card-grid">
                    {{ drupal_view('blog', 'block_3') }}
                </div>

                <div class="col-two menu-item">

                    <div class="cover-right-content">

                        <div class="icon-wrapper">
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5cc30e52a85862a9"></script>
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_inline_share_toolbox_bbes"></div>
                        </div>

                        {#<div class="subscribe-box">#}
                            {#<h6>Subscribe by Email</h6>#}

                            {#<div class="search-box">#}
                                {#<input type="email" placeholder="Email Address">#}
                                {#<button type="submit">#}

                                    {#<div class="img-box">#}
                                        {#<img src="/themes/rms/templates/dist/images/svg/arrow-right-white-color.svg"#}
                                             {#alt="search">#}
                                    {#</div>#}

                                {#</button>#}
                            {#</div>#}
                        {#</div>#}

                        <div class=" tags-content">
                            <h6>Tags</h6>

                            {{ drupal_view('blog_tags', 'block_1') }}
                        </div>

                        <div class="card-with-blog">
                            <h6>Most Popular</h6>

                            {{ drupal_view('blog', 'block_4') }}
                        </div>

                        <div class="archives-content">
                            <h6>Archives <span><a href="/node/2083">See All</a></span></h6>

                            <div class="calendar-box">
                                <strong>{{ "now"|date("Y") }}</strong>
                                <div class="cover-ul">
                                    {{ drupal_view('archive', 'block_2') }}
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <input type="hidden" id="records">
    <input type="hidden" id="records-year">
    <input type="hidden" id="records-month">
</section>
