<section class="filter-block event-grid">
    <div class="container-box">
        <div class="container">
            <div class="content-wrapper">
                <div class="filter-wrap">
                    {% for item in page.eventtax.items %}
                        <div class="check-content">
                            <input class="styled-checkbox" type="checkbox" value="{{ item.tid }}" id="{{ item.tid }}">
                            <label for="{{ item.tid }}">{{ item.name|raw }} ({{ item.count }})</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="reset-filter">
                    <p>Reset Filters</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="events-cards">
    <div class="container">
        {#<div class="row card-wrap">#}
        {{ drupal_view('event', 'block_2') }}
        {#<div class="col-md-4 col-sm-6 col-xs-12 cards-item">#}
        {#<div class="img-top">#}
        {#<img src="/themes/rms/templates/dist/images/raa-img.jpg" alt="image">#}
        {#</div>#}
        {#<div class="card-body">#}
        {#<div class="resource-block">#}
        {#<div class="icon-box">#}
        {#<img src="/themes/rms/templates/dist/images/event-icon.svg"#}
        {#alt="icon play">#}
        {#</div>#}
        {#<span>Conference</span>#}
        {#</div>#}
        {#<div class="date-box">#}
        {#<p>February 25 - February 27, 2020</p>#}
        {#</div>#}
        {#<div class="text-block">#}
        {#<h4>2020 RAA Catastrophe Modeling Conference</h4>#}
        {#<p>Lorem ipsum dolor sit amet, consetetur sed…</p>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-md-4 col-sm-6 col-xs-12 cards-item">#}
        {#<div class="img-top">#}
        {#<img src="/themes/rms/templates/dist/images/exeedence-img.jpg" alt="image">#}
        {#</div>#}
        {#<div class="card-body">#}
        {#<div class="resource-block">#}
        {#<div class="icon-box">#}
        {#<img src="/themes/rms/templates/dist/images/event-icon.svg"#}
        {#alt="icon play">#}
        {#</div>#}
        {#<span>Conference</span>#}
        {#</div>#}
        {#<div class="date-box">#}
        {#<p>Monday, May 04 - Thursday, May 07, 2020</p>#}
        {#</div>#}
        {#<div class="text-block">#}
        {#<h4>Exceedance 2020</h4>#}
        {#<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-md-4 col-sm-6 col-xs-12 cards-item">#}
        {#<div class="img-top play-icon">#}
        {#<img src="/themes/rms/templates/dist/images/wildfire-card.jpg" alt="image">#}
        {#</div>#}
        {#<div class="card-body">#}
        {#<div class="resource-block">#}
        {#<div class="icon-box">#}
        {#<img src="/themes/rms/templates/dist/images/play-small.svg"#}
        {#alt="icon play">#}
        {#</div>#}
        {#<span>On-Demand Webinar</span>#}
        {#</div>#}
        {#<div class="date-box">#}
        {#<p>Friday, May 03, 2019</p>#}
        {#</div>#}
        {#<div class="text-block">#}
        {#<h4>Navigating Wildfire Risk: Catastrophe Analytics for a New Peak Peril</h4>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-md-4 col-sm-6 col-xs-12 cards-item">#}
        {#<div class="img-top play-icon">#}
        {#<img src="/themes/rms/templates/dist/images/ondemand-webinar.jpg" alt="image">#}
        {#</div>#}
        {#<div class="card-body">#}
        {#<div class="resource-block">#}
        {#<div class="icon-box">#}
        {#<img src="/themes/rms/templates/dist/images/play-small.svg"#}
        {#alt="icon play">#}
        {#</div>#}
        {#<span>On-Demand Webinar</span>#}
        {#</div>#}
        {#<div class="date-box">#}
        {#<p>Friday, April 26, 2019</p>#}
        {#</div>#}
        {#<div class="text-block">#}
        {#<h4>Wildfire Catastrophe Modeling: Analytics for a New Peak Peril</h4>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-md-4 col-sm-6 col-xs-12 cards-item">#}
        {#<div class="img-top play-icon">#}
        {#<img src="/themes/rms/templates/dist/images/analytics-img.jpg" alt="image">#}
        {#</div>#}
        {#<div class="card-body">#}
        {#<div class="resource-block">#}
        {#<div class="icon-box">#}
        {#<img src="/themes/rms/templates/dist/images/play-small.svg"#}
        {#alt="icon play">#}
        {#</div>#}
        {#<span>On-Demand Webinar</span>#}
        {#</div>#}
        {#<div class="date-box">#}
        {#<p>Wednesday, October 31, 2018</p>#}
        {#</div>#}
        {#<div class="text-block">#}
        {#<h4>Learn Best Practices for Shaping Your Portfolio in a Soft Market</h4>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-md-4 col-sm-6 col-xs-12 cards-item">#}
        {#<div class="img-top play-icon">#}
        {#<img src="/themes/rms/templates/dist/images/city-img.jpg" alt="image">#}
        {#</div>#}
        {#<div class="card-body">#}
        {#<div class="resource-block">#}
        {#<div class="icon-box">#}
        {#<img src="/themes/rms/templates/dist/images/play-small.svg"#}
        {#alt="icon play">#}
        {#</div>#}
        {#<span>On-Demand Webinar</span>#}
        {#</div>#}
        {#<div class="date-box">#}
        {#<p>Tuesday, March 22, 2016</p>#}
        {#</div>#}
        {#<div class="text-block">#}
        {#<h4>Owning Your Data Is Necessary to Survive and Grow</h4>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-md-4 col-sm-6 col-xs-12 cards-item">#}
        {#<div class="img-top play-icon">#}
        {#<img src="/themes/rms/templates/dist/images/city-img.jpg" alt="image">#}
        {#</div>#}
        {#<div class="card-body">#}
        {#<div class="resource-block">#}
        {#<div class="icon-box">#}
        {#<img src="/themes/rms/templates/dist/images/play-small.svg"#}
        {#alt="icon play">#}
        {#</div>#}
        {#<span>On-Demand Webinar</span>#}
        {#</div>#}
        {#<div class="date-box">#}
        {#<p>Tuesday, March 22, 2016</p>#}
        {#</div>#}
        {#<div class="text-block">#}
        {#<h4>Owning Your Data Is Necessary to Survive and Grow</h4>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-md-4 col-sm-6 col-xs-12 cards-item">#}
        {#<div class="img-top play-icon">#}
        {#<img src="/themes/rms/templates/dist/images/city-img.jpg" alt="image">#}
        {#</div>#}
        {#<div class="card-body">#}
        {#<div class="resource-block">#}
        {#<div class="icon-box">#}
        {#<img src="/themes/rms/templates/dist/images/play-small.svg"#}
        {#alt="icon play">#}
        {#</div>#}
        {#<span>On-Demand Webinar</span>#}
        {#</div>#}
        {#<div class="date-box">#}
        {#<p>Tuesday, March 22, 2016</p>#}
        {#</div>#}
        {#<div class="text-block">#}
        {#<h4>Owning Your Data Is Necessary to Survive and Grow</h4>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-md-4 col-sm-6 col-xs-12 cards-item">#}
        {#<div class="img-top play-icon">#}
        {#<img src="/themes/rms/templates/dist/images/city-img.jpg" alt="image">#}
        {#</div>#}
        {#<div class="card-body">#}
        {#<div class="resource-block">#}
        {#<div class="icon-box">#}
        {#<img src="/themes/rms/templates/dist/images/play-small.svg"#}
        {#alt="icon play">#}
        {#</div>#}
        {#<span>On-Demand Webinar</span>#}
        {#</div>#}
        {#<div class="date-box">#}
        {#<p>Tuesday, March 22, 2016</p>#}
        {#</div>#}
        {#<div class="text-block">#}
        {#<h4>Owning Your Data Is Necessary to Survive and Grow</h4>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-md-4 col-sm-6 col-xs-12 cards-item">#}
        {#<div class="img-top play-icon">#}
        {#<img src="/themes/rms/templates/dist/images/city-img.jpg" alt="image">#}
        {#</div>#}
        {#<div class="card-body">#}
        {#<div class="resource-block">#}
        {#<div class="icon-box">#}
        {#<img src="/themes/rms/templates/dist/images/play-small.svg"#}
        {#alt="icon play">#}
        {#</div>#}
        {#<span>On-Demand Webinar</span>#}
        {#</div>#}
        {#<div class="date-box">#}
        {#<p>Tuesday, March 22, 2016</p>#}
        {#</div>#}
        {#<div class="text-block">#}
        {#<h4>Owning Your Data Is Necessary to Survive and Grow</h4>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-md-4 col-sm-6 col-xs-12 cards-item">#}
        {#<div class="img-top play-icon">#}
        {#<img src="/themes/rms/templates/dist/images/city-img.jpg" alt="image">#}
        {#</div>#}
        {#<div class="card-body">#}
        {#<div class="resource-block">#}
        {#<div class="icon-box">#}
        {#<img src="/themes/rms/templates/dist/images/play-small.svg"#}
        {#alt="icon play">#}
        {#</div>#}
        {#<span>On-Demand Webinar</span>#}
        {#</div>#}
        {#<div class="date-box">#}
        {#<p>Tuesday, March 22, 2016</p>#}
        {#</div>#}
        {#<div class="text-block">#}
        {#<h4>Owning Your Data Is Necessary to Survive and Grow</h4>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-md-4 col-sm-6 col-xs-12 cards-item">#}
        {#<div class="img-top play-icon">#}
        {#<img src="/themes/rms/templates/dist/images/city-img.jpg" alt="image">#}
        {#</div>#}
        {#<div class="card-body">#}
        {#<div class="resource-block">#}
        {#<div class="icon-box">#}
        {#<img src="/themes/rms/templates/dist/images/play-small.svg"#}
        {#alt="icon play">#}
        {#</div>#}
        {#<span>On-Demand Webinar</span>#}
        {#</div>#}
        {#<div class="date-box">#}
        {#<p>Tuesday, March 22, 2016</p>#}
        {#</div>#}
        {#<div class="text-block">#}
        {#<h4>Owning Your Data Is Necessary to Survive and Grow</h4>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#<div class="button-box">#}
        {#<a href="#" class="btn-white"><span>Load More</span></a>#}
        {#</div>#}
    </div>
</section>
