{% for item in items %}
    {% set view =  item.content['#field_collection_item'].field_view.value %}
    {% set view_file_path = directory ~ '/templates/view/'~ view ~'.html.twig' %}

    {# Check Image #}
    {% if item.content['#field_collection_item'].field_image.isempty %}
        {% set img_url, img_alt = '', '' %}
    {% else %}
        {% set img_url, img_alt = file_url(item.content['#field_collection_item'].field_image.entity.uri.value), item.content['#field_collection_item'].field_image.alt %}
    {% endif %}
    {% include  view_file_path %}
{% endfor %}