<section class="col-three-slider overlap">
    <div class="container">
        <div class="column-wrapper">
            {{ drupal_view('hero_slider', 'block_1') }}
            <div class="button-wrap">
                <span class="pre-btn"></span>
                <div class="dots-outer">
                </div>
                <span class="next-btn"></span>
            </div>
        </div>
    </div>
</section>