<section class="leadership-slider">
  <div class="container">
    <div class="slider-block">
      {#<div class="row slider-outer wow fadeInUp" data-wow-delay="0.5s">#}
      {{ drupal_view('leadership', 'block_1') }}
      {#</div>#}
      <div class="button-wrap">
        <span class="pre-btn"></span>
        <div class="dots-outer">
        </div>
        <span class="next-btn"></span>
      </div>
    </div>
  </div>
</section>