<section class="leadership-grid">
    <div class="container">
        {#<div class="row cards-wrapper wow fadeInUp" data-wow-delay="0.6s">#}
            {{ drupal_view('leadership', 'block_2') }}
        {#</div>#}
    </div>
</section>


