<section class="logo-grid animation-second grid-images">
    <div class="bg-img">
        {% if img_url %}
            <img src="{{ img_url }}" alt="{{ img_alt }}">
        {% else %}
            <img src="/themes/rms/templates/dist/images/model-bg.jpg" alt="Default">
        {% endif %}
    </div>
    <div class="container">
        <div class="container-box">
            <div class="pattern-animation wow fadeIn" data-wow-delay="0.6s" id="lottie2">
            </div>
            <div class="row-wrap wow fadeInUp" data-wow-delay="0.5s">
                {{ drupal_view('model', 'block_1') }}
            </div>
        </div>
    </div>
</section>