{% set block_1, block_3, block_5 = drupal_view('resource', 'block_1')|render, drupal_view('resource', 'block_3')|render, drupal_view('resource', 'block_5')|render  %}
{% if block_1|striptags|trim %}
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5cc30e52a85862a9"></script>
<section class="news-slider animation-four">
    <div class="container">
        <div class="slider-block">
            <div class="item diff">
                {{ drupal_view('resource', 'block_1') }}

                <div class="resources-block">
                  {{ drupal_view('resource', 'block_2') }}
                </div>
            </div>

          {% if block_3|striptags|trim %}
          <div class="item">
            <div class="resources-block half-width">
              {{ drupal_view('resource', 'block_3') }}
            </div>
            <div class="resources-block half-width">
              {{ drupal_view('resource', 'block_4') }}
            </div>
          </div>
          {% endif %}
          {% if block_5|striptags|trim %}
          <div class="item">
            <div class="resources-block half-width">
              {{ drupal_view('resource', 'block_5') }}
            </div>
            <div class="resources-block half-width">
              {{ drupal_view('resource', 'block_6') }}
            </div>
          </div>
          {% endif %}
        </div>
        <div class="button-wrap">
            <span class="pre-btn"></span>
            <div class="dots-outer">
            </div>
            <span class="next-btn"></span>

        </div>
    </div>
</section>
{% endif %}
