<section class="filter-block resources-grid">
    <div class="container-box">
        <div class="container">
            <div class="content-wrapper">
                <div class="filter-wrap">
                    {% for item in page.resourceCount.items %}
                        <div class="check-content">
                            <input class="styled-checkbox" type="checkbox" value="{{ item.type }}" id="{{ item.type }}">
                            <label for="{{ item.type }}">{{ item.label }} ({{ item.count }})</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="reset-filter">
                    <p>Reset Filters</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="events-cards resource-grid">
    <div class="container">

        {{ drupal_view('resource_grid', 'block_1') }}

    </div>
</section>
