<section class="slider-with-dates animation-five">
    <div class="bg-img " >
    </div>
    <div class="container">
        <div class="pattern-animation" id="lottie5"></div>
        <div class="left-slider-block  wow fadeInUp" data-wow-delay="0.5s">
            {{ drupal_view('event', 'block_1') }}
        </div>
        <div class="right-slider-block wow fadeInUp" data-wow-delay="0.6s">
            <div class="years-block">
                {{ drupal_view('archive', 'block_1') }}
            </div>
            <div class="button-wrap">
                <span class="pre-btn"></span>
                <span class="square-box"></span>
                <span class="next-btn"></span>
            </div>
        </div>
    </div>
</section>