{% set body = content.field_blurb|render|striptags %}
{% set subtitle = content.field_subtitle|render|striptags %}
{% set no_content = '' %}
{% if body is empty %}
  {% set no_content = 'no-content' %}
{% endif %}
<div class="content-box {{ no_content }}">
  <div class="icon-box">
    <img src="/themes/rms/templates/dist/images/svg/{{ content.field_icon_four[0] }}.svg"
         alt="{{ content.field_icon_four[0] }}">
  </div>
  <p>{{ content.field_title[0] }}</p>
  {% if body is not empty %}
    <div class="side-content">
      <h4>{{ subtitle }}</h4>
      <p>{{ body|convert_encoding('UTF-8', 'HTML-ENTITIES')|truncate(231, true, '...') }}</p>
      {% if content.field_link[0]['#title'] %}
        <div class="button-box">
          <a href="{{ content.field_link[0]['#url'] }}" class="learn-more">{{ content.field_link[0]['#title'] }}</a>
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
