{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
  {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="logo-four-grid {{ class|join(' ') }}">
  {% if content.field_image[0] is not empty %}
    <div class="bg-img">
      {{ content.field_image[0] }}
    </div>
  {% endif %}
  <div class="container">
    <div class="container-box">
      <div class="pattern-animation wow fadeIn" data-wow-delay="0.6s" id="lottie2">
      </div>
      <div class="row-wrap wow fadeInUp" data-wow-delay="0.5s">
        {{ content.field_logo_four_grid_items }}
      </div>
    </div>
  </div>
</section>

