{% if content.field_title_four[0] is not empty %}
<section class="image-with-slider animation-three service-detail-page-slider">
    <div class="container">
        <div class="intro-block green-border align-center wow fadeInUp" data-wow-delay="0.4s">
            <h3>{{ content.field_title_four[0] }}</h3>
        </div>
        <div class="award-top-carousel">
            <div class="pattern-animation" id="lottie3">
                {#<img src="/themes/rms/templates/dist/images/svg/Grid-blue.svg" alt="green pattern">#}
            </div>
            {#<div class="rectangle-box wow fadeInRight" data-wow-delay="1.6s"></div>#}
            <div class="slider-outer">
                {{ content.field_service_testimonial_items }}
            </div>

            <div class="button-wrap">
                <span class="pre-btn"></span>
                <div class="dots-outer">
                </div>
                <span class="next-btn"></span>
            </div>
        </div>
    </div>
</section>
{% endif %}
