{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="card-with-features animation-first {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    <div class="row-wrapper no-gutters">
        <div class="pattern-animation wow fadeIn"  data-wow-delay="0.5s" id="lottie1"></div>
        <div class="container">
            <div class="overview-block green-border align-left wow zoomIn" data-wow-delay="0.4s">
                <div class="container">
                    <h2>{{ content.field_title[0] }}</h2>
                    {{ content.field_blurb[0] }}
                </div>
            </div>
            <div class="slider-block  wow fadeIn" data-wow-delay="0.4s">
                <div class="row">
                    {{ content.field_card_with_features_items }}
                </div>
            </div>
        </div>
    </div>
</section>
