{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}

<section class="resource-with-card sol-detail {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    <div class="bg-img "></div>
    <div class="container">
        <div class="pattern-animation wow fadeIn" id="lottie2" data-wow-delay="0.5s">
            {#<img src="/themes/rms/templates/dist/images/svg/Grid.svg" alt="white pattern">#}
        </div>
        <div class="row column-wrapper no-gutters wow fadeInUp" data-wow-delay="0.4s">
            <div class="col-two image-box">
                <div class="img-wrapper">
                    <div class="top-border"></div>
                    {{ content.field_image[0] }}
                </div>
            </div>
            <div class="col-two green-border align-left text-wrapper ">
                {#{% if content.field_type[0] is not empty %}#}
                    {#<div class="logo-title">#}
                        {#<div class="logo-wrap">#}
                            {#<img src="/themes/rms/templates/dist/images/svg/{{ content.field_type[0] }}.svg" alt="{{ content.field_type[0] }}">#}
                        {#</div>#}
                        {#<span class="small-title">{{ content.field_type[0] }}</span>#}
                    {#</div>#}
                {#{% endif %}#}
                <h2>{{ content.field_title[0] }}</h2>
                {{ content.field_blurb[0] }}
                <div class="button-box">
                    <a href="{{ content.field_link[0]['#url'] }}"
                       class="learn-more">{{ content.field_link[0]['#title'] }}</a>
                </div>
            </div>
        </div>
    </div>
</section>

