<footer class="footer-block">
    <div class="bottom-border wow fadeIn" data-wow-delay="0.5s">
    </div>
    <div class="container">
        <div class="row col-wrapper no-gutters wow fadeIn" data-wow-delay="0.8s">
            <div class="col-md-3 col-sm-12 left-block">
                <a href="/" class="logo-box">
                    <img src="/themes/rms/templates/dist/images/rms-logo.svg" alt="RMS Logo">
                </a>
                <div class="icon-wrapper">
                    <a class="icon-box" href="https://www.facebook.com/RMSglobal/">
                        {#<img src="/themes/rms/templates/dist/images/facebook-logo.svg" alt="facebook logo">#}
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                            <defs>
                                <clipPath id="clip-path">
                                    <path id="Rectangle_2900" d="M0 0h16v16H0z" class="cls-1" data-name="Rectangle 2900"
                                          transform="translate(102 5906)"/>
                                </clipPath>
                            </defs>
                            <g id="Group_5272" data-name="Group 5272" transform="translate(-102 -5906)">
                                <path id="Rectangle_2897" d="M0 0h30v30H0z" class="cls-2" data-name="Rectangle 2897"
                                      transform="translate(102 5906)"/>
                                <g id="Mask_Group_9" class="cls-3" data-name="Mask Group 9" transform="translate(7 7)">
                                    <g id="_002-facebook-logo" data-name="002-facebook-logo"
                                       transform="translate(105.675 5906)">
                                        <path id="Path_7285"
                                              d="M15.215 0H13.14A3.644 3.644 0 0 0 9.3 3.938v1.815H7.216a.326.326 0 0 0-.326.326V8.71a.326.326 0 0 0 .326.326H9.3v6.637a.326.326 0 0 0 .329.327h2.722a.326.326 0 0 0 .326-.326V9.036h2.439a.326.326 0 0 0 .326-.326V6.08a.326.326 0 0 0-.326-.326h-2.44v-1.54c0-.74.176-1.115 1.14-1.115h1.4a.326.326 0 0 0 .326-.326V.33a.326.326 0 0 0-.327-.33z"
                                              class="cls-1" data-name="Path 7285" transform="translate(-6.89)"/>
                                    </g>
                                </g>
                            </g>
                        </svg>

                    </a>
                    <a class="icon-box" href="https://linkedin.com/company/rms">
                        {#<img src="/themes/rms/templates/dist/images/linkedin-logo.svg" alt="linkedIn logo">#}
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                            <defs>
                                <clipPath id="clip-path">
                                    <path id="Rectangle_2901" d="M0 0h16v16H0z" class="cls-1" data-name="Rectangle 2901"
                                          transform="translate(144 5906)"/>
                                </clipPath>
                            </defs>
                            <g id="Group_5271" data-name="Group 5271" transform="translate(-144 -5906)">
                                <path id="Rectangle_2898" d="M0 0h30v30H0z" class="cls-2" data-name="Rectangle 2898"
                                      transform="translate(144 5906)"/>
                                <g id="Mask_Group_10" class="cls-3" data-name="Mask Group 10"
                                   transform="translate(7 6)">
                                    <g id="_001-linkedin-letters" data-name="001-linkedin-letters"
                                       transform="translate(144 5906.355)">
                                        <g id="Group_5269" data-name="Group 5269">
                                            <path id="Rectangle_2903" d="M0 0h3.437v10.323H0z" class="cls-1"
                                                  data-name="Rectangle 2903" transform="translate(.198 4.969)"/>
                                            <path id="Path_7286"
                                                  d="M19.756 10.714a3.7 3.7 0 0 0-2.865-1.182 4.128 4.128 0 0 0-1.193.162 2.706 2.706 0 0 0-.906.453 3.881 3.881 0 0 0-.995 1.093V9.771h-3.426l.011.5q.011.5.011 3.083t-.021 6.74H13.8v-5.761a2.516 2.516 0 0 1 .115-.844 2.213 2.213 0 0 1 .662-.89 1.687 1.687 0 0 1 1.1-.36 1.482 1.482 0 0 1 1.318.62 3.014 3.014 0 0 1 .422 1.714v5.521h3.423v-5.917a4.96 4.96 0 0 0-1.084-3.463z"
                                                  class="cls-1" data-name="Path 7286"
                                                  transform="translate(-4.84 -4.802)"/>
                                            <path id="Path_7287"
                                                  d="M1.937.664a1.961 1.961 0 0 0-1.4.505A1.677 1.677 0 0 0 0 2.445a1.707 1.707 0 0 0 .521 1.271 1.88 1.88 0 0 0 1.375.51h.021a1.963 1.963 0 0 0 1.412-.51 1.649 1.649 0 0 0 .526-1.271 1.738 1.738 0 0 0-.531-1.276A1.9 1.9 0 0 0 1.937.664z"
                                                  class="cls-1" data-name="Path 7287" transform="translate(0 -.664)"/>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>

                    </a>
                    <a class="icon-box" href="https://twitter.com/RMS">
                        {#<img src="/themes/rms/templates/dist/images/twitter-logo.svg" alt="twitter logo">#}
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                            <defs>
                                <clipPath id="clip-path">
                                    <path id="Rectangle_2902" d="M0 0h16v16H0z" class="cls-1" data-name="Rectangle 2902"
                                          transform="translate(186 5906)"/>
                                </clipPath>
                            </defs>
                            <g id="Group_5273" data-name="Group 5273" transform="translate(-186 -5906)">
                                <path id="Rectangle_2899" d="M0 0h30v30H0z" class="cls-2" data-name="Rectangle 2899"
                                      transform="translate(186 5906)"/>
                                <g id="Mask_Group_11" class="cls-3" data-name="Mask Group 11"
                                   transform="translate(7 7)">
                                    <g id="_003-twitter" data-name="003-twitter" transform="translate(186 5907.5)">
                                        <g id="Group_5270" data-name="Group 5270">
                                            <path id="Path_7288"
                                                  d="M16 4.352a6.839 6.839 0 0 1-1.89.518 3.262 3.262 0 0 0 1.443-1.813 6.555 6.555 0 0 1-2.08.794A3.28 3.28 0 0 0 7.8 6.094a3.378 3.378 0 0 0 .076.748 9.284 9.284 0 0 1-6.762-3.431 3.281 3.281 0 0 0 1.008 4.383 3.239 3.239 0 0 1-1.482-.4v.036a3.3 3.3 0 0 0 2.628 3.223 3.274 3.274 0 0 1-.86.108 2.9 2.9 0 0 1-.621-.056 3.311 3.311 0 0 0 3.065 2.285 6.591 6.591 0 0 1-4.067 1.4A6.144 6.144 0 0 1 0 14.34a9.234 9.234 0 0 0 5.032 1.472 9.272 9.272 0 0 0 9.336-9.334c0-.145-.005-.285-.012-.424A6.544 6.544 0 0 0 16 4.352z"
                                                  class="cls-1" data-name="Path 7288" transform="translate(0 -2.813)"/>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>

                    </a>
                </div>
                <ul class="list-box">
                    <li>7575 Gateway Blvd., Suite 300</li>
                    <li>Newark, CA 94560</li>
                    <li>
                        <a href="tel:+1 (510) 505-2500">+1 (510) 505-2500</a></li>
                </ul>
            </div>
            <div class="col-md-9 col-sm-12 right-block">
                <div class="row wrapper-row">
                    <div class="col-md-3 col-sm-4 col-xs-6 col-item company">
                        {% if page.we_user.admin %}
                            <a class="edit" href="/admin/structure/menu/manage/footer-one" hreflang="en" tabindex="0">[edit]</a>
                        {% endif %}
                        <h6>Company</h6>

                        {{ drupal_menu('footer-one') }}

                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6 col-item customer">
                        {% if page.we_user.admin %}
                            <a class="edit" href="/admin/structure/menu/manage/footer-two" hreflang="en" tabindex="0">[edit]</a>
                        {% endif %}
                        <h6>For Customers</h6>
                        {{ drupal_menu('footer-two') }}
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6 col-item event">
                        {% if page.we_user.admin %}
                            <a class="edit" href="/admin/structure/menu/manage/footer-three" hreflang="en" tabindex="0">[edit]</a>
                        {% endif %}
                        <h6>Newsroom</h6>
                        {{ drupal_menu('footer-three') }}
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6 col-item resource">
                        {% if page.we_user.admin %}
                            <a class="edit" href="/admin/structure/menu/manage/footer-four" hreflang="en" tabindex="0">[edit]</a>
                        {% endif %}
                        <h6>Resources</h6>
                        {{ drupal_menu('footer-four') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-box wow fadeIn" data-wow-delay="0.2s">
        <div class="container">
            <div class="row wrapper-box">
                <div class="col-md-6 copyright-txt">
                    <small> &copy; {{ "now"|date("Y") }} Risk Management Solutions, Inc. RMS is a registered trademark and the RMS logo is a trademark of Risk Management Solutions, Inc. All other trademarks are property of their respective owners.</small>
                </div>
                <div class="col-md-6 link-wrap">
                    {% if page.we_user.admin %}
                        <a class="edit" href="/admin/structure/menu/manage/footer-utility" hreflang="en" tabindex="0">[edit]</a>
                    {% endif %}
                    {{ drupal_menu('footer-utility') }}
                </div>
            </div>
        </div>
    </div>
</footer>


<div class="home-overlay">
    <div class="close-btn">
        <img src="/themes/rms/templates/assets/images/close-btn-overlay.png" alt="close button">
    </div>
    <div class="overlay-wrapper">
        <div class="overlay-box">
            <img src="">
            <div class="place-location">
                <span></span>
            </div>
        </div>
    </div>
</div>


<section class="video-overlay" style="visibility: visible;">
    <div class="v-middle-inner">
        <div class="v-middle">
            <div class="video-container">
                <h6>Video Title</h6>
                <iframe src="" allowfullscreen=""></iframe>
                <button class="closeVideo">
                    {#<img src="/themes/datastax/templates/dist/images/svg/close_btn.svg" alt="Close">#}
                </button>
            </div>
        </div>
    </div>
</section>


{#<div class="infographic-overlay">#}
  {#<div class="v-middle-inner">#}
    {#<div class="v-middle">#}
      {#<div class="column-wrapper">#}
        {#<div class="cover-overlay-box">#}
          {#<div class="close-btn">#}
          {#</div>#}
          {#<img src="">#}
          {#<div class="item-overlay">#}
            {#<span></span>#}
          {#</div>#}
        {#</div>#}
      {#</div>#}
    {#</div>#}
  {#</div>#}
{#</div>#}


<div class="thank-you-overlay">
    <div class="v-middle-inner">
        <div class="v-middle">
            <div class="column-wrapper green-border">
                <div class="close-btn">
                </div>
                <p class="thank-you-title">Thank You</p>
                {% if nid == 2692 %}
                    <p>Thank you for subscribing to our newsletter. Watch your inbox for the latest edition!</p>
                {% else %}
                    <p>You’ll be contacted by an RMS specialist shortly.</p>
                {% endif %}
                <div class="button-box">
                    <a href="#" class="btn-red"><span>CTA Text</span></a>
                </div>
            </div>
        </div>
    </div>
</div>


{#//cookie banner //#}
<div class="cookies-banner " id="myModal">
    <div class="container">
        <div class="content-wrap">
            <p>RMS.com uses cookies to improve your experience and analyze site usage. Read <a href="/legal/cookie-policy" class="bold">Cookie
                    Policy</a> or click <span class="close-txt bold">I understand.</span>
            </p>
            <span class="close-btn"><img
                        src="/themes/rms/templates/assets/images/close-btn.png" alt="close"></span>
        </div>
    </div>
</div>
