<header class="header-rms bg-white new-header">
    <div class="container">
        <div class=" wrapper-white">
            <div class="header-wrap">
                <a href="/home" class="logo-img">
                    <img src="/themes/rms/templates/dist/images/rms-head-logo.svg" alt="logo image"/>
                </a>
                <div class="hamburger-logo">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
                <nav>
                    <ul>
                        <li class="nav-list"><a href="/risk-intelligence">Products</a>
                            <div class="sub-menu">
                                <div class="sub-content product-content">
                                    <div class="row row-wrap">
                                        <div class="col-content overview">
                                            <a href="/risk-intelligence" class="head-text">Risk Intelligence</a>
                                            <p class="small-text">Uncover global risk insights with the world’s first
                                                open, modular and unified risk platform and applications suite in the
                                                cloud</p>
                                            <div class="sub-links">
                                                <span><a href="/risk-intelligence/risk-modeler">Risk Modeler</a>
                                                </span>
                                                <span><a href="/risk-intelligence/exposureiq">ExposureIQ</a>
                                                </span>
                                                <span><a href="/risk-intelligence/siteiq">SiteIQ</a>
                                                </span>
                                                <span><a href="/risk-intelligence/location-intelligence-api">Location Intelligence API</a>
                                                </span>
                                                <span><a href="/risk-intelligence/treatyiq">TreatyIQ</a>
                                                </span>
                                                <span><a href="/risk-intelligence/risk-investoriq">Risk InvestorIQ</a>
                                                </span>
                                                {#<span><a href="#">Integrations API</a>#}
                                                {#</span>#}
                                            </div>
                                        </div>
                                        <div class="col-content model bg-grey">
                                            <a href="/models" class="head-text">Models and Risks
                                            </a>
                                            <p class="small-text">Understand uncertainty with risk- and region-specific
                                                models that integrate unmatched data depth </p>
                                            <div class="sub-links">
                                                <span><a href="/models/agriculture">Agriculture</a>
                                                </span>
                                                <span><a href="/models/builders-risk">Builders Risk</a>
                                                </span>
                                                <span><a href="/models/cyber">Cyber</a>
                                                </span>
                                                <span><a href="/models/cyclone-hurricane-typhoon">Cyclone, Hurricane,
                                                        and Typhoon</a>
                                                </span>
                                                <span><a href="/models/earthquake">Earthquake</a>
                                                </span>
                                                <span><a href="/models/flood">Flood</a>
                                                </span>
                                                <span><a href="/models/industrial-facilities">Industrial Facilities</a>
                                                </span>
                                                <span><a href="/models/liferisks">LifeRisks</a>
                                                </span>
                                            </div>
                                            <div class="sub-links">
                                                <span><a href="/models/marine-cargo-specie">Marine Cargo and
                                                        Specie</a>
                                                </span>
                                                <span><a href="/models/offshore-energy-platforms">Offshore Platform</a>
                                                </span>
                                                <span><a href="/models/severe-convective-storm">Severe Convective Storm</a>
                                                </span>
                                                <span><a href="/models/terrorism">Terrorism</a>
                                                </span> <span><a href="/models/tsunami">Tsunami</a>
                                                </span>
                                                <span><a href="/models/wildfire">Wildﬁre</a>
                                                </span>
                                                <span><a href="/models/windstorm">Windstorm</a>
                                                </span>
                                                <span><a href="/models/winterstorm">Winterstorm</a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-content data">
                                            <a href="/data" class="head-text">Data</a>
                                            <p class="small-text">Get real-time understanding when and where you need it
                                                most with accurate, insightful data </p>
                                            <div class="sub-links">
                                                <span><a href="/data/exposure-data">Exposure</a>
                                                </span>
                                                <span><a href="/data/geocoding">Geocoding</a>
                                                </span>
                                                <span><a href="/data/hazard-data">Hazard</a>
                                                </span>
                                                <span><a href="/data/loss-costs">Loss Costs</a>
                                                </span>
                                                <span><a href="/data/riskscores">Risk Score</a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-content software bg-grey">
                                            <a href="/more-software-products" class="head-text">More Software Products
                                            </a>
                                            <p class="small-text">Turn data into intelligence with traditional RMS
                                                software solutions </p>
                                            <div class="sub-links">
                                                <span><a href="/more-software-products/miu">Miu</a>
                                                </span>
                                                <span><a href="/more-software-products/riskbrowser">RiskBrowser</a>
                                                </span>
                                                <span><a href="/more-software-products/risklink">RiskLink</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-list"><a href="/services">Services</a>
                            <div class="sub-menu">
                                <div class="serivces-content sub-content">
                                    <div class="row row-wrap">
                                        <div class="col-content">
                                            <a href="/services" class="head-text">Services Overview</a>
                                            <div class="sub-links">
                                              <span><a href="/services/analytical-services">Analytical Services</a>
                                            <p class="small-text">Extend your in-house capabilities with experienced, on-demand analytics experts</p>
                                            </span>
                                                <span><a href="/services/model-consulting">Model Consulting</a>
                                            <p class="small-text">Implement best-practice modeling or tailor model usage to your business</p>
                                            </span>
                                            </div>
                                            <div class="sub-links">
                                                <span><a href="/services/strategic-consulting-and-solution-assessment">Strategic Consulting and Solution Assessment</a>
                                                    <p class="small-text">Identify issues and develop actionable recommendations that drive progress</p>
                                                </span>
                                                <span><a href="/services/deployment-and-implementation">Deployment and Implementation</a>
                                                    <p class="small-text">Maximize the business value RMS software delivers at every step in your workflow</p>
                                                </span>

                                            </div>
                                        </div>
                                        <div class="media-block service-media">
                                            <div class="img-box">
                                                <img src="/themes/rms/templates/dist/images/data-solutions-rms.jpg"
                                                            alt="Global Network"/>
                                            </div>
                                            <h5>RMS Data Solutions</h5>
                                            <p class="small-text">Data Where It Really Matters</p>
                                            <a class="learn-more"
                                               href="/solutions/public-sector#data"
                                               >Learn
                                                More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-list"><a href="/solutions">Solutions</a>
                            <div class="sub-menu">
                                <div class="sub-content solutions-content">
                                    <div class="row row-wrap">
                                        <div class="col-content">
                                            <a href="/solutions" class="head-text">Solutions Overview</a>
                                            <div class="sub-links">
                                                <h6>By Industry</h6>
                                                <p class="small-text">Find RMS solutions developed to support the needs
                                                    of your industry</p>
                                                <span><a href="/solutions/insurance">Insurance</a>
                                                </span>
                                                <span><a href="/solutions/reinsurance">Reinsurance</a>
                                                </span>
                                                <span><a href="/solutions/brokers">Brokers</a>
                                                </span>
                                                <span><a href="/solutions/corporate-risk-management">Corporate Risk Management</a>
                                                </span>
                                                <span><a href="/solutions/financial-services">Financial Services</a>
                                                </span>
                                                <span><a href="/solutions/insurance-linked-securites">Insurance-Linked Securities</a>
                                                </span>
                                                <span><a href="/solutions/public-sector">Public Sector</a>
                                                </span>

                                            </div>
                                            <div class="sub-links">
                                                <h6>By Function</h6>
                                                <p class="small-text">Discover how RMS solutions can benefit specific
                                                    areas of your business</p>
                                                <span><a href="/solutions/catastrophe-modeling">Catastrophe Modeling</a>
                                                </span>
                                                <span><a href="/solutions/it-and-technology">IT and Technology</a>
                                                </span>
                                                <span><a href="/solutions/portfolio-management">Portfolio Management</a>
                                                </span>
                                                <span><a href="/solutions/resilience">Resilience</a>
                                                </span>
                                                <span><a href="/solutions/underwriting">Underwriting</a>
                                              Resources & Insights  </span>
                                            </div>
                                            <div class="sub-links">
                                                <h6>By Region</h6>
                                                <p class="small-text">Explore models focused on unique risks in specific
                                                    areas of the world </p>
                                                <span><a href="/solutions/north-america">North America</a>
                                                </span>
                                                <span><a href="/solutions/europe">Europe</a>
                                                </span>
                                                <span><a href="/solutions/latin-america-and-caribbean">Latin America and Caribbean</a>
                                                </span>
                                                <span><a href="/solutions/asia-pacific">Asia-Pacific</a>
                                                </span>

                                            </div>
                                        </div>
                                        <div class="media-block sol-media">
                                            <div class="img-box">
                                                <img src="/themes/rms/templates/dist/images/RMS-Outperforms.jpg"
                                                     alt="Discover how RMS helps Customers Outperform"/>
                                            </div>
                                            <h5>Be Prepared During Uncertainty</h5>
                                            <p class="small-text">8 Ways RMS Helps Customers Outperform</p>
                                            <a class="learn-more"
                                               href="/risk-analytics/why-rms-infographic">Learn
                                                More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-list"><a href="/resources">Resources</a>
                            <div class="sub-menu">
                                <div class="serivces-content resource sub-content col-two-columns">
                                    <div class="row row-wrap">
                                        <div class="col-content services-block">
                                            <div class="sub-links">
                                                <h6><a href="/resources">Resources</a></h6>
                                                <p class="small-text">Discover real-time risk resources and the latest
                                                    RMS perspectives on risk and resilience</p>
                                                <span><a href="/blog">Blogs</a>
                                            </span>
                                                <span><a href="/event-response">Current Catastrophes</a>
                                            </span>
                                                <span><a href="/resources?publications=publications">Publications</a>
                                            </span>
                                                <span><a href="https://www.rms.com/exposure/">Exposure Magazine</a></span>
                                                <span><a href="/resources?video=video">Videos </a>
                                            </span>
                                                <span><a href="/resources?infographics=infographics">Infographics</a>
                                            </span>
                                            </div>
                                            <div class="sub-links">
                                                <h6>Industry Initiatives</h6>
                                                <p class="small-text">Explore RMS insights and leadership on issues
                                                    impacting our world</p>
                                                <span><a href="/risk-analytics">Advanced Risk Analytics</a>
                                            </span>
                                                <span><a href="/climate-change">Climate Change</a>
                                            </span>
                                                <span><a href="/risk-data-open-standard">Risk Data Open Standard</a>
                                              </span>
                                            </div>
                                            {#<div class="sub-links">#}
                                                {#<h6><a href="/developer-resources">Developer Resources</a></h6>#}
                                                {#<p class="small-text">Find API reference documentation, tutorials, quick start guides, tools, and more</p>#}

                                            {#</div>#}
                                        </div>
                                        <div class="media-block resource-media">
                                            <div class="img-box">
                                                <img src="/themes/rms/templates/dist/images/HWind-Forecasting.jpg"
                                                     alt="Hurricane"/>
                                            </div>
                                            <h5>HWind Season</h5>
                                            <p class="small-text">Advances in Real-Time Hurricane Guidance and Forecasting</p>
                                            <a class="learn-more"
                                               href="/blog/2020/08/07/rms-hwind-advances-in-real-time-hurricane-guidance-and-forecasting">Learn
                                                More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-list"><a href="/about">Company</a>
                            <div class="sub-menu">
                                <div class="sub-content company-content">
                                    <div class="row row-wrap">
                                        <div class="col-content">
                                            <div class="sub-links">
                                                <h6>Company</h6>
                                                <p class="small-text">Find out more about RMS history, leadership team,
                                                    and career opportunities</p>
                                                <span><a href="/about">About RMS</a>
                                                </span>
                                                <span><a href="/about/leadership">Leadership</a>
                                                </span>
                                                <span><a href="/careers">Careers</a>
                                                </span>
                                                <span><a href="/careers/jobs">Open Positions</a>
                                                </span>
                                            </div>
                                            <div class="sub-links">
                                                <h6><a href="/newsroom">Newsroom</a></h6>
                                                <p class="small-text">Stay on top of the latest RMS news and
                                                    announcements</p>
                                                <span><a href="/newsroom?news=1">In the News</a>
                                                </span>
                                                <span><a href="/newsroom?pressRelease=2">Press Releases</a>
                                                </span>
                                            </div>
                                            <div class="sub-links">
                                                <h6><a href="/events">Events </a></h6>
                                                <p class="small-text">Join RMS experts in person or online for the
                                                    latest insights</p>
                                                {#</span>#}
                                                <span><a href="/events?tradeshows=9">Conferences</a>
                                                </span>
                                                <span><a href="/events?ondemandwebcasts=7">Webinars</a>
                                                </span>
                                                <span><a href="/events">Speaking Engagements</a>
                                                </span>
                                                <span><a href="/events/exceedance-2020-this-changes-everything">Exceedance</a>
                                                </span>
                                            </div>
                                            Resources & Insights
                                        </div>
                                        <div class="media-block company-media">
                                            <div class="img-box">
                                                <img src="/themes/rms/templates/dist/images/open-positions-ad.jpeg"
                                                     alt="careers"/>
                                            </div>
                                            <h5>Work for RMS</h5>
                                            <p class="small-text">Many Positions in Multiple Locations</p>
                                            <a class="learn-more"
                                               href="/careers/jobs?utm_source=nav-bar-ad&utm_medium=ad&utm_campaign=open%20positions">View
                                                Open Positions</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        {#<li class="red-link new-item"><a href="#">Support</a>#}
                            {#<div class="sub-menu sub-menu-red">#}
                                {#<div class="sub-links">#}
                                         {#<span><a href="/customer-support">Customer Support and Education</a>#}
                                            {#<p class="small-text">Learn more about the benefits of RMS documentation, training, and our extensive Knowledge Center support</p>#}
                                         {#</span>#}
                                             {#<span><a href="#">Developer Resources</a>#}
                                                {#<p class="small-text">Find API reference documentation, tutorials, quick start guides, tools, and more</p>#}
                                              {#</span>#}

                                {#</div>#}
                            {#</div>#}
                        {#</li>#}

                        <li class="red-link"><a href="/event-response">Event Response</a>
                            <div class="sub-menu sub-menu-red">
                                <div class="sub-links">
                                    <span><a href="/event-response">Event Response</a>
                                            <p class="small-text">Monitor real-time information about natural catastrophes around the world</p></span>
                                    <span><a href="/event-response/event-response-services">Event Response Services</a></span>
                                    <span><a href="/event-response/hwind">HWind</a></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    {#<div class="column-cover">#}
                    <div class="search-box">
                        <p>Search...</p>
                        <div class="search-icon right">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24.797" height="22.772" viewBox="0 0 24.797 22.772">
                                <defs>
                                    <clipPath id="prefix__clip-path">
                                        <path id="prefix__Rectangle_19486" d="M0 0H24.797V22.772H0z" data-name="Rectangle 19486" style="fill:#fff;stroke:#707070"/>
                                    </clipPath>
                                </defs>
                                <g id="prefix__search_icon">
                                    <g id="prefix__magnifying-glass_4_" data-name="magnifying-glass (4)" transform="translate(2.463 1.448)">
                                        <path id="prefix__Path_8716" d="M20.228 19.363L15.269 14.4a8.707 8.707 0 1 0-.86.86l4.958 4.958a.615.615 0 0 0 .43.181.6.6 0 0 0 .43-.181.612.612 0 0 0 .001-.855zM1.222 8.7A7.478 7.478 0 1 1 8.7 16.183 7.487 7.487 0 0 1 1.222 8.7z" data-name="Path 8716" transform="translate(-.005)" />
                                    </g>
                                </g>
                            </svg>



                            {##}
                            {#<img class="active-search" src="/themes/rms/templates/dist/images/search-icon.svg"#}
                                 {#alt="search icon">#}
                            {#<img class="close-img" src="/themes/rms/templates/dist/images/close-img.png"#}
                                 {#alt="search icon">#}
                        </div>
                        <div class="sub-menu ">
                            <div class="container-box">
                                <div class="search-icon search-btn">
                                    <img src="/themes/rms/templates/dist/images/bold-search-icon.svg" alt="search icon">
                                </div>
                                <form class="search-block" action="/node/2090" method="get">
                                    <div class="search-wrap">
                                        <input type="text" placeholder="Type here to search" class="search"
                                               name="q" required="">
                                        <button class="close-icon" type="reset"></button>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>
                    {#</div>#}


                    <div class="login-box">
                        <div class="icon-box">
                            <svg width="18px" height="23px" viewBox="0 0 18 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
                                <title>Group 12</title>
                                <desc>Created with Sketch.</desc>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Group-12" transform="translate(0.000000, 1.000000)" stroke="#000000" stroke-width="1.8">
                                        <path d="M0.9,20.5529946 L17.1,20.5529946 L17.1,16.2529946 C17.1,12.3317728 13.9212217,9.15299456 10,9.15299456 L8,9.15299456 C4.07877828,9.15299456 0.9,12.3317728 0.9,16.2529946 L0.9,20.5529946 Z" id="Rectangle"></path>
                                        <circle id="Oval" cx="9.09655172" cy="4.09655172" r="4.09655172"></circle>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <p>Profile</p>
                        <div class="profiles-block">
                            <div class="sub-links">
                                <span><a href="https://support.rms.com/" target="_blank">Customer Portal (Owl) <span></span></a>
                                                <p class="small-text">Access all of the proprietary resources available to you in one place</p>
                                              </span>

                                <span><a href="https://www.liferisks.com/" target="_blank">LifeRisks Portal <span></span></a>
                                                <p class="small-text">Find modeling tools based on best practice actuarial techniques and medical science</p>
                                              </span>
                                <span><a href="https://www.miuinsights.com/" target="_blank">Miu Portal <span></span></a>
                                                <p class="small-text">Explore analytics and risk insights for the alternative capital market</p>
                                              </span>

                            </div>
                        </div>
                    </div>
                    <div class="button-box">
                        <a href="/about/contact-us" class="btn-red"><span>Contact Us</span></a>
                    </div>
                    {#</div>#}
                </nav>
            </div>
        </div>
    </div>
</header>

