<!-- 6sense -->
<script type="text/javascript" async="" src="//j.6sc.co/6si.min.js"></script>

{#<!-- Youtube -->#}
<script type="text/javascript" id="" src="https://www.youtube.com/iframe_api"></script>

{#<!--Linkedin -->#}
<script type="text/javascript" id="">_linkedin_data_partner_id="361585";</script>
<script type="text/javascript" id="">
    (function(){var b=document.getElementsByTagName("script")[0],a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="https://snap.licdn.com/li.lms-analytics/insight.min.js";b.parentNode.insertBefore(a,b)})();
</script>

<!---Crazy Egg --->
<script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0094/0142.js" async="async"></script>
<!-- Smartpixel -->
{% if nid == 2715 or nid == 2692 %}
    <script type="text/javascript">
        adroll_adv_id = "XTS3OZG55JFINNZNXQFAZX";
        adroll_pix_id = "HWY4WR7Y7JHMTCRQXPOZQC";

        (function () {
            var _onload = function(){
                if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
                if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
                var scr = document.createElement("script");
                var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
                scr.setAttribute('async', 'true');
                scr.type = "text/javascript";
                scr.src = host + "/j/roundtrip.js";
                ((document.getElementsByTagName('head') || [null])[0] ||
                    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
            };
            if (window.addEventListener) {window.addEventListener('load', _onload, false);}
            else {window.attachEvent('onload', _onload)}
        }());
    </script>
{% endif %}