<section class="banner-third-level banner-event-detail " >
    <div class="bg-img wow fadeIn" data-wow-delay="0.3s">
        <img src="/themes/rms/templates/dist/images/banner-event-detail.png" alt="event detail banner">
    </div>
    <div class="v-middle-wrapper wow fadeIn" data-wow-delay="0.4s">
        <div class="v-middle-inner container">
            <div class="v-middle">
                <div class="inner-text">
                    <h1>Lorem ipsum dolor sit amet, consetetur</h1>
                    <h5>January 20-21, 2020  |  San Francisco, CA</h5>
                    <div class="button-box">
                        <a href="#" class="btn-red"><span>Register</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#<div class="place-location">#}
        {#<span>Kremenets, Ukraine</span>#}
    {#</div>#}
</section>
