<section class="col-four-with-slider solution-page-cases slider-event-detail">
    <div class="row-wrapper no-gutters">
        <div class="overview-block green-border align-left wow zoomIn" data-wow-delay="0.5s">
            <div class="container">
                <h2>Highlights / Sessions</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd.</p>
            </div>
        </div>
        <div class="slider-block  wow fadeIn" data-wow-delay="0.5s">
            <div class="button-wrap">
                <span class="pre-btn"></span>
                <div class="dots-outer">
                </div>
                <span class="next-btn"></span>
            </div>
            <div class="slide-outer">
                <div class="item-box">
                    <div class="no-state">
                        <div class="icon-box">
                            <img src="/themes/rms/templates/dist/images/svg/Icon.svg" alt="icon image">
                        </div>
                        <div class="text-block">
                            <h3>Session 1</h3>
                            <p>Lorem ipsum dolor sit amet, dolore consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt set ut labore amet dolore. Lorem met ipsum dolor sit amet, dolore consetetur.</p>
                        </div>
                    </div>
                    <div class="hover-state">
                        <div class="bg-img-top">
                            <img src="/themes/rms/templates/dist/images/laptop-clouds.jpg" alt="laptop cloud image">
                        </div>
                        <div class="content-footer">
                            <h3>Session 1</h3>
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>


                <div class="item-box">
                    <div class="no-state">
                        <div class="icon-box">
                            <img src="/themes/rms/templates/dist/images/svg/Reinsurance_icon.svg" alt="icon image">
                        </div>
                        <div class="text-block">
                            <h3>Session 2</h3>
                            <p>Lorem ipsum dolor sit amet, dolore consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt set ut labore amet dolore. Lorem met ipsum dolor sit amet, dolore consetetur.</p>
                        </div>
                    </div>
                    <div class="hover-state">
                        <div class="bg-img-top">
                            <img src="/themes/rms/templates/dist/images/laptop-clouds.jpg" alt="laptop cloud image">
                        </div>
                        <div class="content-footer">
                            <h3>Session 2</h3>
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>


                <div class="item-box">
                    <div class="no-state">
                        <div class="icon-box">
                            <img src="/themes/rms/templates/dist/images/svg/Intermediaries_icon.svg" alt="icon image">
                        </div>
                        <div class="text-block">
                            <h3>Session 3</h3>
                            <p>Lorem ipsum dolor sit amet, dolore consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt set ut labore amet dolore. Lorem met ipsum dolor sit amet, dolore consetetur.</p>
                        </div>
                    </div>
                    <div class="hover-state">
                        <div class="bg-img-top">
                            <img src="/themes/rms/templates/dist/images/laptop-clouds.jpg" alt="laptop cloud image">
                        </div>
                        <div class="content-footer">
                            <h3>Session 3</h3>
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="item-box">
                    <div class="no-state">
                        <div class="icon-box">
                            <img src="/themes/rms/templates/dist/images/svg/brokers_icon.svg" alt="icon image">
                        </div>
                        <div class="text-block">
                            <h3>Session 4</h3>
                            <p>Lorem ipsum dolor sit amet, dolore consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt set ut labore amet dolore. Lorem met ipsum dolor sit amet, dolore consetetur.</p>
                        </div>
                    </div>
                    <div class="hover-state">
                        <div class="bg-img-top">
                            <img src="/themes/rms/templates/dist/images/laptop-clouds.jpg" alt="laptop cloud image">
                        </div>
                        <div class="content-footer">
                            <h3>Session 4</h3>
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>


                <div class="item-box">
                    <div class="no-state">
                        <div class="icon-box">
                            <img src="/themes/rms/templates/dist/images/risk-modeler-icon.svg" alt="icon image">
                        </div>
                        <div class="text-block">
                            <h3>Risk Modeler</h3>
                            <p>Lorem ipsum dolor sit amet, dolore consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor
                                invidunt set ut labore amet dolore.</p>
                        </div>
                    </div>
                    <div class="hover-state">
                        <div class="bg-img-top">
                            <img src="/themes/rms/templates/dist/images/laptop-clouds.jpg" alt="laptop cloud image">
                        </div>
                        <div class="content-footer">
                            <h3>Risk Modeler</h3>
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="no-state">
                        <div class="icon-box">
                            <img src="/themes/rms/templates/dist/images/exposure-iq.png" alt="icon image">
                        </div>
                        <div class="text-block">
                            <h3>ExposureIQ</h3>
                            <p>Lorem ipsum dolor sit amet, dolore consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor
                                invidunt set ut labore amet dolore.</p>
                        </div>
                    </div>
                    <div class="hover-state">
                        <div class="bg-img-top">
                            <img src="/themes/rms/templates/dist/images/laptop-clouds.jpg" alt="laptop cloud image">
                        </div>
                        <div class="content-footer">
                            <h3>Risk Modeler</h3>
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="no-state">
                        <div class="icon-box">
                            <img src="/themes/rms/templates/dist/images/exposure-iq.png" alt="icon image">
                        </div>
                        <div class="text-block">
                            <h3>ExposureIQ</h3>
                            <p>Lorem ipsum dolor sit amet, dolore consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor
                                invidunt set ut labore amet dolore.</p>
                        </div>
                    </div>
                    <div class="hover-state">
                        <div class="bg-img-top">
                            <img src="/themes/rms/templates/dist/images/laptop-clouds.jpg" alt="laptop cloud image">
                        </div>
                        <div class="content-footer">
                            <h3>Risk Modeler</h3>
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
