<section class="image-with-text reverse-image col-video-text use-ul-event-detail">

    <div class="container">
        <div class="row column-wrapper no-gutters wow fadeInUp" data-wow-delay="0.5s">
            <div class="rectangle-box"></div>
            <div class="col-two image-box">
                <div class="img-wrapper play-icon">
                    {#<div class="video-player fadeInLeft" data-wow-delay="0.8s"> </div>#}
                    <a href="#" class="video-play" data-video="https://youtu.be/sxkCuWXKkE4"><span class="id"></span> </a>
                    <img src="/themes/rms/templates/dist/images/intro.png" alt="Meeting ing Image">

                </div>
            </div>
            <div class="col-two green-border align-left text-wrapper">
                <h3 class="">Lorem ipsum dolor sit amet</h3>
               <p>Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam,
                   sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>


                <ul>
                    <li>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est lorem ipsum.</li>
                    <li>Lorem ipsum dolor sit amet, consetetur dolores stet un amet sadipscing elitr.</li>
                    <li>Sed diam nonumy eirmod tempor invidunt labore dolore magna aliquyam consetetur, sed diam voluptua.</li>
                </ul>

                </div>
        </div>
    </div>
</section>


{#<section class="video-overlay" >#}
    {#<div class="v-middle-inner">#}
        {#<div class="v-middle">#}
            {#<div class="video-container">#}
                {#<iframe src="https://youtu.be/sxkCuWXKkE4" name="" class="" bf_offer_id=""></iframe>#}
                {#<button class="closeVideo">#}
                    {#<img src="/themes/datastax/templates/dist/images/svg/close_btn.svg" alt="Close">#}
                {#</button>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</section>#}