<section class="leadership-grid animation-five speaker-event-detail">
    <div class="rectangle-box wow fadeInRight" data-wow-delay="0.5s"></div>
    <div class="container">
        <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.4s">
            <h3 class="">Speakers</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua, at vero eos et et.</p>
        </div>


        <div class="row cards-wrapper wow fadeInUp" data-wow-delay="0.5s">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card-item">
                <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/gril-img.jpg" alt="girl image">
                </div>
                <div class="content-wrap">
                    <div class="text-wrap">
                        <h5>Karen White</h5>
                        <p>Chief Executive Officer</p>
                    </div>
                    <div class="footer-box">
                        <span class="read-more-btn">Read More</span>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/linkedin-icon.svg" alt="social image">
                        </a>
                    </div>
                </div>

                <div class="collapse-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 left-content green-border align-left">
                                <h2>Karen White</h2>
                                <div class="text-block">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum
                                        sagittis vitae et leo. Tincidunt augue interdum in. Dolor purus non enim
                                        praesent.</p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Nulla aliquet porttitor lacus
                                        luctus.
                                        Cursus risus at sed ultrices mi tempus imperdiet nulla malesuada. Est velit
                                        lorem
                                        egestas dui id ornare arcu. Sed eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua.</p>
                                </div>

                            </div>


                            <div class="col-lg-6 col-md-12 col-sm-12 right-content">
                                <div class="pattern-animation" id="lottie5">
                                    {#<img src="/themes/rms/templates/dist/images/grid-five.svg" alt="white pattern">#}
                                </div>
                                <div class="content-wrapper">
                                    <div class="top-border "></div>
                                    <div class="slider-block">
                                        <div class="container-block">
                                            <h5>Insights by Karen</h5>
                                            <div class=" bg-wrapper ">
                                                <div class="slider-outer row">
                                                    <div class="item-box col-md-4">
                                                        <div class="image-box">
                                                            <img src="/themes/rms/templates/dist/images/flood-risk.jpg"
                                                                 alt="flood risk image">
                                                        </div>
                                                        <div class="content-box">
                                                            <span class="small-head">Infographic</span>
                                                            <h5>U.S. Flood Risk</h5>
                                                        </div>
                                                    </div>
                                                    <div class="item-box col-md-4">
                                                        <div class="image-box">
                                                            <img src="/themes/rms/templates/dist/images/event-img.jpg"
                                                                 alt="flood risk image">
                                                        </div>
                                                        <div class="content-box ">
                                                            <span class="small-head">Event</span>
                                                            <h5>Post-Exceedance Website Now Live</h5>
                                                        </div>
                                                    </div>
                                                    <div class="item-box col-md-4">
                                                        <div class="image-box">
                                                            <img src="/themes/rms/templates/dist/images/wildfire-img.jpg"
                                                                 alt="flood risk image">
                                                        </div>
                                                        <div class="content-box">
                                                            <span class="small-head">News</span>
                                                            <h5>New U.S. Wildfire HD Model</h5>
                                                        </div>
                                                    </div>

                                                    <div class="item-box col-md-4">
                                                        <div class="image-box">
                                                            <img src="/themes/rms/templates/dist/images/flood-risk.jpg"
                                                                 alt="flood risk image">
                                                        </div>
                                                        <div class="content-box">
                                                            <span class="small-head">Infographic</span>
                                                            <h5>U.S. Flood Risk</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="awards-block">
                                        <h5>Awards / Accomplishments</h5>
                                        <div class="award-wrap">
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/tradding-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/top-choice-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/insurance-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card-item">
                <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/chian-img.jpg" alt="girl image">
                </div>
                <div class="content-wrap">
                    <div class="text-wrap">
                        <h5>Cihan Biyikoglu</h5>
                        <p>Executive Vice President of Product</p>
                    </div>
                    <div class="footer-box">
                        <span class="read-more-btn">Read More</span>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/linkedin-icon.svg" alt="social image">
                        </a>
                    </div>
                </div>

                <div class="collapse-box coll-two">
                    <div class="container">
                        <div class="row collapse-row">
                            <div class="col-lg-6 col-md-12 col-sm-12  left-content green-border align-left">
                                <h2>Cihan Biyikoglu</h2>
                                <div class="text-block no-scroll">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum
                                        sagittis vitae et leo. Tincidunt augue interdum in. Dolor purus non enim
                                        praesent.</p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Nulla aliquet porttitor lacus
                                        luctus.
                                        Cursus risus at sed ultrices mi tempus imperdiet nulla malesuada. Est velit
                                        lorem
                                        egestas dui id ornare arcu. Sed eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua.</p>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 right-content">
                                <div class="pattern-animation-two" id="lottie5">
                                    {#<img src="/themes/rms/templates/dist/images/grid-five.svg" alt="white pattern">#}
                                </div>
                                <div class="content-wrapper single-block">
                                    <div class="top-border "></div>
                                    <div class="awards-block">
                                        <h5>Awards / Accomplishments</h5>
                                        <div class="award-wrap">
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/tradding-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/top-choice-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/insurance-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card-item">
                <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/marilyn-img.jpg" alt="girl image">
                </div>
                <div class="content-wrap">
                    <div class="text-wrap">
                        <h5>Marilyn Mersereau</h5>
                        <p>Chief Executive Officer</p>
                    </div>
                    <div class="footer-box">
                        <span class="read-more-btn">Read More</span>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/linkedin-icon.svg" alt="social image">
                        </a>
                    </div>
                </div>

                <div class="collapse-box single-content">
                    <div class="container">
                        <div class="row collapse-row">
                            <div class="col green-border align-left">
                                <h2>Marilyn Mersereau</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum
                                    sagittis vitae et leo. Tincidunt augue interdum in. Dolor purus non enim praesent.
                                </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Nulla aliquet porttitor lacus luctus.
                                    Cursus risus at sed ultrices mi tempus imperdiet nulla malesuada. Est velit lorem
                                    egestas dui id ornare arcu. Sed eiusmod tempor incididunt </br>
                                    ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card-item">
                <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/moe-img.jpg" alt="girl image">
                </div>
                <div class="content-wrap">
                    <div class="text-wrap">
                        <h5>Moe Khosravy</h5>
                        <p>Executive Vice President, Software and Platform</p>
                    </div>
                    <div class="footer-box">
                        <span class="read-more-btn">Read More</span>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/linkedin-icon.svg" alt="social image">
                        </a>
                    </div>
                </div>

                <div class="collapse-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 left-content green-border align-left">
                                <h2>Moe Khosravy</h2>
                                <div class="text-block">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum
                                        sagittis vitae et leo. Tincidunt augue interdum in. Dolor purus non enim
                                        praesent.</p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Nulla aliquet porttitor lacus
                                        luctus.
                                        Cursus risus at sed ultrices mi tempus imperdiet nulla malesuada. Est velit
                                        lorem
                                        egestas dui id ornare arcu. Sed eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum
                                        sagittis vitae et leo. Tincidunt augue interdum in. Dolor purus non enim
                                        praesent.</p>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 right-content">
                                <div class="pattern-animation" id="lottie5">
                                    {#<img src="/themes/rms/templates/dist/images/grid-five.svg" alt="white pattern">#}
                                </div>
                                <div class="content-wrapper">
                                    <div class="top-border "></div>
                                    <div class="slider-block">
                                        <div class="container-block">
                                            <h5>Insights by Moe Khosravy</h5>
                                            <div class=" bg-wrapper ">
                                                <div class="slider-outer row">
                                                    <div class="item-box col-md-4">
                                                        <div class="image-box">
                                                            <img src="/themes/rms/templates/dist/images/flood-risk.jpg"
                                                                 alt="flood risk image">
                                                        </div>
                                                        <div class="content-box">
                                                            <span class="small-head">Infographic</span>
                                                            <h5>U.S. Flood Risk</h5>
                                                        </div>
                                                    </div>
                                                    <div class="item-box col-md-4">
                                                        <div class="image-box">
                                                            <img src="/themes/rms/templates/dist/images/event-img.jpg"
                                                                 alt="flood risk image">
                                                        </div>
                                                        <div class="content-box ">
                                                            <span class="small-head">Event</span>
                                                            <h5>Post-Exceedance Website Now Live</h5>
                                                        </div>
                                                    </div>
                                                    <div class="item-box col-md-4">
                                                        <div class="image-box">
                                                            <img src="/themes/rms/templates/dist/images/wildfire-img.jpg"
                                                                 alt="flood risk image">
                                                        </div>
                                                        <div class="content-box">
                                                            <span class="small-head">News</span>
                                                            <h5>New U.S. Wildfire HD Model</h5>
                                                        </div>
                                                    </div>

                                                    <div class="item-box col-md-4">
                                                        <div class="image-box">
                                                            <img src="/themes/rms/templates/dist/images/flood-risk.jpg"
                                                                 alt="flood risk image">
                                                        </div>
                                                        <div class="content-box">
                                                            <span class="small-head">Infographic</span>
                                                            <h5>U.S. Flood Risk</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="awards-block">
                                        <h5>Awards / Accomplishments</h5>
                                        <div class="award-wrap">
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/tradding-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/top-choice-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/insurance-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>