{% if content.field_image[0] is not empty  %}
    {% set image_url, image_alt =  file_url(node.field_image.entity.uri.value), node.field_image.entity.field_image.entity.alt %}
{% else %}
    {% set image_url, image_alt =  '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
{% endif %}
{% set title = node.title.value %}
<div class="item-box col-md-4">
    <div class="image-box">
        <img src="{{ image_url }}" alt="{{ image_alt }}">
    </div>
    <div class="content-box">
        <span class="small-head">{{ node.type.entity.label }}</span>
        <h5>{{ title|length > 28 ? title|slice(0, 25) ~ '...' : title }}</h5>
    </div>
</div>