<section class="banner-second-level " >
    <div class="bg-img wow fadeIn" data-wow-delay="0.3s">
        <img src="/themes/rms/templates/dist/images/about-us-img.jpg" alt="model banner">
    </div>
    <div class="v-middle-wrapper wow fadeIn" data-wow-delay="0.4s">
        <div class="v-middle-inner container">
            <div class="v-middle">
                <div class="inner-text">
                    <h1>About RMS</h1>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="location-box">
        <div class="place-location">
            <span><p>City Yoshkar-Ola, Mari El Republic, Russia</p></span>
        </div>
    </div>
</section>

