<section class="card-with-image no-padding-top animation-second ">
    <div class="bg-img" >
        <img src="/themes/rms/templates/dist/images/rms-career-bg.jpg" alt="overlay image">
    </div>
    <div class="container">
        <div class="pattern-animation" id="lottie2">
        </div>
        <div class="container-wrap">
            <div class="row column-wrapper no-gutters wow fadeInUp">

                <div class="col-two green-border align-left text-wrapper">
                    <h4 class="">Careers at RMS</h4>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                        sit amet.</p>
                    <div class="button-box">
                        <a href="#" class="btn-red"><span>Open Positions</span></a>
                    </div>
                </div>
                <div class="col-two image-box">
                    <div class="img-wrapper play-icon">
                        <div class="top-border"></div>
                        <img src="/themes/rms/templates/dist/images/rms-career-img.jpg" alt="Meeting Image">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>