<section class="leadership-slider">
    <div class="container">
        <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.3s">
            <h3>Leadership</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut labore et
                dolore
                magna aliquyam erat, sed diam voluptua, at vero eos et et.</p>
            <div class="button-box">
                <a href="#" class="learn-more">See All Leadership</a>
            </div>
        </div>

        <div class="slider-block">
            <div class="row slider-outer wow fadeInUp" data-wow-delay="0.5s">
                <div class="card-item">
                    <div class="img-box">
                        <img src="/themes/rms/templates/dist/images/leadership-girl.jpg" alt="girl image">
                    </div>
                    <div class="content-wrap">
                        <div class="text-wrap">
                            <h5>Karen White</h5>
                            <p>Chief Executive Officer</p>
                        </div>
                        <div class="footer-box">
                            <a href="#" class="learn-more">Read More</a>
                            <a href="#" class="icon-box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                    <defs>
                                        <clipPath id="clip-path">
                                            <path id="Rectangle_2901" d="M0 0h16v16H0z" class="cls-1"
                                                  data-name="Rectangle 2901" transform="translate(144 5906)"></path>
                                        </clipPath>
                                    </defs>
                                    <g id="Group_5271" data-name="Group 5271" transform="translate(-144 -5906)">
                                        <path id="Rectangle_2898" d="M0 0h30v30H0z" class="cls-2"
                                              data-name="Rectangle 2898" transform="translate(144 5906)"></path>
                                        <g id="Mask_Group_10" class="cls-3" data-name="Mask Group 10"
                                           transform="translate(7 6)">
                                            <g id="_001-linkedin-letters" data-name="001-linkedin-letters"
                                               transform="translate(144 5906.355)">
                                                <g id="Group_5269" data-name="Group 5269">
                                                    <path id="Rectangle_2903" d="M0 0h3.437v10.323H0z" class="cls-1"
                                                          data-name="Rectangle 2903"
                                                          transform="translate(.198 4.969)"></path>
                                                    <path id="Path_7286"
                                                          d="M19.756 10.714a3.7 3.7 0 0 0-2.865-1.182 4.128 4.128 0 0 0-1.193.162 2.706 2.706 0 0 0-.906.453 3.881 3.881 0 0 0-.995 1.093V9.771h-3.426l.011.5q.011.5.011 3.083t-.021 6.74H13.8v-5.761a2.516 2.516 0 0 1 .115-.844 2.213 2.213 0 0 1 .662-.89 1.687 1.687 0 0 1 1.1-.36 1.482 1.482 0 0 1 1.318.62 3.014 3.014 0 0 1 .422 1.714v5.521h3.423v-5.917a4.96 4.96 0 0 0-1.084-3.463z"
                                                          class="cls-1" data-name="Path 7286"
                                                          transform="translate(-4.84 -4.802)"></path>
                                                    <path id="Path_7287"
                                                          d="M1.937.664a1.961 1.961 0 0 0-1.4.505A1.677 1.677 0 0 0 0 2.445a1.707 1.707 0 0 0 .521 1.271 1.88 1.88 0 0 0 1.375.51h.021a1.963 1.963 0 0 0 1.412-.51 1.649 1.649 0 0 0 .526-1.271 1.738 1.738 0 0 0-.531-1.276A1.9 1.9 0 0 0 1.937.664z"
                                                          class="cls-1" data-name="Path 7287"
                                                          transform="translate(0 -.664)"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="img-box">
                        <img src="/themes/rms/templates/dist/images/chian-img.jpg" alt="image">
                    </div>
                    <div class="content-wrap">
                        <div class="text-wrap">
                            <h5>Cihan Biyikoglu</h5>
                            <p>Executive Vice President of Product</p>
                        </div>
                        <div class="footer-box">
                            <a href="#" class="learn-more">Read More</a>
                            <a href="#" class="icon-box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                    <defs>
                                        <clipPath id="clip-path">
                                            <path id="Rectangle_2901" d="M0 0h16v16H0z" class="cls-1"
                                                  data-name="Rectangle 2901" transform="translate(144 5906)"></path>
                                        </clipPath>
                                    </defs>
                                    <g id="Group_5271" data-name="Group 5271" transform="translate(-144 -5906)">
                                        <path id="Rectangle_2898" d="M0 0h30v30H0z" class="cls-2"
                                              data-name="Rectangle 2898" transform="translate(144 5906)"></path>
                                        <g id="Mask_Group_10" class="cls-3" data-name="Mask Group 10"
                                           transform="translate(7 6)">
                                            <g id="_001-linkedin-letters" data-name="001-linkedin-letters"
                                               transform="translate(144 5906.355)">
                                                <g id="Group_5269" data-name="Group 5269">
                                                    <path id="Rectangle_2903" d="M0 0h3.437v10.323H0z" class="cls-1"
                                                          data-name="Rectangle 2903"
                                                          transform="translate(.198 4.969)"></path>
                                                    <path id="Path_7286"
                                                          d="M19.756 10.714a3.7 3.7 0 0 0-2.865-1.182 4.128 4.128 0 0 0-1.193.162 2.706 2.706 0 0 0-.906.453 3.881 3.881 0 0 0-.995 1.093V9.771h-3.426l.011.5q.011.5.011 3.083t-.021 6.74H13.8v-5.761a2.516 2.516 0 0 1 .115-.844 2.213 2.213 0 0 1 .662-.89 1.687 1.687 0 0 1 1.1-.36 1.482 1.482 0 0 1 1.318.62 3.014 3.014 0 0 1 .422 1.714v5.521h3.423v-5.917a4.96 4.96 0 0 0-1.084-3.463z"
                                                          class="cls-1" data-name="Path 7286"
                                                          transform="translate(-4.84 -4.802)"></path>
                                                    <path id="Path_7287"
                                                          d="M1.937.664a1.961 1.961 0 0 0-1.4.505A1.677 1.677 0 0 0 0 2.445a1.707 1.707 0 0 0 .521 1.271 1.88 1.88 0 0 0 1.375.51h.021a1.963 1.963 0 0 0 1.412-.51 1.649 1.649 0 0 0 .526-1.271 1.738 1.738 0 0 0-.531-1.276A1.9 1.9 0 0 0 1.937.664z"
                                                          class="cls-1" data-name="Path 7287"
                                                          transform="translate(0 -.664)"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="img-box">
                        <img src="/themes/rms/templates/dist/images/marilyn-img.jpg" alt="image">
                    </div>
                    <div class="content-wrap">
                        <div class="text-wrap">
                            <h5>Marilyn Mersereau</h5>
                            <p>Chief Executive Officer</p>
                        </div>
                        <div class="footer-box">
                            <a href="#" class="learn-more">Read More</a>
                            <a href="#" class="icon-box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                    <defs>
                                        <clipPath id="clip-path">
                                            <path id="Rectangle_2901" d="M0 0h16v16H0z" class="cls-1"
                                                  data-name="Rectangle 2901" transform="translate(144 5906)"></path>
                                        </clipPath>
                                    </defs>
                                    <g id="Group_5271" data-name="Group 5271" transform="translate(-144 -5906)">
                                        <path id="Rectangle_2898" d="M0 0h30v30H0z" class="cls-2"
                                              data-name="Rectangle 2898" transform="translate(144 5906)"></path>
                                        <g id="Mask_Group_10" class="cls-3" data-name="Mask Group 10"
                                           transform="translate(7 6)">
                                            <g id="_001-linkedin-letters" data-name="001-linkedin-letters"
                                               transform="translate(144 5906.355)">
                                                <g id="Group_5269" data-name="Group 5269">
                                                    <path id="Rectangle_2903" d="M0 0h3.437v10.323H0z" class="cls-1"
                                                          data-name="Rectangle 2903"
                                                          transform="translate(.198 4.969)"></path>
                                                    <path id="Path_7286"
                                                          d="M19.756 10.714a3.7 3.7 0 0 0-2.865-1.182 4.128 4.128 0 0 0-1.193.162 2.706 2.706 0 0 0-.906.453 3.881 3.881 0 0 0-.995 1.093V9.771h-3.426l.011.5q.011.5.011 3.083t-.021 6.74H13.8v-5.761a2.516 2.516 0 0 1 .115-.844 2.213 2.213 0 0 1 .662-.89 1.687 1.687 0 0 1 1.1-.36 1.482 1.482 0 0 1 1.318.62 3.014 3.014 0 0 1 .422 1.714v5.521h3.423v-5.917a4.96 4.96 0 0 0-1.084-3.463z"
                                                          class="cls-1" data-name="Path 7286"
                                                          transform="translate(-4.84 -4.802)"></path>
                                                    <path id="Path_7287"
                                                          d="M1.937.664a1.961 1.961 0 0 0-1.4.505A1.677 1.677 0 0 0 0 2.445a1.707 1.707 0 0 0 .521 1.271 1.88 1.88 0 0 0 1.375.51h.021a1.963 1.963 0 0 0 1.412-.51 1.649 1.649 0 0 0 .526-1.271 1.738 1.738 0 0 0-.531-1.276A1.9 1.9 0 0 0 1.937.664z"
                                                          class="cls-1" data-name="Path 7287"
                                                          transform="translate(0 -.664)"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="img-box">
                        <img src="/themes/rms/templates/dist/images/moe-img.jpg" alt="image">
                    </div>
                    <div class="content-wrap">
                        <div class="text-wrap">
                            <h5>Moe Khosravy</h5>
                            <p>Executive Vice President, Software and Platform</p>
                        </div>
                        <div class="footer-box">
                            <a href="#" class="learn-more">Read More</a>
                            <a href="#" class="icon-box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                    <defs>
                                        <clipPath id="clip-path">
                                            <path id="Rectangle_2901" d="M0 0h16v16H0z" class="cls-1"
                                                  data-name="Rectangle 2901" transform="translate(144 5906)"></path>
                                        </clipPath>
                                    </defs>
                                    <g id="Group_5271" data-name="Group 5271" transform="translate(-144 -5906)">
                                        <path id="Rectangle_2898" d="M0 0h30v30H0z" class="cls-2"
                                              data-name="Rectangle 2898" transform="translate(144 5906)"></path>
                                        <g id="Mask_Group_10" class="cls-3" data-name="Mask Group 10"
                                           transform="translate(7 6)">
                                            <g id="_001-linkedin-letters" data-name="001-linkedin-letters"
                                               transform="translate(144 5906.355)">
                                                <g id="Group_5269" data-name="Group 5269">
                                                    <path id="Rectangle_2903" d="M0 0h3.437v10.323H0z" class="cls-1"
                                                          data-name="Rectangle 2903"
                                                          transform="translate(.198 4.969)"></path>
                                                    <path id="Path_7286"
                                                          d="M19.756 10.714a3.7 3.7 0 0 0-2.865-1.182 4.128 4.128 0 0 0-1.193.162 2.706 2.706 0 0 0-.906.453 3.881 3.881 0 0 0-.995 1.093V9.771h-3.426l.011.5q.011.5.011 3.083t-.021 6.74H13.8v-5.761a2.516 2.516 0 0 1 .115-.844 2.213 2.213 0 0 1 .662-.89 1.687 1.687 0 0 1 1.1-.36 1.482 1.482 0 0 1 1.318.62 3.014 3.014 0 0 1 .422 1.714v5.521h3.423v-5.917a4.96 4.96 0 0 0-1.084-3.463z"
                                                          class="cls-1" data-name="Path 7286"
                                                          transform="translate(-4.84 -4.802)"></path>
                                                    <path id="Path_7287"
                                                          d="M1.937.664a1.961 1.961 0 0 0-1.4.505A1.677 1.677 0 0 0 0 2.445a1.707 1.707 0 0 0 .521 1.271 1.88 1.88 0 0 0 1.375.51h.021a1.963 1.963 0 0 0 1.412-.51 1.649 1.649 0 0 0 .526-1.271 1.738 1.738 0 0 0-.531-1.276A1.9 1.9 0 0 0 1.937.664z"
                                                          class="cls-1" data-name="Path 7287"
                                                          transform="translate(0 -.664)"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="img-box">
                        <img src="/themes/rms/templates/dist/images/moe-img.jpg" alt="image">
                    </div>
                    <div class="content-wrap">
                        <div class="text-wrap">
                            <h5>Moe Khosravy</h5>
                            <p>Executive Vice President, Software and Platform</p>
                        </div>
                        <div class="footer-box">
                            <a href="#" class="learn-more">Read More</a>
                            <a href="#" class="icon-box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                    <defs>
                                        <clipPath id="clip-path">
                                            <path id="Rectangle_2901" d="M0 0h16v16H0z" class="cls-1"
                                                  data-name="Rectangle 2901" transform="translate(144 5906)"></path>
                                        </clipPath>
                                    </defs>
                                    <g id="Group_5271" data-name="Group 5271" transform="translate(-144 -5906)">
                                        <path id="Rectangle_2898" d="M0 0h30v30H0z" class="cls-2"
                                              data-name="Rectangle 2898" transform="translate(144 5906)"></path>
                                        <g id="Mask_Group_10" class="cls-3" data-name="Mask Group 10"
                                           transform="translate(7 6)">
                                            <g id="_001-linkedin-letters" data-name="001-linkedin-letters"
                                               transform="translate(144 5906.355)">
                                                <g id="Group_5269" data-name="Group 5269">
                                                    <path id="Rectangle_2903" d="M0 0h3.437v10.323H0z" class="cls-1"
                                                          data-name="Rectangle 2903"
                                                          transform="translate(.198 4.969)"></path>
                                                    <path id="Path_7286"
                                                          d="M19.756 10.714a3.7 3.7 0 0 0-2.865-1.182 4.128 4.128 0 0 0-1.193.162 2.706 2.706 0 0 0-.906.453 3.881 3.881 0 0 0-.995 1.093V9.771h-3.426l.011.5q.011.5.011 3.083t-.021 6.74H13.8v-5.761a2.516 2.516 0 0 1 .115-.844 2.213 2.213 0 0 1 .662-.89 1.687 1.687 0 0 1 1.1-.36 1.482 1.482 0 0 1 1.318.62 3.014 3.014 0 0 1 .422 1.714v5.521h3.423v-5.917a4.96 4.96 0 0 0-1.084-3.463z"
                                                          class="cls-1" data-name="Path 7286"
                                                          transform="translate(-4.84 -4.802)"></path>
                                                    <path id="Path_7287"
                                                          d="M1.937.664a1.961 1.961 0 0 0-1.4.505A1.677 1.677 0 0 0 0 2.445a1.707 1.707 0 0 0 .521 1.271 1.88 1.88 0 0 0 1.375.51h.021a1.963 1.963 0 0 0 1.412-.51 1.649 1.649 0 0 0 .526-1.271 1.738 1.738 0 0 0-.531-1.276A1.9 1.9 0 0 0 1.937.664z"
                                                          class="cls-1" data-name="Path 7287"
                                                          transform="translate(0 -.664)"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="img-box">
                        <img src="/themes/rms/templates/dist/images/moe-img.jpg" alt="image">
                    </div>
                    <div class="content-wrap">
                        <div class="text-wrap">
                            <h5>Moe Khosravy</h5>
                            <p>Executive Vice President, Software and Platform</p>
                        </div>
                        <div class="footer-box">
                            <a href="#" class="learn-more">Read More</a>
                            <a href="#" class="icon-box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                    <defs>
                                        <clipPath id="clip-path">
                                            <path id="Rectangle_2901" d="M0 0h16v16H0z" class="cls-1"
                                                  data-name="Rectangle 2901" transform="translate(144 5906)"></path>
                                        </clipPath>
                                    </defs>
                                    <g id="Group_5271" data-name="Group 5271" transform="translate(-144 -5906)">
                                        <path id="Rectangle_2898" d="M0 0h30v30H0z" class="cls-2"
                                              data-name="Rectangle 2898" transform="translate(144 5906)"></path>
                                        <g id="Mask_Group_10" class="cls-3" data-name="Mask Group 10"
                                           transform="translate(7 6)">
                                            <g id="_001-linkedin-letters" data-name="001-linkedin-letters"
                                               transform="translate(144 5906.355)">
                                                <g id="Group_5269" data-name="Group 5269">
                                                    <path id="Rectangle_2903" d="M0 0h3.437v10.323H0z" class="cls-1"
                                                          data-name="Rectangle 2903"
                                                          transform="translate(.198 4.969)"></path>
                                                    <path id="Path_7286"
                                                          d="M19.756 10.714a3.7 3.7 0 0 0-2.865-1.182 4.128 4.128 0 0 0-1.193.162 2.706 2.706 0 0 0-.906.453 3.881 3.881 0 0 0-.995 1.093V9.771h-3.426l.011.5q.011.5.011 3.083t-.021 6.74H13.8v-5.761a2.516 2.516 0 0 1 .115-.844 2.213 2.213 0 0 1 .662-.89 1.687 1.687 0 0 1 1.1-.36 1.482 1.482 0 0 1 1.318.62 3.014 3.014 0 0 1 .422 1.714v5.521h3.423v-5.917a4.96 4.96 0 0 0-1.084-3.463z"
                                                          class="cls-1" data-name="Path 7286"
                                                          transform="translate(-4.84 -4.802)"></path>
                                                    <path id="Path_7287"
                                                          d="M1.937.664a1.961 1.961 0 0 0-1.4.505A1.677 1.677 0 0 0 0 2.445a1.707 1.707 0 0 0 .521 1.271 1.88 1.88 0 0 0 1.375.51h.021a1.963 1.963 0 0 0 1.412-.51 1.649 1.649 0 0 0 .526-1.271 1.738 1.738 0 0 0-.531-1.276A1.9 1.9 0 0 0 1.937.664z"
                                                          class="cls-1" data-name="Path 7287"
                                                          transform="translate(0 -.664)"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="img-box">
                        <img src="/themes/rms/templates/dist/images/moe-img.jpg" alt="image">
                    </div>
                    <div class="content-wrap">
                        <div class="text-wrap">
                            <h5>Moe Khosravy</h5>
                            <p>Executive Vice President, Software and Platform</p>
                        </div>
                        <div class="footer-box">
                            <a href="#" class="learn-more">Read More</a>
                            <a href="#" class="icon-box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                    <defs>
                                        <clipPath id="clip-path">
                                            <path id="Rectangle_2901" d="M0 0h16v16H0z" class="cls-1"
                                                  data-name="Rectangle 2901" transform="translate(144 5906)"></path>
                                        </clipPath>
                                    </defs>
                                    <g id="Group_5271" data-name="Group 5271" transform="translate(-144 -5906)">
                                        <path id="Rectangle_2898" d="M0 0h30v30H0z" class="cls-2"
                                              data-name="Rectangle 2898" transform="translate(144 5906)"></path>
                                        <g id="Mask_Group_10" class="cls-3" data-name="Mask Group 10"
                                           transform="translate(7 6)">
                                            <g id="_001-linkedin-letters" data-name="001-linkedin-letters"
                                               transform="translate(144 5906.355)">
                                                <g id="Group_5269" data-name="Group 5269">
                                                    <path id="Rectangle_2903" d="M0 0h3.437v10.323H0z" class="cls-1"
                                                          data-name="Rectangle 2903"
                                                          transform="translate(.198 4.969)"></path>
                                                    <path id="Path_7286"
                                                          d="M19.756 10.714a3.7 3.7 0 0 0-2.865-1.182 4.128 4.128 0 0 0-1.193.162 2.706 2.706 0 0 0-.906.453 3.881 3.881 0 0 0-.995 1.093V9.771h-3.426l.011.5q.011.5.011 3.083t-.021 6.74H13.8v-5.761a2.516 2.516 0 0 1 .115-.844 2.213 2.213 0 0 1 .662-.89 1.687 1.687 0 0 1 1.1-.36 1.482 1.482 0 0 1 1.318.62 3.014 3.014 0 0 1 .422 1.714v5.521h3.423v-5.917a4.96 4.96 0 0 0-1.084-3.463z"
                                                          class="cls-1" data-name="Path 7286"
                                                          transform="translate(-4.84 -4.802)"></path>
                                                    <path id="Path_7287"
                                                          d="M1.937.664a1.961 1.961 0 0 0-1.4.505A1.677 1.677 0 0 0 0 2.445a1.707 1.707 0 0 0 .521 1.271 1.88 1.88 0 0 0 1.375.51h.021a1.963 1.963 0 0 0 1.412-.51 1.649 1.649 0 0 0 .526-1.271 1.738 1.738 0 0 0-.531-1.276A1.9 1.9 0 0 0 1.937.664z"
                                                          class="cls-1" data-name="Path 7287"
                                                          transform="translate(0 -.664)"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-wrap">
                <span class="pre-btn"></span>
                <div class="dots-outer">
                </div>
                <span class="next-btn"></span>
            </div>
        </div>
    </div>
</section>