<section class="news-slider about-news animation-four">
    <div class="container">
        <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.5s">
            <h3>Resources</h3>
        </div>
        <div class="slider-block">
            <div class="item">
                <div class="media-block">
                    <a href="#"></a>
                    <div class="pattern-animation" id="lottie4">
                    </div>
                    <div class="media-top-wrap wow fadeInUp" data-wow-delay="0.7s">
                        <div class="img-box">
                            <img src="/themes/rms/templates/dist/images/bitmap-img.jpg" alt="bitmap image">
                            <div class="shared-icon">
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/facebook-share.svg" alt="facebook icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/linkedin-share.svg" alt="LinkedIn icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/twitter-share.svg" alt="Twitter icon">
                                </a>
                            </div>
                            <div class="play-icon">
                                <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                            </div>
                        </div>
                        <div class="media-footer">
                            <div class="icon-box">
                                <img src="/themes/rms/templates/dist/images/play-small.svg" alt="icon play">
                            </div>
                            <span>video</span>
                        </div>
                    </div>
                    <div class="content-box wow fadeInUp" data-wow-delay="0.9s">
                        <h3>Dive In </h3>
                        <p class="small-text">September 24, 2019 - September 26, 2019</p>
                        <p>Dive In is a global movement in the insurance sector to support the development of
                            inclusive
                            workplace cultures. Its mission is to enable people to achieve their potential by
                            raising
                            awareness of the business case and promoting positive action for diversity in all its
                            forms.
                            Since its birth in 2015, Dive In has grown exponentially, reaching global heights with
                            events
                            taking place in over 60 cities across 33 countries world-wide, attracting more than
                            9,000
                            people.</p>
                        <div class="button-box">
                            <span href="#" class="learn-more">Read More</span>
                        </div>
                    </div>
                </div>
                <div class="resources-block">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                                <img src="/themes/rms/templates/dist/images/map-img.jpg"
                                     alt="bitmap image">
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/news-resource-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>News</span>
                            </div>
                        </div>
                        <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                            <h3>Loma Prieta Earthquake Cost $6B In 1989. Today…</h3>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                                <img src="/themes/rms/templates/dist/images/flud-insurance-img.jpg" alt="bitmap image">
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/news-resource-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Event</span>
                            </div>
                        </div>
                        <div class="content-block wow fadeInUp" data-wow-delay="0.9s">
                            <h3>What Can Be Done To Close The Flood Insurance...</h3>
                        </div>
                    </div>
                </div>
            </div>


            <div class="item">
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg"
                                     alt="bitmap image">
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/news-resource-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>News</span>
                            </div>
                        </div>
                        <div class="content-block wow fadeInUp" data-wow-delay="0.9s">
                            <h3>New U.S. Wildfire HD Model</h3>
                            <p>The Most Comprehensive</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                                <img src="/themes/rms/templates/dist/images/event-reaction-img.jpg" alt="bitmap image">
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/event-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Event</span>
                            </div>
                        </div>
                        <div class="content-block wow fadeInUp" data-wow-delay="0.9s">
                            <h3>Reactions North America</h3>
                            <p>This one-day event will examine.</p>
                        </div>
                    </div>
                </div>
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg"
                                     alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/event-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Event</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>U.S. Flood Risk</h3>
                            <p>Identifying Floodwater Sources</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>Post-Exceedance Website Live</h3>
                            <p>Stay Informed with News, Videos, Updates, Photos…</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/infogrph-card-img.jpg"
                                     alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>U.S. Flood Risk</h3>
                            <p>Identifying Floodwater Sources</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>Post-Exceedance Website Live</h3>
                            <p>Stay Informed with News, Videos, Updates, Photos…</p>
                        </div>
                    </div>
                </div>
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/infogrph-card-img.jpg"
                                     alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>U.S. Flood Risk</h3>
                            <p>Identifying Floodwater Sources</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>Post-Exceedance Website Live</h3>
                            <p>Stay Informed with News, Videos, Updates, Photos…</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/infogrph-card-img.jpg"
                                     alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>U.S. Flood Risk</h3>
                            <p>Identifying Floodwater Sources</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>Post-Exceedance Website Live</h3>
                            <p>Stay Informed with News, Videos, Updates, Photos…</p>
                        </div>
                    </div>
                </div>
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/infogrph-card-img.jpg"
                                     alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>U.S. Flood Risk</h3>
                            <p>Identifying Floodwater Sources</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>Post-Exceedance Website Live</h3>
                            <p>Stay Informed with News, Videos, Updates, Photos…</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrap">
            <span class="pre-btn"></span>
            <div class="dots-outer">
            </div>
            <span class="next-btn"></span>

        </div>
    </div>
</section>
