<section class="slider-with-dates animation-five">
    <div class="bg-img " >
    </div>
    <div class="container">
        <div class="pattern-animation" id="lottie5"></div>
        <div class="left-slider-block  wow fadeInUp" data-wow-delay="0.5s">
            <div class="items">
                <div class="col-two media-block">
                    <div class="img-wrapper">
                        <img src="/themes/rms/templates/dist/images/buildings-img.jpg" alt="award image">
                    </div>
                </div>
                <div class="col-two content-block green-border align-left">
                    <h6>September 20, 2019</h6>
                    <h2>Event Title</h2>
                    <div class="text-block">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt
                            ut labore et dolore magna aliquyam erat, sed diam voluptua. Sed diam nonumy eirmod tempor
                            invidunt ut.</p>

                        <p> No sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                            consetetur
                            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.
                        </p>
                    </div>
                </div>
            </div>
            <div class="items">

                <div class="col-two media-block  ">
                    <div class="img-wrapper">
                        <img src="/themes/rms/templates/dist/images/buildings-img.jpg" alt="award image">
                    </div>
                </div>
                <div class="col-two content-block green-border align-left">
                    <h6>September 20, 2019</h6>
                    <h2>Event Title</h2>
                    <div class="text-block">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt
                            ut labore et dolore magna aliquyam erat, sed diam voluptua. Sed diam nonumy eirmod tempor
                            invidunt ut.</p>

                        <p> No sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                            consetetur
                            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.
                        </p>
                    </div>
                </div>
            </div>
            <div class="items">

                <div class="col-two media-block ">
                    <div class="img-wrapper">
                        <img src="/themes/rms/templates/dist/images/buildings-img.jpg" alt="award image">
                    </div>
                </div>
                <div class="col-two content-block green-border align-left ">
                    <h6>September 20, 2019</h6>
                    <h2>Event Title</h2>
                    <div class="text-block">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt
                            ut labore et dolore magna aliquyam erat, sed diam voluptua. Sed diam nonumy eirmod tempor
                            invidunt ut.</p>

                        <p> No sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                            consetetur
                            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.
                        </p>
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="col-two media-block ">
                    <div class="img-wrapper">
                        <img src="/themes/rms/templates/dist/images/buildings-img.jpg" alt="award image">
                    </div>
                </div>
                <div class="col-two content-block green-border align-left">
                    <h6>September 20, 2019</h6>
                    <h2>Event Title</h2>
                    <div class="text-block">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt
                            ut labore et dolore magna aliquyam erat, sed diam voluptua. Sed diam nonumy eirmod tempor
                            invidunt ut.</p>

                        <p> No sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                            consetetur
                            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.
                        </p>
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="col-two media-block ">
                    <div class="img-wrapper">
                        <img src="/themes/rms/templates/dist/images/buildings-img.jpg" alt="award image">
                    </div>
                </div>
                <div class="col-two content-block green-border align-left">
                    <h6>September 20, 2019</h6>
                    <h2>Event Title</h2>
                    <div class="text-block">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt
                            ut labore et dolore magna aliquyam erat, sed diam voluptua. Sed diam nonumy eirmod tempor
                            invidunt ut.</p>

                        <p> No sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                            consetetur
                            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-slider-block wow fadeInUp" data-wow-delay="0.6s">
            <div class="years-block">
                <span class="item-year"><h2>2019</h2></span>
                <span class="item-year"><h2>2018</h2></span>
                <span class="item-year"><h2>2017</h2></span>
                <span class="item-year"><h2>2016</h2></span>
                <span class="item-year"><h2>2015</h2></span>
            </div>
            <div class="button-wrap">
                <span class="pre-btn"></span>
                <span class="square-box"></span>
                <span class="next-btn"></span>
            </div>
        </div>
    </div>
</section>