<section class="statistic-slider about-us wow fadeIn" data-wow-delay="0.4s">
    <div class="container">
        <div class="items">
            <div class="item-box">
                <h4>93%<span>of top U.S.</span></h4>
                <h5>Commercial Insurers
                    choose RMS</h5>
            </div>
            <div class="item-box">
                <h4>9 out of 10</h4>
                <h5>Global Reinsurers
                    choose RMS</h5>
            </div>
            <div class="item-box">
                <h4>80%<span>of top U.S.</span></h4>
                <h5>Brokers in the U.S.
                    choose RMS</h5>
            </div>
            <div class="item-box">
                <h4>93%<span>of top U.S.</span></h4>
                <h5>Commercial Insurers
                    choose RMS</h5>
            </div>
            <div class="item-box">
                <h4>80%<span>of top U.S.</span></h4>
                <h5>Brokers in the U.S.
                    choose RMS</h5>
            </div>
        </div>
    </div>
</section>