{% if content.field_title_seven[0] is not empty %}
    <section class="cta model-cta">
        <div class="bg-img">
            {{ content.field_image_three[0] }}
        </div>
        <div class="content-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12 text-block wow fadeIn" data-wow-delay="0.4s">
                        <h2>{{ content.field_title_seven[0] }}</h2>
                    </div>
                    <div class="col-md-5 col-sm-12 button-box wow fadeIn" data-wow-delay="0.4s">
                        {{ content.field_related_cta_three }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
