<h4>Hi</h4>
{% for item in content.field_reference_carousel_items['#items'] %}

    {% set label, type, blurb = item.entity.title.value|e, item.entity.field_type.value, item.entity.field_blurb.value %}
    <div class="col-item">

        <div class="row">
            <div class="col-md-4 col-sm-12 media-block">
                <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/model/{{ type }}.svg" alt="{{ type }}"/>
                </div>
                <p>{{ label }}</p>
            </div>
            <div class="col-md-8 col-sm-12 content-block">
                <h3>{{ label }}</h3>
                <p>{{ blurb|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES')|length > 176 ? blurb|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES')|slice(0, 172) ~ '...' : blurb|striptags }}</p>
                <div class="button-box">
                    <a href="{{ path('entity.node.canonical', {'node': item.content['#node'].id}) }}" class="learn-more">Learn More</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}