{% set subtitle = content.field_blurb|render|striptags %}
<div class="item-box">
    <h4>{{ content.field_subtitle_two[0] }} </h4>
    <h4>{{ subtitle }}</h4>
    {% if content.field_company[0] is not empty %}
        <p>({{ content.field_company[0] }})</p>
    {% endif %}
</div>