{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="statistic-slider stats wow fadeIn {{ class|join(' ') }}" data-wow-delay="0.4s" id="{{ content.field_section_id[0] }}">
    <div class="container">
        <div class="items">
            {{ content.field_statistic_slider_items }}
        </div>
    </div>
</section>