{% include directory ~ '/templates/blog/part/banner-third-level.html.twig' %}
{% include directory ~ '/templates/blog/part/blog-body.html.twig' %}
{% include directory ~ '/templates/blog/part/blog-author.html.twig' %}