{% set bg_color = content.field_background_color[0] %}
{% if content.field_title[0] is not empty %}
  <div class="col-lg-2 we-items hass-arrow wow fadeInLeft {{ bg_color }}" data-wow-delay="1.6s">
    <div class="top-heading">
      <h5>{{ content.field_title[0] }}</h5>
    </div>
    <div class="items">
      <p>{{ content.field_subtitle[0] }}</p>
    </div>
    <span class="left-arrow"></span>
    <span class="center-arrow"></span>
    <span class="right-arrow"></span>
  </div>
{% endif %}
