{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="insight-with-progress {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    <div class="bg-img">
        {{ content.field_background_image[0] }}
    </div>
    <div class="container">
        <div class="content-box">
            <div class="pattern-animation wow fadeIn"  data-wow-delay="0.7s" id="lottie5"></div>
            <div class="row column-wrapper no-gutters wow fadeInLeft" data-wow-delay="0.5s">
                <h3>{{ content.field_title[0] }}</h3>
                <div class="cover-item">
                    <div class="text-after we-items wow fadeInLeft" data-wow-delay="0.6s">
                        <div class="top-heading">
                            <h6>{{ content.field_subtitle[0] }}</h6>
                        </div>
                        <div class="items">
                            <h6>{{ content.field_subhead[0] }}</h6>
                        </div>
                    </div>
                    {{ content.field_insight_progress_items}}
                </div>
                <div class="cover-col-outer">
                    <div class="col-outer wow fadeInLeft" data-wow-delay="1.8s">
                        <p>Value of insight</p>
                        <span class="right-arrow"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>