<div class="item">
    <div class="media-block">
        <a href="#"></a>
        <div class="pattern-animation wow fadeIn" id="lottie4" data-wow-delay="0.7s">
        </div>
        <div class="media-top-wrap wow fadeInUp" data-wow-delay="0.7s">
            <div class="img-box">
                <img src="/themes/rms/templates/dist/images/report-bg.jpg" alt="underwriting image">
                <div class="shared-icon">
                    <a href="#" class="icon-box">
                        <img src="/themes/rms/templates/dist/images/facebook-share.svg" alt="facebook icon">
                    </a>
                    <a href="#" class="icon-box">
                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg" alt="LinkedIn icon">
                    </a>
                    <a href="#" class="icon-box">
                        <img src="/themes/rms/templates/dist/images/twitter-share.svg" alt="Twitter icon">
                    </a>
                </div>
            </div>
            <div class="media-footer">
                <div class="icon-box">
                    <img src="/themes/rms/templates/dist/images/svg/report.svg" alt="icon play">
                </div>
                <span>Report</span>
            </div>
        </div>
        <div class="content-box wow fadeInUp" data-wow-delay="0.9s">
            <h3>Coming Together to Build a Resilient India Agriculture Insurance Sector</h3>
            <p>India is an agricultural powerhouse, ranked second in the world in terms of its level of
                agricultural output. With 58 percent of the rural population of India reliant on agriculture
                for their livelihood (and a total figure of 2.2 billion across Asia) plus more than fifty
                percent of total working population of India...</p>
            <div class="button-box">
                <span href="#" class="learn-more">Read More</span>
            </div>
        </div>
    </div>
    <div class="resources-block">
        <div class="wrapper-box">
            <a href="#"></a>
            <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                <div class="img-box">
                    <div class="shared-icon">
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                 alt="facebook icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                 alt="LinkedIn icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                 alt="Twitter icon">
                        </a>
                    </div>
                    <img src="/themes/rms/templates/dist/images/risk-solution.jpg"
                         alt="bitmap image">
                </div>
                <div class="media-footer">
                    <div class="icon-box">
                        <img src="/themes/rms/templates/dist/images/svg/news_icon.svg"
                             alt="icon play">
                    </div>
                    <span>WebPage</span>
                </div>
            </div>
            <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                <h3>RMS Expands Risk Solutions for Asia-Pacific with Launch...</h3>
            </div>
        </div>
        <div class="wrapper-box">
            <a href="#"></a>
            <div class="media-top wow fadeInUp" data-wow-delay="0.7s">
                <div class="img-box">
                    <div class="shared-icon">
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                 alt="facebook icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                 alt="LinkedIn icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                 alt="Twitter icon">
                        </a>
                    </div>
                    <img src="/themes/rms/templates/dist/images/irb-img.jpg" alt="bitmap image">
                </div>
                <div class="media-footer">
                    <div class="icon-box">
                        <img src="/themes/rms/templates/dist/images/svg/news_icon.svg"
                             alt="icon play">
                    </div>
                    <span>News</span>
                </div>
            </div>
            <div class="content-block wow fadeInUp" data-wow-delay="0.9s">
                <h3>IRB Brasil RE Licenses RMS Agricultural Risk Models to...
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="resources-block half-width">
        <div class="wrapper-box">
            <a href="#"></a>
            <div class="media-top wow fadeInUp" data-wow-delay="0.7s">
                <div class="img-box">
                    <div class="shared-icon">
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                 alt="facebook icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                 alt="LinkedIn icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                 alt="Twitter icon">
                        </a>
                    </div>
                    <img src="/themes/rms/templates/dist/images/event-card-img.jpg"
                         alt="bitmap image">
                </div>
                <div class="media-footer">
                    <div class="icon-box">
                        <img src="/themes/rms/templates/dist/images/news-resource-icon.svg"
                             alt="icon play">
                    </div>
                    <span>News</span>
                </div>
            </div>
            <div class="content-block wow fadeInUp" data-wow-delay="0.9s">
                <h3>New U.S. Wildfire HD Model</h3>
                <p>The Most Comprehensive</p>
            </div>
        </div>
        <div class="wrapper-box">
            <a href="#"></a>
            <div class="media-top wow fadeInUp" data-wow-delay="0.7s">
                <div class="img-box">
                    <div class="shared-icon">
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                 alt="facebook icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                 alt="LinkedIn icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                 alt="Twitter icon">
                        </a>
                    </div>
                    <img src="/themes/rms/templates/dist/images/event-reaction-img.jpg" alt="bitmap image">
                </div>
                <div class="media-footer">
                    <div class="icon-box">
                        <img src="/themes/rms/templates/dist/images/event-icon.svg"
                             alt="icon play">
                    </div>
                    <span>Event</span>
                </div>
            </div>
            <div class="content-block wow fadeInUp" data-wow-delay="0.9s">
                <h3>Reactions North America</h3>
                <p>This one-day event will examine.</p>
            </div>
        </div>
    </div>
    <div class="resources-block half-width">
        <div class="wrapper-box">
            <a href="#"></a>
            <div class="media-top">
                <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/event-card-img.jpg"
                         alt="bitmap image">
                    <div class="shared-icon">
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                 alt="facebook icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                 alt="LinkedIn icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                 alt="Twitter icon">
                        </a>
                    </div>
                </div>
                <div class="media-footer">
                    <div class="icon-box">
                        <img src="/themes/rms/templates/dist/images/event-icon.svg"
                             alt="icon play">
                    </div>
                    <span>Event</span>
                </div>
            </div>
            <div class="content-block">
                <h3>U.S. Flood Risk</h3>
                <p>Identifying Floodwater Sources</p>
            </div>
        </div>
        <div class="wrapper-box">
            <a href="#"></a>
            <div class="media-top">
                <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                    <div class="shared-icon">
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                 alt="facebook icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                 alt="LinkedIn icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                 alt="Twitter icon">
                        </a>
                    </div>
                </div>
                <div class="media-footer">
                    <div class="icon-box">
                        <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                             alt="icon play">
                    </div>
                    <span>Infographic</span>
                </div>
            </div>
            <div class="content-block">
                <h3>Post-Exceedance Website Live</h3>
                <p>Stay Informed with News, Videos, Updates, Photos…</p>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="resources-block half-width">
        <div class="wrapper-box">
            <a href="#"></a>
            <div class="media-top">
                <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/infogrph-card-img.jpg"
                         alt="bitmap image">
                    <div class="shared-icon">
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                 alt="facebook icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                 alt="LinkedIn icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                 alt="Twitter icon">
                        </a>
                    </div>
                </div>
                <div class="media-footer">
                    <div class="icon-box">
                        <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                             alt="icon play">
                    </div>
                    <span>Infographic</span>
                </div>
            </div>
            <div class="content-block">
                <h3>U.S. Flood Risk</h3>
                <p>Identifying Floodwater Sources</p>
            </div>
        </div>
        <div class="wrapper-box">
            <a href="#"></a>
            <div class="media-top">
                <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                    <div class="shared-icon">
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                 alt="facebook icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                 alt="LinkedIn icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                 alt="Twitter icon">
                        </a>
                    </div>
                </div>
                <div class="media-footer">
                    <div class="icon-box">
                        <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                             alt="icon play">
                    </div>
                    <span>Infographic</span>
                </div>
            </div>
            <div class="content-block">
                <h3>Post-Exceedance Website Live</h3>
                <p>Stay Informed with News, Videos, Updates, Photos…</p>
            </div>
        </div>
    </div>
    <div class="resources-block half-width">
        <div class="wrapper-box">
            <a href="#"></a>
            <div class="media-top">
                <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/infogrph-card-img.jpg"
                         alt="bitmap image">
                    <div class="shared-icon">
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                 alt="facebook icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                 alt="LinkedIn icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                 alt="Twitter icon">
                        </a>
                    </div>
                </div>
                <div class="media-footer">
                    <div class="icon-box">
                        <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                             alt="icon play">
                    </div>
                    <span>Infographic</span>
                </div>
            </div>
            <div class="content-block">
                <h3>U.S. Flood Risk</h3>
                <p>Identifying Floodwater Sources</p>
            </div>
        </div>
        <div class="wrapper-box">
            <a href="#"></a>
            <div class="media-top">
                <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                    <div class="shared-icon">
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                 alt="facebook icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                 alt="LinkedIn icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                 alt="Twitter icon">
                        </a>
                    </div>
                </div>
                <div class="media-footer">
                    <div class="icon-box">
                        <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                             alt="icon play">
                    </div>
                    <span>Infographic</span>
                </div>
            </div>
            <div class="content-block">
                <h3>Post-Exceedance Website Live</h3>
                <p>Stay Informed with News, Videos, Updates, Photos…</p>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="resources-block half-width">
        <div class="wrapper-box">
            <a href="#"></a>
            <div class="media-top">
                <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/infogrph-card-img.jpg"
                         alt="bitmap image">
                    <div class="shared-icon">
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                 alt="facebook icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                 alt="LinkedIn icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                 alt="Twitter icon">
                        </a>
                    </div>
                </div>
                <div class="media-footer">
                    <div class="icon-box">
                        <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                             alt="icon play">
                    </div>
                    <span>Infographic</span>
                </div>
            </div>
            <div class="content-block">
                <h3>U.S. Flood Risk</h3>
                <p>Identifying Floodwater Sources</p>
            </div>
        </div>
        <div class="wrapper-box">
            <a href="#"></a>
            <div class="media-top">
                <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                    <div class="shared-icon">
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                 alt="facebook icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                 alt="LinkedIn icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                 alt="Twitter icon">
                        </a>
                    </div>
                </div>
                <div class="media-footer">
                    <div class="icon-box">
                        <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                             alt="icon play">
                    </div>
                    <span>Infographic</span>
                </div>
            </div>
            <div class="content-block">
                <h3>Post-Exceedance Website Live</h3>
                <p>Stay Informed with News, Videos, Updates, Photos…</p>
            </div>
        </div>
    </div>
    <div class="resources-block half-width">
        <div class="wrapper-box">
            <a href="#"></a>
            <div class="media-top">
                <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/infogrph-card-img.jpg"
                         alt="bitmap image">
                    <div class="shared-icon">
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                 alt="facebook icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                 alt="LinkedIn icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                 alt="Twitter icon">
                        </a>
                    </div>
                </div>
                <div class="media-footer">
                    <div class="icon-box">
                        <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                             alt="icon play">
                    </div>
                    <span>Infographic</span>
                </div>
            </div>
            <div class="content-block">
                <h3>U.S. Flood Risk</h3>
                <p>Identifying Floodwater Sources</p>
            </div>
        </div>
        <div class="wrapper-box">
            <a href="#"></a>
            <div class="media-top">
                <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                    <div class="shared-icon">
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                 alt="facebook icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                 alt="LinkedIn icon">
                        </a>
                        <a href="#" class="icon-box">
                            <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                 alt="Twitter icon">
                        </a>
                    </div>
                </div>
                <div class="media-footer">
                    <div class="icon-box">
                        <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                             alt="icon play">
                    </div>
                    <span>Infographic</span>
                </div>
            </div>
            <div class="content-block">
                <h3>Post-Exceedance Website Live</h3>
                <p>Stay Informed with News, Videos, Updates, Photos…</p>
            </div>
        </div>
    </div>
</div>