{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="news-slider new-slider-career {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    <div class="container">
        <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.5s">
            <h3>Why RMS?</h3>
        </div>
        <div class="slider-block">
            {{ content.field_speaker_carousel_items}}
        </div>
        <div class="button-wrap">
            <span class="pre-btn"></span>
            <div class="dots-outer">
            </div>
            <span class="next-btn"></span>

        </div>
    </div>
</section>
