{% if content.field_title[0] is not empty %}
    {% set text = content.field_blurb|render|striptags %}
    <div class="col-lg-4 col-md-6 content-box wow fadeInUp" data-wow-delay="0.4s">
        {% if content.field_image[0] is not empty %}
            <div class="bg-img">
                {{ content.field_image[0] }}
            </div>
        {% endif %}
        <div class="blue-overlay wow fadeInUp" data-wow-delay="0.4s">
            {% if content.field_icon[0] is not empty %}
                <div class="icon">
                    <img src="/themes/rms/templates/dist/images/svg/{{ content.field_icon[0] }}.svg" alt="Icon">
                </div>
            {% endif %}
            <h5>{{ content.field_title[0] }}</h5>
            <p>{{ text }}</p>
            <div class="button-box">
                <a href="{{ content.field_link[0]['#url'] }}"
                   class="learn-more">{{ content.field_link[0]['#title'] }}</a>
            </div>
        </div>
    </div>
{% endif %}