{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="col-three-with-image data-detail-page-overview model-overview {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    <div class="container">
        <div class="col-grid row no-gutters">
            {{ content.field_col_three_with_image_items }}
        </div>
    </div>
</section>