{% set start_date = node.field_event_date.start_date %}
{% set end_date = node.field_event_date.end_date %}
{% if start_date is not empty and end_date is not empty and start_date == end_date %}
  {% set formated_date = start_date|date('F d, Y') %}
{% elseif start_date is not empty and end_date is not empty %}
  {% if start_date|date('F') == end_date|date('F') %}
    {% set formated_date = start_date|date('F d') ~ '-' ~ end_date|date('d, Y') %}
  {% else %}
    {% set formated_date = start_date|date('F d') ~ '-' ~ end_date|date('F d, Y') %}
  {% endif %}
{% elseif start_date is not empty %}
  {% set formated_date = start_date|date('F d, Y') %}
{% elseif end_date is not empty %}
  {% set formated_date = end_date|date('F d, Y') %}
{% endif %}
{% set has_image = content.field_image[0] ? '' : 'banner-with-out-image'  %}
{% set start_time = node.field_event_time.value is not empty ? node.field_event_time.value : '' %}
{% if node.title.value is not empty %}
  <section class="banner-third-level banner-event-detail {{ has_image }} ">
    <div class="bg-img wow fadeIn" data-wow-delay="0.3s">
      {% if content.field_image[0] is not empty %}
        {{ content.field_image[0] }}
      {% endif %}
    </div>
    <div class="v-middle-wrapper wow fadeIn" data-wow-delay="0.4s">
      <div class="v-middle-inner container">
        <div class="v-middle">
          <div class="inner-text">
            <h1>{{ node.title.value }}</h1>
            {% if formated_date is not empty and content.field_place[0] is not empty %}
              <h5>{{ formated_date }} | {{ content.field_place[0] }} {{ start_time }}</h5>
            {% elseif formated_date is not empty and content.field_place[0] is empty %}
              <h5>{{ formated_date }} {{ start_time }}</h5>
            {% elseif formated_date is empty and content.field_place[0] is not empty %}
              <h5>{{ content.field_place[0] }} {{ start_time }}</h5>
            {% endif %}
            {% if content.field_url[0] is not empty %}
              <div class="button-box">
                <a href="{{ content.field_url[0]['#url'] }}"
                   class="btn-red"><span>{{ content.field_url[0]['#title'] }}</span></a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {#<div class="place-location">#}
    {#<span>Kremenets, Ukraine</span>#}
    {#</div>#}
  </section>
{% endif %}
