{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
{% if content.field_col_two_cards_items['#items']|length > 0  %}
<section class="col-two-with-cards event-detail-two-cards {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    {% if content.field_image_four[0] is not empty %}
        <div class="bg-img">
            {{ content.field_image_four[0] }}
        </div>
    {% endif %}
    <div class="container">
        {% if content.field_title_five[0] is not empty %}
            <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.4s">
                <h2>{{ content.field_title_five[0] }}</h2>
            </div>
        {% endif %}
        {% if content.field_col_two_cards_items['#items']|length > 0 %}
        <div class="content-box">
            <div class="pattern-animation" id="lottie5"></div>
            <div class="row column-wrapper no-gutters wow fadeInUp" data-wow-delay=".5s">
                {{ content.field_col_two_cards_items }}
            </div>
        </div>
        {% endif %}
    </div>

</section>
{% endif %}
