{% if content.field_session_slider_items[0] is not empty %}
    <section class="col-four-with-slider solution-page-cases slider-event-detail">
        <div class="row-wrapper no-gutters">
            <div class="overview-block green-border align-left wow zoomIn" data-wow-delay="0.5s">
                <div class="container">
                    <h2>{{ content.field_title_four[0] }}</h2>
                    <p>{{ content.field_blurb_two[0] }}</p>
                </div>
            </div>
            <div class="slider-block  wow fadeIn" data-wow-delay="0.5s">
                <div class="button-wrap">
                    <span class="pre-btn"></span>
                    <div class="dots-outer">
                    </div>
                    <span class="next-btn"></span>
                </div>
                <div class="slide-outer">
                    {{ content.field_session_slider_items }}
                </div>
            </div>
        </div>
    </section>
{% endif %}
