{% if content.field_title[0] is not empty %}
    {% set btn_text = '/' in content.field_link[0]['#title'] ? 'Learn More' : content.field_link[0]['#title'] %}
    <div class="item-box">
        <div class="no-state">
            {% if content.field_icon[0] is not empty %}
            <div class="icon-box">
                <img src="/themes/rms/templates/dist/images/svg/{{ content.field_icon[0] }}.svg" alt="{{ content.field_icon[0] }}">
            </div>
            {% endif %}
            <div class="text-block">
                <h3>{{ content.field_title[0] }}</h3>
                {{ content.field_blurb[0] }}
            </div>
        </div>
        {% if content.field_image[0] is not empty %}
            <div class="hover-state">
                <div class="bg-img-top">
                    {{ content.field_image[0] }}
                </div>
                <div class="content-footer">
                    <h3>{{ content.field_title[0] }}</h3>
                    <a href="{{ content.field_link[0]['#url'] }}" class="learn-more">{{ btn_text }}</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}