{% if content.field_title_two[0] is not empty or content.field_blurb[0] is not empty %}
    <section class="image-with-text reverse-image col-video-text use-ul-event-detail">
        <div class="container">
            <div class="row column-wrapper no-gutters wow fadeInUp" data-wow-delay="0.5s">
                <div class="rectangle-box wow wefadeInRight"></div>
                    <div class="col-two image-box">
                        {% if content.field_image_two[0] is not empty %}
                            <div class="img-wrapper play-icon">
                                {#<div class="video-player fadeInLeft" data-wow-delay="0.8s"> </div>#}
                                <a href="#" class="video-play" data-video="{{ content.field_video_url[0] }}"><span
                                            class="id"></span></a>
                                {% if content.field_image_two[0] is not empty %}
                                    {{ content.field_image_two[0] }}
                                {% endif %}

                            </div>
                        {% endif %}
                    </div>
                    <div class="col-two green-border align-left text-wrapper">
                        <h3 class="">{{ content.field_title_two[0] }}</h3>
                        {{ content.field_blurb[0] }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}

{#<section class="video-overlay" style="visibility: visible;">#}
    {#<div class="v-middle-inner">#}
        {#<div class="v-middle">#}
            {#<div class="video-container">#}
                {#<iframe src="https://youtu.be/sxkCuWXKkE4" name="" class="" bf_offer_id=""></iframe>#}
                {#<button class="closeVideo">#}
                    {#<img src="/themes/datastax/templates/dist/images/svg/close_btn.svg" alt="Close">#}
                {#</button>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</section>#}