{% if content.field_reference[0] is not empty %}
    <section class="leadership-grid animation-five speaker-event-detail">
        <div class="rectangle-box wow fadeInRight" data-wow-delay="0.5s"></div>
        <div class="container">
            <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.4s">
                <h2 class="">{{ content.field_title_three[0] }}</h2>
                <p>{{ content.field_subtitle[0] }}</p>
            </div>

            <div class="row cards-wrapper wow fadeInUp" data-wow-delay="0.5s">
                {% for i, value in content.field_reference %}
                    {% set box_class, box_row_class, award_block_class, pattern_class = '', '', '', '' %}
                    {# No insight by and accomplishment found #}
                    {% if node.field_reference[i].entity.field_insight_by is empty and node.field_reference[i].entity.field_awards is empty %}
                        {% set box_class, box_row_class = 'single-content', 'collapse-row' %}
                    {% elseif node.field_reference[i].entity.field_insight_by is empty or node.field_reference[i].entity.field_awards is empty %} {# No insight by found #}
                        {% set box_class, box_row_class, award_block_class, pattern_class = 'coll-two', 'collapse-row', 'single-block', '-two' %}
                    {% endif %}

                    {% if node.field_reference[i].entity %}
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card-item">
                            <div class="img-box">
                                <img src="{{ file_url(node.field_reference[i].entity.field_image.entity.uri.value) }}"
                                     alt="{{ node.field_reference[i].entity.field_image.entity.alt.value }}">
                            </div>
                            <div class="content-wrap">
                                <div class="text-wrap">
                                    <h5>{{ node.field_reference[i].entity.title.value }}</h5>
                                    <p>{{ node.field_reference[i].entity.field_subtitle.value }}</p>
                                </div>
                                <div class="footer-box">
                                    <span class="read-more-btn">Read More</span>
                                    <a href="{{ node.field_reference[i].entity.field_linkedin_url.value }}" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-icon.svg"
                                             alt="social image">
                                    </a>
                                </div>
                            </div>

                            <div class="collapse-box {{ box_class }}">
                                <div class="container">
                                    <div class="row {{ box_row_class }}">
                                        {# Show if insight by or accomplishment found #}
                                        {% if node.field_reference[i].entity.field_insight_by is not empty or node.field_reference[i].entity.field_awards is not empty %}
                                            <div class="col-lg-6 col-md-12 col-sm-12 left-content green-border align-left">
                                                <h2>{{ node.field_reference[i].entity.title.value }}</h2>
                                                <div class="text-block">
                                                    {{ node.field_reference[i].entity.field_blurb.value|raw }}
                                                </div>

                                            </div>


                                            <div class="col-lg-6 col-md-12 col-sm-12 right-content">
                                                {% if node.field_reference[i].entity.field_insight_by is not empty and node.field_reference[i].entity.field_awards is not empty %}
                                                    <div class="pattern-animation{{ pattern_class }}" id="lottie5">
                                                        {#<img src="/themes/rms/templates/dist/images/grid-five.svg" alt="white pattern">#}
                                                    </div>
                                                {% endif %}
                                                <div class="content-wrapper {{ award_block_class }}">
                                                    <div class="top-border "></div>
                                                    {% if node.field_reference[i].entity.field_insight_by is not empty %}
                                                        <div class="slider-block">
                                                            <div class="container-block">
                                                                <h5>Insights
                                                                    by {{ node.field_reference[i].entity.title.value }}</h5>
                                                                <div class=" bg-wrapper ">
                                                                    <div class="slider-outer row">
                                                                        {% for j, jvalue in node.field_reference[i].entity.field_insight_by %}
                                                                            {% set insight_title = node.field_reference[i].entity.field_insight_by[j].entity.title.value %}
                                                                            {% if file_url(node.field_reference[i].entity.field_insight_by[j].entity.field_image.entity.uri.value) == '/' %}
                                                                                {% set insight_thumb, thumb_alt = '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
                                                                            {% else %}
                                                                                {% set insight_thumb, thumb_alt = file_url(node.field_reference[i].entity.field_insight_by[j].entity.field_image.entity.uri.value), node.field_reference[i].entity.field_insight_by[j].entity.field_image.entity.alt.value %}
                                                                            {% endif %}
                                                                            <div class="item-box col-md-4">
                                                                                <div class="image-box">
                                                                                    <img src="{{ insight_thumb }}" alt="{{ thumb_alt }}">
                                                                                </div>
                                                                                <div class="content-box">
                                                                                    <span class="small-head">{{ node.field_reference[i].entity.field_insight_by[j].entity.type.entity.label }}</span>
                                                                                    <h5>{{ insight_title|length > 28 ? insight_title|slice(0, 25) ~ '...' : insight_title }}</h5>
                                                                                </div>
                                                                            </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    {% if node.field_reference[i].entity.field_awards is not empty %}
                                                        <div class="awards-block">
                                                            <h5>Awards / Accomplishments</h5>
                                                            <div class="award-wrap">
                                                                {% for item in node.field_reference[i].entity.field_awards %}
                                                                    <div class="img-wrap">
                                                                        <img src="{{ file_url(item.getFieldCollectionItem().field_image.entity.uri.value) }}"
                                                                             alt="{{ item.getFieldCollectionItem().field_image.entity.alt.value }}">
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="col green-border align-left">
                                                <h2>{{ node.field_reference[i].entity.title.value }}</h2>
                                                {{ node.field_reference[i].entity.field_blurb.value|raw }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}