{#<section class="rms-form-event animation-second">#}
    {#<div class="bg-img">#}
        {#<img src="/themes/rms/templates/dist/images/bg-form.png" alt="overlay image">#}
    {#</div>#}

    {#<div class="container">#}
        {#<div class="column-wrap ">#}
            {#<div class="pattern-animation" data-wow-delay="0.6s" id="lottie2">#}
            {#</div>#}
            {#<div class="green-border ">#}
                {#<h2>For More Information on RMS Events</h2>#}
                {#<p>Lorem ipsum dolor sit amet, consetetur sadipscing sed diam nonumy.</p>#}
            {#</div>#}

            {#<form>#}
                {#<div class="mktoFormRow">#}
                    {#<div class="cover-input">#}
                        {#<div class="left-input">#}
                            {#<input type="text" placeholder="First Name">#}
                        {#</div>#}
                        {#<div class="right-input">#}
                            {#<input type="text" placeholder="Last Name">#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="mktoFormRow">#}
                    {#<div class="cover-input">#}
                        {#<input type="email" placeholder="Email Address">#}
                    {#</div>#}
                {#</div>#}

                {#<div class="mktoFormRow">#}
                    {#<div class="check-box">#}
                        {#<label class="main">I agree with all conditions#}
                            {#<input type="checkbox">#}
                            {#<span class="geekmark"></span>#}
                        {#</label>#}
                        {#<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>#}
                    {#</div>#}

                {#</div>#}
                {#<div class="mktoFormRow">#}
                    {#<button><span>Submit</span></button>#}
                {#</div>#}
            {#</form>#}
        {#</div>#}

    {#</div>#}
{#</section>#}