{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="col-four-with-slider {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    <div class="row-wrapper no-gutters">
        <div class="pattern-animation wow fadeIn"  id="lottie1" data-wow-delay="0.6s"></div>
        <div class="overview-block green-border align-left wow zoomIn" data-wow-delay="0.5s">
            <div class="container">
                <h2>{{ content.field_title[0] }}</h2>
                {{ content.field_blurb[0] }}
                <div class="button-box">
                    {{ content.field_cta }}
                </div>
            </div>
        </div>
        <div class="slider-block  wow fadeIn" data-wow-delay="0.5s">
            <div class="button-wrap">
                <span class="pre-btn"></span>
                <div class="dots-outer">
                </div>
                <span class="next-btn"></span>
            </div>
            <div class="slide-outer">
                {{ content.field_col_four_slider_items}}
            </div>
        </div>
    </div>
</section>
