{% set blurb, label = content.field_resource_reference[0]['#node'].field_blurb.value|striptags|trim|truncate(295), content.field_resource_reference[0]['#node'].type.entity.label %}
{% if content.field_resource_reference[0]['#node'].field_image.isempty %}
    {% set image_url, image_alt = '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
{% else %}
    {% set image_url, image_alt = content.field_resource_reference[0]['#node'].field_image.entity.uri.value, content.field_resource_reference[0]['#node'].field_image.entity.alt %}
{% endif %}
{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
{% set resource_title = content.field_resource_reference[0]['#node'].title.value %}
{% if content.field_resource_reference[0]['#node'].id %}
    <section class="resource-with-card sol-detail {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
        <div class="bg-img "></div>
        <div class="container">
            <div class="pattern-animation wow fadeIn" data-wow-delay="0.5s" id="lottie2">
                {#<img src="/themes/rms/templates/dist/images/svg/Grid.svg" alt="white pattern">#}
            </div>
            <div class="row column-wrapper no-gutters wow fadeInUp" data-wow-delay="0.4s">
                <div class="col-two image-box">
                    <div class="img-wrapper">
                        <div class="top-border"></div>
                        <img src="{{ file_url(image_url) }}" alt="{{ image_alt }}">
                    </div>
                </div>
                <div class="col-two green-border align-left text-wrapper ">
                    <div class="logo-title">
                        <div class="logo-wrap">
                            <img src="/themes/rms/templates/dist/images/svg/{{ label }}.svg" alt="{{ label }}">
                        </div>
                        <span class="small-title">{{ label }}</span>
                    </div>
                    <h2>{{ resource_title|truncate(38, true, '...') }}</h2>
                    <p>{{ blurb }}</p>
                    <div class="button-box">
                        {% if label == 'Video' %}
                          <a href="#" class="video-play learn-more" data-video="{{ content.field_resource_reference[0]['#node'].field_video_url.value }}" tabindex="0">
                            Watch
                            <p>{{ resource_title }}</p>
                          </a>
                        {% elseif content.field_resource_reference[0]['#node'].field_file.entity.uri.value is not empty %}
                            <a href="{{ file_url(content.field_resource_reference[0]['#node'].field_file.entity.uri.value) }}" target="_blank" class="learn-more"> Read More</a>
                        {% else %}
                            <a href="{{ path('entity.node.canonical', {'node': content.field_resource_reference[0]['#node'].id}) }}"
                               class="learn-more">Read More</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
