<section class="image-slider slider-promotional animation-first blue-grid">
    <div class="container">
        <div class="column-wrapper  wow fadeInUp" data-wow-delay="0.4s">
            <div class="pattern-animation" id="lottie1">
              {#<img src="/themes/rms/templates/dist/images/svg/Grid-blue.svg" alt="green pattern">#}
            </div>
            <div class="slider">
                <div class="cover-text-image item">
                    <div class="bg-img">
                        <a data-video="https://youtube.com/embed/GvHuCe9fPWM" class="video-play" tabindex="0"></a>
                        <img src="/themes/rms/templates/dist/images/image-video.png" alt="slider image">
                        <div class="play-icon">
                            <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                        </div>
                    </div>
                </div>
                <div class="cover-text-image item">
                    <div class="bg-img">
                        <a href="#"></a>
                        <img src="/themes/rms/templates/dist/images/image-video.png" alt="slider image">
                        <div class="play-icon">
                            <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                        </div>
                    </div>
                </div>
                <div class="cover-text-image item">
                    <div class="bg-img">
                        <a href="#"></a>
                        <img src="/themes/rms/templates/dist/images/image-video.png" alt="slider image">
                        <div class="play-icon">
                            <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                        </div>
                    </div>
                </div>
                <div class="cover-text-image item">
                    <div class="bg-img">
                        <a href="#"></a>
                        <img src="/themes/rms/templates/dist/images/image-video.png" alt="slider image">
                        <div class="play-icon">
                            <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="button-wrap">
            <span class="pre-btn"></span>
            <div class="dots-outer">
            </div>
            <span class="next-btn"></span>
        </div>
    </div>
</section>
