<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5cc30e52a85862a9"></script>
{% set records = content.field_resource_reference['#items']|length %}
{% if records > 0 %}
  <section class="news-slider animation-four news-data-detail">
    <div class="container">
      <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.5s">
        <h2>{{ content.field_title_six[0] }}</h2>
      </div>

      <div class="slider-block">
        <div class="item">
          {% for item in content.field_resource_reference['#items'] %}
            {% set title, blurb, type = item.entity.title.value|e, item.entity.field_blurb.value, item.entity.type.entity.label %}
            {% set start_date, end_date, subtitle = item.entity.field_start_date.value, item.entity.field_end_date.value, item.entity.field_subtitle.value %}
            {% if item.entity.field_image.isempty  %}
              {% set image_url, image_alt =  '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
            {% else %}
              {% set image_url, image_alt =  file_url(item.entity.field_image.entity.uri.value), item.entity.field_image.entity.alt %}
            {% endif %}
            {% if loop.index == 1 %}
              <div class="media-block">
                {% if item.entity.field_file.entity.uri.value is not empty %}
                  <a href="{{ file_url(item.entity.field_file.entity.uri.value) }}" target="_blank" class="learn-more"></a>
                {% elseif item.entity.field_external_redirect.value is not empty%}
                  <a href="{{ item.entity.field_external_redirect.value }}" target="_blank" class="learn-more"></a>
                {% else %}
                  <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}" class="learn-more"></a>
                {% endif %}
                <div class="pattern-animation" id="lottie4">
                </div>
                <div class="media-top-wrap wow fadeInUp" data-wow-delay="0.7s">
                  <div class="img-box">
                    <img src="{{ image_url }}" alt="{{ image_alt }}">
                    <div class="shared-icon">
                      <div class="addthis_inline_share_toolbox_sove"></div>
                    </div>
                    {% if type == 'Video' %}
                      <div class="play-icon">
                        <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                      </div>
                    {% endif %}
                  </div>
                  <div class="media-footer">
                    <div class="icon-box">
                      <img src="/themes/rms/templates/dist/images/svg/{{ type }}.svg" alt="{{ type }}">
                    </div>
                    <span>{{ type }}</span>
                  </div>
                </div>
                <div class="content-box wow fadeInUp" data-wow-delay="0.9s">
                  <h3>{{ title|length > 44 ? title|slice(0, 41) ~ '...' : title }}</h3>
                  {% if type == 'Events'  %}
                    <p class="small-text">{{ start_date }} - {{ end_date }}</p>
                  {% elseif subtitle %}
                    <p class="small-text">{{ subtitle }}</p>
                  {% endif %}
                  {% if blurb %}
                    <p>{{ blurb|striptags|length > 467 ? blurb|striptags|slice(0, 464) ~ '...' : blurb|striptags }}</p>
                  {% endif %}
                  <div class="button-box">
                    {% if item.entity.field_file.entity.uri.value is not empty %}
                      <a href="{{ file_url(item.entity.field_file.entity.uri.value) }}" target="_blank" class="learn-more">Read More</a>
                    {% elseif item.entity.field_external_redirect.value is not empty%}
                      <a href="{{ item.entity.field_external_redirect.value }}" target="_blank" class="learn-more">Read More</a>
                    {% else %}
                      <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}" class="learn-more">Read More</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}

          {% if records > 1 %}
            <div class="resources-block">
              {% for item in content.field_resource_reference['#items'] %}
                {% set title, blurb, type = item.entity.title.value|e, item.entity.field_blurb.value, item.entity.type.entity.label %}
                {% set start_date, end_date, subtitle = item.entity.field_start_date.value, item.entity.field_end_date.value, item.entity.field_subtitle.value %}
                {% if item.entity.field_image.isempty  %}
                  {% set image_url, image_alt =  '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
                {% else %}
                  {% set image_url, image_alt =  file_url(item.entity.field_image.entity.uri.value), item.entity.field_image.entity.alt %}
                {% endif %}
                {% if loop.index == 2 or loop.index == 3 %}
                  <div class="wrapper-box">
                    {% if item.entity.field_file.entity.uri.value is not empty %}
                      <a href="{{ file_url(item.entity.field_file.entity.uri.value) }}" target="_blank" class="learn-more"></a>
                    {% elseif item.entity.field_external_redirect.value is not empty%}
                      <a href="{{ item.entity.field_external_redirect.value }}" target="_blank" class="learn-more"></a>
                    {% else %}
                      <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}" class="learn-more"></a>
                    {% endif %}
                    <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                      <div class="img-box">
                        <div class="shared-icon">
                          <div class="addthis_inline_share_toolbox_sove"></div>
                        </div>
                        <img src="{{ image_url }}" alt="{{ image_alt }}">
                        {% if type == 'Video' %}
                          <div class="play-icon">
                            <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                          </div>
                        {% endif %}
                      </div>
                      <div class="media-footer">
                        <div class="icon-box">
                          <img src="/themes/rms/templates/dist/images/svg/{{ type }}.svg" alt="{{ type }}">
                        </div>
                        <span>{{ type }}</span>
                      </div>
                    </div>
                    <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                      <h3>{{ title|length > 32 ? title|slice(0, 29) ~ '...' : title }}</h3>
                      {% if blurb %}
                        <p>{{ blurb|striptags|length > 55 ? blurb|striptags|slice(0, 52) ~ '...' : blurb|striptags }}</p>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>

        {% if records > 3 %}
          <div class="item">
            <div class="resources-block half-width">
              {% for item in content.field_resource_reference['#items'] %}
                {% set title, blurb, type = item.entity.title.value|e, item.entity.field_blurb.value, item.entity.type.entity.label %}
                {% set start_date, end_date, subtitle = item.entity.field_start_date.value, item.entity.field_end_date.value, item.entity.field_subtitle.value %}
                {% if item.entity.field_image.isempty  %}
                  {% set image_url, image_alt =  '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
                {% else %}
                  {% set image_url, image_alt =  file_url(item.entity.field_image.entity.uri.value), item.entity.field_image.entity.alt %}
                {% endif %}
                {% if loop.index == 4 or loop.index == 5 %}
                  <div class="wrapper-box">
                    {% if item.entity.field_file.entity.uri.value is not empty %}
                      <a href="{{ file_url(item.entity.field_file.entity.uri.value) }}" target="_blank" class="learn-more"></a>
                    {% elseif item.entity.field_external_redirect.value is not empty%}
                      <a href="{{ item.entity.field_external_redirect.value }}" target="_blank" class="learn-more"></a>
                    {% else %}
                      <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}" class="learn-more"></a>
                    {% endif %}
                    <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                      <div class="img-box">
                        <div class="shared-icon">
                          <div class="addthis_inline_share_toolbox_sove"></div>
                        </div>
                        <img src="{{ image_url }}" alt="{{ image_alt }}">
                        {% if type == 'Video' %}
                          <div class="play-icon">
                            <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                          </div>
                        {% endif %}
                      </div>
                      <div class="media-footer">
                        <div class="icon-box">
                          <img src="/themes/rms/templates/dist/images/svg/{{ type }}.svg" alt="{{ type }}">
                        </div>
                        <span>{{ type }}</span>
                      </div>
                    </div>
                    <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                      <h3>{{ title|length > 32 ? title|slice(0, 29) ~ '...' : title }}</h3>
                      {% if blurb %}
                        <p>{{ blurb|striptags|length > 55 ? blurb|striptags|slice(0, 52) ~ '...' : blurb|striptags }}</p>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="resources-block half-width">
              {% for item in content.field_resource_reference['#items'] %}
                {% set title, blurb, type = item.entity.title.value|e, item.entity.field_blurb.value, item.entity.type.entity.label %}
                {% set start_date, end_date, subtitle = item.entity.field_start_date.value, item.entity.field_end_date.value, item.entity.field_subtitle.value %}
                {% if item.entity.field_image.isempty  %}
                  {% set image_url, image_alt =  '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
                {% else %}
                  {% set image_url, image_alt =  file_url(item.entity.field_image.entity.uri.value), item.entity.field_image.entity.alt %}
                {% endif %}
                {% if loop.index == 6 or loop.index == 7 %}
                  <div class="wrapper-box">
                    {% if item.entity.field_file.entity.uri.value is not empty %}
                      <a href="{{ file_url(item.entity.field_file.entity.uri.value) }}" target="_blank" class="learn-more"></a>
                    {% elseif item.entity.field_external_redirect.value is not empty%}
                      <a href="{{ item.entity.field_external_redirect.value }}" target="_blank" class="learn-more"></a>
                    {% else %}
                      <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}" class="learn-more"></a>
                    {% endif %}
                    <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                      <div class="img-box">
                        <div class="shared-icon">
                          <div class="addthis_inline_share_toolbox_sove"></div>
                        </div>
                        <img src="{{ image_url }}" alt="{{ image_alt }}">
                        {% if type == 'Video' %}
                          <div class="play-icon">
                            <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                          </div>
                        {% endif %}
                      </div>
                      <div class="media-footer">
                        <div class="icon-box">
                          <img src="/themes/rms/templates/dist/images/svg/{{ type }}.svg" alt="{{ type }}">
                        </div>
                        <span>{{ type }}</span>
                      </div>
                    </div>
                    <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                      <h3>{{ title|length > 32 ? title|slice(0, 29) ~ '...' : title }}</h3>
                      {% if blurb %}
                        <p>{{ blurb|striptags|length > 55 ? blurb|striptags|slice(0, 52) ~ '...' : blurb|striptags }}</p>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endif %}

        {% if records > 7 %}
          <div class="item">
            <div class="resources-block half-width">
              {% for item in content.field_resource_reference['#items'] %}
                {% set title, blurb, type = item.entity.title.value|e, item.entity.field_blurb.value, item.entity.type.entity.label %}
                {% set start_date, end_date, subtitle = item.entity.field_start_date.value, item.entity.field_end_date.value, item.entity.field_subtitle.value %}
                {% if item.entity.field_image.isempty  %}
                  {% set image_url, image_alt =  '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
                {% else %}
                  {% set image_url, image_alt =  file_url(item.entity.field_image.entity.uri.value), item.entity.field_image.entity.alt %}
                {% endif %}
                {% if loop.index == 8 or loop.index == 9 %}
                  <div class="wrapper-box">
                    {% if item.entity.field_file.entity.uri.value is not empty %}
                      <a href="{{ file_url(item.entity.field_file.entity.uri.value) }}" target="_blank" class="learn-more"></a>
                    {% elseif item.entity.field_external_redirect.value is not empty%}
                      <a href="{{ item.entity.field_external_redirect.value }}" target="_blank" class="learn-more"></a>
                    {% else %}
                      <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}" class="learn-more"></a>
                    {% endif %}
                    <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                      <div class="img-box">
                        <div class="shared-icon">
                          <div class="addthis_inline_share_toolbox_sove"></div>
                        </div>
                        <img src="{{ image_url }}" alt="{{ image_alt }}">
                        {% if type == 'Video' %}
                          <div class="play-icon">
                            <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                          </div>
                        {% endif %}
                      </div>
                      <div class="media-footer">
                        <div class="icon-box">
                          <img src="/themes/rms/templates/dist/images/svg/{{ type }}.svg" alt="{{ type }}">
                        </div>
                        <span>{{ type }}</span>
                      </div>
                    </div>
                    <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                      <h3>{{ title|length > 32 ? title|slice(0, 29) ~ '...' : title }}</h3>
                      {% if blurb %}
                        <p>{{ blurb|striptags|length > 55 ? blurb|striptags|slice(0, 52) ~ '...' : blurb|striptags }}</p>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="resources-block half-width">
              {% for item in content.field_resource_reference['#items'] %}
                {% set title, blurb, type = item.entity.title.value|e, item.entity.field_blurb.value, item.entity.type.entity.label %}
                {% set start_date, end_date, subtitle = item.entity.field_start_date.value, item.entity.field_end_date.value, item.entity.field_subtitle.value %}
                {% if item.entity.field_image.isempty  %}
                  {% set image_url, image_alt =  '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
                {% else %}
                  {% set image_url, image_alt =  file_url(item.entity.field_image.entity.uri.value), item.entity.field_image.entity.alt %}
                {% endif %}
                {% if loop.index == 10 or loop.index == 11 %}
                  <div class="wrapper-box">
                    {% if item.entity.field_file.entity.uri.value is not empty %}
                      <a href="{{ file_url(item.entity.field_file.entity.uri.value) }}" target="_blank" class="learn-more"></a>
                    {% elseif item.entity.field_external_redirect.value is not empty%}
                      <a href="{{ item.entity.field_external_redirect.value }}" target="_blank" class="learn-more"></a>
                    {% else %}
                      <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}" class="learn-more"></a>
                    {% endif %}
                    <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                      <div class="img-box">
                        <div class="shared-icon">
                          <div class="addthis_inline_share_toolbox_sove"></div>
                        </div>
                        <img src="{{ image_url }}" alt="{{ image_alt }}">
                        {% if type == 'Video' %}
                          <div class="play-icon">
                            <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                          </div>
                        {% endif %}
                      </div>
                      <div class="media-footer">
                        <div class="icon-box">
                          <img src="/themes/rms/templates/dist/images/svg/{{ type }}.svg" alt="{{ type }}">
                        </div>
                        <span>{{ type }}</span>
                      </div>
                    </div>
                    <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                      <h3>{{ title|length > 32 ? title|slice(0, 29) ~ '...' : title }}</h3>
                      {% if blurb %}
                        <p>{{ blurb|striptags|length > 55 ? blurb|striptags|slice(0, 52) ~ '...' : blurb|striptags }}</p>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
        {% if records > 11 %}
          <div class="item">
            <div class="resources-block half-width">
                {% for item in content.field_resource_reference['#items'] %}
                    {% set title, blurb, type = item.entity.title.value|e, item.entity.field_blurb.value, item.entity.type.entity.label %}
                    {% set start_date, end_date, subtitle = item.entity.field_start_date.value, item.entity.field_end_date.value, item.entity.field_subtitle.value %}
                    {% if item.entity.field_image.isempty  %}
                        {% set image_url, image_alt =  '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
                    {% else %}
                        {% set image_url, image_alt =  file_url(item.entity.field_image.entity.uri.value), item.entity.field_image.entity.alt %}
                    {% endif %}
                    {% if loop.index == 12 or loop.index == 13 %}
                      <div class="wrapper-box">
                        {% if item.entity.field_file.entity.uri.value is not empty %}
                          <a href="{{ file_url(item.entity.field_file.entity.uri.value) }}" target="_blank" class="learn-more"></a>
                        {% elseif item.entity.field_external_redirect.value is not empty%}
                          <a href="{{ item.entity.field_external_redirect.value }}" target="_blank" class="learn-more"></a>
                        {% else %}
                          <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}" class="learn-more"></a>
                        {% endif %}
                        <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                          <div class="img-box">
                            <div class="shared-icon">
                              <div class="addthis_inline_share_toolbox_sove"></div>
                            </div>
                            <img src="{{ image_url }}" alt="{{ image_alt }}">
                              {% if type == 'Video' %}
                                <div class="play-icon">
                                  <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                                </div>
                              {% endif %}
                          </div>
                          <div class="media-footer">
                            <div class="icon-box">
                              <img src="/themes/rms/templates/dist/images/svg/{{ type }}.svg" alt="{{ type }}">
                            </div>
                            <span>{{ type }}</span>
                          </div>
                        </div>
                        <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                          <h3>{{ title|length > 32 ? title|slice(0, 29) ~ '...' : title }}</h3>
                            {% if blurb %}
                              <p>{{ blurb|striptags|length > 55 ? blurb|striptags|slice(0, 52) ~ '...' : blurb|striptags }}</p>
                            {% endif %}
                        </div>
                      </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="resources-block half-width">
                {% for item in content.field_resource_reference['#items'] %}
                    {% set title, blurb, type = item.entity.title.value|e, item.entity.field_blurb.value, item.entity.type.entity.label %}
                    {% set start_date, end_date, subtitle = item.entity.field_start_date.value, item.entity.field_end_date.value, item.entity.field_subtitle.value %}
                    {% if item.entity.field_image.isempty  %}
                        {% set image_url, image_alt =  '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
                    {% else %}
                        {% set image_url, image_alt =  file_url(item.entity.field_image.entity.uri.value), item.entity.field_image.entity.alt %}
                    {% endif %}
                    {% if loop.index == 14 or loop.index == 15 %}
                      <div class="wrapper-box">
                        {% if item.entity.field_file.entity.uri.value is not empty %}
                          <a href="{{ file_url(item.entity.field_file.entity.uri.value) }}" target="_blank" class="learn-more"></a>
                        {% elseif item.entity.field_external_redirect.value is not empty%}
                          <a href="{{ item.entity.field_external_redirect.value }}" target="_blank" class="learn-more"></a>
                        {% else %}
                          <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}" class="learn-more"></a>
                        {% endif %}
                        <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                          <div class="img-box">
                            <div class="shared-icon">
                              <div class="addthis_inline_share_toolbox_sove"></div>
                            </div>
                            <img src="{{ image_url }}" alt="{{ image_alt }}">
                              {% if type == 'Video' %}
                                <div class="play-icon">
                                  <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                                </div>
                              {% endif %}
                          </div>
                          <div class="media-footer">
                            <div class="icon-box">
                              <img src="/themes/rms/templates/dist/images/svg/{{ type }}.svg" alt="{{ type }}">
                            </div>
                            <span>{{ type }}</span>
                          </div>
                        </div>
                        <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                          <h3>{{ title|length > 32 ? title|slice(0, 29) ~ '...' : title }}</h3>
                            {% if blurb %}
                              <p>{{ blurb|striptags|length > 55 ? blurb|striptags|slice(0, 52) ~ '...' : blurb|striptags }}</p>
                            {% endif %}
                        </div>
                      </div>
                    {% endif %}
                {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
      <div class="button-wrap">
        <span class="pre-btn"></span>
        <div class="dots-outer">
        </div>
        <span class="next-btn"></span>
      </div>
    </div>
  </section>
{% endif %}

