{% if content.field_title_five[0] is not empty %}
<section class="reference-carousel " >
    <div class="container wow fadeInUp" data-wow-delay="0.4s">
        <div class="intro-box green-border align-center " >
            <h3 class="">{{ content.field_title_five[0] }}</h3>
        </div>
        <div class="col-wrapper">
            {{ content.field_model_reference }}
        </div>
        <div class="button-wrap">
            <span class="pre-btn"></span>
            <div class="dots-outer">
            </div>
            <span class="next-btn"></span>

        </div>
    </div>
</section>
{% endif %}