{% if content.field_title_three[0] is not empty %}
<section class="col-two-with-cards animation-five service-detail-card card-row">
    {% if content.field_image_two[0] is not empty %}
    <div class="bg-img">
        {{ content.field_image_two[0] }}
    </div>
    {% endif %}
    <div class="container">
        <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.4s">
            <h2>{{ content.field_title_three[0] }}</h2>
        </div>

        <div class="content-box">
            <div class="pattern-animation" id="lottie5">
                {#<img src="/themes/rms/templates/dist/images/svg/Grid.svg" alt="white pattern">#}
            </div>

            <div class="row column-wrapper no-gutters wow fadeInUp" data-wow-delay="0.5s">
                {{ content.field_benefit_items }}
            </div>
        </div>
    </div>
</section>
{% endif %}
