{% set body = content.field_blurb|render|striptags %}
<div class="card">
    <div class="top-icon">
        <img src="/themes/rms/templates/dist/images/svg/{{ content.field_icon[0] }}.svg" alt="{{ content.field_icon[0] }}">
    </div>
    <h3>{{ content.field_title[0] }}</h3>
    <p>{{ body }}</p>
</div>