<section class="infographics">
  <div class="container">
    <div class="content-wrapper">
      <div class="nav-wrap">
        <div class="breadcrumb-wrap">
          <ul>
            <li>San Francisco, October 17, 1989</li>
            <li>North America, August 23-31, 2005</li>
          </ul>
        </div>
        <div class="social-wrap">
        <span class="share">
          Share
        </span>
          <ul>
            <li><a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="18">
                  <g fill="none" fill-rule="evenodd">
                    <path d="M-11-8h32v32h-32z"/>
                    <path class="color" fill="#666"
                          d="M5.956 17.455H2.41V9.09H.637V6.208H2.41v-1.73c0-2.352 1-3.75 3.844-3.75h2.367v2.883h-1.48c-1.106 0-1.18.402-1.18 1.154l-.004 1.443h2.68L8.324 9.09H5.957v8.365z"/>
                  </g>
                </svg>
              </a></li>
            <li><a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14">
                  <g fill="none" fill-rule="evenodd">
                    <path d="M-8-10h32v32H-8z"/>
                    <path class="color" fill="#666"
                          d="M14.2 2.251A3.277 3.277 0 0 0 15.578.424a6.096 6.096 0 0 1-1.99.802A3.05 3.05 0 0 0 11.301.182c-1.73 0-3.132 1.48-3.132 3.304 0 .26.026.512.08.753C5.645 4.101 3.337 2.787 1.79.786a3.434 3.434 0 0 0-.424 1.662c0 1.146.554 2.158 1.394 2.751a3.024 3.024 0 0 1-1.42-.413v.04c0 1.603 1.08 2.938 2.515 3.241a3.017 3.017 0 0 1-1.416.058c.399 1.312 1.556 2.269 2.927 2.294a6.082 6.082 0 0 1-4.639 1.369 8.545 8.545 0 0 0 4.803 1.485c5.765 0 8.915-5.036 8.915-9.403 0-.144-.002-.286-.008-.427A6.557 6.557 0 0 0 16 1.731a5.984 5.984 0 0 1-1.8.52z"/>
                  </g>
                </svg>
              </a></li>
            <li><a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                  <g fill="none" fill-rule="evenodd">
                    <path d="M-8-8h32v32H-8z"/>
                    <path class="color" fill="#666"
                          d="M1.094 5.391h2.835v9.88H1.094v-9.88zm1.345-1.236h-.02C1.393 4.155.727 3.4.727 2.444c0-.976.685-1.717 1.732-1.717 1.046 0 1.69.739 1.71 1.714 0 .956-.664 1.714-1.73 1.714zm12.834 11.118h-3.215v-5.114c0-1.339-.503-2.251-1.609-2.251-.845 0-1.316.615-1.535 1.21-.082.213-.07.51-.07.808v5.347H5.66s.041-9.058 0-9.882h3.185v1.551c.188-.678 1.206-1.646 2.83-1.646 2.015 0 3.598 1.422 3.598 4.482v5.495z"/>
                  </g>
                </svg>

              </a></li>
            <li><a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="19">
                  <g fill="none" fill-rule="evenodd">
                    <path d="M-8-8h32v32H-8z"/>
                    <path class="color" fill="#666"
                          d="M.727 6.785c0 1.868.704 3.53 2.21 4.15.248.101.47.003.54-.273.05-.19.169-.67.22-.871.073-.273.045-.368-.154-.605-.434-.517-.713-1.184-.713-2.13 0-2.745 2.04-5.203 5.314-5.203 2.899 0 4.49 1.783 4.49 4.163 0 3.131-1.377 5.775-3.42 5.775-1.13 0-1.975-.94-1.704-2.092.324-1.376.952-2.862.952-3.855 0-.889-.474-1.63-1.455-1.63-1.154 0-2.082 1.201-2.082 2.81 0 1.027.345 1.72.345 1.72l-1.388 5.918c-.412 1.757-.062 3.91-.032 4.127.017.13.181.16.256.063.107-.14 1.48-1.848 1.949-3.554.131-.483.758-2.986.758-2.986.376.72 1.471 1.354 2.636 1.354 3.47 0 5.824-3.183 5.824-7.444C15.273 3 12.56 0 8.44 0 3.313 0 .727 3.7.727 6.785z"/>
                  </g>
                </svg>
              </a></li>
            <li><a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32">
                  <g fill="none" fill-rule="evenodd" stroke="#666" stroke-width="2">
                    <path class="outline" d="M8 11l8.439 6L25 11"/>
                    <path class="outline" d="M7 10h19v13H7z"/>
                  </g>
                </svg>

              </a></li>
            <li><a id="info-popup" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32">
                  <path class="color" fill="#666" fill-rule="evenodd"
                        d="M18.472 8l1.88.696L14.879 24 13 23.304 18.472 8zm-8.788 2l1.414 1.414-4.259 4.26 4.232 4.232-1.414 1.414L4 15.663l1.414-1.414.01.01L9.684 10zm13.757 0l5.657 5.657-1.414 1.414-.01-.01-4.26 4.26L22 19.905l4.26-4.26-4.233-4.232L23.441 10z"/>
                </svg>
              </a></li>
            <li><a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32">
                  <g fill="none" fill-rule="evenodd">
                    <path class="outline" stroke="#666" stroke-width="2" d="M24.25 15.25v6H8.5v-6"/>
                    <path class="color" fill="#666"
                          d="M16.211 17.753l-1.06-1.06v-.001L11.97 13.51l1.06-1.061 2.44 2.437-.001-6.97h1.5v6.958l2.425-2.425 1.061 1.06-4.243 4.243z"/>
                  </g>
                </svg>
              </a></li>
          </ul>
        </div>
      </div>

      <div class="info-content">
        <div class="wrapper">
          <div class="img-mobile-wrap">
            <img src="/themes/rms/templates/dist/images/rms_Infographic.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="infographic-popup">
  <div class="content-outer">
    <div class="content-box">
      <div class="title">
        <h4>Share Infographic</h4>
      </div>
      <div class="content">

        <div class="copy-link">
          <label>iframe Link</label>
          <div class="field-wrap">
            <input id="copylink" name="copylink" type="text"
                   value="<iframe src='/themes/rms/templates/dist/images/rms_Infographic.jpg' width='500' height='500'></iframe>"
                   class="info-share-url">
            <button id="copytext" class="btn-red">Copy</button>
          </div>
        </div>

      </div>

      <span class="close-popup"></span>
    </div>
  </div>
</section>


