{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head-placeholder token="{{ placeholder_token|raw }}">

        {% if page.meta_url %}
            <link rel="canonical" href="{{ page.meta_url.canonical|raw }}">
        {% endif %}
        <title>{{ head_title|safe_join(' | ') }}</title>
        <meta name="format-detection" content="telephone=no"/>
        <css-placeholder token="{{ placeholder_token|raw }}">
            <js-placeholder token="{{ placeholder_token|raw }}">
                <link rel="stylesheet" href="https://use.typekit.net/gnh3xka.css">
                <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap"
                      rel="stylesheet">
                <link rel="icon" href="/themes/rms/favicon.ico" type="image/x-icon"/>
                <link rel="shortcut icon" href="/themes/rms/favicon.ico" type="image/x-icon"/>
                <!-- Google Tag Manager -->
                <script>(function (w, d, s, l, i) {
                        w[l] = w[l] || [];
                        w[l].push({
                            'gtm.start':
                                new Date().getTime(), event: 'gtm.js'
                        });
                        var f = d.getElementsByTagName(s)[0],
                            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
                        j.async = true;
                        j.src =
                            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                        f.parentNode.insertBefore(j, f);
                    })(window, document, 'script', 'dataLayer', 'GTM-PHMJRV6');</script>
                <!-- OneTrust Cookies Consent Notice start -->
                <script src="https://cdn.cookielaw.org/consent/80f569f4-1b95-46cc-b3f5-77a725ace90f.js" type="text/javascript" charset="UTF-8"></script>
                <script type="text/javascript">
                    function OptanonWrapper() { }
                </script>
                <!-- OneTrust Cookies Consent Notice end -->
                <!-- End Google Tag Manager -->
                </head>


<body{{ attributes }}>
{% include directory ~ '/templates/common/header-tracking.html.twig' %}

<!-- Header hide for email template node -->
{% if nid != 29 %}
    {% include directory ~ '/templates/common/navigation.html.twig' %}
{% endif %}
{{ page_top }}
{{ page }}
{{ page_bottom }}
<!-- Footer hide for email template node -->
{% if nid != 29 %}
    {% include directory ~ '/templates/common/footer.html.twig' %}
{% endif %}

<!-- Tracking code -->
{% include directory ~ '/templates/common/tracking.html.twig' %}
<script>
    // Handling global hash with non value
    var urlForHash = window.location.href;
    if(urlForHash.indexOf('#') >= 0) {
        var hashArr = urlForHash.split('#');
        if(hashArr[1] == '') {
            location.href = '/';
        }
    }
</script>
<js-bottom-placeholder token="{{ placeholder_token|raw }}">
</body>

</html>
