<section class="banner-with-carousel wow fadeIn" data-wow-delay="0.4s">
  <div class="bg-img wow fadeIn" data-wow-delay="0.5s">
    <img src="/themes/rms/templates/dist/images/event-banner-img.jpg" alt="model banner">
  </div>
  <div class="row-wrapper">
    <div class="container">
      <div class="col-two inner-content">
        <h1>Events</h1>
        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et aliqua.</h5>
      </div>
      <div class="col-two right-block">
        <div class="slider-outer-block">
          <div class="items">
            <div class="row-wrap">
              <div class="col-box media-block">
                <img src="/themes/rms/templates/dist/images/event-post-img.jpg" alt="image">
              </div>
              <div class="col-box content-block">
                <div class="resource-block">
                  <div class="icon-box">
                    <img src="/themes/rms/templates/dist/images/event-icon.svg"
                         alt="icon play">
                  </div>
                  <span>Conference</span>
                </div>
                <div class="date-block">
                  <p>Monday, May 04, 2020 -</p>
                  <p>Thursday, May 07, 2020</p>
                </div>
                <h4>Exceedance 2020</h4>
                <div class="button-block">
                  <a href="#" class="learn-more">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="items">
            <div class="row-wrap">
              <div class="col-box media-block">
                <img src="/themes/rms/templates/dist/images/event-post-img.jpg" alt="image">
              </div>
              <div class="col-box content-block">
                <div class="resource-block">
                  <div class="icon-box">
                    <img src="/themes/rms/templates/dist/images/event-icon.svg"
                         alt="icon play">
                  </div>
                  <span>Conference</span>
                </div>
                <div class="date-block">
                  <p>Monday, May 04, 2020 -</p>
                  <p>Thursday, May 07, 2020</p>
                </div>
                <h4>Exceedance 2020</h4>
                <div class="button-block">
                  <a href="#" class="learn-more">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="items">
            <div class="row-wrap">
              <div class="col-box media-block">
                <img src="/themes/rms/templates/dist/images/event-post-img.jpg" alt="image">
              </div>
              <div class="col-box content-block">
                <div class="resource-block">
                  <div class="icon-box">
                    <img src="/themes/rms/templates/dist/images/event-icon.svg"
                         alt="icon play">
                  </div>
                  <span>Conference</span>
                </div>
                <div class="date-block">
                  <p>Monday, May 04, 2020 -</p>
                  <p>Thursday, May 07, 2020</p>
                </div>
                <h4>Exceedance 2020</h4>
                <div class="button-block">
                  <a href="#" class="learn-more">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="location-box">
    <div class="place-location">
      <span><p>Shark Bay, Western Australia</p></span>
    </div>
  </div>
</section>
