<section class="cta cta-news-detail">
    <div class="bg-img" >
        <img src="/themes/rms/templates/dist/images/cta-bg.jpg" alt="cta image">
    </div>
    <div class="content-box">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 text-block wow fadeIn" data-wow-delay="0.4s">
                    <h2>Sign up for our newsletter</h2>
                </div>
                <div class="col-md-5 col-sm-12 button-box wow fadeIn" data-wow-delay="0.4s">
                    <div class="search-wrap">
                            <input type="text" placeholder="">
                            <button><span>Sign Up</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>