<section class="filter-block">
    <div class="container-box">
        <div class="container">
            <div class="content-wrapper">
                <div class="filter-wrap">
                    <div class="check-content">
                        <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value2" checked>
                        <label for="styled-checkbox-2">Conferences (43)</label>
                    </div>
                    <div class="check-content">
                        <input type="checkbox" id="data-one">
                        <label for="data-one">Region (32)</label>
                        <span class="arrow-icon"></span>
                    </div>
                    <div class="check-content">
                        <input type="checkbox" id="data-two">
                        <label for="data-two">Webinars (24)</label>
                        <span class="arrow-icon"></span>
                    </div>
                    <div class="check-content">
                        <input type="checkbox" id="data-three">
                        <label for="data-three">Speaking Engagements (12)</label>
                    </div>
                </div>
                <div class="reset-filter">
                    <p>Reset Filters</p>
                </div>
            </div>
        </div>
    </div>
</section>