{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="col-three-slider overlap {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    <div class="container">
        <div class="column-wrapper">
            <div class="slider">
                {% for item in content.field_slider['#items'] %}

                {% set label, blurb, target_link, pdf  = item.entity.title.value, item.entity.field_blurb.value, item.entity.field_external_redirect.value, item.entity.field_file.entity.uri.value %}

                {% if item.content['#node'].field_image.isempty and item.content['#node'].field_thumbnail.isempty and item.content['#node'].field_image_two.isempty and item.content['#node'].field_image_three.isempty %}
                    {% set image_url, image_alt = '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
                {% else %}
                    {% if item.entity.field_image_three.entity.uri.value is not empty %}
                        {% set image_url, image_alt = item.entity.field_image_three.entity.uri.value, item.entity.field_image_three.entity.uri.alt %}
                    {% elseif item.entity.field_image_two.entity.uri.value is not empty  %}
                        {% set image_url, image_alt = item.entity.field_image_two.entity.uri.value, item.entity.field_image_two.entity.uri.alt %}
                    {% elseif item.entity.field_thumbnail.entity.uri.value is not empty %}
                        {% set image_url, image_alt = item.entity.field_thumbnail.entity.uri.value, item.entity.field_thumbnail.alt %}
                    {% else %}
                        {% set image_url, image_alt = item.entity.field_image.entity.uri.value, item.entity.field_image.alt %}
                    {% endif %}
                {% endif %}
                <div class="card-box item">

                    {% if item.entity.type.entity.label == "Publications" and pdf  %}
                        <a href="{{ file_url(pdf) }}" target="_blank"></a>
                    {% elseif item.entity.type.entity.label == "News" and target_link %}
                        <a href="{{ target_link  }}" target="_blank"></a>
                    {% elseif item.entity.type.entity.label == "Infographics" %}
                       <a href="{{ file_url(image_url) }}" rel="prettyPhoto[gallery1]"></a>
                    {% else %}
                        <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}"></a>
                    {% endif %}

                    <div class="image-box">

                        {% if item.entity.type.entity.label == "Infographics" %}
                            <a href="{{ file_url(image_url) }}" rel="prettyPhoto[gallery1]">
                                <img src="{{ file_url(image_url) }}" alt="icon">
                            </a>
                        {% else %}
                            <img src="{{ file_url(image_url) }}" alt="icon">
                        {% endif %}
                    </div>
                    
                    <div class="content-box">
                        {% if item.entity.type.entity.label == "Basic page" %}
                            <span class="small-head"> Resource </span>
                        {% else %}
                            <span class="small-head"> {{ item.entity.type.entity.label }} </span>
                        {% endif %}
                        <h5>{{ label }}</h5>
                        <p>
                            {% autoescape false %}
                            {{ blurb|striptags|slice(0, 200) }}
                            {% endautoescape %}
                        </p>

                    </div>
                </div>
                {% endfor %}


            </div>
            <div class="button-wrap">
                <span class="pre-btn"></span>
                <div class="dots-outer">
                </div>
                <span class="next-btn"></span>
            </div>
        </div>
    </div>
</section>