<section class="banner-second-level banner-solution " >
    <div class="bg-img wow fadeIn" data-wow-delay="0.3s">
        <img src="/themes/rms/templates/dist/images/background_solutions.png" alt="model banner">
    </div>
    <div class="v-middle-wrapper wow fadeIn"  data-wow-delay="0.4s">
        <div class="v-middle-inner container">
            <div class="v-middle">
                <div class="inner-text">
                    <h1>Solutions</h1>
                    <h5>From earthquakes, hurricanes, and floods to terrorism and infectious diseases, RMS helps financial institutions and public agencies understand, quantify, and manage risk.</h5>

                </div>
            </div>
        </div>
    </div>
    <div class="location-box">
        <div class="place-location">
            <span><p>Prince Regent National Park, Australia</p></span>
        </div>
    </div>

</section>
