<section class="image-with-slider animation-three service-page-overview solution-page-award-slider">
    {#<div class="pattern-animation wow fadeInLeft" data-wow-delay="1s">#}
        {#<img src="/themes/rms/templates/dist/images/svg/Grid-blue.svg" alt="green pattern">#}
    {#</div>#}
    <div class="container">
        <div class="intro-block green-border align-center wow fadeInUp" data-wow-delay="0.4s">
            <h3>Validation</h3>
        </div>
        <div class="award-top-carousel">
            <div class="pattern-animation" id="lottie3">
                {#<img src="/themes/rms/templates/dist/images/svg/Grid-blue.svg" alt="green pattern">#}
            </div>
            <div class="slider-outer">
                <div class="items">
                    <div class="col-two media-block  wow zoomIn" data-wow-delay="0.4s">
                        <div class="img-wrapper">
                            <div class="top-border wow fadeInLeft" data-wow-delay="0.5s"></div>
                            <img src="/themes/rms/templates/dist/images/award.png" alt="award image">
                            <div class="shared-icon">
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/facebook-share.svg" alt="facebook icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/linkedin-share.svg" alt="LinkedIn icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/twitter-share.svg" alt="Twitter icon">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-two content-block wow fadeIn" data-wow-delay="0.6s">
                        <h3>An Award-Winning U.S. Inland Flood Model
                        </h3>
                        <p>“Released last October, the flood model is designed to help the private insurance market seize the opportunities presented by this peril, and to also ultimately help accelerate flood insurance take up in the U.S.”
                        </p>
                        <div class="author-box">
                            <h6>Ben Brookes</h6>

                            <p> Managing Director – Capital and Resilience Solutions, RMS</p>
                        </div>
                        {#<div class="button-wrap">#}
                            {#<span class="pre-btn"></span>#}
                            {#<div class="dots-outer">#}
                            {#</div>#}
                            {#<span class="next-btn"></span>#}
                        {#</div>#}
                    </div>
                </div>
                <div class="items">
                    <div class="col-two media-block  wow zoomIn" data-wow-delay="0.4s">
                        <div class="img-wrapper">
                            <div class="top-border wow fadeInLeft" data-wow-delay="0.5s"></div>
                            <img src="/themes/rms/templates/dist/images/award.png" alt="award image">
                            <div class="shared-icon">
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/facebook-share.svg" alt="facebook icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/linkedin-share.svg" alt="LinkedIn icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/twitter-share.svg" alt="Twitter icon">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-two content-block wow fadeIn" data-wow-delay="0.6s">
                        <h3>An Award-Winning U.S. Inland Flood Model
                        </h3>
                        <p>“Released last October, the flood model is designed to help the private insurance market seize the opportunities presented by this peril, and to also ultimately help accelerate flood insurance take up in the U.S.”
                        </p>
                        <div class="author-box">
                            <h6>Ben Brookes</h6>

                            <p> Managing Director – Capital and Resilience Solutions, RMS</p>
                        </div>
                        {#<div class="button-wrap">#}
                            {#<span class="pre-btn"></span>#}
                            {#<div class="dots-outer">#}
                            {#</div>#}
                            {#<span class="next-btn"></span>#}
                        {#</div>#}
                    </div>
                </div>
                <div class="items">
                    <div class="col-two media-block  wow zoomIn" data-wow-delay="0.4s">
                        <div class="img-wrapper">
                            <div class="top-border wow fadeInLeft" data-wow-delay="0.5s"></div>
                            <img src="/themes/rms/templates/dist/images/award.png" alt="award image">
                            <div class="shared-icon">
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/facebook-share.svg" alt="facebook icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/linkedin-share.svg" alt="LinkedIn icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/twitter-share.svg" alt="Twitter icon">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-two content-block wow fadeIn" data-wow-delay="0.6s">
                        <h3>An Award-Winning U.S. Inland Flood Model
                        </h3>
                        <p>“Released last October, the flood model is designed to help the private insurance market seize the opportunities presented by this peril, and to also ultimately help accelerate flood insurance take up in the U.S.”
                        </p>
                        <div class="author-box">
                            <h6>Ben Brookes</h6>

                            <p> Managing Director – Capital and Resilience Solutions, RMS</p>
                        </div>
                        {#<div class="button-wrap">#}
                            {#<span class="pre-btn"></span>#}
                            {#<div class="dots-outer">#}
                            {#</div>#}
                            {#<span class="next-btn"></span>#}
                        {#</div>#}
                    </div>
                </div>
                <div class="items">
                    <div class="col-two media-block  wow zoomIn" data-wow-delay="0.4s">
                        <div class="img-wrapper">
                            <div class="top-border wow fadeInLeft" data-wow-delay="0.5s"></div>
                            <img src="/themes/rms/templates/dist/images/award.png" alt="award image">
                            <div class="shared-icon">
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/facebook-share.svg" alt="facebook icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/linkedin-share.svg" alt="LinkedIn icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/twitter-share.svg" alt="Twitter icon">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-two content-block wow fadeIn" data-wow-delay="0.6s">
                        <h3>An Award-Winning U.S. Inland Flood Model
                        </h3>
                        <p>“Released last October, the flood model is designed to help the private insurance market seize the opportunities presented by this peril, and to also ultimately help accelerate flood insurance take up in the U.S.”
                        </p>
                        <div class="author-box">
                            <h6>Ben Brookes</h6>

                            <p> Managing Director – Capital and Resilience Solutions, RMS</p>
                        </div>
                        {#<div class="button-wrap">#}
                            {#<span class="pre-btn"></span>#}
                            {#<div class="dots-outer">#}
                            {#</div>#}
                            {#<span class="next-btn"></span>#}

                        {#</div>#}
                    </div>
                </div>
            </div>

            <div class="button-wrap">
                <span class="pre-btn"></span>
                <div class="dots-outer">
                </div>
                <span class="next-btn"></span>
            </div>
        </div>
    </div>
</section>