<section class="image-with-text reverse-image">

    <div class="container wow fadeInUp" data-wow-delay="0.5s">
        <div class="row column-wrapper no-gutters ">
            <div class="col-two image-box">
                <div class="img-wrapper">
                    <div class="top-border"></div>
                    <img src="/themes/rms/templates/dist/images/discuss-meeting.png" alt="Meeting Image">
                </div>
            </div>
            <div class="col-two green-border align-left text-wrapper">
                <h3 class="">Challenges RMS Solves and How They Do It</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue interdum velit.</p>
                <p>Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
            </div>
        </div>
    </div>
</section>