  <section class="info-with-tabs animation-five " id="category">
      <div class="bg-img" ><img src="/themes/rms/templates/dist/images/alexandru-acea-oej9QORnjYE-unsplash.png" alt="background image"></div>
      <div class="container">
          <div class="pattern-animation" id="lottie5">
          </div>
        <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.3s">
          <h3>Solutions by Function</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua, at vero eos et et.</p></div>
          <div class="row-wrap column-wrapper wow fadeInUp" data-wow-delay="0.4s">
              <button class="open">
                  <div class="cover">
                      <div class="icon-box">
                          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                               viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                              <style type="text/css">
                                  .st0{fill:#C7C7C7;}
                              </style>
                              <g>
                                  <path class="st0" d="M58.1,36.5l-2.8-2.8c-1.1-1.1-3.1-1.1-4.2,0L35.6,49l-2.1,7.8L33,57.3c-0.4,0.4-0.4,1,0,1.4l0,0l0,0
      c0.2,0.2,0.4,0.3,0.7,0.3c0.3,0,0.5-0.1,0.7-0.3l0.5-0.5l7.8-2.1l15.4-15.4C59.3,39.6,59.3,37.7,58.1,36.5z M37.9,49.6l10.2-10.2
      l4.2,4.2L42.2,53.8L37.9,49.6z M37,51.5l3.2,3.2l-4.4,1.2L37,51.5z M56.7,39.3l-2.8,2.8l-4.2-4.2l2.8-2.8c0.4-0.4,1-0.4,1.4,0
      l2.8,2.8C57.1,38.3,57.1,38.9,56.7,39.3z"/>
                                  <path class="st0" d="M10,36.8h26c0.6,0,1-0.4,1-1s-0.4-1-1-1H10c-0.6,0-1,0.4-1,1S9.4,36.8,10,36.8z"/>
                                  <path class="st0" d="M32,40.8H10c-0.6,0-1,0.4-1,1s0.4,1,1,1h22c0.6,0,1-0.4,1-1S32.5,40.8,32,40.8z"/>
                                  <path class="st0" d="M10,18.8h13c0.6,0,1-0.4,1-1s-0.4-1-1-1H10c-0.6,0-1,0.4-1,1S9.4,18.8,10,18.8z"/>
                                  <path class="st0" d="M23,48.8c0.6,0,1-0.4,1-1s-0.4-1-1-1H10c-0.6,0-1,0.4-1,1s0.4,1,1,1H23z"/>
                                  <path class="st0" d="M39,22.8H10c-0.6,0-1,0.4-1,1s0.4,1,1,1h29c0.6,0,1-0.4,1-1S39.5,22.8,39,22.8z"/>
                                  <path class="st0" d="M10,30.8h14c0.6,0,1-0.4,1-1s-0.4-1-1-1H10c-0.6,0-1,0.4-1,1S9.4,30.8,10,30.8z"/>
                                  <path class="st0" d="M40,29.8c0-0.6-0.4-1-1-1h-7c-0.6,0-1,0.4-1,1s0.4,1,1,1h7C39.5,30.8,40,30.3,40,29.8z"/>
                                  <path class="st0" d="M28.7,30.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7c-0.4-0.4-1-0.4-1.4,0c-0.2,0.2-0.3,0.5-0.3,0.7
      c0,0.3,0.1,0.5,0.3,0.7c0.2,0.2,0.5,0.3,0.7,0.3C28.2,30.8,28.5,30.7,28.7,30.5z"/>
                                  <path class="st0" d="M28,56.8H5v-48h7v2c0,0.6,0.4,1,1,1h23c0.6,0,1-0.4,1-1v-2h7v22c0,0.6,0.4,1,1,1s1-0.4,1-1v-23
      c0-0.6-0.4-1-1-1h-8v-2c0-0.6-0.4-1-1-1h-6v-2c0-0.6-0.4-1-1-1h-9c-0.6,0-1,0.4-1,1v2h-6c-0.6,0-1,0.4-1,1v2H4c-0.6,0-1,0.4-1,1v50
      c0,0.6,0.4,1,1,1h24c0.6,0,1-0.4,1-1S28.5,56.8,28,56.8z M21,2.8h7v2v2h-7v-2V2.8z M14,5.8h5v2c0,0.6,0.4,1,1,1h9c0.6,0,1-0.4,1-1
      v-2h5v2v2H14v-2L14,5.8z"/>
                              </g>
                          </svg>
                      </div>
                      <p>Underwriting</p>
                  </div>
              </button>
              <div class="scroll-wrap">
                   <div class="tab-div">
                       <div class="icon-with-heading  hide"  data-tab="tab-A">
                    <div class="icon-box">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                          <style type="text/css">
                              .st0{fill:#C7C7C7;}
                          </style>
                            <g>
                                <path class="st0" d="M58.1,36.5l-2.8-2.8c-1.1-1.1-3.1-1.1-4.2,0L35.6,49l-2.1,7.8L33,57.3c-0.4,0.4-0.4,1,0,1.4l0,0l0,0
      c0.2,0.2,0.4,0.3,0.7,0.3c0.3,0,0.5-0.1,0.7-0.3l0.5-0.5l7.8-2.1l15.4-15.4C59.3,39.6,59.3,37.7,58.1,36.5z M37.9,49.6l10.2-10.2
      l4.2,4.2L42.2,53.8L37.9,49.6z M37,51.5l3.2,3.2l-4.4,1.2L37,51.5z M56.7,39.3l-2.8,2.8l-4.2-4.2l2.8-2.8c0.4-0.4,1-0.4,1.4,0
      l2.8,2.8C57.1,38.3,57.1,38.9,56.7,39.3z"/>
                                <path class="st0" d="M10,36.8h26c0.6,0,1-0.4,1-1s-0.4-1-1-1H10c-0.6,0-1,0.4-1,1S9.4,36.8,10,36.8z"/>
                                <path class="st0" d="M32,40.8H10c-0.6,0-1,0.4-1,1s0.4,1,1,1h22c0.6,0,1-0.4,1-1S32.5,40.8,32,40.8z"/>
                                <path class="st0" d="M10,18.8h13c0.6,0,1-0.4,1-1s-0.4-1-1-1H10c-0.6,0-1,0.4-1,1S9.4,18.8,10,18.8z"/>
                                <path class="st0" d="M23,48.8c0.6,0,1-0.4,1-1s-0.4-1-1-1H10c-0.6,0-1,0.4-1,1s0.4,1,1,1H23z"/>
                                <path class="st0" d="M39,22.8H10c-0.6,0-1,0.4-1,1s0.4,1,1,1h29c0.6,0,1-0.4,1-1S39.5,22.8,39,22.8z"/>
                                <path class="st0" d="M10,30.8h14c0.6,0,1-0.4,1-1s-0.4-1-1-1H10c-0.6,0-1,0.4-1,1S9.4,30.8,10,30.8z"/>
                                <path class="st0" d="M40,29.8c0-0.6-0.4-1-1-1h-7c-0.6,0-1,0.4-1,1s0.4,1,1,1h7C39.5,30.8,40,30.3,40,29.8z"/>
                                <path class="st0" d="M28.7,30.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7c-0.4-0.4-1-0.4-1.4,0c-0.2,0.2-0.3,0.5-0.3,0.7
      c0,0.3,0.1,0.5,0.3,0.7c0.2,0.2,0.5,0.3,0.7,0.3C28.2,30.8,28.5,30.7,28.7,30.5z"/>
                                <path class="st0" d="M28,56.8H5v-48h7v2c0,0.6,0.4,1,1,1h23c0.6,0,1-0.4,1-1v-2h7v22c0,0.6,0.4,1,1,1s1-0.4,1-1v-23
      c0-0.6-0.4-1-1-1h-8v-2c0-0.6-0.4-1-1-1h-6v-2c0-0.6-0.4-1-1-1h-9c-0.6,0-1,0.4-1,1v2h-6c-0.6,0-1,0.4-1,1v2H4c-0.6,0-1,0.4-1,1v50
      c0,0.6,0.4,1,1,1h24c0.6,0,1-0.4,1-1S28.5,56.8,28,56.8z M21,2.8h7v2v2h-7v-2V2.8z M14,5.8h5v2c0,0.6,0.4,1,1,1h9c0.6,0,1-0.4,1-1
      v-2h5v2v2H14v-2L14,5.8z"/>
                            </g>
                      </svg>
                    </div>
                    <p>Underwriting</p>
                    <span class="active-arrow"></span>
                    </div>
                      <div class="icon-with-heading"  data-tab="tab-B">
                          <div class="icon-box">
                              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                   viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                  <style type="text/css">
                                      .st0{fill:#C7C7C7;}
                                  </style>
                                  <g>
                                      <path class="st0" d="M56.1,27.3h-3.3v-5.9c0-1.4-1.2-2.6-2.6-2.6h-3.1v-2.3L46.7,16c0,0,0,0,0,0l-6.9-6.9l-7.4-7.4H9.3v10.4h-5
      c-1.4,0-2.6,1.2-2.6,2.6v41.3h0c0,0.5,0.2,1.1,0.5,1.5c0.5,0.6,1.2,1,1.9,1h42.3c1.1,0,2.1-0.7,2.3-1.7l9.7-26.5v-0.2
      C58.5,28.5,57.5,27.3,56.1,27.3z M50.2,20.7c0.4,0,0.7,0.3,0.7,0.7v5.9h-3.8v-6.6H50.2z M33,5l11,11H33V5z M11.2,3.7h19.9v14.2
      h14.2v0.9v8.5H13.8c-0.1,0-0.3,0-0.4,0c-0.9,0.2-1.7,0.8-1.9,1.7l-0.3,0.7V12.2V3.7z M3.7,14.8c0-0.4,0.3-0.7,0.7-0.7h5v20.8
      L3.7,50.4V14.8z M47,56.2c-0.1,0.2-0.3,0.4-0.5,0.4H4.2c-0.2,0-0.4-0.1-0.4-0.2c-0.1-0.1-0.2-0.2-0.1-0.4l5.7-15.6v0l3.9-10.8
      l0-0.1c0.1-0.2,0.3-0.4,0.5-0.4h31.5h1.9h5.7h3.3c0.4,0,0.5,0.5,0.5,0.8L47,56.2z"/>
                                      <path class="st0" d="M16.9,17.9h9.5c0.5,0,0.9-0.4,0.9-0.9S26.9,16,26.4,16h-9.5c-0.5,0-0.9,0.4-0.9,0.9
      C16,17.4,16.4,17.9,16.9,17.9z"/>
                                      <path class="st0" d="M16.9,11.2h9.5c0.5,0,0.9-0.4,0.9-0.9s-0.4-0.9-0.9-0.9h-9.5c-0.5,0-0.9,0.4-0.9,0.9S16.4,11.2,16.9,11.2z"/>
                                      <path class="st0" d="M16.9,24.5h22.7c0.5,0,0.9-0.4,0.9-0.9s-0.4-0.9-0.9-0.9H16.9c-0.5,0-0.9,0.4-0.9,0.9S16.4,24.5,16.9,24.5z"/>
                                  </g>
                              </svg>
                          </div>
                          <p>Portfolio
                            Management</p>
                          <span class="active-arrow "></span>
                      </div>
                      <div class="icon-with-heading"  data-tab="tab-C">
                          <div class="icon-box">
                              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                   viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                  <style type="text/css">
                                      .st0{fill:#C7C7C7;}
                                  </style>
                                  <g id="Group_5450_1_" transform="translate(229 3.6)">
                                      <path class="st0" d="M-173.9,47.4h-8.5c-0.6,0-1-0.4-1-1v-8.5c0-0.6,0.4-1,1-1s1,0.4,1,1v7.5h7.5c0.6,0,1,0.4,1,1
      S-173.3,47.4-173.9,47.4z"/>
                                      <path class="st0" d="M-216.2,15.7c-0.6,0-1-0.4-1-1V7.2h-7.5c-0.6,0-1-0.4-1-1s0.4-1,1-1h8.5c0.6,0,1,0.4,1,1v8.5
      C-215.2,15.2-215.6,15.7-216.2,15.7z"/>
                                      <path class="st0" d="M-182.1,47.4c-0.3,0-0.6-0.1-0.8-0.4c-0.4-0.4-0.3-1.1,0.1-1.4c10.7-9.1,11.9-25.2,2.8-35.9
      c-7.3-8.5-19-11.2-29.3-6.9c-0.5,0.2-1.1,0-1.3-0.5c-0.2-0.5,0-1.1,0.5-1.3c11.1-4.7,23.8-1.7,31.6,7.4c9.8,11.5,8.5,28.9-3,38.7
      C-181.6,47.3-181.9,47.4-182.1,47.4z"/>
                                      <path class="st0" d="M-199.3,53.8c-7.8,0-15.5-3.4-20.8-9.6c-9.8-11.5-8.5-28.9,3-38.7c0.4-0.4,1.1-0.3,1.4,0.1
      c0.4,0.4,0.3,1.1-0.1,1.4c-5.2,4.4-8.3,10.6-8.8,17.4s1.6,13.4,6,18.5c7.3,8.5,19,11.2,29.3,6.9c0.5-0.2,1.1,0,1.3,0.5
      c0.2,0.5,0,1.1-0.5,1.3C-192,53-195.7,53.8-199.3,53.8z"/>
                                      <path class="st0" d="M-199.3,43.2c-0.1,0-0.3,0-0.4-0.1c-0.5-0.2-12.2-5.3-12.2-15.7V15.7c0-0.4,0.2-0.7,0.5-0.9
      c7.5-4.4,16.8-4.4,24.3,0c0.3,0.2,0.5,0.5,0.5,0.9v11.6c0,10.4-11.7,15.5-12.2,15.7C-199,43.1-199.1,43.2-199.3,43.2z M-209.9,16.3
      v11.1c0,8.1,8.7,12.8,10.6,13.7c2-0.9,10.6-5.6,10.6-13.7V16.3C-195.2,12.6-203.3,12.6-209.9,16.3z"/>
                                      <path class="st0" d="M-201.4,32.6c-0.3,0-0.5-0.1-0.7-0.3l-4.2-4.2c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l3.5,3.5l7.8-7.8
      c0.4-0.4,1-0.4,1.4,0c0.4,0.4,0.4,1,0,1.4l-8.5,8.5C-200.9,32.5-201.1,32.6-201.4,32.6z"/>
                                  </g>
                              </svg>
                          </div>
                          <p>Regulatory
                            Compliance</p>
                          <span class="active-arrow"></span>
                      </div>
                      <div class="icon-with-heading"  data-tab="tab-D">
                          <div class="icon-box">
                              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                   viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                  <style type="text/css">
                                      .st0{fill:#C7C7C7;}
                                  </style>
                                  <g>
                                      <path class="st0" d="M30.3,45.1c-8.4,0-15.1-6.8-15.1-15.1S22,14.8,30.3,14.8S45.5,21.6,45.5,30S38.7,45.1,30.3,45.1z M30.3,16.6
      C23,16.6,17,22.6,17,30s6,13.4,13.4,13.4s13.4-6,13.4-13.4S37.7,16.6,30.3,16.6z M35.8,38.5c0.3,0,0.5-0.1,0.7-0.3
      c0.7-0.5,0.7-1.3,0.7-1.6v-1.3c0-0.5-0.2-1-0.5-1.3c0.3-0.4,0.5-0.8,0.5-1.3v-1.3c0-0.3-0.1-0.7-0.3-1c0.6-0.4,0.9-1,0.9-1.7v-1.3
      c0-0.5-0.2-1-0.5-1.3c0.3-0.4,0.5-0.8,0.5-1.3v-1.3c0-1.1-0.9-2-2-2H25.4c-1.1,0-2,0.9-2,2v1.3c0,0.5,0.2,1,0.5,1.3
      c-0.3,0.4-0.5,0.8-0.5,1.3v1.3c0,0.3,0.1,0.7,0.3,1c-0.6,0.4-0.9,1-0.9,1.7v1.3c0,0.5,0.2,1,0.5,1.3c-0.3,0.4-0.5,0.8-0.5,1.3v1.3
      c0,0.5,0.2,1.2,0.6,1.7c0.2,0.2,0.5,0.3,0.8,0.3C25.8,38.6,33.8,38.5,35.8,38.5z M25.1,23.5c0-0.4,0.3-0.7,0.7-0.7h9.9
      c0.4,0,0.7,0.3,0.7,0.7l0,1.1c0,0.4-0.3,0.7-0.7,0.7h-9.9c-0.4,0-0.7-0.3-0.7-0.7L25.1,23.5z M36.4,27.4v1.1c0,0.4-0.3,0.7-0.7,0.7
      H25.4c-0.4,0-0.7-0.3-0.7-0.7v-1.1c0-0.4,0.3-0.7,0.7-0.7h10.3C36.1,26.7,36.4,27,36.4,27.4z M35.8,31.3v1.2c0,0.4-0.3,0.7-0.7,0.7
      H25c-0.4,0-0.7-0.3-0.7-0.7v-1.2c0-0.4,0.3-0.6,0.6-0.6h10.3C35.7,30.7,35.8,31,35.8,31.3z M35.8,35.3v1.1c0,0.4-0.3,0.7-0.7,0.7
      H25c-0.4,0-0.7-0.3-0.7-0.7v-1.1c0-0.4,0.3-0.7,0.7-0.7h10.1C35.5,34.6,35.8,34.9,35.8,35.3z"/>
                                      <path class="st0" d="M30.4,9.8c-0.4,0-0.8,0-1.1-0.1c-1.3-0.3-2.3-1.1-3-2.2c-0.7-1.1-0.9-2.4-0.6-3.7c0.3-1.3,1.1-2.3,2.2-3
      c1.1-0.7,2.4-0.9,3.7-0.6c1.3,0.3,2.3,1.1,3,2.2c0.7,1.1,0.9,2.4,0.6,3.7l0,0c-0.3,1.3-1.1,2.3-2.2,3C32.1,9.5,31.2,9.8,30.4,9.8z
       M30.3,1.8c-0.6,0-1.1,0.2-1.6,0.5c-0.7,0.4-1.2,1.1-1.4,1.9c-0.2,0.8-0.1,1.6,0.4,2.4c0.4,0.7,1.1,1.2,1.9,1.4
      C30.4,8.1,31.3,8,32,7.5c0.7-0.4,1.2-1.1,1.4-1.9v0C33.6,4.8,33.4,4,33,3.3c-0.4-0.7-1.1-1.2-1.9-1.4C30.8,1.8,30.6,1.8,30.3,1.8z"
                                      />
                                      <path class="st0" d="M30.4,60c-0.4,0-0.8,0-1.1-0.1c-1.3-0.3-2.3-1.1-3-2.2c-0.7-1.1-0.9-2.4-0.6-3.7c0.3-1.3,1.1-2.3,2.2-3
      c1.1-0.7,2.4-0.9,3.7-0.6c1.3,0.3,2.3,1.1,3,2.2c0.7,1.1,0.9,2.4,0.6,3.7l0,0c-0.3,1.3-1.1,2.3-2.2,3C32.1,59.8,31.2,60,30.4,60z
       M30.3,52c-0.6,0-1.1,0.2-1.6,0.5c-0.7,0.4-1.2,1.1-1.4,1.9c-0.2,0.8-0.1,1.6,0.4,2.4c0.4,0.7,1.1,1.2,1.9,1.4
      c0.8,0.2,1.6,0.1,2.4-0.4c0.7-0.4,1.2-1.1,1.4-1.9v0c0.2-0.8,0.1-1.6-0.4-2.4c-0.4-0.7-1.1-1.2-1.9-1.4C30.8,52,30.6,52,30.3,52z"
                                      />
                                      <rect x="29.5" y="8.9" class="st0" width="1.8" height="6.8"/>
                                      <rect x="29.5" y="43.8" class="st0" width="1.8" height="6.8"/>
                                      <g>
                                          <path class="st0" d="M51.3,47.6c-0.4,0-0.8,0-1.1-0.1c-2.6-0.6-4.3-3.3-3.6-5.9c0.6-2.6,3.3-4.3,5.9-3.6c2.6,0.6,4.3,3.3,3.6,5.9
        v0C55.5,46.1,53.5,47.6,51.3,47.6z M51.3,39.6c-1.4,0-2.7,1-3,2.4c-0.4,1.7,0.6,3.3,2.3,3.7c1.7,0.4,3.3-0.6,3.7-2.3l0,0
        c0.4-1.7-0.6-3.3-2.3-3.7C51.8,39.6,51.5,39.6,51.3,39.6z"/>

                                          <rect x="44.7" y="34.7" transform="matrix(0.6181 -0.7861 0.7861 0.6181 -12.5421 50.3484)" class="st0" width="1.8" height="6.8"/>
                                      </g>
                                      <g>
                                          <path class="st0" d="M52.8,23.9c-0.4,0-0.8,0-1.1-0.1c-1.3-0.3-2.3-1.1-3-2.2c-0.7-1.1-0.9-2.4-0.6-3.7c0.3-1.3,1.1-2.3,2.2-3
        c1.1-0.7,2.4-0.9,3.7-0.6c1.3,0.3,2.3,1.1,3,2.2c0.7,1.1,0.9,2.4,0.6,3.7l0,0c-0.3,1.3-1.1,2.3-2.2,3
        C54.5,23.6,53.7,23.9,52.8,23.9z M52.8,15.9c-0.6,0-1.1,0.2-1.6,0.5c-0.7,0.4-1.2,1.1-1.4,1.9c-0.2,0.8-0.1,1.6,0.4,2.4
        c0.4,0.7,1.1,1.2,1.9,1.4c0.8,0.2,1.6,0.1,2.4-0.4c0.7-0.4,1.2-1.1,1.4-1.9v0c0.2-0.8,0.1-1.6-0.4-2.4c-0.4-0.7-1.1-1.2-1.9-1.4
        C53.2,15.9,53,15.9,52.8,15.9z"/>
                                          <rect x="43" y="22.2" transform="matrix(0.8385 -0.545 0.545 0.8385 -5.1119 29.0128)" class="st0" width="6.8" height="1.8"/>
                                      </g>
                                      <g>
                                          <path class="st0" d="M9.1,47.6c-0.9,0-1.8-0.2-2.6-0.7c-1.1-0.7-1.9-1.8-2.2-3c-0.3-1.3-0.1-2.6,0.6-3.7C5.7,39,6.7,38.3,8,38
        c1.3-0.3,2.6-0.1,3.7,0.6c1.1,0.7,1.9,1.8,2.2,3c0.3,1.3,0.1,2.6-0.6,3.7c-0.7,1.1-1.8,1.9-3,2.2C9.9,47.6,9.5,47.6,9.1,47.6z
         M9.1,39.6c-0.2,0-0.5,0-0.7,0.1c-0.8,0.2-1.5,0.7-1.9,1.4c-0.4,0.7-0.6,1.5-0.4,2.4v0c0.2,0.8,0.7,1.5,1.4,1.9
        c0.7,0.4,1.5,0.6,2.4,0.4c0.8-0.2,1.5-0.7,1.9-1.4c0.4-0.7,0.6-1.5,0.4-2.4c-0.2-0.8-0.7-1.5-1.4-1.9C10.3,39.8,9.7,39.6,9.1,39.6
        z"/>

                                          <rect x="11.4" y="37.2" transform="matrix(0.7861 -0.6181 0.6181 0.7861 -20.3613 17.3314)" class="st0" width="6.8" height="1.8"/>
                                      </g>
                                      <g>
                                          <path class="st0" d="M7.6,23.9c-0.9,0-1.8-0.2-2.6-0.7c-1.1-0.7-1.9-1.8-2.2-3c-0.3-1.3-0.1-2.6,0.6-3.7c0.7-1.1,1.8-1.9,3-2.2
        c2.6-0.6,5.3,1,5.9,3.6c0.6,2.6-1,5.3-3.6,5.9C8.4,23.8,8,23.9,7.6,23.9z M7.6,15.9c-0.2,0-0.5,0-0.7,0.1
        c-0.8,0.2-1.5,0.7-1.9,1.4c-0.4,0.7-0.6,1.5-0.4,2.4c0.2,0.8,0.7,1.5,1.4,1.9c0.7,0.4,1.5,0.6,2.4,0.4c1.7-0.4,2.7-2.1,2.3-3.7
        C10.3,16.9,9.1,15.9,7.6,15.9z"/>

                                          <rect x="13.1" y="19.7" transform="matrix(0.5451 -0.8384 0.8384 0.5451 -13.0098 22.2815)" class="st0" width="1.8" height="6.8"/>
                                      </g>
                                  </g>
                              </svg>
                          </div>
                          <p>Capital
                            Allocation</p>
                          <span class="active-arrow"></span>
                      </div>
                      <div class="icon-with-heading"  data-tab="tab-E">
                      <div class="icon-box">
                          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                               viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                              <style type="text/css">
                                  .st0{fill:#C7C7C7;}
                              </style>
                              <g id="Global_network_1_">
                                  <path class="st0" d="M30.3,0.7C14.1,0.7,1,13.8,1,30s13.1,29.3,29.3,29.3S59.7,46.2,59.7,30C59.6,13.8,46.5,0.7,30.3,0.7z
       M47.8,42.7c-0.3-1-1-1.9-1.9-2.4c0.4-2.1,0.7-4.3,0.9-6.5c1.4-0.3,2.6-1.4,2.9-2.8h7.9c-0.1,4.1-1.2,8.1-3.1,11.7H47.8z
       M42.1,43.7c0-1.1,0.9-2,2-2c1.1,0,2,0.9,2,2s-0.9,2-2,2C42.9,45.6,42.1,44.8,42.1,43.7z M40.2,42.7h-6.1c-0.4-1.4-1.4-2.4-2.8-2.8
      v-6.1c1.4-0.4,2.4-1.4,2.8-2.8h8.1c0.3,1.3,1.3,2.4,2.6,2.7c-0.1,2-0.4,4.1-0.8,6.1C42.2,39.8,40.7,41,40.2,42.7z M30.3,45.6
      c-1.1,0-2-0.9-2-2s0.9-2,2-2c1.1,0,2,0.9,2,2S31.4,45.6,30.3,45.6z M26.6,42.7h-6.1c-0.4-1.6-1.7-2.7-3.3-2.9c-0.1,0-0.3,0-0.4,0
      c-0.4-2-0.7-4-0.8-6.1c1.3-0.4,2.3-1.4,2.6-2.7h8.1c0.4,1.4,1.4,2.4,2.8,2.8v6.1C28,40.3,26.9,41.3,26.6,42.7z M18.6,43.9
      c-0.1,1.1-1.1,1.8-2.2,1.7c-1.1-0.1-1.8-1.1-1.7-2.2c0.1-1.1,1.1-1.8,2.2-1.7C17.9,41.9,18.7,42.8,18.6,43.9z M12.9,42.7H6.1
      C4.2,39.1,3.1,35.1,3,31h7.9c0.4,1.4,1.5,2.5,2.9,2.8c0.1,2.2,0.4,4.3,0.9,6.5C13.8,40.8,13.1,41.7,12.9,42.7z M12.9,17.3
      c0.3,1,1,1.9,1.9,2.4c-0.4,2.1-0.7,4.3-0.9,6.5c-1.4,0.3-2.6,1.4-2.9,2.8H3c0.1-4.1,1.2-8.1,3.1-11.7H12.9z M18.6,16.3
      c0,1.1-0.9,2-2,2c-1.1,0-2-0.9-2-2s0.9-2,2-2C17.7,14.4,18.6,15.2,18.6,16.3z M20.4,17.3h6.1c0.4,1.4,1.4,2.4,2.8,2.8v6.1
      c-1.4,0.4-2.4,1.4-2.8,2.8h-8.1c-0.3-1.3-1.3-2.4-2.6-2.7c0.1-2,0.4-4.1,0.8-6.1C18.4,20.2,20,19,20.4,17.3z M30.3,14.4
      c1.1,0,2,0.9,2,2s-0.9,2-2,2c-1.1,0-2-0.9-2-2S29.2,14.4,30.3,14.4z M34.1,17.3h6.1c0.4,1.7,2,2.9,3.8,2.9c0.4,2,0.7,4,0.8,6.1
      c-1.3,0.4-2.3,1.4-2.6,2.7h-8.1c-0.4-1.4-1.4-2.4-2.8-2.8v-6.1C32.7,19.7,33.7,18.7,34.1,17.3z M44,14.4c1.1,0,2,0.9,2,2
      s-0.9,2-2,2c-1.1,0-2-0.9-2-2S42.9,14.4,44,14.4z M46,32c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2c1.1,0,2,0.9,2,2C47.9,31.1,47,32,46,32z
       M30.3,32c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2c1.1,0,2,0.9,2,2C32.3,31.1,31.4,32,30.3,32z M14.7,32c-1.1,0-2-0.9-2-2
      c0-1.1,0.9-2,2-2s2,0.9,2,2C16.6,31.1,15.8,32,14.7,32z M49.7,29c-0.4-1.4-1.5-2.5-2.9-2.8c-0.1-2.2-0.5-4.3-0.9-6.5
      c0.9-0.5,1.6-1.4,1.9-2.4h6.8c1.9,3.6,3,7.6,3.1,11.7H49.7z M53.4,15.3h-5.6c-0.4-1.7-2-2.9-3.8-2.9c-0.1,0-0.2,0-0.4,0
      c-1.3-3.4-3.3-6.4-6-8.8C44.2,5.5,49.8,9.6,53.4,15.3z M41.8,13.1c-0.8,0.5-1.3,1.3-1.6,2.2h-6.1c-0.4-1.4-1.4-2.4-2.8-2.8V2.7
      C35.4,3.2,39.2,7,41.8,13.1z M29.3,2.7v9.8c-1.4,0.4-2.4,1.4-2.8,2.8h-6.1c-0.2-0.9-0.8-1.7-1.6-2.2C21.4,7,25.3,3.2,29.3,2.7z
       M23,3.6c-2.6,2.4-4.7,5.4-6,8.8c-0.1,0-0.2,0-0.4,0c-1.8,0-3.3,1.2-3.8,2.9H7.2C10.9,9.6,16.5,5.5,23,3.6z M7.2,44.7h5.6
      c0.4,1.6,1.7,2.7,3.3,2.9c0.1,0,0.3,0,0.4,0c0.1,0,0.2,0,0.3,0c1.3,3.4,3.3,6.4,6,8.8C16.5,54.5,10.9,50.4,7.2,44.7z M18.8,46.9
      c0.1-0.1,0.2-0.1,0.2-0.2c0.7-0.5,1.1-1.3,1.3-2.1h6.1c0.4,1.4,1.4,2.4,2.8,2.8v9.8C25.3,56.8,21.4,53,18.8,46.9z M31.3,57.3v-9.8
      c1.4-0.4,2.4-1.4,2.8-2.8h6.1c0.2,0.9,0.8,1.7,1.6,2.2C39.2,53,35.4,56.8,31.3,57.3z M37.7,56.4c2.6-2.4,4.7-5.4,6-8.8
      c0.1,0,0.2,0,0.4,0c1.8,0,3.3-1.2,3.8-2.9h5.6C49.8,50.4,44.2,54.5,37.7,56.4z"/>
                              </g>
                          </svg>
                      </div>
                      <p>Catastrophe
                        Modeling</p>
                      <span class="active-arrow"></span>
                  </div>
                     <div class="icon-with-heading"  data-tab="tab-F">
                       <div class="icon-box">
                           <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                              <style type="text/css">
                                  .st0{fill:#C7C7C7;}
                              </style>
                               <path id="Path_7443_4_" class="st0" d="M59.2,40.2c-0.5-0.3-1.1-0.2-1.5,0.3c0,0,0,0,0,0c-1.7,2.4-3.9,3.8-6.3,3.8
    c-0.1,0-0.2,0-0.3,0V34.1l0.3,0.3c0.4,0.4,1.1,0.4,1.5,0c0,0,0,0,0,0l4.2-4.2c0.4-0.4,0.4-1.1,0-1.5c0,0,0,0,0,0l-8.1-8.1V7.2
    c0-0.6-0.5-1.1-1.1-1.1c0,0,0,0,0,0h-6.3c-0.6,0-1.1,0.5-1.1,1.1c0,0,0,0,0,0v4.8l-9.8-9.8c-0.4-0.4-1.1-0.4-1.5,0c0,0,0,0,0,0
    L2.9,28.7c-0.4,0.4-0.4,1.1,0,1.5c0,0,0,0,0,0l4.2,4.2c0.4,0.4,1.1,0.4,1.5,0c0,0,0,0,0,0l0.3-0.3v10.1c-0.1,0-0.2,0-0.3,0l0,0
    c-2.3,0-4.6-1.3-6.3-3.8c-0.3-0.5-1-0.6-1.5-0.2c-0.5,0.3-0.6,1-0.3,1.4c2.1,3,4.9,4.7,8,4.7l0,0c2.8-0.1,5.4-1.4,7.1-3.6
    c1.7,2.2,4.3,3.5,7.1,3.6l0,0c2.8-0.1,5.4-1.4,7.1-3.6c3,3.9,8.6,4.7,12.5,1.8c0.7-0.5,1.3-1.1,1.8-1.8c1.7,2.2,4.3,3.5,7.1,3.6
    c3,0,5.9-1.7,8-4.7C59.8,41.2,59.7,40.5,59.2,40.2C59.2,40.2,59.2,40.2,59.2,40.2z M7.9,32.2l-2.7-2.7L30.1,4.5l10.9,10.9
    c0.4,0.4,1.1,0.4,1.5,0c0.2-0.2,0.3-0.5,0.3-0.7V8.3H47V21c0,0.3,0.1,0.5,0.3,0.7l7.7,7.7l-2.7,2.7L30.8,10.7
    c-0.4-0.4-1.1-0.4-1.5,0c0,0,0,0,0,0L7.9,32.2z M36.4,44.2c-2.3-0.4-4.3-1.8-5.5-3.7c-0.4-0.5-1.1-0.6-1.5-0.2
    c-0.1,0.1-0.1,0.1-0.2,0.2c-1.2,2-3.2,3.3-5.5,3.7V32.6h12.7L36.4,44.2z M49.1,43.7c-1.6-0.7-2.9-1.8-3.9-3.3
    c-0.4-0.5-1.1-0.6-1.5-0.2c-0.1,0.1-0.1,0.1-0.2,0.2c-1.1,1.8-2.9,3.1-5,3.6V31.5c0-0.6-0.5-1.1-1.1-1.1c0,0,0,0,0,0H22.7
    c-0.6,0-1.1,0.5-1.1,1.1c0,0,0,0,0,0v12.5c-2.1-0.5-3.8-1.9-5-3.7c-0.4-0.5-1.1-0.5-1.6-0.1c0,0-0.1,0.1-0.1,0.1
    c-1,1.4-2.3,2.6-3.9,3.3V32l19-19l19,19V43.7z M51.4,51c-2.1,3.6-6.7,4.9-10.3,2.8C40,53.1,39,52.2,38.3,51
    c-0.4-0.5-1.1-0.5-1.5-0.2c-0.1,0.1-0.1,0.1-0.2,0.2c-1.4,2.3-3.9,3.7-6.5,3.8l0,0c-2.6-0.1-5.1-1.5-6.5-3.7
    c-0.4-0.5-1.1-0.6-1.6-0.2c-0.1,0.1-0.1,0.1-0.2,0.2c-1.4,2.2-3.9,3.7-6.5,3.8l0,0c-2.7-0.1-5.1-1.5-6.5-3.8c-0.3-0.5-1-0.6-1.5-0.3
    s-0.6,1-0.3,1.5c0,0,0,0,0,0c2.2,3,5.1,4.7,8.2,4.7h0c2.9-0.1,5.6-1.4,7.4-3.6c1.8,2.2,4.5,3.5,7.4,3.6h0c2.9-0.1,5.6-1.4,7.4-3.6
    c1.8,2.2,4.5,3.5,7.4,3.6c3.1,0,6.1-1.7,8.3-4.7c0.4-0.5,0.3-1.1-0.2-1.5C52.5,50.4,51.8,50.5,51.4,51C51.4,51,51.4,51,51.4,51
    L51.4,51z"/>
                          </svg>
                       </div>
                       <p>Event Response</p>
                       <span class="active-arrow"></span>
                     </div>
                   </div>
              </div>
              <div class="text-with-image tab-text hide" id="tab-A">
                  <div class="col-two text-content">
                      <h3>Underwriting</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue interdum velit euismod in. </p>
                    <p>Mattis enim ut tellus elementum sagittis vitae et leo. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue interdum velit euismod in. Tincidunt augue interdum velit euismod in. </p>
                    <div class="button-box">
                      <a href="#" class="learn-more">Learn More</a>
                    </div>
                  </div>
                  <div class="col-two bg-img">
                    <div class="img-wrapper">
                      <div class="top-border" ></div>
                      <img src="/themes/rms/templates/dist/images/helloquence-1.png" alt="image">
                    </div>
                  </div>
              </div>
              <div class="text-with-image tab-text" id="tab-B">
                  <div class="col-two text-content">
                      <h3>Portfolio
                        Management</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue interdum velit euismod in. </p>
                    <p>Mattis enim ut tellus elementum sagittis vitae et leo. Consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo.
                      Tincidunt augue interdum velit euismod in. Tincidunt augue interdum velit euismod in. </p>
                    <div class="button-box">
                      <a href="#" class="learn-more">Learn More</a>
                    </div>
                  </div>
                  <div class="col-two bg-img">
                    <div class="img-wrapper">
                      <div class="top-border" ></div>
                      <img src="/themes/rms/templates/dist/images/helloquence-1.png" alt="image">
                    </div>
                  </div>
              </div>
              <div class="text-with-image tab-text" id="tab-C">
                  <div class="col-two text-content">
                      <h3>Regulatory
                        Compliance</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue interdum velit euismod in. </p>
                    <p>Mattis enim ut tellus elementum sagittis vitae et leo. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue interdum velit euismod in. Tincidunt augue interdum velit euismod in. </p>
                    <div class="button-box">
                          <a href="#" class="learn-more">Learn More</a>
                      </div>
                  </div>
                  <div class="col-two bg-img">
                    <div class="img-wrapper">
                      <div class="top-border" ></div>
                      <img src="/themes/rms/templates/dist/images/helloquence-1.png" alt="image">
                    </div>
                  </div>
              </div>
              <div class="text-with-image tab-text" id="tab-D">
                  <div class="col-two text-content">
                      <h3>Capital
                        Allocation</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue interdum velit euismod in. </p>
                    <p>Mattis enim ut tellus elementum sagittis vitae et leo.
                      Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo.
                      Tincidunt augue interdum velit euismod in. Tincidunt augue interdum velit euismod in. </p>
                    <div class="button-box">
                          <a href="#" class="learn-more">Learn More</a>
                      </div>
                  </div>
                  <div class="col-two bg-img">
                     <div class="img-wrapper">
                       <div class="top-border" ></div>
                      <img src="/themes/rms/templates/dist/images/helloquence-1.png" alt="image">
                    </div>
                  </div>
              </div>
              <div class="text-with-image tab-text" id="tab-E">
                  <div class="col-two text-content">
                      <h3>Catastrophe
                        Modeling</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue interdum velit euismod in. </p>
                    <p>Mattis enim ut tellus elementum sagittis vitae et leo. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue interdum velit euismod in. Tincidunt augue interdum velit euismod in. </p>
                    <div class="button-box">
                          <a href="#" class="learn-more">Learn More</a>
                      </div>
                  </div>
                  <div class="col-two bg-img">
                    <div class="img-wrapper">
                      <div class="top-border" ></div>
                      <img src="/themes/rms/templates/dist/images/helloquence-1.png" alt="image">
                    </div>
                  </div>
              </div>

            <div class="text-with-image tab-text" id="tab-F">
              <div class="col-two text-content">
                <h3>Event Response</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue interdum velit euismod in. </p>
                <p>Mattis enim ut tellus elementum sagittis vitae et leo. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt augue interdum velit euismod in. Tincidunt augue interdum velit euismod in. </p>
                <div class="button-box">
                  <a href="#" class="learn-more">Learn More</a>
                </div>
              </div>
              <div class="col-two bg-img">
                <div class="img-wrapper">
                  <div class="top-border" ></div>
                  <img src="/themes/rms/templates/dist/images/helloquence-1.png" alt="image">
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>