<section class="sticky-nav mb-0 solution-category wow fadeInUp"  data-wow-delay="0.4s">
    <div class="container">
        <div class="row column-wrapper no-gutters wow fadeInUp" data-wow-delay="0.4s">
            <div class="by-category">
                <a data-scroll="" href="#industry"></a>
                <div class="icon-svg">
                    {#<img src="/themes/rms/templates/dist/images/svg/Industry_Icon.svg" alt="icon">#}
                    <?xml version="1.0" encoding="utf-8"?>
                    <!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 38 38" style="enable-background:new 0 0 38 38;" xml:space="preserve">
<style type="text/css">
    .st0{fill:#B2B2B2;}
</style>
                        <g>
                            <g id="Industry_Icon" transform="translate(-403.439 -21.439)">
                                <g id="_001-gears" transform="translate(404 22)">
                                    <g id="Group_5540">
                                        <g id="Group_5539">
                                            <path id="Path_7642" class="st0" d="M19.2,23.2c-0.1-0.3-0.5-0.4-0.8-0.3c-0.5,0.2-1,0.4-1.5,0.6c-0.2,0.1-0.4,0.2-0.4,0.5
						l-0.6,3.1c-0.1,0.3-0.3,0.5-0.6,0.5h-1.7c-0.3,0-0.6-0.2-0.6-0.5l-0.6-3.1c0-0.2-0.2-0.4-0.4-0.5c-0.7-0.2-1.4-0.5-2.1-0.9
						c-0.2-0.1-0.4-0.1-0.6,0l-2.7,1.8c-0.3,0.2-0.6,0.1-0.8-0.1l-1.2-1.2c-0.2-0.2-0.3-0.6-0.1-0.8l1.8-2.7c0.1-0.2,0.1-0.4,0-0.6
						c-0.4-0.7-0.7-1.4-0.9-2.1c-0.1-0.2-0.2-0.4-0.5-0.4l-3.1-0.6c-0.3-0.1-0.5-0.3-0.5-0.6v-1.7c0-0.3,0.2-0.6,0.5-0.6l3.1-0.6
						c0.2,0,0.4-0.2,0.5-0.4c0.2-0.7,0.5-1.4,0.9-2.1c0.1-0.2,0.1-0.4,0-0.6L4.4,6.5C4.2,6.2,4.2,5.9,4.4,5.7l1.2-1.2
						c0.2-0.2,0.6-0.3,0.8-0.1l2.7,1.8c0.2,0.1,0.4,0.1,0.6,0c0.7-0.4,1.4-0.7,2.1-0.9c0.2-0.1,0.4-0.2,0.4-0.5l0.6-3.1
						c0.1-0.3,0.3-0.5,0.6-0.5h1.7c0.3,0,0.6,0.2,0.6,0.5l0.6,3.1c0,0.2,0.2,0.4,0.4,0.5c0.7,0.2,1.4,0.5,2.1,0.9
						c0.2,0.1,0.4,0.1,0.6,0l2.7-1.8c0.3-0.2,0.6-0.1,0.8,0.1l1.2,1.2c0.2,0.2,0.3,0.6,0.1,0.8l-1.8,2.7c-0.1,0.2-0.1,0.4,0,0.6
						c0.4,0.7,0.7,1.4,0.9,2.1c0.1,0.2,0.2,0.4,0.5,0.4l3.1,0.6c0.3,0.1,0.5,0.3,0.5,0.6v1.7c0,0.3-0.2,0.6-0.5,0.6l-3.1,0.6
						c-0.2,0-0.4,0.2-0.5,0.4c-0.1,0.5-0.3,1-0.6,1.5c-0.1,0.3,0,0.6,0.3,0.8s0.6,0,0.8-0.3c0.2-0.4,0.4-0.9,0.5-1.4l2.8-0.6
						c0.9-0.2,1.5-0.9,1.5-1.8v-1.7c0-0.9-0.6-1.6-1.5-1.8l-2.8-0.6c-0.2-0.6-0.4-1.1-0.7-1.7l1.6-2.4c0.5-0.7,0.4-1.7-0.2-2.3
						L24,3.6c-0.6-0.6-1.6-0.7-2.3-0.2L19.3,5c-0.5-0.3-1.1-0.5-1.7-0.7L17,1.5C16.9,0.6,16.1,0,15.2,0h-1.7c-0.9,0-1.6,0.6-1.8,1.5
						l-0.6,2.8C10.6,4.4,10,4.7,9.5,5L7.1,3.4C6.4,2.9,5.4,3,4.8,3.6L3.6,4.8C3,5.4,2.9,6.4,3.4,7.1L5,9.5c-0.3,0.5-0.5,1.1-0.7,1.7
						l-2.8,0.6C0.6,11.9,0,12.7,0,13.5v1.7c0,0.9,0.6,1.6,1.5,1.8l2.8,0.6c0.2,0.6,0.4,1.1,0.7,1.7l-1.6,2.4C2.9,22.4,3,23.3,3.6,24
						l1.2,1.2c0.6,0.6,1.6,0.7,2.3,0.2l2.4-1.6c0.5,0.3,1.1,0.5,1.7,0.7l0.6,2.8c0.2,0.9,0.9,1.5,1.8,1.5h1.7c0.9,0,1.6-0.6,1.8-1.5
						l0.6-2.8c0.5-0.1,0.9-0.3,1.3-0.5C19.2,23.8,19.4,23.5,19.2,23.2z"/>
                                            <path id="Path_7643" class="st0" d="M19.5,17.7c0.3,0.2,0.6,0,0.8-0.3c0,0,0,0,0,0c1.7-3.3,0.4-7.3-2.9-8.9
						c-2.5-1.3-5.6-0.8-7.7,1.2c-0.2,0.2-0.2,0.6,0,0.8c0.2,0.2,0.6,0.2,0.8,0c2.2-2.1,5.6-2.1,7.7,0.1c1.6,1.7,2,4.2,1,6.3
						C19.1,17.2,19.2,17.5,19.5,17.7C19.5,17.7,19.5,17.7,19.5,17.7z"/>
                                            <path id="Path_7644" class="st0" d="M8.9,11.9c-0.3-0.1-0.6,0.1-0.8,0.4c0,0,0,0,0,0c-1.2,3.5,0.7,7.3,4.1,8.4
						c2,0.7,4.3,0.4,6.1-0.9c0.3-0.2,0.3-0.6,0.1-0.8s-0.6-0.3-0.8-0.1l0,0c-2.4,1.8-5.9,1.2-7.6-1.2c-1-1.4-1.3-3.3-0.7-5
						C9.3,12.3,9.2,12,8.9,11.9C8.9,11.9,8.9,11.9,8.9,11.9z"/>
                                            <path id="Path_7645" class="st0" d="M36.3,25.8l-1.7-0.3c-0.1-0.3-0.2-0.6-0.4-0.9l1-1.5c0.4-0.6,0.3-1.3-0.2-1.8l-0.8-0.8
						c-0.5-0.5-1.2-0.5-1.8-0.2l-1.5,1c-0.3-0.1-0.6-0.3-0.9-0.4l-0.3-1.7c-0.1-0.7-0.7-1.1-1.4-1.1h-1.1c-0.7,0-1.3,0.5-1.4,1.1
						L25.5,21c-0.3,0.1-0.6,0.2-0.9,0.4l-1.5-1c-0.6-0.4-1.3-0.3-1.8,0.2l-0.8,0.8c-0.5,0.5-0.5,1.2-0.2,1.8l1,1.5
						c-0.2,0.4-0.4,0.8-0.5,1.3c-0.1,0.3,0.1,0.6,0.4,0.7s0.6-0.1,0.7-0.4l0,0c0.1-0.5,0.3-0.9,0.5-1.3c0.1-0.2,0.1-0.4,0-0.6
						l-1.2-1.7c-0.1-0.1,0-0.2,0-0.3l0.8-0.8c0.1-0.1,0.2-0.1,0.3,0l1.7,1.2c0.2,0.1,0.4,0.1,0.6,0c0.4-0.2,0.9-0.4,1.3-0.5
						c0.2-0.1,0.4-0.2,0.4-0.5l0.4-2.1c0-0.1,0.1-0.2,0.2-0.2h1.1c0.1,0,0.2,0.1,0.2,0.2l0.4,2.1c0,0.2,0.2,0.4,0.4,0.5
						c0.5,0.1,0.9,0.3,1.3,0.5c0.2,0.1,0.4,0.1,0.6,0l1.7-1.2c0.1-0.1,0.2,0,0.3,0l0.8,0.8c0.1,0.1,0.1,0.2,0,0.3L33,24.2
						c-0.1,0.2-0.1,0.4,0,0.6c0.2,0.4,0.4,0.9,0.5,1.3c0.1,0.2,0.2,0.4,0.5,0.4l2.1,0.4c0.1,0,0.2,0.1,0.2,0.2v1.1
						c0,0.1-0.1,0.2-0.2,0.2L34,29c-0.2,0-0.4,0.2-0.5,0.4c-0.1,0.5-0.3,0.9-0.5,1.3c-0.1,0.2-0.1,0.4,0,0.6l1.2,1.7
						c0.1,0.1,0,0.2,0,0.3l-0.8,0.8c-0.1,0.1-0.2,0.1-0.3,0L31.3,33c-0.2-0.1-0.4-0.1-0.6,0c-0.4,0.2-0.9,0.4-1.3,0.5
						C29.2,33.6,29,33.8,29,34l-0.4,2.1c0,0.1-0.1,0.2-0.2,0.2h-1.1c-0.1,0-0.2-0.1-0.2-0.2L26.6,34c0-0.2-0.2-0.4-0.4-0.5
						c-0.5-0.1-0.9-0.3-1.3-0.5c-0.2-0.1-0.4-0.1-0.6,0l-1.7,1.2c-0.1,0.1-0.2,0-0.3,0l-0.8-0.8c-0.1-0.1-0.1-0.2,0-0.3l1.2-1.7
						c0.1-0.2,0.1-0.4,0-0.6c-0.2-0.4-0.4-0.9-0.5-1.3c-0.1-0.2-0.2-0.4-0.5-0.4l-2.1-0.4c-0.1,0-0.2-0.1-0.2-0.2v-1.1
						c0-0.1,0.1-0.2,0.2-0.2l0.1,0c0.3-0.1,0.5-0.4,0.5-0.7s-0.4-0.5-0.7-0.5c0,0,0,0,0,0l-0.1,0c-0.7,0.1-1.1,0.7-1.1,1.4v1.1
						c0,0.7,0.5,1.3,1.1,1.4l1.7,0.3c0.1,0.3,0.2,0.6,0.4,0.9l-1,1.5c-0.4,0.6-0.3,1.3,0.2,1.8l0.8,0.8c0.5,0.5,1.2,0.5,1.8,0.2
						l1.5-1c0.3,0.1,0.6,0.3,0.9,0.4l0.3,1.7c0.1,0.7,0.7,1.1,1.4,1.1h1.1c0.7,0,1.3-0.5,1.4-1.1l0.3-1.7c0.3-0.1,0.6-0.2,0.9-0.4
						l1.5,1c0.6,0.4,1.3,0.3,1.8-0.2l0.8-0.8c0.5-0.5,0.5-1.2,0.2-1.8l-1-1.4c0.1-0.3,0.3-0.6,0.4-0.9l1.7-0.3
						c0.7-0.1,1.1-0.7,1.1-1.4v-1.1C37.4,26.5,37,26,36.3,25.8z"/>
                                            <path id="Path_7646" class="st0" d="M27.8,25.7c1.2,0,2.1,1,2.1,2.1c0,0.3,0.3,0.6,0.6,0.6c0.3,0,0.6-0.3,0.6-0.6
						c0-1.8-1.5-3.3-3.3-3.3c-1.8,0-3.3,1.5-3.3,3.3c0,1.8,1.5,3.3,3.3,3.3l0,0c0.7,0,1.4-0.2,2-0.7c0.3-0.2,0.3-0.6,0.1-0.8
						s-0.6-0.3-0.8-0.1c-0.4,0.3-0.8,0.4-1.3,0.4c-1.2,0-2.1-1-2.1-2.1S26.6,25.7,27.8,25.7C27.8,25.7,27.8,25.7,27.8,25.7z"/>
                                            <path id="Path_7647" class="st0" d="M18,14.4c0-2-1.6-3.6-3.6-3.6s-3.6,1.6-3.6,3.6s1.6,3.6,3.6,3.6C16.4,18,18,16.4,18,14.4z
						 M12,14.4C12,13,13,12,14.4,12s2.4,1.1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4c0,0,0,0,0,0C13,16.8,12,15.7,12,14.4z"/>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
</svg>


                </div>
                <p>By Industry</p>
            </div>
            <div class="by-category">
                <a data-scroll="" href="#category"></a>
                <div class="icon-svg">
                    {#<img src="/themes/rms/templates/dist/images/svg/role-icon.svg" alt="role icon">#}
                    <?xml version="1.0" encoding="utf-8"?>
                    <!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 77 70" style="enable-background:new 0 0 77 70;" xml:space="preserve">
<style type="text/css">
    .st0{fill:#b2b2b2;}
</style>
                        <g id="analytical_icon" transform="translate(.707 1.208)">
                            <path class="st0" d="M6.3,37.8c-3.7,0-6.5-2.6-6.5-6c0-3.1,2.4-6.4,6.4-6.4s6.4,3.2,6.4,6.4C12.7,34.7,10.1,37.8,6.3,37.8z
		 M6.2,27.4c-2.8,0-4.4,2.2-4.4,4.4c0,2.3,1.9,4,4.5,4c2.9,0,4.4-2.3,4.4-4C10.7,29.6,9,27.4,6.2,27.4z"/>
                            <path class="st0" d="M22.8,68.8c-3.6,0-6.5-2.9-6.5-6.5s2.9-6.5,6.5-6.5s6.5,2.9,6.5,6.5S26.4,68.8,22.8,68.8z M22.8,57.8
		c-2.5,0-4.5,2-4.5,4.5s2,4.5,4.5,4.5s4.5-2,4.5-4.5S25.3,57.8,22.8,57.8z"/>
                            <path class="st0" d="M55.8,68.8c-3.6,0-6.5-2.9-6.5-6.5s2.9-6.5,6.5-6.5s6.5,2.9,6.5,6.5S59.4,68.8,55.8,68.8z M55.8,57.8
		c-2.5,0-4.5,2-4.5,4.5s2,4.5,4.5,4.5s4.5-2,4.5-4.5S58.3,57.8,55.8,57.8z"/>
                            <path class="st0" d="M22.8,10.8c-3.6,0-6.5-2.7-6.5-6s2.9-6,6.5-6s6.5,2.7,6.5,6S26.4,10.8,22.8,10.8z M22.8,0.8
		c-2.5,0-4.5,1.8-4.5,4s2,4,4.5,4s4.5-1.8,4.5-4S25.3,0.8,22.8,0.8z"/>
                            <path class="st0" d="M55.8,10.8c-3.6,0-6.5-2.7-6.5-6s2.9-6,6.5-6s6.5,2.7,6.5,6S59.4,10.8,55.8,10.8z M55.8,0.8
		c-2.5,0-4.5,1.8-4.5,4s2,4,4.5,4s4.5-1.8,4.5-4S58.3,0.8,55.8,0.8z"/>
                            <path class="st0" d="M70.3,37.8c-3.3,0-6-2.7-6-6s2.7-6,6-6s6,2.7,6,6S73.6,37.8,70.3,37.8z M70.3,27.8c-2.2,0-4,1.8-4,4s1.8,4,4,4
		s4-1.8,4-4S72.5,27.8,70.3,27.8z"/>
                            <rect x="28.3" y="62.8" class="st0" width="22" height="2"/>
                            <rect x="12.5" y="35" transform="matrix(0.8784 -0.478 0.478 0.8784 -20.7809 12.164)" class="st0" width="2" height="23.8"/>
                            <rect x="3.2" y="17" transform="matrix(0.4961 -0.8682 0.8682 0.4961 -8.6485 21.1439)" class="st0" width="21.4" height="2"/>
                            <rect x="28.3" y="4.8" class="st0" width="22" height="2"/>
                            <rect x="63.1" y="7.3" transform="matrix(0.8682 -0.4961 0.4961 0.8682 -0.4996 34.1655)" class="st0" width="2" height="21.4"/>
                            <rect x="52.5" y="45.9" transform="matrix(0.4717 -0.8818 0.8818 0.4717 -7.3606 81.5466)" class="st0" width="23.7" height="2"/>
                            <rect x="52.3" y="29.8" class="st0" width="13" height="2"/>
                            <rect x="11.3" y="29.8" class="st0" width="16" height="2"/>
                            <rect x="27.7" y="7.5" transform="matrix(0.8572 -0.515 0.515 0.8572 -3.8667 16.9838)" class="st0" width="2" height="15.9"/>
                            <rect x="42.3" y="14.1" transform="matrix(0.498 -0.8672 0.8672 0.498 11.8754 50.6483)" class="st0" width="14.8" height="2"/>
                            <rect x="49.1" y="42.5" transform="matrix(0.8952 -0.4456 0.4456 0.8952 -16.9914 27.5455)" class="st0" width="2" height="14.8"/>
                            <rect x="20.8" y="49" transform="matrix(0.4961 -0.8682 0.8682 0.4961 -29.1923 49.7825)" class="st0" width="14.9" height="2"/>
                            <path class="st0" d="M39.8,46.8c-7.4,0-13.5-6.3-13.5-14s6.1-14,13.5-14c7.4,0,13.5,6.3,13.5,14S47.2,46.8,39.8,46.8z M39.8,20.8
		c-6.3,0-11.5,5.4-11.5,12c0,6.6,5.2,12,11.5,12c6.3,0,11.5-5.4,11.5-12C51.3,26.2,46.1,20.8,39.8,20.8z"/>
                            <path class="st0" d="M39.8,43.2L39.8,43.2c-0.3,0-0.5-0.1-0.7-0.3l-4.6-5h-0.8c-1.5,0.1-2.7,1.4-2.7,2.9c0,0.6-0.4,1-1,1
		c-0.6,0-1-0.4-1-1c-0.1-2.6,2-4.9,4.6-5l1.3,0c0.3,0,0.5,0.1,0.7,0.3l4.2,4.5l4.2-4.5c0.2-0.2,0.5-0.3,0.7-0.3h1.2
		c2.7,0.1,4.8,2.3,4.7,5c0,0.6-0.5,1-1,1c-0.6,0-1-0.5-1-1c0.1-1.6-1.2-2.9-2.7-2.9l-0.7,0l-4.6,5C40.3,43.1,40,43.2,39.8,43.2z"/>
                            <path class="st0" d="M39.3,34.8c-3.3,0-6-2.7-6-6s2.7-6,6-6s6,2.7,6,6S42.6,34.8,39.3,34.8z M39.3,24.8c-2.2,0-4,1.8-4,4s1.8,4,4,4
		c2.2,0,4-1.8,4-4S41.5,24.8,39.3,24.8z"/>
                        </g>
</svg>

                </div>
                <p>By Function</p>
            </div>

            <div class="by-category">
                <a data-scroll="" href="#region"></a>
                <div class="icon-svg">
                    {#<img src="/themes/rms/templates/dist/images/region_icon.png" alt="region icon">#}
                    <?xml version="1.0" encoding="utf-8"?>
                    <!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 35 35" style="enable-background:new 0 0 35 35;" xml:space="preserve">
<style type="text/css">
    .st0{fill:#B2B2B2;}
</style>
                        <g>
                            <g id="Region_Icon" transform="translate(-854 -22)">
                                <g id="_002-worldwide" transform="translate(854 22)">
                                    <g id="Group_5541">
                                        <path id="Path_7648" class="st0" d="M6,6.3C12.2-0.1,22.4-0.2,28.7,6l-1.8,0c-0.4,0-0.7,0.3-0.7,0.7c0,0.4,0.3,0.7,0.7,0.7h0
					l3.5,0c0.4,0,0.7-0.3,0.7-0.7l0-3.5c0-0.4-0.3-0.7-0.7-0.7c-0.4,0-0.7,0.3-0.7,0.7l0,0l0,1.8C22.8-1.8,11.7-1.6,5,5.3
					C0.3,10.1-1.2,17.1,1,23.4c0.1,0.3,0.4,0.5,0.7,0.5c0.1,0,0.2,0,0.2,0c0.4-0.1,0.6-0.5,0.4-0.9C0.3,17.1,1.7,10.6,6,6.3z"/>
                                        <path id="Path_7649" class="st0" d="M5.3,30c3.3,3.2,7.7,5,12.2,5h0.2c8.2-0.1,15.3-5.9,16.9-13.9c0.7-3.2,0.4-6.5-0.7-9.5
					c-0.1-0.4-0.5-0.6-0.9-0.4c-0.4,0.1-0.6,0.5-0.4,0.9c3,8.4-1.3,17.6-9.7,20.6c-5.8,2.1-12.3,0.7-16.7-3.6l1.8,0
					c0.4,0,0.7-0.3,0.7-0.7c0-0.4-0.3-0.7-0.7-0.7h0l-3.5,0c-0.2,0-0.4,0.1-0.5,0.2c-0.1,0.1-0.2,0.3-0.2,0.5l0,3.5
					c0,0.4,0.3,0.7,0.7,0.7h0c0.4,0,0.7-0.3,0.7-0.7L5.3,30z"/>
                                        <path id="Path_7650" class="st0" d="M27.3,13.4c-1.5-3.7-5.1-6.3-9.1-6.5c-0.1,0-0.1,0-0.2,0h0c0,0-0.1,0-0.1,0h0
					c-0.1,0-0.2,0-0.2,0C11.6,7,7,11.8,7,17.6c0.1,5.8,4.7,10.4,10.5,10.5c0.1,0,0.1,0,0.2,0c0,0,0.1,0,0.1,0c0,0,0,0,0,0
					c0.1,0,0.1,0,0.2,0h0.1c0,0,0,0,0.1,0c5.8-0.3,10.3-5.3,10-11.2C28,15.7,27.7,14.5,27.3,13.4C27.3,13.4,27.3,13.4,27.3,13.4
					L27.3,13.4z M13.8,9.1C13,10.3,12.3,11.6,12,13H9.5C10.5,11.3,12,9.9,13.8,9.1z M8.9,14.4h2.8c-0.2,1-0.3,2-0.2,3.1
					c0,1,0.1,2.1,0.3,3.1H8.9C8.1,18.6,8.1,16.4,8.9,14.4z M9.5,22H12c0.4,1.4,1,2.8,1.9,4C12.1,25.2,10.5,23.8,9.5,22z M17.1,26.6
					c-1.5-0.4-2.8-2.2-3.5-4.6h3.5V26.6z M17.1,20.6h-3.9c-0.2-1-0.3-2-0.3-3.1c0-1,0.1-2.1,0.3-3.1h3.9L17.1,20.6z M17.1,13h-3.6
					c0.7-2.5,2-4.2,3.6-4.6L17.1,13z M25.5,13h-2c-0.3-1.2-0.8-2.4-1.5-3.5C23.5,10.3,24.7,11.5,25.5,13L25.5,13z M18.5,8.4
					c1.6,0.4,2.9,2.1,3.6,4.6h-3.6V8.4z M18.5,14.4h3.9c0.2,1,0.3,2,0.3,3.1c0,1-0.1,2.1-0.3,3.1h-3.9V14.4z M18.5,26.6V22H22
					C21.3,24.4,19.9,26.1,18.5,26.6z M21.9,25.6c0.7-1.1,1.3-2.3,1.6-3.6h2C24.7,23.5,23.4,24.7,21.9,25.6L21.9,25.6z M26.1,20.6
					h-2.3c0.2-1,0.3-2,0.3-3.1c0-1-0.1-2.1-0.2-3.1h2.3C26.9,16.4,26.9,18.6,26.1,20.6L26.1,20.6z"/>
                                    </g>
                                </g>
                            </g>
                        </g>
</svg>

                </div>
                <p>By Region</p>
            </div>
        </div>
    </div>
</section>
