<section class="banner-fourth">
    {% if content.field_image[0] is not empty %}
    <div class="bg-img wow fadeIn" data-wow-delay="0.3s">
        {{ content.field_image[0] }}
    </div>
    {% endif %}
    <div class="v-middle-wrapper wow fadeIn" data-wow-delay="0.4s">
        <div class="v-middle-inner container">
            <div class="v-middle">
                <div class="inner-text">
                    <h1>{{ node.title.value }}</h1>
                    <h5>{{ content.field_subtitle[0] }}</h5>
                </div>
            </div>
        </div>
    </div>
    {#<div class="location-box">#}
    {#<div class="place-location">#}
    {#<span><p>Sonoran Desert, Arizona, United States</p></span>#}
    {#</div>#}
    {#</div>#}
</section>
