{% set blurb, label, title = content.field_resource_reference[0]['#node'].field_blurb.value, content.field_resource_reference[0]['#node'].type.entity.label, content.field_resource_reference[0]['#node'].title.value|truncate(38) %}
{% if content.field_resource_reference[0]['#node'].field_image.isempty %}
    {% set image_url, image_alt = '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
{% else %}
    {% set image_url, image_alt = content.field_resource_reference[0]['#node'].field_image.entity.uri.value, content.field_resource_reference[0]['#node'].field_image.entity.alt %}
{% endif %}
{% if content.field_resource_reference[0]['#node'].id %}
    <section class="resource-with-card sol-detail animation-second">
        <div class="bg-img "></div>
        <div class="container">
            <div class="pattern-animation" id="lottie2">
                {#<img src="/themes/rms/templates/dist/images/svg/Grid.svg" alt="white pattern">#}
            </div>
            <div class="row column-wrapper no-gutters wow fadeInUp" data-wow-delay="0.4s">
                <div class="col-two image-box">
                    <div class="img-wrapper">
                        <div class="top-border"></div>
                        <img src="{{ file_url(image_url) }}" alt="{{ image_alt }}">
                    </div>
                </div>
                <div class="col-two green-border align-left text-wrapper ">
                    <div class="logo-title">
                        <div class="logo-wrap">
                            <img src="/themes/rms/templates/dist/images/svg/{{ label }}.svg" alt="{{ label }}">
                        </div>
                        <span class="small-title">{{ label }}</span>
                    </div>
                    <h2>{{ title }}</h2>
                    <p>{{ blurb|striptags|length > 295 ? blurb|striptags|slice(0, 292) ~ '...' : blurb|striptags }}</p>
                    <div class="button-box">
                        <a href="{{ path('entity.node.canonical', {'node': content.field_resource_reference[0]['#node'].id}) }}"
                           class="learn-more">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
