{#
/**
 * @file
 * Theme override to display a list of summary lines.
 *
 * Available variables:
 * - rows: The rows contained in this view.
 *   Each row contains:
 *   - url: The summary link URL.
 *   - link: The summary link text.
 *   - count: The number of items under this grouping.
 *   - attributes: HTML attributes to apply to each row.
 *   - active: A flag indicating whether the row is active.
 * - options: Flags indicating how the summary should be displayed.
 *   This contains:
 *   - count: A flag indicating whether the count should be displayed.
 *
 * @see template_preprocess_views_view_summary()
 */
#}
<ul class="ul-left">
  {% for row in rows %}
      {% set month_value = '' %}
      {% if row.link == 'January' %}
          {% set month_value = '01' %}
      {% elseif row.link == 'February' %}
          {% set month_value = '02' %}
      {% elseif row.link == 'March' %}
          {% set month_value = '03' %}
      {% elseif row.link == 'April' %}
          {% set month_value = '04' %}
      {% elseif row.link == 'May' %}
          {% set month_value = '05' %}
      {% elseif row.link == 'June' %}
          {% set month_value = '06' %}
      {% elseif row.link == 'July' %}
          {% set month_value = '07' %}
      {% elseif row.link == 'August' %}
          {% set month_value = '08' %}
      {% elseif row.link == 'September' %}
          {% set month_value = '09' %}
      {% elseif row.link == 'October' %}
          {% set month_value = '10' %}
      {% elseif row.link == 'November' %}
          {% set month_value = '11' %}
      {% elseif row.link == 'December' %}
          {% set month_value = '12' %}
      {% endif %}
    <li><a href="/blog?Year={{ "now"|date("Y") }}&Month={{ month_value }}">{{ row.link }}</a></li>
  {% endfor %}
</ul>
