{% set body = content.field_blurb|render|striptags %}
<td class="features">{{ body }}</td>
<td>
        <span class="checked-img">
            {{ cloud }}
            {% if '1' in content.field_has_cloud[0] %}
                <img src="/themes/rms/templates/dist/images/checked.svg" alt="Check Icon">
            {% endif %}
            {% if '0' in content.field_has_cloud[0] %}
                <img src="/themes/rms/templates/dist/images/check-close.svg" alt="Uncheck Icon">
            {% endif %}
        </span>
</td>
<td>
        <span class="checked-img">
            {{ prem }}
            {% if '1' in content.field_has_prem[0] %}
                <img src="/themes/rms/templates/dist/images/checked.svg" alt="Check Icon">
            {% endif %}
            {% if '0' in content.field_has_prem[0] %}
                <img src="/themes/rms/templates/dist/images/check-close.svg" alt="Uncheck Icon">
            {% endif %}
        </span>
</td>
</tr>