{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="informative-table {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    {% if content.field_background_image[0] is not empty %}
        <div class="bg-img">
            {{ content.field_background_image[0] }}
        </div>
    {% endif %}
    <div class="container">
        <div class="pattern-animation wow fadeIn" data-wow-delay="0.6s" id="lottie2"></div>
        <div class="container-box">
            <div class="column-wrapper wow fadeInUp" data-wow-delay="0.5s">
                <table>
                    <thead>
                    <tr>
                        <td></td>
                        <td><h5>Cloud</h5></td>
                        <td><h5>On Prem</h5></td>
                    </tr>
                    </thead>
                    <tbody>
                    {{ content.field_cloud_items }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
