{% if content.field_title_three[0] is not empty %}
    <section class="resource-with-card-slider animation-second model-resource">
        <div class="bg-img">
            {% if content.field_image_two[0] is not empty %}
                {{ content.field_image_two[0] }}
            {% endif %}
        </div>
        <div class="container">
            <div class="intro-block green-border align-center wow fadeInUp" data-wow-delay="0.3s">
                <h2>{{ content.field_title_three[0] }}</h2>
            </div>
            <div class="pattern-animation" data-wow-delay="0.3s" id="lottie2">
            </div>
            <div class="award-top-carousel wow fadeInUp" data-wow-delay="0.5s">

                <div class="slider-outer ">
                    {{ content.field_testimonial_items }}
                </div>

                <div class="button-wrap">
                    <span class="pre-btn"></span>
                    <div class="dots-outer">
                    </div>
                    <span class="next-btn"></span>
                </div>
            </div>
        </div>
    </section>
{% endif %}