{% include directory ~ '/templates/services/part/banner-third-level.html.twig' %}
{% include directory ~ '/templates/services/part/col-three-with-text/col-three-with-text.html.twig' %}
{% include directory ~ '/templates/services/part/col-two-with-cards/col-two-with-cards.html.twig' %}
{% include directory ~ '/templates/services/part/image-with-slider/image-with-slider.html.twig' %}
{% include directory ~ '/templates/services/part/statistic-slider/statistic-slider.html.twig' %}
{% include directory ~ '/templates/services/part/news-slider.html.twig' %}