{% include directory ~ '/templates/tbd/data-detail/banner-third-level.html.twig' %}
{% include directory ~ '/templates/tbd/data-detail/image-with-text.html.twig' %}
{% include directory ~ '/templates/tbd/data-detail/col-two-with-cards.html.twig' %}
{% include directory ~ '/templates/tbd/data-detail/col-three-benefits-cards.html.twig' %}
{% include directory ~ '/templates/tbd/data-detail/feature-grid.html.twig' %}
{% include directory ~ '/templates/tbd/data-detail/image-with-text-slider.html.twig' %}
{% include directory ~ '/templates/tbd/data-detail/col-three-with-image.html.twig' %}
{% include directory ~ '/templates/tbd/data-detail/news-slider.html.twig' %}
{% include directory ~ '/templates/tbd/cta.html.twig' %}