{% include directory ~ '/templates/tbd/gated-resource/banner-second-level.html.twig' %}
{% include directory ~ '/templates/tbd/gated-resource/content-with-form.html.twig' %}

{% include directory ~ '/templates/tbd/gated-resource/image-with-slider.html.twig' %}
{% include directory ~ '/templates/tbd/cta.html.twig' %}