{% include directory ~ '/templates/tbd/solution-detail/banner-fourth-level.html.twig' %}
{% include directory ~ '/templates/tbd/solution-detail/col-three-with-text.html.twig' %}
{% include directory ~ '/templates/tbd/solution-detail/col-four-with-slider.html.twig' %}
{% include directory ~ '/templates/tbd/solution-detail/resource-with-card.html.twig' %}
{% include directory ~ '/templates/tbd/solution-detail/col-three-with-image.html.twig' %}
{% include directory ~ '/templates/tbd/solution-detail/reference-carousel.html.twig' %}
{% include directory ~ '/templates/tbd/solution-detail/image-with-text-slider.html.twig' %}
{% include directory ~ '/templates/tbd/cta.html.twig' %}
