{% macro pagination(total, current, param, url, nearbyPagesLimit = 10) %}

    {# Create "main_url" variable with link for the first page #}
    {% set main_url = url %}

    {% apply spaceless %}
        {% if total > 1 %}
            <div class="pagination-wrapper">
                <div class="paging">
                    <nav>
                        <ul class="pagination theme-colored2">
                            {% if param > 1 and param != 10 %}
                              <li><a class="page-numbers" href="{{ (url ~ '&start=' ~ (param - 1))|e }}">< Prev</a>
                              </li>
                            {% endif %}
                            {% for i in 1..total %}
                                {% if 0 == (current - nearbyPagesLimit) - loop.index %}
                                    <li><a class="page-numbers" href="{{ (url ~ '&start=' ~ 10)|e }}">1</a></li>
                                    {% if 1 != loop.index %}
                                        <li><a href="#"><span class="page-numbers">...</span></a></li>
                                    {% endif %}
                                {% elseif 0 == (current + nearbyPagesLimit) - loop.index  and (current + nearbyPagesLimit) < total %}
                                    <li><a href="#"><span class="page-numbers">...</span></a></li>
                                {% elseif 0 < (current - nearbyPagesLimit) - loop.index %}
                                    <!-- #1 -->
                                {% elseif 0 > (current + nearbyPagesLimit) - loop.index %}
                                    <!-- #2 -->
                                {% else %}

                                    {% if param == (loop.index + 9) %}
                                        <li class="active"><a href="#"><span class="page-numbers"
                                                                             aria-current="page">{{ loop.index }}</span></a>
                                        </li>
                                    {% else %}
                                        {% if loop.index == 1 %}
                                            <li><a class="page-numbers" href="{{ main_url }}">{{ loop.index }}</a></li>
                                        {% else %}
                                            <li><a class="page-numbers"
                                                   href="{{ url ~ '&start=' ~ (loop.index + 9) }}">{{ loop.index }}</a></li>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if current != total  and (current + nearbyPagesLimit) < total %}
                                <li><a class="page-numbers" href="{{ (url ~ '&start=' ~ (total + 9))|e }}">{{ total }}</a>
                                </li>
                            {% endif %}
                            {% if param >= 1 and param != 19 %}
                              <li><a class="page-numbers" href="{{ (url ~ '&start=' ~ (param + 1))|e }}">Next ></a>
                              </li>
                            {% endif %}
                        </ul>
                </div>
            </div>
        {% endif %}
    {% endapply %}
{% endmacro %}

<section class="search">
    <div class="container">
        <div class="search-wrapper">
            <h1>Search Results</h1>
            <form id="cse-search-box1" class="global-search1" method="get">
                <input class="global-input1" type="text" name="q" size="31" placeholder="Search" value="{{ page.q }}">
                <button type="submit"></button>
            </form>
            {% if page.apidata.items is not empty %}
                <div class="search-content">
                    <p class="count">About {{ page.apidata.totalResults }} results(<span>{{ page.apidata.searchInformation }} </span> seconds)</p>

                    {% for item in page.apidata.items %}
                        <div class="search_list">
                            <div class="search_links">
                                <a href="{{ item.link }}">
                                    <h5>{{ item.title }}</h5>
                                </a>
                            </div>
                            <div class="search_url">
                                <p>{{ item.link }}</p>
                            </div>
                            <div class="media">
                                {% if item.image is not empty %}
                                <div class="media-left">
                                    <a href="{{ item.link }}">
                                        <img src="{{ item.image }}" class="media-object"></a>
                                </div>
                                {% endif %}
                                <div class="media-body">
                                    <p>{{ item.snippet }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {{ _self.pagination(page.apidata.pagingCount, page.start, page.param, '/node/2090/?q=' ~ page.q) }}

                </div>
            {% elseif  page.apidata.spelling[0].correctedQuery is not empty %}
                <h3 class="not-found">No Data Found</h3>
                <h3 class="not-found">Did you mean <a href="/node/2090/?q={{ page.apidata.spelling[0].correctedQuery }}">{{ page.apidata.spelling[0].correctedQuery }}</a>? </h3>
            {% else %}
                <h3 class="not-found">No Data Found</h3>
            {% endif %}
        </div>
    </div>
</section>
{#{% if page.startnid is not empty %}#}
    {#<p style="margin-top:200px;">Page Param: {{ page.start }} <b>PP: {{ page.startnid }}</b></p>#}

    {#{% if page.apidata is not empty %}#}
        {#<p>totalResults: {{ page.apidata.totalResults }}</p>#}
        {#<p>searchInformation: {{ page.apidata.searchInformation }}</p>#}

        {#{% for item in page.apidata %}#}
            {#<p>{{ item.title }}</p>#}
        {#{% endfor %}#}
    {#{% else %}#}
        {#<h3>No Data Found</h3>#}
    {#{% endif %}#}

    {#{{ _self.pagination(20, page.start, 'http://rms.test/node/2084/') }}#}
{#{% else %}#}
    {#<p style="margin-top:200px;">Page Param: 1 <b>PP: {{ page.startnid }}</b></p>#}

    {#{{ _self.pagination(20, 1, 'http://rms.test/node/2084/') }}#}
{#{% endif %}#}


