{% include directory ~ '/templates/tbd/models-detail-set-3/banner-third-level.html.twig' %}
{% include directory ~ '/templates/tbd/models-detail-set-3/col-three-with-text.html.twig' %}
{% include directory ~ '/templates/tbd/models-detail-set-3/card-with-features.html.twig' %}
{% include directory ~ '/templates/tbd/models-detail-set-3/resource-with-card-slider.html.twig' %}
{% include directory ~ '/templates/tbd/models-detail-set-3/col-three-with-image.html.twig' %}
{% include directory ~ '/templates/tbd/models-detail-set-3/reference-carousel.html.twig' %}
{% include directory ~ '/templates/tbd/reference-carousel-with-img.html.twig' %}
{% include directory ~ '/templates/tbd/models-detail-set-3/news-slider.html.twig' %}
{% include directory ~ '/templates/tbd/cta.html.twig' %}