{% include directory ~ '/templates/tbd/event-response/banner-second-level.html.twig' %}
{% include directory ~ '/templates/tbd/event-response/event-response-grid.html.twig' %}
{% include directory ~ '/templates/tbd/cta.html.twig' %}