{% include directory ~ '/templates/tbd/data-landing/banner-second-level.html.twig' %}
{% include directory ~ '/templates/tbd/data-landing/col-three-with-text.html.twig' %}
{% include directory ~ '/templates/tbd/data-landing/insight-with-progress.html.twig' %}
{% include directory ~ '/templates/tbd/data-landing/col-four-with-slider.html.twig' %}
{% include directory ~ '/templates/tbd/data-landing/resource-with-card-slider.html.twig' %}
{% include directory ~ '/templates/tbd/data-landing/news-slider.html.twig' %}
{% include directory ~ '/templates/tbd/cta.html.twig' %}