{% include directory ~ '/templates/tbd/news-detail-alt/banner-third-level.html.twig' %}
{% include directory ~ '/templates/tbd/news-detail/research-reports-white-papers.html.twig' %}
{% include directory ~ '/templates/tbd/news-detail/infor-author.html.twig' %}
{% include directory ~ '/templates/tbd/news-detail/cta-news-detail.html.twig' %}