{% include directory ~ '/templates/tbd/model-detail/banner-second-level.html.twig' %}
{% include directory ~ '/templates/tbd/side-notification-btn.html' %}
{% include directory ~ '/templates/tbd/model-detail/sticky-nav.html.twig' %}
{% include directory ~ '/templates/tbd/model-detail/logo-grid-model-page.html.twig' %}
{% include directory ~ '/templates/tbd/model-detail/tabs-with-detail.html.twig' %}
{% include directory ~ '/templates/tbd/model-detail/col-image-with-text.html.twig' %}
{% include directory ~ '/templates/tbd/model-detail/image-slider.html.twig' %}
{% include directory ~ '/templates/tbd/model-detail/news-slider.html.twig' %}
{% include directory ~ '/templates/tbd/cta.html.twig' %}