{% include directory ~ '/templates/tbd/service-detail/banner-third-level.html.twig' %}
{% include directory ~ '/templates/tbd/service-detail/col-three-with-text.html.twig' %}
{% include directory ~ '/templates/tbd/service-detail/col-two-with-cards.html.twig' %}
{% include directory ~ '/templates/tbd/service-detail/image-with-slider.html.twig' %}

{% include directory ~ '/templates/tbd/service-detail/box-two-statistic-slider.html.twig' %}
{% include directory ~ '/templates/tbd/service-detail/news-slider.html.twig' %}
{% include directory ~ '/templates/tbd/cta.html.twig' %}