{% include directory ~ '/templates/tbd/risk-intelligence/banner-second-level.html.twig' %}
{% include directory ~ '/templates/tbd/risk-intelligence/image-with-texti.html.twig' %}
{% include directory ~ '/templates/tbd/risk-intelligence/informative-table.html.twig' %}
{% include directory ~ '/templates/tbd/risk-intelligence/col-four-with-slider.html.twig' %}
{% include directory ~ '/templates/tbd/risk-intelligence/image-with-slider.html.twig' %}
{% include directory ~ '/templates/tbd/cta.html.twig' %}