{% include directory ~ '/templates/tbd/news-detail/banner-third-level.html.twig' %}
{% include directory ~ '/templates/tbd/news-detail/research-reports-white-papers.html.twig' %}
{% include directory ~ '/templates/tbd/news-detail/infor-author.html.twig' %}
{#{% include directory ~ '/templates/tbd/models-detail-set-3/resource-with-card-slider.html.twig' %}#}
{#{% include directory ~ '/templates/tbd/models-detail-set-3/col-three-with-image.html.twig' %}#}
{#{% include directory ~ '/templates/tbd/models-detail-set-3/related-modules-models.html.twig' %}#}
{#{% include directory ~ '/templates/tbd/models-detail-set-3/news-slider.html.twig' %}#}
{% include directory ~ '/templates/tbd/news-detail/cta-news-detail.html.twig' %}