{% include directory ~ '/templates/tbd/News-page/banner-with-carousel.html.twig' %}
{% include directory ~ '/templates/tbd/News-page/filter-block-news.html.twig' %}
{% include directory ~ '/templates/tbd/News-page/news-grid.html.twig' %}
{% include directory ~ '/templates/tbd/Events/cta-news-detail.html.twig' %}