{% include directory ~ '/templates/tbd/careers/banner-404.html.twig' %}
{#{% include directory ~ '/templates/tbd/careers/new-banner.html.twig' %}#}
{#{% include directory ~ '/templates/tbd/careers/banner-second-level.html.twig' %}#}
{% include directory ~ '/templates/tbd/careers/image-with-text.html.twig' %}
{% include directory ~ '/templates/tbd/careers/news-slider.html.twig' %}
{% include directory ~ '/templates/tbd/careers/image-gallery.html.twig' %}
{% include directory ~ '/templates/tbd/careers/card-with-features.html.twig' %}
{% include directory ~ '/templates/tbd/careers/statistic-slider.html.twig' %}
{% include directory ~ '/templates/tbd/careers/location-map-box.html.twig' %}
{% include directory ~ '/templates/tbd/careers/cta.html.twig' %}