<section>
    <div class="container">
        <h2 class="title">List of All Pages:</h2>

        <ol class="design-list">
            <li><a class="learn-more" href="/node/1" target="_blank">Home page</a></li>
            <li><a class="learn-more" href="/node/2" target="_blank">Model</a></li>
            <li><a class="learn-more" href="/node/6" target="_blank">Service</a></li>
            <li><a class="learn-more" href="/node/7" target="_blank">Solutions</a></li>
            <li><a class="learn-more" href="/node/8" target="_blank">Data Detail</a></li>
            <li><a class="learn-more" href="/node/9" target="_blank">Solution-Detail</a></li>
            <li><a class="learn-more" href="/node/10" target="_blank">Service Detail</a></li>
            <li><a class="learn-more" href="/node/11" target="_blank">Risk Intelligence</a></li>
            <li><a class="learn-more" href="/node/12" target="_blank">Data Landing</a></li>
            <li><a class="learn-more" href="/node/13" target="_blank">Models Detail</a></li>
            <li><a class="learn-more" href="/node/14" target="_blank">News Detail</a></li>
            <li><a class="learn-more" href="/node/15" target="_blank">Leadership</a></li>
            <li><a class="learn-more" href="/node/16" target="_blank">News Detail Alt</a></li>
            <li><a class="learn-more" href="/node/17" target="_blank">blog Detail</a></li>
            <li><a class="learn-more" href="/node/18" target="_blank">Event Detail</a></li>
            <li><a class="learn-more" href="/node/19" target="_blank">About Us</a></li>
            <li><a class="learn-more" href="/node/20" target="_blank">Blog Landing</a></li>
            <li><a class="learn-more" href="/node/21" target="_blank">Events</a></li>
            <li><a class="learn-more" href="/node/22" target="_blank">News</a></li>
            <li><a class="learn-more" href="/node/23" target="_blank">Gated Resource</a></li>
            <li><a class="learn-more" href="/node/24" target="_blank">Blog list</a></li>
            <li><a class="learn-more" href="/node/26" target="_blank">Promotional</a></li>
            <li><a class="learn-more" href="/node/27" target="_blank">Career</a></li>
            <li><a class="learn-more" href="/node/28" target="_blank">Contact Us</a></li>
            <li><a class="learn-more" href="/node/1897" target="_blank">Event Response</a></li>
            <li><a class="learn-more" href="/node/1790" target="_blank">Style Guide</a></li>
        </ol>

    </div>
</section>