{% include directory ~ '/templates/tbd/blog-list/banner-third-level.html.twig' %}


{% include directory ~ '/templates/tbd/blog-list/blog-grid.html.twig' %}

{#{% include directory ~ '/templates/tbd/gated-resource/image-with-slider.html.twig' %}#}
{% include directory ~ '/templates/tbd/news-detail/cta-news-detail.html.twig' %}