{% include directory ~ '/templates/tbd/blog-detail/banner-third-level.html.twig' %}
{% include directory ~ '/templates/tbd/blog-detail/research-reports-white-papers-blog-detail-page.html.twig' %}
{% include directory ~ '/templates/tbd/blog-detail/detail-author.html.twig' %}
{% include directory ~ '/templates/tbd/blog-detail/cta-blog-detail.html.twig' %}