{% include directory ~ '/templates/tbd/Events/banner-with-carousel.html.twig' %}
{% include directory ~ '/templates/tbd/Events/filter-block.html.twig' %}
{% include directory ~ '/templates/tbd/Events/events-cards.html.twig' %}
{% include directory ~ '/templates/tbd/Events/cta-news-detail.html.twig' %}