{% set body = content.field_blurb|render|striptags %}
{% if content.field_title[0] is not empty %}
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 content-column">
    <h4>{{ content.field_title[0] }}</h4>
    <p>{{ body }}</p>
  </div>
{% endif %}
