{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="col-three-with-text {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    <div class="container wow fadeInUp" data-wow-delay="0.5s" >
        <div class="row three-col-wrap">
            {{ content.field_col_three_with_text_items }}
        </div>
    </div>
</section>