<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col-four-cards">
    {% if content.field_icon[0] is not empty %}
        <div class="icon-box">
            <img src="/themes/rms/templates/dist/images/svg/{{ content.field_icon[0] }}.svg" alt="{{ content.field_icon[0] }}">
        </div>
    {% endif %}
    <div class="text-box">
        {{ content.field_blurb[0] }}
    </div>
</div>