{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="inquiry-block {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    <div class="bg-img"></div>
    <div class="container">
        <div class="pattern-animation" data-wow-delay="0.5s" id="lottie5"></div>
        <div class="row col-wrap">
            {{ content.field_contact_information_items }}
        </div>
    </div>
</section>