<section class="banner-third-level banner-news-detail " >
    <div class="bg-img wow fadeIn"data-wow-delay="0.3s" >
        <img src="/themes/rms/templates/dist/images/banner-news-detail.png" alt="News detail banner">
    </div>
    <div class="v-middle-wrapper wow fadeIn"  data-wow-delay="0.4s">
        <div class="v-middle-inner container">
            <div class="v-middle">
                <div class="inner-text">
                    <h1>Lorem ipsum dolor sit amet, consetetur</h1>
                    <h5>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. </h5>

                </div>
            </div>
        </div>
    </div>
</section>
