<section class="research-reports-white-papers">
<div class="container">
  <div class="column-wrapper">
    <div class="col-two text-left-with-image">
      <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod dolore tempor incididunt ut labore et dolore magna aliqua.</h4>

      <p>Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam consetetur sadipscing elitr voluptua. </p>

      <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod dolore tempor incididunt ut labore et dolore magna aliqua.</h6>

      <p>Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua consetetur sadipscing elitr. </p>

      <div class="img-wrap">
        <img src="/themes/rms/templates/dist/images/working.png" alt="image">
      </div>
      <strong>Lorem ipsum dolore sit amet</strong>

      <h4>Lorem ipsum dolor sit amet</h4>

      <p>Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut Lorem ipsum dolor sit amet.</p>

    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
      sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
      sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
      no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
      sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    </p>
      <p>Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut Lorem ipsum dolor sit amet.</p>
    </div>


    <div class="col-two col-three-blog">
      <div class="icon-wrapper">
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5cc30e52a85862a9"></script>
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div class="addthis_inline_share_toolbox_bbes"></div>

      </div>
      <div class="card-with-blog">
        <h6>Related Resources</h6>

        <div class="card card-without-image">
          {#<div class="img-box item">#}
            {#<img src="/themes/rms/templates/dist/images/southern.png" alt="blog image">#}
          {#</div>#}
          <div class="content-btn item ">
            <span>November 01, 2019</span>
            <h6>Lorem ipsum dolor sit amet dolore consetetur sadipscing elitr</h6>
            <p>Lorem ipsum dolor sit amet consetetur amet…</p>
            <div class="button-box">
              <a href="#" class="learn-more" tabindex="0">Read More</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="img-box item">
            <img src="/themes/rms/templates/dist/images/prieta.png" alt="blog image">
          </div>
          <div class="content-btn item">
            <span>October 22, 2019</span>
            <h6>Loma Prieta earthquake cost $6B in 1989…</h6>
            <div class="button-box">
              <a href="#" class="learn-more" tabindex="0">Read More</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="img-box item">
            <img src="/themes/rms/templates/dist/images/meeting.png" alt="blog image">
          </div>
          <div class="content-btn item">
            <span>October 03, 2019</span>
            <h6>New RMS HWind Forecasting Solution Offers…</h6>
            <div class="button-box">
              <a href="#" class="learn-more" tabindex="0">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
