<section class="filter-block news-filter">
    <div class="container-box">
        <div class="container">
            <div class="content-wrapper">
                <div class="filter-wrap">
                    <div class="check-content">
                        <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value2" checked>
                        <label for="styled-checkbox-2">Press Releases (43)</label>
                    </div>
                    <div class="check-content">
                        <input type="checkbox" id="data-one">
                        <label for="data-one">In the News (32)</label>
                        <span class="arrow-icon"></span>
                    </div>
                    <div class="check-content">
                        <input type="checkbox" id="data-two">
                        <label for="data-two">Awards (24)</label>
                        <span class="arrow-icon"></span>
                    </div>
                    <div class="check-content">
                        <input type="checkbox" id="data-three">
                        <label for="data-three">Category 4 (12)</label>
                    </div>
                </div>
                <div class="reset-filter">
                    <p>Reset Filters</p>
                </div>
            </div>
        </div>
    </div>
    <div class="filter-bottom">
        <div class="container">
            <div class="filter-outer">
                <div class="text-wrap">
                    <p>Filter by:</p>
                </div>

                <div class="select-outer">
                    <div class="select-plugin">
                        <select class="Month">
                            <option value="Month">Month</option>
                        </select>
                    </div>

                    <div class="select-plugin">
                        <select class="Year">
                            <option value="Year">Year</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>