{% set overlay = content.field_no_overlay[0] %}
{% set has_image = content.field_image[0] ? '' : 'banner-with-out-image'  %}
{% set has_author_image = node.field_author.entity.field_image is not empty ? '' : 'no-author-img' %}
<section class="banner-third-level banner-blog-detail {{ has_image }} {{ overlay }}" >
    <div class="bg-img wow fadeIn" data-wow-delay="0.3">
        {% if content.field_image[0] is not empty %}
            {{ content.field_image[0] }}
        {% endif %}
    </div>
    <div class="v-middle-wrapper wow fadeIn" data-wow-delay="0.4s">
        <div class="v-middle-inner container">
            <div class="v-middle">
                <div class="inner-text">
                    <h1>{{ node.title.value }}</h1>
                    <h5>{{ content.field_subtitle[0] }}</h5>
                    <div class="auther-info {{ has_author_image }}">
                        {% if node.field_author.entity.field_image is not empty %}
                        <div class="auther">
                            <img src="{{ file_url(node.field_author.entity.field_image.0.entity.uri.0.value) }}" alt="{{ node.field_author.entity.field_image.0.alt }}">
                        </div>
                        {% endif %}
                        <div class="author-detail">
                            <span>{{ content.field_author[0]['#title'] }}</span>
                            <span>{{ node.created.value|date('F d, Y') }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
