<section class="research-reports-white-papers  blog-detal-page">
    <div class="container">
        <div class="column-wrapper">
            <div class="col-two text-left-with-image">
                {{ content.field_blurb }}
            </div>


            <div class="col-two col-three-blog">
                <div class="icon-wrapper">
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5cc30e52a85862a9"></script>
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <div class="addthis_inline_share_toolbox_bbes"></div>
                </div>

                {#<div class="subscribe-box">#}
                    {#<h6>Subscribe by Email</h6>#}

                    {#<div class="search-box">#}
                        {#<input type="text" placeholder="Email Address">#}
                        {#<button><img src="/themes/rms/templates/dist/images/svg/arrow-right-white-color.svg"#}
                                     {#alt="search">#}
                        {#</button>#}
                    {#</div>#}
                {#</div>#}

                <div class="card-with-blog">
                    <h6>You May Also Like</h6>
                    {% if content.field_reference_blog['#items']|length > 0 %}
                        {% for item in content.field_reference_blog['#items'] %}
                            {% set title, created = item.entity.title.value|e, item.entity.created.value|date("F d, Y") %}
                            {% if item.entity.field_detail_page_image.entity.uri.value  %}
                                {% set image_url, image_alt, image_exist =  file_url(item.entity.field_detail_page_image.entity.uri.value), item.entity.field_detail_page_image.alt, 1 %}
                            {% elseif item.entity.field_image.entity.uri.value %}
                                {% set image_url, image_alt, image_exist =  file_url(item.entity.field_image.entity.uri.value), item.entity.field_image.alt, 1 %}
                            {% else %}
                                {#{% set image_url, image_alt =  '/themes/rms/templates/assets/images/blog-generic.jpg', 'blog' %}#}
                                {% set image_exist, blurb = 0, item.entity.field_blurb.value|striptags  %}
                            {% endif %}

                            {% if image_exist == 1  %}
                                <div class="card">
                                    <div class="img-box item">
                                        <img src="{{ image_url }}" alt="{{ image_alt }}">
                                    </div>
                                    <div class="content-btn item">
                                        <span>{{ created }}</span>
                                        <h6>{% autoescape false %}
                                                {{ title  }}
                                            {% endautoescape %}…</h6>
                                        <div class="button-box">
                                            <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}" class="learn-more" tabindex="0">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="card card-without-image">
                                    {#<div class="img-box item">#}
                                    {#<img src="/themes/rms/templates/dist/images/southern.png" alt="blog image">#}
                                    {#</div>#}
                                    <div class="content-btn item ">
                                        <span>{{ created }}</span>
                                        <h6>{% autoescape false %}
                                                {{ title  }}
                                            {% endautoescape %}</h6>
                                        <p>{{ blurb }}</p>
                                        <div class="button-box">
                                            <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}" class="learn-more" tabindex="0">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}



                            {#
                            <div class="card">
                                <div class="img-box item">
                                    <img src="{{ image_url }}" alt="{{ image_alt }}">
                                </div>
                                <div class="content-btn item">
                                    <h6>
                                        {% autoescape false %}
                                            {{ title  }}
                                        {% endautoescape %}
                                    </h6>
                                    <strong>{{ created }}</strong>
                                    <div class="button-box">
                                        <a href="{{ path('entity.node.canonical', {'node': item.entity.id}) }}" class="learn-more" tabindex="0">Read More</a>

                                    </div>
                                </div>
                            </div>#}
                        {% endfor %}
                    {% else %}
                        {{ drupal_view('blog', 'block_1') }}
                    {% endif %}
                </div>


                {% if content.field_related_products[0] %}
                <div class="card-with-blog ">
                    <h6>Related Products</h6>

                    {% if node.field_related_products.entity.field_image.isempty  %}
                      {% set image_url, image_alt =  '/themes/rms/templates/assets/images/blog-generic.jpg', 'blog' %}
                    {% else %}
                      {% set image_url, image_alt =  file_url(node.field_related_products.entity.field_image.0.entity.uri.0.value), node.field_related_products.entity.field_image.0.alt %}
                    {% endif %}

                    <div class="card img-with-p">
                        <div class="img-box item">
                            <img src="{{ image_url }}" alt="{{ image_alt }}">
                        </div>
                        <div class="content-btn item">
                            <h6>{{ content.field_related_products[0]['#title'] }}</h6>
                            <p>{{ node.field_related_products.0.entity.field_blurb.0.value|striptags|truncate(50, true, '.') }}</p>
                            <div class="button-box">
                                <a href="{{ path('entity.node.canonical', {'node':  node.field_related_products.0.entity.id}) }}" class="learn-more" tabindex="0">Learn More</a>
                            </div>
                        </div>
                    </div>

                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
