<section class="detail-author">
    <div class="container">
        <div class="column-wrapper">
            <div class="col-two detail-summary">
                <div class="author-icon">
                    <img src="{{ file_url(node.field_author.entity.field_image.0.entity.uri.0.value) }}"
                         alt="{{ node.field_author.entity.field_image.0.alt }}">
                </div>

                <div class="text-content">
                    <h6>{{ content.field_author[0]['#title'] }}</h6>
                    <span>{{ node.field_author.entity.field_designation.value }}</span>
                    {{ content.field_author[0]["#options"].entity.description.0.value | raw }}
                </div>

            </div>
            <div class="col-two list-status">

                <ul class="text-right">
                    {% for item in node.field_tag %}
                      <li><a href="/blog/?tag={{ item.entity.id }}">#{{ item.entity.name.value }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
