{% if content.field_link[0] is not empty %}
    {% set anchor_class = content.field_class[0] ? content.field_class[0] : 'learn-more' %}
    <a href="{{ content.field_link[0]['#url'] }}" class="{{ anchor_class }}"><span>{{ content.field_link[0]['#title'] }}</span></a>
{% endif %}