<section class="year-slider">
  <div class="bg-cards"></div>
  {#<div class="bg-scroller"></div>#}
  <div class="container">
    <div class="slider-wrapper">
      <div class="content-box">
        <div class="content">
          <img src="/themes/rms/templates/dist/images/rds.png" alt="RDS">
          <h3>2020</h3>
          <h6>Risk Data Open Standard</h6>
          <p>RMS introduced the Risk Data Open Standard (RDOS), a modern data schema for the risk modeling community,
            for open-source development <strong>(April 12)</strong>.
          </p>
        </div>
      </div>

      <div class="content-box">
        <div class="content">
          <img src="/themes/rms/templates/dist/images/camp_fire.png" alt="Camp Fire">
          <h3>2019</h3>
          <h6>New Solution for New Needs</h6>
          <p>When the Camp and Woolsey Fires unleashed unprecedented destruction of life and property in California in
            2018, the impact of climate change was clear <strong>(September 20)</strong>.</p>
        </div>
      </div>

      <div class="content-box">
        <div class="content">
          <img src="/themes/rms/templates/dist/images/fire.png" alt="Fire">
          <h3>2019</h3>
          <h6>New Solution for New Needs</h6>
          <p>When the Camp and Woolsey Fires unleashed unprecedented destruction of life and property in California in
            2018, the impact of climate change was clear <strong>(September 20)</strong>.</p>
        </div>
      </div>

      <div class="content-box">
        <div class="content">
          <img src="/themes/rms/templates/dist/images/hurricane.png" alt="Hurricane">
          <h3>2017</h3>
          <h6>Hurricane, Flood, and Fire</h6>
          <p>During Hurricane Harvey, a category 4 storm that landed in Houston, the RMS Event Response team provided
            detailed flood estimate maps using our soon-to-be-released U.S. flood model <strong>(June 17)</strong>.</p>
        </div>
      </div>

      <div class="content-box">
        <div class="content">
          <img src="/themes/rms/templates/dist/images/rds.png" alt="RDS">
          <h3>2016</h3>
          <h6>Sed ut perspiciatis unde</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <strong>(Lorem
              ipsum)</strong>.
          </p>
        </div>
      </div>

      <div class="content-box">
        <div class="content">
          <img src="/themes/rms/templates/dist/images/rds.png" alt="RDS">
          <h3>2016</h3>
          <h6>Sed ut perspiciatis unde</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <strong>(Lorem
              ipsum)</strong>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

