<section class="slider-with-dates animation-five">
  <div class="bg-img ">
  </div>
  <div class="container">
    <div class="pattern-animation wow fadeIn" id="lottie5" data-wow-delay="0.6s"></div>

    <div class="left-slider-block  wow fadeInUp" data-wow-delay="0.5s">
      {% for item in content.field_timeline['#items'] %}
        <div class="items">
          <div class="col-two media-block">
            <div class="img-wrapper">
              <img src="{{ file_url(item.getFieldCollectionItem().field_image.0.entity.uri.0.value) }}"
                   alt="{{ item.getFieldCollectionItem().field_image.0.alt }}">
            </div>
          </div>
          <div class="col-two content-block green-border align-left">
            <h6>{{ item.getFieldCollectionItem().field_date.value|date("Y") }}</h6>
            <h2>{{ item.getFieldCollectionItem().field_title.value|e }}</h2>
            <div class="text-block">
              {{ item.getFieldCollectionItem().field_blurb.value|raw }}
            </div>
          </div>
        </div>

      {% endfor %}
    </div>

    <div class="right-slider-block wow fadeInUp" data-wow-delay="0.6s">
      <div class="years-block">

        {% for item in content.field_timeline['#items'] %}
          <span class="item-year"><h2>{{ item.getFieldCollectionItem().field_date.value|date("Y") }}</h2></span>
        {% endfor %}
      </div>

      <div class="button-wrap">
        <span class="pre-btn"></span>
        <span class="square-box"></span>
        <span class="next-btn"></span>
      </div>
    </div>


  </div>
</section>
