{% for item in content.field_products_reference['#items'] %}
    {% set label, blurb = item.entity.field_title.value, item.entity.field_blurb.value %}
    {% if item.content['#node'].field_image.isempty %}
        {% set image_url, image_alt = '/themes/rms/templates/assets/images/report-image.jpg', 'Default' %}
    {% else %}
        {% set image_url, image_alt = item.entity.field_image.entity.uri.value, item.entity.field_image.entity.alt %}
    {% endif %}
    <div class="col-lg-4 col-md-6 content-box wow fadeInUp" data-wow-delay="0.4s">
        <div class="bg-img">

            <img src="{{ file_url(image_url) }}" alt="{{ image_alt }}">
        </div>
        <div class="blue-overlay wow fadeInUp" data-wow-delay="0.4s">
            <div class="icon">
                <img src="/themes/rms/templates/dist/images/risk-modeler-icon.svg" alt="Icon">
            </div>
            <h3>{{ label }}</h3>
            <p>{{ blurb|striptags|length > 176 ? blurb|striptags|slice(0, 176) ~ '...' : blurb|striptags }}</p>
            <div class="button-box ">
                <a href="{{ path('entity.node.canonical', {'node': item.content['#node'].id}) }}" class="learn-more ">Learn More</a>
            </div>
        </div>
    </div>
{% endfor %}
