{% set body = content.field_blurb|render|striptags %}
{% set btn_text = '/' in content.field_link[0]['#title'] ? 'Learn More' : content.field_link[0]['#title'] %}
<div class="items">
    <div class="col-two image-box wow fadeInUp" data-wow-delay="0.4s">
        {% if content.field_image[0] is not empty %}
            <div class="img-wrapper">
                <div class="top-border "></div>
                {{ content.field_image[0] }}
            </div>
        {% endif %}
    </div>
    <div class="col-two green-border align-left text-wrapper wow fadeInUp" data-wow-delay="0.4s">
        <h2 class="">{{ content.field_title[0] }}</h2>
        <p>{{ body }}</p>
        <div class="button-box">
            <a href="{{ content.field_link[0]['#url'] }}" class="learn-more">{{ btn_text }}</a>
        </div>
    </div>
</div>