<section class="image-with-text-slider animation-three sol-detail-slider">
    <div class="container">
        <div class="award-top-carousel">
            <div class="pattern-animation" id="lottie3">
            </div>
            <div class="slider-outer">
                <div class="slider-outer">
                    {{ content.field_image_with_text_slider }}
                </div>
            </div>


            <div class="button-wrap">
                <span class="pre-btn"></span>
                <div class="dots-outer">
                </div>
                <span class="next-btn"></span>
            </div>
        </div>
    </div>
</section>