{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="tabs-with-detail  {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    <div class="container">
        <div class="column-wrapper list-column-wrapper">
            <button class="open">
                {% for item in content.field_tabs_with_detail_items['#items'] %}
                    {% if loop.index == 1 %}
                        <span>{{ item.getFieldCollectionItem().field_title.value|e }}</span>
                    {% endif %}
                {% endfor %}
            </button>

            <div class="scroll-wrap">
                <ul class="tabs">
                    {% for item in content.field_tabs_with_detail_items['#items'] %}
                        <li class="tab-link {{ loop.index == 1 ? 'current' : '' }}"
                            data-tab="tab-{{ loop.index }}">{{ item.getFieldCollectionItem().field_title.value|e }}</li>
                    {% endfor %}
                </ul>
            </div>

            {% for item in content.field_tabs_with_detail_items['#items'] %}
                <div class="text-with-image tab-content {{ loop.index == 1 ? 'current' : '' }}"
                     id="tab-{{ loop.index }}">
                    <div class="col-two text-content">
                        <h4>{{ item.getFieldCollectionItem().field_title.value|e }}</h4>
                        {{ item.getFieldCollectionItem().field_blurb.value|raw }}
                        <div class="button-box">
                            <a href="{{ item.getFieldCollectionItem().field_link.0.url }}"
                               class="learn-more">{{ item.getFieldCollectionItem().field_link.0.title }}</a>
                        </div>
                    </div>
                    <div class="col-two bg-img">
                        {% if item.getFieldCollectionItem().field_image is not empty %}
                            <div class="img-wrapper">
                                <div class="top-border wow fadeInLeft" data-wow-delay="0.4s"></div>
                                <img src="{{ file_url(item.getFieldCollectionItem().field_image.0.entity.uri.0.value) }}"
                                     alt="nasa image">
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
