{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="reference-carousel model-slide wow fadeInUp {{ class|join(' ') }}" data-wow-delay="0.4s" id="{{ content.field_section_id[0] }}">
    <div class="container">
        <div class="col-wrapper">
            {{ content.field_resource_carousel }}
        </div>
        <div class="button-wrap">
            <span class="pre-btn"></span>
            <div class="dots-outer">
            </div>
            <span class="next-btn"></span>

        </div>
    </div>
</section>