{% set image = content.field_image[0] %}
{% set text = node.title.value %}
{% if content.field_external_redirect[0] is not empty %}
  {% set url = content.field_external_redirect[0] %}
{% endif %}
<div class="items">
    <div class="row-wrap">
        {% if content.field_image_two[0] %}
            <div class="col-box media-block">
                {{ content.field_image_two[0] }}
            </div>
        {% elseif image is not empty %}
            <div class="col-box media-block">
                {{ image }}
            </div>
        {% elseif image is empty %}
            <div class="col-box media-block">
                <img src="/themes/rms/templates/dist/images/news-generic.jpg" alt="Default Image">
            </div>
        {% endif %}
        <div class="col-box content-block">
            <div class="resource-block">
                <div class="icon-box">
                    <img src="/themes/rms/templates/dist/images/news-resource-icon.svg"
                         alt="icon">
                </div>
                <span>News</span>
            </div>
            <div class="date-block">
                <p>{{ node.createdtime|date('F d, Y') }}</p>
            </div>
            <h5>{{ text|truncate(66, true, '...') }}</h5>
            <div class="button-block">
                <a href="{{ url }}" class="learn-more">Read More</a>
            </div>
        </div>
    </div>
</div>
