{% set form_id = content.field_form_id[0] %}
<section class="two-col-with-form">
  <div class="container">
    <div class="column-wrapper">
      <div class="col-two content-with-heading">
          {{ content.field_blurb[0] }}
        <div class="media-wrap">
            {#<a class="video-play" data-video="https://www.youtube.com/embed/sxkCuWXKkE4" tabindex="0"></a>#}
            {{ content.field_image[0] }}
        </div>
      </div>

      <div class="col-two form-box">

        <div class="column-wrap wow fadeInUp" data-wow-delay="1.2s">
          <div class="title">
            <h2>{{ content.field_title[0] }}</h2>
            <p>{{ content.field_subtitle[0] }}
            </p>
          </div>
            {% if form_id is not empty %}
              <form id="mktoForm_{{ form_id }}" data-form-id="{{ form_id }}"></form>
            {% else %}
              <form id="mktoForm_1624" data-form-id="1624"></form>
            {% endif %}
          {#<script src="//app-sj10.marketo.com/js/forms2/js/forms2.min.js"></script>#}

        </div>
      </div>
    </div>
  </div>
  <input type="hidden" id="thank-you-message" value="{{ content.field_thankyou_message[0] }}">
</section>



{#<section class="two-col-with-form">#}
  {#<div class="container">#}
    {#<div class="column-wrapper">#}
      {#<div class="col-two content-with-heading">#}
        {#<p>RMS COVID-19 Pandemic Projections help to manage critical business decision-making. The tool is based on industry-leading RMS#}
          {#expertise in pandemic and infectious disease modeling and projects the future impact from Coronavirus#}
          {#in key geographic regions. </p>#}

        {#<p>COVID-19 projections are delivered as a dashboard atop underlying data, to facilitate a wide variety of applications.#}
          {#A subscription to the forecast includes weekly updates to all projection values.</p>#}
        {#<div class="media-wrap">#}
          {#<a class="video-play" data-video="https://www.youtube.com/embed/sxkCuWXKkE4" tabindex="0"></a>#}
          {#<img src="/themes/rms/templates/dist/images/laptop.png" alt="Laptop">#}
        {#</div>#}
      {#</div>#}

      {#<div class="col-two form-box">#}

        {#<div class="column-wrap wow fadeInUp" data-wow-delay="1.2s">#}
          {#<div class="title">#}
            {#<h2>Talk to an Expert</h2>#}
            {#<p>Enter your preferred date and time and we will#}
              {#send you a best match meeting invite.#}
            {#</p>#}
          {#</div>#}
          {#<script src="//app-sj10.marketo.com/js/forms2/js/forms2.min.js"></script>#}

          {#<form id="mktoForm_1624" data-form-id="1624"></form>#}

          {#<script>MktoForms2.loadForm("//app-sj10.marketo.com", "729-DJX-565", 1624);</script>#}
        {#</div>#}
      {#</div>#}
    {#</div>#}
  {#</div>#}
  {#<input type="hidden" id="thank-you-message" value="Thank You. You will be contacted by an RMS specialist shortly.">#}
{#</section>#}


