{% set body = content.field_blurb|render|striptags %}
<section class="banner-third-level bg-gradient " >
    {% if content.field_image[0] is not empty %}
    <div class="bg-img wow fadeIn" data-wow-delay="0.3s">
        {{ content.field_image[0] }}
    </div>
    {% endif %}
    <div class="v-middle-wrapper wow fadeIn" data-wow-delay="0.4s">
        <div class="v-middle-inner container">
            <div class="v-middle">
                <div class="inner-text">
                    <h1>{{ node.title.value }}</h1>
                    <h5>{{ body }}</h5>
                    <div class="button-box">
                        {{ content.field_related_cta }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
