.sticky-nav{
  padding: 0;
  //margin-bottom: 47px;
  min-height: 80px;
  box-shadow: 0 5px 15px 0 rgba(168, 168, 168, 0.02);
  background-color: $white;
  border-bottom: 1px solid $hex-gray;
  transition: all 0.5s ease-in-out;
  @include tablet-down{
    //margin-bottom: 25px;
    min-height:80px;
  }
  .column-wrapper{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;

    .by-category {
      display: flex;
      align-items: center;
      position: relative;
      padding: 21px 10px 23px 10px;
      margin: 0 38px 0 22px;
      @include desktop{
        margin: 0 20px;
      }
      @include tablet{
        margin: 0 15px;
      }
      @include tablet-down{
        margin: 0 10px;
        padding: 25px 0;
      }
      @include phablet-down{
        padding: 10px 0;
        margin: 0 8px;
        display: block;
        min-width: 88px;
      }
      > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        &:before{
          display: none;
        }
      }
      &:after{
        content: "";
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: 0px;
        background-image: linear-gradient(489deg, rgb(0, 183, 198) 0%, rgb(0, 134, 161) 100%);
        background-image: -webkit-linear-gradient(489deg, rgb(0, 183, 198) 0%, rgb(0, 134, 161) 100%);
        width: 0;
        height: 3px;
        transition:all 0.6s ease-in-out;
      }
      .icon-svg{
          width: 35px;
          height: 35px;
          @include tablet-down{
            width: 28px;
            height: 28px;
          }
          @include phablet-down{
            width: 100%;
            height: 22px;
            max-width:22px ;
            margin: 0 auto;
          }
          svg{
            width: 100%;
            height: 100%;
            .st0{
              fill:#B2B2B2;
            }
          }
      }
      p{
        font-family: $font-families-nunito;
        letter-spacing: 0.16px;
        font-weight: 600;
        padding-left: 11px;
        @include tablet-down{
          padding-left: 10px;
        }
        @include phablet-down{
          padding-left: 0;
          padding-top: 10px;
        }
      }
      &:hover{
        &:after {
          left: 0;
          right: 0;
          bottom: 0px;
          width: 100%;
          @include desktop{
            width: 0;
            left: 50%;
            right: 50%;
          }
          @include tablet{
            width: 0;
            left: 50%;
            right: 50%;
          }
        }
      }
      &.active{
        .icon-svg{
          svg{
            .st0{
              fill:#1aa6b8 !important;
            }
          }
        }
        &:after {
          left: 0;
          right: 0;
          bottom: 0px;
          width: 100%;
        }
      }
    }

  }

  &.change{
        position: fixed;
        top: 77px;
        //width: 100%;
        z-index:12;
        border-top: 1px solid $hex-gray;
        @include large_desktop {
          top: 68px;
        }
    @include phablet-down {
      position: relative;
      top: auto;
      width: 100%;
      border-top: 0;
    }

  }
  //&.fixed-subscribe {
  //      position: fixed;
  //      top: 16%;
  //      width: 24%;
  //      @include phablet-down {
  //        position: relative;
  //        top: auto;
  //        width: inherit;
  //      }
  //
  //  &.remove-subscribe {
  //        position: fixed;
  //        bottom: auto;
  //        @include phablet-down{
  //          position: relative;
  //        }
  //  }
  //}
  //&.remove-subscribe {
  //      position: absolute;
  //      bottom: 0;
  //      @include container-up {
  //        bottom: -28px;
  //      }
  //      @include desktop-down {
  //        position: relative;
  //      }
  //}
}


.solution-category{
  .column-wrapper{
    .by-category{
      p{
        font-weight: 600;
      }
      @include container-up{
        margin: 0px 38px 0 38px;
        padding: 22px 10px 23px 10px;
        text-align: center;
        min-width: 150px;
        justify-content: center;
      }
      &:nth-child(2n+1){
        @include container-up{
          margin: 0px 44px 0 39px;
        }

      }
    }
  }
}

.long-nav{
  min-height: auto;
  .column-wrapper .by-category{
    margin:0px 10px 0px 10px;
    p{
      padding-left: 0px;
    }
    @include desktop{
      margin: 0px 69px;
    }
    @include tablet{
      margin: 0px 24px;
    }
    @include tablet-down{
      margin: 0px 43px;
    }
    @media only screen and (max-width: 400px) {
      margin:0px 33px;
    }

  }
}