.banner-third-level {
  padding: 0;
  min-height: 420px;
  position: relative;
  opacity: 1;
  @include tablet-down {
    min-height: auto;
  }
  @include phablet-down {

  }
  .place-location {
    position: absolute;
    bottom: 14px;
    right: 1%;
    min-width: 164px;
    cursor: pointer;
    z-index: 9;
    span {
      display: block;
      font-family: $font-families-gotham;
      padding: 5px 42px 5px 0;
      text-align: end;
      p {
        font-size: 11px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        color: $white;
        position: relative;
        opacity: 0;
        visibility: hidden;
      }
      @include phablet-down {
        font-size: 10px;
        padding: 5px 30px 5px 0;
      }
      &:after {
        content: "";
        position: absolute;
        background-image: url("/themes/rms/templates/dist/images/svg/Mask.svg");
        width: 18px;
        height: 18px;
        right: 5px;
        top: 0;
        bottom: 0;
        margin: auto;
        background-size: 100%;
        @include phablet-down {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
  h2{
    color: $white;
    font-family: $font-families-InterB;
  }
  h1 {
    color: $white;
    font-family: $font-families-InterB;
    //text-transform: capitalize;
    text-align: left;
    span{
      font-family:$font-inter-regular;
    }
    @include tablet-down {
      text-align: center;
    }
    @include phablet-down {
      font-size: 30px;
    }
  }
  h5 {
    color: $white;
    margin: 21px 0 0;
    font-family: $font-families-nunito;
    @include tablet-down {
      font-size: 18px;
      margin: 18px 0 0;
      text-align: center;
    }
    @include phablet-down {
      font-size: 16px;
    }
  }
  .bg-img {
    height: 420px;
    min-height: 420px;
    top: 0;
    width: 100%;
    @include tablet-down {
      height: 400px;
      min-height: 380px;
    }
    img {
      font-family: "object-fit: cover;";
    }
  }
  .inner-text {
    max-width: 565px;
    text-align: left;
    margin-left: 36px;
    margin-top: 71px;
    padding-right: 0;
    @include container-down {
      margin-left: 20px;
      margin-top: 40px;
    }
    @include desktop-down {
      margin-left: 0;
    }
    @include tablet-down {
      margin: 35px auto 0;
      text-align: center;
      max-width: 100%;
    }
    @include phablet-down {
      margin: 0 auto;
      padding-top: 50px;
    }
    .button-box {
      margin-top: 43px;
      @include container-down {
        margin-top: 30px;
      }
      @include tablet-down {
        margin-top: 22px;
      }
    }
  }

  &.bg-gradient {
    .bg-img {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        opacity: 0.65;
        background-image: linear-gradient(271deg, rgba(3, 2, 2, 0.52) 100%, rgba(3, 2, 2, 0.85) 28%, rgb(0, 0, 0) 0%);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  &.no-gradient {
    .bg-img {
      &:after {
        display: none;
      }
    }
  }
}

.banner-service-detail {
  .inner-text {
    @include desktop-up {
      max-width: 750px;
    }

    h5 {
      @include desktop-up {
        max-width: 530px;
      }

    }

  }
}

.banner-news-detail {
  .inner-text {
    @include desktop-up {
      max-width: 750px;
      margin-top: 60px;
    }
    h1 {
      font-size: 45px;
      @include desktop {
        font-size: 40px;
      }
      @include tablet-down {
        font-size: 34px;
      }
      @include phablet-down {
        font-size: 24px;
      }
      @include tablet-down {
        text-align: left !important;
      }
    }
    h5 {
      text-align: left;
      @include container-up {
        margin: 24px 0 0;
      }
    }
  }
}

.banner-with-out-image {
  .bg-img {
    &:after {
      background-image: linear-gradient(90deg, #006590 0%, #0086a1 100%) !important;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 1 !important;
      top: 0;
      left: 0;
      z-index: -1;
    }
    &:before {
      background-image: url("/themes/rms/templates/dist/images/color-header.png");
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      opacity: 0.80;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0% 100%;
    }

    img {
      height: 420px;
    }
  }
  .inner-text {
    @include container-up {
      max-width: 794px;
    }
  }
}

.banner-blog-detail {
  &:after {
    display: none;
  }
  .bg-img {
    height: 420px;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      opacity: 0.55;
      background: linear-gradient(271deg, rgba(0, 0, 0, 0.4514180672268907) 51%, rgba(0, 0, 0, 0.48783263305322133) 63%, rgba(0, 0, 0, 0.67718837535014) 64%);
    }
  }
  .inner-text {
    @include desktop-up {
      max-width: 975px;
      margin-top: 60px;
    }
    @include tablet {
      max-width: 100%;
    }
    h1 {
      font-size: 45px;
      @include desktop {
        font-size: 40px;
      }
      @include tablet-down {
        font-size: 34px;
      }
      @include phablet-down {
        font-size: 24px;
      }
      @include tablet-down {
        text-align: left !important;
      }
    }
    h5 {
      @include desktop-up {
        max-width: 565px;
        margin: 18px 0 0;
      }
      @include tablet-down {
        text-align: left;
      }
      @include phablet-down {
        margin: 12px 0 0;
      }
    }
    .auther-info {
      &.no-author-img{
        .author-detail{
          padding-left:0;
        }
      }
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      @include desktop-up {
        padding-top: 27px;
      }
      @include tablet-down {
        margin-top: 10px;
        justify-content: left;
      }
      .auther {
        width: 30px;
        height: 30px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .author-detail {
        padding-left: 8px;
        width:calc(100% - 31px);
        text-align: left;
        span {
          font-size: 14px;
          font-weight: 500;
          line-height: 1.57;
          letter-spacing: 0.28px;
          color: $white;
          font-family: $font-families-gotham;
          position: relative;
          display: inline-block;
          padding: 0 13px;
          @include  tablet-down {
            display: block;
            padding: 0;
          }
          &:after {
            content: "";
            position: absolute;
            width: 1px;
            height: 80%;
            top: 2px;
            left: -2px;
            background-color: $white;
            @include tablet-down {
              display: none;
            }
          }
          &:first-child {
            padding-left: 0;
            &:after {
              display: none;
            }
          }
        }

      }
    }
  }
}

.banner-event-detail {

  .inner-text {
    @include desktop-up {
      max-width: 730px;
      margin-top: 65px;
    }
    @include tablet-down {
      text-align: left;
    }
    h1 {
      @include tablet-down {
        text-align: left;
      }

    }
    h5 {
    }
    .button-box {
      @include container-up {
        margin-top: 33px;
      }

    }
  }
}

.banner-blog-list {
  .inner-text {
    @include desktop-up {
      margin-top: 45px;
    }
    h1 {
      @include tablet-down {
        text-align: center !important;
      }
    }
  }
}

.banner-promotional-page {
  .inner-text {
    @include desktop-up {
      max-width: 1000px !important;
      margin-top: 65px !important;
    }
    h5 {
      font-family: $font-families-Inter;
      font-weight: 500;
      @include container-up {
        margin: 28px 0 0;
      }
      @include desktop-up {
        max-width: 525px !important;
      }
      @include tablet-down {
        text-align: center;
      }
    }
    .button-box {
      @include container-up {
        margin-top: 48px;
        padding: 0;
      }
    }
  }
}