.banner-fourth {
  padding: 0;
  height: 420px;
  position: relative;
  @include tablet-down {
    height: 400px;
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    opacity: 0.30;
    background-image: linear-gradient(to right, #000000 -1%, rgba(0, 0, 0, 0) 100%);
  }
  .location-box {
    position: relative;
    bottom: 38px;
    right: 1%;
    min-width: 164px;
    padding: 0;
    z-index: 10;
    .place-location {
      cursor: pointer;
      float: right;
      span {
        display: block;
        padding: 5px 42px 5px 0;
        text-align: end;
        p {
          font-family: $font-families-gotham;
          font-size: 11px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.36;
          letter-spacing: normal;
          color: $white;
          position: relative;
          opacity: 0;
          visibility: hidden;
        }
        @include phablet-down {
          font-size: 10px;
          padding: 5px 30px 5px 0;
        }
        &:after {
          content: "";
          position: absolute;
          background-image: url("/themes/rms/templates/dist/images/svg/Mask.svg");
          width: 18px;
          height: 18px;
          right: 5px;
          top: 0;
          bottom: 0;
          margin: auto;
          background-size: 100%;
          @include phablet-down {
            width: 14px;
            height: 14px;
          }
        }
      }
    }
  }

  h1 {
    color: $white;
    letter-spacing: 0.56px;
    font-family: $font-families-InterB;
    @include tablet-down {
      text-align: center;
    }
  }
  h5 {
    color: $white;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: normal;
    margin: 21px 0 0;
    @include tablet-down {
      font-size: 18px;
      margin: 18px 0 0;
      text-align: center;
    }
    @include phablet-down {
      font-size: 16px;
    }
  }
  .bg-img {
    height: 100%;
  }
  .inner-text {
    max-width: 100%;
    text-align: left;
    margin-left: 36px;
    margin-top: 33px;
    max-width: 565px;
    @include container-down {
      margin-left: 20px;
      margin-top: 40px;
    }
    @include tablet-down {
      margin: 35px auto 0;
      text-align: center;
      max-width: 100%;
    }
    .button-box {
      padding-top: 49px;
      @include container-down {
        padding-top: 30px;
      }
      @include tablet-down {
        padding-top: 22px;
      }
    }
  }

}
