.banner-with-carousel {
  padding: 0;
  min-height: 501px;
  position: relative;
  @include phablet-down {
    min-height: 661px;
  }

  .place-location {
    position: absolute;
    bottom: 14px;
    right: 1%;
    min-width: 25px;
    margin: 0 auto;
    cursor: pointer;
    z-index: 9;
    overflow: hidden;
    span {
      display: block;
      padding: 0;
      text-align: end;
      width: 21px;
      height: 21px;
      margin: 0 auto;
      p {
        font-family: $font-families-gotham;
        font-size: 11px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        color: $white;
        position: relative;
        opacity: 0;
        visibility: hidden;
      }
      @include phablet-down {
        font-size: 10px;
      }
      &:after {
        content: "";
        position: absolute;
        background-image: url("/themes/rms/templates/dist/images/svg/Mask.svg");
        width: 18px;
        height: 18px;
        right: 5px;
        top: 0;
        bottom: 0;
        margin: auto;
        background-size: 100%;
        @include phablet-down {
          width: 14px;
          height: 14px;
        }
      }
    }
  }

  h1 {
    color: $white;
    letter-spacing: 0.56px;
    @include tablet-down {
      text-align: center;
    }
    @include phablet-down {
      font-size: 30px;
      letter-spacing: -0.44px;
    }
  }
  h5 {
    color: $white;
    font-weight: bold;
    letter-spacing: normal;
    margin: 26px 0 0;
    @include tablet-down {
      margin: 18px 0 0;
      text-align: center;
    }
    @include phablet-down {
      margin: 12px 0 0;
      -webkit-line-clamp: 5;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: auto;

    }
  }
  .bg-img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 502px;
    @include tablet-down {
      height: 100%;
    }
    //&:after {
    //  content: "";
    //  position: absolute;
    //  width: 100%;
    //  height: 100%;
    //  top: 0;
    //  left: 0;
    //  bottom: 0;
    //  right: 0;
    //  margin: auto;
    //  opacity: 0.30;
    //  background-image: linear-gradient(to right, #000000 -1%, rgba(0, 0, 0, 0) 100%);
    //}
    //&:before {
    //  content: "";
    //  position: absolute;
    //  bottom: 0;
    //  right: 0;
    //  width: 817px;
    //  height: 131px;
    //  opacity: 0.8;
    //  -webkit-filter: blur(4px);
    //  filter: blur(4px);
    //  background-image: linear-gradient(170deg, rgba(9, 62, 91, 0) 32%, rgb(4, 23, 19) 89%);
    //}
  }

  .row-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    .inner-content {
      text-align: left;
      padding-left: 35px;
      margin-top: 44px;
      @include desktop-up {
        padding-right: 88px;
        margin-top: 44px;
        width: 49.4%;
      }
      @include container-down {
        padding-left: 20px;
        padding-right: 10px;
        margin-top: 40px;
      }
      @include tablet-down {
        margin: 35px auto 0;
        text-align: center;
        max-width: 100%;
      }
      @include phablet {
        margin: 50px auto 0;
      }
      @include phablet-down {
        margin: 35px auto 20px;
      }
      .button-box {
        padding-top: 49px;
        @include container-down {
          padding-top: 30px;
        }
        @include tablet-down {
          padding-top: 22px;
        }
      }
    }
    .right-block {
      @include container-up {
        position: relative;
        top: 27px;
      }
      @include desktop-up {
        width: 50.6%;
      }
      &.no-border {
        .slider-outer-block {
          &:after {
            display: none;
          }
        }
      }
      .slider-outer-block {
        padding: 20px 44px 22px 21px;
        box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.4);
        background-color: $white;
        position: relative;
        opacity: 0;
        @include tablet {
          padding: 25px 44px 22px 21px;
          margin-top: 14px;
        }
        @include phablet {
          margin-top: 30px;
          padding: 16px 44px 16px 21px;
        }
        @include phablet-down {
          padding: 20px 37px;
        }
        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 7.2%;
          height: 100%;
          width: 1px;
          background: $primary5;
          @include desktop-mid {
            right: 8.2%;
          }
          @include tablet {
            right: 11.2%;
          }
          @include phablet-down {
            display: none;
          }
        }
        .items {
          outline: none;
          .row-wrap {
            display: block;
            align-items: baseline;
            font-size: 0;
            .media-block {
              width: 209px;
              height: 196px;
              margin-top: 2px;
              display: inline-block;
              vertical-align: middle;
              @include tablet {
                width: 100%;
                height: 106px;
                max-width: 119px;
                margin: 0;
                display: block;
              }
              @include phablet {
                width: 169px;
                height: 136px;
              }
              @include phablet-down {
                width: 100%;
                max-width: 89px;
                height: 76px;
                margin: 0 auto;
                display: block;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                font-family: "object-fit: cover;";
              }
            }
            .content-block {
              padding-left: 23px;
              display: inline-block;
              vertical-align: middle;
              width: calc(100% - 209px);
              @include container-up {
                height: 196px;
              }
              @include desktop{
                padding-left: 18px;
              }

              @include tablet {
                padding-left: 0;
                display: block;
                vertical-align: middle;
                width: 100%;
              }
              @include phablet {
                width: calc(100% - 169px);
              }
              @include phablet-down {
                display: block;
                width: 100%;
                padding-left: 0;
              }
              h5{
                font-family:$font-families-Inter;
                color: #000000;
                font-weight: bold;
                text-align: left;
                letter-spacing: 0.05em;
                -webkit-line-clamp: 3;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                //height: 89px;
                margin:0;
                @include desktop{
                  height: 84px;
                }
                @include tablet {
                  font-size: 18px;
                }
                @include phablet-down {
                  text-align: center;
                  height: 51px;
                }
                @include phone-down {
                  font-size: 14px;
                }
              }
              .date-block {
                //margin: 16px 0 9px;
                margin: 16px 0 3px;
                @include phablet-down{
                  text-align: center;
                }

                p {
                  font-family: $font-families-gotham;
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 1.57;
                  letter-spacing: 0.37px;
                  text-align: left;
                  color: $silver-gray;
                  display: inline-block;
                  @include desktop{
                     font-size: 12px;
                   }
                  @include desktop-down{
                    font-size: 12px;
                  }
                  @include phablet-down {
                    text-align: center;
                  }

                }
              }
              .resource-block {
                display: flex;
                align-items: center;
                margin: 0 0 14px 0;
                position: relative;
                top: 9px;
                @include phablet-down {
                  justify-content: center;
                  max-width: 146px;
                  margin: 0 auto;
                }
                .icon-box {
                  width: 32.5px;
                  height: 32.5px;
                  @include tablet {
                    width: 25.5px;
                    height: 25.5px;
                  }
                  svg {
                    height: 100%;
                    width: 100%;
                  }
                }
                span {
                  font-size: 12px;
                  font-family: $font-families-gotham;
                  font-weight: 500;
                  line-height: 1.67;
                  letter-spacing: 0.36px;
                  text-align: left;
                  color: $light-green;
                  padding-left: 5px;
                }
              }
            }
          }
          .button-block {
            @include container-down {
              margin-top: 20px;
            }
            @include container-up {
              text-align: left;
              position: absolute;
              //bottom: -2.3%;
              bottom: 0;
            }
            @include tablet {
              margin-top: 10px;
              .learn-more {
                font-size: 14px;
              }
            }
            @include phablet {
              margin-top: 10px;
            }
            @include phablet-down {
              text-align: center;
              margin-top: 10px;
            }
            @include phone-down {
              .learn-more {
                font-size: 14px;
              }
            }
          }
        }
        .slick-arrow {
          text-indent: -99999px;
          position: absolute;
          top: 9px;
          height: 13px;
          width: 29px;
          outline: none;
          cursor: pointer;
          &.slick-prev {
            background: url('/themes/rms/templates/dist/images/arrow-right-small.svg') no-repeat;
            background-size: 25px;
            top: 53.5%;
            right: 10px;
            transform: rotate(180deg);
            z-index: 1;
            @include phablet-down {
              background-size: 20px;
              left: 3px;
            }
          }

          &.slick-next {
            background: url('/themes/rms/templates/dist/images/arrow-right-small.svg') no-repeat;
            background-size: 25px;
            right: 7px;
            left: auto;
            top: 44%;
            transform: translateY(-50%);
            z-index: 1;
            @include phablet-down {
              background-size: 20px;
              right: 3px;
              top: 57%;
            }
          }
          &.slick-disabled {
            opacity: 0.2;
            cursor: auto;
          }
        }
      }
    }
  }

}