.banner-second-level {
  &.no-card-item {
    .column-wrapper {
      .button-wrap {
        display: none;
      }
    }
  }
  &.banner-with-out-overlay{
    .bg-img{
      &:after{
        opacity: 0;
      }
    }
  }

  padding: 0;
  height: 501px;
  position: relative;
  @include tablet-down {
    height: 400px;
  }
  .place-location {
    position: absolute;
    bottom: 14px;
    right: 1%;
    min-width: 164px;
    cursor: pointer;
    z-index: 9;
    span {
      display: block;
      padding: 5px 42px 5px 0;
      text-align: end;
      p {
        font-family: $font-families-gotham;
        font-size: 11px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        color: $white;
        position: relative;
        opacity: 0;
        visibility: hidden;
      }
      @include phablet-down {
        font-size: 10px;
        padding: 5px 30px 5px 0;
      }
      &:after {
        content: "";
        position: absolute;
        background-image: url("/themes/rms/templates/dist/images/svg/Mask.svg");
        width: 18px;
        height: 18px;
        right: 5px;
        top: 0;
        bottom: 0;
        margin: auto;
        background-size: 100%;
        @include phablet-down {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
  .column-wrapper {
    width: 100%;
    .slider {
      opacity: 0;
      .items {
        outline: none;
        &.slick-active {

        }
        &:after {
          content: "";
          display: block;
          clear: both;
        }
      }
    }
    .cover-slider {
      display: inline-block;
      position: relative;
      .inner-text {
        width: 100%;
      }
    }
    .button-wrap {
      position: absolute;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 19px;

      .pre-btn {
        background: url(/themes/rms/templates/dist/images/svg/arrow-right-white-color.svg) no-repeat;
        background-size: 28px;
        transform: rotate(180deg);
        z-index: 1;
        display: inline-block;
        width: 29px;
        height: 15px;
        position: relative;
        left: -12px;
        cursor: pointer;
        vertical-align: top;
        &.slick-disabled {
          opacity: 0.3;
          cursor: auto;
        }
      }
      .next-btn {
        background: url(/themes/rms/templates/dist/images/svg/arrow-right-white-color.svg) no-repeat;
        background-size: 28px;
        z-index: 1;
        display: inline-block;
        vertical-align: top;
        width: 29px;
        height: 15px;
        position: relative;
        right: -12px;
        cursor: pointer;
        &.slick-disabled {
          opacity: 0.3;
          cursor: auto;
        }
      }
      .slick-dots {
        display: flex;
        justify-content: center;
        li {
          display: inline-block;
          position: relative;
          width: 6px;
          height: 6px;
          margin: 0 3px;
          padding: 0;
          &:before {
            display: none;
          }
          button {
            outline: none;
            width: 6px;
            height: 6px;
            background: $white;
            opacity: 0.5;
            text-indent: 999999px;
            border-radius: 50%;
            cursor: pointer;
          }
          &.slick-active {
            button {
              background: $white;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  h1 {
    color: $white;
    letter-spacing: 0.56px;
    //font-family: $font-families-nunito;
    //text-transform: uppercase;
    @include tablet-down {
      text-align: center;
    }
    @include phablet-down {
      font-size: 30px;
    }
    span{
      font-family:$font-inter-regular;
    }
  }
  h5 {
    color: $white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: normal;
    margin: 21px 0 0;
    @include tablet-down {
      font-size: 18px;
      margin: 18px 0 0;
      text-align: center;
    }
    @include phablet-down {
      font-size: 16px;
    }
  }
  .bg-img {
    height: 502px;
    @include tablet-down {
      height: 400px;
    }
    //&:after {
    //  content: "";
    //  position: absolute;
    //  width: 100%;
    //  height: 100%;
    //  top: 0;
    //  left: 0;
    //  bottom: 0;
    //  right: 0;
    //  margin: auto;
    //  opacity: 0.5;
    //  background-image: linear-gradient(to right, #000000 -1%, rgba(0, 0, 0, 0) 100%);
    //}
  }
  .inner-text {
    max-width: 540px;
    text-align: left;
    margin-left: 36px;
    margin-top: 56px;
    @include container-down {
      margin-left: 20px;
      margin-top: 40px;
    }
    @include tablet-down {
      margin: 35px auto 0;
      text-align: center;
      max-width: 100%;
    }
    .button-box {
      padding-top: 49px;
      @include container-down {
        padding-top: 30px;
      }
      @include tablet-down {
        padding-top: 22px;
      }
    }
  }
  &.sol-detail {
    .inner-text {
      max-width: 100%;
    }
  }
  &.banner-ri {
    .inner-text {
      max-width: 550px;
    }
  }

  &.blog-landing-banner {
    .column-wrapper {
      position: relative;
      z-index: 1;
      height: 100%;
      .slider {
      }
      .slider-track {
        transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
      }
      .item {
        height: 100%;
        position: relative;
        z-index: 1;
        opacity: 0;
        transition: opacity 2000ms ease-out 0s;
        outline: 0;
        &.slick-active .item {
          z-index: 2;
          opacity: 1;
        }
      }
    }

    .bg-img {
      @include container-up {
        height: 501px;
      }
    }
    .inner-text {
      @include desktop-up {
        max-width: 852px;
        margin-top: 60px;
      }
      @include phone-down{
        margin: 65px auto 0;
      }
      h1 {
        letter-spacing: 0.56px;
        line-height: 1.18;
        font-weight: bold;
        font-family: $font-families-Inter;
        @include phone-down{
          font-size: 28px;
        }
      }
      h5 {
        font-family: $font-families-nunito;
        @include desktop-up {
          max-width: 571px;
          margin: 21px 0 0;
        }
        @include phablet-down{
          margin: 12px 0 0;
        }
      }
      .button-box {
        @include container-up {
          padding-top: 42px;
        }
        @include phablet-down{
         padding: 12px 0 0;
        }
      }

    }
  }
  &.event-response {
    .inner-text {
      @include desktop-up {
        max-width: 572px;
      }
    }
  }
}

.banner-solution {
  h5 {
    @include container-up {
      margin: 22px 0 0;
    }
  }
  @include container-up {
    height: 500px;
  }
  .inner-text {
    @include desktop-up {
      max-width: 686px;
      margin-top: 45px;
    }
    @include desktop {
      max-width: 686px;
      margin-top: 45px;
    }
    @include tablet {
      max-width: 686px;
      margin-top: 45px;
    }
  }

}

.banner-gated-resource {
  .bg-img {
    @include container-up {
      height: 500px;
    }
  }
  h5 {
    font-family: $font-families-nunito;
    @include container-up {
      max-width: 511px;
      margin: 31px 0 0;
    }
    @include large_desktop {
      max-width: 400px;
    }
  }
  .inner-text {
    @include container-up {
      margin-top: 114px;
    }
    @include large_desktop {
      max-width: 450px;
    }
  }
}

.banner-career {
  .inner-text {
    @include desktop-up {
      max-width: 850px;
      margin-top: 68px;
    }
    h5 {
      font-family: $font-families-Inter;
      font-weight: 500;
      @include container-up {
        margin: 28px 0 0;
      }
      @include desktop-up {
        max-width: 525px;
      }
      @include tablet-down {
        text-align: center;
      }
    }
    .button-box {
      @include container-up {
        padding-top: 53px;
      }
    }
  }
}

