.banner-404 {
  padding: 0;
  height: 600px;
  position: relative;
  @include container-down {
    height: 500px;
  }
  @include tablet-down {
    height: 400px;
  }
  h1 {
    color: $white;
    letter-spacing: 0.56px;
    @include tablet-down {
      text-align: center;
    }
    @include phablet-down {
      font-size: 30px;
    }
  }
  h5 {
    color: $white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: normal;
    margin: 20px 0 0;
    @include tablet-down {
      font-size: 18px;
      margin: 18px 0 0;
      text-align: center;
    }
    @include phablet-down {
      font-size: 16px;
    }
  }
  p {
    line-height: 1.75;
    letter-spacing: normal;
    font-weight: normal;
    color: $white;
    margin-top: 20px;
    @include container-up {
      margin-top: 34px;
      padding-right: 40px;
    }
    @include phablet-down {
      margin-top: 12px;
    }
    a {
      font-weight: 600;
      color: $white;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 2px;
        background: $white;
      }
    }
  }
  .type-text {
    position: relative;
    margin-top: 20px;
    max-width: 560px;
    @include container-up {
      margin-top: 41px;
    }
    @include tablet-down {
      margin: 20px auto 0;
    }
    @include phablet-down {
      margin: 12px auto 0;
    }
    //&:after{
    //  content: "";
    //  position: absolute;
    //  right: 18px;
    //  top:50%;
    //  transform: translateY(-50%);
    //  background-image: url(/themes/rms/templates/dist/images/svg/search_icon.svg);
    //  background-position: 100%;
    //  background-size: 100%;
    //  background-repeat: no-repeat;
    //  width: 25px;
    //  height: 25px;
    //  cursor: pointer;
    //  @include phablet-down{
    //    width: 18px;
    //    height: 18px;
    //    right: 10px;
    //  }
    //}
    button {
      position: absolute;
      right: 18px;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 25px;
      outline: none;
      border: 0;
      cursor: pointer;
      letter-spacing: normal;
      font-family: $font-families-gotham;
      @include transition(all, 0.2s, ease-in-out);
      overflow: hidden;
      background: $white;
      color: $white;
      @include phablet-down {
        width: 18px;
        height: 18px;
        right: 10px;
      }
      .img-box {
        width: 25px;
        height: 25px;
        margin: 0 auto;
        @include phablet-down {
          width: 18px;
          height: 18px;
        }
        img {
          object-fit: contain;
          font-family: "object-fit: contain;";
        }
      }

    }
    input {
      outline: 0;
      background: $white;
      font-family: $font-families-gotham;
      font-size: 16px;
      line-height: 1.75;
      letter-spacing: normal;
      font-weight: normal;
      color: $black;
      width: calc(100%);
      height: 54px;
      padding: 18px 45px 20px 12px;
      outline: none;
      border: 0;
      @include phablet-down {
        font-size: 14px;
        height: 35px;
        padding: 10px 35px 10px 12px;
      }
    }
    input::placeholder {
      color: $primary4;
      font-family: $font-families-gotham;
      font-size: 16px;
      @include phablet-down {
        font-size: 14px;
      }
    }

  }

  .bg-img {
    height: 100%;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      opacity: 0.3;
      background-image: linear-gradient(to right, #000000 -1%, rgba(0, 0, 0, 0) 100%);
    }
  }
  .inner-text {
    max-width: 560px;
    text-align: left;
    margin-left: 36px;
    margin-top: 47px;
    @include container-down {
      margin-left: 20px;
      margin-top: 40px;
    }
    @include tablet-down {
      margin: 35px auto 0;
      text-align: center;
      max-width: 100%;
    }
    .button-box {
      margin-left: 3px;
      padding: 0;
      margin-top: 25px;
      @include container-up {
        margin-top: 45px;
      }
      @include media-breakpoint-down(md) {
        margin-top: 30px;
      }
      .btn-transparent {
        margin-left: 11px;
        @include desktop-up {
          padding: 10px 34px 11px 26px !important;
        }
        @include media-breakpoint-down (sm) {
          margin-left: 8px;
        }
        background-color: $white;
        color: $wine-red !important;
        &:hover {
          background-color: $lighter-grey;
          box-shadow: 0 0 0 2px $lighter-grey;
        }
      }
      .btn-red {
        @include desktop-up {
          padding: 11px 15px 11px 13px;
        }
        @include tablet-down {
          padding: 10px 16px;
        }
      }
    }
  }
  .place-location {
    position: absolute;
    bottom: 14px;
    right: 1.2%;
    min-width: 164px;
    cursor: pointer;
    z-index: 9;
    @include container-up {
      bottom: -4px;
    }
    span {
      display: block;
      padding: 5px 42px 5px 0;
      text-align: end;
      p {
        font-family: $font-families-gotham;
        font-size: 11px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        color: $white;
        position: relative;
        opacity: 0;
        visibility: hidden;
      }
      @include phablet-down {
        font-size: 10px;
        padding: 5px 30px 5px 0;
      }
      &:after {
        content: "";
        position: absolute;
        background-image: url("/themes/rms/templates/dist/images/svg/Mask.svg");
        width: 18px;
        height: 18px;
        right: 5px;
        top: 0;
        bottom: 0;
        margin: auto;
        background-size: 100%;
        @include phablet-down {
          width: 14px;
          height: 14px;
        }
      }
    }
  }

}