.blog-grid {
  padding-top: 42px;
  @include desktop-up {
    padding-bottom: 75px;
  }
  &.fixed {
    .column-wrapper {
      .menu-item {
        .cover-right-content {
          position: fixed;
          top: 110px;
        }
      }

    }

    &.active, &.bottom {
      .column-wrapper {
        .menu-item {
          //.cover-right-content {
          position: absolute;
          top: auto;
          bottom: 0;
          right: 20px;
          //}
          .cover-right-content {
            top: auto;
            position: relative;
          }
        }

      }
    }
  }
  .search {
    position: relative;
    display: block;
    width: 100%;
    height: 17px;
    cursor: pointer;
    padding-top: 0;
    .fixed-position {
      position: relative;
      @include phone-down {
        position: absolute;
      }
    }
    img {
      max-height: 17px;
      width: 100%;
      height: 100%;
    }
    input {
      float: right;
      border: 2px solid $black;
      outline: none;
      width: 18px;
      cursor: pointer;
      height: 18px;
      color: $black;
      border-radius: 40px;
      padding-bottom: 0;
      background: none;
      font-size: 0;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.21;
      letter-spacing: normal;
      transition: .2s all ease-in;
      //@include desktop-down {
      //  width: 100%;
      //  border: 0;
      //  font-size: 14px;
      //  border-bottom: 2px solid $light-black;
      //  border-radius: 0;
      //  height: 50px;
      //  color: $light-black;
      //  padding: 5px 30px 5px 0;
      //}
      //@include tablet-down {
      //  height: 42px;
      //}
      //@include desktop-down {
      //  ::-webkit-input-placeholder {
      //    /* Chrome/Opera/Safari */
      //    font-family: $font-families;
      //    color: $light-black;
      //    opacity: 1;
      //    font-size: 0;
      //    font-weight: 500;
      //    font-style: normal;
      //    font-stretch: normal;
      //    line-height: 1.21;
      //    letter-spacing: normal;
      //    @include desktop-down {
      //      color: $light-black;
      //    }
      //  }
      //
      //  ::-moz-placeholder {
      //    /* Firefox 19+ */
      //    font-family: $font-families;
      //    color: $light-black;
      //    opacity: 1;
      //    font-size: 0;
      //    font-weight: 500;
      //    font-style: normal;
      //    font-stretch: normal;
      //    line-height: 1.21;
      //    letter-spacing: normal;
      //  }
      //
      //  :-ms-input-placeholder {
      //    /* IE 10+ */
      //    font-family: $font-families;
      //    color: $light-black;
      //    opacity: 1;
      //    font-size: 0;
      //    font-weight: 500;
      //    font-style: normal;
      //    font-stretch: normal;
      //    line-height: 1.21;
      //    letter-spacing: normal;
      //  }
      //
      //  :-moz-placeholder {
      //    /* Firefox 18- */
      //    font-family: $font-families;
      //    color: $light-black;
      //    opacity: 1;
      //    font-size: 0;
      //    font-weight: 500;
      //    font-style: normal;
      //    font-stretch: normal;
      //    line-height: 1.21;
      //    letter-spacing: normal;
      //  }
      //}
    }
    @include desktop-up {
      ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-family: $font-families;
        color: $black;
      }

      ::-moz-placeholder {
        /* Firefox 19+ */
        font-family: $font-families;
        color: $black;
      }

      :-ms-input-placeholder {
        /* IE 10+ */
        font-family: $font-families;
        color: $black;
      }

      :-moz-placeholder {
        /* Firefox 18- */
        font-family: $font-families;
        color: $black;
      }
    }
    .close {
      opacity: 1;
      cursor: pointer;
      span {
        width: 3px;
        height: 10px;
        border-radius: 2px;
        background: $black;
        display: inline-block;
      }
    }

    .front {
      position: absolute;
      right: 10px;
      top: 5px;
      visibility: hidden;
      transform: rotate(-45deg);
      opacity: 0;
      animation-delay: 2s;
      transition: .2s all ease-in;
    }
    .back {
      position: absolute;
      right: -2px;
      top: 12px;
      transform: rotate(-51deg);
      transition: .2s all ease-in;
    }
    .change {
      width: calc(175px);
      margin-right: 20px;
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid $black;
      padding-bottom: 4px;
      font-size: 14px;
      cursor: auto;
      height: 17px;
      @include phone-down {
        width: calc(250px);
        padding-bottom: 2px;

      }
      //@include desktop-down {
      //  width: 100%;
      //  border-bottom: 2px solid $light-black;
      //  border-radius: 0;
      //  color: $light-black;
      //  padding: 5px 0;
      //  margin: 0;
      //  height: 50px;
      //}
      //@include tablet-down {
      //  height: 42px;
      //}
    }
    .change + div .front {
      z-index: 2;
      opacity: 1;
      visibility: visible;
      transition-delay: .2s;
      transform: rotate(45deg);
      top: 0;
    }
    .change + div .back {
      z-index: 2;
      right: 10px;
      top: 0;
    }
    .change + div .close {
      border-bottom: 1px solid $black;
    }
  }

  .column-wrapper {
    .filter-outer {
      float: none;
      width: 100%;
      display: flex;
      .text-wrap {
        margin-right: 21px;
        @include phone-down {
          margin-right: 15px;
          min-width: 70px;
        }
        p {
          font-size: 16px;
          font-weight: normal;
          line-height: 1.75;
          letter-spacing: 0.16px;
          @include phone-down {
            font-size: 14px;
          }
        }
      }

      .select-outer {
        display: flex;
        .select-plugin {
          display: flex;
          min-width: 60px;
          margin-right: 23px;
          position: relative;
          @include phone-down {
            display: inline-block;
            padding-right: 15px;
            margin-right: 0;
            margin-bottom: 10px;
          }
          //&:after {
          //  content: "";
          //  position: absolute;
          //  top: 41%;
          //  right: 5px;
          //  z-index: 1;
          //  width: 0;
          //  height: 0;
          //  border-left: 5px solid transparent;
          //  border-right: 5px solid transparent;
          //  border-bottom: 5px solid $black;
          //  transform: rotate(180deg);
          //  transition: 0.5s all ease-in-out;
          //
          //}
          .selectboxit-container {
            .selectboxit {
              background-image: none;
              background-color: $white;
              border: none;
              border-radius: 0;
              @include phone-down {
                display: flex;
                align-items: center;
              }
              .selectboxit-text {
                font-family: $font-families-Inter;
                font-size: 16px;
                line-height: 1.75;
                letter-spacing: 0.16px;
                color: $blackthin-light;
                font-weight: 600;
                min-width: 47px;
                @include phone-down {
                  font-size: 14px;
                }
              }
              .selectboxit-arrow-container {
                width: 25px;
                .selectboxit-arrow {
                  border-top: 5px solid $blackthin-light;
                  border-right: 5px solid transparent;
                  border-left: 5px solid transparent;
                  @include phone-down {
                    top: 35%;
                  }
                }
              }
            }

            .selectboxit-options {
              border-radius: 0;
              li {
                padding-left: 0;
                //&.selectboxit-option-first{
                //  border-radius: 0;
                //}
              }
            }
          }

          select {
            font-family: $font-families-InterM;
            position: relative;
            background-color: $white;
            font-size: 16px;
            line-height: 1.75;
            letter-spacing: 0.16px;
            color: $blackthin-light;
            font-weight: 500;
            cursor: pointer;
            outline: none;
            border: 0;
            //background-image: url(/themes/rms/templates/assets/images/svg/next-arrow-black.svg);
            //background-repeat: no-repeat;
            //background-position: 88.1% 50%;
            //background-size: 13px;
            padding-right: 20px;
            margin: 0;
            box-sizing: border-box;
            appearance: none;
            border-radius: 0;
            width: 100%;
            min-width: 60px;

          }
          select::-ms-expand {
            display: none;
          }

        }
      }
    }
    .cover-two-col {
      width: 100%;
      float: left;
      .grid-sizer {
        width: 33.33%;
        margin: 0;
        border: none;
        @include phablet {
          width: 50%;
        }
        @include phablet-down {
          width: 100%;
        }
      }
      .gutter-sizer {
        width: 0;
        margin: 0;
        border: none;
      }
      .card-grid {
        //width: 65.4%;
        width: calc(100% - 410px);
        margin-top: 20px;
        @include desktop-down {
          width: 100%;
        }
        .button-box {
          text-align: center;
          margin-top: 6px;
          @include container-up {
            padding-left: 5px;
          }
          .btn-white {
            @include container-up {
              padding: 9px 28px 11px 31px;
            }
          }
        }
        .grid {
          //max-width: 100%;
          width: calc(100% + 15px);
          margin: 0 auto;
          flex-wrap: nowrap;
          margin-left: - 5px;
          justify-content: space-between;

          //column-count: 2;
          //orphans: 1;
          //widows: 1;
          //column-gap: 42px;
          //position: relative;
          //@include container-down {
          //  column-gap: 30px;
          //}
          //@include desktop-down {
          //  width: 100%;
          //  column-count: 3;
          //  column-gap: 20px;
          //}
          //@include tablet-down {
          //  column-count: 2;
          //}
          //@include phablet-down {
          //  column-count: 1;
          //}
        }
        .box {
          width: calc(50% - 8px);
          margin-bottom: 45px;
          display: inline-block;
          vertical-align: top;
          padding: 0 23px;
          @include container-down {
            margin-bottom: 36px;
            padding: 0 18px;
          }
          @include desktop-down {
            margin: 20px 0;
            padding: 0 15px;
          }
          @include tablet-down {
            margin: 12px 0;

          }
          @include phablet-down {
            width: calc(100%);
            padding: 0 ;
          }
          &:nth-child(2n+1) {
              padding-left: 0;
          }
          &:nth-child(2n+2) {
              padding-right: 0;
          }
        }
        .card {
          display: block;
          //margin: 0px 13px 0;
          border-radius: 0;
          transition: 0.4s all ease-in-out;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
          position: relative;
          //@include container-down {
          //  margin: 0px 13px 0;
          //}
          //@include desktop-down {
          //  margin: 0px 10px;
          //}
          //@include tablet-down {
          //  margin: 0px 10px;
          //}
          //@include phablet-down {
          //  margin: 0px;
          //}
          &.card-with-img {
            min-height: 534px;
            overflow: visible;
            @include desktop-down {
              min-height: 500px;
            }
            @include phablet-down {
              min-height: auto;
            }
            .img-top {
              height: 221px;
              margin-top: -1px;
              margin-left: -1px;
              @include desktop-down {
                height: 190px;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          &.small-card {
            min-height: 375px;
            @include desktop-down {
              min-height: 350px;
            }
            @include phablet-down {
              min-height: auto;
            }
            .card-body {
              min-height: 374px;
              @include container-up {
                padding: 20px 10px 15px 21px;
              }
              @include desktop-down {
                min-height: 350px;
              }
              @include phablet-down {
                min-height: auto;
              }
              .auther-info {
                padding-top: 22px;
                @include desktop-down {
                  padding-top: 15px;
                }
                .author-detail {
                  @include container-up {
                    padding-left: 6px;
                  }
                }
              }
              p {
                @include desktop-up {
                  padding-bottom: 27px;
                }
              }
            }
          }
          .img-top {
            position: relative;

            > a {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 1;
              &:before {
                display: none;
              }
            }
          }
          .card-body {
            padding: 17px 5px 12px 19px;
            width: 100%;
            //border: 1px solid rgba(0, 0, 0, 0.125);
            min-height: 310px;
            display: flex;
            flex-direction: column;
            @include desktop-down {
              padding: 12px;
            }
            .blog-tags {
              width: 100%;
              clear: both;
              height: 100%;
              display: flex;
              align-items: flex-end;
            }
            h5 {
              font-weight: 600;
              color: $black;
              line-height: 1.17;
              letter-spacing: normal;
              font-family: $font-families-Inter;
              position: relative;
              > a {
                position: relative;
                font-family: $font-families-Inter;
                //top: 0;
                //left: 0;
                //width: 100%;
                //height: 100%;
                z-index: 1;
                &:before {
                  display: none;
                }
                &:hover {
                  color: $black;
                }
              }
            }
            .auther-info {
              width: 100%;
              display: flex;
              flex-direction: row;
              align-items: center;
              padding-top: 22px;
              @include desktop-up {
                padding-top: 18px;
              }
              @include desktop-down {
                padding-top: 15px;
              }
              @include container-down {
                //justify-content: center;
              }
              .auther {
                max-width: 30px;
                height: 30px;
                margin-right: 10px;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                  border-radius: 50%;
                }
              }
              .author-detail {
                padding-left: 1px;
                width: calc(100% - 34px);
                @media screen and (min-width: 1450px) {
                  padding-left: 5px;
                }
                @include desktop-down {
                  padding-left: 5px;
                }

                span {
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 1.57;
                  letter-spacing: 0.28px;
                  color: $black;
                  font-family: $font-families-gotham;
                  position: relative;
                  display: inline-block;
                  padding: 0 8px;
                  @include container-down {
                    display: block;
                    padding: 0;
                  }
                  &:after {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 15px;
                    top: 4px;
                    left: -2px;
                    background-color: $black;
                    @include container-down {
                      display: none;
                    }
                  }
                  &:first-child {
                    padding-left: 0;
                    &:after {
                      display: none;
                    }
                  }
                  &.date {
                    opacity: 0.6;
                    padding-right: 0;
                  }
                }

              }
            }

            p {
              font-weight: normal;
              line-height: 1.63;
              letter-spacing: 0.16px;
              padding-top: 15px;

              @include desktop-up {
                padding-right: 10px;
                padding-bottom: 29px;
              }
              @include desktop-down {
                padding-bottom: 18px;
              }

            }

            ul {
              list-style: none;
              font-size: 0;
              li {
                display: inline-block;
                opacity: 0.8;
                font-size: 12px;
                font-weight: normal;
                line-height: 1.67;
                letter-spacing: 0.36px;
                color: $black;
                background-color: $hexa-light-gray;
                font-family: $font-families-gotham;
                margin: 0 7px 8px 2px;
                padding: 0px 7px 0 4px;
                transition: all 0.3s ease;
                cursor: pointer;
                a {
                  color: $black;
                  transition: all 0.3s ease;
                }
                @include container-down {
                  margin: 0 10px 10px 0;
                  padding: 0px 7px;
                }
                &:before {
                  display: none;
                }
                &:hover {
                  background-color: $light-green;
                  color: $white;
                  a {
                    color: $white;
                  }
                }
              }
            }
          }
          &:hover {
            box-shadow: 0px 6px 15px 5px rgba(0, 0, 0, 0.09);
          }
        }

      }

      .menu-item {
        //width: 34.5%;
        width: 410px;
        padding-left: 42px;
        margin-top: 20px;
        @include container-down {
          padding-left: 25px;
        }
        @include desktop-down {
          width: 100%;
          padding-left: 0;
        }
        .cover-right-content {
          background-color: $hex-white-smoke;
          padding: 41px 36px 50px 44px;
          max-width: 368px;
          @include container-down {
            padding: 30px 20px;
          }
          @include desktop-down {
            padding: 20px 15px;
            max-width: 100%;
          }
          h6 {
            font-size: 20px;
            font-weight: bold;
            line-height: 1.3;
            letter-spacing: normal;
            margin-bottom: 45px;
            position: relative;
            font-family: $font-families-Inter;
            padding-right: 67px;
            @include desktop-down {
              margin-bottom: 30px;
            }
            &:after {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              bottom: -15px;
              left: 0;
              background-color: $primary7;
              opacity: 0.3;
            }
            span {
              font-size: 16px;
              font-weight: bold;
              line-height: 1.25;
              letter-spacing: normal;
              font-family: $font-families-gotham;
              color: $wine-red;
              position: absolute;
              right: 8px;
              display: block;
              top: 5px;
              a {
                color: $wine-red;
              }
            }
          }
          .icon-wrapper {
            display: flex;
            margin: 0px 0 45px;
            @include desktop {
              margin-bottom: 28px;
            }
            @include tablet-down {
              margin-bottom: 15px;
            }
            .icon-box {
              height: 36px;
              width: 36px;
              margin: 0 7px;
              &:first-child {
                margin-left: 0;
              }
              img, svg {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.3s all ease-in-out;
                .cls-1 {
                  fill: $white;
                }
              }
              &:hover {
                svg {
                  fill: $light-green;
                }
              }
            }

            .addthis_inline_share_toolbox_bbes {
              .at-resp-share-element {
                .at-share-btn-elements {
                  .at-share-btn {
                    padding: 2px;
                    margin: 0px 11px 5px;
                    &:first-child {
                      margin-left: 0;
                    }
                    @include tablet-down {
                      margin: 0px 5px 5px;
                    }
                    &:hover {
                      transform: translateY(0px);
                      background-color: $light-green !important;;
                    }
                  }
                }
              }
            }

          }
          .subscribe-box {
            //min-height:165px;
            background-color: $hex-white-smoke;
            //padding: 25px;
            max-width: 390px;
            @include desktop-down {
              max-width: 100%;
            }
            h6 {
              font-size: 20px;
              line-height: 1.3;
              letter-spacing: normal;
              font-family: $font-families-Inter;
            }
            .search-box {
              position: relative;
              max-width: 350px;
              margin-top: 20px;
              @include desktop-down {
                max-width: 344px;
              }
              input {
                font-family: $font-families-gotham;
                background-color: $white;
                font-size: 16px;
                font-weight: normal;
                line-height: 1.21;
                letter-spacing: normal;
                color: $black;
                outline: none;
                border: solid 1px $primary7;
                max-width: 290px;
                width: 100%;
                margin: 0;
                box-sizing: border-box;
                appearance: none;
                //padding: 15px 60px 15px 36px;
                border-radius: 0;
                height: 54px;
                padding: 9px 20px 11px 14px;
                transition: all 0.3s ease;
                border-right-width: 0;
                &:focus {
                  border: solid 1px $light-green;
                  border-right-width: 0;
                }
              }
              input::placeholder {
                font-family: $font-families-gotham;
                background-color: $white;
                font-size: 16px;
                font-weight: normal;
                line-height: 1.21;
                letter-spacing: normal;
                color: $black;
                opacity: 0.4;
              }
              button {
                position: absolute;
                right: 0;
                top: 0;
                //bottom: 0;
                width: 56px;
                height: 54px;
                //margin: auto;
                outline: none;
                border: 0;
                cursor: pointer;
                letter-spacing: normal;
                font-family: $font-families-gotham;
                @include transition(all, 0.2s, ease-in-out);
                overflow: hidden;
                background: $wine-red;
                color: $white;
                .img-box {
                  width: 23px;
                  margin: 0 auto;
                  height: 10px;
                  img {
                    object-fit: contain;
                  }
                }

              }
            }
          }

          .tags-content {
            margin-top: 39px;
            @include tablet-down {
              margin-top: 20px;
            }
            h6 {
              font-family: $font-families-Inter;
              @include container-up {
                margin-bottom: 36px;
              }
            }
            ul {
              text-align: left !important;
              li {
                display: inline-block;
                opacity: 0.8;
                font-size: 12px;
                font-weight: normal;
                line-height: 1.67;
                letter-spacing: 0.36px;
                color: $black;
                background-color: $hexa-light-gray;
                font-family: $font-families-gotham;
                margin: 0 2px 8px;
                padding: 0px 5px 0 5px;
                transition: all 0.3s ease;
                cursor: pointer;
                @include container-down {
                  margin: 0 0px 10px;
                  padding: 0px 7px;
                }
                &:before {
                  display: none;
                }
                a {
                  color: $black;
                  transition: all 0.3s ease;
                }
                &:hover {
                  background-color: $light-green;
                  color: $white;
                  a {
                    color: $white;
                  }
                }
              }
            }

          }

          .card-with-blog {
            margin-top: 33px;
            h6 {
              margin-bottom: 43px;
            }
            .card {
              border: 0;
              display: flex;
              position: relative;
              flex-direction: row;
              margin: 20px 0;
              cursor: pointer;
              transition: all 0.3s ease;
              @include container-down {
                flex-direction: column;
                border: 1px solid #eaeaea;
                padding: 10px;
              }
              .img-box {
                max-width: 100px;
                position: relative;
                overflow: hidden;
                max-height: 100px;
                @include container-down {
                  margin: 0 auto;
                }
                img {
                  object-fit: cover;
                  height: 100%;
                }
                .play-icon {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  margin: auto;
                  width: 77.9px;
                  height: 77.9px;
                  @include tablet-down {
                    width: 30px;
                    height: 30px;
                  }
                }
              }
              .content-btn {
                width: calc(100% - 100px);
                padding-left: 16px;
                border: 1px solid #eaeaea;
                border-left: 0;
                padding-top: 9px;
                @include container-down {
                  width: calc(100%);
                  border: 0;
                  text-align: center;
                  padding: 15px 0;
                }
                h6 {
                  margin-bottom: 11px;
                  font-size: 18px;
                  font-weight: 600;
                  line-height: 1.33;
                  letter-spacing: normal;
                  font-family: $font-families-Inter;
                  padding-right: 0;
                  @include desktop-up {
                    -webkit-line-clamp: 2;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    height: auto;
                  }
                  @include container-down {
                    font-size: 18px
                  }
                  @include container-down {
                    text-align: center;

                  }
                  &:after {
                    display: none;
                  }
                }
                span {
                  font-size: 14px;
                  font-family: $font-families-gotham;
                  font-weight: 500;
                  line-height: 1.57;
                  letter-spacing: 0.28px;
                  color: $black;
                  margin-bottom: 9px;
                  display: block
                }
                .button-box {

                  .learn-more {
                    font-size: 12px;
                    line-height: 1.17;
                    letter-spacing: 0.24px;
                    font-weight: bold;

                    &:after {
                      top: 3px;
                    }
                  }
                }
              }
              &:hover {
                box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
                transition-delay: 0.3s;
              }
            }
          }

          .archives-content {
            margin-top: 39px;
            h6 {
              font-family: $font-families-Inter;
              @include container-up {
                margin-bottom: 36px;
              }

            }
            .calendar-box {
              strong {
                font-size: 12px;
                font-weight: 500;
                line-height: 1.67;
                letter-spacing: 0.36px;
                font-family: $font-families-gotham;
                display: block;
                color: $light-green;
              }

              .cover-ul {
                width: 100%;
                display: block;
                @include phone-down {
                  //display: block;
                }
                ul {
                  list-style: none;
                  width: 100%;
                  column-count: 2;
                  orphans: 1;
                  widows: 1;
                  @include container-up {
                    column-gap: 87px;
                  }

                  li {
                    padding-left: 0;
                    margin: 1px 0 6px;
                    width: 100%;
                    display: inline-block;
                    a {
                      font-size: 16px;
                      font-weight: normal;
                      line-height: 1.75;
                      letter-spacing: 0.16px;
                      font-family: $font-families-gotham;
                      color: $black;
                      position: relative;
                      display: inline;
                      transition: all 0.3s ease;
                      cursor: pointer;
                      &:after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        bottom: -1px;
                        left: 0;
                        background-color: $black;
                        transition: all 0.3s ease;
                      }
                      &:hover {
                        color: $wine-red;
                        &:after {
                          background-color: $wine-red;
                        }
                      }
                    }

                    &:before {
                      display: none;
                    }
                  }
                }
              }

            }
          }

        }
      }
    }
  }

  #no-records {
    display: none;
    margin-top: 20px;
    text-align: center;
  }
}

.blog-list-cards {
  //padding-top: 39px;
  padding-top: 111px;
  @include desktop-down {
    padding-top: 80px;
  }
  @include tablet-down {
    padding-top: 60px;
  }
  .column-wrapper {
    .filter-oldest-news {
      width: 100%;
      display: block;
      margin-bottom: 7px;
      span {
        display: inline;
        &.date-filter {
          font-family: $font-families-gotham;
          font-size: 12px;
          font-weight: 500;
          line-height: 1.67;
          letter-spacing: 0.36px;
          color: $light-green;
        }
      }
    }

    .cover-two-col {
      .card-grid {

        @include desktop-up {
          margin-top: -70px !important;
        }
        .boder-top {
          &:first-child {
            background-color: red;
          }
        }
        .button-box {
          @include desktop-up {
            margin-top: 21px;
          }

        }
        &.upper-card {
          //@include desktop-up{
          //  margin-top:-53px;
          //}
          margin-top: -24px;

        }

        .grid {
          @include desktop-up {
            //margin-top: -15px;
          }
          .card {
            //@include desktop-up {
            //  margin: 0px auto 30px;
            //}


          }
        }
        .filter-with-search {
          display: block;
          position: absolute;
          right: 0;
          top: 32px;
          width: auto;
          @include desktop-down {
            //position: relative;
            //top: auto;
            //right: auto;
            //margin-bottom: 15px;
          }
          @include phablet-down {
            position: relative;
            right: auto;
            top: auto;
            width: 100%;
          }
          .set-position {
            position: relative;
            display: block;
            width: 100%;
            float: left;
            @include phone-down {
              display: block;
            }
            .text-wrap {
              float: left;

              @include desktop-up {
                margin-right: 14px;
              }
              p {
                font-size: 14px;
                letter-spacing: 0.14px;
                font-weight: normal;
              }
            }
            .select-outer {
              @include phone-down {
                display: block;
              }
              .select-plugin {
                min-width: auto;
                @include desktop-up {
                  margin-right: 17px;
                }
                @include phone-down {
                  margin-bottom: 10px;
                }
                .selectboxit-container {
                  .selectboxit {

                    .selectboxit-text {
                      font-family: $font-families-nunito;
                      font-size: 14px;
                      line-height: 1.75;
                      letter-spacing: 0.14px;
                      color: $blackthin-light;
                      font-weight: 600;
                      min-width: 44px;
                    }
                    .selectboxit-arrow-container {
                      .selectboxit-arrow {
                        top: 35%;

                      }
                    }
                  }

                  .selectboxit-options {
                    border-radius: 0;
                    li {
                      padding-left: 0;
                      //&.selectboxit-option-first{
                      //  border-radius: 0;
                      //}
                    }
                  }
                }

                select {
                  font-size: 14px;
                  font-weight: 600;
                  letter-spacing: 0.14px;
                  font-family: $font-families-nunito;
                  cursor: pointer;
                }
                &.none-arrow {
                  margin-right: 0px;
                  padding-top: 0;
                  @include phone-down {
                    width: 100%;
                    position: relative;
                    margin-bottom: 0;
                  }

                  .search-box {
                    cursor: pointer;
                  }
                  &:after {
                    display: none;
                  }
                }

              }
            }
          }

        }
        .heading-month {
          margin-bottom: 20px;
          //margin-bottom: 50px;
          max-width: 100%;
          padding-right: 250px;
          @include desktop-down {
            margin-bottom: 5px;
          }
          @include phablet-down {
            margin-bottom: 0;
          }
          h6 {
            line-height: 1.2;
            letter-spacing: normal;
            font-weight: 500;
            position: relative;
            width: calc(100%);
            font-size: 20px;
          }
          &:nth-child(3) {
            margin-top: 0 !important;
            max-width: 100%;
            padding-right: 250px !important;
            h6 {
              &:before {
                display: none;
              }
            }
          }
          &.boder-top {
            margin-top: 52px;
            padding-right: 0;
            @include desktop-down {
              margin-top: 30px;
            }
            h6 {
              &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                top: -32px;
                left: 0;
                background-color: $primary7;
                opacity: 0.3;
                @include desktop-down {
                  top: -15px;
                }
              }
            }
          }

        }

      }
    }

    .menu-item {
      margin-top: 0 !important;
      .cover-right-content {
        @include desktop-up {
          padding: 41px 36px 42px 44px !important;
        }

        .archives-content {
          .calendar-box {
            .cover-ul {
              ul {
                @include desktop-up {
                  column-gap: 35px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.heading-margin {
  .column-wrapper {
    .cover-two-col {
      .card-grid {
        .heading-month {
          margin-bottom: 68px;

          &.boder-top {

            margin-bottom: 20px;

          }
        }
      }
    }
  }
}




