.solution-grid{
  p{color: gainsboro;}
.container{
  max-width:  1350px;
}
  .three-card-box{
    //display: flex;
    margin-left: -20px;
    margin-right:-20px ;
    //flex-wrap: nowrap;
    //align-items: center;
    text-align: center;
    .card{
      display: inline-block;
      margin: 0 20px;
      background-color: #d8b0b0;
      width: 400px;
      height: 400px;
      position: relative;
      .bottom-text{
        position:relative;
        bottom: 0;
      }
      .hover-box{
        position: absolute;
        top: 24px;
        right: 0;
        left: 10px;
        bottom: 0;
        width: 10px;
        height: 10px;
        background: gray;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        transition: all .4s ease-in-out;
        transition-delay: .3s;
        .text-wrapper{
          position: relative;
          display: block;
          transition: all .5s ease;
          opacity: 0;
        }
      }
      &:hover{
        .hover-box{
          visibility: visible;
          opacity: 1;
          //top: 24px;
          //right: 0;
          //left: 10px;
          //bottom: 0;
          width: 380px;
          height: 350px;
          transition: all .4s ease-in-out;
          z-index: 9999;
          .text-wrapper{
            opacity: 1;
            transition: all .2s ease;
            transition-delay: .3s;
          }
        }
      }
    }

  }
}