.card-with-features {
  position: relative;
  padding: 0;
  .container {
    @media screen and (min-width: 992px) {
      max-width: 100%;
      width: 100%;
      padding: 0;
    }
  }
  .row-wrapper {
    position: relative;
    float: left;
    width: 100%;
    display: block;
    @media screen and (min-width: 1700px) {
      width: 100%;
      margin: 0 auto;
      max-width: 1236px;
      padding: 0 20px;
      position: relative;
    }
    .pattern-animation {
      position: absolute;
      left: 12.7%;
      width: 390px;
      height: 390px;
      z-index: -1;
      bottom: -8.8%;
      @include desktop-down {
        display: none;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .overview-block {
      background-color: $rect-gray;
      position: relative;
      left: 0;
      z-index: 0;
      width: 37.6%;
      min-height: 549px;
      padding: 126px 72px 0 102px;
      margin: 0;
      text-align: left;
      @media screen and (min-width: 1600px) {
        padding: 71px 60px 0 60px;
      }
      @media screen and (min-width: 992px) and (max-width: 1300px) {
        padding: 110px 42px 50px 50px;
        min-height: 655px;
      }
      @include desktop-down {
        max-width: 100%;
        min-height: 100%;
        padding: 64px 48px 30px;
        margin: 0 auto;
        width: 100%;
        float: none;
      }
      @include tablet {
        padding: 64px 12px 30px;

      }
      @include phablet {
        padding: 64px 10px 30px;
      }
      @include phablet-down {
        text-align: center;
      }
      @include phone-down {
        max-width: 90%;
        min-height: 100%;
        padding: 34px 8px;
      }
      h2 {
        margin-bottom: 43px;
        font-weight: bold;
        letter-spacing: 0.031em;
        line-height: 1.1;
        text-align: left;
        @include phablet-down {
          text-align: center;
        }
        &:after {
          bottom: -24.1px !important;
        }
      }
      &.green-border {
        @include phablet-down {
          h2 {

            &:after {
              left: 50%;
              transform: translateX(-50%);
              right: auto;
            }
          }
        }
      }
      p {
        margin: 20px 0;
      }
      .button-box {
        margin: 35px 0;
      }
    }
  }

  .slider-block {
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.04);
    border: solid 1px #f7f7f7;
    background-color: $white;
    padding: 30px;
    margin-top: 40px;
    width: 100%;
    @media screen and (min-width: 992px) {
      position: absolute;
      right: -14px;
      top: 49.7%;
      transform: translateY(-50%);
      padding: 41px 77px 34px;
      max-width: 65.4%;
      margin: 0;
    }
    .row {
      @include desktop-up {
        //height: 521px;
        //overflow-y: scroll;
        //padding-bottom: 45px;
      }
    }
    .item-box {
      margin: 14px 0 15px;
      padding-right: 25px;
      @include phablet-down {
        text-align: center;
        padding: 0 15px;
      }
      .icon-box {
        margin-bottom: 15px;
        height: 43px;
        width: 43px;
        @include phablet-down {
          margin: 0 auto 15px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          font-family: "object-fit: cover;";
        }
      }
      .text-block {
        h5 {
          font-weight: bold;
          line-height: 1.3;
          letter-spacing: normal;
          margin-bottom: 8px;
          color: $dark-green;
          @include desktop-up {
            font-size: 20px;
          }
          @include phablet-down {
            text-align: center;
          }
        }
        p {
          font-family: $font-families-gotham;
          font-weight: normal;
          line-height: 1.57;
          letter-spacing: 0.14px;
          padding-bottom: 17px;
          font-size: 14px;
        }
      }
    }

  }
  &.career-feature-card {
    @include container-up {
      padding-top: 82px;
      padding-bottom: 59px;
    }
    .row-wrapper .pattern-animation {
      opacity: 0.6;
      @include desktop-up {
        bottom: -21.8%;
        left: 12.6%;

      }
    }
    .overview-block {
      @include container-up {
        max-width: 38.6%;
        padding: 124px 72px 0 102px;
      }
      @include desktop {
        padding: 86px 77px 0 64px;
      }
      h2 {
        letter-spacing: 0.45px;
        font-weight: 600;
        line-height: 1.16;
        @include container-up {
          margin-bottom: 38px;
        }
        &:after {
          @include container-up {
            bottom: -19.1px;

          }
        }
      }
      p {
        letter-spacing: -0.16px;
      }
    }

    .slider-block {
      @include container-up {
        //top: 46.7%;
        padding: 45px 75px 44px;
        right: -11px;
      }
      .row {
        .item-box {
          @include container-up {
            padding-right: 43px;
            margin: 22px 0 15px;
          }
          .text-block {
            @include container-up {

            }
            h5 {
              @include container-up {
                margin-bottom: 11px;
              }
              @include phablet-down {
                text-align: center;
              }
            }
            p {
              @include container-up {
                padding-bottom: 16px;
              }
            }
          }
        }
      }
    }
  }
}