.card-with-image {
  @include container-up {
    padding-bottom: 118px;
  }
  .bg-img {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 83.4%;
    @include phablet-down {
      top: auto;
      bottom: 0;
    }
    &:after {
      content: "";
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      background: $black;
      position: absolute;
    }
  }
  .pattern-animation {
    position: absolute;
    right: -5%;
    bottom: -13%;
    width: 361px;
    height: 380px;
    z-index: 0;
    opacity: 0.7;
    @media screen and (min-width: 992px) and (max-width: 1240px) {
      right: 1%;
    }
    img, svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @include desktop-down {
      display: none;
    }
  }
  .container-wrap {
    position: relative;

    .column-wrapper {
      width: 100%;
      position: relative;
      z-index: 1;
      background-color: $white;
      -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.08);
      box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.08);
      padding: 58px 65px 65px;
      margin: 0 auto;
      @include container-up {
        margin-top: -15px;
        margin-bottom: 6px;
      }
      @include desktop-down {
        display: flex;
        align-items: center;
        padding: 40px 35px 45px;
      }
      @include tablet-down {
        display: block;
        padding: 58px 35px 65px;
      }
      @include phablet-down {
        padding: 18px 35px 35px;
      }
      .image-box {
        position: relative;
        width: 35.3%;
        @include desktop-down {
          width: 50%;
          max-width: 100%;
        }
        @include tablet-down {
          padding: 0;
          width: 100%;
          margin: 0 auto;
          float: none;
        }

        .img-wrapper {
          position: relative;
          height: 359px;
          margin: 6px 0 0 0;
          @include desktop-down {
            max-width: 100%;
          }
          @include tablet-down {
            max-width: 400px;
            height: 400px;
            margin: 0 auto;
          }
          @include phablet-down {
            height: 250px;
          }
          @include phone-down {
            max-width: 100%;
          }
          //&:after {
          //  content: "";
          //  position: absolute;
          //  top: 0;
          //  left: 0;
          //  right: 0;
          //  bottom: 0;
          //  width: 100%;
          //  height: 100%;
          //  opacity: 0.2;
          //  background-color: #004c6c;
          //  z-index: 1;
          //}
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .text-wrapper {
        padding-left: 37px;
        width: 64.5%;
        padding-top: 25px;
        @include container-down {
          padding-left: 80px;
          padding-right: 20px;
        }
        @include desktop-down {
          width: 50%;
          padding-left: 0;
          padding-right: 20px;
          padding-top: 0;
        }
        @include tablet-down {
          padding: 0;
          width: 100%;
          float: none;
          margin: 30px 0;
          text-align: center;
        }
        @include phablet-down {
          margin-bottom: 30px;
        }
        &.align-left {
          h2,h4 {
            &:after {
              bottom: -10.1px !important;
              @media (max-width: 768px) {
                bottom: -12.1px !important;
              }
              @include phablet-down {
                bottom: -17.1px !important;
              }
              @include tablet-down {
                right: 0;
                margin: 0 auto;
              }
            }
          }
        }
        h2, h4 {
          text-align: left;
          position: relative;
          font-family: $font-families-Inter;
          font-weight: bold;
          letter-spacing: 0.05em;
          margin-bottom: 27px;
          padding-bottom: 9px;
          @include desktop-down {
            margin-bottom: 0;
            padding-bottom: 0;
          }
          @include tablet-down {
            text-align: center;
            margin-bottom: 32px;
          }
        }
        p {
          margin-bottom: 34px;
          @include container-up {
            max-width: 550px;
          }
          @include desktop-down {
            margin-bottom: 18px;
            margin-top: 20px;
          }
          @include tablet-down {
            margin-bottom: 12px;
            margin-top: 15px;
          }
        }
        .button-box {
          margin-top: 39px;
          @include phablet-down {
            margin-top: 19px;
          }
          .btn-red {
            padding: 11px 19px 11px 21px;
          }
        }
      }
    }
  }
}