.col-three-slider {
  overflow: visible;
  z-index: 0;
  &.two-slider-item {
    .column-wrapper {
      max-width: 100%;
      @include desktop-up {
        width: 100% !important;
        margin-left:0;
      }
      .slick-track {
        @include desktop-up {
          width: 100% !important;
        }
      }
      .item {
        margin: 0 12px 15px;
        max-width: 100%;
        @include desktop-up {
          width: calc(50% - 30px) !important;
        }
        @include desktop {
          width: calc(50% - 30px) !important;
        }
        @include tablet {
          width: calc(50% - 30px) !important;
        }
        @include phablet {
          width: calc(50% - 30px) !important;
        }
      }
      .button-wrap {
        display: none;
        @include phablet-down{
          display: flex;
        }
      }
    }
  }
  &.one-slider-item {
    .column-wrapper {
      max-width: 100%;
      @include desktop-up {
        width: 100% !important;
        margin-left:0;
      }
      @include phablet-down{
        padding: 0 5px;
      }
      .slick-track {
        @include desktop-up {
          width: 100% !important;
        }
      }
      .item {
        margin: 0 auto 15px;
        max-width: 100%;
        @include desktop-up {
          width: calc(100% - 20px) !important;
          max-width: 50%;
          transform: translate(50%, 0);
        }
        @include desktop {
          width: calc(100% - 20px) !important;
          max-width: 50%;
          transform: translate(50%, 0);
        }
        @include tablet {
          width: calc(100%) !important;
        }
        @include phablet {
          width: calc(100%) !important;
        }
      }
      .button-wrap {
        display: none;
      }
    }
  }
  .column-wrapper {
    font-size: 0;
    width: calc(100%);
    @media screen and (min-width: 1330px){
      width: calc(100% + 26px);
      margin-left: -9px;
    }
    @include container-down{
      max-width: 95%;
      margin: 0 auto;
    }
    @include phablet-down{
      padding: 0 0;
      max-width: 97%;
    }
    .slider{
      opacity: 0;
    }
    .item{
      outline: 0;
    }
    .card-box {
      width: calc(33.33% - 26px);
      margin: 0 15px 15px 12px;
      display: inline-block;
      vertical-align: top;
      background-color:$white;
      position: relative;
      box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.06);
      border: solid 1px $gray55;
      float: left;
      padding: 18px 19px 20px;
      min-height: 185px;
      transition: 0.5s all ease-in-out;
      @include container-up{
        max-width: 380px;
      }
      @include container-down{
        padding: 18px 15px ;
        margin: 0 12px 12px;
      }
      @include desktop-down{
        margin: 0 8px 12px;
      }
      @include phablet-down{
        margin: 0 12px 15px;
      }
      @include phone-down{
        float: none;
      }
      &:hover{
        box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.19);
        .content-box{
          h5{
            color: $light-green;
          }
        }
      }
      > a{
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
      }
      .image-box {
        max-width: 64px;
        height: 64px;
        width: 100%;
        overflow: hidden;
        float: left;
        @include tablet-down {
          max-width: 44px;
          height: 44px;
        }
        @include phone-down{
          float: none;
          margin:0 auto
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.3s all ease-in-out;
          font-family: "object-fit: cover;";
        }
      }
      
      .content-box {
        width: calc(100% - 70px);
        float: left;
        padding-left: 16px;
        @include tablet-down{
          width: calc(100% - 50px);
        }
        @include phone-down{
          float: none;
          justify-content: center;
          padding-left: 0;
          padding-top: 15px;
          width: calc(100%);
        }
        .small-head {
          display: block;
          font-family: $font-families-gotham;
          font-size: 12px;
          text-align: left;
          color: $light-green;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1;
          letter-spacing: 0.36px;
          margin-bottom: 8px;
          @include phone-down{
            text-align: center;
          }
        }
        h5 {
          font-family: $font-families-Inter;
          font-weight: 600;
          line-height: 1.2;
          letter-spacing: normal;
          transition: 0.5s all ease-in-out;
          margin-bottom: 11px;
          color: $black;
          @include phone-down{
            text-align: center;
          }
          //a {
          //  position: relative;
          //  color: $black;
          //  font-family: $font-families-Inter;
          //  font-weight: 600;
          //  line-height: 1.2;
          //  letter-spacing: normal;
          //  transition: all 0.5s ease-in-out;
          //  &:hover {
          //    color: $light-green;
          //  }
          //}
        }
        p{
          font-family: $font-families-gotham;
          letter-spacing:normal;
          font-weight:normal;
          line-height: 1.57;
          font-size: 14px;
          color:$blackthin-light ;
          @include phone-down{
            text-align: center;
          }
        }
      }
    }
    .button-wrap {
      opacity: 0;
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 16px;
      .pre-btn {
        background: url(/themes/rms/templates/dist/images/arrow-right-small.svg) no-repeat;
        background-size: 28px;
        transform: rotate(180deg);
        z-index: 1;
        display: inline-block;
        width: 29px;
        height: 15px;
        position: relative;
        left: -16px;
        cursor: pointer;
        vertical-align: top;
        &.slick-disabled {
          opacity: 0.3;
          cursor: auto;
        }
      }
      .next-btn {
        background: url(/themes/rms/templates/dist/images/arrow-right-small.svg) no-repeat;
        background-size: 28px;
        z-index: 1;
        display: inline-block;
        vertical-align: top;
        width: 29px;
        height: 15px;
        position: relative;
        right: -16px;
        cursor: pointer;
        &.slick-disabled {
          opacity: 0.3;
          cursor: auto;
        }
      }
      .slick-dots {
        display: flex;
        justify-content: center;
        li {
          display: inline-block;
          position: relative;
          width: 6px;
          height: 6px;
          margin: 0 3px;
          padding: 0;
          &:before {
            display: none;
          }
          button {
            outline: none;
            width: 6px;
            height: 6px;
            background: $light-green;
            opacity: 0.5;
            text-indent: 999999px;
            border-radius: 50%;
            cursor: pointer;
          }
          &.slick-active {
            button {
              background: $light-green;
              opacity: 1;
            }
          }
        }
      }
    }
  }
  &.overlap {
    overflow: visible;
    z-index: 0;
    transform: translateY(-44%);
    padding: 0;
    margin-bottom: -31px;
    @include desktop-down{
      transform: translateY(-35%);
    }
    @include phone-down{
      transform: translateY(-20%);
    }
    //@include phablet {
    //  transform: translateY(-80%);
    //}
    //.column-wrapper{
    //  padding-bottom: 40px;
    //}
  }
  &.no-overlap {
    top: 0;
    transform: translateY(0);
    margin: 0;
  }
}