.col-two-with-cards {
  @include anchor-tag;
  ul {
    text-align: left;
    li {
      position: relative;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: 0.5px;
      color: $black;
      //padding-left: 20px;
      margin: 10px 0;
      font-family: $font-families-gotham;
      padding: 0 0 0 15px;
      list-style: none;
      &:after {
        content: '';
        position: absolute;
        top: 14px;
        left: 0;
        width: 5px;
        height: 5px;
        background: black;
        border-radius: 50%;
        @include desktop-down {
          top: 11px;
        }
      }
      @include tablet {
        font-size: 16px;
      }
      @include tablet-down {
        font-size: 16px;
      }
    }
  }
  padding-top: 62px;
  @include container-up {
    padding-bottom: 110px;
  }
  @include phablet-down {
    padding-top: 40px;
  }
  @include phone-down {
    padding-top: 30px;
  }
  .intro-box {
    h2 {
      font-weight: bold;
      @include phabletdown_landscape{
        &:after{
          bottom: -11.1px !important;
        }
      }
    }
    //@include phabletdown_landscape{
    //  &:after{
    //    bottom: -11.1px !important;
    //  }
    //}
  }
  .content-box {
    position: relative;
    .pattern-animation {
      position: absolute;
      right: -4.2%;
      bottom: -40px;
      width: 310px;
      height: 316px;
      z-index: 0;
      opacity: 1;
      @media screen and (min-width: 992px) and (max-width: 1240px) {
        right: 1%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      @include desktop-down {
        display: none;
      }
    }
  }

  .bg-img {
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 68.7%;
    //z-index: 2;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      background-color: #212121;
      top: 0;
      bottom: 0;
      left: 0;
      //z-index: 2;
    }
    @include desktop-down {
      top: auto;
      bottom: 0;
    }

  }
  .column-wrapper {
    width: 100%;
    margin-top: 41px;
    display: flex;
    justify-content:center;
    position: relative;
    @include desktop-down {
      margin-top: 25px;
    }
    @include phablet-down {
      display: block;
    }
    .card {
      &.centerLast{
      margin-right:0;
      }
      width: calc(50% - 17px);
      position: relative;
      box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.05);
      border: none;
      background-color: $white;
      margin: 18px 17px 17px;
      border-radius: 0;
      padding: 56px 61px 30px 61px;
      border-top: 0;
      z-index: 9;
      @include container-up {
        //min-height: 370px;
      }
      @include container-down {
        padding: 50px;
        margin: 15px;
        width: calc(50% - 15px);
      }
      @include desktop-down {
        padding: 30px;
      }
      @include tablet-down {
        padding: 25px 15px;
      }
      @include phablet-down {
        width: 100%;
        padding: 20px 12px;
        margin: 15px 0;
      }
      &:nth-child(2n+1) {
        @include desktop-up {
          margin-left: 0;
        }
        @include desktop {
          margin-left: 0;
        }
        @include tablet {
          margin-left: 0;
        }
        @include phablet {
          margin-left: 0;
        }
      }
      &:nth-child(2n+2) {
        @include desktop-up {
          margin-right: 0;
        }
        @include desktop {
          margin-right: 0;
        }
        @include tablet {
          margin-right: 0;
        }
        @include phablet {
          margin-right: 0;
        }
      }
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background: -moz-linear-gradient(top, #1387a0 0%, #1db6c4 100%);
        background: -webkit-linear-gradient(top, #1387a0 0%, #1db6c4 100%);
        background: linear-gradient(to bottom, #1387a0 0%, #1db6c4 100%);
        top: 0;
        left: 0;
      }
      .top-icon {
        width: 45px;
        height: 40px;
        margin-bottom: 26px;
        @include desktop-down {
          margin-bottom: 18px;
        }
        @include phablet-down {
          width: 32px;
          height: 32px;
        }
        img {
          object-fit: contain;
          max-width: 100%;
          max-height: 100%;
        }
      }
      h4 {
        padding-bottom: 12px;
        color: $dark-green;
        @include tablet-down {
          padding-bottom: 10px;
        }
      }
      p {
        @include phablet-down {
          font-size: 14px;
        }
      }
    }
  }

  &.col-three-benefits-cards {
    @include container-up{
      padding-bottom: 106px;
    }
    .bg-img {
      max-height: 770px;
      transition: height 0.5s ease-in-out;
      transition-delay: 0.5s;
      @include desktop-down{
        max-height: 660px;
      }
      @include phablet-down{
        max-height: 60%;
      }
    }
    .content-box {
      display: block;
      .column-wrapper {
        width: calc(100% + 30px);
        margin-top: 53px;
        justify-content: center;
        transition: height 0.5s ease-in-out;
        //transition-delay:0.5s;
        margin-left: -14px;
        @include large_desktop {
          width: calc(100% + 20px);
          margin-left: -10px;
          margin-top: 48px;
        }
        @include desktop-down {
          width: calc(100% + 30px);
          margin-left: -15px;
          margin-top: 38px;
        }
        @include tablet-down{
          margin-top: 25px;
        }
        @include phablet-down {
          width: calc(100%);
          margin-left: 0;
          margin-top: 25px;
          //height: auto !important;
        }
        .card {
          width: calc(33% - 20px);
          min-height:421px;
          overflow: hidden;
          display: inline-block;
          vertical-align: top;
          max-width: 380px;
          float: none;
          clear: both;
          margin: 15px 14px !important;
          padding: 0 !important;
          cursor: pointer;
          box-shadow: 0;
          background-color: transparent;
         // transition: height 0.5s ease-in-out;   
          //transition-delay: 0.5s;
          .card-inner{
            padding: 51px 40px 30px 40px;
            box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.05);
            border: none;
            background-color: #ffffff;
            @include large_desktop {     
              padding: 45px 30px 30px;
              min-height:390px;
            }
            @include container-up{
              min-height:421px;
            }

            @include desktop-down {
              padding: 25px 20px;
              min-height:315px;
            }
            @include tablet-down{
              min-height:289px;
            }
            @include phablet-down{
              min-height:263px;

            }

          }
          .last-items{
            transition: height 0.5s ease-in-out 0s ;
          }
          @include large_desktop {     
            margin: 15px 14px !important;
            width: calc(33% - 25px);
            max-width: 100%;
            min-height:390px;
          }
          @include desktop-down {
            margin: 15px 14px !important;
            width: calc(50% - 30px);
            max-width: 100%;
            min-height:315px;
          }
          @include tablet-down{
            min-height:289px;
          }

          @include phablet-down {
            width: calc(100%);
            margin: 15px 0 !important;
            min-height:263px;
            //position: relative !important;
            //top: 0 !important;
            //left: 0 !important;
            //transition: none !important;
            //transform: none !important;
          }
          &.hover-active {

            p {
              max-height: 100%;
              overflow: visible;
              display: inline-block;
            }
          }

          &:nth-child(2n+1) {
            @include desktop-up {
              margin-left: auto;
            }
            @include phablet {
              margin-left: auto;
            }
          }
          &:nth-child(2n+2) {
            @include desktop-up {
              margin-right: auto;
            }
            @include phablet {
              margin-right: auto;
            }
          }
          .top-icon{
            @include desktop-down{
              margin-bottom: 10px;
            }
          }
          p {
            -webkit-line-clamp: 6;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            max-height: 168px;
            transition: max-height 0.5s ;
            letter-spacing: normal;
            //transition-delay: 0.5s;
            @include tablet-down{
              max-height: 155px;
            }
            @include phablet-down{
              max-height:138px;
              //display: block;
              overflow: hidden;
            }
          }
          h4 {
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            height: auto;
            @include large_desktop {
              font-size: 26px;
            }
          }

        }
      }
    }
  }
}

.service-detail-card {
  @include container-up {
    padding-top: 45px;
    padding-bottom: 100px;
  }
  .bg-img {
    position: absolute;
    top: 37.2%;
    left: 0;
    width: 100%;
    height: 681px;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      background-color: #212121;
      top: 0;
      bottom: 0;
      left: 0;
    }
    @include desktop-down {
      top: auto;
      bottom: 0;
    }

  }
  .column-wrapper {
    .card {
      h4{
        font-weight: bold;
      }
    }
  }
}

.event-detail-two-cards{
  padding-top:15px !important;
  p{
    margin-bottom: 25px;
  }
  a{
    color:#C41240;
    &:hover{
      color:#00b7c6;
    }
  }

  h6{
    margin-bottom: 25px;
    a{
      @extend .btn-red;
      text-align: center;
    }
  }

}
