.gobal-padding{
  padding-top:0;
  @include desktop-down{
    padding-top:40px;
  }
  @include phablet-down{
    padding-top:30px;
  }
}
.full-intro{
padding-top:50px;
}
.full-width-intro{
    text-align: center;
    margin: 0 auto;
    @include desktop-up{
      max-width: 1000px;
    }
    h2 {
      margin-bottom: 30px;
      font-weight: bold;
      letter-spacing: 0.01em;
      word-spacing: 0.0em;
      margin-top: 4px;
      @include phablet-down {
        margin-bottom: 12px;
      }
    }
    p {
      margin: 20px 0;
      @include desktop-up{
        max-width: 800px;
        margin: auto;
      }
    }
    .button-box {
      margin: 34px 0 35px;
      @include tablet-down {
        margin: 20px 0;
      }
      @include phablet-down {
        margin: 15px 0;
      }
    }
}

.col-three-with-text{
  @include desktop-up {
    padding: 55px 0 54px;
  }
  &.col-service{
    @include desktop-up {
      padding-bottom:0;
    }
  }
  .intro-box{
      h2{
        @include container-up{
          margin-bottom: 39px;
        }
      }
  }

  .three-col-wrap {
    justify-content: center;
    @include container-up {
      text-align: center;
      font-size: 0;
      width: calc(100% + 98px);
      margin-left: -49px;
      margin-right: 0;
    }
    .content-column {
      text-align: center;
      position: relative;
      margin: 20px 0;
      @include container-up {
        text-align: center;
        display: inline-block;
        vertical-align: top;
        width: calc(33.33% - 50px);
        border-radius: 0;
        border: 0;
        margin: 26px 25px;
        flex: none;
        padding: 0 22px;
        max-width: 100%;
      }
      @include desktop {
        padding: 0 20px;
      }
      @include phablet-down {
        margin: 10px 0;
      }
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 1px;
        height: 30%;
        background: $primary2;
        @include container-up {
          right: -25px;
          height: 29%;
        }
        @media screen and (max-width: 575px) {
          display: none;
        }
      }
      &:nth-child(3n) {
        &:after {
          display: none;
        }
      }
      @include desktop-down {
        &:nth-child(2n) {
          &:after {
            display: none;
          }
        }
      }
      h4 {
        font-weight: bold;
        color: $dark-green;
        text-align: center;
        margin-bottom: 9px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
      }
      p {
        line-height: 1.75;
        letter-spacing: 0.16px;
        font-weight: normal;
      }
    }
  }
}

.three-col-overview-service-detail {
  padding: 54px 0 0;
  @include tablet-down {
    padding: 40px 0 0;
  }
  @include phone-down {
    padding: 30px 0 0;
  }
  .three-col-wrap {
    .content-column {
      h3 {
        @include container-up {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.three-col-overview-data-landing{
  padding: 54px 0 0;
  @include tablet-down {
    padding: 40px 0 0;
  }
  @include phone-down {
    padding: 30px 0 0;
  }
  .intro-box{
    @include desktop-up{
      max-width:985px;
    }
    p{
      @include desktop-up{
        max-width: 760px;
        margin: 20px auto;
      }

    }
  }
}

.overview-promotional{
  padding-bottom: 0;
  @include container-up{
    padding: 60px 0 0;
  }
  .intro-box{
    h2{
      @include container-up{
        margin-bottom: 38px;
      }
      &:after{
        @include container-up{
          bottom: -19.1px;
        }
      }
    }
  }
  .three-col-wrap{
    .content-column{
      &:after {
        //opacity: 0.6;
        background: $hexa-light-gray;
      }
      h3{
        @include container-up{
          margin-bottom: 12px;

        }
      }
    }
  }
}