.col-three-with-image {
  padding: 0;
  .rectangle-box {
    //top: -98px;
    top: -70px;
    right: 0;
    @include large_desktop {
      top: -52px;
    }
    @media screen and (min-width: 1700px) {
      top: -15%;
      right: 21%;
    }
  }
  .intro-box {
    text-align: center;
    max-width: 799px;
    margin: 0 auto;
    h2 {
      margin-bottom: 30px;
      font-weight: bold;
      letter-spacing: 0.01em;
      word-spacing: 0.0em;
      margin-top: 4px;
      @include phablet-down {
        margin-bottom: 12px;
      }
    }
    p {
      margin: 20px 0;
    }
    .button-box {
      margin: 34px 0 35px;
      @include tablet-down {
        margin: 20px 0;
      }
      @include phablet-down {
        margin: 15px 0;
      }
    }
  }
  .col-grid {
    justify-content: center;
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      margin-left: -16px;
      width: calc(100% + 32px);
    }
    .content-box {
      position: relative;
      min-height: 360px;
      margin: 15px auto;
      overflow: hidden;
      max-width: 360px;
      -webkit-overflow-scrolling: touch;
      //@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      //  &:nth-child(1) {
      //    margin-left: 0;
      //  }
      //  &:nth-child(2) {
      //    margin-right: 0;
      //  }
      //}
      @include container-mid-width {
        margin: 15px 14px 0 !important;
      }
      @include desktop-up {
        margin: 15px 54px 0 0;
      }
      @include container-up {
        &:nth-child(3n) {
          margin-right: 0;
        }
      }
      @include desktop {
        flex-basis: calc(33.33% - 30px);
        max-width: calc(33.33% - 30px);
        margin: 15px 15px 0;
      }
      @include desktop-down {
        flex-basis: calc(50% - 30px);
        max-width: calc(50% - 30px);
        margin: 15px 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      @include tablet {
        margin: 25px 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      @include phablet {
        flex-basis: calc(50% - 30px);
        max-width: calc(50% - 30px);
        margin: 15px 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      @include phablet-down {
        flex-basis: 100%;
        max-width: 400px;
        margin: 15px 0;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &.two-box {
        &:last-child {
          margin-right: 0;
        }
      }
      &.add-more {
        margin-top: 50px;
        @include phablet-down {
          margin: 30px auto 0;
        }
        @include container-max-width-up {
          &:last-child {
            margin-right: 0;
            margin-left: 0;
          }
        }
      }
      //&.four-col {
      //  margin-top: 50px;
      //  @include phablet-down {
      //    margin: 30px auto 0;
      //  }
      //  @include container-max-width-up {
      //    &:last-child {
      //      margin-right: 0;
      //      margin-left: 0;
      //    }
      //  }
      //
      //}
      .bg-img {
        position: relative;
        //&:after {
        //  content: "";
        //  position: absolute;
        //  top: 0;
        //  left: 0;
        //  width: 100%;
        //  height: 100%;
        //  background-color: $dark-green;
        //  opacity: 0.1;
        //}
        img {
          font-family: "object-fit: cover;";
        }
      }
      .blue-overlay {
        position: absolute;
        width: 100%;
        height: 78px;
        bottom: 0;
        //background-image: linear-gradient(281deg, rgba(0, 74, 88, 0.6901960784313725) 119%, rgb(0, 76, 108) -16%);
        background-image: linear-gradient(501deg, rgb(32, 46, 74) -60%, rgba(0, 134, 161, 0.7607843137254902) 119%, rgba(0, 76, 108, 0.7490196078431373) -16%);
        transition: 0.7s height ease-in-out;
        border-top: 1px solid $white;
        padding: 0 38px;
        @include desktop-down {
          height: 74px;
        }
        @include phablet {
          height: 55px;
          padding: 0 18px;
        }
        @include phablet-down {
          height: 58px;
          padding: 0 18px;
        }
        &:after {
          content: "";
          position: absolute;
          right: -69.2%;
          top: -100%;
          width: 467px;
          height: 405px;
          z-index: 0;
          background-image: url(/themes/rms/templates/dist/images/svg/Grid.svg);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          opacity: 0;
          visibility: hidden;
          transition: 0.5s all ease-in-out;
          @include tablet {
            right: -180px;
          }

        }
        .icon {
          width: 42.8px;
          height: 38.5px;
          opacity: 0;
          visibility: hidden;
          transition: 0.5s all ease-in-out;
          top: -100%;
          position: absolute;
          image {
          }
        }
        p {
          color: $white;
          line-height: 1.63;
          letter-spacing: normal;
          padding-bottom: 25px;
          @include large_desktop {
            padding-bottom: 15px;
          }
          @include tablet-down {
            padding-bottom: 15px;
          }
          @include phablet-down {
            padding-bottom: 8px;
          }
        }
        .cover-heading {
          display: flex;
          align-items: center;
          height: 78px;
          @include desktop-down {
            height: 74px;
          }
          @include phablet {
           height: 55px;
          }
          @include phablet-down {
            height: 58px;
          }
        }
        h5 {
          color: $white;
          margin: 8px 0 8px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          overflow: hidden;
          @include desktop-up {
            margin: 5px 0 5px;
          }
          @include desktop-down {
            margin: 6px 0 6px;
          }
          @include phablet {
            margin: 3px 0 3px;

          }
          @include phablet-down {
            margin: 5px 0 5px;
          }
        }
        p, .button-box {
          opacity: 0;
          visibility: hidden;
          transition: 0.5s all ease-in-out;
          position: relative;
          left: -20px;
        }
        .button-box {
          .learn-more {
            color: $white;
            &:after {
              top: 7px;
              background-image: url(/themes/rms/templates/dist/images/arrow-white-small.svg);
            }
          }
        }

      }
      &:hover, .active {
        .blue-overlay {
          height: 100%;
          border: none;
          opacity: 1;
          box-shadow: 0 6px 40px 0 rgba(0, 43, 124, 0.3);
          background-image: linear-gradient(501deg, #202e4a -60%, #0086a1 119%, #004c6c -16%);
          padding-top: 53px;
          //overflow-y: scroll;
          //overflow-x: hidden;
          @include phablet {
            padding-top: 20px
          }
          @include phablet-down {
            padding-top: 53px;
            padding-bottom: 30px;
          }
          @include large_desktop {
            padding-top: 31px;
          }
          &:after {
            transition-delay: 0.6s;
            opacity: 0.2;
            visibility: visible;
            top: -300px;
          }
          .cover-heading {
            height: auto;
          }
          h3 {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            overflow: hidden;
            height: auto;
            min-height: auto;
            align-items: unset;
            @include desktop-up {
              margin: 10px 0 10px;

            }
          }
          p, .button-box {
            opacity: 1;
            visibility: visible;
            transition-delay: 0.5s;
            left: 0;
          }
          .icon {
            transition-delay: 0.1s;
            opacity: 1;
            visibility: visible;
            position: relative;
            top: auto;
            left: 0;
            @include desktop-up {
              margin-bottom: 19px;
            }
          }
        }
      }
    }
  }
  &.sol-overview {
    padding-top: 60px;
    @include container-up {
      padding-top: 67px;
    }
    .intro-box {
      h2 {
        @include container-up {
          margin-bottom: 40px;
        }
        &:after {
          @include container-up {
            bottom: -21.1px;
          }
        }
      }
      .button-box {
        @include container-up {
          margin: 31px 0 22px;
        }
      }
    }
    .rectangle-box {
      top: 0;
      height: 592px;
    }
  }
  &.model-overview {
    overflow: hidden;
    padding-top: 100px;
    //padding-bottom: 0 !important;
    @include desktop {
      padding-top: 80px;
    }
    @include tablet {
      padding-top: 80px;
    }
    @include tablet-down {
      padding-top: 60px;
    }
    @include phablet-down {
      padding-top: 40px;
    }
    @include phone-down {
      padding-top: 30px;
    }
    .intro-box {
      h2 {
        @include container-up {
          margin-bottom: 42px;
        }
      }
    }
  }
}

.data-detail-page-overview {
  padding-top: 62px;
  @include phablet-down {
    padding-top: 40px;
  }
  @include phone-down {
    padding-top: 30px;
  }
  .intro-box {
    h2 {
      text-align: center;
    }
    .button-box {
      @include container-up {
        margin: 31px 0 27px;
      }
    }
  }
  .col-grid {
    .content-box {
      box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.15);
      @include container-up {
        margin: 15px 56px 0 0;
      }
      @include phablet-down {
        min-height: 300px;
        max-width: 320px;
      }

      .blue-overlay {
        @include container-up {
          height: 80px;
          padding: 2px 31px;
        }
        @include desktop {
          padding: 0 20px;
        }
        .icon {
          width: 42.8px;
          height: 38.5px;
          opacity: 0;
          visibility: hidden;
          transition: 0.5s all ease-in-out;
          top: -100%;
          position: absolute;
          image {
          }
        }

        h3 {
          //@include desktop-up {
          //  font-size: 28px;
          //}
        }
        //p {
        //  //left: auto;
        //  font-size: 14px;
        //}
        .button-box {
          //left: auto;
        }
      }
      &:hover, .active {
        .blue-overlay {
          @include container-up {
            padding: 53px 51px 0 47px;
          }

          h3 {
            @include container-up {
              margin: 12px 0 7px;
              transition-delay: 0.5s;
            }
          }
          p {
            //left: auto;
            @include container-up {
              padding-bottom: 20px;
            }
          }
          .button-box {
            //left: auto;
          }
          .icon {
            transition-delay: 0.1s;
            opacity: 1;
            visibility: visible;
            position: relative;
            top: auto;
            left: 0;
            @include desktop-up {
              margin-bottom: 19px;
            }
          }
        }
      }
    }
  }
}

.promotion-page-col-three-with-image {

  @include desktop-down {
    padding-bottom: 80px;
  }
  @include tablet-down {
    padding-bottom: 60px;
  }
  @include phablet-down {
    padding-bottom: 40px;
  }
  @include phone-down {
    padding-bottom: 30px;
  }
  @include desktop-up {
    padding-top: 57px;
    padding-bottom: 102px;
  }

  .intro-box {
    h2 {
      @include container-up {
        margin-bottom: 39px;
      }
      &:after {
        @include container-up {
          bottom: -21.1px;
        }
      }
    }
    .button-box {
      .learn-more {
        padding-right: 0;
      }
    }
  }

  .col-grid {
    .content-box {
      .blue-overlay {
        h3 {
          @include desktop-up {
            font-size: 28px;
            margin: 13px 0 12px;
          }
        }
      }
      &:hover {
        .blue-overlay {
          &:after {
            @include container-up {
              top: -305px;
            }
          }
          .icon {
            @include desktop-up {
              margin-bottom: 21px;
            }
          }
          h3 {
            @include container-up {
              margin: 12px 0 13px;
            }
          }
        }
      }
    }
  }
}