.col-four-with-slider {
  @include container-up {
    padding: 121px 0 105px;
  }
  @include phone-down {
    padding-bottom: 40px;
  }

  &.bg-grey {
    background-color: $rect-gray;
    @media screen and (min-width: 1250px) {
      background-color: transparent !important;
    }
    @include desktop-up {
      padding: 99px 0 65px;
    }
    .row-wrapper {
      background-color: $rect-gray;
      @include container-up {
        padding-bottom: 20px;
      }
    }
    .pattern-animation {
      display: none;
    }
  }

  .row-wrapper {
    position: relative;
    float: left;
    width: 100%;
    display: block;
    @media screen and (min-width: 1700px) {
      width: 100%;
      margin: 0 auto;
      max-width: 1236px;
      padding: 0 20px;
      position: relative;
    }
    .pattern-animation {
      position: absolute;
      bottom: -9.7%;
      left: 12.7%;
      width: 412px;
      height: 414px;
      z-index: -1;
      @include desktop-down {
        display: none;
      }
      img {
        width: 100%;
        height: 47px;
        object-fit: contain;
      }
    }
    .overview-block {
      &.extra-space {
        @media screen and(min-width: 1250px) {
          padding: 104px 55px 0 82px;
        }
        @media screen and(min-width: 1201px) and (max-width: 1249px) {
          padding: 104px 80px 0 50px;
        }
        @include desktop {
          padding: 104px 70px 0 35px;
        }
      }
      background-color: $rect-gray;
      position: relative;
      left: 0;
      z-index: 0;
      max-width: 38.4%;
      min-height: 540px;
      padding: 104px 38px 0 82px;
      margin: 0;
      text-align: left;

      @include large_desktop {
        padding: 64px 65px 0 22px;
        min-height: 500px;
        max-width: 41%;
      }
      @include desktop-down {
        max-width: 90%;
        min-height: 100%;
        padding: 64px 48px 30px;
        margin: 0 auto;
        width: 100%;
        float: none;
      }
      @include phone-down {
        max-width: 90%;
        min-height: 100%;
        padding: 34px 8px;
      }
      h2 {
        text-align: left;
        margin-bottom: 43px;
        font-weight: bold;
        letter-spacing: 0.031em;
        line-height: 1.1;
        font-size: 40px;
        @media screen and (min-width: 1500px) {
          font-size: 36px;
        }
        @media (min-width: 991px) {
          &:after {
            bottom: -22.1px !important;
          }
        }
        @include desktop {
          font-size: 32px;
        }
        @include tablet {
          font-size: 30px;
          &:after {
            bottom: -22.1px !important;

          }
        }
        @include tablet-down {
          font-size: 28px;
          &:after {
            bottom: -22.1px !important;

          }

        }

        //&:after {
        //  bottom: -50% !important;
        //@media (max-width: 768px) {
        //  bottom:-22.1px !important;
        //}
        //}

      }
      p {
        margin: 20px 0;
      }
      .button-box {
        margin: 35px 0;
      }
    }
    .slider-block {
      position: absolute;
      left: 35.1%;
      top: 4.2%;
      max-width: 1069px;
      @include desktop-down {
        position: relative;
        left: 0;
        top: 0;
        transform: translateY(0);
        width: 100%;
        padding: 40px 20px;
        float: left;
      }
      .slide-outer {
        display: flex;
        //opacity: 0;
        .slick-track {
          @include desktop-up {
            height: 457px;
            left: 8px;
            overflow: hidden;
          }
        }
        .item-box {
          overflow: hidden;
          box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.04);
          border: solid 1px $rect-gray;
          position: relative;
          background-color: $white;
          margin: 20px 19px 0px 0;
          height: 419px;
          transition: 0.7s width ease-in-out;
          outline: none;
          @include desktop-down {
            margin: 20px 19px 0px;
          }
          @include tablet-down {
            margin: 0 10px;
          }
          @include phablet-down {
            height: 340px;
          }
          @include phone-down {
            height: 356px;
          }
          &.nohover {
            .no-state {
              opacity: 1 !important;
              visibility: visible !important;
              padding: 21px 10px 0 14px !important;
            }
          }
          &.col-four {
            width: calc(25% - 39.4px);
            @include tablet {
              width: calc(33.33% - 30px);
              margin: 16px 15px 4px;
            }
            @include phablet {
              width: calc(50% - 30px);
              margin: 16px 15px 4px;
            }
            @include phablet-down {
              width: 100%;
              margin: 16px 15px 4px;
            }
          }
          &.col-three {
            width: calc(33.33% - 39.4px);
            @include tablet {
              width: calc(33.33% - 30px);
              margin: 16px 15px 4px;
            }
            @include phablet {
              width: calc(50% - 30px);
              margin: 16px 15px 4px;
            }
            @include phablet-down {
              width: 100%;
              margin: 16px 15px 4px;
            }
          }
          &.col-two {
            width: calc(50% - 39.4px);
            @include phablet-down {
              width: 100%;
              margin: 16px 15px 4px;
            }
          }
          &.col {
            max-width: 91% !important;
            margin: 16px auto;
          }
          &.un-slick {
            .no-state {
              padding: 21px 10px 0 14px;
            }
            .hover-state {
              .content-footer {
                padding: 14px 13px;
                h3 {
                  font-size: 18px;
                  -webkit-line-clamp: 1;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  height: 25px;
                  width: 81px;

                }
                .learn-more {
                  padding: 0 6px 0 9px;
                }
              }
            }
          }
          .no-state {
            opacity: 1;
            padding: 21px 10px 0 14px;
            transition: 0.5s all ease-in;
            // visibility: hidden;
            // z-index: -999;
            .text-block {
              padding-top: 1px;
              h3 {
                color: $dark-green;
              }
              p {
                font-size: 14px;
                -webkit-line-clamp: 8;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                height: auto;
              }
            }
            .icon-box {
              max-width: 47px;
              max-height: 39px;
              margin: 20px 0;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }
          .hover-state {
            position: absolute;
            top: 100%;
            left: 0;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s all ease-in-out;
            width: 100%;
            .bg-img-top {
              height: 340px;
              @include tablet {
                height: 340px;
              }
              @include tablet-down {
                height: 340px;
              }
              @include phablet-down {
                height: 262px;
              }
              @include phone-down {
                height: 295px;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                font-family: "object-fit: cover;";
              }
            }
            .content-footer {
              display: flex;
              padding: 9px 34px;
              align-items: center;
              height: 75px;
              @include tablet {
                padding: 9px 18px;
              }
              @include phablet {
                padding: 17px 12px;
              }
              @include phablet-down {
                padding: 24px 20px;
                align-items: center;
              }
              @include phone-down {
                padding: 10px 20px;
                height: 55px;

              }
              h3 {
                float: left;
                letter-spacing: normal;
                text-align: left;
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                height: auto;
                max-width: 230px;
                width: 78%;
                color: $dark-green;
                font-size: 28px;
                @include tablet {
                  //width: calc(100% - 90px);
                  padding-right: 10px;
                  font-size: 24px;
                }
                @include tablet-down {
                  //width: calc(100% - 120px);
                  max-width: 100%;
                  width: 67%;
                }
                @include phablet {
                  height: auto;
                  width: 60%;
                  padding-right: 10px;
                }
                @include phablet-down {
                  height: auto;
                  width: 60%;
                  padding-right: 10px;
                }
                @include phone-down {
                  font-size: 16px;
                  height: auto;
                  width: 50%;
                }
              }
              .learn-more {
                float: right;
                padding: 0px 6px 0 9px;
                overflow: visible;
                text-align: end;
                width: 32%;
                @include tablet {
                  padding: 0;
                  font-size: 15px;
                  width: 33%;
                }
                @include phablet {
                  padding: 0;
                  font-size: 14px;
                  width: 40%;
                }
                @include phablet-down {
                  padding: 0px 6px 0 9px;
                  width: 40%;
                }
                @include phone-down {
                  font-size: 14px;
                  width: 50%;
                }
                &:after {
                  top: 16px;
                  opacity: 0;
                  @include tablet {
                    top: 14px;
                  }
                  @include phablet {
                    top: 6px;
                    background-size: 11px;
                  }
                  @include phone {
                    top: 6px;
                  }
                  @include phone-down {
                    width: 14px;
                    height: 14px;
                    background-size: 12px;
                    top: 7px;
                  }
                }
                &:hover {
                  &:after {
                    opacity: 1;
                    right: -14px;
                  }
                }
              }
            }
          }
          &.slick-init {
            &:hover {
              @include desktop-up {
                width: 410px !important;
              }
              @include desktop-down {
                width: 100%;
              }
            }
          }
          &:hover {
            .hover-state {
              top: 0;
              opacity: 1;
              visibility: visible;
              transition-delay: 0.2s;
            }
            .no-state {
              opacity: 0;
              visibility: hidden;
              padding: 0;
              transition: 1s all ease-out;
            }
          }
          &.slick-slide {
            background-color: white;
            box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.04);
            transition: 0.5s width linear;
          }
          &.slick-active {
            background-color: $white;
            z-index: 1;
          }
        }
        .text-block {
          h3 {
            font-size: 28px;
            @include desktop-down {
              font-size: 24px;
            }
            @include tablet-down {
              font-size: 22px;
            }
            @include phablet-down {
              font-size: 20px;
            }
            margin: 14px 17px 13px 0;
            font-weight: bold;
            line-height: 1.17;
          }
          p {
            margin: 6px 0;
            line-height: 1.58;
          }
        }
      }

      .button-wrap {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: -10.7%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        @media screen and (min-width: 1300px) {
          left: 19.9%;
        }
        @include desktop {
          justify-content: left;
          left: 31%;
        }
        @include desktop-down {
          bottom: -4%;
        }
        .pre-btn {
          background: url(/themes/rms/templates/dist/images/arrow-right-small.svg) no-repeat;
          background-size: 28px;
          transform: rotate(180deg);
          z-index: 1;
          display: inline-block;
          width: 29px;
          height: 15px;
          position: relative;
          left: -8px;
          cursor: pointer;
          vertical-align: top;
          &.slick-disabled {
            opacity: 0.3;
            cursor: auto;
          }
        }
        .next-btn {
          background: url(/themes/rms/templates/dist/images/arrow-right-small.svg) no-repeat;
          background-size: 28px;
          z-index: 1;
          display: inline-block;
          vertical-align: top;
          width: 29px;
          height: 15px;
          position: relative;
          right: -8px;
          cursor: pointer;
          &.slick-disabled {
            opacity: 0.3;
            cursor: auto;
          }
        }
      }
    }
    .slick-dots {
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      li {
        display: inline-block;
        position: relative;
        width: 6px;
        height: 6px;
        margin: 0 3px;
        padding: 0;
        &:before {
          display: none;
        }
        button {
          outline: none;
          width: 6px;
          height: 6px;
          background: $light-green;
          opacity: 0.5;
          text-indent: 999999px;
          border-radius: 50%;
          cursor: pointer;
        }
        &.slick-active {
          button {
            background: $light-green;
            opacity: 1;
          }
        }
      }
    }
  }

  ////solutions-detail-slider-page-css////
  &.sol-detail-slider {
    padding: 0;
    .row-wrapper {
      background-color: $rect-gray;
      .overview-block {
        background-color: transparent;
        max-width: 33.4%;
      }
      .slider-block {
        .slide-outer {
          .text-block {
            h3 {
              margin: 14px 0 13px 0;
            }
          }
        }
      }
    }
  }
  &.ri-slide {
    @include container-up {
      padding: 149px 0 69px;
      .row-wrapper {
        .overview-block {
          padding: 104px 64px 0 82px;
        }
      }
    }
  }
}

.solution-page-cases {
  background-color: $rect-gray;
  padding: 81px 0 100px;
  @include desktop-down {
    padding: 80px 0;
  }
  @include tablet-down {
    padding: 60px 0;
  }
  @include phablet-down {
    padding: 40px 0;
  }
  @include phone-down {
    padding: 30px 0;
  }
  .pattern-animation {
    display: none;
  }

  .row-wrapper {
    .overview-block {
      @include container-up {
        min-height: 420px;
        padding: 68px 111px 0 82px;
        @media screen and (min-width: 1700px) {
          padding-left: 0;
        }
      }
      @include desktop-down {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
        //max-width: 100%;
      }

      @include tablet-down {
        padding-left: 10px;
      }
      @include phablet-down {
        padding-left: 12px;
        padding-bottom: 25px;
      }

      h2 {
        @include container-up {
          max-width: 235px;
          letter-spacing: 0.45px;
          padding-bottom: 0;
          margin-bottom: 40px;
        }
        @include desktop-down {
          margin-bottom: 30px;
        }
      }
      p {
        letter-spacing: -0.16px;
      }
    }
    .slider-block {
      @include desktop-up {
        top: -4.8%;
      }
      @include phablet-down {
        padding: 0 20px 40px;
      }

      .slide-outer {
        //@include container-up {
        //  margin: 19px 18px 19px 0;
        //}
        .item-box {
          @include container-up {
            height: 421px;
          }
          @include tablet {
            height: 330px;
          }
          @include tablet-down {
            height: 330px;
          }
          @include phone-down {
            height: 360px;
          }
          .no-state {
            @include desktop-up {
              padding: 21px 10px 0 14px;
            }
            .icon-box {
              @include desktop-up {
                max-width: 41px;
                max-height: 45px;
                margin: 19px 0 17px;
              }
            }
            .text-block {
              h3 {
                @include container-up {
                  margin-bottom: 8px;
                  //letter-spacing: -0.31px;
                  font-size: 28px;
                  font-weight: 600;
                  line-height: 1.29;
                  letter-spacing: normal;
                  @include desktop-down {
                    font-size: 24px;
                  }
                  @include tablet-down {
                    font-size: 22px;
                  }
                  @include phablet-down {
                    font-size: 20px;
                  }
                }
              }
              p {
                letter-spacing: normal;
              }
            }
          }
          .hover-state {
            .content-footer {
              h3 {
                -webkit-line-clamp: 1;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                height: 35px;
                max-width: 232px;
                @include desktop-down {
                  height: 32px;
                  max-width: 232px;
                }
                @include tablet-down {
                  max-width: 150px;
                  height: 22px;
                }
                @include phablet-down {
                  max-width: 150px;
                }
                @include phone-down {
                  height: 19px;
                  max-width: 115px;
                }
              }
            }
          }
        }
      }
      .button-wrap {
        @media screen and (min-width: 1300px) {
          bottom: -8.7%;
          left: 21.2%;
        }
      }
    }
  }

  &.slider-event-detail {
    .row-wrapper .overview-block h2 {
      @include container-up {
        max-width: 268px;
        padding-bottom: 14px;
      }
    }

    .row-wrapper {
      .overview-block {
        @include container-up {
          padding: 39px 111px 0 82px;
        }
        @media screen and (min-width: 1480px) {
          padding: 39px 90px 0 74px;
        }
      }
      .slider-block {
        @include container-up {
          left: 33.4%;
        }
        .slide-outer {
          .item-box {
            .no-state {
              @include container-up {
                padding: 21px 10px 0 14px;
              }
              .icon-box {
                @include container-up {
                  margin: 19px 0 13px;
                }
              }
              .text-block {
                h3 {
                  @include container-up {
                    margin-bottom: 13px;
                  }
                }
              }
            }
          }
        }
        .button-wrap {
          @include container-up {
            bottom: -8.2%;
            left: 22.4%;
          }
          @media only screen and (max-width: 1300px) and (min-width: 1200px) {
            left: 10.4% !important;
          }
        }
      }
    }
  }

  &.promotional-page-slider {
    .row-wrapper {
      .overview-block {
        @include container-up {
          padding: 63px 111px 0 82px;
        }
        h2 {
          @include container-up {
            margin-bottom: 33px;
          }
          &:after {
            @include container-up {
              bottom: -14.1px;
            }
          }
        }
      }
      .slider-block {
        @include container-up {
          left: 33.3% !important;
        }

        .slide-outer {
          .item-box {
            .no-state {
              @include container-up {
                padding: 21px 10px 0 14px;
              }
              .icon-box {
                @include container-up {
                  max-width: 44px;
                  max-height: 45px;
                }
              }
              .text-block {
                h3 {
                  @include container-up {
                    margin: 11px 9px 9px 0;
                  }
                }
                p {
                  @include container-up {
                    margin-top: 12px;
                  }
                }
              }
            }
          }
        }
        .button-wrap {
          @media screen and (min-width: 1300px) {
            bottom: -8.7%;
            left: 23.6%;
          }
        }
      }
    }
  }
}

.service-data-landing {
  @include container-up {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  @include phablet-down {
    padding-bottom: 60px;
  }
  .row-wrapper {
    //.pattern-animation {
    //  @include container-up {
    //    top: 260px;
    //    left: 19.5%;
    //    transform: scale(1.3);
    //  }
    //  @include desktop {
    //    top: 200px;
    //    left: 19.5%;
    //    transform: scale(1.3);
    //  }
    //  //svg{
    //  //  width: 412px !important;
    //  //  height: 414px !important;
    //  //}
    //}
    .overview-block {
      @media screen and (min-width: 1300px) {
        padding: 130px 74px 0 66px;
        max-width: 37.2%;
      }
      @include container-up {
        max-width: 37.2%;
      }
      @include desktop {
        padding: 130px 40px 0 66px;
      }
      h2 {
        letter-spacing: 0.45px;
        @include container-up {
          margin-bottom: 40px;
        }
        &:after {
          @include container-up {
            bottom: -20.1px;
          }
        }
      }
      p {
        letter-spacing: -0.16px;
      }
    }
  }
  .slider-block {
    @media screen and (min-width: 1300px) {
      left: 31.5% !important;
    }
    .slide-outer {
      .item-box {

        .no-state {
          //@media screen and (min-width: 1300px) {
          //  padding-left: 33px !important;
          //}
          .text-block {
            h3 {
              @include container-up {
                margin: 14px 17px 12px 0;
              }
            }
            p {
              letter-spacing: normal;
            }
          }
        }
        .hover-state {
          .content-footer {
            h3 {
              -webkit-line-clamp: 1;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              overflow: hidden;
              height: 35px;
              max-width: 232px;
              @include desktop-down {
                height: 32px;
                max-width: 232px;
              }
              @include tablet-down {
                max-width: 150px;
                height: 22px;
              }
              @include phablet-down {
                max-width: 150px;
              }
              @include phone-down {
                height: 19px;
                max-width: 115px;
              }
            }
          }
        }
      }
    }
    .button-wrap {
      @media screen and (min-width: 1320px) {
        bottom: -8.7% !important;
        left: 23.3% !important;
      }
    }
  }
}
