.covid-banner {
  display: flex;
  align-items: center;
  height: 442px;
  margin-top: 78px;
  @include tablet-down {
    height: 400px;
  }

  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      //background-color: $black;
      //opacity: 0.3;
      background: rgb(0,0,0);
      background: linear-gradient(118deg, rgba(0,0,0,0.5508578431372548) 0%, rgba(0,0,0,0.4416141456582633) 23%, rgba(0,0,0,0.06346288515406162) 100%);
    }
  }
  .content-wrap {
    .content {
      max-width: 530px;
      margin-bottom: 97px;
      @include tablet-down {
        text-align: center;
        margin: 0 auto;
      }
      h1 {
        font-family: $font-families-Inter;
        color: $white;
        margin-bottom: 16px;
        letter-spacing: normal;
        line-height: 1.15;
        @include desktop-up {
          font-size: 48px;
        }
      }
      h5 {
        font-family: $font-families-Inter;
        color: $white;
        letter-spacing: normal;
        @include tablet-down {
          text-align: center;
        }
      }
    }
  }
}
