.cta {
  margin: 0;
  &.white-color {
    .content-box {
      .row {
        .text-block {
          h2 {
            color: $white;
          }
        }
      }
    }
  }
  position: relative;
  @include container-up {
    padding: 115px 0;
    min-height: 302px;
  }
  @include phablet-down {
    min-height: 100%;
  }
  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .content-box {
    position: relative;
    width: 100%;
    .row {
      align-items: center;
    }
    .text-block {
      padding-left: 16px;
      @include desktop-down {
        margin-left: 0;
      }
    }
    .cta-headline {
      color: $white;
      font-family: $font-families-Inter;
      font-size: 45px;
      text-align: left;
      font-stretch: normal;
      font-style: normal;
      @include tablet-down {
        text-align: center;
      }
      @include desktop {
        font-size: 40px;
      }
      @include tablet {
        font-size: 34px;
      }
      @include phablet {
        font-size: 30px;
      }
      @include phone {
        font-size: 30px;
      }
      @include phone-down {
        font-size: 30px;
      }
    }
    .button-box {
      text-align: right;
      @include tablet-up {
        padding: 0 18px 0 0;
      }
      @include desktop-down {
        margin: 22px 0 0;
      }
      @include tablet-down {
        text-align: center;
      }
      .btn-red {
        font-size: 21px;
        font-weight: 500;
        font-family: $font-families-gotham;
        line-height: 1.38;
        letter-spacing: normal;
        padding: 17px 0;
        text-align: right;
        @include desktop-down {
          padding: 15px 0;
          font-size: 18px;
        }
        @include tablet-down {
          padding: 13px 0;
        }
        @include phablet-down {
          padding: 10px 0;
        }
        span {
          font-size: 21px;
          font-weight: 500;
          font-family: $font-families-gotham;
          line-height: 1.38;
          letter-spacing: normal;
          padding: 17px 38px;
          @include desktop-down {
            font-size: 18px;
            padding: 17px 28px;
          }
          @include tablet-down {
            padding: 17px 28px;
          }
          @include phone-down {
            padding: 17px 15px;
          }
        }
        &:before {
          top: 27px;
          width: 18px;
          height: 12px;
          background-size: 18px;
          right: -21px;
          @include desktop-down {
            top: 24px;
            width: 15px;
            height: 13px;
            right: -20px;
            background-size: 15px;
          }
          @include tablet-down {
            top: 21px;
          }
          @include phablet-down {
            top: 18px;
          }
        }
        &:hover {
          background-color: $purple-red;
          box-shadow: 0 0 0 2px $purple-red;
          &:before {
            right: 14px;
            @include desktop-down {
              right: 9px;
            }
          }
        }
      }
    }
  }

  &.cta-news-detail {
    .row {
      @include desktop-down {
        display: block;
        margin: 0 auto;
      }
      .text-block {
        @include desktop-down {
          width: 100%;
          max-width: 100%;
          margin: 0 auto;
        }
        h2 {
          @include desktop-down {
            text-align: center;
          }
        }
      }
    }
    .button-box {
      text-align: left;
      padding: 0;
      @include desktop-down {
        width: 100%;
        max-width: 100%;
      }
      @include phone-down {
        margin-top: 15px;

      }
      .search-wrap {
        position: relative;
        max-width: 100%;
        width: 100%;
        display: flex;
        @include desktop-down {
          max-width: 500px;
          margin: 0 auto;
        }
        @include phone-down {
          display: block;
          text-align: center;
        }
        input {
          box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.2);
          border: solid 1px #c7c7c7;
          font-family: $font-families-gotham;
          background-color: $white;
          font-size: 22px;
          font-weight: 400;
          letter-spacing: 1.4px;
          color: $blackthin-light;
          outline: none;
          max-width: 350px;
          width: calc(100% - 150px);
          margin: 0;
          box-sizing: border-box;
          appearance: none;
          padding: 10px 30px;
          border-radius: 0;
          height: 65px;
          @include desktop-down {
            height: 40px;
            font-size: 18px;
          }
          @include phone-down {
            width: calc(100%);
          }
        }
        button {
          position: relative;
          right: 8px;
          top: 0;
          bottom: 0;
          width: 150px;
          height: 65px;
          margin: auto;
          outline: none;
          border: 0;
          cursor: pointer;
          background: $wine-red;
          color: $white;
          font-size: 21px;
          font-weight: 500;
          line-height: 1.38;
          letter-spacing: normal;
          font-family: $font-families-gotham;
          @include transition(all, 0.2s, ease-in-out);
          overflow: hidden;
          padding: 17px 0;
          text-align: center;
          @include desktop {
            width: 135px;
          }
          @include desktop-down {
            height: 40px;
            font-size: 18px;
            padding: 0;
          }
          @include phone-down {
            margin-top: 15px;
            right: 0;
          }
          //&:before {
          //  top: 27px;
          //  width: 18px;
          //  height: 12px;
          //  background-size: 18px;
          //  right: -21px;
          //  @include desktop-down {
          //    top: 24px;
          //    width: 15px;
          //    height: 13px;
          //    right: -20px;
          //    background-size: 15px;
          //  }
          //  @include tablet-down {
          //    top: 21px;
          //  }
          //  @include phablet-down {
          //    top: 18px;
          //  }
          //}
          span {
            font-family: $font-families-gotham;
            position: relative;
            left: 0;
            transition: all 0.3s ease;
          }
          &:hover {
            background-color: $purple-red;
            //box-shadow: 0 0 0 2px $purple-red;
            //&:before {
            //  right: 14px;
            //  @include desktop-down {
            //    right: 9px;
            //  }
            //}
          }
        }
      }
    }
  }
  &.model-cta {
    @include container-up {
      margin-top: 70px;
    }
  }
}


