.detail-author {
  background-color: $hex-white-smoke;
  @include desktop-up {
    padding: 39px 0 48px;
  }

  .column-wrapper {
    width: 100%;
    .detail-summary {
      width: 60%;
      padding-right: 19px;

      @include tablet-down {
        width: 100%;
        padding-right: 0;
      }
      .author-icon {
        width: 70px;
        height: 70px;
        position: absolute;
        img {
          object-fit: cover;
          border-radius: 50%;
        }
        @include tablet-down {
          width: 35px;
          height: 35px;
          position: relative;
          margin: 0 0 20px 10px;
        }
        @include phablet-down {
          position: relative;
          width: 45px;
          height: 45px;
          margin: 0 auto 10px;
        }
      }
      .text-content {
        width: calc(100%);
        padding-left: 85px;
        @include tablet-down {
          padding-left: 0;
        }
        @include phablet-down {
          text-align: center;
        }
      }

      h6 {
        font-size: 19px;
        font-weight: bold;
        line-height: 1.37;
        letter-spacing: normal;
        margin-bottom: 8px;
        @include tablet-down {
          font-size: 18px;
        }
        @include phablet-down {
          text-align: center;
        }
      }
      span {
        display: block;
        opacity: 0.8;
        font-family: $font-families-gotham;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: $black;
      }
      p {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.5717;
        letter-spacing: normal;
        margin-top: 10px;
      }
    }
    .list-status {
      width: 40%;
      @include tablet-down {
        width: 100%;
        margin-top: 30px;
      }

      .text-right {
        list-style: none;
        @include container-up {
          padding-left: 40px;
          margin-top: -4px;
        }
        @include tablet-down {
          text-align: left !important;
          padding-left: 0;
        }
        @include phablet-down {
          padding-left: 0;
          text-align: center !important;
        }
        li {
          display: inline-block;
          opacity: 0.8;
          font-size: 12px;
          font-weight: normal;
          line-height: 1.67;
          letter-spacing: 0.36px;
          color: $black;
          background-color: $hexa-light-gray;
          font-family: $font-families-gotham;
          margin: 0 2px 8px;
          padding: 0px 5px 0 5px;
          transition: all 0.3s ease;
          cursor: pointer;
          a{
            color: $black;
          }
          @include container-down {
            margin: 0 0px 10px;
            padding: 0px 7px;
          }
          &:before {
            display: none;
          }
          &:hover{
            background-color: $light-green;
            color:$white;
            a{
              color: $white;
            }
          }
        }
      }
    }
  }
}