.events-cards {
  @include desktop-up {
    padding: 35px 0 73px;
  }
  .row {
    @include phablet-down {
      justify-content: center;
    }
  }
  .card-wrap {
    @include desktop-up {
      width: calc(100% + 48px);
      margin-left: -24px;
    }
    .cards-item {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
      transition: 0.4s box-shadow ease-in-out;
      border: solid 1px #e6e6e6;
      background-color: $white;
      padding: 0;
      cursor: pointer;
      max-width: calc(33.33% - 44px);
      margin: 23px 21px 23px 23px;
      position: relative;
      //@include container-max-width {
      //  height: 420px !important;
      //}
      @include tablet {
        max-width: calc(33.33% - 30px);
        margin: 15px;
      }
      @include phablet {
        max-width: calc(50% - 30px);
        margin: 15px;
      }
      @include phablet-down {
        width: 100%;
        margin: 15px;
        max-width: 100%;
        flex-basis: 100%;
      }
      a {
        position: relative;
        z-index: 1;
        &:nth-child(1) {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          &.edit-link {
            width: auto;
            height: auto;
            z-index: 2;
          }
        }

      }
      .img-top {
        width: 100%;
        height: 220px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          font-family: "object-fit: cover;";
        }
        &.play-icon {
          position: relative;
          &:before {
            content: "";
            background: url(/themes/rms/templates/dist/images/svg/play_icon.svg) no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 80px;
            height: 80px;
            margin: auto;
          }
        }
      }
      .card-body {
        padding: 15px 21px;
        .resource-block {
          display: flex;
          align-items: center;
          margin: 0 0 8px 0;
          position: relative;
          .icon-box {
            width: 32.5px;
            height: 32.5px;
            svg {
              height: 100%;
              width: 100%;
            }
          }
          span {
            font-size: 12px;
            font-family: $font-families-gotham;
            font-weight: 500;
            line-height: 1.67;
            letter-spacing: 0.36px;
            text-align: left;
            color: $light-green;
            padding-left: 2px;
          }
        }
        .date-box {
          margin-bottom: 10px;
          p {
            font-family: "Gotham A", sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.57;
            letter-spacing: 0.28px;
            text-align: left;
            color: $silver-gray;
          }
        }
        .text-block {
          p {
            font-family: $font-families-gotham;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.57;
            letter-spacing: normal;
            text-align: left;
            color: $silver-gray;
          }
          h5 {
            font-weight: bold;
            font-family:$font-families-Inter;
            line-height: 1.17;
            letter-spacing: normal;
            text-align: left;
            margin-bottom: 12px;
          }
        }
      }
      &:hover {
        box-shadow: 0px 6px 15px 5px rgba(0, 0, 0, 0.09);
      }
    }
  }
  .button-box {
    margin-top: 28px;
    text-align: center;
  }
}