.event-response-grid {
  padding-top: 42px;
  @include desktop-up {
    padding-bottom: 75px;
  }

  .column-wrapper {
    .filter-outer {
      float: none;
      width: 100%;
      display: flex;
      @include tablet-down {
        display: block;
      }
      .text-wrap {
        margin-right: 21px;
        @include tablet {
          width: 15%;
        }
        p {
          font-size: 16px;
          font-weight: normal;
          line-height: 1.75;
          letter-spacing: 0.16px;
        }
      }

      .select-outer {
        display: flex;
        @include tablet-down {
          display: block;
        }
        .select-plugin {
          display: flex;
          min-width: 60px;
          margin-right: 23px;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            top: 46%;
            right: 5px;
            z-index: 1;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid $black;
            transform: rotate(180deg);
            transition: 0.5s all ease-in-out;
            cursor: pointer;
          }
          select {
            font-family: $font-families-Inter;
            position: relative;
            background-color: $white;
            font-size: 16px;
            line-height: 1.75;
            letter-spacing: 0.16px;
            color: $blackthin-light;
            font-weight: 600;
            cursor: pointer;
            outline: none;
            border: 0;
            //background-image: url(/themes/rms/templates/assets/images/svg/next-arrow-black.svg);
            //background-repeat: no-repeat;
            //background-position: 88.1% 50%;
            //background-size: 13px;
            padding-right: 20px;
            margin: 0;
            box-sizing: border-box;
            appearance: none;
            border-radius: 0;
            width: 100%;
            min-width: 60px;

          }

          //select::-moz-focus-inner {
          //  outline: none;
          //  -webkit-appearance: none;
          //  appearance: none;
          //  border: 0;
          //}
          select:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000; /* your normal text color here */
          }

          select::-ms-expand {
            display: none;
          }

        }
      }
    }

    .cover-two-col {
      width: 100%;
      float: left;
      .card-grid {
        width: 65.4%;
        margin-top: 23px;
        @include desktop-down {
          width: 100%;
        }
        .grid {
          .event-post {
            //max-width: 780px;
            //height: 520px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
            border: solid 1px $hexa-light-gray;
            background-color: $white;
            padding: 21px 20px 13px;
            margin-bottom: 20px;
            h4,h5 {

              margin-bottom: 10px;
              font-family: $font-families-InterM;
            }
            .date {
              font-size: 14px;
              font-weight: 500;
              line-height: 1.57;
              letter-spacing: 0.28px;
              font-family: $font-families-gotham;
              position: relative;
              display: block;
              padding: 0;
              opacity: 0.6;
              text-align: left;
              color: $blackthin-light;
              @include phablet-down {
                padding: 0;
              }
            }
            .media-content {
              display: flex;
              padding: 25px 0 47px 0;
              position: relative;
              @include phablet-down {
                display: block;
              }
              &:after {
                content: "";
                position: absolute;
                bottom: 15px;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $primary7;
                opacity: 0.4;
              }
              .img-box {
                width: 250px;
                height: 210px;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
                @include phone {
                  width: 210px;
                  height: 180px;
                  margin: 0 auto;
                }
                @include phablet-down {
                  width: 210px;
                  height: 180px;
                  margin: 0 auto;
                }
              }
              .content-text {
                width: calc(100% - 250px);
                padding: 2px 0 0 20px;
                @include phablet-down {
                  width: 100%;
                  padding: 42px 0 0 0;
                }
                .small-content {
                  display: flex;
                  align-items: center;
                  padding: 0 0 18px 16px;
                  @include phablet-down {
                    padding: 0 0 18px 0;
                  }
                  span {
                    @include desktop-up {
                      max-width: 60px;
                    }
                    opacity: 0.85;
                    font-family: $font-families-gotham;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 1.28;
                    letter-spacing: normal;
                    color: $blackthin-light;
                  }
                  .icon-text {
                    display: flex;
                    align-items: center;
                    padding-left: 12px;
                    .icon-box {
                      width: 34.8px;
                      height: 34.8px;

                      img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                      }
                    }
                    #Flood {
                      background-image: url(/themes/rms/templates/assets/images/model-black/flood.svg);
                      background-size: cover;
                      background-repeat: no-repeat;
                    }
                    #Pandemic {
                      background-image: url(/themes/rms/templates/assets/images/model-black/liferisks.svg);
                      background-size: cover;
                      background-repeat: no-repeat;
                    }
                    #Tornado {
                      background-image: url(/themes/rms/templates/assets/images/model-black/severe_convective_storm.svg);
                      background-size: contain;
                      background-repeat: no-repeat;
                    }
                    #Earthquake {
                      background-image: url(/themes/rms/templates/assets/images/model-black/earthquake.svg);
                      background-size: cover;
                      background-repeat: no-repeat;
                    }
                    #Wind {
                      background-image: url(/themes/rms/templates/assets/images/model-black/severe_convective_storm.svg);
                      background-size: cover;
                      background-repeat: no-repeat;
                    }
                    div[id^="Tornado"] {
                      background-image: url(/themes/rms/templates/assets/images/model-black/severe_convective_storm.svg);
                      background-size: cover;
                      background-repeat: no-repeat;
                    }
                    #Fire {
                      background-image: url(/themes/rms/templates/assets/images/model-black/wildfire.svg);
                      background-size: cover;
                      background-repeat: no-repeat;
                    }
                    #Windstorm {
                      background-image: url(/themes/rms/templates/assets/images/model-black/windstorm.svg);
                      background-size: cover;
                      background-repeat: no-repeat;
                    }
                    #Cyclone {
                      background-image: url(/themes/rms/templates/assets/images/model-black/cyber.svg);
                      background-size: cover;
                      background-repeat: no-repeat;
                    }
                    #Winterstorm {
                      background-image: url(/themes/rms/templates/assets/images/model-black/winter_storm.svg);
                      background-size: cover;
                      background-repeat: no-repeat;
                    }
                    #Tsunami {
                      background-image: url(/themes/rms/templates/assets/images/model-black/tsunami.svg);
                      background-size: cover;
                      background-repeat: no-repeat;
                    }
                    #Terrorism {
                      background-image: url(/themes/rms/templates/assets/images/model-black/terrorism.svg);
                      background-size: cover;
                      background-repeat: no-repeat;
                    }
                    #Cyclone {
                      background-image: url(/themes/rms/templates/assets/images/model-black/tropical_cyclone.svg);
                      background-size: cover;
                      background-repeat: no-repeat;
                    }
                    #Hail {
                      background-image: url(/themes/rms/templates/assets/images/model-black/windstorm.svg);
                      background-size: cover;
                      background-repeat: no-repeat;
                    }
                    #Hurricane {
                      background-image: url(/themes/rms/templates/assets/images/model-black/tropical_cyclone.svg);
                      background-size: cover;
                      background-repeat: no-repeat;
                    }
                    #Typhoon {
                      background-image: url(/themes/rms/templates/assets/images/model-black/tsunami.svg);
                      background-size: cover;
                      background-repeat: no-repeat;
                    }
                    p {
                      padding-left: 8px;
                      font-size: 14px;
                      font-weight: normal;
                      line-height: 1.43;
                      letter-spacing: normal;
                    }
                  }
                }
                .gray-content {
                  background: $hex-white-smoke;
                  padding: 14px 0 0;
                  display: flex;
                  align-items: center;
                  .content-inner {
                    width: 50%;
                    max-width: 153px;
                    li {
                      margin: 0 0 20px;
                      padding-left: 16px;
                      p {
                        font-size: 14px;
                        font-weight: normal;
                        line-height: 1.29;
                        letter-spacing: normal;
                        text-align: left;
                      }
                      h4,h5 {
                        font-weight: 500;
                        line-height: 1.17;
                        letter-spacing: normal;
                        text-align: left;
                        font-family: $font-families-InterM;
                      }
                      &:before {
                        display: none;
                      }
                    }
                    &:nth-child(2) {
                      padding-left: 20px;
                      padding-right: 0;
                    }
                  }
                }
              }
            }
            .event-summary {
              h6 {
                font-size: 16px;
                font-weight: bold;
                line-height: 1.75;
                letter-spacing: 0.16px;
                font-family: $font-families-gotham;
              }
              p {
                font-size: 14px;
                letter-spacing: normal;
                padding: 5px 0 21px;
                a {
                  color: $light-green;
                  font-size: 14px;
                  font-weight: normal;
                  line-height: 1.57;
                  letter-spacing: normal;
                }
              }
              .more-text {
                display: none;
                @include desktop-up {
                  margin: 2px 0 8px;
                }
              }
              .read-more-btn {
                position: relative;
                font-size: 12px;
                font-weight: bold;
                line-height: 1.17;
                letter-spacing: 0.24px;
                font-family: $font-families-gotham;
                margin-top: 2px;
                //display: inline-block;
                cursor: pointer;
                color: $wine-red;

                //for now//
                display: none !important;
                @include desktop-up {
                  top: -6px;
                }
                &:after {
                  content: "";
                  position: absolute;
                  top: 6px;
                  //right: 5px;
                  right: -15px;
                  z-index: 1;
                  width: 0;
                  height: 0;
                  border-left: 4px solid transparent;
                  border-right: 4px solid transparent;
                  border-bottom: 5px solid $wine-red;
                  transform: rotate(180deg);
                  transition: 0.3s all ease-in-out;
                }
                &:hover {
                  color: $light-green;
                  &:after {
                    border-bottom: 5px solid $light-green;
                  }
                }
                &.rotate {
                  &:after {
                    transform: rotate(0deg);
                  }
                }



              }
            }
          }

        }
        .button-box {
          text-align: center;
          margin-top: 30px;
          @include container-up {
            margin-top: 50px;
          }
          //.btn-white {
          //  @include container-up {
          //    padding: 9px 28px 11px 31px;
          //  }
          //}
        }
      }

      .menu-item {
        width: 34.5%;
        padding-left: 42px;
        margin-top: 20px;
        @include container-down {
          padding-left: 25px;
        }
        @include desktop-down {
          width: 100%;
          padding-left: 0;
        }
        .cover-right-content {
          background-color: $hex-white-smoke;
          padding: 39px 40px 20px;
          display: flex;
          flex-direction:column;
          @include container-down {
            padding: 30px 20px;
          }
          @include desktop-down {
            padding: 20px 15px;
          }
          h6 {
            font-size: 20px;
            font-weight: bold;
            line-height: 1.3;
            letter-spacing: normal;
            margin-bottom: 10px;
            position: relative;
            font-family: $font-families-Inter;
            padding-right: 67px;
            @include desktop-down {
              margin-bottom: 10px;
            }
            &:after {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              bottom: -14px;
              left: 0;
              background-color: $primary7;
              @include desktop-up {
                width: 96%;
              }
            }
            span {
              font-size: 16px;
              font-weight: bold;
              line-height: 1.25;
              letter-spacing: normal;
              font-family: $font-families-gotham;
              color: $wine-red;
              position: absolute;
              right: 8px;
              display: block;
              top: 5px;
            }
          }
          .icon-wrapper {
            display: flex;
            margin: 0px 0 45px;
            @include desktop {
              margin-bottom: 28px;
            }
            @include tablet-down {
              margin-bottom: 15px;
            }
            .icon-box {
              height: 36px;
              width: 36px;
              margin: 0 7px;
              &:first-child {
                margin-left: 0;
              }
              img, svg {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.3s all ease-in-out;
                .cls-1 {
                  fill: $white;
                }
              }
              &:hover {
                svg {
                  fill: $light-green;
                }
              }
            }
          }
          .subscribe-box {
            //min-height:165px;
            background-color: $hex-white-smoke;
            //padding: 25px;
            max-width: 390px;
            order: 2;
            margin-top: 36px;

            @include desktop-up {
              //padding-right: 14px;
              
            }
            @include desktop-down {
              max-width: 100%;
              margin-top: 25px;
            }
            @include phablet-down{
              margin-top: 18px;
            }
            h6 {
              font-size: 20px;
              line-height: 1.3;
              letter-spacing: normal;
              font-family: $font-families-InterM;
              padding-right: 0;
            }
            p {
              font-size: 12px;
              font-weight: normal;
              line-height: 1.5;
              letter-spacing: 0.16px;
              font-family: $font-families-gotham;
              padding: 24px 0 16px;
            }
            .button-box {
              margin-top: 6px;
              .btn-red {
                padding: 10px 27px 11px 30px;
              }
            }
            .search-box {
              position: relative;
              max-width: 350px;
              margin-top: 20px;

              @include desktop-down {
                max-width: 344px;
              }
              input {
                font-family: $font-families-gotham;
                background-color: $white;
                font-size: 16px;
                font-weight: normal;
                line-height: 1.21;
                letter-spacing: normal;
                color: $black;
                outline: none;
                border: solid 1px $primary7;
                max-width: 290px;
                width: 100%;
                margin: 0;
                box-sizing: border-box;
                appearance: none;
                //padding: 15px 60px 15px 36px;
                border-radius: 0;
                height: 54px;
                padding: 9px 20px 11px 14px;
                transition: all 0.3s ease;
                border-right-width: 0;
                &:focus {
                  border: solid 1px $light-green;
                  border-right-width: 0;
                }
              }
              input::placeholder {
                font-family: $font-families-gotham;
                background-color: $white;
                font-size: 16px;
                font-weight: normal;
                line-height: 1.21;
                letter-spacing: normal;
                color: $black;
                opacity: 0.4;
              }
              button {
                position: absolute;
                right: 0;
                top: 0;
                //bottom: 0;
                width: 56px;
                height: 54px;
                //margin: auto;
                outline: none;
                border: 0;
                cursor: pointer;
                letter-spacing: normal;
                font-family: $font-families-gotham;
                @include transition(all, 0.2s, ease-in-out);
                overflow: hidden;
                background: $wine-red;
                color: $white;
                .img-box {
                  width: 23px;
                  margin: 0 auto;
                  height: 10px;
                  img {
                    object-fit: contain;
                  }
                }

              }
            }
          }

          .tags-content {
            margin-top: 39px;
            @include tablet-down {
              margin-top: 20px;
            }
            h6 {
              font-family: $font-families-Inter;
              @include container-up {
                margin-bottom: 36px;
              }
            }
            ul {
              text-align: left !important;
              li {
                display: inline-block;
                opacity: 0.8;
                font-size: 12px;
                font-weight: normal;
                line-height: 1.67;
                letter-spacing: 0.36px;
                color: $black;
                background-color: $hexa-light-gray;
                font-family: $font-families-gotham;
                margin: 0 2px 8px;
                padding: 0px 5px 0 5px;
                transition: all 0.3s ease;
                cursor: pointer;
                @include container-down {
                  margin: 0 0px 10px;
                  padding: 0px 7px;
                }
                &:before {
                  display: none;
                }
                &:hover {
                  background-color: $light-green;
                  color: $white;
                }
              }
            }

          }

          .card-with-blog {
            order:1;

            h6 {
              margin-bottom: 43px;
              font-family: $font-families-InterM;
              padding-right: 0;
            }
            .card {
              display: flex;
              position: relative;
              flex-direction: row;
              margin: 12px 0;
              cursor: pointer;
              transition: all 0.3s ease;
              border: 1px solid #eaeaea;
              @include container-down {
                flex-direction: column;
                padding: 10px;
              }
              &:nth-child(3) {
                .img-box {
                  @include desktop-up{
                    max-height: 100px;
                  }
                  padding: 6px;
                }
              }
              .img-box {
                max-width: 100px;
                position: relative;
                overflow: hidden;
                max-height: 100px;
                @include desktop-up {
                  max-height: 98px;
                }
                @include container-down {
                  margin: 0 auto;
                }
                img {
                  object-fit: cover;
                  height: 100%;
                }
                .play-icon {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  margin: auto;
                  width: 77.9px;
                  height: 77.9px;
                  @include tablet-down {
                    width: 30px;
                    height: 30px;
                  }
                }
              }
              .content-btn {
                width: calc(100% - 100px);
                padding-left: 16px;
                //border: 1px solid #eaeaea;
                border-left: 0;
                padding-top: 11px;
                @include container-down {
                  width: calc(100%);
                  border: 0;
                  text-align: center;
                  padding: 15px 0;
                }
                h6 {
                  margin-bottom: 1px;
                  font-size: 18px;
                  font-weight: 600;
                  line-height: 1.33;
                  letter-spacing: normal;
                  font-family: $font-families-Inter;
                  padding-right: 0;
                  @include desktop-up {
                    -webkit-line-clamp: 2;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    height: auto;
                  }
                  @include container-down {
                    font-size: 18px
                  }
                  @include container-down {
                    text-align: center;

                  }
                  &:after {
                    display: none;
                  }
                }
                p {
                  font-size: 14px;
                  font-weight: 500;
                  font-family: $font-families-gotham;
                  line-height: 1.57;
                  letter-spacing: 0.28px;
                  color: $blackthin-light;
                  opacity: 0.6;
                }
                span {
                  font-size: 14px;
                  font-family: $font-families-gotham;
                  font-weight: 500;
                  line-height: 1.57;
                  letter-spacing: 0.28px;
                  color: $black;
                  margin-bottom: 9px;
                  display: block
                }
                .button-box {
                  margin-top: 9px;
                  .learn-more {
                    font-size: 12px;
                    line-height: 1.17;
                    letter-spacing: 0.24px;
                    font-weight: bold;
                    @include container-down {
                      padding-left: 0;
                    }
                    &:after {
                      top: 3px;
                    }
                  }
                }
              }
              &:hover {
                box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
                transition-delay: 0.3s;
              }
            }
          }

          .archives-content {
            margin-top: 39px;
            h6 {
              font-family: $font-families-Inter;
              @include container-up {
                margin-bottom: 36px;
              }

            }
            .calendar-box {
              strong {
                font-size: 12px;
                font-weight: 500;
                line-height: 1.67;
                letter-spacing: 0.36px;
                font-family: $font-families-gotham;
                display: block;
                color: $light-green;
              }

              .cover-ul {
                width: 100%;
                display: block;
                @include phone-down {
                  //display: block;
                }
                ul {
                  list-style: none;
                  width: 100%;
                  column-count: 2;
                  orphans: 1;
                  widows: 1;
                  @include container-up {
                    column-gap: 87px;
                  }

                  li {
                    padding-left: 0;
                    margin: 1px 0 6px;
                    width: 100%;
                    display: inline-block;
                    a {
                      font-size: 16px;
                      font-weight: normal;
                      line-height: 1.75;
                      letter-spacing: 0.16px;
                      font-family: $font-families-gotham;
                      color: $black;
                      position: relative;
                      display: inline;
                      transition: all 0.3s ease;
                      cursor: pointer;
                      &:after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        bottom: -1px;
                        left: 0;
                        background-color: $black;
                        transition: all 0.3s ease;
                      }
                      &:hover {
                        color: $wine-red;
                        &:after {
                          background-color: $wine-red;
                        }
                      }
                    }

                    &:before {
                      display: none;
                    }
                  }
                }
              }

            }
          }

        }
      }
    }
  }
}

//.blog-list-cards {
//  padding-top: 39px;
//
//  .column-wrapper {
//    .filter-oldest-news {
//      width: 100%;
//      display: block;
//      margin-bottom: 30px;
//      span {
//        display: inline;
//        &.date-filter {
//          font-family: $font-families-gotham;
//          font-size: 12px;
//          font-weight: 500;
//          line-height: 1.67;
//          letter-spacing: 0.36px;
//          color: $light-green;
//        }
//      }
//    }
//
//    .cover-two-col {
//      .card-grid {
//        .button-box {
//          @include desktop-up {
//            margin-top: 21px;
//          }
//
//        }
//        &.upper-card {
//          margin-top: -24px;
//
//        }
//
//        .grid {
//          @include desktop-up {
//            margin-top: -15px;
//          }
//          .card {
//            @include desktop-up {
//              margin: 15px auto 30px;
//            }
//
//          }
//        }
//        .filter-with-search {
//          display: block;
//          position: absolute;
//          right: 0;
//          top: 3px;
//          width: auto;
//          @include phablet-down {
//            position: relative;
//            right: auto;
//            top: auto;
//            width: 100%;
//            margin-bottom: 10px;
//          }
//          .set-position {
//            position: relative;
//            display: flex;
//            width: 100%;
//            .text-wrap {
//              @include desktop-up {
//                margin-right: 14px;
//              }
//              p {
//                font-size: 14px;
//                letter-spacing: 0.14px;
//                font-weight: normal;
//              }
//            }
//            .select-outer {
//              .select-plugin {
//                min-width: auto;
//
//                @include desktop-up {
//                  margin-right: 17px;
//                }
//                select {
//                  font-size: 14px;
//                  font-weight: 600;
//                  letter-spacing: 0.14px;
//                  font-family: $font-families-nunito;
//                  cursor: pointer;
//                }
//                &.none-arrow {
//                  margin-right: 0px;
//                  .search-box {
//                    cursor: pointer;
//                  }
//                  &:after {
//                    display: none;
//                  }
//                }
//
//              }
//            }
//          }
//
//        }
//        .heading-month {
//          margin-bottom: 20px;
//          max-width: 100%;
//          padding-right: 250px;
//          @include phablet-down {
//            margin-bottom: 0;
//          }
//          h6 {
//            line-height: 1.2;
//            letter-spacing: normal;
//            font-weight: 500;
//            position: relative;
//            width: calc(100%);
//            font-size: 20px;
//          }
//          &.boder-top {
//            margin-top: 52px;
//            padding-right: 0;
//            @include desktop-down {
//              margin-top: 30px;
//            }
//            h6 {
//              &:before {
//                content: "";
//                position: absolute;
//                width: 100%;
//                height: 2px;
//                top: -32px;
//                left: 0;
//                background-color: $primary7;
//                opacity: 0.3;
//                @include desktop-down {
//                  top: -15px;
//                }
//              }
//            }
//          }
//
//        }
//
//      }
//    }
//
//    .menu-item {
//      .cover-right-content {
//        @include desktop-up {
//          padding: 41px 36px 42px 44px !important;
//        }
//
//        .archives-content {
//          .calendar-box {
//            .cover-ul {
//              ul {
//                @include desktop-up {
//                  column-gap: 35px !important;
//                }
//              }
//            }
//          }
//        }
//      }
//    }
//  }
//}
