.margin-bottom{
  margin-bottom:64px;
  @include tablet-down{
    margin-bottom:32px;
  }
}
.feature-grid {
  @include desktop-up {
    padding-top: 60px;
    padding-bottom: 83px;
  }
  .bg-img {
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 66.8%;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      background-color: #212121;
      top: 0;
      bottom: 0;
      left: 0;
    }
    @include desktop-down {
      top: auto;
      bottom: 0;
    }
  }
  &.grey-pattern {
    z-index: 2;
    .outer-wrapper {
      z-index: 2;
    }
    &:after {
      z-index: 1;
    }
  }
  .intro-box{
    @include container-up {
      margin-bottom: 58px;
    }
    @include container-down {
      margin-bottom: 40px;
    }
  }
  .heading {
    padding-bottom: 31px;
  }
  .col-header {
    position: relative;
    margin: 8px auto 34px;
    max-width: 744px;
    width: 100%;
    @include media-breakpoint-only(md) {
      margin: 0 auto 20px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
      padding: 0 0 0px;
    }

    h3 {
      margin-top: 0;
    }
  }

  .column-wrap {
    position: relative;
    width: 100%;
    .pattern-animation {
      position: absolute;
      right: -4.4%;
      bottom: -46px;
      width: 310px;
      height: 317px;
      z-index: 0;
      opacity: 1;
      //@media screen and (min-width: 992px) and (max-width: 1240px) {
      //  right: 1%;
      //}
      @include container-down {
        right: -1%;
        width: 280px;
        height: 280px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      @include desktop-down {
        display: none;
      }
    }

  }
  .outer-wrapper {
    position: relative;
    font-size: 0;
    &:after {
      content: "";
      float: none;
      clear: both;
    }
    @include media-breakpoint-up(sm) {
      width: calc(100% + 16px);
      margin-left: -8px;
      text-align: left;
    }
    .col-wrapper {
      position: relative;
      height: 364px;
      overflow: visible;
      display: inline-block;
      vertical-align: top;
      width: calc(33.33% - 16px);
      margin: 0 8px 16px;
      @include media-breakpoint-only(md) {
        width: calc(50% - 16px);
        height: 300px;
      }
      @include media-breakpoint-only(sm) {
        width: calc(50% - 16px);
        height: 300px;
      }
      @include media-breakpoint-only(xs) {
        width: 100%;
        display: block;
        float: none;
        clear: both;
        margin: 10px 0px;
        height: 300px;
        transition: height 0.4s ease-in-out;
      }

      &.no-read-more {
        .content-wrap {
          .open-close-link {
            display: none;
          }
        }
      }
      &:nth-child(even) {
        @include media-breakpoint-only(md) {
          .content-wrap {
            left: auto;
            right: 0;
          }
        }
        @include media-breakpoint-only(sm) {
          .content-wrap {
            left: auto;
            right: 0;
          }
        }
      }

      &:nth-child(3n) {
        @include media-breakpoint-up(lg) {
          .content-wrap {
            left: auto;
            right: 0;
          }
        }
      }

      &.active {
        .content-wrap {
          h3 {
            max-height: 65px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            @include media-breakpoint-only(xs) {
              max-height: 49px;
            }
          }
          p {
            height: 168px;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            overflow: hidden;
            @include media-breakpoint-only(sm) {
              height: 153px;
            }
            @include media-breakpoint-only(xs) {
              max-height: 155px;
            }
          }

        }
      }

      &.single-item {
        .content-wrap {
          .text-outer {
            overflow-y: auto;
            &::-webkit-scrollbar {
              width: 4px;
              height: 30px;
            }
            /* Track */
            &::-webkit-scrollbar-track {
              box-shadow: inset 0 0 5px $gray;
              border-radius: 10px;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
              background: $black;
              border-radius: 10px;
            }
          }
        }
      }

      &.slide-active {
        .content-wrap {
          background-color: $white;
          z-index: 3;
          box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
          .close-btn {
            opacity: 1;
            cursor: pointer;
            visibility: visible;
          }
        }

        .text-outer {
          max-height: 248px;
          overflow:hidden;
          @include media-breakpoint-only(sm) {
            max-height: 130px;
          }
          @include media-breakpoint-down(xs) {
            max-height: 93%;
          }
          p {
            margin-bottom: 15px;
            @include container-up {
              margin-top: 12px;
            }
          }
        }

        .open-close-link {
          @include media-breakpoint-down(xs) {
            bottom: 13px;
          }
        }

        &.col-wrapper {

        }
      }

      .content-wrap {
        box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.05);
        border: none;
        background-color: $white;
        padding: 41px 44px 30px 41px;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 1;
        width: 100%;
        transition: all 0.4s ease-in-out;
        opacity: 0;
        @include media-breakpoint-only(lg) {
          padding: 30px;
        }
        @include media-breakpoint-down(md) {
          padding: 25px;
        }
        @include media-breakpoint-only(xs) {
          width: 100% !important;
        }
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 4px;
          background: -moz-linear-gradient(93deg, #0086a1 0%, #00b7c6 100%);
          background: -webkit-linear-gradient(93deg, #0086a1 0%, #00b7c6 100%);
          background: linear-gradient(93deg, #0086a1 0%, #00b7c6 100%);
          top: 0;
          left: 0;
          z-index: 2;
        }
        h3 {
          line-height: 1.3;
          color: $dark-green;
        }

        p {
          margin-top: 17px;
          margin-bottom: 21px;
          letter-spacing: normal;
          @include media-breakpoint-down(md) {
            margin-top: 5px;
            margin-bottom: 15px;
          }

        }

        .close-btn {
          position: absolute;
          right: 24px;
          top: 24px;
          width: 26px;
          height: 26px;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.5s ease-in-out;
          @include media-breakpoint-only(md) {
            right: 12px;
            top: 12px;
          }
          @include media-breakpoint-down(sm) {
            right: 8px;
            top: 10px;
            width: 22px;
            height: 22px;
          }
          img {

          }
        }
      }

      .open-close-link {
        position: absolute;
        left: 40px;
        bottom: 34px;
        cursor: pointer;
        @include media-breakpoint-down(md) {
          left: 25px;
        }
        @include media-breakpoint-only(lg) {
          bottom: 26px;
          left: 30px;
        }

        @include media-breakpoint-only(sm) {
          bottom: 13px;
        }

        @include media-breakpoint-only(md) {
          bottom: 12px;
          left: 25px;
        }
        @include media-breakpoint-only(xs) {
          bottom: 17px;
        }

        span {
          width: 100%;
          height: 22px;
          display: inline-block;
          transition: opacity 0.5s ease-in-out;
          color: black;
          font-size: 12px;
          letter-spacing: 0.24px;
          font-family: $font-families-gotham;
          font-weight: bold;

          &.open-link {
            z-index: 2;
            opacity: 1;
            position: relative;
            visibility: visible;
            &:after {
              content: '';
              position: absolute;
              top: 33%;
              right: -16px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 4px 5px;
              transform: rotate(90deg);
              z-index: 10;
              border-color: transparent transparent $black;
              @include desktop-down {
                right: -10px;
              }
            }
          }

          &.close-link {
            z-index: 1;
            opacity: 0;
            position: absolute;
            visibility: hidden;
            &:after {
              content: '';
              position: absolute;
              top: 30%;
              right: -16px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 4px 5px;
              transform: rotate(273deg);
              z-index: 10;
              border-color: transparent transparent $black;
              @include desktop-down {
                right: -10px;

              }
            }
          }
        }

        &.close-active {
          span {
            &.open-link {
              z-index: 1;
              opacity: 0;
              position: absolute;
              visibility: hidden;
            }

            &.close-link {
              z-index: 2;
              opacity: 1;
              position: relative;
              visibility: visible;
            }
          }
        }
      }
    }
  }
}