.filter-block {
  padding: 26px 0;
  position: relative;
  .container-box {
    position: relative;
    padding-bottom: 26px;
    &:after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 1px;
      background: $primary5;
    }
  }

  .content-wrapper {
    display: flex;
    align-items: center;
    @include phablet-down {
      display: block;
    }
    .filter-wrap {
      display: flex;
      width: calc(100% - 20%);
      float: left;
      flex-wrap: wrap;
      justify-content: left;
      @include desktop-down {
        padding: 0 0 0 40px;
        display: block;
      }
      @include phablet-down {
        padding: 0 0 0 40px;
        display: block;
        width: 100%;
      }
      .check-content {
        position: relative;
        display: flex;
        align-items: flex-start;
        @include desktop-up {
          margin: 0 23px;
          width: calc(33% - 46px);
        }
        p {
          font-family: $font-families-gotham;
          font-size: 16px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.75;
          letter-spacing: 0.16px;
          @include desktop {
            font-size: 14px;
          }
        }
        .arrow-icon {
          display: inline-block;
          position: relative;
          top: 1px;
          right: -3px;
          z-index: 1;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 6px solid #000000;
          transform: rotate(180deg);
          transition: 0.5s all ease-in-out;
        }
        input {
          opacity: 0;
          position: absolute;
          width: 20px;
          height: 20px;
          left: -35px;
          z-index: 1;
          cursor: pointer;
          @include desktop {
            left: -24px;
          }
        }
        input[type="checkbox"] {
          & + label {
            position: relative;
            display: inline-block;
            vertical-align: top;
            font-family: $font-families-InterM;
            font-size: 16px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.75;
            letter-spacing: 0.16px;
            text-align: left;
            color: $black;
            border: none;
            cursor: pointer;
            @include desktop {
              font-size: 14px;
            }
            &:before {
              border: solid 2px $primary4;
              content: "";
              cursor: pointer;
              display: inline-block;
              width: 20px;
              height: 20px;
              position: absolute;
              transition: 0.3s all ease-in-out;
              right: auto;
              left: -36px;
              top: 4px;
              //bottom: 0;
              margin: auto;
              background-size: 100%;
              opacity: 1;
              visibility: visible;
              @include desktop {
                left: -24px;
              }
              //@include desktop {
              //  left: -24px;
              //}
            }
            &:after {
              background-image: url(/themes/rms/templates/dist/images/blue-check.png);
              width: 21px;
              height: 21px;
              top: 4px;
              //bottom: 0;
              left: -36px;
              right: auto;
              margin: auto;
              transition: 0.3s all ease-in-out;
              background-size: 100%;
              content: '';
              display: block;
              position: absolute;
              opacity: 0;
              visibility: hidden;
              @include desktop {
                left: -24px;
              }
              //@include desktop {
              //  right: -24px;
              //}
            }

          }
          &:checked {
            & + label {
              &:before {
                border: none;
              }
              &:after {
                opacity: 1;
                visibility: visible;
              }
            }
          }

        }
      }
    }
    .reset-filter {
      margin-left: 98px;
      width: 20%;
      display: flex;
      vertical-align: top;
      float: right;
      @include container-up {
        padding-left: 112px;
      }
      @include phablet-down {
        margin-left: 29px;
        margin-top: 11px;
        width: 100%;
        display: block;
        float: left;
      }
      p {
        font-family: $font-families-gotham;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: left;
        position: relative;
        cursor: pointer;
        &:before {
          content: "";
          position: absolute;
          top: 2px;
          left: -24px;
          background-image: url(/themes/rms/templates/dist/images/loading.svg);
          background-repeat: no-repeat;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .filter-bottom {
    padding-top: 37px;

    //selectboxit///
    select {
      background: transparent;
      border: 0;
      z-index: 9 !important;
    }
    .selectboxit-container {
      width: 100%;
      .selectboxit {
        width: 100% !important;
        border: 0;
        background: transparent;
        box-shadow: none;
        border-radius: 0;
        text-transform: capitalize;
        outline: none !important;
        border: none !important;
        .selectboxit-option-icon-container {
          @include media-breakpoint-only(md) {
            margin-left: 0;
          }
        }
      }
      .selectboxit-arrow {
        display: none;
      }
      .selectboxit-text {
        //font-size: 14px;
        //font-family: $font-families;
        //font-weight: 500;
        //color: #474c56;
        text-transform: capitalize;
        font-family: $font-families-Inter;
        position: relative;
        background-color: $white;
        font-size: 16px;
        line-height: 1.75;
        letter-spacing: 0.16px;
        color: $blackthin-light;
        font-weight: 600;
        cursor: pointer;
        outline: none;
        border: 0;
        padding-right: 20px;
        margin: 0;
        box-sizing: border-box;
        appearance: none;
        border-radius: 0;
        width: 100%;
        min-width: 80px;
      }
      .selectboxit-options {
        background-color: white;
        border-radius: 5px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        width: 100%;
        min-width: 120px !important;
        height: 140px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
        border: solid 1px $white;
        text-transform: capitalize;
        font-size: 14px;
        font-family: $font-families;
        font-weight: 500;
        color: $black;
        top: 40px !important;
        z-index: 4;
        left: -15px;
        position: absolute;
        /* top: -10px; */
        overflow: auto;
        display: none;

        outline: none;
        &:focus {
          box-shadow: none;
          border: none;
          outline: none;
        }
        &:hover {
          color: $green !important;
        }
        .selectboxit-option {
          &:hover {
            background-color: $hovgray;
          }
        }
        .selectboxit-selected {
          background: none;
          color: $green;
          position: relative;
          font-family: $font-families;
          font-weight: 500;
          &:after {
            content: '';
            //background-image: url(/wp-content/themes/agari/templates/dist/images/right-check.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: 12px;
            height: 9px;
            border: none;
            position: absolute;
            right: 10%;
            bottom: 30%;
          }
        }
      }
      .selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
        background: transparent;
        color: $green !important;
      }
    }

    //////

    .filter-outer {
      float: none;
      width: 100%;
      display: flex;
      .text-wrap {
        margin-right: 21px;
        p {
          font-size: 16px;
          font-weight: normal;
          line-height: 1.75;
          letter-spacing: 0.16px;
        }
      }

      .select-outer {
        display: flex;
        .select-plugin {
          display: flex;
          min-width: 60px;
          margin-right: 23px;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            top: 41%;
            right: 4px;
            z-index: 1;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 6px solid $black;
            transform: rotate(180deg);
            transition: 0.5s all ease-in-out;
            outline: none;
            //@media only screen and (max-width: 329px) {
            //  top: 24%;
            //}
            &:focus {
              box-shadow: none;
              border: none;
              outline: none;
            }
          }
          select {
            font-family: $font-families-Inter;
            position: relative;
            background-color: $white;
            font-size: 16px;
            line-height: 1.75;
            letter-spacing: 0.16px;
            color: $blackthin-light;
            font-weight: 600;
            cursor: pointer;
            outline: none;
            border: 0;
            padding-right: 20px;
            margin: 0;
            box-sizing: border-box;
            appearance: none;
            border-radius: 0;
            width: 100%;
            min-width: 60px;
            opacity: 0 !important;
            visibility: visible !important;
            //-webkit-appearance: none !important;
            background: none !important;
            border: none;
            &:focus {
              outline: none;
              border: none;
            }

          }
          select::-ms-expand {
            display: none;
          }

        }
      }

    }
  }
  &.news-filter {
    padding: 26px 0 22px;
  }
}