//.footer-cta{
//  background-color: #acaec1;
//  .footer-cta-blog{
//    width: 100%;
//    float: left;
//    .left-content{
//      float: left;
//      .text-with-btn{
//        .bg-logo{
//          img{
//          }
//          .text {
//
//            h2 {
//
//            }
//          }
//        }
//      }
//    }
//    .right-content{
//      float: right;
//      .btn-wrap{
//        text-align: right;
//        position: relative;
//        top:70px;
//        right: 0;
//        a{
//          padding: 10px 20px;
//          color: #fff;
//          background-color: #6d6e7b;
//          font-size: 14px;
//          text-transform: uppercase;
//          border-radius: 10px;
//          font-weight: 700;
//          letter-spacing: .05em;
//          transition: all .3s ease;
//          position: relative;
//          overflow: hidden;
//          span{
//
//          }
//        }
//      }
//    }
//  }
//}
