//.white-grid{
//  .pattern-animation{
//    background-image: url("/themes/rms/templates/dist/images/svg/white-grid-new.svg");
//    background-size: 100% 100%;
//    width: 311px !important;
//    height: 311px  !important;
//    transform: none;
//    background-repeat: no-repeat;
//    overflow: hidden;
//    svg{
//      display:none;
//    }
//  }
//}

.blue-grid{
  .pattern-animation{
    &:after{
      position: relative;
    }
    background-image: url("/themes/rms/templates/dist/images/svg/blue-grid-new.svg");
    background-size: 100% 100%;
    width: 311px !important;
    height: 311px  !important;
    transform: none;
    background-repeat: no-repeat;
    overflow: hidden;
    svg{
      display:none;
    }
  }
}
.bg-white-grid{
  background-color: transparent;
  .bg-img{
    background-image: linear-gradient(116deg, #ffffff, #ffffff)!important;
  }
}