.hero-slider {
  overflow: visible;
  z-index: 0;
  &.active {
    opacity: 1;
  }
  .separator {
    position: relative;
    width: 100%;
    .bg-white {
      padding: 18px 20px 19px;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        bottom: 8.6%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $primary6;
        opacity: 0.2;
      }
    }
  }

  .slider-outer {
    padding: 0 73px 0 32px;
    opacity: 0;
    @include phone-down {
      padding: 0 43px 0 10px;
    }
    .item-box {
      display: flex;
      flex-basis: calc(33.33% - 3px);
      max-width: calc(33.33% - 3px);
      padding: 0 0 0;
      margin: 0 20px 0 0;
      position: relative;
      outline: none;
      //cursor: pointer;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background: $light-gray;
        @include phablet-down {
          display: none;
        }
      }
      &:nth-child(3) {
        &:after {
          display: none;
        }
      }
      .image-box {
        max-width: 64px;
        height: 64px;
        width: 100%;
        overflow: hidden;
        @include phablet-down {
          max-width: 44px;
          height: 44px;
        }
        a {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.3s all ease-in-out;
        }
      }
      .small-head {
        display: block;
        font-family: $font-families-gotham;
        font-size: 12px;
        text-align: left;
        color: $light-green;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: 0.36px;
        @include container-up {
          padding-bottom: 5px;
        }
      }
      h5 {
        font-family: $font-families-Inter;
        @include container-up {
          font-size: 16px;
          padding-right: 9px;
        }
        font-weight: bold;
        line-height: 1.35;
        letter-spacing: normal;
        text-align: left;
        transition: 0.3s all ease-in-out;
        @include phablet-down {
          font-size: 14px;
        }
        a {
          color: $black;
        }
      }
      .content-box {
        margin: 0 15px 0;
        max-width: 260px;
        @include tablet-down {
          margin: 0 62px 0 10px;
        }
        @include phablet-down {
          margin: 0 32px 0 10px;
        }
      }
      &:hover {
        .image-box {
          img {
            //transform: scale(1.08);
            
          }
        }
        h5 {
          //font-weight: 800;
        }
      }
    }

    .slick-arrow {
      text-indent: -99999px;
      position: absolute;
      top: 9px;
      height: 13px;
      width: 29px;
      outline: none;
      cursor: pointer;
      &.slick-prev {
        background: url('/themes/rms/templates/dist/images/arrow-right-small.svg') no-repeat;
        background-size: 25px;
        top: 42px;
        right: 44px;
        transform: rotate(180deg);
        z-index: 1;
        @include phablet-down {
          background-size: 18px;
          top: 23px;
          right: 23px;
        }
      }

      &.slick-next {
        background: url('/themes/rms/templates/dist/images/arrow-right-small.svg') no-repeat;
        background-size: 25px;
        right: 41px;
        left: auto;
        top: 12px;
        z-index: 1;
        @include phablet-down {
          background-size: 18px;
          top: 4px;
          right: 11px;
        }
      }
      &.slick-disabled {
        opacity: 0.2;
        cursor: auto;
      }
    }
  }
  &.overlap {
    overflow: visible;
    z-index: 0;
    margin-bottom: -38px;
    top: -100%;
    transform: translateY(-90%);
    min-height: 72px;
    @media screen and (max-width: 1300px) {
      max-width: 96%;
    }
    @include desktop {
      margin-bottom: -41px;
    }
    @include phablet {
      transform: translateY(-80%);
    }

  }
  &.no-overlap {
    top: 0;
    transform: translateY(0);
    margin: 0;
  }
}
