.hero-banner {
  height: 769px;
  padding: 0;
  position: relative;
  @include media-breakpoint-only (md) {
    height: 700px;
  }
  @include media-breakpoint-down (sm) {
    height: 700px;
  }
  &.video-banner {
    .bg-img {
      display: none;
    }
    .video-wrapper {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: block;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .video-wrapper {
    display: none;
  }
  .location-box {
    bottom: 3%;
    right: 0;
    min-width: 164px;
    padding: 0;
    float: right;
    position: relative;
    z-index: 9;
    @media screen and (max-width: 1300px) {
      right: -13px;
    }
    .place-location {
      cursor: pointer;
      float: right;
      span {
        float: right;
        z-index: 9;
        p {
          font-family: $font-families-gotham;
          font-size: 11px;
          font-weight: 500;
          line-height: 1.36;
          letter-spacing: normal;
          color: $white;
          position: relative;
          padding: 0;
          opacity: 0;
          visibility: hidden;
        }
        &:after {
          content: "";
          position: absolute;
          background-image: url("/themes/rms/templates/dist/images/svg/Mask.svg");
          width: 19px;
          height: 19px;
          right: 19px;
          top: 0;
          bottom: 0;
          margin: auto;
          background-size: 100%;
          @include phablet-down {
            width: 14px;
            height: 14px;
          }
        }
      }
    }
  }
  .banner-content {
    position: absolute;
    align-items: center;
    display: flex;
    height: 100%;
    top: 0;
    left: 0;
  }

  .side-button {
    position: absolute;
    top: 50%;
    right: -406px;
    min-height: 280px;
    transform: translateY(-50%);
    transition: 0.5s right ease-in-out;
    z-index: 1;
    &.active {
      right: 0;
    }
    &:hover {
      right: -43px;
    }
    @include desktop-down {
      display: none;
    }
    .intro {
      background-image: linear-gradient(to bottom, #0086a1, #004c6c);
      transform: rotate(90deg);
      position: absolute;
      left: -37.4%;
      bottom: 42.5%;
      width: 282px;
      z-index: 2;
      cursor: pointer;
      h6 {
        color: $white;
        cursor: pointer;
        text-align: center;
        padding: 7px 0;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        letter-spacing: 0.06em;
      }
    }
    .top-img {
      max-width: 422px;
      height: 145px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .text-block {
      background-color: $white;
      padding: 19px 29px 17px;
      h5 {
        padding-bottom: 0;
        font-weight: bold;
        line-height: 1.35;
        letter-spacing: normal;
      }
      p {
        padding: 5px 0 5px;
        line-height: 1.57;
        letter-spacing: normal;
        font-size: 14px;
      }
      .learn-more {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.25;
        letter-spacing: normal;
        margin-top: 11px;
        &:after {
          top: 6px;
        }
      }
    }
  }
  .col-outer {
    height: 100%;
    .content-outer {
      padding: 36px 66px 95px 36px;
      @include media-breakpoint-between (md, lg) {
        padding: 0 0 60px
      }
      @include media-breakpoint-only (sm) {
        padding: 0 0px 5px 7px;
      }
      @include media-breakpoint-down(sm) {
        padding: 0 0px 5px 7px;
      }

      h1 {
        color: $white;
        font-size:48px;
        font-weight: bold;
        line-height: 1.18;
        letter-spacing: 0.56px;
        span{
          font-family:$font-inter-regular;
        }
      }

      h5 {
        color: $white;
        margin: 22px 0 23px;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.35;
        letter-spacing: normal;
        @include media-breakpoint-only(md) {
          margin: 10px 0 15px;
        }
        @include media-breakpoint-down (sm) {
          margin: 10px 0 10px;
          font-size: 18px;
        }

      }

      .button-box {
        margin-left: 3px;
        @include container-up {
          margin-top: 50px;
        }
        @include media-breakpoint-down(md) {
          margin-top: 30px;
        }
        .btn-transparent {
          margin-left: 11px;
          @include media-breakpoint-down (sm) {
            margin-left:8px;
          }
          background-color: $white;
          color: $wine-red !important;
          &:hover {
            background-color: $lighter-grey;
            box-shadow: 0 0 0 2px $lighter-grey;
          }
        }
      }
    }
  }
}
