.image-with-slider {
  ul {
    text-align: left;
    li {
      position: relative;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      padding: 0px;
      line-height: 1.5;
      letter-spacing: 0.5px;
      list-style: disc;
      list-style-position: inside;
      color: $black;
      //padding-left: 20px;
      margin: 10px 0;
      font-family: $font-families-gotham;
      @include tablet {
        font-size: 16px;
      }
      @include tablet-down {
        font-size: 16px;
      }
      //&:before {
      //  content: '';
      //  position: absolute;
      //  left: 0;
      //  top: 11px;
      //  width: 8px;
      //  height: 8px;
      //  border-radius: 50%;
      //  background: $razzmatazz;
      //  @include tablet-down {
      //    top: 8px;
      //    //width: 6px;
      //    //height: 6px;
      //  }
      //}
    }
  }
  @include container-up {
    padding: 97px 0 81px;
  }
  @include desktop {
    padding: 80px 0;
  }
  .intro-block {
    text-align: center;
    max-width: 799px;
    margin: 0 auto 76px;
    @include desktop-down {
      margin: 0 auto 40px;
    }
    h2 {
      margin-bottom: 32px;
      font-weight: bold;
      line-height: 1.47;
      letter-spacing: 0.45px;
      &.green-border {
        &:after {
          bottom: -11.1px;
        }
      }
    }
  }
  .award-top-carousel {
    position: relative;
    .pattern-animation {
      position: absolute;
      top: -12%;
      left: -3.3%;
      width: 294px;
      height: 369px;
      z-index: -1;
      @include desktop-down {
        display: none;
      }
      @media screen and (min-width: 1025px) and (max-width: 1240px) {
        left: 0.5%;
      }
      @include desktop-mid{
        left: -1.5%;
      }
      img, svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .rectangle-box {
      top: 181px;
      right: -98px;
    }
    .slider-outer {
      opacity: 0;
      .items {
        outline: none;
        @include desktop-down {
          margin: 0 10px;
        }
        @include tablet-down {
          padding-bottom: 30px;
          margin: 0 10px;
        }
        @include phablet-down {
          margin: 0 5px;
        }
        &.slick-active {
          @include desktop-up {
            .media-block {
              transform: translateY(0);
            }
            .content-block {
              transform: translateX(0);
              opacity: 1;
              visibility: visible;
            }
          }
        }
        &:after {
          content: "";
          display: block;
          clear: both;
        }
      }
      .col-two {
        @include desktop-down {
          width: 100%;
        }
      }
      .media-block {
        min-height: 500px;
        @include container-up {
          width: calc(50% - 47px);
          padding: 0 9px 0 0px;
        }
        @include desktop-down {
          min-height: 100%;
        }
        .img-wrapper {
          position: relative;
          max-height: 500px;
          max-width: 500px;
          overflow: hidden;
          margin: 0;
          @include container-up {
            //margin: 0 auto 0 21px;
            margin: 0 auto;
          }
          @include desktop-down {
            margin: 0 auto;
            max-width: 370px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .top-border {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 3px;
            //background: linear-gradient(91deg, #0086a1 0%, #004c6c 100%);
            background: -webkit-linear-gradient(489deg, #0086a1 0%, #004c6c 100%);
          }
        }
        .shared-icon {
          position: absolute;
          bottom: -110px;
          right: 18px;
          opacity: 0;
          visibility: hidden;
          transition: 0.3s all ease-in-out;
          margin-bottom: 9px;
          .icon-box {
            width: 24px;
            height: 24px;
            display: block;
            margin: 0 0 8px 0;
            position: relative;
            transition: 0.3s all ease-in-out;
            top: 0;
            &:hover {
              top: -3px;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

        }
        &:hover {
          .shared-icon {
            opacity: 1;
            visibility: visible;
            bottom: 0;

          }
        }
      }
      .content-block {
        padding-left: 19px;
        padding-right: 25px;
        text-align: left;
        @include desktop {
          padding-left: 30px;
        }
        @include desktop-down {
          padding: 0;
          max-width: 100%;
          text-align: center;
        }
        h3 {
          max-width: 500px;
          font-weight: bold;
          line-height: 1.33;
          letter-spacing: normal;
          color: $dark-green;
          margin: 27px 0 28px;
          @include desktop {
            margin: 18px 0;
          }
          @include desktop-down {
            max-width: 100%;
            text-align: center;
            margin: 27px 0 10px;
          }
        }
        p {
          margin: 21px 0;
          font-size: 20px;
          font-weight: normal;
          font-family: $font-families-gotham;
          line-height: 1.5;
          letter-spacing: 0.5px;
          @include desktop {
            margin: 21px 0 15px;
          }
          @include phablet {
            font-size: 18px;
          }
          @include phablet-down {
            font-size: 16px;
          }
        }
        .author-box {
          margin: 26px 0;
          @include desktop {
            margin: 15px 0 15px;
          }
          h6 {
            margin: 2px 0 1px;
            letter-spacing: 0.04em;
            font-family: $font-families-gotham;
            @include desktop-down {
              text-align: center;
            }
          }
          p {
            font-size: 18px;
            margin: 0;
            letter-spacing: 0.01em;
          }
        }
        .button-box {
          margin: 31px 0 20px 0;
        }
      }
    }

    .button-wrap {
      position: absolute;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 0;
      opacity: 1;
      @include container-up {
        bottom: 0;
        left: 34px;
      }
      @include desktop {
        bottom: -35px;
        left: 90px;
      }
      @include desktop-down {
        max-width: 100%;
        position: relative;
        bottom: 0px;
        padding-top: 15px;
      }
      //@include tablet-down {
      //}
      .pre-btn {
        background: url(/themes/rms/templates/dist/images/arrow-right-small.svg) no-repeat;
        background-size: 28px;
        transform: rotate(180deg);
        z-index: 1;
        display: inline-block;
        width: 29px;
        height: 15px;
        position: relative;
        left: -12px;
        cursor: pointer;
        vertical-align: top;
        &.slick-disabled {
          opacity: 0.3;
          cursor: auto;
        }
      }
      .next-btn {
        background: url(/themes/rms/templates/dist/images/arrow-right-small.svg) no-repeat;
        background-size: 28px;
        z-index: 1;
        display: inline-block;
        vertical-align: top;
        width: 29px;
        height: 15px;
        position: relative;
        right: -12px;
        cursor: pointer;
        &.slick-disabled {
          opacity: 0.3;
          cursor: auto;
        }
      }
      .slick-dots {
        display: flex;
        justify-content: center;
        li {
          display: inline-block;
          position: relative;
          width: 6px;
          height: 6px;
          margin: 0 3px;
          padding: 0;
          &:before {
            display: none;
          }
          button {
            outline: none;
            width: 6px;
            height: 6px;
            background: $light-green;
            opacity: 0.5;
            text-indent: 999999px;
            border-radius: 50%;
            cursor: pointer;
          }
          &.slick-active {
            button {
              background: $light-green;
              opacity: 1;
            }
          }
        }
      }
    }
  }
  &.ri-award {
    @include desktop-up {
      padding-top: 0;
    }
    .button-wrap {

      @include container-up {
        bottom: -5px;
        left: 29px;
      }
      @include container-down {
        max-width: 100%;
        position: relative;
        bottom: 0px;
        padding-top: 15px;
        left: auto;
      }

    }
  }
}

.service-page-overview {
  @include container-up {
    padding: 93px 0 92px;
  }
  @include phablet-down {
    padding-bottom: 60px;
  }

  .button-wrap {
    @include container-up {
      bottom: 95px !important;
      left: 38px !important;
    }
    @include desktop {
      bottom: 10px !important;
      left: 51px !important;
    }
  }
  .award-top-carousel {
    .pattern-animation {
      @include container-up {
        top: -11%;
        left: -4.3%;
      }
      svg {
        &:nth-child(2) {
          display: none;
        }
      }
    }
    .slider-outer {
      .items {
        @include tablet {
          margin: 0 10px 0 10px;
        }
        @include phablet {
          margin: 0 10px 0 10px;
        }
        @include phablet-down {
          margin: 0 5px 0 5px;
        }
        .button-wrap {
          padding-top: 20px;
        }
      }
      .media-block {
        @include desktop-up {
          width: calc(50% - 45px);
        }

        .img-wrapper {
          @include desktop-up {
            margin: 0 auto 0 3px;
            height: 500px;
          }
          @include phablet-down {
            margin: 0 auto;
          }

        }
      }
      .content-block {
        @include container-up {
          padding-right: 50px;
        }
        h3 {
          @include container-up {
            margin: 17px 0 21px;
          }
        }
        .author-box {
          @include container-up {
            margin: 26px 0;
          }
          p {
            letter-spacing: normal;
            @include container-up {
              max-width: 535px;
            }

          }
          h6 {
            letter-spacing: normal;
          }
        }
      }

    }

  }

  &.solution-page-award-slider {
    @include container-up {
      padding: 96px 0 87px;
    }
    @include phablet-down {
      padding-bottom: 60px;
    }
    .button-wrap {
      @include container-up {
        bottom: 95px !important;
        left: 38px !important;
      }
      @include desktop {
        bottom: 10px !important;
        left: 51px !important;
      }
    }
    .award-top-carousel {
      .slider-outer {
        .items {
          @include tablet {
            margin: 0 10px 0 10px;
          }
          @include phablet {
            margin: 0 10px 0 10px;
          }
          @include phablet-down {
            margin: 0 5px 0 5px;
          }
        }
        .media-block {
          @include desktop-up {
            width: calc(50% - 46px);
          }
          .img-wrapper {
            @include desktop-up {
              margin: 0 auto 0 2px;
            }
          }
        }
      }
    }
  }
}

.data-detail-page {
  background-color: $rect-gray;
  .items {
    @include tablet {
      margin: 0 10px 0 10px;
    }
    @include phablet {
      margin: 0 10px 0 10px;
    }
    @include phablet-down {
      margin: 0 5px 0 5px;
    }
  }
  h2 {
    text-align: left;
    position: relative;
    font-family: $font-families-nunito;
    font-weight: bold;
    line-height: 1.16;
    letter-spacing: normal;
    margin-bottom: 29px;
    padding-bottom: 9px;
    @include desktop-down {
      margin-bottom: 0;
      padding-bottom: 0;
    }
    @include tablet-down {
      text-align: center;
    }
  }
  p {
    margin-bottom: 34px;
    @include container-up {
      max-width: 550px;
    }
    @include desktop-down {
      margin-bottom: 18px;
      margin-top: 20px;
    }
    @include tablet-down {
      margin-bottom: 12px;
      margin-top: 15px;
    }
  }
}

.service-detail-page-slider {
  @include container-up {
    padding-top: 76px;
    padding-bottom: 54px;
  }
  .button-wrap {
    @include container-up {
      bottom: 6px !important;
      left: 39px !important;
    }
    @include desktop {
      bottom: 6px !important;
      left: 92px !important;
    }

  }
  .award-top-carousel {
    .pattern-animation {
      @include container-up {
        top: -11%;
        left: -4.3%;
      }
    }
    .slider-outer {
      .media-block {
        .img-wrapper {
          @include container-up {
            margin: 0 0;
          }
          //@media screen and (min-width: 1420px) {
          //  margin: 0 auto 0 21px !important;
          //}
        }
      }
      .content-block {
        @include container-up {
          padding-left: 19px;
          padding-right: 10px;
        }
        h3 {
          @include container-up {
            max-width: 507px;
            margin: 18px 0 24px;
          }
          @include desktop {
            max-width: 507px;
            margin: 0px 0 2px;
            font-size: 26px;
          }
        }
        p {
          @include container-down {
            font-size: 18px;
            margin: 15px 0;
          }
          @include desktop {
            margin: 0;
          }
        }
        .author-box {
          @include container-up {
            margin-bottom: 45px;
          }
          @include desktop {
            margin: 8px 0;
          }
          @include tablet {
            margin: 12px 0;
          }
          h6 {
            letter-spacing: normal;
          }
          p {
            letter-spacing: normal;
          }
        }
      }

    }
  }

  &.gated-resource-page-slider {
    @include container-up {
      padding: 71px 0 92px;
    }
    .button-wrap {
      @include container-up {
        bottom: 16px !important;
      }
      @include desktop {
        bottom: 15px !important;
      }
      @include tablet {
        position: relative;
        bottom: 0px;
        padding-top: 15px;
      }
    }
    .award-top-carousel {
      .slider-outer {
        .media-block {
          .img-wrapper {
            @include container-up {
              margin: 0 0;
              padding-left: 0px;
              max-width: 501px;
            }

          }
        }
        .content-block {
          @include container-up {

          }
          h3 {
            font-family: $font-families-nunito;
            @include container-up {
              font-size: 30px;
              max-width: 507px;
              margin: 7px 0 24px;
            }
          }
        }

      }
    }
  }
}
