.image-gallery {
  padding-top: 0;
  .bg-img {
    position: absolute;
    left: 0;
    width: 100%;
    background-image: linear-gradient(111deg, #0a0a0a 1%, #4b4b4b 100%);
    top: 32.1%;
    height: 68%;
    @include desktop-down {
      top: auto;
      bottom: 0;
      height: 72%;
    }
  }

  .column-wrap {
    position: relative;
    width: 100%;
    .pattern-animation {
      position: absolute;
      right: -4.4%;
      bottom: -4.4%;
      width: 410px;
      height: 410px;
      z-index: 0;
      opacity: 0.7;
      @media only screen and (max-width: 1350px) and (min-width: 992px) {
        right: -10px;
        bottom: -12%;
        width: 350px;
        height: 350px;
      }

      svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      @include desktop-down {
        display: none;
      }
    }
    .col-grid {
      width: calc(100%);
      position: relative;
      margin: 0 auto;
      justify-content: center;
      display: block;
      //float:left;
      .content-box {
        position: relative;
        height: 380px;
        margin: 9px 18px 18px 0px;
        overflow: hidden;
        width: calc(34% - 26px);
        display: inline-block;
        //float:left;
        vertical-align: top;
        @include container-up {
          max-width: 380px;
        }
        @include desktop-down {
          width: calc(50% - 10px);
          margin: 8px 8px 8px 7px;
          height: 300px;
        }
        @include phablet-down {
          width: calc(100%);
          margin: 10px 0;
          height: 260px;
        }
        &:nth-child(1) {
          @include desktop-up {
            margin: 9px 18px 18px 0px !important;
          }
          @include desktop {
            margin: 9px 18px 18px 0px !important;
          }
        }
        &:nth-child(3) {
          @include desktop-up {
            margin: 9px 18px 18px 0px !important;
          }
          @include desktop {
            margin: 9px 18px 18px 0px !important;
          }
        }
        &:nth-child(3n+1) {
          @media screen and (min-width: 1250px) {
            margin: 9px 22px 18px 6px;
          }
          @media only screen and (max-width: 1249px) and (min-width: 992px) {
            margin: 9px 22px 18px 4px;
          }
        }
        &:nth-child(3n+2) {
          @include desktop-up {
            margin-right: 0;
          }
          @include desktop {
            margin-right: 0;
          }
        }
        &:nth-child(2n + 2) {
          @include desktop-down {
            margin-left: 0;
          }
          @include phablet-down {
            margin-left: auto;
          }
        }
        &:nth-child(2n + 3) {
          @include desktop-down {
            margin-right: 0;
          }
          @include phablet-down {
            margin-right: auto;
          }
        }

        &.content-bg-img {
          width: calc(67.6% - 16px);
          max-width: 100%;
          @include desktop-down {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
          }
        }
        .img-box {
          position: relative;
          height: 100%;
          width: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            font-family: "object-fit: cover;";
          }
        }
        .black-overlay {
          position: absolute;
          width: 100%;
          height: 59px;
          bottom: 0;
          transition: 0.7s height ease-in-out;
          padding: 14px 30px 10px 21px;
          z-index: 1;
          display: block;
          @include tablet-down {
            height: 75px;
          }
          @include phone-down {
            padding: 14px 18px 14px 18px;
          }
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $primary8;
            top: 0;
            left: 0;
            opacity: 0.8;
            z-index: -1;
          }
          p {
            position: relative;
            color: $white;
            font-size: 12px;
            font-weight: normal;
            line-height: 1.37;
            letter-spacing: 0.36px;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            height: 32px;
            @include tablet-down {
              -webkit-line-clamp: 3;
              height: 47px;

            }
          }
        }
      }
    }

  }
}