.image-slider {
  @include container-up {
    padding-top: 62px;
  }
  @include desktop-up {
    padding-bottom: 50px;
  }
  @include desktop-down {
    padding-bottom: 30px;
  }
  @include phablet-down {
    padding-bottom: 20px;
  }
  .pattern-animation {
      display: none;
  }
  .rectangle-box {
    position: absolute;
    width: 450px;
    height: 440px;
    background-color: #f7f7f7;
    bottom: -19px;
    right: 0;
    @include container-up {
      bottom: -19px;
    }
    @include container-down {
      bottom: -10px;
      width: 400px;
      height: 440px;
    }
    @include desktop-down {
      width: 385px;
      height: 426px;
      bottom: 0;
    }
    @include tablet-down {
      display: none;
    }

  }

  .intro-box {
    h2 {
      letter-spacing: 0.45px;
      font-weight: bold;
      word-spacing: normal;
      @include desktop-down {
        margin-bottom: 25px;
      }
      &:after {
        bottom: -11px;
        @include desktop-down {
          bottom: -7px;
        }
      }
    }
  }
  .slider {
    opacity: 0;
    .items {
      outline: none;
      &.slick-active {

      }
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }
  .column-wrapper {
    position: relative;
    float: left;
    margin-top: 27px;
    width: calc(100% + 20px);
    margin-left: -10px;
    h2 {
      font-family: $font-families-nunito;
      line-height: 1.47;
      letter-spacing: 0.45px;
      font-weight: bold;
      color: $white;
    }
    h5 {
      color: $white;
      font-weight: 500;
      margin: 14px 0 66px;
      font-size: 20px;
      letter-spacing: 0.5px;
      text-align: center;
      font-family: $font-families-gotham;
      @include desktop-down {
        font-size: 18px;
        margin: 14px 0 40px;
      }
      @include tablet-down {
        margin: 15px 0 20px;
      }
      @include phablet {
        font-size: 16px;
      }
      @include phablet-down {
        font-size: 16px;
      }
    }
    .bg-img {
      &.has-overlay {
        position: relative;
        height: 480px;
        @include desktop-down {
          height: 400px;
        }

        &:before {
          content: '';
          position: absolute;
          height: 100%;
          width: 100%;
          opacity: 0.5;
          //-webkit-backdrop-filter: blur(1px);
          //backdrop-filter: blur(1px);
          background-color: $black;
          top: 0;
          left: 0;
        }
      }
      &.no-overlay {
        position: relative;
        height: 480px;
        @include desktop-down {
          height: 400px;
        }
      }

      // For Video start
      > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        &:before{
          display: none;
        }
      }
      .play-icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 77.9px;
        height: 77.9px;
        cursor: pointer;
        @include phablet-down {
          width: 57.9px;
          height: 57.9px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      // For Video end
    }
    .cover-text-image {
      display: inline-block;
      position: relative;
      margin: 0 10px;
      .inner-text {
        width: 100%;
        max-width: 100%;
        padding-top: 11px;
        @include desktop-down {
          padding-top: 0;
        }
      }
    }
  }
  .button-wrap {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 36px;
    @include desktop-down {
      max-width: 100%;
      padding-top: 30px;
    }
    @include phablet-down {
      padding-top: 25px;
    }
    .pre-btn {
      background: url(/themes/rms/templates/dist/images/arrow-right-small.svg) no-repeat;
      background-size: 28px;
      transform: rotate(180deg);
      z-index: 1;
      display: inline-block;
      width: 29px;
      height: 15px;
      position: relative;
      left: -12px;
      cursor: pointer;
      vertical-align: top;
      &.slick-disabled {
        opacity: 0.3;
        cursor: auto;
      }
    }
    .next-btn {
      background: url(/themes/rms/templates/dist/images/arrow-right-small.svg) no-repeat;
      background-size: 28px;
      z-index: 1;
      display: inline-block;
      vertical-align: top;
      width: 29px;
      height: 15px;
      position: relative;
      right: -12px;
      cursor: pointer;
      &.slick-disabled {
        opacity: 0.3;
        cursor: auto;
      }
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      li {
        display: inline-block;
        position: relative;
        width: 6px;
        height: 6px;
        margin: 0 3px;
        padding: 0;
        &:before {
          display: none;
        }
        button {
          outline: none;
          width: 6px;
          height: 6px;
          background: $light-green;
          opacity: 0.5;
          text-indent: 999999px;
          border-radius: 50%;
          cursor: pointer;
        }
        &.slick-active {
          button {
            background: $light-green;
            opacity: 1;
          }
        }
      }
    }
  }

}

.slider-promotional{
  padding-top: 30px;
  @include desktop-up{
    padding-top: 27px;
    padding-bottom: 83px;
  }
  .intro-box{
    display:none;
  }
  .column-wrapper{
    @include desktop-down{
      margin-top: 0;
    }
  }
  .pattern-animation {
    position: absolute;
    bottom: -54px;
    right: -40px;
    width: 412px;
    height: 414px;
    z-index: -1;
    opacity: 0.6;
    display: block;
    @include desktop-down{
      display: none;
    }
  }
  .bg-img {
    > a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      &:before{
        display: none;
      }
    }
    .play-icon {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 77.9px;
      height: 77.9px;
      cursor: pointer;
      @include phablet-down {
        width: 57.9px;
        height: 57.9px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &:before {
      opacity: 0.15 !important;
    }
  }
  .button-wrap{
    @include container-up{
      padding-top: 35px;
    }
  }
}