.image-with-text {
  &.add-pattern {
    .pattern-animation {
      display: block;
    }
    &.reverse-image {
      .column-wrapper {
        .image-box {
          &:after {
            display: block;
          }
        }
      }

    }
  }
  .button-box {
    padding-top: 38px;
  }
  ul {
    text-align: left;
    li {
      position: relative;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: 0.5px;
      color: $black;
      margin: 10px 0;
      font-family: $font-families-gotham;
      padding: 0 0 0 15px;
      list-style: none;
      &:after {
        content: '';
        position: absolute;
        top: 14px;
        left: 0;
        width: 5px;
        height: 5px;
        background: black;
        border-radius: 50%;
        @include desktop-down {
          top: 11px;
        }
      }
      @include tablet {
        font-size: 16px;
      }
      @include tablet-down {
        font-size: 16px;
      }
    }
  }
  background-color: $rect-gray;
  .pattern-animation {
    position: absolute;
    bottom: -11%;
    left: -3%;
    width: 336px;
    height: 366px;
    z-index: 1;
    display: none;
    @include desktop-down {
      display: none;
    }
    @media screen and (min-width: 992px) and (max-width: 1240px) {
      left: 1%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .rectangle-box {
    top: 0;
    right: -1.2%;
  }
  .column-wrapper {
    width: 100%;
    position: relative;
    z-index: 1;
    @include container-up {
      margin-top: -16px;
      margin-bottom: 6px;
    }
    @include desktop-down {
      display: flex;
      align-items: center;
    }
    @include tablet-down {
      display: block;
    }
    .image-box {
      position: relative;
      width: 40%;
      @include container-up {
        //padding-left: 82px;
        padding-top: 5px;
      }
      @include desktop-down {
        max-width: 100%;
      }
      @include tablet-down {
        padding: 0;
        width: 100%;
        margin: 0 auto;
        float: none;
      }
      .play-icon {
        &:after {
          top: 6%;
        }
      }
      .img-wrapper {
        position: relative;
        height: 400px;
        max-width: 400px;
        overflow: hidden;
        @include desktop-down {
          max-width: 100%;
        }
        @include tablet-down {
          max-width: 300px;
          height: 300px;
          margin: 0 auto;
        }
        @include phablet-down {
          height: 350px;
        }
        @include phone-down {
          max-width: 100%;
        }
        //&:after {
        //  content: "";
        //  position: absolute;
        //  left: 0;
        //  right: 0;
        //  bottom: 0;
        //  width: 100%;
        //  height: 100%;
        //  opacity: 0.2;
        //  background-color: #004c6c;
        //  z-index: 1;
        //}
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        font-family: "object-fit: cover;";
      }
    }

    .text-wrapper {
      padding-left: 117px;
      width: 59%;
      //padding-top: 25px;

      @include container {
        padding-left: 80px;
      }

      @include container-down {
        padding-left: 80px;
      }
      @include desktop-down {
        width: 60%;
        padding-left: 25px;
        padding-top: 0;
      }
      @include tablet-down {
        padding: 0;
        width: 100%;
        float: none;
        margin-top: 30px;
        text-align: center;
      }
      &.align-left {
       h4, h3 {
          &:after {
            @include tablet-down {
              right: 0;
              margin: 0 auto;
            }
          }
        }
      }
     h4, h3 {
        text-align: left;
        position: relative;
        font-family: $font-families-Inter;
        font-weight: bold;
        line-height: 1.16;
        letter-spacing: normal;
        margin-bottom: 29px;
        padding-bottom: 9px;
        @media (min-width: 991px) {
          &:after {
            bottom: -10.1px !important;
          }
        }
        @include desktop-down {
          margin-bottom: 30px;
          padding-bottom: 0;
        }
        @include tablet {
          &:after {
            bottom: -15.1px !important;
          }
        }
        @include tablet-down {
          text-align: center;
          &:after {
            bottom: -13.1px !important;
          }
        }
        @include phablet-down {
          margin-bottom: 25px;
        }
      }
      p {
        margin-bottom: 34px;
        @include container-up {
          max-width: 550px;
        }
        @include desktop-down {
          margin-bottom: 18px;
          margin-top: 20px;
        }
        @include tablet-down {
          margin-bottom: 12px;
          margin-top: 15px;
        }

      }
    }
  }

  &.large-content-width {
    background-color: $white;
    padding-bottom: 0;
    @include desktop-up {
      padding-top: 86px;
    }
    .rectangle-box {
      width: 440px;
      height: 440px;
      background-color: $rect-gray;
      position: absolute;
      top: -86px;
      left: -104px;
      right: auto;
      @media screen and (min-width: 1700px) {
        //top: -15%;
        //right: 21%;
      }
    }
    .column-wrapper {
      @include container-up {
        padding: 0 6px;
        margin-top: 0;
      }
      &:after {
        display: none;
      }
      .image-box {
        @include desktop-up {
          width: 40%;
        }
        @include desktop {
          width: 40%;
        }
        @include tablet {
          width: 40%;
        }
        .img-wrapper {
          height: 399px;
          max-width: 400px;
          @include desktop-up {
            margin-top: 5px;
          }
          @include desktop-down {
            max-width: 100%;
          }
          @include tablet {
            max-width: 100%;
          }

          @include tablet-down {
            max-width: 390px;
            height: 360px;
            margin: 0 auto;
          }
          @include phone-down {
            max-width: 100%;
            height: 350px;
          }

        }
      }
      .text-wrapper {
        @include desktop-up {
          padding-left: 25px;
          width: 60%;
          padding-top: 0;
        }
        @include desktop {
          width: 60%;
          padding-left: 25px;
          padding-top: 0;
        }
        @include tablet {
          width: 60%;
          padding-top: 0;
          padding-left: 20px;
        }
        h4,h3 {
          @include container-up {
            margin-bottom: 29px;
            padding-bottom: 7px;
          }
        }
        p {
          max-width: 100%;
          @include container-up {
            padding-right: 28px;
            margin-bottom: 22px;
          }
          @include container-down {
            padding-right: 10px;
          }
          @include desktop-down {
            padding-right: 0px;
          }
          @include tablet-down {
            margin-bottom: 0px;
          }
        }
      }
    }
  }

  &.reverse-image {
    background-color: $white;
    @include container-up {
      padding-bottom: 100px;
    }
    .pattern-animation {
      display: none;
    }
    .rectangle-box {
      width: 457px;
      height: 440px;
      background-color: $rect-gray;
      position: absolute;
      top: -84px;
      right: -10%;
      @include container-down {
        top: -80px;
      }
    }
    .column-wrapper {
      @include container-up {
        margin-top: -16px;
        margin-bottom: 0;
      }
      &:after {
        display: none;
      }
      .image-box {
        order: 2;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          bottom: -14%;
          right: -9.5%;
          width: 328px;
          height: 366px;
          z-index: -1;
          background-image: url("/themes/rms/templates/dist/images/animation-six-grid.svg");
          background-repeat: no-repeat;
          background-size: contain;
          display: none;
          @include desktop-down {
            display: none;
          }
        }
        @include desktop {
          width: 40%;
        }
        @include tablet {
          width: 40%;
        }
        @include tablet-down {
          order: 1;
        }
        .img-wrapper {
          margin-left: auto;
        }
      }
      .text-wrapper {
        order: 1;
        padding: 0 37px 0 0;
        @include desktop {
          width: 60%;
        }
        @include tablet {
          width: 60%;
        }
        @include tablet-down {
          order: 2;
          padding: 0;
        }
        h4,h3 {
          @include container-up {
            padding-bottom: 10px;
          }
          @include desktop-up {
            max-width: 567px;
          }
        }
        p {
          max-width: 100%;
          letter-spacing: 0.32px;
          font-size: 16px;
          margin-bottom: 20px;
          font-family: $font-families-gotham;
          @include container-up {
            padding-left: 2px;
          }
          @include desktop-down {
            margin-bottom: 15px;
          }

        }
      }
    }

    &.col-video-text {
      .rectangle-box {
        width: 457px;
        height: 440px;
        background-color: $rect-gray;
        position: absolute;
        top: -84px;
        right: -10%;
        @include container-down {
          top: -80px;
        }
      }

      .column-wrapper {
        //.text-wrapper {
        //  @include container-up {
        //    //padding: 0 38px 0 0 !important;
        //  }
        //  h2 {
        //    @include container-up {
        //      //margin-bottom: 31px !important;
        //    }
        //
        //  }
        //  p {
        //    @include container-up {
        //      padding-left: 0 !important;
        //    }
        //    @include desktop-up {
        //      margin-bottom: 15px !important;
        //    }
        //  }
        //
        //}
      }
    }

    &.col-image-career {
      .rectangle-box {
        @include container-up {
          top: -81px;
        }
      }
      .column-wrapper {
        @include container-up {
          margin-top: -19px;
        }
        .image-box {
          @include container-up {
            padding-top: 8px;
          }
        }
        .text-wrapper {
         h4, h3 {
            letter-spacing: 0.45px;
            @include container-up {
              padding-bottom: 13px;
            }
          }
        }
      }
    }

    &.use-ul-event-detail {
      .rectangle-box {
        display: none;
      }
      @include container-up {
        padding-top: 76px;
      }
      .column-wrapper {
        @include container-up {
          margin-top: 0;
        }
        .rectangle-box {
          @include container-up {
            top: -76px;
          }
        }
        .image-box {
          @include container-up {
            padding-top: 16px;
          }
        }

        .text-wrapper {
          @include container-up {
            padding: 0 30px 0 0 !important;
            margin-top: -5px;
          }
          p {
            @include container-up {
              margin-bottom: 25px !important;
            }
            @include tablet-down {
              text-align: left;
            }
          }
        }
      }
      h4,h3 {
        font-weight: 600;
        line-height: 1.29;
        letter-spacing: normal;
        margin-bottom: 20px;
        @include container-up {
          margin-bottom: 25px;
        }

        @include tablet-down {
          margin-bottom: 15px;
        }

      }
      a {
        color: #C41240;
        &:hover {
          color: #00b7c6;
        }
      }

      ul {
        li {
          font-size: 16px;
          font-weight: normal;
          line-height: 1.75;
          letter-spacing: 0.32px;
          color: $black;
          font-family: $font-families-gotham;
          padding-left: 17px;
          margin: 13px 0;
          &:before {
            top: 10px;
            width: 6px;
            height: 6px;
            border-radius: 0;
            background: #101010;
          }
        }
      }

      h6 {
        a {
          @extend .btn-red;
          text-align: center;
        }
      }
    }
  }

  &.ri-img-text {
    .rectangle-box {
      top: 0 !important;
      right: -1.2% !important;
    }
  }
}


