.image-with-text-slider {

  background-color: $rect-gray;
  @include container-up {
    padding-top: 82px;
    padding-bottom: 98px;
  }
  @include tablet {
    padding: 0;
  }
  @include tablet-down {
    padding: 0;
  }

  &.reverse-slider {
    @include container-up {
      padding-top: 80px;
    }
    .award-top-carousel {
      .pattern-animation {
        right: -50px;
        bottom: -11%;
        left: auto;

      }
      .slider-outer {
        width: calc(100% + 10px);
        margin-left: -5px;
        @include tablet-down {
          width: 100%;
          margin-left: 0;
        }
        .items {
          display: flex !important;
          margin: 0 5px;
          @include tablet-down {
            display: block !important;
            margin: 0 0;
            padding: 0 10px;
          }
          @include phablet-down {
            padding: 0 5px;
          }
          &.slick-active {
          }
        }
        .col-two {
          &.image-box {
            order: 2;
            @include tablet-down {
              order: 1;
            }
            .img-wrapper {
              @include desktop-up {
                height: 488px;
                max-width: 490px;
                margin-top: 12px;
              }
              &:after {
                opacity: 0.1;

              }
            }
          }
          &.text-wrapper {
            ul {
              text-align: left;
              li {
                position: relative;
                font-size: 20px;
                font-weight: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: 0.5px;
                color: $black;
                //padding-left: 20px;
                margin: 10px 0;
                font-family: $font-families-gotham;
                padding: 0 0 0 15px;
                list-style: none;
                &:after {
                  content: '';
                  position: absolute;
                  top: 14px;
                  left: 0;
                  width: 5px;
                  height: 5px;
                  background: black;
                  border-radius: 50%;
                  @include desktop-down {
                    top: 11px;
                  }
                }
                @include tablet {
                  font-size: 16px;
                }
                @include tablet-down {
                  font-size: 16px;
                }
              }
            }
            order: 1;
            padding-left: 0 !important;
            @media screen and(min-width: 1250px) {
              padding-right: 117px;
            }
            @media only screen and (min-width: 992px) and (max-width: 1240px) {
              padding-right: 50px;
            }
            @include tablet {
              padding-right: 15px;
            }
            @include tablet-down {
              order: 2;
            }
            p {
              @include desktop-up {
                max-width: 580px;
              }
            }
          }
        }
      }
      .button-wrap {
        justify-content: start !important;
        @include desktop-up {
          left: 10px;
          bottom: -13px;
        }
        @include tablet {
          left: 12px;
        }
        @include tablet-down {
          justify-content: center !important;
        }
        .dots-outer {
          .slick-dots {
            top: -10px;
          }
        }
        .next-btn {
          @include desktop-up {
            right: -8px;
          }
        }
      }
    }
  }

  .pattern-animation {
    display: none;
    position: absolute;
    bottom: -17%;
    left: -4.5%;
    width: 294px;
    height: 369px;
    z-index: -1;
    @include desktop-down {
      display: none;
    }
    @media screen and (min-width: 992px) and (max-width: 1240px) {
      left: 1.5%;
    }
    svg {
      //position: absolute;
      &:nth-child(1) {

      }
      &:nth-child(2) {
        opacity: 0;
      }

    }
  }
  .award-top-carousel {
    position: relative;
    z-index: 2;

    .slider-outer {
      opacity: 0;
      @include desktop-up {
        min-height: 500px;
      }
      @include tablet {
        padding: 50px 0;
      }
      @include tablet-down {
        padding: 40px 0;
      }
      .items {
        outline: none;
        @include container-down {
          padding: 0 10px;
        }
        @include phablet-down {
          padding: 0 5px;
        }
        &.slick-active {
          @include desktop-up {
            .media-block {
              transform: translateY(0);
            }
            .content-block {
              transform: translateX(0);
              opacity: 1;
              visibility: visible;
            }
          }
        }
        &:after {
          content: "";
          display: block;
          clear: both;
        }
      }
      .col-two {
        @include desktop-down {
          width: 100%;
        }
        &.image-box {
          position: relative;
          width: 41%;
          @include desktop-down {
            width: 50%;
            max-width: 100%;
          }
          @include tablet-down {
            padding: 0;
            width: 100%;
            margin: 0 auto;
            float: none;
          }

          .img-wrapper {
            position: relative;
            height: 489px;
            max-width: 488px;
            @include container-up {
              margin-top: 6px;
            }
            @include desktop-down {
              max-width: 100%;
            }
            @include tablet-down {
              max-width: 400px;
              height: 400px;
              margin: 0 auto;
            }
            @include phablet-down {
              height: 350px;
            }
            @include phone-down {
              max-width: 100%;
            }
            //&:after {
            //  content: "";
            //  position: absolute;
            //  top: 0;
            //  left: 0;
            //  right: 0;
            //  bottom: 0;
            //  width: 100%;
            //  height: 100%;
            //  opacity: 0.2;
            //  background-color: #004c6c;
            //  z-index: 1;
            //}
          }
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            font-family: "object-fit: cover;";
          }
        }

        &.text-wrapper {
          padding-left: 117px;
          width: 59%;
          @include container-down {
            padding-left: 80px;
          }
          @include desktop-down {
            width: 50%;
            padding-left: 25px;
            padding-top: 0;
          }
          @include tablet-down {
            padding: 0;
            width: 100%;
            float: none;
            margin-top: 30px;
            text-align: center;
          }
          &.align-left {
            h3 {
              &:after {
                @include tablet-down {
                  right: 0;
                  margin: 0 auto;
                }
              }
            }
          }
          h3 {
            text-align: left;
            position: relative;
            font-family: $font-families-Inter;
            font-weight: 600;
            line-height: 1.16;
            letter-spacing: normal;
            margin-bottom: 29px;
            padding-bottom: 9px;
            @media (min-width: 991px) {
              &:after {
                bottom: -11.1px !important;
              }
            }
            @include desktop-down {
              margin-bottom: 30px;
              padding-bottom: 0;
            }
            @include tablet {
              &:after {
                bottom: -15.1px !important;
              }
            }
            @include tablet-down {
              text-align: center;
              &:after {
                bottom: -13.1px !important;
              }
            }
            @include phablet-down {
              margin-bottom: 25px;
            }
          }
          p {
            margin-bottom: 38px;
            @include container-up {
              max-width: 550px;
            }
            @include desktop-down {
              margin-bottom: 18px;
              margin-top: 20px;
            }
            @include tablet-down {
              margin-bottom: 12px;
              margin-top: 15px;
            }
          }
          .button-box {
            @include tablet-down {
              //padding-left: 20px;

            }
          }
        }
      }

    }
  }

  .button-wrap {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -17px;
    @include container-up {
      bottom: 3px;
      left: 68px;
    }
    @include desktop {
      bottom: 10px;
      left: 48px;
    }

    @include tablet {
      bottom: 10px;
      left: 48px;
    }
    @include tablet-down {
      max-width: 100%;
      position: relative;
      bottom: 18px;
      padding-top: 0;
    }
    .pre-btn {
      background: url(/themes/rms/templates/dist/images/arrow-right-small.svg) no-repeat;
      background-size: 28px;
      transform: rotate(180deg);
      z-index: 1;
      display: inline-block;
      width: 29px;
      height: 15px;
      position: relative;
      left: -12px;
      cursor: pointer;
      vertical-align: top;
      top: -10px;
      &.slick-disabled {
        opacity: 0.3;
        cursor: auto;
      }
    }
    .next-btn {
      background: url(/themes/rms/templates/dist/images/arrow-right-small.svg) no-repeat;
      background-size: 28px;
      z-index: 1;
      display: inline-block;
      vertical-align: top;
      width: 29px;
      height: 15px;
      position: relative;
      right: -12px;
      cursor: pointer;
      top: -10px;
      &.slick-disabled {
        opacity: 0.3;
        cursor: auto;
      }
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      top: 10px;
      position: relative;

      li {
        display: inline-block;
        position: relative;
        width: 6px;
        height: 6px;
        margin: 0 3px;
        padding: 0;
        &:before {
          display: none;
        }
        button {
          outline: none;
          width: 6px;
          height: 6px;
          background: $light-green;
          opacity: 0.5;
          text-indent: 999999px;
          border-radius: 50%;
          cursor: pointer;
        }
        &.slick-active {
          button {
            background: $light-green;
            opacity: 1;
          }
        }
      }
    }
  }
  &.sol-detail-slider {
    @include desktop-down {
      padding: 50px 0;
    }
    @include tablet-down {
      padding: 40px 0;
    }
    @include phablet-down {
      padding: 30px 0;
    }
    .award-top-carousel {
      .pattern-animation {
        bottom: -10%;
      }
    }
    .button-wrap {
      @include container-up {
        bottom: -30px;
      }
      @include desktop {
        bottom: -50px;
        left: 41px;
      }
      @media screen and (min-width: 992px) and (max-width: 1050px) {
        left: 48px;
      }
      @include tablet {
        left: 82px;
      }
      .slick-dots {
        top: 0;
      }
      .pre-btn {
        top: 0;
      }
      .next-btn {
        top: 0;
      }
    }
  }

}
