////for service-page service offer////
.info-with-tabs{
  position: relative;

  @include container-up {
    padding-top: 73px;
  }
  @include container-down {
    padding-top: 60px;
  }
  @include tablet-down {
    padding-top: 40px;
  }
  @include phone-down {
    padding-top: 30px;
  }
  .intro-box h2 {
    font-weight: bold;
    @include container-up {
      margin-bottom: 38px;
    }
    &:after{
      @include container-up{
        bottom: -18.1px;
      }
    }
  }
  .bg-img {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 61.5%;
    @include desktop-down {
      top: auto;
      bottom: 0;
    }
  }
  .pattern-animation {
    position: absolute;
    //right: -4%;
    //bottom: 37%;
    width: 308px;
    height: 316px;
    z-index: 0;
    right: -2.4%;
    bottom: -5.5%;
    @media screen and (min-width: 992px) and (max-width: 1240px) {
      rigth: 1%;
    }
    img, svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
      //display: none;
      //&:nth-child(3) {
      //  display: block;
      //}
    }
    @include desktop-down {
      display: none;
    }
  }
  .column-wrapper {
    background-color: $white;
    box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.04);
    margin-top: 55px;
    position: relative;
    @include desktop-down {
      margin-top: 40px;
    }
    @include tablet-down {
      margin-top: 25px;
    }
    @include phone-down {
      margin-top: 20px;
    }

    button {
      display: none;
      @include tablet-down{
        position: relative;
        cursor: pointer;
        background: linear-gradient(489deg, #0086a1 0%, #004c6c 100%);
        background-image: -webkit-linear-gradient(489deg, #0086a1 0%, #004c6c 100%);
        width: 100%;
        font-size: 16px;
        padding: 10px;
        outline: none;
        border: 1px solid $white;
        border-radius: 5px;
        color: $white;
        min-height: 55px;
      }

      @include tablet-down {
        display: block;
      }
      &.slick-arrow {
        text-indent: -99999px;
        position: absolute;
        bottom: -44px;
        left: 48%;
        width: 25px;
        height: 25px;
        outline: none;
        cursor: pointer;
        background: url(/themes/rms/templates/dist/images/arrow-right-small.svg) no-repeat;
        background-size: 100%;
        transform: translate(-50%, -50%) rotate(180deg);
        background-position: center;
        @include desktop{
          left: 44%;
        }
        @include tablet{
          left: 44%;
        }
        @include tablet-down{
          display:none;
        }
        &.slick-prev {
        }
        &.slick-next {
          transform: translate(-50%, -50%) rotate(0deg);
          left: auto;
          right: 46%;
          @include desktop{
            right: 42%;
          }
          @include tablet{
            right: 42%;
          }
        }
      }
      &.open {
        &:after {
          @include tablet-down{
            background-image: url("/themes/rms/templates/dist/images/svg/next-arrow.svg");
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 15px;
            margin: auto;
            width: 20px;
            height: 20px;
            background-size: 100%;
            transform: rotate(90deg);
            background-repeat: no-repeat;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      &.active {
        &:after {
          transform: rotate(-90deg);
        }
      }
      .cover {
        @include tablet-down {
          display: flex;
          min-width: 200px;
          margin: 0 auto;
          align-items: center;
          justify-content: center;
          padding: 0 24px;
        }
        .icon-box {
          @include tablet-down {
            width: 35px;
            height: 35px;
            margin: 0;
          }
          svg {
            width: 100%;
            height: 100%;
              path {
                fill: $white;
              }
            .cls-1,
            .cls-2 {
              @include tablet-down {
                stroke: $white;
                fill: $white;
              }
            }
            .st0 {
              @include tablet-down {
                fill: $white;
              }
            }
          }
        }
      }
      span {
        display: none;
        @include tablet-down {
          display: inline-block;
          max-width: 100%;
          margin: 0 auto;
          font-family: $font-families-nunito;
          font-size: 16px;
          font-weight: 600;
        }
      }
      p {
        @include tablet-down {
          color: $white;
          font-weight: bold;
          padding-left: 10px;
          font-size: 16px;
        }
        @include phablet-down {
          font-size: 14px;
        }
      }
      .active-arrow {
        display: none;
      }
    }
    .scroll-wrap {
      width: calc(100%);
      user-select: text;
      text-align: center;
      font-size: 0;
      @include tablet-down {
        display: none;
        border-bottom: 2px solid $hex-gray;
      }
      &.current-item {
        @include tablet-down {
          display: block;
        }
      }
      .icon-with-heading {
        &.item {
          outline: none;
          &.slick-active {

          }
          &:after {
            content: "";
            display: block;
            clear: both;
          }
        }
        //opacity:0;
        width: 20%;
        display: inline-block;
        min-height: 232px;
        cursor: pointer;
        border-bottom: 1px solid $hexa-light-gray;
        position: relative;
        vertical-align: top;
        padding: 59px 10px 0 10px;
        &:after {
          content: '';
          position: absolute;
          width: 1px;
          height: 100%;
          right: -1px;
          top: 0;
          border-right: 1px solid $hexa-light-gray;
          opacity: 0.5;
        }
        &:last-child {
          &:after {
            border-right: 0;
          }

        }
        @include container-down {
          padding: 40px 10px 0 10px;
        }
        @include desktop-down {
          padding: 59px 8px 0;
        }
        @include tablet-down {
          //display: block;
          border: 0;
          padding: 10px 0;
          width: 100%;
          max-width: 100%;
          display: flex;
          justify-content: center;
          min-height: auto;
          align-items: center;
        }
        @include phablet-down{
          padding: 10px;
        }
        .icon-box {
          width: 75px;
          height: 68px;
          margin: 0 auto 40px;
          @include container-down {
            margin: 0 auto 25px;
          }
          @include desktop-down {
            width: 60px;
            height: 60px;
            margin: 0 auto 18px;
          }
          @include tablet-down {
            width: 35px;
            height: 35px;
            margin: 0;
          }
          svg {
            width: 100%;
            height: 100%;
          }
        }
        p {
          color: $black;
          font-size: 20px;
          font-weight: 600;
          line-height: 1.18;
          letter-spacing: normal;
          text-align: center;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          height: auto;
          font-family: $font-families-Inter;
          @include container-up{
            -webkit-line-clamp: 2;
          }
          @include desktop {
            font-size: 20px;
            -webkit-line-clamp:3;
          }
          @include tablet {
            font-size: 18px;
            -webkit-line-clamp:3;
          }
          @include tablet-down {
            font-size: 16px;
            margin-left: 10px;
          }
          @include phablet-down {
            font-size: 14px;
          }

        }
        .active-arrow {
          position: absolute;
          bottom: 0;
          left: auto;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 15px 13px;
          border-color: transparent transparent white;
          opacity: 0;
          visibility: hidden;
          transform: translateX(-50%);
          @include tablet-down {
            display: none;
          }
        }

        &:hover {
          text-align: center;
          background: linear-gradient(489deg, #0086a1 0%, #004c6c 100%);
          background-image: -webkit-linear-gradient(489deg, #0086a1 0%, #004c6c 100%);
          color: $white;
          border-bottom: 0;
          transition: 0.6s all ease-in-out;
          @include container-up {
            font-weight: bold;
          }
          p {
            color: $white;
            font-weight: bold;
          }
          .icon-box {
            svg{
              path {
                fill: $white;
              }
            }
            .st0 {
              fill: $white;
            }
            .cls-1, .cls-2, path {
              //stroke: $white;
              fill: $white;
            }

          }
          .active-arrow {
            opacity: 1;
            visibility: visible;
          }
          &:after {
            border-right: 0;
            @include tablet-down {
              display: none;
            }
          }

          @include tablet-down {
            background: linear-gradient(489deg, #0086a1 0%, #004c6c 100%);
            background-image: -webkit-linear-gradient(489deg, #0086a1 0%, #004c6c 100%);
            color: $white;
            transition: 0.6s all ease-in-out;
            p {
              color: $white;
              font-weight: bold;
            }
            .icon-box {

              .st0 {
                fill: $white;
              }

              .cls-1, .cls-2 {
                stroke: $white;
                fill: $white;
              }
            }
          }
        }

        &.hide {
          text-align: center;
          background: linear-gradient(489deg, #0086a1 0%, #004c6c 100%);
          background-image: -webkit-linear-gradient(489deg, #0086a1 0%, #004c6c 100%);
          color: $white;
          border-bottom: 0;
          transition: 0.6s all ease-in-out;
          @include container-up {
            font-weight: bold;
          }
          @media only screen and (max-width: 767px){
            display:none;
          }
          p {
            color: $white;
            font-weight: bold;
          }
          .icon-box {
            @include container-up {
              margin-bottom: 38px;
            }
            svg{
              path {
                fill: $white;
              }
            }
            .st0 {
              fill: $white;
            }
            .cls-1, .cls-2 {
              stroke: $white;
              fill: $white;
            }
          }
          .active-arrow {
            opacity: 1;
            visibility: visible;
          }
          &:after {
            border-right: 0;
            @include tablet-down {
              display: none;
            }
          }
        }
      }
    }
    .tab-text {
      display: none;
    }
    .tab-text.hide {
      display: block;
      @include tablet-down {
        display: block;
      }
      h3 {
        color: $dark-green;
        font-weight: bold;
        @include tablet-down {
          text-align: center;
        }
      }
      p {
        margin-top: 14px;
      }
      &.text-with-image {
        width: 100%;
        float: left;
        align-items: center;
        min-height: 499px;
        @include container-up {
          padding: 64px 64px 0 83px;
        }
        @include container-down {
          padding: 40px 40px 0;
        }
        @include desktop-down {
          padding: 45px 30px 30px;
        }
        @include tablet-down {
          min-height: auto;
          padding: 20px;
        }
        @include phablet-down {
          padding: 20px 12px;
        }
        .text-content {
          width: calc(62.3%);
          float: left;
          padding-right: 94px;
          @include container-up {
            padding-left: 0;
            padding-top: 7px;
          }
          @include container-down {
            padding-right: 40px;
          }
          @include desktop-down {
            padding-right: 20px;
          }
          @include tablet {
            width: calc(60%);
          }
          @include tablet-down {
            width: 100%;
            float: none;
            padding-right: 0;
            text-align: center;
          }
          .button-box {
            margin-top: 28px;
            @include desktop-down {
              margin-top: 20px;
            }
            @include phablet-down {
              margin-top: 15px;
            }
          }
        }
        .bg-img {
          width: 35.8%;
          float: left;
          position: relative;
          @include container-up {
            margin-left: 0;
            margin-right: 0px;
          }
          @include desktop-up {
            z-index: 2;
          }
          @include tablet {
            width: 40%;
          }
          @include tablet-down {
            width: 100%;
            float: none;

          }
          @include phablet-down {
            max-width: 100%;
          }
          .img-wrapper {
            position: relative;
            height: 358px;
            max-width: 378px;
            overflow: hidden;
            @include container-up {
              margin-top: 2px;
            }
            @include tablet-down {
              height: 320px;
              margin: 20px auto 0;
              max-width: 350px;
            }
            @include phablet-down {
              margin: 15px auto 0;
            }
          }

        }

      }
    }
  }
  ////for homepage service offer////
  &.service-home {
    padding-top: 0;
    .bg-img {
      background-image: linear-gradient(116deg, #0a0a0a, rgb(75, 75, 75));
      top: auto;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 76.6%;
    }
    .intro-box {
      margin-top: 12px;
      h2 {
        font-weight: bold;
      }
    }
    .column-wrapper {
      margin-top: 48px;
      .tab-text {
        &.hide {
          &.text-with-image {
            .bg-img {
              background: $white;
            }
          }
        }
      }

    }

  }
}
////for solution-page service offer////
.solution-role {
  @include container-up {
    padding-top: 58px;
  }
  .bg-img {
    @include desktop-up {
      top: 38.5%;
      height: 63.8%;
    }
    @include desktop {
      top: auto;
      bottom: 0;
    }
  }
  .intro-box {
    h2 {
      @include container-up {
        letter-spacing: 0.45px;
        font-weight: bold;
      }
    }
  }
  .column-wrapper {
    @include container-up {
      width: calc(100% + 1px);
      margin-left: -1px;
    }
    //.pattern-animation {
    //  @include container-up {
    //    bottom: 39%;
    //  }
    //}

    .scroll-wrap {
      .icon-with-heading {
        @include desktop-up {
          width: calc(16.66%);
          min-height: 191px;
          padding: 42px 31px 10px;
        }
        @include desktop {
          width: calc(16.66%);
          min-height: 191px;
          padding: 35px 15px 12px;
        }
        @include tablet {
          width: calc(16.66%);
          min-height: 191px;
          padding: 35px 15px 12px;
        }
        .active-arrow {
          @include desktop-up {
            //left: 43%;
            border-width: 0 13px 12px;
          }
        }
        &:after {
          content: '';
          position: absolute;
          width: 1px;
          height: 100%;
          right: 0;
          top: 0;
          border-right: 1px solid $hexa-light-gray;
          opacity: 0.5;
        }
        .icon-box {
          @include desktop-up {
            width: 62px;
            height: 57px;
            margin: 0px auto 30px;
          }
          @include desktop {
            width: 62px;
            height: 57px;
            margin: 0px auto 25px;
          }
          @include tablet {
            width: 62px;
            height: 57px;
            margin: 0px auto 25px;
          }
        }
        p {
          @include desktop-up {
            font-size: 18px;
            font-weight: 600;
          }
          @include desktop {
            font-size: 16px;
          }
          @include tablet {
            font-size: 16px;
          }
        }
        &.hide {
          p {
            @include desktop-up {
              font-weight: 600;
            }

          }
          .icon-box {
            @include container-up {
              margin: 0px auto 30px;
            }

          }
        }
      }
    }
    .tab-text.hide {
      &.text-with-image {
        .text-content {
          @include container-up {
            padding-left: 0;
            padding-top: 24px;
          }
          .button-box {
            margin-top: 29px;
          }
        }
      }
    }
  }
}

.info-four-items{
  .column-wrapper{
    .scroll-wrap {
      .icon-with-heading {
        width: 25%;
      }
    }
  }
}
.seven-items{
  .column-wrapper {

    .scroll-wrap {
      .icon-with-heading {
        @include desktop-up {
          width: calc(14.28%);
          min-height: 191px;
          padding: 42px 31px 10px;
        }
        @include desktop {
          width: calc(14.28%);
          min-height: 191px;
          padding: 35px 15px 12px;
        }
        @include tablet {
          width: calc(14.28%);
          min-height: 191px;
          padding: 35px 15px 12px;
        }
        .active-arrow {
          @include desktop-up {
            border-width: 0 13px 12px;
          }
        }

        .icon-box {
          @include desktop-up {
            width: 58px;
            height: 57px;
            margin: 0px auto 30px !important;
          }
          @include desktop {
            width: 58px;
            height: 57px;
            margin: 0px auto 25px !important;
          }
          @include tablet {
            width: 55px;
            height: 57px;
            margin: 0px auto 25px !important;
          }
        }
        p {
          @include desktop-up {
            font-size: 18px;
            font-weight: 600;
          }
          @include desktop {
            font-size: 16px;
          }
          @include tablet {
            font-size: 16px;
          }
        }
        &.hide {
          p {
            @include desktop-up {
              font-weight: 600;
            }

          }

        }
      }
    }

  }
}

.seven-plus-item{
  .column-wrapper {
    .scroll-wrap {
      .icon-with-heading {
        @include desktop-up {
          width: calc(14.28%);
          min-height: 191px;
          padding: 42px 31px 10px;
        }
        @include desktop {
          width: calc(14.28%);
          min-height: 191px;
          padding: 35px 15px 12px;
        }
        @include tablet {
          width: calc(14.28%);
          min-height: 191px;
          padding: 35px 15px 12px;
        }
        .active-arrow {
          @include desktop-up {
            border-width: 0 13px 12px;
          }
        }

        .icon-box {
          @include desktop-up {
            width: 58px;
            height: 57px;
            margin: 0px auto 30px !important;
          }
          @include desktop {
            width: 58px;
            height: 57px;
            margin: 0px auto 25px !important;
          }
          @include tablet {
            width: 55px;
            height: 57px;
            margin: 0px auto 25px !important;
          }
        }
        p {
          @include desktop-up {
            font-size: 18px;
            font-weight: 600;
          }
          @include desktop {
            font-size: 16px;
          }
          @include tablet {
            font-size: 16px;
          }
        }
        &.hide {
          p {
            @include desktop-up {
              font-weight: 600;
            }

          }

        }
      }


    }

  }
}