.infor-author{
  background-color: $hex-white-smoke;
  @include desktop-up{
    padding: 39px 0 30px;
  }
      .column-wrapper{
        width: 100%;
        .about-status{
          width: 67%;
          padding-right: 50px;
          @include container-up{
            padding-right: 102px;
          }
          @include container-down{
            width: 60%;
            padding-right: 40px;
          }
          @include desktop-down{
            width: 100%;
            padding-right: 0;
          }

          h6{
            font-size: 19px;
            font-weight: bold;
            line-height: 1.37;
            letter-spacing: normal;
            margin-bottom: 14px;
          }

          p{
            font-size: 14px;
            font-weight: normal;
            line-height: 1.57;
            letter-spacing: normal;
            margin: 14px 0;
            a{
              font-weight: 500;
              color: $wine-red;
              font-family:$font-families-gotham;
              cursor: pointer;
              font-size: 14px;
              transition: 0.3s all ease-in-out;
              &:hover{
                color: $green;
              }
            }
          }

        }




        .contact-us{
          width: 33%;
          @include container-up{
            padding-left: 6px;
          }
          @include container-down{
            width: 40%;
          }
          @include desktop-down{
            width: 100%;
            margin-top:20px;
          }

          h6{
            font-size: 20px;
            font-weight: bold;
            line-height: 1.3;
            letter-spacing: normal;
            margin-bottom: 37px;
            position:relative;
            @include tablet-down{
              margin: 15px 0 20px;
              font-size: 18px;
            }
            &:after{
              content:"";
              position:absolute;
              width:100%;
              height:1px;
              bottom: -13px;
              left:0;
              background-color:#c7c7c7;
              @include desktop{
                bottom: -10px;
              }
              @include tablet-down{
                bottom: -5px;
              }
            }
          }
          p{
            margin-bottom: 5px;
          }
          strong{
            font-size: 14px;
            font-weight: 500;
            line-height: 1.57;
            letter-spacing: normal;
            //display:inline-block;
            display:block;
            font-family:$font-families-gotham;
          }
          .address-blog{
            margin: 22px 0px;
            @include desktop-down{
              width: calc(50% - 5px);
              display:inline-block;
              margin: 18px 0px;
            }
            @include phablet-down{
              width:100%;
              display:block;
              margin: 15px 0px;
            }
            .mail-with-phone{
              width:100%;
              margin-top: 6px;
              span{
                font-family:$font-families-gotham;
                display:inline-block;
                font-size: 14px;
                font-weight: normal;
                line-height: 1.57;
                letter-spacing: normal;
                padding: 0 19px;
                position: relative;

                @include phone-down{
                  display:block;
                  padding: 0 ;
                }
                &:after{
                  content:"";
                  position:absolute;
                  width:1px;
                  height: 80%;
                  top: 2px;
                  left: -2px;
                  background-color:$black;
                  @include phone-down{
                    display:none;
                  }
                }
                &:first-child{
                  padding-left:0;
                  &:after{
                  display:none;
                  }
                }
                &.mail-id{
                  a{
                    font-weight: 500;
                    color:$wine-red;
                    cursor:pointer;
                    font-family:$font-families-gotham;
                    font-size: 14px;
                    transition: 0.3s all ease-in-out;
                    &:hover{
                      color: $green;
                    }
                  }
                }
                &.phone-no{
                  color: $black;
                  text-decoration: none;
                  a{

                  }
                }

              }
            }
          }
        }
      }
}