.informative-table{
  position: relative;
  @include container-up {
    padding:0 0 118px ;

  }
  @include phone-down {
    .container {
      padding: 0 17px;
    }
  }
  .bg-img {
    position: absolute;
    top: auto;
    bottom:0;
    left: 0;
    width: 100%;
    height: 580px;
    @include container-down {
      height: 550px;
    }
    @include phablet-down {
      top: 40.8%;
      bottom:0;
    }
    @include phone-down {
      top: auto;
      bottom:0;
    }
    @media screen and (max-width: 320px) {
      height: 45.2%;
      top: auto;
      bottom:0;
    }
    &:after {
      content: "";
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      background: $black;
      position: absolute;
    }
  }
  .intro-box {
    text-align: center;
    max-width: 799px;
    margin: 0 auto;
    h2 {
      margin-bottom: 30px;
      font-weight: bold;
      letter-spacing: 0.01em;
      word-spacing: 0.0em;
      margin-top: 4px;
      @include phablet-down {
        margin-bottom: 12px;
      }
    }
    p {
      margin: 20px 0;
    }
    .button-box {
      margin: 34px 0 35px;
      @include tablet-down {
        margin: 20px 0;
      }
      @include phablet-down {
        margin: 15px 0;
      }
    }
  }
  .pattern-animation {
    position: absolute;
    right: -2.5%;
    bottom: -10.6%;
    width: 410px;
    height: 410px;
    z-index: 0;
    opacity: 0.7;
    @media screen and (min-width: 992px) and (max-width: 1240px) {
      right: 1%;
    }
    img, svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: none;
      &:nth-child(1) {
        display: block;
      }
    }
    @include desktop-down {
      display: none;
    }
  }
  .container-box {
    position: relative;
    right: auto;
    margin: auto;
    width: 100%;
    .column-wrapper {
      margin-top: 9px;
      background-color: $white;
      position: relative;
      @include container-up {
        padding-bottom: 22px;
      }
      @include tablet {
        margin-top: 12px;
      }
      @include phablet {
        margin-top: 15px;
      }
      //@include phone-down {
      //  margin-top: 0;
      //}
      .arrow-btn {
        position: absolute;
        top: 51%;
        transform: translateY(-50%);
        right: -7px;
        height: 60px;
        width: 60px;
        opacity: 0;
        visibility: hidden;
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
        @include phone-down {
          opacity: 1;
          visibility: visible;
          z-index: 1;
        }
      }
      table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        position: relative;
        //@include phone-down {
        //  display: block;
        //  position: relative;
        //}

        thead {
          //@include phone-down {
          //  display: block;
          //  float: left;
          //  width: 40%;
          //}
          tr {
            td {
              width: 13.9%;
              background: $dark-green;
              padding: 0 !important;
              position: relative;
              &:before{
                content: '';
                position: absolute;
                top:0;
                left: 0;
                width: 1px;
                height: 100%;
                background-color: $hex-white-smoke;
              }
              @include desktop {
                font-size: 20px;
              }
              @include tablet {
                font-size: 20px;
              }
              @include phablet {
                font-size: 18px;
              }
              @include phablet-down {
                font-size: 18px;
              }
              @include phone-down {
                //width: 100%;
                //display: flex;
                //-webkit-align-items: center;
                //align-items: center;
                //border-left: none;
                //font-size: 15px;
                //float: left;
                //border-top: 1px solid $hex-white-smoke;
                //border-left: none;
                //min-height: 61px;
              }
              &:nth-child(1) {
                border: none;
              }
              h5 {
                color: $white;
                padding: 9px 0;
                font-size: 20px;
                font-family: $font-families-nunito;
                font-weight: bold;
                line-height: 1.35;
                letter-spacing: normal;
                text-align: center;
                @include phone-down {
                  //font-size: 16px;
                  //text-align: left;
                  //padding-left: 15px;
                  font-size: 14px;
                  text-align: left;
                  padding-left: 8px;
                  padding-right: 6px;
                }
              }
            }
          }
        }
        tr {
          //@include phone-down {
          //  display: inline-block;
          //  width: 100%;
          //  vertical-align: top;
          //  border: none;
          //  word-break: break-word;
          //  white-space: normal;
          //}
          &:last-child {
            border-bottom: none;
            td{
              &:after{
                display: none;
              }
            }
          }
        }
        td {
          padding: 0px 0 5px 0;
          font-size: 16px;
          font-family: $font-families-gotham;
          color: $black;
          background-color: $white;
          //border-left: 1px solid $hex-white-smoke;
          text-align: left;
          font-weight: normal;
          line-height: 1.75;
          letter-spacing: 0.16px;
          position: relative;
          &:before{
            content: '';
            position: absolute;
            top:0;
            left: 0;
            width: 1px;
            height: 100%;
            background-color: $hex-white-smoke;
          }
          &:after{
            content: '';
            position: absolute;
            bottom:0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $hex-white-smoke;
          }
          @include phone {
            padding: 12px;
            font-size: 14px;
          }
          @include phone-down {
            //padding: 20px;
            //min-height: 60px;
            padding: 17px;
            min-height: 60px;
            font-size: 11px;
          }
          &:first-child {
            &:before{
              display: none;
            }
            width: 35.3%;
            position: relative;
            border-left: none;
            padding: 23px 10px 25px 36px;
            font-family: $font-families-gotham;
            color: $black;
            text-align: left;
            font-weight: normal;
            line-height: 1.75;
            letter-spacing: 0.16px;

            @include phablet {
              padding: 33px 10px 33px 50px;
            }
            @include phone {
              padding: 33px 10px 33px 35px;
              text-align: center;
            }
            @include phone-down {
              //padding: 20px;
              //width: 100%;
              //font-size: 14px;
              //float: right;
              //min-height: 115px;
              //border-bottom: 1px solid $hex-white-smoke;
              text-align: center !important;
              width: 42.3%;
              padding: 20px 13px 20px 28px;
            }

            &.for-space {
              padding-top: 40px;
              @include phablet {
                padding-top: 20px;
              }
              @include phone {
                padding-top: 15px;
              }
              //@include phone-down {
              //  display: none;
              //  visibility: hidden;
              //  padding: 0;
              //}
            }
          }
          a {
            display: inline-block;
            margin: 40px auto 30px;
            @include phone {
              margin: 20px auto;
            }
            //@include phone-down {
            //  margin: 0 auto;
            //}
          }
          &.features {
            background-color: $white;
          }
          &.table-btn {
            text-align: center;
          }
        }
        tbody {
          background: $light-gray;
          //@include phone-down {
          //  display: block;
          //  width: auto;
          //  position: relative;
          //  overflow-x: auto;
          //  white-space: nowrap;
          //  font-size: 0;
          //}
          tr {
            &:first-child {
              //@include phone-down {
              //  display: none;
              //}
            }
            //@include phone-down {
            //  width: calc(100% - 10px);
            //  border-right: 1px solid $hex-white-smoke;
            //}
            td {
              //border-left: 1px solid $hex-white-smoke;
              text-align: center;
              .checked-img {
                width: 32px;
                height: 32px;
                display: inline-block;
                vertical-align: middle;
                margin: 0 auto;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
                @include phone-down {
                  width: 22px;
                  height: 22px;
                }
              }
              input {
                opacity: 0;
                position: absolute;
                width: 32px;
                height: 32px;
                z-index: 1;
                cursor: pointer;
              }
              input[type="checkbox"] {
                & + label {
                  position: relative;
                  padding-left: 17px;
                  display: inline-block;
                  vertical-align: top;
                  width: 32px;
                  height: 32px;
                  &:before {
                    border: none;
                    content: "";
                    cursor: pointer;
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                    position: absolute;
                    transition: 0.3s all ease-in-out;
                    transform: scale(1);
                    background-image: url(/themes/rms/templates/dist/images/check-close.svg);
                    right: 0;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    background-size: 100%;
                    opacity: 1;
                    visibility: visible;
                  }
                  &:after {
                    background-image: url(/themes/rms/templates/dist/images/checked.svg);
                    width: 32px;
                    height: 32px;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    transition: 0.3s all ease-in-out;
                    background-size: 100%;
                    content: '';
                    display: block;
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                  }
                }
                &:checked {
                  & + label {
                    &:before {
                      transform: scale(1.2);
                      background-image: none;
                      opacity: 0;
                      visibility: hidden;
                    }
                    &:after {
                      opacity: 1;
                      visibility: visible;
                    }
                  }
                }

              }
              @include phone-down {
                //width: 100%;
                //padding: 0 10px;
                //border: none;
                //font-size: 14px;
                //display: -webkit-flex;
                //display: flex;
                //-webkit-align-items: center;
                //align-items: center;
                //justify-content: center;
                //min-height: 60px;
                //border-bottom: 1px solid $hex-white-smoke;
                //border-left: none;
                width: 13.9%;
              }
              @include phone-up {
                height: auto !important;
              }
              img {
                width: 13px;
                height: 13px;
                @include phone {
                  width: 11px;
                  height: 11px;
                }
              }
            }
          }
        }
      }
    }
  }
}