.infographics {

  @include tablet-up {
    padding: 87px 0 76px;
  }
  @include phablet-down {
    padding: 80px 0 30px;
  }

  .content-wrapper {
    .nav-wrap {
      //overflow: hidden;
      float: left;
      width: 100%;
      margin-bottom: 24px;
      .breadcrumb-wrap {
        float: left;
        width: 56%;
        @include desktop-down {
          width: 100%;
        }
        ul {
          //display: flex;
          li {
            position: relative;
            margin: 0 8px 0 0;
            //margin-right: 8px;
            font-size: 14px;
            font-weight: 400;
            padding-left: 20px;
            float: left;

            @include phablet-down {
              //font-size: 14px;
              padding-left: 23px;
            }

            a {
              transition: 0.4s;
              &::before {
                content: '';
                position: absolute;
                //transform: rotate(180deg);
                left: 0px;
                top: 21%;
                background-image: url(/themes/rms/templates/dist/images/svg/arrow-left.svg);
                background-repeat: no-repeat;
                background-size: 100%;
                width: 8px;
                height: 15px;
                ///* -webkit-transform: translateY(-50%); */
                -o-transform: translateY(-50%);
                ///* transform: translateY(-50%); */
                font-size: 16px;
                color: #000;


              }

              &:hover {
                color: $light-green;
                &::before{
                  background-image: url(/themes/rms/templates/dist/images/svg/arrow-left-hover.svg);
                }
              }
            }

            //&:first-child {
            //  padding-left: 0;
            //  &::after {
            //    display: none;
            //  }
            //}
            //&:last-child {
            //  font-weight: 500;
            //}
          }
        }
      }
      .social-wrap {
        float: right;
        display: flex;
        align-items: center;
        @include desktop-down {
          float: left;
          width: 100%;
          margin-top: 20px;
        }
        @include phablet-down {
          align-items: center;
          flex-wrap: wrap;
        }
        @include phone-down {
          //flex-wrap: wrap;
        }
        span {
          font-size: 18px;
          font-weight: 500;
          //margin-right: 12px;
          @include phablet-down {
            font-size: 14px;
            display: block;
            width: 100%;
          }
          @include desktop-down {
            margin: 0;
          }
          //@include phone-down {
          //  margin-right: 14px;
          //}

        }
        ul {
          display: flex;
          justify-content: center;
          align-items: center;

          @include desktop-down {
            margin-left: -12px;
          }

          @include phablet-down {
            //display: block;
            //margin-left: -12px;
            flex-wrap: wrap;
            justify-content: flex-start;
          }

          li {
            padding: 0;
            vertical-align: top;
            margin: 0 0 0 8px;
            width: 34px;

            @include desktop-down {
              margin: 0 6px 0 0;
            }

            @include phone-down {
              width: 30px;
              //margin: 0 4px 0 0;
              float: left;
            }

            a {
              display: flex;
              width: 100%;
              position: relative;
              img {
                //width: 100%;
                //height: 100%;
              }
              svg {
                transition: 0.4s;
                .bg-color {
                  fill: $black;
                  transition: 0.3s;
                }
                //&:hover {
                //  .bg-color {
                //    fill: $light-green;
                //  }
                //  .color {
                //    fill: $light-green;
                //  }
                //  .outline {
                //    stroke: $light-green;
                //  }
                //}
              }

              &:hover {
                svg {
                  .bg-color {
                    fill: $black;
                    transition: 0.3s;
                  }
                  &:hover {
                    .bg-color {
                      fill: $light-green;
                    }
                    .color {
                      fill: $light-green;
                    }
                    .outline {
                      stroke: $light-green;
                    }
                  }
                }

                .tool-tip {
                  opacity: 1;
                  visibility: visible;
                }
              }

              .tool-tip {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                width: auto;
                background-color: #666;
                left: 50%;
                transform: translateX(-50%);
                top: -30px;
                padding: 0 8px;
                border-radius: 4px;
                transition: .2s;
                z-index: 99;

                @include desktop-down {
                  left: 0;
                  transform: translateX(0);
                  z-index: 1;
                }

                //@include tablet-down {
                //
                //}

                @include phablet-down {
                  top: -22px;
                }

                .tip-text {
                  span {
                    color: $white;
                    font-size: 12px;
                  }
                }

                &:after {
                  content: '';
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  width: 0;
                  height: 0;
                  border-left: 4px solid transparent;
                  border-right: 4px solid transparent;
                  border-top: 4px solid #666;

                  @include desktop-down {
                    left: 5px;
                    transform: translateX(0);
                  }
                }
              }
            }
          }
        }
      }
    }
    .info-content {
      .wrapper {
        @include tablet-down {
          margin-bottom: 12px;
        }

        .img-mobile-wrap {
          img {
            width: 100%;
          }
        }
        &::-webkit-scrollbar {
          @include desktop-down {
            //width: 100%;
            margin: 0 auto;
            height: 5px;
            -webkit-appearance: none;
          }
        }
        /* Track */
        &::-webkit-scrollbar-track {
          @include desktop-down {
            box-shadow: inset 0 0 5px $gray;
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px $gray;
          }
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
          @include desktop-down {
            background-color: $black;
            border-radius: 10px;
          }
        }
      }
    }
  }
  //intro
  .intro-wrapper {
    float: left;
    width: 100%;
    text-align: center;
    .intro-box {
      float: none;
      margin-bottom: 48px;
      h2 {
        margin-bottom: 34px;
      }
    }
  }
}

//overlay popup

.infographic-popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 1;

  .content-outer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    padding: 0 20px;

    .content-box {
      position: relative;
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);

      .title {
        background-color: $wine-red;
        padding: 25px 40px;
        @include desktop-down {
          padding: 20px;
        }

        h4 {
          color: $white;
        }
      }

      .content {
        padding: 0 40px;
        height: 220px;
        background-color: $white;
        display: table;
        width: 100%;
        @include desktop-down {
          padding: 0 20px;
        }

        .copy-link {
          width: 100%;
          padding: 0 0 6px 0;
          display: table-cell;
          vertical-align: middle;

          label {
            font-weight: 500;
          }
          .field-wrap {
            font-size: 0;
            @media only screen and (min-width: 810px) and (max-width: 1400px) {
              .btn-red{
                top:-1px;
              }
            }
            @media only screen and (min-width: 768px) and (max-width: 810px) {
              .btn-red{
                top:0px;
                padding: 13px 34px 12px 34px;
              }
            }
            .info-share-url {
              outline: none;
              padding: 10px;
              font-family: $font-families-gotham;
              font-weight: 500;
              width: calc(100% - 94px);
              border: 1px solid $primary7;
              -webkit-appearance: none;
              border-radius: 0;

              @include desktop-down {
                width: calc(100% - 100px);
                //padding: 7px;
                padding: 7px 7px 8px;
              }
              @include phone-down {
                width: calc(100% - 82px);
              }
            }

            button {
              cursor: pointer;
              outline: none;
            }
          }
        }
      }
      .close-popup {
        position: absolute;
        right: 29px;
        top: 29px;
        width: 30px;
        height: 30px;
        cursor: pointer;

        @include desktop-down {
          top: 19px;
        }
        @include phone-down{
          right: 14px;
        }
        &::after {
          content: "";
          position: absolute;
          background-color: $white;
          width: 2px;
          height: 22px;
          transform: rotate(45deg);
          top: 0;
          left: 15px;
        }
        &::before {
          content: "";
          position: absolute;
          background-color: $white;
          width: 2px;
          height: 22px;
          transform: rotate(-45deg);
          top: 0;
          left: 15px;
        }
      }
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

