.inquiry-block {
  position: relative;
  @include desktop-up {
    padding: 91px 0 100px;
  }
  .bg-img {
    position: absolute;
    left: 0;
    width: 100%;
    background-image: linear-gradient(111deg, #0a0a0a 1%, #4b4b4b 100%);
    top: 31%;
    height: 69.1%;
    @include desktop-down {
      top: 0;
      height: 100%;
    }
  }
  .pattern-animation {
    position: absolute;
    width: 308px;
    height: 316px;
    z-index: 0;
    right: -2.8%;
    bottom: -12%;
    opacity: 0.7;
    @include desktop-down {
      display: none;
    }
  }
  .col-wrap {
    @include container-up {
      margin-left: -8px;
    }
    @include desktop-down {
      justify-content: center;
    }
    .col-four-cards {
      position: relative;
      background-color: $white;
      padding: 47px 30px;
      height: 360px;
      @include desktop-up {
        margin: 0 10px 15px 10px;
        padding: 47px 30px 0 37px;
        max-width: calc(25% - 20px);
        flex-basis: calc(25% - 20px);
      }
      //&:nth-child(1) {
      //  .text-box {
      //    p {
      //      margin-bottom: 36px;
      //    }
      //  }
      //}
      @include tablet {
        margin: 10px 10px;
        max-width: calc(50% - 20px);
        flex-basis: calc(50% - 20px);
      }
      @include phablet {
        margin: 10px 9px;
        max-width: calc(50% - 18px);
        flex-basis: calc(50% - 18px);
      }
      @include phablet-down {
        margin: 10px 9px;
        max-width: calc(100% - 18px);
        flex-basis: calc(100% - 18px);
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.15);
        background-image: linear-gradient(271deg, rgb(0, 183, 198), rgb(0, 134, 161) 100%)
      }
      .icon-box {
        margin-bottom: 21px;
        width: 42.3px;
        height: 45px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .line-border-bottom {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          bottom: -16.1px;
          left: 0;
          background: $light-teal;
          width: 53px;
          height: 1px;
        }
      }
      .text-box {
        h4 {
          letter-spacing: normal;
          margin: 10px 0 18px;
        }
        h6 {
          font-size: 14px;
          font-weight: 500;
          font-family: $font-families-gotham;
          line-height: 1.57;
          letter-spacing: normal;
          padding: 0 0 4px;
        }
        h5 {
          position: relative;
          margin-bottom: 32px;
          font-size: 14px;
          font-weight: normal;
          font-family: $font-families-gotham;
          line-height: 1.74;
          letter-spacing: normal;
          text-align: left;
          color: $black;
          a {
            font-size: 14px;
            font-weight: normal;
            font-family: $font-families-gotham;
            line-height: 1;
            letter-spacing: normal;
            text-align: left;
            &:hover {
              color: $black;
            }
          }
          &:after {
            content: "";
            position: absolute;
            bottom: -16.1px;
            left: 0;
            background: $light-teal;
            width: 53px;
            height: 1px;
          }
          ul {
            margin: 21px 0 39px 0;
            li {
              padding: 0 0 0 0;
              line-height: 0;
              margin: 0 0 14px 0;
              a {
                font-size: 14px;
                font-weight: normal;
                font-family: $font-families-gotham;
                line-height: 1;
                letter-spacing: normal;
                text-align: left;
                &:hover {
                  color: $black;
                }
              }
              &:before {
                display: none;
              }
            }
          }
        }

        p {
          font-size: 14px;
          font-weight: normal;
          font-family: $font-families-gotham;
          line-height: 1.74;
          letter-spacing: normal;
          text-align: left;
          color: $black;
          a {
            margin-top: 8px;
            font-size: 14px;
            font-weight: 500;
            font-family: $font-families-gotham;
            //line-height: 0.86;
            letter-spacing: normal;
            position: relative;
            transition: all 0.3s ease;
            overflow: hidden;
            color: $wine-red;
            &:hover {
              color: $light-teal;
            }
          }
        }
        ul {
          margin: 21px 0 39px 0;
          li {
            padding: 0 0 0 0;
            line-height: 0;
            margin: 0 0 14px 0;
            a {
              font-size: 14px;
              font-weight: normal;
              font-family: $font-families-gotham;
              line-height: 1;
              letter-spacing: normal;
              text-align: left;
              &:hover {
                color: $black;
              }
            }
            &:before {
              display: none;
            }
          }
        }
        .button-box {
          margin-top: 8px;
          .learn-more {
            font-size: 14px;
            font-weight: 500;
            font-family: $font-families-gotham;
            line-height: 0.86;
            letter-spacing: normal;
          }
        }
      }

    }
  }
}