  .insight-with-progress{
    padding-top: 45px;
    @include container-up{
      padding-bottom: 124px;
    }
    .intro-box{
      h2{
        font-weight: bold;
        word-spacing: normal;
        letter-spacing: 0.45px;
      }
    }
    .bg-img{
      position: absolute;
      top: auto;
      left: 0;
      width: 100%;
      height: 500px;
      bottom: 0;
      //z-index: 2;
      &:after{
        content:  "";
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        background-color: #212121;
        top: 0;
        bottom: 0;
        left:0;
        @include phablet-down{
          display:none;
        }
      }
      @include desktop-down{
        top: auto;
        bottom: 0;
      }
      @include phablet-down{
        position: absolute;
        top: 0%;
        height: 100%;
        background-color:$white;
      }
      img{
        @include phablet-down{
         display:none;
        }
      }
    }
    .content-box {
      position: relative;
      .pattern-animation {
        position: absolute;
        right: -4.3%;
        bottom: -53px;
        width: 310px;
        height: 316px;
        z-index: 0;
        opacity: 1;
        @media screen and (min-width: 992px) and (max-width: 1240px) {
          right: 1%;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        @include desktop-down {
          display: none;
        }
      }
    }

    .light-green{
      background-color:$light-green;
      .top-heading{
        h5{
          color:$light-green;
        }
        .hide{
          h6{
            @include desktop-down{
              color:$light-green !important;
            }

          }
        }
      }
      .right-arrow, .left-arrow{
        border-color: transparent transparent $light-green;
      }
    }
    .green{
      background-color:$green;
      .top-heading{
        h5{
          color:$green;
        }
        .hide{
          h6{
            @include desktop-down{
              color:$green !important;
            }

          }
        }
      }
      .right-arrow, .left-arrow{
        border-color: transparent transparent $green;
      }
    }
    .dark-green{
      background-color:$dark-green;
      .top-heading{
        h5{
          color:$dark-green;
        }
        .hide{
          h6{
            @include desktop-down{
              color:$dark-green!important;
            }

          }
        }
      }
      .right-arrow, .left-arrow{
        border-color: transparent transparent $dark-green;
      }
    }

    .extra-dark-red{
      background-color:$extra-dark-red;
      .top-heading{
        h5{
          color:$extra-dark-red;
        }
        .hide{
          h6{
            @include desktop-down{
              color:$extra-dark-red!important;
            }

          }
        }
      }
      .right-arrow, .left-arrow{
        border-color: transparent transparent $extra-dark-red;
      }
    }

    .dark-orange{
      background-color:$dark-orange;
      .top-heading{
        h5{
          color:$dark-orange;
        }
        .hide{
          h6{
            @include desktop-down{
              color:$dark-orange!important;
            }

          }
        }
      }
      .right-arrow, .left-arrow{
        border-color: transparent transparent $dark-orange;
      }
    }
    .column-wrapper{
      box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.04);
      background-color:$white;
      width:100%;
      text-align: center;
      justify-content: center;
      margin-top: 14px;
      padding: 63px 0 88px;
      position: relative;

      @include container-down{
        margin-top: 40px;
        padding: 40px 0;
      }
      @include tablet-down{
        margin-top: 30px;
        padding: 25px 0;
      }
      @include phablet-down{
        box-shadow: none;
      }
      h3{
        text-align: center;
        letter-spacing: normal;
        font-weight: bold;

      }
      .cover-item{
        width:100%;
        display: flex;
        padding: 50px 30px 32px 32px;
        @include container-down{
          padding: 32px 10px;
          justify-content: center;
        }
        @include desktop-down{
          padding: 25px 10px;
          display: inline-block;
        }
        @include phablet-down{
          padding: 25px 0 0 60px;
        }
        @include phone-down{
          padding: 25px 0 0 43px;
        }
        .we-items{
          min-height: 200px;
          padding: 2px 3px;
          margin: 0 6px 0 1px;
          position: relative;
          max-width: 185px;
            @include container-down{
              max-width:165px
            }
          @include desktop-down{
            max-width: 100%;
            /* max-width: 165px; */
            display: inline-block;
            width: calc(50% - 31px);
            margin: 15px 10px;
            vertical-align: top;
          }
          @include phablet-down{
            width: calc(100%);
            min-height: 220px;
            margin: 3px 0;
            padding: 3px 3px;
          }
          .top-heading{
            min-height: 57px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            background-color: $white;
            padding:0 10px;
            @include desktop-down{
              display: block;
              text-align:left;
              padding: 8px 10px
            }
            @include phablet-down{
              min-height: 100px;
              display: flex;
              text-align:center;
              flex-direction: column;
              //padding: 19px 10px;
              padding: 23px 10px 14px 10px;
            }
            h5{
              font-size: 20px;
              font-weight: bold;
              line-height: 1.35;
              letter-spacing: normal;
              @include desktop-up{
                text-align:center;
              }
              @include phablet-down{
                text-align:center;
              }
            }
          }
          .items {
            height: calc(100% - 55px);
            display: flex;
            align-items: center;
            @include container-down{
              padding:0 15px
            }
            @include desktop-down{
              display: block;
              text-align:left;
              height: auto;
              padding: 15px 11px;
            }
            @include phablet-down{
              min-height: 78px;
              display: block;
              text-align:center;
              //flex-direction: column;
              justify-content: center;
              padding: 19px 11px 15px 11px;
            }
            p{
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.38;
              letter-spacing: normal;
              color:$white;
              margin: 0 auto;
              @include container-up{
                max-width: 134px;
                padding-bottom: 5px;
              }
              @include phone-down{
                max-width: 180px;
              }

            }
          }
          .hide{
            display:none;
            @include desktop-down{
              display:block;
              text-align:left;
            }
            @include phablet-down{
              margin-bottom: 8px;
              text-align:center;
            }
            @include phone-down{
              max-width: 170px;
              margin: 0 auto 8px;
            }

            h6{
              @include desktop-down{
                font-size: 11px;
                font-weight: bold;
                line-height: 1.64;
                letter-spacing: 0.22px;
                font-family:$font-families-gotham;
                text-transform:uppercase;
                text-align:left;
                color:$white;
              }
              @include phablet-down{
                text-align:center;
                font-weight: 500;
              }
            }
          }

          &.text-after{
            width: 13%;
            padding: 5px 0 0 1px;
            margin: 0;
            @include desktop{
              width: 14%;
            }
            @include desktop-down{
              display:none;
            }
            .top-heading, .items{
              background-color: transparent;
              max-width: 155px;
              margin: 0 auto;
              h6{
                font-size: 11px;
                font-weight: 500;
                line-height: 1.64;
                letter-spacing: 0.22px;
                font-family:$font-families-gotham;
                text-transform:uppercase;
                text-align:center;
                @include desktop-down{
                  color:$white;
                }
              }
            }
            .items{
              padding-bottom:20px;
            }
          }

        }

        .hass-arrow{
          position:relative;
          &:nth-child(6){
            z-index: 2;
          }
          &:nth-child(5){
            z-index: 3;
          }
          &:nth-child(4){
            z-index: 5;
          }
          &:nth-child(3){
            z-index: 7;
          }
          &:nth-child(2){
            z-index: 9;
          }

          .left-arrow{
            position: absolute;
            top: 45%;
            left: -10px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 18px 17px;
            transform: rotate(90deg);
            z-index: 2;
            @include desktop-up{
              border-color: transparent transparent $white !important;
            }
            @include tablet{
              border-color: transparent transparent $white !important;
            }
            @include phablet{
              border-color: transparent transparent $white !important;
            }
            @include desktop-down{
              display:none;
            }
            @include phablet-down{
              display: block;
              top: 3px;
              left: 50%;
              z-index:0;
              transform: translate(-50%, 0%) rotate(180deg);
            }

          }
          .right-arrow{
            position: absolute;
            top: 45%;
            right: -26px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 18px 17px;
            transform: rotate(90deg);
            z-index: 99;
            @include desktop-down{
              display:none;
            }
            @include phablet-down{
              display: block;
              bottom: -15px;
              top: auto;
              left: 50%;
              //transform: rotate(180deg);
              transform: translate(-50%, 0%) rotate(180deg);
            }
          }
          .center-arrow{
            @include phablet-down{
              border-color: transparent transparent $white !important;
              position: absolute;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 18px 17px;
              top: -2px;
              left: 50%;
              transform: translate(-50%, 0%) rotate(180deg);
            }
          }
          &:nth-child(2){
            .left-arrow{
             display:none;
            }
            .top-heading{
              @include phablet-down{
                padding:8px 10px 15px 10px;
              }
            }
            .center-arrow{
              display:none;
            }
          }
          &:last-child{
            .right-arrow{
              display:none;
            }
          }
        }
      }
        .cover-col-outer{
          position: relative;
          width: calc(100% - 260px);
          margin-left: 89px;
          @media only screen and (min-width: 1010px) and (max-width: 1199px){
            width: calc(100%);
          }
          @media only screen and (min-width: 1200px) and (max-width: 1232px){
            width: calc(100% - 72px);
            margin-left: 103px;
            max-width: 926px;
          }
          @media only screen and (min-width: 1100px) and (max-width: 1199px){
            margin-left: 126px;
            max-width: 834px;
          }
          @media only screen and (min-width: 1060px) and (max-width: 1099px){
            margin-left: 120px;
            max-width: 834px;
          }
          @media only screen and (min-width: 1010px) and (max-width: 1059px){
            margin-left: 102px;
            max-width: 811px;
          }
          @media only screen and (min-width:1020px) and (max-width: 1030px){
            margin-left: 97px !important;
            max-width: 778px !important;
          }
          @media only screen and (min-width: 992px) and (max-width: 1009px){
            width: calc(100% - 168px);
            margin-left: 128px;
            max-width: 783px;
            margin-right: 30px;
          }
          @include tablet{
            width: calc(100%);
            margin: 0 50px 0 28px;
          }
          @include phablet{
            width: calc(100%);
            margin: 0 50px 0 28px;
          }
          @include phablet-down{
            position: absolute;
            width: calc(100%);
            margin-left: 0;
            height: 100%;
            top: 0;
            left: 3%;
          }
          .col-outer{
            padding:0 30px ;
            position: relative;
            min-height: 30px;
            display:block;
            justify-content: center;
            background-color: $black;
            width:100%;
            padding-top: 6px;
            max-width:100%;
            @include container-down{
              width: 100%;
            }
            @include phablet-down{
              max-width: 35px;
              width: 10%;
              height: 89.9%;
              position: absolute;
              left: -2%;
              padding: 6px 6px 6px 7px;
              top: 6.2%;
            }
            @media only screen and (max-width: 555px)  {
              top: 7.9%;
              left: -1%;
              height: 88.5%;
            }
            @media only screen and (max-width: 480px) {
              padding: 6px 0px 6px 1px;
              max-width: 20px;
              top: 7.3%;
              height: 89.5%;
            }
            .right-arrow{
              position: absolute;
              top: 1px;
              right: -34px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 25px 25px;
              transform: rotate(90deg);
              z-index: 1;
              border-color: transparent transparent $black;
              @include phablet-down{
                top: auto;
                bottom: -17px;
                right: -7px;
                transform: rotate(180deg);
                border-width: 0 25px 24px;
              }
              @media only screen and (max-width: 480px) {
                border-width: 0 18px 22px;
                right: -8px;
              }
              @media only screen and (max-width: 350px) {
                right: -8px;
              }
            }
            p{
              font-size: 12px;
              font-weight: 500;
              line-height: 1.5;
              letter-spacing: 0.36px;
              color: $white;
              text-transform:uppercase;
              @include phablet-down{
                display: flex;
                justify-content: center;
                height: 100%;
                width: 100%;
                line-height: 1.5;
                writing-mode: vertical-lr;
                transform: rotate(180deg);
              }
            }
          }
        }

    }
  }