.intro-box {
  text-align: center;
  max-width: 799px;
  margin: 0 auto;
  h3 {
    margin-bottom: 40px;
    font-weight: bold;
    letter-spacing: 0.015em;
    word-spacing: 0.1em;
    margin-top: 7px;
    &:after{
      @include phablet-up{
        bottom: -18.1px !important;
      }
      @include phablet-down{
        bottom: -11.1px !important;
      }
    }
    @include desktop-down {
      margin-bottom: 30px;
    }
    @include phablet-down {
      margin-bottom: 12px;
    }
  }
  p {
    margin: 20px 0;
    span {
      font-family: inherit;
    }
  }
  .button-box {
    margin: 30px 0 0px;
    @include tablet-down {
      margin: 20px 0;
    }
    @include phablet-down {
      margin: 15px 0;
    }
  }
  .clearfix {

    &.Terms-of-Use {
      .row {
        .col-sm-12 {
          .sfont.ops {
            margin-left: 0;
            ul {
              li {
                list-style-type: none;
                padding-left: 40px;
                margin-bottom: 10px;
                line-height: 1.42;
                margin-top: 0;
                font-size: 16px;
                .red-plus {
                  position: relative;
                  padding-right: 5px;
                  color: $wine-red;
                  width: 15px;
                  float: left;
                  strong {
                    font-weight: 500;
                  }
                }
                .red-plus-txt {
                  display: block;
                  overflow: hidden;
                }
              }
            }
          }

        }
      }
    }
    //max-width: 900px;
    margin: 0 auto;
    width: 100%;
    p {
      text-align: left;
      margin: 8px 0;
      font-size: 16px;
      a {
        color: $black;
        text-decoration: underline !important;
      }
    }
    .row {
      margin-right: 0;
      margin-left: 0;
      .col-sm-12 {
        padding-right: 0;
        padding-left: 0;
        width: 100%;
        h3 {
          margin-top: 20px;
          margin-bottom: 10px;
        }
        .sfont {
          margin-left: 40px;
          ul {
            text-align: left;
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
              //list-style-type: disc;
              //padding-left: 0;
              span {
                font-family: $font-families-gotham;
              }
            }
          }
        }
        .cookie-content-table {
          border: 1px solid $gray11;
          @include tablet-down {
            border: 0;
          }
          .table-responsive-sm {
            display: block;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            table {
              table-layout: fixed;
              margin-bottom: 0;
              min-width: 800px;
              margin-top: 0px;
              display: table;
              border: 0;
              border-collapse: collapse;
              thead {
                background-color: $darkblue4;
                color: $white;
                th {
                  word-break: break-word;
                  word-wrap: break-word;
                  border: 1px solid $gray11;
                  text-align: center;
                  vertical-align: middle;
                  font-weight: 500;
                  font-size: 14px;
                  padding: 8px;
                  font-family: $font-families-Inter;
                  &:first-child {
                    border-left: 0 none;
                  }
                  &:last-child {
                    border-right: 0 none;
                  }
                }
                &:first-child {
                  border-top: 0;
                }
              }

              tbody {
                tr {
                  td {
                    vertical-align: middle;
                    font-size: 13px;
                    text-align: center;
                    font-weight: normal;
                    word-break: break-word;
                    word-wrap: break-word;
                    border: 1px solid $gray11;
                    color: $gray15;
                    font-family: $font-families-Inter;
                    &:first-child {
                      border-left: 0 none;
                    }
                    &:last-child {
                      border-right: 0 none;
                    }
                    a {
                      color: $gray15;
                      text-decoration: underline !important;
                      font-family: $font-families-Inter;
                    }
                  }
                }
              }

            }
          }
          &.hidden-xs {
            @include tablet-down {
              display: none !important;
            }
          }

          &.hidden-lg {
            display: none !important;
            @include tablet-down {
              display: block !important;
            }
            ul {
              margin-bottom: 35px;
              li {
                border: 1px solid $gray11;
                padding: 10px 15px;
                margin: 0;
                font-size: 14px;
                font-family: $font-families-gotham;
                font-weight: normal;
                &:nth-child(odd) {
                  border-color: $gray11;
                  display: block;
                  background-color: $darkblue4;
                  padding: 5px 15px;
                  color: $white;
                  border-bottom: 0;
                }
                &.table-header-light {
                  background-color: $gray11;
                  color: $black;
                }
              }
            }
          }
        }
      }
    }
  }
}

