.leadership-slider {
    padding-top: 0;
  .intro-box {
    text-align: center;
    max-width: 799px;
    margin: 0 auto;
    h2 {
      margin-bottom: 32px;
      font-weight: bold;
      letter-spacing: 0.01em;
      word-spacing: 0.0em;
      margin-top: 4px;
      @include phablet-down {
        margin-bottom: 12px;
      }
      &:after {
        bottom: -14.1px;
      }
    }
    p {
      margin: 20px 0;
    }
    .button-box {
      margin: 33px 0 25px;
      @include tablet-down {
        margin: 20px 0;
      }
      @include phablet-down {
        margin: 15px 0;
      }
    }
  }
  .rectangle-box {
    width: 551px;
    height: 551px;
    top: -60px;
  }
  .slider-block {
    .slider-outer {
      opacity: 0;
      .card-item {
        margin: 16px 23.4px 4px 16px;
        cursor: pointer;
        height: 357px;
        overflow: hidden;
        position: relative;
        outline: none;
        padding: 0;
        //@include container-up {
        //  margin: 16px 0 4px -4px;
        //  &:nth-child(1) {
        //    margin-left: 0;
        //  }
        //}
        &.col-four {
          width: calc(25% - 39.4px);
          @include tablet {
            width: calc(33.33% - 30px);
            margin: 16px 15px 4px;
          }
          @include phablet {
            width: calc(50% - 30px);
            margin: 16px 15px 4px;
          }
          @include phablet-down {
            width: 100%;
            margin: 16px 15px 4px;
          }
        }
        &.col-three {
          width: calc(33.33% - 39.4px);
          @include tablet {
            width: calc(33.33% - 30px);
            margin: 16px 15px 4px;
          }
          @include phablet {
            width: calc(50% - 30px);
            margin: 16px 15px 4px;
          }
          @include phablet-down {
            width: 100%;
            margin: 16px 15px 4px;
          }
        }
        &.col-two {
          width: calc(50% - 39.4px);
          @include phablet-down {
            width: 100%;
            margin: 16px 15px 4px;
          }
        }
        &.col {
          width: 100%;
          max-width: 267.6px;
          margin: 16px auto;
        }
        .img-box {
          width: 100%;
          height: 276px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .content-wrap {
          background-color: $white;
          box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.05);
          background-image: linear-gradient(118deg, #004c6c 0%, #0086a1);
          padding: 17px 6px 17px 25px;
          height: 90px;
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
          transition: 0.5s all ease-in-out;
          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: $white;
            opacity: 0.8;
          }
          h5 {
            color: $white;
          }
          p {
            font-family: $font-families-gotham;
            font-size: 12px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: $white;
            padding: 4px 20px 0 0;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            height: 40px;
          }
          .footer-box {
            position: relative;
            bottom: -25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s opacity ease-in-out;
            @include tablet-up {
              max-width: 210px;
            }
            .learn-more {
              position: relative;
              font-size: 12px;
              font-weight: bold;
              font-family: $font-families-gotham;
              line-height: 1.17;
              letter-spacing: 0.24px;
              text-align: left;
              color: $white !important;
              &:after {
                top: 3px;
                background-image: url(/themes/rms/templates/dist/images/arrow-white-small.svg);
              }
              &:hover {
                color: $light-teal !important;
              }
            }
            .icon-box {
              width: 25px;
              height: 25px;
              background-color:$black;
              display: flex;
              align-items: center;
              position: absolute;
              right: 0;
              @include tablet-down {
                margin-right: 10px;
              }
              img, svg {
                width: 100%;
                height: 100%;
                max-width: 18px;
                max-height: 18px;
                margin: 0 auto;
                object-fit: contain;
                transition: 0.5s opacity ease-in-out;
                font-family: "object-fit:contain;";
                #Mask_Group_10 {
                  fill: $white !important;
                }

              }
              &:hover {
                background-color:$light-green;
                //svg {
                //  fill: $light-green;
                //}
              }
            }
          }
        }
        &:hover, .active {
          .content-wrap {
            height: 140px;
            .text-wrap{
              h5{
                -webkit-line-clamp: 1;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                height: auto;
              }
            }
          }
          .footer-box {
            opacity: 1;
            visibility: visible;
            transition-delay: 0.3s;
            .read-more-btn {
              &:after {
                transform: rotate(0);
                border-bottom: 5px solid $white;
              }
              &:hover {
                color: $white;
              }
            }
          }

        }
      }
    }
    .button-wrap {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      @include desktop-down {
        max-width: 100%;
      }
      @include tablet-down {
        max-width: 100%;
        position: relative;
        bottom: 0px;
        padding-top: 15px;
      }
      .pre-btn {
        background: url(/themes/rms/templates/dist/images/arrow-right-small.svg) no-repeat;
        background-size: 28px;
        transform: rotate(180deg);
        z-index: 1;
        display: inline-block;
        width: 29px;
        height: 15px;
        position: relative;
        left: -12px;
        cursor: pointer;
        vertical-align: top;
        &.slick-disabled {
          opacity: 0.3;
          cursor: auto;
        }
      }
      .next-btn {
        background: url(/themes/rms/templates/dist/images/arrow-right-small.svg) no-repeat;
        background-size: 28px;
        z-index: 1;
        display: inline-block;
        vertical-align: top;
        width: 29px;
        height: 15px;
        position: relative;
        right: -12px;
        cursor: pointer;
        &.slick-disabled {
          opacity: 0.3;
          cursor: auto;
        }
      }
      .slick-dots {
        display: flex;
        justify-content: center;
        li {
          display: inline-block;
          position: relative;
          width: 6px;
          height: 6px;
          margin: 0 3px;
          padding: 0;
          &:before {
            display: none;
          }
          button {
            outline: none;
            width: 6px;
            height: 6px;
            background: $light-green;
            opacity: 0.5;
            text-indent: 999999px;
            border-radius: 50%;
            cursor: pointer;
          }
          &.slick-active {
            button {
              background: $light-green;
              opacity: 1;
            }
          }
        }
      }
    }
  }
  &.about-leadership {
    padding-top: 0;
  }
}