.leadership-grid {
  @include desktop-up {
    padding: 0 0 97px;
  }
  .intro-box {
    text-align: center;
    max-width: 799px;
    margin: 0 auto;
    h2 {
      margin-bottom: 30px;
      font-weight: bold;
      letter-spacing: 0.01em;
      word-spacing: 0.0em;
      margin-top: 4px;
      @include phablet-down {
        margin-bottom: 12px;
      }
    }
    p {
      margin: 20px 0;
    }
    .button-box {
      margin: 34px 0 35px;
      @include tablet-down {
        margin: 20px 0;
      }
      @include phablet-down {
        margin: 15px 0;
      }
    }
  }

  .rectangle-box {
    position: absolute;
    width: 571px;
    height: 467px;
    top: 0;
    left: -104px;
    right: auto;
  }
  .cards-wrapper {
    margin-top: 0;
    position: relative;
    @media only screen and (min-width: 1400px) {
      margin-left: -8px;
      width: calc(100% + 16px);
    }
    .card-item {
      margin: 16px 0 4px;
      cursor: pointer;
      padding: 0;
      //}
      @include desktop-up {
        margin: 16px 9px 1px;
        max-width: calc(25% - 18px);
        flex-basis: calc(25% - 18px);
      }
      @include tablet {
        max-width: calc(33.33% - 20px);
        flex-basis: calc(33.33% - 20px);
        margin: 10px 10px;
      }
      @include phablet {
        margin: 10px 10px;
        max-width: calc(50% - 20px);
        flex-basis: calc(50% - 20px);
      }
      @include phablet-down {
        margin: 10px 11px;
        max-width: calc(50% - 22px);
        flex-basis: calc(50% - 22px);
      }
      @include phone {
        padding: 0 20px 30px;
        margin: 0;
        max-width: 100%;
        flex-basis: 100%;
      }
      @include phone-down {
        padding: 0 20px 30px;
        margin: 0;
        max-width: 100%;
        flex-basis: 100%;
      }
      .img-box {
        width: 100%;
        height: 276px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          font-family: "object-fit: cover;";
        }
      }

      .content-wrap {
        background-color: $white;
        box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.05);
        padding: 17px 25px;
        cursor: pointer;
        h5 {
          font-weight: bold;
          line-height: 1.38;
          letter-spacing: -0.23px;
          text-align: left;
          color: $black;
        }
        p {
          font-family: $font-families-gotham;
          font-size: 12px;
          font-weight: 500;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: $black;
          padding: 4px 15px 0 0;
        }
        .footer-box {
          position: relative;
          display: flex;
          align-items: center;
          //justify-content: space-between;
          margin: 24px 0 0;
          &:after {
            content: "";
            position: absolute;
            top: -16px;
            left: 0;
            width: 100%;
            height: 1px;
            box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.05);
            background-color: rgba(217, 217, 217, 0.4117647058823529);
          }
          .read-more-btn {
            position: relative;
            font-size: 12px;
            font-weight: bold;
            font-family: $font-families-gotham;
            line-height: 1.17;
            letter-spacing: 0.24px;
            text-align: left;
            color: $wine-red;
            transition: 0.3s all ease-in-out;
            //width: calc(100% - 25px);

            &:after {
              content: "";
              position: absolute;
              top: 46%;
              right: -15px;
              z-index: 1;
              width: 0;
              height: 0;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              border-bottom: 5px solid $wine-red;
              transform: rotate(180deg);
              transition: 0.3s all ease-in-out;
            }
            //&:hover {
            //  @include desktop-up{
            //    color: $light-green;
            //  }
            //  &:after {
            //    @include desktop-up{
            //      border-bottom: 5px solid $light-green;
            //    }
            //  }
            //}
          }
          .icon-box {
            width: 25px;
            height: 26px;
            position: absolute;
            right: 0;
            top: -5px;
            @include container-up {
              margin-right: 3px;
            }
            img, svg {
              width: 100%;
              height: 100%;
              object-fit: contain;
              font-family: "object-fit:contain;";
              #Mask_Group_10 {
                fill: $white !important;
              }
            }
            &:hover {
              svg {
                fill: $light-green;
              }
            }
          }
        }
      }
      &.active {
        .collapse-box {
          opacity: 1;
        }
        .content-wrap {
          box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.05);
          background-image: linear-gradient(118deg, rgb(1, 58, 83) 0%, rgb(1, 137, 165));
          position: relative;
          &:before {
            content: "";
            top: 0;
            width: 100%;
            height: 1px;
            background: $white;
            position: absolute;
            left: 0;
          }
          &:after {
            content: "";
            position: absolute;
            bottom: -46px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            width: 0;
            height: 0;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-bottom: 25px solid #0a0a0a;
            transition-delay: 0.3s;
            transition: 0.5s all ease-in-out;
          }
          h5, p {
            color: $white;
          }
          .read-more-btn {
            color: $white;
          }
          .footer-box {
            &:after {
              background-color: #d9d9d91f;
            }
          }
        }
        .footer-box {
          .read-more-btn {
            &:after {
              transform: rotate(0);
              border-bottom: 5px solid $white;
            }
            &:hover {
              //color: $light-green;

            }
          }
        }

      }
      .collapse-box {
        padding: 49px 0 71px;
        background-image: linear-gradient(112deg, rgb(10, 10, 10) 1%, rgb(75, 75, 75) 100%);
        display: none;
        position: relative;
        margin: 42px 0 50px;
        z-index: 9;
        opacity: 0;
        @include tablet-down {
          padding: 10px 0 50px;
          margin: 42px 0 15px;
        }
        @include phablet-down {
          padding: 9px 0 50px;
          margin: 42px 0 10px;
        }
        &.single-content {
          @include desktop-up {
            padding: 79px 0 74px;
          }
          @include tablet-down {
            padding: 39px 0 20px
          }
        }
        &.coll-two {
          padding: 49px 0 68px;
          @include tablet-down {
            padding: 10px 0 50px;
          }
          @include phablet-down {
            padding: 9px 0 50px;
          }
        }
        .collapse-left-content {
          color: $white;
        }
        .collapse-right-content {
          color: $white;
        }
        .row {
          align-items: center;
          margin-right: -18px;
          margin-left: -9px;
          @include desktop-down {
            margin: 0 auto;
          }
        }
        .col {
          @include container-up {
            max-width: 1010px;
          }
          h2 {
            font-weight: bold;
            line-height: 1.16;
            letter-spacing: normal;
            text-align: left;
            color: $white;
            margin-bottom: 24px;
          }
          /* width */
          &::-webkit-scrollbar {
            width: 4px;
            height: 200px;
          }

          /* Track */
          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 10px;
          }

          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: $white;
            border-radius: 10px;
          }
          p {
            font-family: $font-families-gotham;
            font-weight: normal;
            line-height: 1.75;
            letter-spacing: 0.16px;
            text-align: left;
            color: $white;
            padding: 10px 0 21px;
            max-width: 100%;
          }
        }
        .left-content {
          @include large_desktop {
            padding-left: 7px;
          }
          @include desktop-down {
            margin-bottom: 40px;
          }
          @include tablet {
            margin-bottom: 15px;
          }
          @include phablet {
            margin-bottom: 10px;
          }
          @include phablet-down {
            margin-bottom: 10px;
          }
          h2 {
            font-weight: bold;
            line-height: 1.16;
            letter-spacing: normal;
            text-align: left;
            color: $white;
            margin: 27px 0 31px;
            &:after {
              bottom: -17px;
            }
          }
          .text-block {
            height: 332px;
            overflow-y: scroll;
            cursor: all-scroll;
            @include desktop-up {
              max-width: 530px;
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
              height: 336px;
            }
            @include tablet-down {
              height: 290px;
            }
            /* width */
            &::-webkit-scrollbar {
              width: 4px;
              height: 80px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
              box-shadow: inset 0 0 5px grey;
              border-radius: 10px;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
              background: $white;
              border-radius: 10px;
            }
            p {
              font-family: $font-families-gotham;
              font-weight: normal;
              line-height: 1.75;
              letter-spacing: 0.16px;
              text-align: left;
              color: $white;
              padding: 0px 0 28px;
              max-width: 500px;
              @include desktop-mid {
                padding-right: 16px;
              }
              @include desktop-down {
                max-width: 100%;
                padding-right: 30px;
              }
              @include tablet-down {
                padding: 6px 0 10px;
              }
            }
            &.no-scroll {
              height: 100%;
              &::-webkit-scrollbar {
                display: none;
              }
              &::-webkit-scrollbar-track {
                display: none;
              }
              &::-webkit-scrollbar-thumb {
                display: none;
              }
            }
          }
        }
        .right-content {
          padding: 0 3px 0 0;
          position: relative;
          margin-top: 40px;
          @include desktop-down {
            padding: 0 20px;
            //padding: 0 20px 0 10px;
          }
          @include phablet-down {
            padding: 0 20px 0 10px;
          }
          @include tablet-down {
            margin-top: 20px;
          }
          .pattern-animation {
            position: absolute;
            width: 308px;
            height: 316px;
            z-index: 0;
            right: -7%;
            bottom: -13.5%;
            @media screen and (min-width: 992px) and (max-width: 1240px) {
              rigth: 1%;
            }
            img, svg {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
            @include desktop-down {
              display: none;
            }
          }
          .pattern-animation-two {
            position: absolute;
            width: 227px;
            height: 246px;
            z-index: 0;
            right: -38px;
            bottom: -31.5%;
            @include desktop-down {
              display: none;
            }
          }
          @include desktop-up {
            margin: 0 0 0 -8px;
          }
          .content-wrapper {
            background-color: $white;
            position: relative;
            padding: 30px 37px;
            margin: 14px 0 0 0;
            @include container-up {
              height: 385px;
            }
            @include desktop-down {
              margin: 0;
            }
            @include phablet-down {
              padding: 30px 25px;
            }
            &.single-block {
              padding: 41px 37px 41px;
              margin: 30px 0 0 0;
              top: 1px;
              height: auto;
              @include desktop-down {
                margin: 0;
              }
              .awards-block {
                .award-wrap {
                  &:after {
                    top: -18px;
                  }
                }
              }
            }
            .top-border {
              background-image: linear-gradient(92deg, rgb(0, 134, 161) 0%, rgb(0, 183, 198) 100%);
              z-index: 1;
            }
            h5 {
              font-weight: bold;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.3;
              letter-spacing: normal;
              text-align: left;
              margin-bottom: 20px;
            }
            .slider-block {
              overflow: visible;
              z-index: 0;
              &.active {
                opacity: 1;
              }
              .container-block {
                position: relative;
                width: 100%;
                padding: 11px 0;
                .bg-wrapper {
                  padding: 19px 0 23px;
                  position: relative;
                  &:after {
                    content: "";
                    position: absolute;
                    top: -6px;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    -webkit-box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.05);
                    box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.05);
                    background-color: #acacac4f;
                  }
                }
              }

              .slider-outer {
                //padding: 0 72px 0 15px;
                padding: 0 72px 0 9px;
                transition: 0.3s all ease-in-out;
                overflow: hidden;
                position: relative;
                @include phone-down {
                  padding: 0 43px 0 0;
                }

                .item-box {
                  display: flex;
                  flex-basis: calc(50% - 3px);
                  max-width: calc(50% - 3px);
                  padding: 0 0 0;
                  margin: 0 1px 0 0;
                  position: relative;
                  outline: none;
                  cursor: pointer;
                  @include container-up {
                    padding: 0 4px 0 0;
                    margin: 0 20px 0 0;
                  }
                  &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 5%;
                    width: 1px;
                    height: 55px;
                    background: $light-gray;
                    @include container-up {
                      right: 0;
                    }
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                      right: 3%;
                    }
                    @include desktop-down {
                      right: 2%;
                    }
                    @include phablet-down {
                      display: none;
                    }
                  }
                  //&:nth-child(3) {
                  //  &:after {
                  //    display: none;
                  //  }
                  //}
                  .image-box {
                    width: 100%;
                    max-width: 54px;
                    height: 54px;
                    overflow: hidden;
                    @include phablet-down {
                      max-width: 44px;
                      height: 44px;
                    }
                    img {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                      transition: 0.3s all ease-in-out;
                    }
                  }
                  .small-head {
                    display: block;
                    font-family: $font-families-gotham;
                    font-size: 12px;
                    text-align: left;
                    color: $light-green;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: 0.36px;
                    @include container-up {
                      padding-bottom: 5px;
                    }
                  }
                  h5 {
                    font-size: 16px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.31;
                    letter-spacing: 0.16px;
                    text-align: left;
                    transition: 0.3s all ease-in-out;
                    margin-bottom: 0;
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                      font-size: 12px;
                    }
                    @include phablet-down {
                      font-size: 14px;
                    }
                  }
                  .content-box {
                    margin: 0 14px 0;
                    max-width: 260px;
                    @include tablet-down {
                      margin: 0 62px 0 10px;
                    }
                    @include phablet-down {
                      margin: 0 32px 0 10px;
                    }
                  }
                  &:hover {
                    .image-box {
                      img {
                        transform: scale(1.08);
                      }
                    }
                    h5 {
                      font-weight: 800;
                    }
                  }
                }

                .slick-arrow {
                  text-indent: -99999px;
                  position: absolute;
                  top: 9px;
                  height: 13px;
                  width: 29px;
                  outline: none;
                  cursor: pointer;
                  &.slick-prev {
                    background: url('/themes/rms/templates/dist/images/arrow-right-small.svg') no-repeat;
                    background-size: 21px;
                    top: 30px;
                    right: 16px;
                    transform: rotate(180deg);
                    z-index: 1;
                    @include phablet-down {
                      background-size: 18px;
                      top: 23px;
                      right: 23px;
                    }
                  }

                  &.slick-next {
                    background: url('/themes/rms/templates/dist/images/arrow-right-small.svg') no-repeat;
                    background-size: 21px;
                    right: 10px;
                    left: auto;
                    top: 5px;
                    z-index: 1;
                    @include phablet-down {
                      background-size: 18px;
                      top: 4px;
                      right: 11px;
                    }
                  }
                  &.slick-disabled {
                    opacity: 0.2;
                    cursor: auto;
                  }
                }
                .slick-list {
                  .slick-track {
                    margin: 0 !important;
                  }
                }

              }
            }
          }
          .awards-block {
            h5 {
              font-weight: bold;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.3;
              letter-spacing: normal;
              text-align: left;
              margin-bottom: 32px;
            }
            .award-wrap {
              display: flex;
              justify-content: space-around;
              align-items: center;
              margin: 30px 0 0 0;
              position: relative;
              &:after {
                content: "";
                position: absolute;
                top: -17px;
                left: 0;
                width: 100%;
                height: 1px;
                -webkit-box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.05);
                box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.05);
                background-color: #acacac4f;
              }
              .img-wrap {
                max-width: 281px;
                height: 80px;
                @include phablet-down {
                  max-width: 191px;
                  height: 50px;
                }
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
                @include container-up {
                  &:nth-child(1) {
                    width: 225px;
                    height: 80px;
                    margin: 0 0px 0 -4px;
                  }
                  &:nth-child(2) {
                    width: 77px;
                    margin: 0 0 0 30px;
                  }
                  &:nth-child(3) {
                    width: 147px;
                    margin-left: 33px;
                  }
                }
              }

            }
          }

        }
      }
    }
  }
}

.speaker-event-detail {
  @include container-up {
    padding: 60px 0 40px;
  }
  @include container-down {
    padding-bottom: 40px;
  }
  .rectangle-box {
    display: none;
  }
  .intro-box {
    h2 {
      font-weight: 600;
      letter-spacing: 0.45px;
      word-spacing: normal;
      @include container-up {
        margin-bottom: 43px;
      }
      &:after {
        @include container-up {
          bottom: -24.1px;
        }
      }
    }
  }

  .cards-wrapper {
    @include container-up {
      margin-top: 27px;
    }
    .card-item {
      .content-wrap {

        h5 {
          font-weight: 500;
          line-height: 1.2;
          letter-spacing: normal;
        }
        p {
          @include container-up {
            padding: 7px 15px 0 0;
          }
        }
        .footer-box {
          @include container-up {
            margin: 24px 0 0;
          }
        }
        &:after {
          @include container-up {
            left: 49%;
            border-left: 24px solid transparent;
            border-right: 25px solid transparent;
            border-bottom: 27px solid $black;
          }
        }
      }

      .collapse-box {
        margin-bottom: 0 !important;

        .left-content {
          .text-block {
            @include desktop-up {
              overflow-y: hidden;
            }
          }
        }

        .right-content {

          .content-wrapper {

            .slider-block {

              .slider-outer {

                .item-box {

                  .content-box {
                    @include container-up {
                      display: flex;
                      flex-direction: column;
                      align-self: flex-end;
                    }
                    h5 {
                      font-family: $font-families-gotham;
                      font-weight: 500;
                      line-height: 1.31;
                      letter-spacing: 0.16px;
                    }
                  }
                }
              }
            }

            .awards-block {
              @include container-up {
                padding-top: 18px;
              }
              h5 {
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: normal;
              }
            }
          }
        }

        .coll-two {
          @include container-up {
            margin: 42px 0 50px;
          }
        }
      }
    }
  }
}