.legacy-data {
  padding: 28px 0;
  h1, h4, h6, p, a {
    font-family: $font-families-gotham;
  }
  .top-title {
    text-align: center;
    margin-bottom: 24px;
    .content {
      display: inline-block;
      .icon-wrap {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        max-width: 50px;
        opacity: .6;
      }
      h1 {
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
        font-size: 36px;
        color: $gray15;
      }
    }
  }

  .content-wrapper {
    min-height: 600px;
    position: relative;
    .legacy-bg-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .inner-content {
      //padding-top: 180px;
      @include phablet-down {
        padding-top: 20px;
      }
      .content {
        padding: 60px 30px;
        background-color: rgba(255, 255, 255, 0.6);
        max-width: 975px;
        margin: 0 auto;

        @include phablet-down {
          padding: 25px 20px;
        }

        .data-wrapper {
          font-size: 0;
          margin-bottom: 16px;
          h4 {
            color: $dark-blue;
          }
          .col-outer {
            border-top: 1px solid $white-gray;
            .col-wrap {
              display: inline-block;
              vertical-align: top;
              width: 33.3%;
              padding: 14px;

              @include tablet-down {
                width: 100%;
              }

              h6 {
                font-size: 14px;
                font-weight: 500;
                color: $dark-blue;
              }

              .data-row {
                margin-top: 6px;
                .item {
                  display: inline-block;
                  vertical-align: top;
                  width: 25%;
                  padding: 0 10px 0 0;
                  margin: 0;

                  @include desktop-down {
                    width: 100%;
                  }

                  a {
                    font-size: 12px;
                    font-weight: 400;
                    //color: $gray15;
                    color: $wine-red;
                    &:hover {
                      color: $dark-blue;
                    }
                  }
                }
              }
            }
            p {
              font-size: 12px;
              font-weight: 400;
              color: $slate-gray;
              padding: 14px;
              a {
                //color: $slate-gray;
                color: $wine-red;
                text-decoration: underline !important;
                &:hover {
                  color: $dark-blue;
                }
              }
            }
          }
        }
      }
    }
  }
}
