.location-map-box {
  @include desktop-up {
    padding: 67px 0;
  }
  .intro-box {
    text-align: center;
    max-width: 799px;
    margin: 0 auto;
    h2 {
      margin-bottom: 40px;
      font-weight: bold;
      letter-spacing: 0.01em;
      word-spacing: 0.0em;
      margin-top: 4px;
      //&:after{
      //  bottom: -21.1px !important;
      //}
      @include phablet-down {
        margin-bottom: 12px;
      }
      &:after {
        @include desktop-up {
          bottom: -21.1px !important;
        }
        @include phablet-down{
          bottom: -11.1px !important;
        }
      }
    }
    p {
      margin: 20px 0;
    }
    .button-box {
      margin: 34px 0 35px;
      @include tablet-down {
        margin: 20px 0;
      }
      @include phablet-down {
        margin: 15px 0;
      }
    }
  }
  .map-block {
    margin-top: 20px;
    @include desktop-up {
      margin-top: 47px;
    }
    @include desktop-down {
      overflow-x: scroll;
      cursor: all-scroll;
      overflow-y: hidden;
    }
    &::-webkit-scrollbar {
      @include desktop-down {
        width: 100%;
        margin: 0 auto;
        height: 5px;
        -webkit-appearance: none;
      }
    }
    /* Track */
    &::-webkit-scrollbar-track {
      @include desktop-down {
        box-shadow: inset 0 0 5px $gray;
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px $gray;
      }
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      @include desktop-down {
        background-color: $black;
        border-radius: 10px;
      }
    }
    .img-box {
      position: relative;
      max-width: 1200px;
      height: 600px;
      @include desktop-down {
        width: 1200px;
        margin-bottom: 20px;
      }
      @include desktop {
        height: 445px;
      }
      @include tablet {
        margin-bottom: 0;
      }
      @include tablet-down {
        margin-bottom: 0;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .place-pin {
        position: absolute;
        &.bellevue {
          top: 33.2%;
          left: 7.2%;
          z-index: 0;
          @include desktop {
            top: 33%;
            left: 6.2%;
          }
        }
        &.silicon-valley {
          top: 38.3%;
          left: 5px;
          @include desktop {
            top: 39.1%;
            left: -1%;
          }
          .wrapper-box {
            p {
              font-size: 14px;
              font-weight: bold;
              font-family: $font-families-gotham;
              font-style: normal;
              line-height: 1.43;
              letter-spacing: 0.42px;
            }
            span {
              width: 13px;
              height: 13px;
              margin-left: 0;
              &:after {
                width: 13px;
                height: 13px;
              }
            }

          }
        }
        &.peoria {
          top: 35.5%;
          left: 22.5%;
          z-index: 0;
          @include desktop {
            top: 33.5%;
            left: 23.5%;;

          }
          @include desktop-down{
            top:33.5%
          }
          span {
            z-index: 0 !important;
            right: 112%;
          }
        }
        &.lafayette {
          top: 37.5%;
          left: 17.5%;
          @include desktop {
            top: 35.5%;
            left: 16.5%;
          }
          @include desktop-down {
            top: 35.5%;
          }
          span {
            position: absolute;
            top: 35%;
            right: 110%;
            //z-index: 0 !important;
          }
        }
        &.hoboken {
          top: 38.2%;
          left: 27%;
          z-index: 2;
          @include desktop {
            top: 37.2%;
            left: 28%;
          }
          @include desktop-down {
            top: 40.2%;
            left: 27%;
          }
          span {
            position: absolute;
            top: 35%;
            right: 110%;
          }
        }
        &.bermuda {
          top: 41.5%;
          left: 27.8%;
          @include desktop {
            left: 28%;
          }
          @include desktop-down {
            top: 44.5%;
            left: 26.8%;
          }
          span {
            position: absolute;
            top: 35%;
            right: 110%;
          }

        }
        &.miami-tallahassee {
          top: 46.7%;
          left: 26.2%;
          @include desktop-down {
            top: 50%;
          }
          .wrapper-box {
            p {
              @include desktop-up {
                left: -8px;
              }
            }
            span {
              position: absolute;
              top: 35%;
              right: 112%;
            }
          }

        }
        &.lawrence-ks {
          top: 39.5%;
          left: 20%;
          z-index: 2;
          @include desktop {
            top: 39%;
          }
          span {
            position: absolute;
            top: 35%;
            right: 110%;
          }
          .wrapper-box {
            span {
              .content-box {
                top: -165px;
              }
            }
          }
        }
        &.london {
          top: 31.5%;
          left: 41.3%;
          z-index: 0;
          @include desktop {
            top: 30%;
            left: 41.3%;
          }
        }
        &.zurich {
          top: 34.5%;
          left: 44.7%;
          @include desktop {
            top: 34.4%;
            left: 44.7%;
          }
        }
        &.noida {
          top: 42.4%;
          right: 26.5%;
          left: auto;
          @include desktop-down {
            top: 44.4%;
          }
          span {
            position: absolute;
            top: 35%;
            right: 110%;
          }
        }
        &.beijing {
          top: 35.2%;
          right: 20%;
          left: auto;
          @include desktop {
            top: 33.4%;
            right: 20.4%;
          }
        }
        &.tokyo {
          top: 42.4%;
          right: 9.7%;
          left: auto;
          span {
            position: absolute;
            top: 35%;
            right: 110%;
          }
        }
        &.singapore {
          top: 63.7%;
          right: 14.9%;
          left: auto;
          span {
            position: absolute;
            top: 35%;
            right: 110%;
          }
        }
        &.sydney {
          top: 83.4%;
          right: 6.6%;
          left: auto;
          @include desktop {
            top: 85.4%;
            right: 5.6%;
          }
          span {
            position: absolute;
            top: 35%;
            right: 110%;
          }
        }

        &.silicon-valley {
          .wrapper-box {
            span {
              .content-box {
                top: -147px;
              }
            }
          }
        }
        &.london {
          .wrapper-box {
            span {
              .content-box {
                top: -150px;
              }
            }
          }
        }
        &.peoria {
          .wrapper-box {
            span {
              .content-box {
                top: -195px;
              }
            }
          }
        }

        &.lafayette {
          .wrapper-box {
            span {
              .content-box {
                top: -150px;
              }
            }
          }
        }
        &.hoboken {
          .wrapper-box {
            span {
              .content-box {
                top: -199px;
              }
            }
          }
        }
        &.bermuda {
          .wrapper-box {
            span {
              .content-box {
                top: -198px;
              }
            }
          }
        }

        &.miami-tallahassee {
          .wrapper-box {
            span {
              .content-box {
                top: -305px;
              }
            }
          }
        }
        &.zurich {
          .wrapper-box {
            span {
              .content-box {
                top: -210px;
              }
            }
          }
        }
        &.noida {
          .wrapper-box {
            span {
              .content-box {
                top: -275px;
              }
            }
          }
        }
        &.beijing {
          .wrapper-box {
            span {
              .content-box {
                top: -210px;
              }
            }
          }
        }
        &.tokyo {
          .wrapper-box {
            span {
              .content-box {
                top: -256px;
              }
            }
          }
        }
        &.sydney {
          .wrapper-box {
            span {
              .content-box {
                top: -166px;
              }
            }
          }
        }
        .wrapper-box {
          position: relative;
          p {
            font-size: 12px;
            font-weight: bold;
            font-family: $font-families-gotham;
            line-height: 1.67;
            letter-spacing: 0.36px;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
          }
          span {
            width: 10px;
            height: 10px;
            //box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
            //background-color: $wine-red;
            display: inline-block;
            vertical-align: middle;
            margin-left: -2px;
            cursor: pointer;
            transition: 0.3s all ease-in-out;
            position: relative;
            z-index: 1;
            &:after {
              content: "";
              position: absolute;
              top: 0;
              right: -2px;
              width: 10px;
              height: 10px;
              box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
              background-color: $wine-red;
              display: inline-block;
              vertical-align: middle;
              margin-left: -2px;
              z-index: -3;
              transition: 0.3s transform ease-in-out;
              transform: scale(1);
            }
            .content-box {
              position: absolute;
              top: -170px;
              left: -94px;
              right: auto;
              width: 201px;
              padding: 20px 20px;
              //transform: translateY(-50%);
              background-color: $white;
              opacity: 0;
              visibility: hidden;
              transition: 0.3s all ease-in-out;
              box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
              z-index: 1;
              &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 2px;
                box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.15);
                background-image: linear-gradient(271deg, rgb(0, 183, 198), rgb(0, 134, 161) 1%);
              }
              &:before {
                content: "";
                position: absolute;
                bottom: -6px;
                left: 50%;
                width: 0;
                height: 0;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-top: 7px solid $white;
                transform: translateX(-50%);
              }
              h6 {
                font-size: 18px;
                font-weight: bold;
                line-height: 1.44;
                letter-spacing: normal;
              }
              p {
                font-size: 14px;
                left:auto;
                font-weight: normal;
                line-height: 1.57;
                letter-spacing: normal;
              }

            }
          }
        }
        &:hover {
          z-index: 10 !important;
          .wrapper-box {
            span {
              .content-box {
                opacity: 1;
                visibility: visible;
                z-index: 99;
              }
              &:after {
                transform: scale(1.4);
              }
            }
          }
        }
      }
    }
  }

  &.lactaion-map-career {
    @include container-up {
      padding-top: 47px;
      padding-bottom: 80px;
    }

    .intro-box {
      h2 {
        @include container-up {
          margin-bottom: 40px;
        }
        &:after {
          @include container-up {
            bottom: -22.1px;
          }
        }
      }
    }
    .map-block {
      @include container-up {
        margin-top: 47px;
      }
      //please do not remove this code
      .img-box {
        .place-pin {
          &.sydney {
            //@media only screen and (max-width: 1270px) and (min-width: 1200px) {
            //  right: 9.5%;
            //}
            //@include desktop {
            //  right: 10.7%;
            //}
          }
          &.tokyo {
            //@include desktop {
            //  right: 11%;
            //}

          }
          &.bellevue {
            //@media only screen and (max-width: 1270px) and (min-width: 1200px) {
            //  left: 9.2%;
            //}
            //@include desktop {
            //  left: 11%;
            //}
            //@include desktop-down {
            //  left: 10.2%;
            //}
          }
          &.silicon-valley {
            //@media only screen and (max-width: 1270px) and (min-width: 1200px) {
            //  left: 20px;
            //}
            //@include desktop {
            //  left: 20px;
            //}
            //@include desktop-down {
            //  left: 26px;
            //}

            .wrapper-box {
              span {
                width: 10px;
                height: 10px;
                &:after {
                  width: 10px;
                  height: 10px;
                }
              }
            }
          }
          //&.lafayette {
          //  @include desktop {
          //    left: 23.5%;
          //  }
          //}
          //&.peoria {
          //  @include desktop {
          //    left: 21.9%;
          //  }
          //
          //}
          &.zurich {
            @include desktop-down {
              top: 35.5%;
            }
          }

          &.london {
            @include desktop-down {
              top: 32.5%;
            }
            .wrapper-box {
              span {
                .content-box {
                  top: -203px;
                  @include desktop {
                    top: -190px;
                  }

                }
              }
            }

          }

          &.noida {
            z-index: 2;
            .wrapper-box {
              span {
                .content-box {
                  @include desktop {
                    top: -198px;
                  }

                }
              }
            }
          }
          &.sydney {
            z-index: 2;
          }
          .wrapper-box {
            span {
              .content-box {
                transition: all 0.3s ease;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                width: 356px;
                min-height: 180px;
                background-color: $white;
                //display: flex;
                //flex-direction: row;
                top: -202px;
                left: -172px;
                @include container-up {
                  padding: 19px 16px 19px 20px;
                }
                @include desktop {
                  padding: 12px;
                  top: -192px;
                  width: 300px;
                  left: -142px;
                }
                @include desktop-down {
                  width: 300px;
                  padding: 12px;
                  left: -142px;
                  top: -203px;
                }

                .top-border {
                  background-image: linear-gradient(to left, #00b7c6 100%, #0086a1 1%);
                  height: 2px;
                }
                .img-box {
                  overflow: hidden;
                  max-height: 150px;
                  max-width: 150px;
                  float: left;
                }
                .content-text {
                  width: calc(100% - 150px);
                  overflow: hidden;
                  padding-left: 16px;
                  @include container-up {
                    padding-top: 2px;
                  }
                  h6 {
                    -webkit-line-clamp: 1 !important;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    height: auto;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.57;
                    letter-spacing: normal;
                    color: $primary8;
                    font-family: $font-families-gotham;
                    @include container-up {
                      margin-bottom: 4px;
                    }
                  }
                  p {
                    //-webkit-line-clamp: 7 !important;
                    //text-overflow: ellipsis;
                    //display: -webkit-box;
                    //-webkit-box-orient: vertical;
                    overflow: scroll;
                    height: 121px;
                    cursor: all-scroll;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 1.5;
                    letter-spacing: normal;
                    color: $primary8;
                    font-family: $font-families-gotham;
                    left: auto;
                    //@include desktop-down {
                    //  -webkit-line-clamp: 6!important;
                    //}
                  }
                }

              }
            }
          }

        }
      }
    }
  }

}
