.login-form {
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  padding: 170px 0 55px;
  min-height: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
  @include phablet-down {
    padding: 130px 20px 25px;
  }
  #block-rms-local-tasks {
    ul {
      margin-bottom: 20px;
      li {
        a {
          font-family: $font-families-gotham;
          font-weight: 500;
          transition: 0.3s;
          &.is-active {
            color: $green;
          }
          &:hover {
            color: $green;
          }
        }
      }
    }
  }
  #block-rms-content {
    .user-login-form, .user-pass, .user-form {
      .form-item {
        margin-top: 20px;
        .js-form-required {
          display: block;
          color: $black;
          //color: $wine-red;
          font-size: 20px;
          font-weight: 700;
        }
        input {
          outline: none;
          padding: 0 8px;
          //border: 1px solid $dark-gray;
          @include desktop-down {
            width: 80%;
          }
          @include phablet-down {
            width: 100%;
          }
          &.form-text, .form-email {
            border: 1px solid $dark-gray;
          }
          &.form-email {
            border: 1px solid $dark-gray;
          }
          &.form-checkbox {
            width: auto;
          }
        }
        .description {
          font-family: $font-families-gotham;
          font-size: 14px;
        }
      }
      p {
        font-family: $font-families-gotham;
        font-size: 14px;
      }
      .js-form-wrapper {
        .form-submit {
          margin-top: 20px;
          outline: none;
          cursor: pointer;
          font-family: $font-families-gotham;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.43;
          letter-spacing: normal;
          padding: 11px 27px 11px 30px;
          color: $white;
          background-color: $wine-red;
          transition: all 0.2s ease-in-out;
          position: relative;
          &:hover {
            background-color: $maroon;
          }
        }
        //register form fields
        #ajax-wrapper {
          .form-item {
            label {
              display: inline-block;
              color: $black;
              //color: $wine-red;
              font-size: 20px;
              font-weight: 700;
            }
            .image-widget {
              .form-file {
                //padding: 0;
                margin-top: 20px;
                outline: none;
                cursor: pointer;
                font-family: $font-families-gotham;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.43;
                letter-spacing: normal;
                padding: 0 0 18px;
              }
            }
          }
        }
      }
      details {
        summary {
          margin-top: 20px;
          display: inline-block;
          outline: none;
          color: $black;
          font-size: 20px;
          font-weight: 700;
        }
        .option {
          font-weight: 600;
          margin-bottom: 10px;
        }
        .js-form-item-timezone {
          select {
            cursor: pointer;
            outline: none;
          }
        }
      }
    }
  }


}
