.logo-grid {
  &.grid-images {
    padding-top: 0;
  }
  position: relative;
  @include container-up {
    padding: 84px 0 120px;
  }
  z-index: 1;
  .bg-img {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 76.2%;
    @include phablet-down {
      top: auto;
      bottom: 0;

    }
    &:after {
      content: "";
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      background: $black;
      position: absolute;
    }
  }
  .intro-box {
    text-align: center;
    max-width: 799px;
    margin: 0 auto 52px;
    @include tablet-down {
      margin: 0 auto 22px;
    }
    @include phablet-down {
      margin: 0 auto 22px;
    }
    h2 {
      margin-bottom: 31px;
      margin-top: 13px;
      font-weight: bold;
      line-height: 1.47;
      letter-spacing: 0.45px;
      &.green-border {
        &:after {
          bottom: -11.6px;
        }
      }

    }
    p {
      margin: 20px 0;
      @include tablet-down {
        margin: 11px 0;
      }
    }
    .button-box {
      margin: 34px 0 0;
      @include tablet-down {
        margin: 20px 0;
      }
      @include phablet-down {
        margin: 15px 0;
      }
      .learn-more {
        @include desktop-up {
          margin: 0 0 0 17px;
        }
      }
    }
  }
  .container-box {
    position: relative;
    right: auto;
    margin: auto;
    width: 100%;
    .pattern-animation {
      position: absolute;
      //right: 4%;
      //bottom: 56.3%;
      right: 4%;
      bottom: -8%;
      width: 410px;
      height: 410px;
      z-index: 0;
      opacity: 0.7;
      @media screen and (min-width: 1025px) and (max-width: 1240px) {
        right: 1%;
      }
      @include desktop-mid{
        right: -2%
      }
      img, svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
        //display: none;
        //&:nth-child(4) {
        //  display: block;
        //}
      }
      @include desktop-down {
        display: none;
      }
    }
    .row-wrap {
      background-color: $white;
      box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.08);
      max-width: 994px;
      padding: 58px 65px 63px;
      margin: 0 auto;
      font-size: 0;
      @include tablet-down {
        padding: 40px 20px;
        text-align: center;
      }

      .content-box {
        margin: 0 auto 18px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 20%;
        cursor: pointer;
        padding-top: 14px;
        -webkit-overflow-scrolling: touch;
        @include desktop-down {
          width: 33.33%;
        }
        @include tablet-down {
          width: 50%;
          max-width: 100px;
          margin: 0 90px;
          display: inline-block;
        }
        @include phablet {
          max-width: 104px;
          margin: 0 70px;
          display: inline-block;
        }
        @include phone {
          margin: 0 40px 10px;
          max-width: 110px;
          display: inline-block;
        }
        @include phone-down {
          //width: 100%;
          //margin: 0 auto 10px;
          //max-width: 110px;
          //display: block;
          width: 50%;
          margin: 0 auto 10px;
          max-width: 50%;
          display: inline-block;
        }
        p {
          font-size: 14px;
          font-family: $font-families-gotham;
          letter-spacing: normal;
          text-align: center;
          color: $black;
          margin: 10px 0 5px;
          line-height: 1.6;
        }
        .icon-box {
          width: 104px;
          height: 104px;
          margin: 0 auto;
          position: relative;
          border-radius: 50%;
          padding: 5px;
          background-color: #2e2e2e;
          transition: 0.3s all ease-in-out;
          @include phone-down {
            width: 60px;
            height: 60px;
            padding: 3px;
            margin: 0 auto;
            position: relative;
          }
          &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 100%;
            width: 0;
            height: 1px;
            background-color: $dark-green;
            //opacity: 0;
            //visibility: hidden;
            transition: 0.4s width ease-in;
            z-index: 2;
            @include tablet-down {
              opacity: 0;
            }
          }
          &:before {
            content: "";
            position: absolute;
            top: 50%;
            right: -62px;
            -webkit-transform: translateY(-60%);
            -o-transform: translateY(-60%);
            transform: translateY(-60%);
            background: #004c6c;
            width: 5px;
            height: 5px;
            opacity: 0;
            z-index: 2;
            visibility: hidden;
            transition: 0.3s opacity ease-in-out;
          }
          img, svg {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            font-family: "object-fit: cover;";
          }
        }
        .side-content {
          opacity: 0;
          visibility: hidden;
          transition: 0.4s all ease-in-out;
          padding: 44px 51px 38px 47px;
          position: absolute;
          top: -12px;
          left: 100%;
          min-width: 350px;
          min-height: 340px;
          background: $white;
          text-align: left;
          z-index: 1;
          border-radius: 3px;
          box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.08);
          overflow: visible;
          @include phone-down {
            min-width: 190px !important;
            padding: 10px 20px !important;
          }
          h4 {
            position: relative;
            color: $dark-green;
            font-weight: bold;
            line-height: 1.37;
            letter-spacing: normal;
            text-align: left;
            @include phablet-down {
              text-align: center;
            }
          }
          p {
            font-family: $font-families-gotham;
            margin: 14px 0;
            text-align: left;
            @include phablet-down {
              text-align: center;
            }
            @include phone-down {
              margin-bottom: 0;
            }
          }
          &.active {
            display: block;
            h4 {
              &:before {
                width: 30%;
              }

            }
          }
          .button-box {
            margin: 23px 0 0;
            @include phablet-down {
              text-align: center;
            }
            @include phone-down {
              margin: 5px 0 0;
            }
            .learn-more {
              transition: 0.1s all ease-in-out;
            }
          }
        }

        &.active {
          .icon-box {
            //&:before {
            //  opacity: 1;
            //  visibility: visible;
            //  transition-delay: 0.3s;
            //  @include tablet-down {
            //    opacity: 0;
            //  }
            //}
          }
        }
        &:hover {
          .icon-box {
            background-color: $light-green;
            &:after {
              width: 57px;
              //opacity: 1;
              //visibility: visible;
              @include tablet-down {
                opacity: 0;
              }
            }
            &:before {
              opacity: 1;
              visibility: visible;
              transition-delay: 0.3s;
              @include tablet-down {
                opacity: 0 !important;
              }
            }
          }
          .side-content {
            opacity: 1;
            visibility: visible;
            transition-delay: 0.1s;
          }
        }
        @include desktop-up {
          &:nth-child(5n) {
            .icon-box {
              &:after {
                right: 100%;
                left: auto;
              }
              &:before {
                left: -62px;
                right: auto;
              }
            }
            .side-content {
              right: 100%;
              left: auto;
            }
          }
          &:nth-child(5n-1) {
            .icon-box {
              &:after {
                right: 100%;
                left: auto;
              }
              &:before {
                left: -62px;
                right: auto;
              }
            }
            .side-content {
              right: 100%;
              left: auto;
            }
          }
        }
        @include desktop-down {
          .icon-box {
            &:after {
              width: 1px !important;
              right: 100%;
              transform: translate(-50%);
              left: 50%;
              height: 0;
              transition: 0.5s height ease-in-out;
            }
            &:before {
              right: auto;
              transform: translate(-50%);
              left: 50%;
              bottom: -15%;
              top: auto;
            }
          }
          .side-content {
            top: 82%;
            transform: translateX(-50%);
            left: 50%;
            right: auto;
            min-width: 290px;
            min-height: 290px;
          }
          &:hover {
            .icon-box {
              &:after {
                height: 63px;
                width: 1px !important;
              }

            }

          }
        }
        &:hover {
          .icon-box {
            svg {
              fill: $light-green;
              box-shadow: 0 0 20px 0 rgba(0, 76, 108, 0.39);
              .st0 {
                fill: $light-green;
              }
            }
          }

        }
      }
    }
  }


}

.model-page {
  @include desktop-up {
    padding-top: 44px;
  }
  @include desktop {
    padding-top: 44px;
  }
  @include desktop-down {
    padding-top: 40px;
  }
  .bg-img {
    z-index: -2;
    @include container-up {
      top: 42.2%;
      height: 59.9%;
    }
    @include container-down {
      top: auto;
      bottom: 0;
    }
  }
  .container-box {
    .pattern-animation {

      //@include container-up{
      //  top: -11%;
      //  left: -4.3%;
      //}
      //svg {
      //  &:nth-child(2) {
      //    display: none;
      //  }
      //}
    }
    .row-wrap {

      @include container-up {
        padding: 64px 65px 58px;
      }
      .content-box {
        @include container-up {
          margin: -3px auto 18px;
        }
        .side-content {
        }
        .icon-box {

          @include container-up {
            width: 106px;
            height: 106px;
          }
        }
        p {
          @include container-up {
            margin: 9px 0 8px;
          }
        }
      }
      .content-box {
        .icon-box {
          &:after {
            @include container-up {
              top: 49.50%;
            }
            @include desktop {
              top: 49.50%;
            }
          }
        }
        &:hover {

        }
      }
    }
  }

}
