.logo-four-grid {
  &.grid-images {
    padding-top: 0;
  }
  position: relative;
  @include container-up {
    padding: 84px 0 120px;
  }
  z-index: 1;
  .bg-img {
    position: absolute;
    top: auto;
    bottom: -3%;
    left: 0;
    width: 100%;
    height: 52.6%;
    @include phablet-down {
      top: auto;
      bottom: 0;

    }
  }
  .intro-box {
    text-align: center;
    max-width: 799px;
    margin: 0 auto 52px;
    @include tablet-down {
      margin: 0 auto 22px;
    }
    @include phablet-down {
      margin: 0 auto 22px;
    }
    h2 {
      margin-bottom: 63px;
      margin-top: 13px;
      font-weight: bold;
      line-height: 1.47;
      letter-spacing: 0.45px;
      &.green-border {
        &:after {
          bottom: -11.6px;
        }
      }

    }
    p {
      margin: 20px 0;
      @include tablet-down {
        margin: 11px 0;
      }
    }
    .button-box {
      margin: 34px 0 0;
      @include tablet-down {
        margin: 20px 0;
      }
      @include phablet-down {
        margin: 15px 0;
      }
      .learn-more {
        @include desktop-up {
          margin: 0 0 0 17px;
        }
      }
    }
  }
  .container-box {
    position: relative;
    right: auto;
    margin: auto;
    width: 100%;
    .pattern-animation {
        display: none;
    }
    .row-wrap {
      background-color: $white;
      box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.08);
      max-width: 994px;
      padding: 65px 38px 74px;
      margin: 0 auto;
      font-size: 0;
      @include container-max-width-up {
        position: relative;
        left: 3px;
      }
      @include tablet-down {
        padding: 40px 20px;
        text-align: center;
      }

      .content-box {
        margin: 0 auto 18px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 25%;
        cursor: pointer;
        padding-top: 14px;
        -webkit-overflow-scrolling: touch;
        @include desktop-down {
          width: 33.33%;
        }
        @include tablet-down {
          width: 50%;
          max-width: 100px;
          margin: 0 90px;
          display: inline-block;
        }
        @include phablet {
          max-width: 130px;
          margin: 0 70px;
          display: inline-block;
        }
        @include phone {
          margin: 0 40px 10px;
          max-width: 110px;
          display: inline-block;
        }
        @include phone-down {
          width: 50%;
          margin: 0 auto 10px;
          max-width: 50%;
          display: inline-block;
        }
        &.no-content {
          pointer-events: none;
          &:hover {
            .side-content {
              display: none;
            }
            .icon-box {
              &:after {
                display: none;
              }
              &:before {
                display: none;
              }
            }
          }
        }
        p {
          font-size: 20px;
          font-weight: 500;
          font-family: $font-families-InterM;
          line-height: 1.2;
          letter-spacing: normal;
          text-align: center;
          @include phablet-down {
            font-size: 16px;
          }
        }
        .icon-box {
          width: 130px;
          height: 130px;
          margin: 0 auto 24px;
          position: relative;
          border-radius: 50%;
          //padding: 5px;
          background-color: $white;
          transition: 0.3s all ease-in-out;
          @include phone-down {
            width: 60px;
            height: 60px;
            padding: 3px;
            margin: 0 auto;
            position: relative;
          }
          &:after {
            content: "";
            position: absolute;
            top: 49%;
            left: 100%;
            width: 0;
            height: 1px;
            background-color: $dark-green;
            transition: 0.4s width ease-in;
            z-index: 2;
            @include tablet-down {
              opacity: 0;
            }
          }
          &:before {
            content: "";
            position: absolute;
            top: 50%;
            right: -62px;
            -webkit-transform: translateY(-60%);
            -o-transform: translateY(-60%);
            transform: translateY(-60%);
            background: #004c6c;
            width: 5px;
            height: 5px;
            opacity: 0;
            z-index: 2;
            visibility: hidden;
            transition: 0.3s opacity ease-in-out;
          }
          img, svg {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            font-family: "object-fit: cover;";
          }
        }
        .side-content {
          opacity: 0;
          visibility: hidden;
          transition: 0.4s all ease-in-out;
          padding: 44px 51px 38px 47px;
          position: absolute;
          top: -12px;
          left: 100%;
          min-width: 350px;
          min-height: 340px;
          background: $white;
          text-align: left;
          z-index: 1;
          border-radius: 3px;
          box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.08);
          overflow: visible;
          @include phone-down {
            min-width: 190px !important;
            padding: 10px 20px !important;
          }
          h4 {
            position: relative;
            color: $dark-green;
            font-weight: bold;
            line-height: 1.37;
            letter-spacing: normal;
            text-align: left;
            @include phablet-down {
              text-align: center;
            }
          }
          p {
            font-family: $font-families-gotham;
            margin: 14px 0;
            text-align: left;
            font-size: 14px;
            letter-spacing: normal;
            color: $black;
            line-height: 1.6;
            font-weight: normal;
            @include phablet-down {
              text-align: center;
            }
            @include phone-down {
              margin-bottom: 0;
            }
          }
          &.active {
            display: block;
            h4 {
              &:before {
                width: 30%;
              }

            }
          }
          .button-box {
            margin: 23px 0 0;
            @include phablet-down {
              text-align: center;
            }
            @include phone-down {
              margin: 5px 0 0;
            }
            .learn-more {
              transition: 0.1s all ease-in-out;
            }
          }
        }

        &.active {
          .icon-box {
            //&:before {
            //  opacity: 1;
            //  visibility: visible;
            //  transition-delay: 0.3s;
            //  @include tablet-down {
            //    opacity: 0;
            //  }
            //}
          }
        }
        &:hover {
          .icon-box {
            //background-color: $light-green;
            svg {
              path {
                fill: $light-green !important;
              }
            }
            &:after {
              width: 57px;
              //opacity: 1;
              //visibility: visible;
              @include tablet-down {
                opacity: 0;
              }
            }
            &:before {
              opacity: 1;
              visibility: visible;
              transition-delay: 0.3s;
              @include tablet-down {
                opacity: 0 !important;
              }
            }
          }
          .side-content {
            opacity: 1;
            visibility: visible;
            transition-delay: 0.1s;
          }
        }

        @include desktop-up {
          &:nth-child(4n), &:nth-child(4n-1) {
            .side-content {
              right: 100%;
              left: auto;
            }
            .icon-box {
              &:before {
                left: -62px;
                right: auto;
              }
              &:after {
                right: 100%;
                left: auto;
              }
            }
          }
        }
        @include desktop-down {
          .icon-box {
            &:after {
              width: 1px !important;
              right: 100%;
              transform: translate(-50%);
              left: 50%;
              height: 0;
              transition: 0.5s height ease-in-out;
            }
            &:before {
              right: auto;
              transform: translate(-50%);
              left: 50%;
              bottom: -15%;
              top: auto;
            }
          }
          .side-content {
            top: 82%;
            transform: translateX(-50%);
            left: 50%;
            right: auto;
            min-width: 290px;
            min-height: 290px;
          }
          &:hover {
            .icon-box {
              &:after {
                height: 81px;
                width: 1px !important;
              }

            }

          }
        }
        &:hover {
          .icon-box {
            svg {
              //fill: $light-green;
              box-shadow: 0 0 20px 0 rgba(0, 76, 108, 0.39);
              //.st0 {
              //  fill: $light-green;
              //}
            }
          }

        }
      }
    }
  }
}
