.new-banner {
  opacity: 0;
  padding: 0;
  min-height: 422px;
  position: relative;
  @include tablet-down {
    min-height: auto;
  }
  h1 {
    color: $white;
    letter-spacing:normal;
    @include tablet-down {
      text-align: center;
    }
    @include phablet-down {
      font-size: 28px;
    }
  }
  h5 {
    color: $white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: normal;
    margin: 29px 0 0;
    @include tablet-down {
      font-size: 18px;
      margin: 18px 0 0;
      text-align: center;
    }
    @include phablet-down {
      font-size: 16px;
    }
  }
  .bg-img {
    position:relative;
    left: 0;
    width: 100%;
    height: 420px;
    min-height: 420px;
    @include tablet-down {
      height: 400px;
      min-height: 380px;
    }
    //img{
    //  font-family: "object-fit: cover;";
    //}
    //&:after {
    //  content: "";
    //  position: absolute;
    //  width: 100%;
    //  height: 100%;
    //  top: 0;
    //  left: 0;
    //  bottom: 0;
    //  right: 0;
    //  margin: auto;
    //  opacity: 0.60;
    //  background-image: linear-gradient(to right, #000000 -1%, rgba(0, 0, 0, 0) 100%);
    //}

  }
  .inner-text {
    float: left;
    padding-top: 74px;
    @include tablet-down{
      float: none;
      padding: 100px 0 0;
    }
  }
  .inner-content {
    text-align: left;
    padding-left: 35px;
    @include desktop-up {
      padding-right: 88px;
      width: 56.4%;
    }
    @include container-down {
      padding-left: 20px;
      padding-right: 10px;
    }
    @include tablet-down {
      text-align: center;
      max-width: 100%;
      float: none;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 15px;
    }

  }
  .right-block {
    float: right;
    @include desktop-up{
      width: 43.5%;
    }
    @include tablet-down{
      float: none;
      width: 70%;
      margin: 0 auto 30px;
    }
    @include phablet-down{
      width: 100%;
    }
    .slider-outer-block {
      padding: 20px 26px 22px 21px;
      box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.4);
      background-color: $white;
      position: relative;
      @include phablet-down {
        padding: 20px;
      }
      .row-wrap {
        display: block;
        align-items: baseline;
        font-size: 0;
        .media-block {
          width: 209px;
          height: 196px;
          display: inline-block;
          vertical-align: middle;
          @include desktop-down{
            width:50%;

          }
          @include phablet-down{
            display: block;
            width:100%;
            padding-left: 0;
            height:150px;
          }
          @include phone-down{
            height:125px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            font-family: "object-fit: cover;";
          }
        }
        .content-block {
          padding-left: 23px;
          display: inline-block;
          vertical-align: middle;
          width: calc(100% - 209px);
          @include desktop-down{
            width:50%;
          }
          @include phablet-down{
            display: block;
            width:100%;
            padding-left: 0;
            margin-top: 12px;
          }
          .logo-box {
            max-width: 180px;
            max-height: 72px;
            margin: 0 auto;
            @include tablet-down{
              max-width: 150px;
              max-height: 55px;
            }
            img{
              object-fit: cover;
              font-family: "object-fit: cover;";
            }
          }
        }
      }

    }
  }

}