.news-slider {
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: $white;
    z-index: 1;
    width: 0;
    @media only screen and (min-width: 1401px) and (max-width: 1500px) {
      width: 4.5%;
    }
    @media only screen and (min-width: 1501px) and (max-width: 1800px) {
      width: 9%;
    }
    @media only screen and (min-width: 1801px) and (max-width: 2029px) {
      width: 15%;
    }
    @media only screen and (min-width: 2030px) and (max-width: 2200px) {
      width: 18%;
    }
    @media only screen and (min-width: 2201px) and (max-width: 2349px) {
      width: 20%;
    }
    @media only screen and (min-width: 2350px) and (max-width: 2635px) {
      width: 23%;
    }
    @media only screen and (min-width: 2636px) {
      width: 26%;
    }
  }

  .play-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 77.9px;
    height: 77.9px;
    @include phablet-down {
      width: 57.9px;
      height: 57.9px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  @include container-up {
    padding: 15px 0 92px;
  }
  @include phablet-down {
    padding: 0 0 50px;
  }
  .intro-box {
    text-align: center;
    max-width: 799px;
    margin: 0 auto;
    padding: 0 0 18px 0;
    h2 {
      margin-bottom: 32px;
      font-weight: bold;
      line-height: 1.47;
      letter-spacing: -0.015em;
      @include tablet-down {
        margin-bottom: 10px;
      }
      &.green-border {
        &:after {
          bottom: -11.3px;
        }
      }
    }
    p {
      margin: 20px 0;
    }
    .button-box {
      margin: 35px 0;
    }
  }

  .button-wrap {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include desktop-down {
      max-width: 100%;
    }
    .pre-btn {
      background: url(/themes/rms/templates/dist/images/arrow-right-small.svg) no-repeat;
      background-size: 28px;
      transform: rotate(180deg);
      z-index: 1;
      display: inline-block;
      width: 29px;
      height: 15px;
      position: relative;
      left: -12px;
      cursor: pointer;
      vertical-align: top;
      &.slick-disabled {
        opacity: 0.3;
        //cursor: auto;
      }
    }
    .next-btn {
      background: url(/themes/rms/templates/dist/images/arrow-right-small.svg) no-repeat;
      background-size: 28px;
      z-index: 1;
      display: inline-block;
      vertical-align: top;
      width: 29px;
      height: 15px;
      position: relative;
      right: -12px;
      cursor: pointer;
      &.slick-disabled {
        opacity: 0.3;
        //cursor: auto;
      }
    }
  }

  .slider-block {
    padding: 42px 0 0 0;
    //opacity: 0;
    @include media-breakpoint-down(md) {
      padding-top: 21px;
    }
    .item {
      outline: none;
      @include phablet-down {
        margin: 0 5px;
      }
      .small-text {
        font-size: 14px;
        font-family: $font-families-gotham;
        font-weight: 500;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: left;
        color: $black;
        margin-bottom: 25px;
      }
      p {
        font-size: 14px;
        font-weight: normal;
        font-family: $font-families-gotham;
        line-height: 1.58;
        letter-spacing: normal;
        text-align: left;
        color: $black;
      }
      h4 {
        //font-family: $font-families-nunito;
        position: relative;
        font-weight: 600;
        line-height: 1.37;
        letter-spacing: 0.02em;
        text-align: left;
        color: $black;
        margin: 24px 0;
      }
      .icon-box {
        img {
          width: 100%;
          height: 100%;
          object-fit: contain !important;
        }
        svg {
          height: 100%;
          width: 100%;
        }
      }
      .media-block {
        max-width: 58.3333333333%;
        float: left;
        padding-right: 14px;
        padding-left: 4px;
        position: relative;
        @include desktop-down {
          max-width: 100%;
        }
        @include phone-down {
          padding-right: 0;
          padding-left: 0;
        }
        a {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 0;
          margin: 0;
          z-index: 5;
        }
        .pattern-animation {
          position: absolute;
          top: -42px;
          left: -30px;
          width: 350px;
          height: 350px;
          z-index: -1;
          @include desktop-down {
            display: none;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
          @media screen and (min-width: 1500px) {
            left: -1.5%;
            top: -9.8%;
          }
          @media screen and (min-width: 1700px) {
            left: -2.5%;
            top: -9.8%;
          }
        }
        .media-top-wrap {
          .img-box {
            max-width: 603px;
            height: 320px;
            position: relative;
            overflow: hidden;
            @include phablet-down {
              height: 180px;
              max-width: 402px;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              font-family: "object-fit: cover;";
              transition: 0.4s all ease-in-out;
            }
            .shared-icon {
              position: absolute;
              bottom: -110px;
              right: 10px;
              opacity: 0;
              visibility: hidden;
              transition: 0.3s all ease-in-out;
              margin-bottom: 9px;
              z-index: 6;
              .icon-box {
                width: 24px;
                height: 24px;
                display: block;
                margin: 0 0 8px 0;
                position: relative;
                transition: 0.3s all ease-in-out;
                top: 0;
                z-index: 8;
                &:hover {
                  top: -3px;
                }
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
              .addthis_inline_share_toolbox_sove {
                .at4-show {
                  .at-share-btn-elements {
                    .at-share-btn {
                      position: relative;
                      display: block;
                      width: 24px;
                      height: 24px;
                      margin: 0 0px 5px;
                      .at-icon-wrapper {
                        svg {
                          width: 24px !important;
                          height: 24px !important;
                        }
                      }
                    }
                  }
                }
              }
            }
            &:hover {
              .shared-icon {
                opacity: 1;
                visibility: visible;
                bottom: 0;
              }
              img {
                transform: scale(1.08);
              }
            }
            //.play-icon {
            //  position: absolute;
            //  top: 0;
            //  left: 0;
            //  right: 0;
            //  bottom: 0;
            //  margin: auto;
            //  width: 77.9px;
            //  height: 77.9px;
            //  @include phablet-down {
            //    width: 57.9px;
            //    height: 57.9px;
            //  }
            //  img {
            //    width: 100%;
            //    height: 100%;
            //    object-fit: contain;
            //  }
            //}
          }
          .media-footer {
            display: flex;
            align-items: center;
            margin: 16px 0 0 9px;
            @include desktop-down {
              margin-left: 0;
            }
            .icon-box {
              width: 25.5px;
              height: 25.5px;
              svg {
                height: 100%;
                width: 100%;
              }
            }
            span {
              font-size: 12px;
              font-family: $font-families-gotham;
              font-weight: 500;
              line-height: 1.67;
              letter-spacing: 0.36px;
              text-align: left;
              color: $light-green;
              padding-left: 7px;
            }
          }
        }
        .content-box {
          max-width: 570px;
          @include desktop-up {
            padding-left: 8px;
            padding-top: 5px;
          }
          @include tablet {
            margin: 40px 0 20px 0px;
          }
          h4 {
            position: relative;
            text-align: left;
            color: $black;
            margin: 6px 0;
            font-weight: bold;
            line-height: 1.17;
            letter-spacing: normal;
            a {
              position: relative !important;
              top: auto;
              left: auto;
              color: $black;
              &:hover {
                color: $black;
              }
            }
          }
          p {
            margin: 18px 0;
            max-width: 558px;
            @include tablet-down {
              margin: 5px 0;
            }
            @include phablet-down {
              margin: 8px 0;
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
              font-size: 16px;
            }
            &.small-text {
              margin: 9px 0 !important;
            }
          }
          .button-box {
            position: relative;
            @include desktop-down {
              margin-bottom: 20px;
            }
            @include phablet-down {
              margin-bottom: 10px;
            }
            .learn-more {
              margin: 14px 0;
              cursor: pointer;
              position: relative !important;
              @include phablet-down {
                margin: 4px 0 9px;
              }
              @include phablet-down {
                font-size: 14px;
              }
            }
          }
        }
      }

      .resources-block {
        max-width: 41.6666666667%;
        float: left;
        padding-left: 52px;
        transition: 0.2s all ease-in-out;
        @include desktop-down {
          max-width: 100%;
          padding-left: 0;
        }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
          margin-top: 20px;
        }
        @include phone-down {
          margin-top: 10px;
        }
        &.half-width {
          margin: 0 0 0 52px;
          @include desktop-down {
            margin: 0;
          }
          @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
            margin-top: 0;
          }

          @include desktop-up {
            transition: 0.3s all ease-in-out;
            padding: 0;
            .wrapper-box {
              width: 100%;
              @include desktop-up {
                padding: 0 20px 0 0;
              }
              .media-top {
                .img-box {
                  padding: 0 20px 0 0;
                  width: 100%;
                  margin: 0;
                  max-width: 100%;
                  @include desktop-up {
                    padding: 0 0 0 0;
                  }
                }
              }

            }
          }
          @include phone-down {
            margin-top: 0;
          }
          .wrapper-box {
            position: relative;
            @include desktop-down {
              width: 100%;
              margin: 0 auto 25px;
              font-size: 0;
            }
            @include phablet-down {
              margin: 0 auto 40px;
            }
            @include phone-down {
              margin: 0 auto 20px;
              width: 100%;
            }
            a {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              padding: 0;
              margin: 0;
              z-index: 5;
            }
            .media-top {
              @include desktop-down {
                display: inline-block;
                width: 50%;
                vertical-align: middle;
              }
              @include phablet-down {
                max-width: 100%;
                height: 170px;
              }
              @include phone-down {
                width: 100%;
              }
              .img-box {
                @include tablet-down {
                  height: 160px;
                }
              }
            }
            .content-block {
              @include desktop-down {
                display: inline-block;
                width: 50%;
                vertical-align: middle;
                //padding-left: 50px;
              }
              @include tablet {
                padding-left: 20px;
              }
              @include phablet {
                padding-left: 20px;
              }
              @include phablet-down {
                padding-left: 30px;
              }
              @include phone-down {
                width: 100%;
                padding-left: 0;
                margin-top: 30px;
              }
            }
          }
        }
        .wrapper-box {
          margin: 0 0 32px;
          position: relative;
          @include desktop-down {
            margin: 0 24px 31px 0;
            width: calc(50% - 24px);
            float: left;
          }
          @include tablet-down {
            margin: 0 12px 31px 0;
            width: calc(50% - 12px);
          }
          @include phone-down {
            margin: 0 auto 20px;
            width: 100%;
          }
          &.one-slide {
            @include desktop-down {
              width: 100% !important;
            }
          }
          a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            z-index: 5;
          }
          .media-top {
            //cursor: pointer;
            .img-box {
              max-width: 422px;
              height: 220px;
              overflow: hidden;
              position: relative;
              @include tablet-down {
                //max-width: 220px;
                max-width: 100%;
                height: 200px;
              }
              @include phone-down {
                width: 100%;
                //height: 200px;
              }
              img {
                transition: 0.4s all ease-in-out;
                font-family: "object-fit: cover;";
              }
              &:hover {
                img {
                  -webkit-transform: scale(1.08);
                  -o-transform: scale(1.08);
                  transform: scale(1.08);
                }
              }

              .shared-icon {
                position: absolute;
                bottom: -110px;
                right: 10px;
                opacity: 0;
                visibility: hidden;
                transition: 0.3s all ease-in-out;
                margin-bottom: 9px;
                z-index: 6;
                .icon-box {
                  width: 24px;
                  height: 24px;
                  display: block;
                  margin: 0 0 8px 0;
                  position: relative;
                  transition: 0.3s all ease-in-out;
                  top: 0;
                  &:hover {
                    top: -3px;
                  }
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                  }
                }
                .addthis_inline_share_toolbox_sove {
                  .at4-show {
                    .at-share-btn-elements {
                      .at-share-btn {
                        position: relative;
                        display: block;
                        width: 24px;
                        height: 24px;
                        margin: 0 0px 5px;
                        .at-icon-wrapper {
                          svg {
                            width: 24px !important;
                            height: 24px !important;
                          }
                        }
                      }
                    }
                  }
                }
              }
              &:hover {
                .shared-icon {
                  opacity: 1;
                  visibility: visible;
                  bottom: 0;
                }
                img {
                  transform: scale(1.08);
                }
              }
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: 0.4s all ease-in-out;
            }
          }

          .media-footer {
            display: flex;
            align-items: center;
            margin: 14px 0 8px 0;
            .icon-box {
              width: 31px;
              height: 26px;
              @include phablet-down {
                width: 25px;
                height: 19px;
              }
            }
            span {
              font-size: 12px;
              font-family: $font-families-gotham;
              font-weight: 500;
              line-height: 1.67;
              letter-spacing: 0.36px;
              text-align: left;
              color: $light-green;
              padding-left: 5px;
            }
          }
        }
        .content-block {
          margin: 0 0 0;
          @include phone-down {
            width: 100%;
            padding-left: 0;
          }
          h4 {
            margin: 3px 0;
            font-weight: bold;
            line-height: 1.17;
            letter-spacing: normal;
            a {
              position: relative !important;
              top: auto;
              left: auto;
              color: $black;
              &:hover {
                color: $black;
              }
            }
          }
          p {
            margin: 8px 0;
          }
        }
      }
      &.slick-active {
        .resources-block {
          &.half-width {
            @include desktop-up {
              //width: calc(50% - 80px);
              //margin: 0 0 0 80px;
              // width: calc(50% - 55px);
              // margin: 0 0 0 55px;
              // padding: 0;
            }
          }
        }
      }
    }
  }

  .slick-dots {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    bottom: 10%;
    li {
      display: inline-block;
      position: relative;
      width: 6px;
      height: 6px;
      margin: 0 2.8px;
      padding: 0;
      &:before {
        display: none;
      }
      button {
        outline: none;
        width: 6px;
        height: 6px;
        background: $light-green;
        opacity: 0.5;
        text-indent: 999999px;
        border-radius: 50%;
        cursor: pointer;
      }
      &.slick-active {
        button {
          background: $light-green;
          opacity: 1;
        }
      }
    }
  }

  .slick-list {
    @include container-up {
      overflow: visible !important;
    }
  }
  .slick-slide {
    display: block;
    //opacity: 0 !important;
    //visibility: hidden !important;
    //left: -10%;
    // @media only screen and (min-width: 1401px) {
    //   left: -3%;
    // }
    left: 0;
    position: relative;
    &.slick-current {
      opacity: 0 !important;
      visibility: hidden !important;
    }
    //.resources-block {
    //  &.half-width {
    //    .wrapper-box {
    //      .media-top {
    //        cursor: auto !important;
    //      }
    //    }
    //  }
    //
    //}

    &.slick-active {
      opacity: 1 !important;
      visibility: visible !important;
      left: 0;
      @include container-up {
        margin-left: 0;
      }
      .resources-block {
        &.half-width {
          .wrapper-box {
            .media-top {
              //cursor: pointer !important;
            }
          }
        }
      }
      & + .slick-slide {
        opacity: 0.25 !important;
        visibility: visible !important;
        left: 0;
        @include container-up {
          //margin-left: -90px;
          margin-left: 0;
        }

      }
    }
    &.diff {
      @include container-up {
        margin-left: 0 !important;
      }
    }
  }
  &.about-news {
    padding: 76px 0 75px;
  }
}

.resources {
  @include container-up {
    padding: 5px 0 64px;
  }
  @include container-down {
    padding-top: 10px;
  }

  .slider-block {
    @include container-up {
      padding: 31px 0 0 0;
    }

    .item {
      @include phone-down {
        margin-right: 12px;
      }
      .media-block {
        @include container-up {
          padding-right: 18px;
          padding-left: 0;
        }

        .media-top-wrap {
          .media-footer {
            span {
              @include container-up {
                padding-left: 9px;
              }
            }
          }
        }

        .content-box {
          @include container-up {
            padding-top: 6px;
            padding-left: 10px;
          }

          p.small-text {
            @include container-up {
              letter-spacing: 0.28px;
            }
          }
        }
      }
      .resources-block {
        .wrapper-box {
          @include container-up {
            margin: 0 0 27px;
          }
          .media-top {
            .media-footer {
              .icon-box {
                //width:31px;
                //height:26px;
                //@include desktop-up {
                //  width: 27px;
                //  height: 27px;
                //}
                //@include desktop {
                //  width: 27px;
                //  height: 27px;
                //}
                //@include tablet {
                //  width: 27px;
                //  height: 27px;
                //}
                //@include tablet-down {
                //  width: 27px;
                //  height: 27px;
                //}
              }
              span {
                @include container-up {
                  padding-left: 7px;
                }
              }
            }
          }
        }
      }
    }
  }
  .button-wrap {
    margin-top: 20px;
  }
  //.slick-arrow {
  //  &.slick-next {
  //    @include container-up {
  //      bottom: -35px;
  //    }
  //
  //  }
  //  &.slick-prev {
  //    @include container-up {
  //      bottom: -35px;
  //    }
  //
  //  }
  //}
  //.slick-dots {
  //  @include container-up {
  //    bottom: -30px;
  //  }
  //
  //}
}

.news-data-detail {
  @include container-up {
    padding-bottom: 66px;
  }
  @include desktop-up {
    padding-top: 62px;
  }
  .slider-block {
    @include desktop-up {
      padding-top: 32px;
    }
    .item {
      .media-block {
        @include container-up {
          padding-right: 16px;
          padding-left: 0;
        }
        .media-top-wrap {
          .media-footer {
            .icon-box {
              width: 27px;
              height: 27px;
            }
          }
        }
        .content-box {
          @include container-up {
            padding-left: 9px;
          }
          h4 {
            @include container-up {
              margin-bottom: 12px;
            }
          }
          .small-text {
            letter-spacing: 0.28px;
          }
          p {
            @include container-up {
              max-width: 542px;
              margin: 18px 0 14px;
            }
          }
          .button-box {
            margin-top: 30px;
            display: block;
            clear: both;
          }
        }
        .pattern-animation {
          @media screen and (min-width: 1150px) and (max-width: 1410px) {
            top: -12.8%;
          }
          @media screen and (min-width: 1500px) {
            left: -1.5%;
            top: -9.8%;
          }
          @media screen and (min-width: 1700px) {
            left: -2.5%;
            top: -9.8%;
          }
        }
      }

      .resources-block {
        .wrapper-box {
          @include container-up {
            margin: 0 0 28px;
          }
          .media-top {
            .media-footer {
              @include container-up {
                margin: 12px 0 9px 3px;
              }
              .icon-box {
                width: 30px;
                height: 27px;
                @include tablet-down {
                  width: 25px;
                  height: 25px;
                }
                img {
                  object-fit: contain;
                }
              }
            }
          }
        }
        .content-block {
          @include container-up {
            padding-right: 20px;
          }
        }
      }
    }
  }
  .button-wrap {
    @include container-up {
      margin-top: 18px;
    }
  }
}

.new-service-detail {
  @include container-up {
    padding: 5px 0 66px;
  }
  .slider-block {
    @include container-up {
      padding: 32px 0 0 0;
    }
    .item {
      .media-block {
        @include container-up {
          width: 52%;
          //padding-left: 0;
          //padding-right: 0;
        }
        .content-box {
          @include container-up {
            padding-left: 3px;
          }
          h4{
            @include container-up {
              margin: 6px 0 12px;
            }
          }
          p {
            @include container-up {
              margin: 16px 0;
            }
            &.small-text {
              letter-spacing: 0.28px;
            }
          }
        }
      }
      .resources-block {
        @include container-up {
          padding-left: 52px;
        }
      }
    }
  }
  .button-wrap {
    padding-top: 15px;
  }
}

.data-landing-new-slider {
  @include container-up {
    padding-top: 58px !important;
    padding-bottom: 66px;
  }
  @include desktop {
    padding-top: 62px;
  }
  .slider-block {
    @include desktop-up {
      padding-top: 32px;
    }
    .item {
      .media-block {
        @include container-up {
          padding-right: 18px !important;
          padding-left: 0;
        }

        .media-top-wrap {
          .media-footer {
            .icon-box {
              width: 27px;
              height: 27px;
            }
            span {
              @include container-up {
                padding-left: 9px !important;
              }
            }
          }
        }

        .content-box {
          @include container-up {
            padding-left: 11px !important;
          }
          h4 {
            @include container-up {
              margin-bottom: 12px;
            }
          }
          .small-text {
            letter-spacing: 0.28px;
          }
          p {
            @include container-up {
              max-width: 542px;
              margin: 18px 0 14px;
            }
          }
          .pattern-animation {
            @media screen and (min-width: 1500px) {
              left: -1.5%;
              top: -9.8%;
            }
            @media screen and (min-width: 1700px) {
              left: -2.5%;
              top: -9.8%;
            }
          }
        }
      }

      .resources-block {
        .wrapper-box {
          @include container-up {
            margin: 0 0 28px;
          }
          .media-top {
            .media-footer {
              @include container-up {
                margin: 12px 0 9px 3px;
              }
              .icon-box {
                width: 30px;
                height: 27px;
                @include tablet-down {
                  width: 25px;
                  height: 25px;
                }
                img {
                  object-fit: contain;
                }
              }
            }
          }
        }
        .content-block {
          @include container-up {
            padding-right: 20px;
          }
        }
      }
    }
  }
  .button-wrap {
    @include container-up {
      margin-top: 18px;
    }

  }
}

.new-slider-career {
  @include container-up {
    padding: 60px 0 65px;
  }
  .author-info {
    span {
      display: block;
      font-size: 14px;
      font-weight: 500;
      font-family: $font-families-gotham;
      line-height: 1.57;
      letter-spacing: normal;
      color: $blackthin-light;
      &.name-author {
        font-weight: bold;
        color: $black;
      }
    }
  }

  .slider-block {
    .item {
      .media-block {
        @include container-up {
          padding-left: 0;
        }
        @include desktop-down {
          padding-bottom: 8px;
        }
        .pattern-animation {
          @include container-up {
            top: -9.7%;
            left: -41px;
          }
        }

        .content-box {
          @include container-up {
            padding-top: 31px;
          }
          h4 {
            line-height: 1.29;
            font-weight: 600;
          }
          p {
            @include container-up {
              margin: 27px 0 18px;
            }
          }
        }
      }
      .resources-block {
        @include container-up {
          padding-left: 54px;
        }
        .content-block {
          padding-top: 22px;
          @include tablet-down {
            padding-top: 18px;
          }
          h4 {
            margin: 3px 0 8px;
            @include container-up {
              margin: 3px 0 16px;
            }
          }
        }
      }
    }
  }
}
