.news-grid {
  padding-top: 0;
  @include tablet-up {
    padding-bottom: 74px;
  }
  .cover-two-col {
    width: 100%;
    float: left;
    .card-grid {
      width: 65.7%;
      z-index: 1;
      opacity: 0;
      transition: 0.5s opacity ease-in-out;
      @include desktop-down {
        width: 100%;
      }
      .pager {
        width: 100%;
        display: block;
        float: left;
      }
      .button-box {
        text-align: center;
        margin-top: 23px;
        @include desktop-up {
          margin-top: 5px;
        }
      }
      .grid {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        //column-count: 1;
        //orphans: 1;
        //widows: 1;
        //column-gap: 42px;
        font-size: 0;
        position: relative;
        @include container-down {
          column-gap: 30px;
        }
        @include desktop-down {
          width: 100%;
          //column-count: 3;
          //column-gap: 20px;
        }
        @include tablet-down {
          //column-count: 2;
        }
        @include phablet-down {
          //column-count: 1;
        }
      }
      .box {
        width: 50%;
        margin-bottom: 45px;
        display: inline-block;
        vertical-align: top;
        padding: 0 46px 0 0;
        @include desktop-down {
          width: 33%;
          margin-bottom: 10px;
          padding: 0 20px 0 0;
        }
        @include tablet-down {
          width: 100%;
          padding: 0;
        }
        .card {
          //display: block;
          //border-radius: 0;
          //-webkit-transition: 0.4s all ease-in-out;
          //-o-transition: 0.4s all ease-in-out;
          //transition: 0.4s all ease-in-out;
          //-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
          //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
          //position: relative;

          //margin: 0 auto 45px;
          border-radius: 0;
          display: inline-block;
          vertical-align: top;
          overflow: hidden;
          width: 100%;
          transition: 0.4s all ease-in-out;
          cursor: pointer;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
          border: solid 1px $hexa-light-gray;
          background-color: $white;
          @include container-down {
            margin: 0 auto 30px;
          }
          @include desktop-down {
            margin: 10px auto;
          }
          a {
            display: block;
          }
          .card-with-img {
            min-height: 420px;
            @include desktop-down {
              min-height: 380px;
            }
            @include phablet-down {
              min-height: auto;
            }
            .img-top {
              height: 220px;
              @include desktop-down {
                height: 190px;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          //&:nth-child(2n+1) {
          //  margin-left: 0;
          //}
          &.small-card {
            min-height: 231px;
            @include desktop-down {
              min-height: 320px;
            }
            @include phablet-down {
              min-height: auto;
            }
            .card-body {
              @include container-up {
                padding: 12px 10px 14px 19px;
              }
              .auther-info {
                .author-detail {
                  @include container-up {
                    padding-left: 6px;
                  }
                }
              }
              p {
                font-family: $font-families-gotham;
                font-size: 14px;
                font-weight: normal;
                line-height: 1.57;
                letter-spacing: normal;
                text-align: left;
                color: $blackthin-light;
                padding-top: 17px;
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                height: auto;
                padding-bottom: 5px;
              }
              .resource-block {
                margin: 0 0 17px 0;
              }
            }
          }

          .card-body {
            padding: 7px 10px 12px 19px;
            width: 100%;
            @include desktop-down {
              padding: 12px;
            }
            h5 {
              font-weight: 600;
              color: $black;
              letter-spacing: normal;
              font-family: $font-families-Inter;
              text-align: left;
              -webkit-line-clamp: 4;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              overflow: hidden;
              height: auto;
            }
            p {
              font-family: $font-families-gotham;
              font-size: 14px;
              font-weight: normal;
              letter-spacing: normal;
              text-align: left;
              color: $blackthin-light;
              margin-top: 7px;
              -webkit-line-clamp: 2;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              overflow: hidden;
              height: auto;
            }
            .resource-block {
              display: flex;
              align-items: center;
              margin: 0 0 15px 0;
              position: relative;
              top: 9px;
              @include phablet-down {
                justify-content: center;
              }
              .icon-box {
                width: 31.4px;
                height: 31.4px;
                @include tablet {
                  width: 25.5px;
                  height: 25.5px;
                }
                svg {
                  height: 100%;
                  width: 100%;
                }
              }
              span {
                font-size: 12px;
                font-family: $font-families-gotham;
                font-weight: 500;
                line-height: 1.67;
                letter-spacing: 0.36px;
                text-align: left;
                color: $light-green;
                padding-left: 5px;
              }
            }
            .auther-info {
              width: 100%;
              display: flex;
              flex-direction: row;
              align-items: center;
              .auther {
                max-width: 35px;
                height: 30px;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
            }
            .author-detail {
              width: 100%;
              display: block;
              margin-bottom: 11px;
              span {
                font-size: 14px;
                font-weight: 500;
                line-height: 1.57;
                letter-spacing: 0.28px;
                color: $black;
                font-family: $font-families-gotham;
                position: relative;
                display: inline-block;
                padding: 0 8px;
                @include container-down {
                  display: block;
                  padding: 0;
                }
                &:after {
                  content: "";
                  position: absolute;
                  width: 1px;
                  height: 80%;
                  top: 2px;
                  left: -2px;
                  background-color: $black;
                  @include container-down {
                    display: none;
                  }
                }
                &:first-child {
                  padding-left: 0;
                  &:after {
                    display: none;
                  }
                }
                &.date {
                  opacity: 0.6;
                  padding-right: 0;

                }
              }

            }

            p {
              font-weight: normal;
              line-height: 1.63;
              letter-spacing: 0.16px;
              margin-top: 5px;

              @include desktop-up {
                margin-right: 10px;
                margin-bottom: 19px;
              }
            }
          }
          &:hover {
            box-shadow: 0 6px 15px 5px rgba(0, 0, 0, 0.09);
          }
        }
      }
    }
    .menu-item {
      width: 34.3%;
      padding-left: 42px;
      @include container-down {
        padding-left: 25px;
      }
      @include desktop-down {
        width: 100%;
        padding-left: 0;
        margin-top: 40px;
      }
      .cover-right-content {
        background-color: $hex-white-smoke;
        padding: 41px 40px 19px;
        @include container-down {
          padding: 30px 20px;
        }
        @include desktop-down {
          padding: 20px 15px;
        }
        h6 {
          font-size: 20px;
          font-weight: bold;
          line-height: 1.3;
          letter-spacing: normal;
          margin-bottom: 45px;
          position: relative;
          font-family: $font-families-Inter;
          @include desktop-down {
            margin-bottom: 30px;
          }
          &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: -15px;
            left: 0;
            background-color: $primary7;
          }
          span {
            font-size: 16px;
            font-weight: bold;
            line-height: 1.25;
            letter-spacing: normal;
            font-family: $font-families-gotham;
            color: $wine-red;
            position: absolute;
            right: 0;
            display: inline-block;
          }
        }
        .icon-wrapper {
          display: flex;
          margin: 0px 0 31px;
          @include desktop {
            margin-bottom: 28px;
          }
          @include tablet-down {
            margin-bottom: 15px;
          }
          .icon-box {
            height: 36px;
            width: 36px;
            margin: 0 7px;
            &:first-child {
              margin-left: 0;
            }
            img, svg {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: 0.3s all ease-in-out;
              .cls-1 {
                fill: $white;
              }
            }
            &:hover {
              svg {
                fill: $light-green;
              }
            }
          }
        }
        .subscribe-box {
          background-color: $hex-white-smoke;
          max-width: 390px;
          @include desktop-down {
            max-width: 100%;
          }
          h6 {
            font-size: 20px;
            font-family: $font-families-InterM;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            @include desktop-up {
              padding-left: 1px;
            }
          }
        }
        .recent-news {
          margin: 0 0 67px 0;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: -50px;
            left: 0;
            background-color: $primary7;
          }
          .icon-img-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 0 8px 0;
            .img-left {
              width: 91px;
              height: 47px;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
            .img-right {
              width: 21px;
              height: 21px;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }
          .content-block {
            p {
              font-family: $font-families-gotham;
              font-size: 14px;
              font-weight: normal;
              line-height: 1.572;
              letter-spacing: normal;
              a {
                display: inline-block;
                font-size: inherit;
                font-weight: 600;
                color: $wine-red;
                letter-spacing: 0.05em;
              }
            }

            .media-box {
              max-width: 290px;
              height: 180px;
              margin: 27px auto 0;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .time-block {
              font-size: 14px;
              font-weight: normal;
              font-family: $font-families-gotham;
              line-height: 1.57;
              letter-spacing: normal;
              color: $blackthin-light;
              opacity: 0.5;
              float: right;
              display: inline-block;
              padding-top: 12px;
              @include desktop-up {
                position: relative;
                right: -3px;
              }
            }
          }
        }
        .tags-content {
          h6 {
            font-family: $font-families-Inter;
            @include container-up {
              margin-bottom: 36px;
            }
          }
          ul {
            text-align: left !important;
            li {
              display: inline-block;
              opacity: 0.8;
              font-size: 12px;
              font-weight: normal;
              line-height: 1.67;
              letter-spacing: 0.36px;
              color: $black;
              background-color: $hexa-light-gray;
              font-family: $font-families-gotham;
              margin: 0 2px 8px;
              padding: 0px 5px 0 5px;
              @include container-down {
                margin: 0 0px 10px;
                padding: 0px 7px;
              }
              &:before {
                display: none;
              }
            }
          }
        }
        .embed-box {
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            font-family: $font-families-gotham;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.57;
            letter-spacing: normal;
            text-align: right;
          }
          .learn-more {
            font-size: 12px;
            font-weight: 500;
            line-height: 1.83;
            letter-spacing: normal;
            text-align: right;
            color: $wine-red;
            padding: 0 18px 2px 0;
          }
        }
      }

      //iframe style//
      .ifrom-block {
        background-color: blue;
        .SandboxRoot {
          &.env-bp-min {
            .timeline-Widget {
              background-color: transparent !important;
            }
          }
        }

      }

    }
  }
}