.reference-carousel {
  @include container-up {
    padding: 72px 0 63px;
  }

  .intro-box {
    text-align: center;
    max-width: 799px;
    margin: 0 auto;
    @include phablet-down {
      margin: 0 auto 45px;
    }
    h2 {
      margin-bottom: 36px;
      font-weight: bold;
      letter-spacing: 0.01em;
      word-spacing: 0.0em;
      margin-top: 4px;
      @include phablet-down {
        margin-bottom: 12px;
      }
    }
  }

  .col-wrapper {
    opacity: 0;
    transition: 0.3s all ease-in-out;
    width: calc(100% + 30px);
    position: relative;
    left: -15px;
    .col-item {
      box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.02);
      border: solid 1px #f2f2f2;
      background-color: $white;
      padding: 39px 15px;
      margin: 20px 15px;
      outline: none;
      @include tablet-down {
        padding: 39px 20px;
      }
      .row {
        align-items: center;
        .media-with-text {
          display: none;
        }
        .media-block {
          padding: 0;
          @include container-up {
            max-width: calc(33.33% - 16px);
          }
          .img-box {
            max-width: 150px;
            height: 150px;
            margin: 0 auto;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              font-family: "object-fit: cover;";
            }
          }
          p {
            font-size: 14px;
            font-family: $font-families-gotham;
            letter-spacing: normal;
            text-align: center;
            color: $black;
            margin: 20px 0 5px;
            line-height: 1.43;
          }
        }
        .content-block {
          @include container-up {
            padding-left: 3px;
          }
          @include tablet-down {
            text-align: center;
          }
          h3 {
            font-weight: bold;
            line-height: 1.2;
            letter-spacing: normal;
            color: $black;
            margin: 16px 0 0;
            @include tablet-down {
              text-align: center;
            }
          }
          p {
            max-width: 705px;
            margin: 13px 0;
            line-height: 1.75;
            letter-spacing: 0.16px;
          }
          .button-box {
            margin: 27px 0 10px;
          }
        }
      }
    }
  }
  .button-wrap {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
    @include desktop-down {
      max-width: 100%;
    }
    .pre-btn {
      background: url(/themes/rms/templates/dist/images/arrow-right-small.svg) no-repeat;
      background-size: 28px;
      transform: rotate(180deg);
      z-index: 1;
      display: inline-block;
      width: 29px;
      height: 15px;
      position: relative;
      left: -12px;
      cursor: pointer;
      vertical-align: top;
      &.slick-disabled {
        opacity: 0.3;
        cursor: auto;
      }
    }
    .next-btn {
      background: url(/themes/rms/templates/dist/images/arrow-right-small.svg) no-repeat;
      background-size: 28px;
      z-index: 1;
      display: inline-block;
      vertical-align: top;
      width: 29px;
      height: 15px;
      position: relative;
      right: -12px;
      cursor: pointer;
      &.slick-disabled {
        opacity: 0.3;
        cursor: auto;
      }
    }
  }
  .slick-dots {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    bottom: 10%;
    li {
      display: inline-block;
      position: relative;
      width: 6px;
      height: 6px;
      margin: 0 2.8px;
      padding: 0;
      &:before {
        display: none;
      }
      button {
        outline: none;
        width: 6px;
        height: 6px;
        background: $light-green;
        opacity: 0.5;
        text-indent: 999999px;
        border-radius: 50%;
        cursor: pointer;
      }
      &.slick-active {
        button {
          background: $light-green;
          opacity: 1;
        }
      }
    }
  }

  &.model-slide {
    @include container-up {
      padding: 78px 0 4px;
    }
    .col-item {
      padding: 37px 15px;
      .row {
        .media-block {
          display: none;
        }
        .media-with-text {
          display: block;
          @include tablet-down {
            text-align: center;
          }
          .content-wrap {
            max-width: 234px;
            margin: 0 auto 2px;
            h5 {
              font-weight: bold;
              line-height: 1.3;
              letter-spacing: -0.2px;
              @include tablet-down{
                text-align: center;
              }
            }
            .img-wrap {
              width: 125px;
              height: 125px;
              @include tablet-down {
                margin: 0 auto;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .media-footer {
              display: flex;
              align-items: center;
              margin: 11px 0 6px;
              @include desktop-down {
                margin-left: 0;
              }
              @include tablet-down {
                justify-content: center;
              }
              .icon-box {
                width: 25.5px;
                height: 25.5px;
                svg {
                  height: 100%;
                  width: 100%;
                }
              }
              span {
                font-size: 12px;
                font-family: $font-families-gotham;
                font-weight: 500;
                line-height: 1.67;
                letter-spacing: 0.36px;
                text-align: left;
                color: $light-green;
                padding-left: 7px;
              }
            }
          }
        }
        .content-block {
          @include container-up {
            margin-left: -17px;
          }
        }
      }
    }
    .button-wrap {
      margin-top: 14px;
    }
  }
}
