
.research-reports-white-papers {
  ol{
    font-family:$font-families-gotham;
  }
  ul{
    padding-left: 40px;
    @include tablet-down {
      padding-left: 20px;
    }
    @include phablet-down {
      padding-left: 0;
    }

    li {
      position: relative;
      strong {
        color: $black;
        font-weight: 500;
      }
      &:after {
        content: '';
        position: absolute;
        top: 14px;
        left: 0;
        width: 5px;
        height: 5px;
        background: $black;
      }
      strong {
        font-weight: 500;
      }
    }
  }
  @include desktop-up {
    padding-top: 70px;
    padding-bottom: 60px;
  }
  .column-wrapper {
    width: 100%;
    .text-left-with-image {
      a{
        color:#C41240;
        display: initial;
        &:hover{
          color:#00b7c6;
        }
      }
      width: 67%;
      padding-right: 50px;
      @include container-up {
        padding-right: 102px;
      }
      @include container-down {
        width: 60%;
        padding-right: 40px;
      }
      @include desktop-down {
        width: 100%;
        padding-right: 0;
        float:none;
      }
      //iframe{
      //  width:100%;
      //  height:480px;
      //  overflow: hidden;
      //  max-width:100%;
      //  html{
      //    overflow: hidden;
      //    body{
      //      background-color:$black;
      //      color: #fff;
      //      height: 100%;
      //      width: 100%;
      //      overflow: hidden;
      //      position: absolute;
      //      margin: 0;
      //      padding: 0;
      //    }
      //  }
      //}
      iframe {
        margin-top: 0;
        border: 0;
        max-width: 658px;
        width: 100%;
        height: 360px;
        @include desktop {
          text-align: center;
        }
        @include tablet {
          text-align: center;
        }
        @include phablet {
          text-align: center;
        }
        @include phablet-down {
          text-align: center;
        }
      }
      video {
        border: 1px solid $gray;
        max-width: 658px;
        width: 100%;
        height: 360px;
        margin:0 auto;
      }
      p{
        iframe {
          margin-top: 0;
          border: 0;
          max-width: 658px;
          width: 100%;
          height: 360px;
          @include desktop {
            text-align: center;
          }
          @include tablet {
            text-align: center;
          }
          @include phablet {
            text-align: center;
          }
          @include phablet-down {
            text-align: center;
          }
        }
        video {
          border:0;
          max-width: 658px;
          width: 100%;
          height: 360px;
          margin:0 auto;
        }
      }
      blockquote{
        border: 1px solid #dddddd;
        border-radius: 10px;
        padding: 20px 20px;
        max-width:600px;
        width: 100%;
        p{
          display: block;
          position: relative;
          font-family: $font-families-gotham;
          margin: 13px 0 0 !important;
          img{
            margin:0 !important;
            width:100%;
            max-height:500px;
            object-fit:cover;
            border-radius:5px;
          }
          a{
            color: $gray;
            transition: all 0.3s linear;
            img{
              margin:0 !important;
              width:44px;
              height:44px;
              border-radius:50%;
            }
          }
          &:first-child{
            //display: flex;
            //align-items: center;
            margin-top: 0 !important;
            //&:before{
            //  content:"";
            //  position:absolute;
            //  right:-14px;
            //  top:0;
            //  width:20px;
            //  height:20px;
            //  background-image:url("/themes/rms/templates/dist/images/birdy.png") ;
            //  background-repeat: no-repeat;
            //  background-position: center;
            //  background-size: cover;
            //  cursor: pointer;
            //}
            a{
              &:nth-child(1){
                position:absolute;
                top:0;
                left:0;
                margin-left:0;
              }
              &:nth-child(2){
                font-size: 16px;
                color: $black;
                font-weight:600;
                padding: 0px 10px;
                transition: all 0.3s linear;
                padding-left: 55px;
                display: inline;
                position: relative;
                line-height: 1.2;
                &:before{
                  content:"";
                  position:absolute;
                  right:-9px;
                  top:0;
                  width:15px;
                  height:15px;
                  background-image:url("/themes/rms/templates/dist/images/blog-icon.png") ;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover;
                }
                &:hover{
                  color: rgb(59, 148, 217);
                  background-position-y: 5px;
                  transition: all 0.3s linear;
                }
              }
              &:nth-child(3){
                font-size: 14px;
                color: $gray;
                font-weight:400;
                padding: 0px 10px;
                transition: all 0.3s linear;
                padding-left: 55px;
                display:block;
                line-height: 1.2;
              }
            }
          }
        }
      }
      h3{
        font-size: 28px;
      }
      h4{
        font-size: 24px;
        width:100%;
        strong{
          display: inline-block;
          max-width: 100%;
          margin-bottom: 8px;
          width: 100%;
          padding: 0 8px;
          font-size: 12px;
          font-weight: 500;
          line-height: 1.67;
          letter-spacing: 0.36px;
          color: $light-green;
          font-family: $font-families-gotham;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -8px;
            left: 0;
            background-color: #c7c7c7;
            opacity: 0.6;
            @include desktop {
              bottom: -10px;
            }
            @include tablet-down {
              bottom: -5px;
            }
          }
          &:nth-child(1){
            padding-left:0;
          }
          &:nth-child(1){
            padding-right:0;
          }
        }
      }
      ol{
        padding-left:40px;
        li{
          margin-left: 20px;
          list-style: decimal outside;
          margin-bottom: 8px;
        }
        @include container-down{
          padding-left:30px;
        }
        @include tablet-down{
          padding-left:20px;
        }
        @include phablet-down{
          padding-left:15px;
        }
      }
      h3,h4 {
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: normal;
        margin-bottom: 33px;
        @include tablet-down {
          margin-bottom: 15px;
        }
      }
      p {
        clear: both;
        line-height: 1.75;
        letter-spacing: 0.32px;
        margin: 23px 0;
        font-weight: normal;
        @include tablet-down {
          margin: 15px 0;
        }
        @include phablet-down {
          margin: 10px 0;
        }
      }

      img {
        &.alignright {
          float: right !important;
          margin-left: 32px !important;
          margin-bottom: 10px !important;
          margin-top: 6px !important;
          margin-right: 13px !important;
          width: 370px;
          height: 220px;
          @include container-down {
            margin: 0 0 0 10px !important;
          }
          @include desktop-down {
            display: block;
            float: none !important;
            margin: 10px 0 10px !important;
            width: auto;
            height: auto;
          }
        }
        &.alignleft {
          float: left !important;
          margin-right: 51px !important;
          margin-bottom: 10px !important;
          margin-top: 0 !important;
          width: 370px;
          height: 220px;
          @include container-down {
            margin-right: 15px !important;
          }

          @include desktop-down {
            display: block;
            float: none !important;
            margin-right: 0 !important;
            width: auto;
            height: auto;
          }
        }
      }
      p {
        &.alignright {
          display: flex;
          //margin-left: 10px;
          //margin-bottom: 10px;
          @include container-up {
            margin-top: 39px !important;
          }
          @include desktop-down {
            display: block;
            float: none !important;
            margin-left: 0;
          }
        }
        &.alignleft {
          display: flex;
          //margin-right: 10px;
          //margin-bottom: 10px;
          //margin-top:0;
          @include container-up {
            margin-top: 39px !important;
          }
          @include desktop-down {
            display: block;
            float: none !important;
            margin-right: 0;
          }
        }
      }

      h6 {
        font-size: 20px;
        line-height: 1.3;
        letter-spacing: normal;
        margin-top: 46px;
        font-family: $font-families-InterM;
        @include desktop {
          margin-top: 35px;
        }
        @include tablet-down {
          margin: 20px 0;
          font-size: 18px;
        }
        @include phablet-down {
          margin: 15px 0;
        }
      }
      strong{
        font-size: 16px;
        font-weight: 500;
        line-height: 1.67;
        letter-spacing: 0.36px;
        color: $black;
        font-family: $font-families-gotham;
        //margin-bottom: 20px;
        //display: block;
        //position: relative;
      }
      q, blockquote{
        font-size: 12px;
        font-weight: 500;
        line-height: 1.67;
        letter-spacing: 0.36px;
        color: $light-green;
        font-family: $font-families-gotham;
        margin-bottom: 58px;
        //display: inline;
        //position: relative;
        @include desktop-down{
          margin-bottom: 40px;
        }
        //&:after {
        //  content: "";
        //  position: absolute;
        //  width: 100%;
        //  height: 2px;
        //  bottom: -17px;
        //  left: 0;
        //  background-color: #c7c7c7;
        //  opacity: 0.6;
        //  @include desktop {
        //    bottom: -10px;
        //  }
        //  @include tablet-down {
        //    bottom: -5px;
        //  }
        //}
        @include desktop {
          margin-bottom: 40px;
        }
        @include tablet-down {
          margin: 15px 0 20px;
        }
        @include phablet-down {
          margin: 0px 0 15px;
        }
      }

      p{
        img {
          margin: 31px 0 5px;
          @include desktop-down {
            margin: 25px 0 0;
          }
          @include phablet-down {
            margin: 15px 0 0;
          }
        }
      }
      img {
        margin: 31px 0 25px;
        @include desktop-down {
          margin: 25px 0;
        }
        @include phablet-down {
          margin: 15px 0;
        }
      }
    }

    .col-three-blog {
      width: 33%;
      float: right;
      @include container-up {
        padding-left: 6px;
        padding-top: 3px;
      }
      @include container-down {
        width: 40%;
      }
      @include desktop-down {
        width: 100%;
        float: none;
      }
      .icon-wrapper {
        display: flex;
        margin: 0px 0 32px;
        @include desktop {
          margin-bottom: 28px;
        }
        @include desktop-down{
          display: block;
        }
        @include tablet-down {
          margin-bottom: 15px;
        }
        @include phablet-down{
          margin-top: 20px;
        }
        .icon-box {
          height: 36px;
          width: 36px;
          margin: 0 7px;
          &:first-child {
            margin-left: 0;
          }
          img, svg {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.3s all ease-in-out;
            .cls-1 {
              fill: $white;
            }
          }
          &:hover {
            svg {
              fill: $light-green;
            }
          }
        }
        .at-share-btn-elements {

          a{
            margin: 0 7px;
            height: 36px;
            width: 36px;
            padding: 3px 0 0 3px;
            transition: 0.3s all ease-in-out;
            transform: translateY(0px)!important;
            svg {
              width: 30px !important;
              height: 30px !important;
            }
            &:first-child {
              margin-left: 0;
            }
            &:last-child {
              margin-right: 0;
            }
            &:hover{
              transform: translateY(0px) !important;
              background-color:$light-green !important;
            }
          }
        }
      }
      .card-with-blog {
        h6 {
          font-size: 20px;
          font-weight: bold;
          line-height: 1.3;
          letter-spacing: normal;
          margin-bottom: 43px;
          position: relative;
          font-family: $font-families-InterM;
          @include desktop {
            margin-bottom: 40px;
          }
          @include tablet-down {
            margin: 15px 0 20px;
            font-size: 18px;
          }
          &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -13px;
            left: 0;
            background-color: #c7c7c7;
            opacity: 0.3;
            @include desktop {
              bottom: -9px;
            }
            @include tablet-down {
              bottom: -5px;
            }
          }
        }

        .card {
          border: 0;
          display: flex;
          position: relative;
          flex-direction: row;
          margin: 20px 0;
          min-height: 174px;
          //cursor: pointer;
          transition: 0.4s all ease-in-out;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0);
          @include phablet-down {
            flex-direction: column;
            border: 1px solid #eaeaea;
            padding: 10px;
          }
          &.card-without-image{
            .content-btn{
              width: calc(100%);
              padding: 16px 10px 13px 24px;
              border-left: 1px solid #eaeaea;
              @include phablet-down{
                border-left: 0;
                padding:0;
              }
              span{
                @include container-up{
                  margin-bottom: 7px;
                }
              }
              h6{
                max-width:100%;
                line-height: 1.2;
                @include container-up{
                  margin-bottom: 10px;
                }
              }
              .button-box{
                margin-top: 9px;
              }
            }
          }
          .img-box {
            max-width: 165px;
            position: relative;
            overflow: hidden;
            //@include desktop-up{
            //  max-height:174px;
            //}
            @include desktop-down {
              max-height: 174px;
            }
            @include phablet-down {
              margin: 0 auto;
            }
            img {
              object-fit: cover;
              max-height: 100%;
              height: 100%;
              width: 100%;
              font-family: "object-fit: cover;";
            }
            .play-icon {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              width: 77.9px;
              height: 77.9px;
              @include tablet-down {
                width: 30px;
                height: 30px;
              }
            }
          }
          .content-btn {
            width: calc(100% - 164px);
            padding-left: 20px;
            border: 1px solid #eaeaea;
            border-left: 0;
            padding-top: 15px;
            //@include desktop-up{
            //  max-height:174px;
            //}
            @include desktop {
              padding: 12px 5px 5px 10px;
            }
            @include tablet {
              padding: 12px 5px 5px 10px;
            }
            @include phablet-down {
              width: calc(100%);
              border: 0;
              text-align: center;
              padding: 15px 0;
            }
            h6 {
              margin-bottom: 11px;
              font-family: $font-families-Inter;
              -webkit-line-clamp: 3;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              overflow: hidden;
              height: auto;
              @include container-up {
                max-width: 195px;
              }
              @include container-down {
                font-size: 18px
              }
              @include phablet-down {
                text-align: center;

              }
              &:after {
                display: none;
              }
            }
            span {
              font-size: 14px;
              font-family: $font-families-gotham;
              font-weight: 500;
              line-height: 1.57;
              letter-spacing: 0.28px;
              color: $black;
              margin-bottom: 9px;
              display: block
            }
            .button-box {
              .learn-more {
                font-size: 12px;
                line-height: 1.17;
                letter-spacing: 0.24px;
                font-weight: bold;
                //@include phablet-down {
                //  padding-left: 20px;
                //}
                &:after {
                  top: 3px;
                }
              }
            }
            p{
              font-size: 14px;
              font-weight: normal;
              line-height: 1.57;
              letter-spacing: normal;
              //margin: 14px 0;
            }
          }
          &:hover {
            box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
            transition-delay: 0.3s;
          }
        }
      }
    }
  }

  &.blog-detal-page {
    @include container-up {
      padding-top: 71px;
    }
    .column-wrapper {
      .text-left-with-image {
        @include container-up {
          padding-right: 96px;
        }
        h6 {
          margin-top: 0 !important;
        }
        p {
          @include container-up {
            margin: 24px 0;
          }
        }
        img {
          @include container-up {
            margin: 25px 0 26px;
          }
        }
      }
      .subscribe-box {
        min-height: 165px;
        background-color: $hex-white-smoke;
        padding: 25px;
        max-width: 390px;
        @include desktop-down {
          padding: 15px;
        }

        h6 {
          font-size: 20px;
          line-height: 1.3;
          letter-spacing: normal;
        }
        .search-box {
          position: relative;
          max-width: 380px;
          margin-top: 20px;
          @include desktop-down {
            max-width: 350px;
          }
          input {
            font-family: $font-families-gotham;
            background-color: $white;
            font-size: 16px;
            font-weight: normal;
            line-height: 1.21;
            letter-spacing: normal;
            color: $black;
            outline: none;
            border: solid 1px $primary7;
            max-width: 290px;
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            appearance: none;
            //padding: 15px 60px 15px 36px;
            border-radius: 0;
            height: 54px;
            padding: 9px 20px 11px 19px;
            transition: all 0.3s ease;
            border-right-width: 0;
            &:focus{
              border: solid 1px $light-green;
              border-right-width:0;
            }
          }
          input::placeholder {
            font-family: $font-families-gotham;
            background-color: $white;
            font-size: 16px;
            font-weight: normal;
            line-height: 1.21;
            letter-spacing: normal;
            color: $black;
            opacity: 0.4;
          }
          button {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 60px;
            height: 54px;
            margin: auto;
            outline: none;
            border: 0;
            cursor: pointer;
            letter-spacing: normal;
            font-family: $font-families-gotham;
            @include transition(all, 0.2s, ease-in-out);
            overflow: hidden;
            background: $wine-red;
            color: $white;
            img {
              vertical-align: middle;
              width: 23px;
            }
          }
        }
      }

      .col-three-blog {

        .icon-wrapper {
          @include container-up {
            margin: 0px 0 26px;
          }
        }
        .card-with-blog {
          margin-top: 40px;
          @include desktop-down {
            margin-top: 20px;
          }
          .content-btn {
            h6 {
              @include container-up {
                margin-bottom: 8px;
              }
            }
            strong {
              font-size: 14px;
              font-weight: 500;
              line-height: 1.57;
              letter-spacing: 0.28px;
              color: $dark-gray;
              opacity: 0.4;
              font-family: $font-families-gotham;
              margin-bottom: 12px;
              display: block;
            }
            p {
              font-size: 14px;
              font-weight: 500;
              line-height: 1.57;
              letter-spacing: 0.28px;
              color: $dark-gray;
              font-family: $font-families-gotham;
            }
            .button-box {
              margin-top: 12px;
            }
          }

        }
      }
    }

  }

}
