.resource-with-card-slider {
  @include container-up {
    padding-top: 108px;
    padding-bottom: 123px;
  }
  .bg-img {
    position: absolute;
    left: 0;
    width: 100%;
    background-image: linear-gradient(111deg, #0a0a0a 1%, #4b4b4b 100%);
    bottom: 0;
    height: 520px;
    @include desktop-down {
      top: auto;
      bottom: 0;
    }
  }
  .intro-block {
    text-align: center;
    margin-bottom: 60px;
    @include tablet-down {
      margin-bottom: 30px;
    }
  }
  .pattern-animation {
    position: absolute;
    right: -2.7%;
    bottom: -10.5%;
    width: 410px;
    height: 410px;
    z-index: 0;
    @media screen and (min-width: 992px) and (max-width: 1240px) {
      right: -4%;
      bottom: -89px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @include desktop-down {
      display: none;
    }
  }

  .award-top-carousel {
    position: relative;
    background: $white;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.08);
    @include container-up {
      margin-bottom: 0;
    }
    @include container-down {
      margin-bottom: 0;
    }
    @include tablet-down {
      margin-bottom: 0;
    }
    @include phablet-down {
      margin-bottom: 0;
    }
    .slider-outer {
      opacity: 0;
      .items {
        outline: none;
        @include tablet-down {
          padding: 0 10px 20px;
        }

        &.slick-active {
          @include desktop-up {
            .media-block {
              transform: translateY(0);
            }
            .content-block {
              transform: translateX(0);
              opacity: 1;
              visibility: visible;
            }
          }
        }
        &:after {
          content: "";
          display: block;
          clear: both;
        }
      }
      .col-two {
        @include tablet-down {
          width: 100%;
        }
      }
      .media-block {
        min-height: 500px;
        @include container-up {
          width: calc(42% - 0px);
        }
        @include tablet-down {
          min-height: 100%;
          padding-top: 20px;
        }
        .img-wrapper {
          position: relative;
          height: 500px;
          max-width: 500px;
          overflow: hidden;
          margin: 0;
          @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
            height: 537px;
          }
          @include container-up {
            margin: 0 auto 0 0px;
          }
          @include tablet-down {
            margin: 0 auto;
            max-width: 370px;
          }
          @include phablet-down {
            height: 350px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: fill;
            font-family: "object-fit: fill;";
          }
          .top-border {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 3px;
            //background: linear-gradient(91deg, #0086a1 0%, #004c6c 100%);
            background: #074d6b;
            background: -moz-linear-gradient(top, #074d6b 0%, #12859e 100%);
            background: -webkit-linear-gradient(top, #074d6b 0%, #12859e 100%);
            background: linear-gradient(to bottom, #074d6b 0%, #12859e 100%);

          }
        }
      }
      .content-block {
        padding: 15px 46px 0px 70px;
        text-align: left;
        @include container-up {
          width: calc(58% - 0px);
        }
        @include container-down {
          padding-left: 50px;
        }
        @include desktop {
          padding-left: 30px;
        }
        @include tablet {
          padding-left: 15px;
        }
        @include tablet-down {
          padding: 10px 0;
          max-width: 100%;
          text-align: center;
        }
        h4 {
          max-width: 500px;
          font-weight: bold;
          line-height: 1.33;
          letter-spacing: normal;
          color: $dark-green;
          margin: 27px 0 19px;
          @include container-down {
            margin: 0px 0 10px;
          }
          @include tablet {
            font-size: 24px;
          }
          @include desktop-down {
            max-width: 100%;
            text-align: left;
            //margin: 27px 0 10px;
          }
          @include tablet-down {
            max-width: 100%;
            text-align: center;
            //margin: 27px 0 10px;
          }
        }
        p {
          margin: 21px 0;
          font-size: 20px;
          font-weight: normal;
          font-family: $font-families-gotham;
          line-height: 1.5;
          letter-spacing: 0.5px;
          @include desktop {
            margin: 12px 0;
            font-size: 18px;
          }
          @include desktop-down {
            margin: 12px 0;
            font-size: 16px;
          }
          @include phablet {
            font-size: 16px;
          }
          @include phablet-down {
            font-size: 16px;
          }
        }
        .author-box {
          margin: 23px 0;
          @include desktop {
            margin: 12px 0;
          }
          @include desktop-down {
            margin: 12px 0;
          }
          h6 {
            margin: 2px 0 1px;
            letter-spacing: normal;
            font-family: $font-families-gotham;
            @include tablet-down {
              text-align: center;
            }
          }
          p {
            font-size: 18px;
            margin: 0;
            letter-spacing: normal;
            font-weight: normal;
          }
        }
        .button-box {
          a {
            @include tablet-down {
              text-align: center;
            }
          }
        }
      }

    }
  }
  .button-wrap {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    @include container-up {
      bottom: 47px;
      left: 41px;
    }
    @include desktop {
      bottom: 15px;
      left: 90px;
    }
    @include tablet {
      bottom: 12px;
      left: 80px;
    }
    @include desktop-down {
      max-width: 100%;
    }
    @include tablet-down {
      max-width: 100%;
      padding-top: 20px;
      position: relative;
    }
    @include phablet-down {
      padding-top: 0;
      padding-bottom: 20px;
    }
    .pre-btn {
      background: url(/themes/rms/templates/dist/images/arrow-right-small.svg) no-repeat;
      background-size: 28px;
      transform: rotate(180deg);
      z-index: 1;
      display: inline-block;
      width: 29px;
      height: 15px;
      position: relative;
      left: -12px;
      cursor: pointer;
      vertical-align: top;
      &.slick-disabled {
        opacity: 0.3;
        cursor: auto;
      }
    }
    .next-btn {
      background: url(/themes/rms/templates/dist/images/arrow-right-small.svg) no-repeat;
      background-size: 28px;
      z-index: 1;
      display: inline-block;
      vertical-align: top;
      width: 29px;
      height: 15px;
      position: relative;
      right: -12px;
      cursor: pointer;
      &.slick-disabled {
        opacity: 0.3;
        cursor: auto;
      }
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      li {
        display: inline-block;
        position: relative;
        width: 6px;
        height: 6px;
        margin: 0 3px;
        padding: 0;
        &:before {
          display: none;
        }
        button {
          outline: none;
          width: 6px;
          height: 6px;
          background: $light-green;
          opacity: 0.5;
          text-indent: 999999px;
          border-radius: 50%;
          cursor: pointer;
        }
        &.slick-active {
          button {
            background: $light-green;
            opacity: 1;
          }
        }
      }
    }
  }
  &.model-resource {
    .pattern-animation {
      right: -2.9%;
      bottom: -55px;
      width: 410px;
      height: 410px;
      transform: none;
      @media screen and (min-width: 992px) and (max-width: 1130px) {
        right: 1.1%;
      }
    }
  }
}

.resource-slider-promotional {
  @include container-up {
    padding-top: 74px;
    padding-bottom: 131px;
  }
  .intro-block {
    h2 {
      &:after {
        @include container-up {
          bottom: -19.1px;
        }
      }
    }
  }
  .bg-img {
    @include container-up {
      top: 35.6%;
      height: 63.2%;
    }
  }

  .award-top-carousel {
    @include container-up {
      margin-top: 69px;
    }
    .slider-outer {
      .media-block {
        .img-wrapper {
          @include container-up {
            max-width: 501px;
          }
        }
      }
      .content-block {
        @include tablet {
          padding: 15px 20px 0px 20px !important;
        }
        h4 {
          line-height: 1.29;
          @include container-up {
            max-width: 510px;
            margin: 24px 0 29px;
          }
        }
      }
    }
  }

  .button-wrap {
    @include tablet {
      left: 84px !important;
    }
  }
}
