.resource-with-card{
  position: relative;
  @include container-up {
    padding: 116px 0;
  }
  .bg-img {
    position: absolute;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(10, 10, 10), rgb(57, 57, 57));
    top: 29.1%;
    height: 70.4%;
    @include desktop-down {
      top: auto;
      bottom: 0;
    }
  }
  .pattern-animation {
    position: absolute;
    right: -2.6%;
    bottom: -11%;
    width: 410px;
    height: 410px;
    z-index: 0;
    opacity: 0.7;
    @media screen and (min-width: 992px) and (max-width: 1240px) {
      right: 1%;
    }
    img, svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
      //display: none;
      //&:nth-child(2) {
      //  display: block;
      //}
    }
    @include desktop-down {
      display: none;
    }
  }
  .column-wrapper {
    width: 100%;
    position: relative;
    z-index: 1;
    background: $white;
    @include container-up {
      margin-top: -16px;
      margin-bottom: 6px;
    }
    @include desktop-down {
      display: flex;
      align-items: center;
    }
    @include tablet-down {
      display: block;
    }
    .image-box {
      position: relative;
      width: 41%;
      @include desktop-down {
        width: 50%;
        max-width: 100%;
      }
      @include tablet-down {
        padding: 0;
        width: 100%;
        margin: 0 auto;
        float: none;
      }

      .img-wrapper {
        position: relative;
        height: 489px;
        max-width: 488px;
        @include desktop-down {
          max-width: 100%;
        }
        @include tablet-down {
          max-width: 400px;
          height: 400px;
          margin: 0 auto;
        }
        @include phablet-down {
          height: 350px;
        }
        @include phone-down {
          max-width: 100%;
        }
        //&:after {
        //  content: "";
        //  position: absolute;
        //  top: 0;
        //  left: 0;
        //  right: 0;
        //  bottom: 0;
        //  width: 100%;
        //  height: 100%;
        //  opacity: 0.2;
        //  background-color: $dark-green;
        //  z-index: 1;
        //}
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .text-wrapper {
      padding: 39px 20px 0 69px;
      width: 59%;
      @include container-down {
        padding-left: 80px;
      }
      @include desktop-down {
        width: 50%;
        padding-left: 25px;
        padding-top: 0;
      }
      @include tablet-down {
        padding: 0 30px 30px;
        width: 100%;
        float: none;
        margin-top: 30px;
        text-align: center;
      }
      .logo-title {
        display: flex;
        align-items: center;
        margin-bottom: 14px;
        @include tablet-down {
          justify-content: center;
        }
        .logo-wrap {
          width: 39px;
          height: 34px;
          img, svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .small-title {
          font-family: $font-families-gotham;
          color: $light-green;
          font-size: 14px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.43;
          letter-spacing: 0.42px;
          margin-right: 5px;
        }
      }
      &.align-left {
        h2 {
          &:after {
            @include tablet-down {
              right: 0;
              margin: 0 auto;
            }
          }
        }
      }
      h2 {
        text-align: left;
        position: relative;
        font-family: $font-families-nunito;
        font-weight: bold;
        line-height: 1.16;
        letter-spacing: normal;
        margin-bottom: 29px;
        padding-bottom: 7px;
        max-width: 515px;
        @include desktop-down {
          margin-bottom: 0;
          padding-bottom: 0;
          max-width: 100%;
        }
        @include tablet-down {
          text-align: center;
          margin-bottom: 32px;
        }
      }
      p {
        margin-bottom: 35px;
        @include container-up {
          max-width: 550px;
        }
        @include desktop-down {
          margin-bottom: 18px;
          margin-top: 20px;
        }
        @include tablet-down {
          margin-bottom: 12px;
          margin-top: 15px;
        }
      }
    }
  }
  &.sol-detail {
    .column-wrapper {
      box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.08);
    }
  }
}

