.rms-form-event{

  @include desktop-up{
    padding-top: 80px;
    padding-bottom: 105px;
  }
      .bg-img{
            position: absolute;
            top: 27.4%;
            left: 0;
            width: 100%;
            height: 581px;
           &:before{
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  background-color: #212121;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  z-index: -1;
            }
        @include container-down{
          top: auto;
          bottom: 0;
        }
      }
  .pattern-animation {
    position: absolute;
    right: -6.2%;
    bottom: -50px;
    width: 410px;
    height: 410px;
    z-index: 0;
    opacity: 1;

    @include desktop-down{
      display:none;
    }
  }


  .column-wrap{
    position: relative;
    max-width: 792px;
    min-height: 620px;
    margin: 0 auto;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.08);
    background-color:$white;
    padding: 53px 98px 60px 101px;
    @include container-down{
      padding: 50px;
    }
    @include desktop-down{
      padding: 80px;
    }
    @include tablet-down{
      padding: 25px;
      min-height: auto;
    }
    @include phone-down{
      padding: 25px 20px;
    }

    h2{
      font-weight: 600;
      line-height: 1.16;
      letter-spacing: 0.45px;
      text-align: left;
      margin-bottom: 42px;
      @include desktop-down{
        margin-bottom: 30px;
      }
      @include phone-down{
        margin-bottom: 25px;
      }
      &:after{
        left: 0;
        right: auto;
        @include desktop-up{
          bottom: -23.1px;
        }
      }
    }
    p{
      font-weight: normal;
      line-height: 1.75;
      letter-spacing: normal;
    }

      form{
        width: 100%;
        margin: 31px 0px 0 0px;
        padding: 0;
        //float: left;
        @include container-up{
          padding-right: 2px;
          padding-left: 2px;
        }
        @include desktop-down{
          margin: 25px 0px 0 0px;
        }
        @include phone-down{
          margin: 15px 0px 0 0px;
        }
        .mktoFormRow{
          width: 100%;
          position: relative;
          clear: both;
          .cover-input{
            width:100%;
            display: flex;
            margin-bottom: 17px;
            @include tablet-down{
              display: block;
              margin-bottom: 15px;
            }
            .left-input{
              width: calc(50% - 10px);

              margin-right: 10px;
              @include tablet-down{
                width: calc(100%);
                margin-right: 0;
                margin-bottom: 15px;
              }
            }
            .right-input{
              width: calc(50% - 7px);
              margin-left: 7px;
              @include tablet-down{
                width: calc(100%);
                margin-left: 0;
              }
            }

            input {
              font-family: $font-families-gotham;
              background-color: $white;
              font-size: 16px;
              font-weight: normal;
              line-height: 1.21;
              letter-spacing: normal;
              color: $black;
              outline: none;
              border: solid 1px $primary7;
              width: 100%;
              margin: 0;
              box-sizing: border-box;
              appearance: none;
              position: relative;
              border-radius: 0;
              height: 54px;
              text-align: left;
              padding: 16px 20px 16px 19px;
              transition: all 0.3s ease;
              caret-color: $light-green;
              vertical-align: top;
              @include tablet-down{
                height: 40px;
                padding: 6px 20px 9px 6px;
              }
              &:focus{
                border: solid 1px $light-green;
              }

            }
            input::placeholder {
              font-family:$font-families-gotham;
              background-color: $white;
              font-size: 16px;
              font-weight: normal;
              line-height: 1.21;
              letter-spacing: normal;
              color: $black;
            }

          }
          .check-box{
            width: 100%;
            margin: 31px 0 35px ;
            @include desktop-down{
              margin: 20px 0;
            }
            @include phone-down{
              margin: 15px 0;
            }
            p{
              font-size: 14px;
              font-weight: normal;
              line-height: 1.57;
              letter-spacing: normal;
            }
            .main {
              position: relative;
              padding-left: 35px;
              cursor: pointer;
              font-size: 16px;
              text-align: left;
              color: $black;
              line-height: 1.27;
              letter-spacing: 0.16px;
              font-weight: 500;
              font-family: $font-families-Inter;
              margin-bottom: 19px;
              @include tablet-down{
                padding-left: 25px;
              }
              &:hover {
              }
              input {
                &:checked {
                  ~ {
                    .geekmark {
                      background-image: linear-gradient(135deg, #004c6c, #0086a1);
                      border:$light-green solid 1px;
                      transition: all 0.3s ease-in-out;
                      &:after {
                        display: block;
                      }
                    }
                  }
                }
              }
              .geekmark {
                &:after {
                  left:7px;
                  bottom: 5px;
                  width: 6px;
                  height: 12px;
                  border: solid  $white;
                  border-width: 0 2px 2px 0;
                  transform: rotate(45deg);
                  @include tablet-down{
                    left: 6px;
                    bottom: 3px;
                    width: 5px;
                    height: 10px;
                  }
                }
              }
            }
            input[type=checkbox] {
              visibility: hidden;
            }
            .geekmark {
              position: absolute;
              top: 0px;
              left: 0;
              height: 20px;
              width: 20px;
              background:$white;
              border:$gray solid 1px;
              transition: all 0.3s ease-in-out;
              @include tablet-down{
                top: 2px;
                height: 17px;
                width: 17px;
              }
              &:after {
                content: "";
                position: absolute;
                display: none;
              }
            }
          }
          button {
            position: relative;
            width: 140px;
            margin: auto;
            outline: none;
            border: 0;
            cursor: pointer;
            background:$wine-red;
            color:$white;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.43;
            letter-spacing: normal;
            font-family:$font-families-gotham;
            @include transition(all, 0.2s, ease-in-out);
            overflow: hidden;
            padding: 11px 27px 11px 30px;
            text-align: center;
            span{
              font-family: $font-families-gotham;
              position: relative;
              left: 0;
              transition: all 0.3s ease;
            }
            &:hover {
              background-color: $purple-red;
            }
          }
        }
      }
  }


}