.search {
  padding-top: 85px;
  @include container-up {
    padding-top: 158px;
  }
  .search-wrapper {
    border-radius: 4px;
    max-width: 1097px;
    margin: 0 auto;
    width: 100%;
    @include container-down {
      max-width: 100%;
    }

    h1 {
      font-size: 45px;
      color: $black;
      font-weight: 600;
      position: relative;
      line-height: 1.16;
      letter-spacing: normal;
      @include desktop-down {
        font-size: 42px;
      }
      @include tablet-down {
        font-size: 34px;
      }
      @include phablet-down {
        font-size: 32px;
      }
      @include phone-down {
        font-size: 28px;
      }
      //&:after{
      //  content: "";
      //  position: absolute;
      //  background-color: #CCC;
      //  width:100%;
      //  height: 1px;
      //  bottom: -14px;
      //  left: 0;
      //}
    }
    p {
      margin: 0 0 10px;
      color: $black;
    }
    form {
      overflow: hidden;
      position: relative;
      margin-top: 30px;
      max-width: 742px;
      width: 100%;
      @include desktop-down {
        max-width: 100%;
        margin-top: 20px;
      }
      input[type=text] {
        background: $white;
        border-bottom: 2px solid $gray14;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        box-shadow: none;
        color: $black-light;
        font-family: $font-families-gotham;
        float: right;
        font-size: 20px;
        //height: 18px;
        //line-height: 18px;
        //margin: 10px 0;
        overflow: hidden;
        padding: 16px 20px 16px 36px;
        position: relative;
        width: 100%;
        outline: none;
        letter-spacing: 0.5px;
        font-weight: normal;
      }
      input::placeholder {
        letter-spacing: 0.5px;
        color: $black-light;
        font-family: $font-families-gotham;
        font-size: 20px;
        font-weight: normal;
      }
      button[type=submit] {
        background: url(/themes/rms/templates/dist/images/svg/black-search-ico.svg) no-repeat;
        border: none;
        cursor: pointer;
        display: block;
        padding: 0;
        position: absolute;
        height: 22px;
        width: 22px;
        left: 0;
        top: 21px;
        outline: none;
        background-size: 75%;
        background-position: center;
      }
    }

    .search-content {
      width: 100%;
      .count {
        color: $blackthin-light;
        font-family: $font-families-gotham;
        font-size: 14px;
        font-weight: normal;
        margin: 25px 0;
        padding-right: 10px;
        position: relative;
        letter-spacing: normal;
        line-height: 1.57;
        @include desktop-down {
          margin: 18px 0;
          padding-right: 0;
        }
        //&:after{
        //  content: "";
        //  position: absolute;
        //  background-color: #CCC;
        //  width:100%;
        //  height: 1px;
        //  bottom: -14px;
        //  left: 0;
        //}
        span {
          display: inline;
          color: $blackthin-light;
          font-family: $font-families-gotham;
          font-weight: bold;
          letter-spacing: normal;
        }
      }

      .search_list {
        padding: 23px 0 14px;
        border-bottom: solid 1px $lighter-grey;
        @include desktop-down {
          padding: 18px 0 14px;
        }
        .search_links {
          a {
            color: $dark-blue1;
            &:visited {
              color: $black;
            }
          }
          h5 {
            font-size: 24px;
            font-family: $font-families-InterM;
            font-weight: 500;
            line-height: 1.17;
            color: $black;
            @include desktop {
              font-size: 22px;
            }
            @include tablet {
              font-size: 20px;
            }
            @include phablet {
              font-size: 18px;
            }
            @include phablet-down {
              font-size: 18px;
            }
          }
        }
      }

      .search_url {
        p {
          font-size: 16px;
          font-family: $font-families-gotham;
          font-weight: 500;
          line-height: 1.75;
          letter-spacing: normal;
          //margin-bottom: 6px;
          margin-top: 10px;
          word-break: break-word;
          color: $wine-red;
        }
      }
      .media {
        margin: 0;
        .media-body, .media-left, .media-right {
          display: flex;
          align-items: start;
        }
        .media-left, .media > .pull-left {
          padding-right: 10px;
        }
        .media-left, .media-right {
          height: 50px;
          width: 50px;
          margin-right: 15px;
          padding-right: 0;
          a {
            color: $gray15;
            height: 50px;
            width: 50px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              font-family: "object-fit: cover;";
            }
          }
        }
        .media-body {
          font-size: 16px;
          font-weight: normal;
          width: calc(100% - 60px);
          font-family: $font-families-gotham;
          line-height: 1.75;
          letter-spacing: normal;
          color: $black;

        }
      }
    }

    .pagination-wrapper {
      .paging {
        ul.pagination {
          display: inline-block;
          padding-left: 0;
          margin: 20px 0;
          border-radius: 0;
          text-align: center;
          li {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            padding-left: 0;
            margin: 0;
            &.active {
              a{
                border: solid 1.5px $green;
                opacity:1;
                margin: 0;
                transition: 0.3s all ease-in-out;
                @include phone-down{
                  border: solid 1px $green;
                }
                &:before{
                  width: 0;
                  opacity: 0;
                  transition: 0.3s all ease-in-out;
                }

              }
            }
            a {
              z-index: 3;
              color:$blackthin-light;
              font-size: 14px;
              background-color: $white;
              transition: 0.3s all ease-in-out;
              min-width: 30px;
              height: 30px;
              padding: 3px ;
              letter-spacing: normal;
              font-family: $font-families-gotham;
              opacity: 0.5;
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              @include phone-down{
                min-width: 17px;
                height: 17px;
                font-size: 14px;
              }
              &:before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 1px;
                height: 11px;
                bottom: 0;
                background-color: $blackthin-light;
                opacity: 0.5;
                //transition: 0.3s all ease-in-out;
                transform: translate(0%, 100%);

                @include phone-down{
                  display: none;
                }
              }
              &:hover {
                border: solid 1.5px $green;
                opacity:1;
                margin: 0;
                transition: 0.3s all ease-in-out;
                @include phone-down{
                  border: solid 1px $green;
                }
                &:before{
                  width: 0;
                  opacity: 0;
                  transition: 0.3s all ease-in-out;
                }
              }
            }
            &:first-child, &:last-child{
              a{
                opacity: 1;
                &:before{
                  opacity: 0;
                }
              }
            }
            &:nth-child(2){
              a{
                &:before{
                 width: 0;
                  opacity: 0;
                }
              }
            }
            &:before {
              display: none;
            }
          }
        }
      }
    }
    .branding_root {
      text-align: center;
      a {
        color: #1a4f83;
        font-size: 14px;
        text-decoration: none;
        vertical-align: middle;
        img {
          height: 14px;
          width: 14px;
          margin-right: 10px;
          vertical-align: middle;
          border: 0;
        }
        .gcsc_Queary {
          font-weight: 600;
        }
      }
    }

    .not-found {
      text-align: center;
      margin-top: 30px;
      a{
        color:#C41240;
        &:hover{
          color:#00b7c6;
        }
      }
    }
  }
}