.side-notifictaion-btn {
  //position: absolute;
  //top: 50%;
  //right: -406px;
  //min-height: 280px;
  //transform: translateY(-50%);
  //transition: 0.5s right ease-in-out;
  //z-index: 1;
  position: absolute;
  top: 5%;
  right: -418px;
  min-height: 280px;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.5s right ease-in-out;
  -o-transition: 0.5s right ease-in-out;
  transition: 0.5s right ease-in-out;
  z-index: 90;
  max-width: 422px;
  &.active {
    right: 0!important;
  }
  &:hover {
    right: 0!important;
  }
  @include desktop-down {
    display: none;
  }
  .intro {
    background-image: linear-gradient(to bottom, #0086a1, #004c6c);
    transform: rotate(90deg);
    position: absolute;
    left: -37.4%;
    bottom: 42.5%;
    width: 282px;
    z-index: 2;
    cursor: pointer;
    h6 {
      color: $white;
      cursor: pointer;
      text-align: center;
      padding: 7px 0;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.56;
      letter-spacing: 0.06em;

    }
  }
  .top-img {
    max-width: 422px;
    height: 145px;
    position:relative;
    a{
      position: relative;
      height: 100%;
      width: 100%;
      top:0;
      left: 0;
      
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .text-block {
    background-color: $white;
    padding: 19px 29px 17px;
    h5 {
      padding-bottom: 0;
      font-weight: bold;
      line-height: 1.35;
      letter-spacing: normal;
      -webkit-line-clamp: 1;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: auto;

    }
    p {
      padding: 5px 0 5px;
      line-height: 1.57;
      letter-spacing: normal;
      font-size: 14px;
      -webkit-line-clamp: 1;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: auto;
    }
    .learn-more {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.25;
      letter-spacing: normal;
      margin-top: 11px;
      &:after {
        top: 6px;
      }
    }
  }
}