.slider-with-dates {
  position: relative;
  z-index: 1;
  @include container-up {
    padding: 100px 0 38px;
  }
  .bg-img {
    position: absolute;
    left: 0;
    top: 7.7%;
    width: 100%;
    height: 83.5%;
    background-image: linear-gradient(116deg, #0a0a0a, rgb(75, 75, 75));
    @include desktop-down {
      top: 0;
      height: 100%;
    }
  }
  .pattern-animation {
    position: absolute;
    width: 308px;
    height: 316px;
    z-index: 0;
    left: -2.4%;
    bottom: 17.3%;
    @media screen and (min-width: 992px) and (max-width: 1240px) {
      right: 1%;
    }
    img, svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @include desktop-down {
      display: none;
    }
  }

  .left-slider-block {
    width: 82.8%;
    float: left;
    opacity: 0;
    position: relative;
    @include desktop-down {
      width: 100%;
    }
    @include container-up {
      top: -150px;
    }
    @include desktop-up {
      position: relative;
      float: left;
      top: -151px;
      height: 550px;
      overflow: hidden;
    }

    .items {
      position: relative;
      float: left;
      box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.05);
      margin: 0 0 3px 0;
      border: none !important;
      min-height: auto;
      outline: none;
      @include tablet-down {
        //max-height: 734px;
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-image: -webkit-linear-gradient(359deg, #0086a1 0%, #00b7c6 100%);
        background-image: -o-linear-gradient(359deg, #0086a1 0%, #00b7c6 100%);
        background-image: linear-gradient(91deg, #0086a1 0%, #00b7c6 100%);
        opacity: 0;
        visibility: hidden;
        transition: 0.3s all ease-in-out;
      }
      &.slick-active {
        &:after {
          opacity: 1;
          visibility: visible;
        }
      }
      .top-border {
        content: "";
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        height: 3px;
        z-index: 1;
        background: #074d6b;
        background: -moz-linear-gradient(top, #074d6b 0%, #12859e 100%);
        background: -webkit-linear-gradient(top, #074d6b 0%, #12859e 100%);
        background: linear-gradient(to bottom, #074d6b 0%, #12859e 100%);

      }
      .media-block {
        width: 54.8%;
        //@include container-up {
        //  width: calc(42% - 0px);
        //}
        @include desktop-up {
          min-height: 554px;
        }
        @include tablet {
          width: 50%;
        }
        @include tablet-down {
          min-height: 100%;
          width: 100%;
        }
        .img-wrapper {
          position: relative;
          max-width: 100%;
          overflow: hidden;
          height: 100%;
          @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
            min-height: 554px;

          }
          @include tablet {
            max-width: 100%;
            //padding-right: 20px;
          }
          @include tablet-down {
            height: 350px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .content-block {
        text-align: left;
        width: 45.2%;
        padding: 59px 31px 0 39px;
        background-color: $white;
        @include desktop-up {
          min-height: 554px;
        }
        @include container-down {
          padding-left: 50px;
        }
        @include desktop-down {
          padding: 29px 31px 0 39px;
        }
        @include desktop {
          padding-left: 30px;
        }
        @include tablet {
          width: 50%;
          padding: 48px 12px 0 15px;
          max-width: 100%;
          text-align: center;
        }
        @include tablet-down {
          width: 100%;
          padding: 20px;
        }
        .text-block {
          height: 332px;
          overflow-y: auto;
          padding-bottom: 45px;
          display: block;
          padding-right: 10px;
          @include large_desktop {
            height: 282px;
            padding-bottom: 35px;
          }
          @include desktop-mid {
            height: 242px;
            padding-bottom: 35px;
          }
          @include desktop-down {
            height: 290px;
            padding-bottom: 35px;
          }
          @include tablet {
            height: 262px;
            margin-top: 20px;

          }
          @include tablet-down {
            height: 220px;
          }
          /* width */
          &::-webkit-scrollbar {
            width: 4px;
            height: 30px;
          }

          /* Track */
          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px $gray;
            border-radius: 10px;
          }

          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: $black;
            border-radius: 10px;
          }
        }
        h6 {
          font-size: 14px;
          font-weight: 500;
          font-family: $font-families-gotham;
          line-height: 1.57;
          letter-spacing: 0.28px;
          text-align: left;
          margin-bottom: 6px;
        }
        h2 {
          font-weight: bold;
          line-height: 1.21;
          letter-spacing: 0.45px;
          text-align: left;
          margin-bottom: 31px;
          -webkit-line-clamp: 2;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          height: 107px;
          @include desktop-down {
            height: 57px;
          }
          @include tablet-down {
            height: auto;
          }
          @include tablet {
            font-size: 24px;
          }
          //@include desktop-down {
          //  max-width: 100%;
          //  text-align: left;
          //}
          @include tablet {
            max-width: 100%;
            margin-bottom: 11px;
          }
        }
        p {
          font-size: 16px;
          font-family: $font-families-gotham;
          font-style: normal;
          line-height: 1.75;
          letter-spacing: 0.16px;
          text-align: left;
          padding: 0px 0px 28px 0px;
          @include large_desktop {
            padding: 0px 0px 0 0;
          }
          @include desktop {
            margin: 15px 0;
          }
          @include desktop-down {
            margin: 15px 0;
            padding: 0 0 0;
          }
          @include tablet {
            padding: 0;
            margin: 15px 0 0;
            font-size: 14px;
          }
        }
        ul {
          li {
            margin-top: 0;
          }
        }
        .author-box {
          margin: 23px 0;
          h6 {
            margin: 2px 0 1px;
            letter-spacing: normal;
            font-family: $font-families-gotham;
            @include tablet-down {
              text-align: center;
            }
          }
          p {
            font-size: 18px;
            margin: 0;
            letter-spacing: normal;
            font-weight: normal;
          }
        }
      }
    }
  }
  .right-slider-block {
    width: 17%;
    float: left;
    @include desktop-down {
      width: 100%;
    }
    .button-wrap {
      position: absolute;
      width: 24px;
      height: 100%;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      @include desktop-down {
        width: 100%;
        height: 24px;
        justify-content: center;
        align-items: center;
        bottom: 4px;
        top: auto;
      }
      @include desktop-up {
        top: 0;
        &:after {
          content: "";
          position: absolute;
          top: 45px;
          right: 19.9px;
          width: 1px;
          height: 56%;
          background: white;
          opacity: 0.25;
        }
        &:before {
          content: "";
          position: absolute;
          bottom: 36%;
          right: 19px;
          background: white;
          height: 4px;
          width: 4px;
        }
      }
      .square-box {
        display: none;
        position: relative;
        @include desktop-up {
          display: block;
          position: absolute;
          top: 38px;
          right: 13px;
          transform: translateY(-50%);
          width: 15px;
          height: 15px;
          background-image: linear-gradient(135deg, rgb(0, 183, 198), rgb(0, 134, 161));
          overflow: visible;
          &:before {
            content: "";
            position: absolute;
            top: 7px;
            left: -19px;
            width: 19px;
            height: 1px;
            background-image: linear-gradient(135deg, rgb(0, 183, 198), rgb(0, 134, 161));
          }
        }
      }
      .pre-btn {
        background: url(/themes/rms/templates/dist/images/arrow-white.svg) no-repeat;
        background-size: 13px;
        transform: rotate(180deg);
        z-index: 1;
        display: inline-block;
        width: 30px;
        height: 30px;
        position: relative;
        right: 2px;
        top: -50%;
        cursor: pointer;
        vertical-align: top;
        @include desktop-down {
          transform: rotate(90deg);
          bottom: 0;
          top: auto;
          left: 23%;
          position: absolute;
          width: 14px;
        }
        &.slick-disabled {
          opacity: 0.3;
          cursor: auto;
        }

      }
      .next-btn {
        background: url(/themes/rms/templates/dist/images/arrow-white.svg) no-repeat;
        background-size: 13px;
        z-index: 1;
        display: inline-block;
        vertical-align: top;
        width: 30px;
        height: 30px;
        position: relative;
        right: 16px;
        bottom: -109px;
        cursor: pointer;
        @include desktop-down {
          transform: rotate(-90deg);
          bottom: 0;
          top: auto;
          right: 23%;
          position: absolute;
          width: 14px;
        }
        &.slick-disabled {
          opacity: 0.3;
          cursor: auto;
        }
      }
    }
    .years-block {
      display: block;
      opacity: 0;
      position: relative;
      @include desktop-down {
        max-width: 360px;
        margin: 40px auto 0;
      }
      @include tablet {
        max-width: 90px;
      }
      @include tablet-down {
        max-width: 80px;
      }
      //@include desktop-up {
      //  &:after {
      //    content: "";
      //    position: absolute;
      //    bottom: -2px;
      //    right: 27px;
      //    width: 119px;
      //    height: 45px;
      //    opacity: 0.9;
      //    background-image: linear-gradient(to bottom, rgba(61, 61, 61, 0) -20%, #424242 78%, #414141);
      //  }
      //}
      .slick-list {
        @include desktop-up {
          padding: 3px 0 315px !important;
        }
        @include desktop-down {
          &.draggable {
            padding: 2px 0 !important;

          }
        }

      }
      .item-year {
        display: block;
        outline: none;
        position: relative;
        @include container-up {
          padding: 0 28px 39px 25px !important;
        }
        @include desktop-up {
          padding: 0 28px 39px 0;
        }
        @include desktop-down {
          margin-right: 20px;
        }
        h2 {
          font-weight: bold;
          line-height: 1;
          letter-spacing: 0.45px;
          opacity: 0.25;
          text-align: right;
          color: $white;
          transition: 0.5s all ease-in-out;
          cursor: pointer;
        }
        &.slick-active, &.slick-current {
          @include desktop-up {
            padding-bottom: 31px !important;
          }
          h2 {
            opacity: 1;
            font-weight: 800;
            @include desktop-mid {
              font-size: 50px;
            }
            @include desktop-up {
              font-size: 56px;
              font-weight: bold;
              line-height: 1.18;
              letter-spacing: 0.56px;
              font-family: $font-families-InterB;
            }
            @include desktop-down {
              transform: scale(1.3);
            }
            @include desktop-down {
              transform: scale(1);
            }
          }

        }
      }
    }
  }
}