.statistic-slider {
  &.stats {
    .items {
      .item-box {
        h4 {
          font-family: $font-inter-regular;
          letter-spacing: normal;
          color: $black;
          margin-left: 20px;
          @include tablet-down {
            font-size: 21px;
            margin-left: 5px;
          }
          strong {
            //font-size: 45px;
            font-size: 28px;
            font-weight: 600;
            line-height: 1.16;
            letter-spacing: 0.45px;
            color: $light-green;
            font-family: $font-families-Inter;
            margin-bottom: 1px;
            //@include desktop {
            //  font-size: 40px;
            //}
            //@include tablet {
            //  font-size: 34px;
            //}
            //@include tablet-down {
            //  font-size: 34px;
            //}
            @include desktop {
              font-size: 26px;
            }
            @include tablet {
              font-size: 24px;
            }
            @include phablet {
              font-size: 22px;
            }
            @include phablet-down {
              font-size: 20px;
            }

          }
        }
      }
    }
  }
  padding: 0 0 77px;
  @include desktop {
    padding: 80px 0;
  }
  @include tablet {
    padding: 30px 0;
  }
  @include tablet-down {
    padding: 0 0 40px;
  }
  &.no-dots {
    .slick-dots {
      display: none;
    }
  }
  .items {
    text-align: center;
    font-size: 0;
    opacity: 0;
    &:after {
      display: block;
      content: '';
      clear: both;
    }
    .item-box {
      position: relative;
      float: left;
      vertical-align: top;
      width: 33.33%;
      padding: 22px 30px 1px;
      outline: none;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 239px;
        background: $primary2;
        @include phablet-down {
          display: none;
        }
      }
      h5{
        font-weight:normal;
      }
      h4 {
        font-family:$font-inter-regular;
        margin-left: 20px;
        @include tablet-down {
          margin-left: 5px;
        }
        span, strong {
          font-size: 45px;
          font-weight: 600;
          line-height: 1.16;
          letter-spacing: 0.45px;
          color: $light-green;
          font-family: $font-families-Inter;
          margin-bottom: 1px;
          @include desktop {
            font-size: 40px;
          }
          @include tablet {
            font-size: 34px;
          }
          @include tablet-down {
            font-size: 34px;
          }
        }
      }
      h3 {
        font-family: $font-inter-regular;
        text-align: center;
        color: $black;
        font-weight: 600;
        line-height: 1.4;
        letter-spacing: normal;
      }
      //&.slick-active{
      //  &:first-child{
      //    &:after{
      //      display:none;
      //    }
      //  }
      //
      //}

    }
    .slick-current {
      &:after {
        display: none !important;
      }
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -41px;
    left: 7px;
    z-index: 1;
    text-align: center;
    @include container-down{
      bottom: -25px;
      left: 0;
    }
    @include phablet-down {
      bottom: -21px;
    }
    li {
      display: inline-block;
      position: relative;
      width: 6px;
      height: 6px;
      margin: 0 2.5px;
      padding: 0;
      &:before {
        display: none;
      }
      button {
        outline: none;
        width: 6px;
        height: 6px;
        background: $light-green;
        opacity: 0.5;
        text-indent: 999999px;
        border-radius: 50%;
        cursor: pointer;
      }
      &.slick-active {
        button {
          background: $light-green;
          opacity: 1;
        }
      }
    }
  }
  &.about-us {
    padding: 70px 0 161px;
  }
  &.career-slider {
    padding: 70px 0 75px;
    @include desktop-down {
      padding-top: 0;
    }
    @include tablet-down {
      padding-bottom: 60px;
    }
    @include phablet-down {
      padding-bottom: 30px;
    }
    .slick-dots {
      @include container-up {
        bottom: -55px;
      }
    }
  }

  &.box-two {
    &.one-item {
      .slick-track {
        width: 100% !important;
      }
      .items {
        .item-box {
          width: 100% !important;
          margin: 0 auto;
          padding: 15px 0 0;
          @include tablet-down {
            max-width: 100%;
          }
        }
      }
      .slick-dots {
        display: none !important;
      }
    }
    &.two-item {
      .slick-dots {
        display: none !important;
        @include phablet-down {
          display: flex !important;
        }
      }
      .items {
        width: calc(100% + 9px);
        margin-left: -3px;
        @include container-down {
          width: 100%;
          margin-left: -0px;
        }
        .slick-track {
          @include desktop-up {
            width: 100% !important;
          }
        }
        .item-box {
          margin: 0 auto;
          @include desktop-up {
            width: 50% !important;
          }
          @include desktop {
            width: 50% !important;
          }
          @include tablet {
            width: 50% !important;
          }
          @include phablet {
            width: 50% !important;
          }
          &:nth-child(2) {
            &:after {
              @include container-up {
                left: 7px;
              }
            }
          }
        }
      }
    }
    .items {
      text-align: center;
      font-size: 0;
      opacity: 0;
      &:after {
        display: block;
        content: '';
        clear: both;
      }
      .item-box {
        position: relative;
        float: left;
        vertical-align: top;
        width: 50%;
        margin: 0 auto;
        padding: 20px 25px 0px;
        outline: none;
        @include tablet-down {
          padding: 15px 18px 0px;
        }
      }

    }
    .slick-dots {
      left: 0;
    }
  }
}

