.intro-box {
  text-align: center;
  max-width: 799px;
  margin: 0 auto ;
  h2 {
    margin-bottom: 32px;
    margin-top: 7px;
    font-weight: 600;
    letter-spacing: 0.015em;
    word-spacing: 0.1em;
    &.green-border {
      &:after {
        bottom: -14px;
      }
    }
  }
  p {
    margin: 20px 0;
    @include tablet-down{
      margin: 15px 0;
    }
  }
  .button-box {
    margin: 35px 0;
    @include tablet-down {
      margin: 20px 0;
    }
    @include phablet-down {
      margin: 15px 0;
    }
  }
}
.top-border {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(489deg, #0086a1 0%, #004c6c 100%);
  background-image: -webkit-linear-gradient(489deg, rgb(0, 134, 161) 0%, rgb(0, 76, 108) 100%);
  visibility: visible !important;
}
.tabs-with-detail{
  @include container-up {
    padding-top: 81px;
  }

  .intro-box {
    max-width: 900px;
    h2 {
      word-spacing: normal;
      font-weight: bold;
      letter-spacing: 0.45px;
      margin-bottom: 31px;
      @include tablet-down {
        margin-bottom: 20px;
        margin-top: 0;
      }
      &.green-border {
        &:after {
          bottom: -10px;
        }
      }
    }

  }
  .column-wrapper {
    //margin-top: 31px;
    button {
      display: none;
      position: relative;
      cursor: pointer;
      @include tablet-down {
        display: block;
        background: linear-gradient(489deg, #00b7c6 0%, #0086a1 100%);
        background-image: -webkit-linear-gradient(489deg, rgb(0, 183, 198) 0%, rgb(0, 134, 161) 100%);
        width: 100%;
        font-size: 16px;
        padding: 10px;
        outline: none;
        border: 1px solid $white;
        border-radius: 5px;
        cursor: pointer;
        color: $white;
      }
      &.open {
    //    //position: relative;
        &:after {
          background-image: url("/themes/rms/templates/dist/images/svg/next-arrow.svg");
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 15px;
          margin: auto;
          width: 20px;
          height: 20px;
          background-size: 100%;
          transform: rotate(90deg);
          background-repeat: no-repeat;
          transition: all 0.3s ease-in-out;
        }
      }
      &.active{
        &:after{
          transform: rotate(-90deg);
        }
      }

      span {
        display: none;
        @include tablet-down {
          display: block;
          font-family: $font-families-nunito;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }

    ul.tabs {
      margin: 0 auto 0;
      padding: 0;
      list-style: none;
      max-width: 1000px;
      text-align: center;
      border-bottom: 1px solid $hex-gray;
      overflow:visible ;
      @include desktop-up{

      }

      @include desktop-down {
        max-width: 100%;
        margin: 0 auto;
      }
      @include tablet-down {
        max-width: 100%;
        margin: 0 auto;
        display: none;
      }

      li {
        background: none;
        color: $black;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.35;
        letter-spacing: normal;
        text-align: left;
        display: inline-block;
        //padding: 25px 20px 24px;
        padding: 25px 20px 23px;
        margin: 0px 30px;
        cursor: pointer;
        position: relative;
        font-family: $font-families-nunito;
        min-width: 104px;
        @include desktop-down {
          margin: 0px 10px;
          padding: 18px 10px;
          font-size: 18px;
        }
        @include tablet-down {
          display: block;
          margin: 0 auto;
          padding: 12px 0;
          text-align: center;
          font-size: 16px;
        }
        &:before {
          display: none;
        }
        &:after {
          content: "";
          position: absolute;
          left: 50%;
          right: 50%;
          bottom: 0px;
          background: #1387a0; /* Old browsers */
          background: -moz-linear-gradient(top,  #1387a0 0%, #1db3c2 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  #1387a0 0%,#1db3c2 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  #1387a0 0%,#1db3c2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1387a0', endColorstr='#1db3c2',GradientType=0 ); /* IE6-9 */

          width: 0;
          height: 4px;
          transition: all 0.6s ease-in-out;

        }
        &:hover{
          @include tablet-down{
            background: #1387a0; /* Old browsers */
            background: -moz-linear-gradient(top,  #1387a0 0%, #1db3c2 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  #1387a0 0%,#1db3c2 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  #1387a0 0%,#1db3c2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1387a0', endColorstr='#1db3c2',GradientType=0 );
            color: $white;
          }

        }
      }
      li.current {
        @include desktop-up {
          font-weight: bold;
          text-align: center;
        }
        @include tablet {
          font-weight: bold;
        }
        @include  tablet-down{
          display: none;
        }
        &:after {
          left: 0;
          right: 0;
          bottom: -1px;
          width: 93%;
          margin: 0 auto;
          @include tablet-down {
            display: none;
          }
        }
      }
    }
    .tab-content {
      display: none;
    }
    .tab-content.current {
      display: flex !important;
      @include tablet-down {
        display: block !important;
      }
      h4{
        color: $dark-green;
        font-weight: bold;
        @include tablet-down{
          text-align: center;
        }
      }

      p {
        margin-top: 14px;
      }
      .button-box {
        margin-top: 28px;
        @include tablet-down {
          margin-top: 20px;
        }
      }
      &.text-with-image {
        margin-top: 64px;
        width: 100%;
        float: none;
        align-items: center;
        @include desktop-down {
          margin-top: 45px;
        }
        @include tablet-down {
          margin-top: 20px;
          text-align: center;
        }

        .text-content {
          width: 66%;
          float: none;
          padding-right: 136px;
          @include container-up {
            padding-left: 4px;
            padding-bottom: 11px;
          }
          @include container-down {
            padding-right: 90px;
          }
          @include desktop-down {
            padding-right: 20px;
          }
          @include tablet-down {
            width: 100%;
            float: none;
            padding-right:0;
          }
        }

        .bg-img {
          width: 34%;
          float: none;
          @include tablet-down {
            width: 100%;
            float: none;
            max-width: 350px;
            margin: 18px auto 0;
          }
          @include phablet-down {
            max-width: 100%;
          }
          .img-wrapper {
            position: relative;
            height: 387px;
            max-width: 100%;
            overflow: hidden;
            @include container-up{
              margin-left: 4px;
            }
            @include tablet-down{
              height: 320px;
            }
          }
        }
      }
      }
    }
  }

.solution-page-list-model{
  @include container-up{
    padding-bottom: 2px;
    padding-top: 87px;
  }
  @include container-down{
    padding-bottom: 0;
  }
}