.gobal-padding {
  padding-top: 0;
  @include desktop-down {
    padding-top: 40px;
  }
  @include phablet-down {
    padding-top: 30px;
  }
}

.full-intro {
  padding-top: 50px;
}

.full-width-intro {
  text-align: center;
  margin: 0 auto;
  @include desktop-up {
    max-width: 1000px;
  }
  h2 {
    margin-bottom: 30px;
    font-weight: bold;
    letter-spacing: 0.01em;
    word-spacing: 0.0em;
    margin-top: 4px;
    @include phablet-down {
      margin-bottom: 12px;
    }
  }
  p {
    margin: 20px 0;
    @include desktop-up {
      max-width: 800px;
      margin: auto;
    }
  }
  .button-box {
    margin: 34px 0 35px;
    @include tablet-down {
      margin: 20px 0;
    }
    @include phablet-down {
      margin: 15px 0;
    }
  }
}

.three-col-image {
  @include desktop-up {
    padding: 55px 0 47px;
  }
  &.col-service {
    @include desktop-up {
      padding-bottom: 0;
    }
  }
  .intro-box {
    h2 {
      @include container-up {
        margin-bottom: 39px;
      }
    }
  }

  .three-col-wrap {
    justify-content: center;
    @include container-up {
      text-align: center;
      font-size: 0;
      width: calc(100% + 98px);
      margin-left: -49px;
      margin-right: 0;
    }
    .content-column {
      text-align: center;
      position: relative;
      margin: 20px 0;
      @include container-up {
        text-align: center;
        display: inline-block;
        vertical-align: top;
        width: calc(33.33% - 50px);
        border-radius: 0;
        border: 0;
        margin: 26px 11px;
        flex: none;
        padding: 0 10px;
        max-width: 100%;
      }
      @include desktop {
        padding: 0 20px;
      }
      @include phablet-down {
        margin: 10px 0;
      }

      .image {
        margin-bottom: 30px;
      }
      .text-wrap {
        padding: 0 13px;
        h4{
          font-weight: bold;
          line-height: 1.37;
          letter-spacing: normal;
          color: $dark-green;
          text-align: center;
          margin-bottom: 12px;
        }
        p {
          line-height: 1.75;
          letter-spacing: normal;
          font-weight: normal;
        }
      }
    }
  }
}
