.two-col-with-form {
  z-index: 9;
  @include desktop-up {
    padding-top: 57px;
    padding-bottom: 83px;
  }
  .gated {
    .form-box {
      float: right;
      .column-wrap {
        form {

          .mktoFormRow {
            &:nth-child(8) {
              .mktoFieldDescriptor {
                @include desktop-up {
                  margin-top: 13px;
                }
                .mktoRequiredField {
                  position: relative;
                  label {
                    display: block !important;
                    position: relative;
                    padding-left: 35px;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: 500;
                    text-align: left;
                    color: $black;
                    line-height: 1.27;
                    letter-spacing: 0.16px;
                    font-family: $font-families-InterM;
                    margin-bottom: 19px;
                    width: 100% !important;
                    padding-top: 0;
                    @include tablet-down {
                      font-size: 14px;
                      padding-left: 26px;
                      margin-bottom: 0;
                    }

                  }
                  .mktoRequired {
                    border: none;
                    width: auto !important;
                    padding: 0;
                    position: absolute;
                    input[type=checkbox] {
                      visibility: hidden !important;
                      width: auto !important;
                      padding: 0;
                      height: auto;
                    }
                    input {
                      &:checked {
                        ~ {
                          label {
                            background-image: linear-gradient(135deg, #004c6c, #0086a1);
                            border: $light-green solid 1px;
                            transition: all 0.3s ease-in-out;
                            &:before {
                              display: block;
                            }
                          }
                        }
                      }
                    }

                    label {
                      padding-left: 0;
                      position: relative;
                      height: 20px;
                      width: 20px !important;
                      background: $white;
                      border: $gray solid 1px;
                      clear: both;
                      overflow: hidden;
                      margin: 0 auto;
                      @include tablet-down {
                        height: 17px;
                        width: 17px !important;
                      }
                      &:before {
                        content: "";
                        position: absolute;
                        left: 1px;
                        right: 0;
                        bottom: 0;
                        top: 1px;
                        margin: 0 auto;
                        width: 6px;
                        height: 13px;
                        border: solid $white;
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                        box-shadow: none;
                        background-color: transparent;
                        @include tablet-down {
                          //left: 6px;
                          //bottom: 3px;
                          width: 5px;
                          height: 10px;
                        }
                      }
                      &:after {
                        content: "";
                        position: absolute;
                        display: none;
                      }
                    }
                  }

                }
              }
            }
          }
        }
      }
    }
  }
  ul {
    padding-left: 40px;
    @include tablet-down {
      padding-left: 20px;
    }
    @include phablet-down {
      padding-left: 0;
    }

    li {
      position: relative;
      strong {
        color: $black;
        font-weight: 500;
      }
      &:after {
        content: '';
        position: absolute;
        top: 14px;
        left: 0;
        width: 5px;
        height: 5px;
        background: $black;
      }
      strong {
        font-weight: 500;
      }
    }
  }
  .column-wrapper {
    width: 100%;
    float: left;
    .content-with-heading {
      max-width: 100%;
      padding-right: 50px;
      width: 65%;
      @include container-up {
        padding-right: 90px;
        //padding-right: 135px;
      }
      @include desktop-down {
        padding-right: 0;
        width: 100%;
        float: none;
      }
      h2 {
        font-family: $font-inter-regular;
        font-weight: bold;
      }
      p {
        margin-bottom: 13px;
        line-height: 1.88;
        letter-spacing: 0.038em;
        //font-family: $font-inter-regular;
        font-family: $font-families-gotham;
        font-weight: 400;
        @include container-up {
          padding-right: 19px;
        }
      }

      .media-wrap {
        position: relative;
        margin-top: 66px;
        a {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          z-index: 1;
          background: url("/themes/rms/templates/dist/images/play_btn.svg") no-repeat;
          background-position: 50%;
        }
      }
    }

    .form-box {
      width: 35%;
      @include desktop-down {
        padding-right: 0;
        width: 100%;
        float: none;
      }
      .column-wrap {
        position: relative;
        max-width: 405px;
        min-height: 560px;
        box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.08);
        background-color: $white;
        padding: 41px 48px 46px;
        margin-left: auto;
        margin-top: -181px;
        &.form-submit {
          min-height: auto;
          margin-top: 0 !important;
          padding: 40px !important;
          @include desktop-down {
            margin-top: 20px !important;
            margin-bottom: 20px
          }
          @include tablet-down {
            padding: 25px !important;
          }
          @include phone-down {
            padding: 20px !important;
          }
          h3 {
            letter-spacing: -0.67px;
            text-align: left;
          }
        }

        @include container-down {
          padding: 30px;
        }
        @include desktop-down {
          margin-left: 0px;
          margin: 30px auto 0;
        }
        @include tablet-down {
          padding: 25px;
          min-height: auto;
        }
        @include phone-down {
          padding: 25px 10px;
        }
        .title {
          position: relative;
          @include tablet-down {
            margin-bottom: 32px;
          }
          h2 {
            font-family: $font-families-gotham;
            font-size: 28px;
            font-weight: 600;
            line-height: 1.16;
            letter-spacing: normal;
            text-align: left;
            margin-bottom: 6px;
            @include desktop-down {
              margin-bottom: 30px;
            }
            @include phone-down {
              margin-bottom: 25px;
            }
          }
          p {
            //font-family: $font-inter-regular;
            font-family: $font-families-gotham;
            font-size: 12px;
            //font-weight: bold;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.014em;
            padding-right: 9px;
          }
          &:after {
            content: '';
            position: absolute;
            bottom: -13.1px;
            background: #00b7c6;
            width: 81px;
            height: 2px;
            left: 0;
            right: auto;
            @include desktop-up {
              bottom: -16px;
            }
          }
        }
        form {
          width: 100% !important;
          margin: 38px 0 0 0;
          padding: 0;
          //float: left;
          @include desktop-down {
            margin: 25px 0px 0 0px;
          }
          @include phone-down {
            margin: 15px 0px 0 0px;
          }
          &#mktoForm_1624 {
            .mktoFormRow {
              &:nth-child(11) {
                .mktoFieldDescriptor {
                  @include desktop-up {
                    margin-top: 13px;
                  }
                  .mktoRequiredField {
                    position: relative;
                    label {
                      display: block !important;
                      position: relative;
                      padding-left: 35px;
                      cursor: pointer;
                      font-size: 16px;
                      font-weight: 500;
                      text-align: left;
                      color: $black;
                      line-height: 1.27;
                      letter-spacing: 0.16px;
                      font-family: $font-families-InterM;
                      margin-bottom: 19px;
                      width: 100% !important;
                      padding-top: 0;
                      a {
                        color: $wine-red;
                        //padding: 0 !important;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                          color: $green;
                        }
                      }
                      @include tablet-down {
                        font-size: 14px;
                        padding-left: 26px;
                        margin-bottom: 0;
                      }
                      .mktoAsterix {
                        display: none;
                      }
                    }
                    .mktoRequired {
                      border: none;
                      width: auto !important;
                      padding: 0;
                      position: absolute;
                      input[type=checkbox] {
                        visibility: hidden !important;
                        width: auto !important;
                        padding: 0;
                        height: auto;
                      }
                      input {
                        &:checked {
                          ~ {
                            label {
                              background-image: linear-gradient(135deg, #004c6c, #0086a1);
                              border: $light-green solid 1px;
                              transition: all 0.3s ease-in-out;
                              &:before {
                                display: block;
                              }
                            }
                          }
                        }
                      }

                      label {
                        padding-left: 0;
                        position: relative;
                        height: 20px;
                        width: 20px !important;
                        background: $white;
                        border: $gray solid 1px;
                        clear: both;
                        overflow: hidden;
                        margin: 0 auto;
                        @include tablet-down {
                          height: 17px;
                          width: 17px !important;
                        }
                        &:before {
                          content: "";
                          position: absolute;
                          left: 1px;
                          right: 0;
                          bottom: 0;
                          top: 1px;
                          margin: 0 auto;
                          width: 6px;
                          height: 13px;
                          border: solid $white;
                          border-width: 0 2px 2px 0;
                          transform: rotate(45deg);
                          box-shadow: none;
                          background-color: transparent;
                          @include tablet-down {
                            //left: 6px;
                            //bottom: 3px;
                            width: 5px;
                            height: 10px;
                          }
                        }
                        &:after {
                          content: "";
                          position: absolute;
                          display: none;
                        }
                      }
                    }

                  }
                }
              }
            }
            .mktoFormRow {
              &:nth-child(8), &:nth-child(9), &:nth-child(10) {
                .mktoFieldDescriptor {
                  .mktoRequiredField {
                    .mktoLabel.mktoHasWidth {
                      display: block;
                      width: auto !important;
                      margin-bottom: 5px;
                    }
                  }
                }
              }
            }
          }
          &#mktoForm_1468{
            .mktoFormRow {
              &:nth-child(8) {
                .mktoFieldDescriptor {
                  .mktoRequiredField {
                    .mktoLabel.mktoHasWidth {
                      display: block;
                      width: auto !important;
                      margin-bottom: 5px;
                    }
                  }
                }
              }
            }

          }
          &#mktoForm_1280, &#mktoForm_1594 {
            .mktoFormRow {
              &:nth-child(9) {
                .mktoFieldDescriptor {
                  @include desktop-up {
                    margin-top: 13px;
                  }
                  .mktoRequiredField {
                    position: relative;
                    label {
                      display: block !important;
                      position: relative;
                      padding-left: 35px;
                      cursor: pointer;
                      font-size: 16px;
                      font-weight: 500;
                      text-align: left;
                      color: $black;
                      line-height: 1.27;
                      letter-spacing: 0.16px;
                      font-family: $font-families-InterM;
                      margin-bottom: 19px;
                      width: 100% !important;
                      padding-top: 0;
                      @include tablet-down {
                        font-size: 14px;
                        padding-left: 26px;
                        margin-bottom: 0;
                      }
                      .mktoAsterix {
                        display: none;
                      }
                    }
                    .mktoRequired {
                      border: none;
                      width: auto !important;
                      padding: 0;
                      position: absolute;
                      input[type=checkbox] {
                        visibility: hidden !important;
                        width: auto !important;
                        padding: 0;
                        height: auto;
                      }
                      input {
                        &:checked {
                          ~ {
                            label {
                              background-image: linear-gradient(135deg, #004c6c, #0086a1);
                              border: $light-green solid 1px;
                              transition: all 0.3s ease-in-out;
                              &:before {
                                display: block;
                              }
                            }
                          }
                        }
                      }

                      label {
                        padding-left: 0;
                        position: relative;
                        height: 20px;
                        width: 20px !important;
                        background: $white;
                        border: $gray solid 1px;
                        clear: both;
                        overflow: hidden;
                        margin: 0 auto;
                        @include tablet-down {
                          height: 17px;
                          width: 17px !important;
                        }
                        &:before {
                          content: "";
                          position: absolute;
                          left: 1px;
                          right: 0;
                          bottom: 0;
                          top: 1px;
                          margin: 0 auto;
                          width: 6px;
                          height: 13px;
                          border: solid $white;
                          border-width: 0 2px 2px 0;
                          transform: rotate(45deg);
                          box-shadow: none;
                          background-color: transparent;
                          @include tablet-down {
                            //left: 6px;
                            //bottom: 3px;
                            width: 5px;
                            height: 10px;
                          }
                        }
                        &:after {
                          content: "";
                          position: absolute;
                          display: none;
                        }
                      }
                    }

                  }
                }
              }
            }
          }
          &#mktoForm_1622 {
            .mktoFormRow {
              &:nth-child(8) {
                .mktoFieldDescriptor {
                  @include desktop-up {
                    margin-top: 13px;
                  }
                  .mktoFieldWrap {
                    position: relative;
                    label {
                      display: block !important;
                      position: relative;
                      padding-left: 35px;
                      cursor: pointer;
                      font-size: 16px;
                      font-weight: 500;
                      text-align: left;
                      color: $black;
                      line-height: 1.27;
                      letter-spacing: 0.16px;
                      font-family: $font-families-InterM;
                      margin-bottom: 19px;
                      width: 100% !important;
                      padding-top: 0;
                      @include tablet-down {
                        font-size: 14px;
                        padding-left: 26px;
                        margin-bottom: 0;
                      }
                      a {
                        padding: 0;
                      }
                      .mktoAsterix {
                        display: none;
                      }
                    }
                    .mktoLogicalField {
                      border: none;
                      width: auto !important;
                      padding: 0;
                      position: absolute;
                      top: 0;
                      left: 0;
                      input[type=checkbox] {
                        visibility: hidden !important;
                        width: auto !important;
                        padding: 0;
                        height: auto;
                      }
                      input {
                        &:checked {
                          ~ {
                            label {
                              background-image: linear-gradient(135deg, #004c6c, #0086a1);
                              border: $light-green solid 1px;
                              transition: all 0.3s ease-in-out;
                              &:before {
                                display: block;
                              }
                            }
                          }
                        }
                      }

                      label {
                        padding-left: 0;
                        position: relative;
                        height: 20px;
                        width: 20px !important;
                        background: $white;
                        border: $gray solid 1px;
                        clear: both;
                        overflow: hidden;
                        margin: 0 auto;
                        @include tablet-down {
                          height: 17px;
                          width: 17px !important;
                        }
                        &:before {
                          content: "";
                          position: absolute;
                          left: 1px;
                          right: 0;
                          bottom: 0;
                          top: 1px;
                          margin: 0 auto;
                          width: 6px;
                          height: 13px;
                          border: solid $white;
                          border-width: 0 2px 2px 0;
                          transform: rotate(45deg);
                          box-shadow: none;
                          background-color: transparent;
                          @include tablet-down {
                            //left: 6px;
                            //bottom: 3px;
                            width: 5px;
                            height: 10px;
                          }
                        }
                        &:after {
                          content: "";
                          position: absolute;
                          display: none;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          &#mktoForm_1600 {
            .mktoFormRow {
              &:nth-child(7), &:nth-child(8) {
                .mktoFieldDescriptor {
                  @include desktop-up {
                    margin-top: 13px;
                  }
                  .mktoFieldWrap {
                    position: relative;
                    label {
                      display: block !important;
                      position: relative;
                      padding-left: 35px;
                      cursor: pointer;
                      font-size: 16px;
                      font-weight: 500;
                      text-align: left;
                      color: $black;
                      line-height: 1.27;
                      letter-spacing: 0.16px;
                      font-family: $font-families-InterM;
                      margin-bottom: 19px;
                      width: 100% !important;
                      padding-top: 0;
                      @include tablet-down {
                        font-size: 14px;
                        padding-left: 26px;
                        margin-bottom: 0;
                      }
                      a {
                        padding: 0;
                      }
                      .mktoAsterix {
                        display: none;
                      }
                    }
                    .mktoLogicalField {
                      border: none;
                      width: auto !important;
                      padding: 0;
                      position: absolute;
                      top: 0;
                      left: 0;
                      input[type=checkbox] {
                        visibility: hidden !important;
                        width: auto !important;
                        padding: 0;
                        height: auto;
                      }
                      input {
                        &:checked {
                          ~ {
                            label {
                              background-image: linear-gradient(135deg, #004c6c, #0086a1);
                              border: $light-green solid 1px;
                              transition: all 0.3s ease-in-out;
                              &:before {
                                display: block;
                              }
                            }
                          }
                        }
                      }

                      label {
                        padding-left: 0;
                        position: relative;
                        height: 20px;
                        width: 20px !important;
                        background: $white;
                        border: $gray solid 1px;
                        clear: both;
                        overflow: hidden;
                        margin: 0 auto;
                        @include tablet-down {
                          height: 17px;
                          width: 17px !important;
                        }
                        &:before {
                          content: "";
                          position: absolute;
                          left: 1px;
                          right: 0;
                          bottom: 0;
                          top: 1px;
                          margin: 0 auto;
                          width: 6px;
                          height: 13px;
                          border: solid $white;
                          border-width: 0 2px 2px 0;
                          transform: rotate(45deg);
                          box-shadow: none;
                          background-color: transparent;
                          @include tablet-down {
                            //left: 6px;
                            //bottom: 3px;
                            width: 5px;
                            height: 10px;
                          }
                        }
                        &:after {
                          content: "";
                          position: absolute;
                          display: none;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .mktoFormRow {
            width: 100%;
            position: relative;
            clear: both;
            .mktoFieldDescriptor {
              width: 100%;
              margin-bottom: 15px !important;
              min-height: auto;
              .mktoOffset {
                display: none;
              }
              .mktoFieldWrap {
                width: 100%;

                label {
                  font-family: $font-families-gotham;
                  display: none;
                  margin-top: 0;
                  padding-top: 0;
                  font-size: 14px;
                  font-weight: 400;
                  margin-bottom: 8px !important;

                  a {
                    color: $wine-red;
                    padding: 0;
                  }
                }

                label[for="Opt_In__c"] {
                  display: block;
                  max-width: 89.5% !important;
                  float: right;
                  //font-family: $font-inter-regular;
                  font-family: $font-families-gotham;
                  font-size: 11px;
                  //font-weight: bold;
                  font-weight: 400;
                  line-height: 1.4;
                  letter-spacing: 0.015em;
                  padding-right: 3px;

                  &::before {
                    content: "";
                    display: none;
                    position: absolute;
                    left: 1px;
                    right: 0;
                    bottom: 0;
                    top: 1px;
                    margin: 0 auto;
                    width: 6px;
                    height: 13px;
                    border: solid #ffffff;
                    border-width: 0 2px 2px 0;
                    -webkit-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    background-color: transparent;

                  }
                  .mktoAsterix {
                    display: none;
                  }
                }
                .mktoCheckboxList {
                  border: none;
                  width: 0 !important;

                  label {
                    position: absolute;
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    top: 1px;
                    left: 3px;
                    margin: 0;
                    border: 1px solid #aeb0b6;
                  }
                }

                input[type=checkbox]:checked + label {
                  background-image: linear-gradient(135deg, #004c6c, #0086a1);
                  border: none;
                }

                input[type=checkbox]:checked + label:before {
                  content: '';
                  display: block;
                }

                .mktoGutter {
                  display: none;
                }
                select {
                  cursor: pointer;
                  font-family: $font-families-gotham;
                  font-size: 15px;
                  background: $white url('/themes/rms/templates/dist/images/svg/dropdown_blck.svg') center right no-repeat;
                  background-size: 15px;
                  background-position-x: 92%;
                  line-height: 1.21;
                  letter-spacing: -0.03em;
                  color: #8e8e8e;
                  outline: none;
                  border: solid 1px #c7c7c7;
                  max-width: 100%;
                  width: 100% !important;
                  margin: 0;
                  box-sizing: border-box;
                  appearance: none;
                  box-shadow: none !important;
                  border-radius: 0;
                  height: 47px;
                  padding: 10px 15px 10px;
                  //color: rgba(0,0,0,0);
                  text-shadow: 0 0 0 #000;
                  @include tablet-down {
                    height: 40px;
                    padding: 10px 20px 10px 6px;
                    font-size: 14px;
                  }
                }

                input {
                  position: relative;
                  font-family: $font-families-gotham;
                  background-color: $white;
                  font-size: 15px;
                  font-weight: normal;
                  line-height: 1.21;
                  letter-spacing: -0.03em;
                  color: #8e8e8e;
                  outline: none;
                  border: solid 1px $primary7;
                  max-width: 100%;
                  width: 100% !important;
                  margin: 0;
                  box-sizing: border-box;
                  appearance: none;
                  //padding: 15px 60px 15px 36px;
                  box-shadow: none !important;
                  border-radius: 0;
                  height: 49px;
                  padding: 14px 15px 17px;
                  @include tablet-down {
                    height: 40px;
                    padding: 15px 20px 15px 6px;
                  }
                  &:focus {
                    transition: 0.3s all ease-in-out;
                    border: solid 2px $light-green;
                  }
                }
                input::placeholder, textarea::placeholder {
                  font-family: $font-families-gotham;
                  background-color: $white;
                  font-size: 15px;
                  font-weight: normal;
                  line-height: 1.21;
                  letter-spacing: -0.03em;
                  color: $black;
                  opacity: 0.5;
                  @include tablet-down {
                    font-size: 14px;
                  }
                }
                input[type=date]::-webkit-calendar-picker-indicator {
                  position: absolute;
                  right: 4%;
                  top: 8px;
                  width: 33px;
                  height: 26px;
                  color: transparent;
                  background: transparent;
                  z-index: 5;
                  cursor: pointer;
                }

                input[type=date]::after {
                  content: '';
                  position: absolute;
                  right: 4%;
                  top: 8px;
                  background-image: url(/themes/rms/templates/dist/images/calender_icon.png);
                  width: 33px;
                  height: 26px;
                  background-size: 100%;
                  z-index: 0;
                }
                textarea {
                  width: 100% !important;
                  height: 100px;
                  outline: none;
                  box-shadow: none;
                  border: solid 1px $primary7;
                  padding: 15px 20px 15px 19px;
                  font-size: 16px;
                  @include tablet-down {
                    padding: 10px 20px 10px 6px;
                    height: 60px;
                  }
                }
              }
            }

            //html page form style
            .cover-input {
              width: 100%;
              display: flex;
              margin-bottom: 16px;
              @include tablet-down {
                display: block;
                margin-bottom: 15px;
              }
              .left-input {
                width: calc(50% - 10px);

                margin-right: 10px;
                @include tablet-down {
                  width: calc(100%);
                  margin-right: 0;
                  margin-bottom: 15px;
                }
              }
              .right-input {
                width: calc(50% - 7px);
                margin-left: 7px;
                @include tablet-down {
                  width: calc(100%);
                  margin-left: 0;
                }
              }

              input {
                font-family: $font-families-gotham;
                background-color: $white;
                font-size: 16px;
                font-weight: normal;
                line-height: 1.21;
                letter-spacing: normal;
                color: $black;
                outline: none;
                border: solid 1px $primary7;
                max-width: 100%;
                width: 100%;
                margin: 0;
                box-sizing: border-box;
                appearance: none;
                //padding: 15px 60px 15px 36px;
                border-radius: 0;
                height: 54px;
                padding: 15px 20px 15px 19px;
                @include tablet-down {
                  height: 40px;
                  padding: 15px 20px 15px 6px;
                }
                &:focus {
                  transition: 0.3s all ease-in-out;
                  border: solid 2px $light-green;
                }
              }
              input::placeholder {
                font-family: $font-families-gotham;
                background-color: $white;
                font-size: 16px;
                font-weight: normal;
                line-height: 1.21;
                letter-spacing: normal;
                color: $black;
                opacity: 0.5;
              }

            }
            .check-box {
              width: 100%;
              margin: 29px 0 18px;
              @include desktop-down {
                margin: 20px 0;
              }
              @include phone-down {
                margin: 15px 0;
              }
              p {
                font-size: 14px;
                font-weight: normal;
                line-height: 1.57;
                letter-spacing: normal;
              }
              .main {
                position: relative;
                padding-left: 35px;
                cursor: pointer;
                font-size: 16px;
                text-align: left;
                color: $black;
                line-height: 1.27;
                letter-spacing: 0.16px;
                font-weight: 500;
                font-family: $font-families-Inter;
                margin-bottom: 19px;
                @include tablet-down {
                  padding-left: 25px;
                }
                &:hover {
                }
                input {
                  &:checked {
                    ~ {
                      .geekmark {
                        background-image: linear-gradient(135deg, #004c6c, #0086a1);
                        border: $light-green solid 1px;
                        transition: all 0.3s ease-in-out;
                        &:after {
                          display: block;
                        }
                      }
                    }
                  }
                }
                .geekmark {
                  &:after {
                    left: 7px;
                    bottom: 5px;
                    width: 6px;
                    height: 12px;
                    border: solid $white;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                    @include tablet-down {
                      left: 6px;
                      bottom: 3px;
                      width: 5px;
                      height: 10px;
                    }
                  }
                }
              }
              input[type=checkbox] {
                visibility: hidden;
              }
              .geekmark {
                position: absolute;
                top: 0px;
                left: 0;
                height: 20px;
                width: 20px;
                background: $white;
                border: $gray solid 1px;
                transition: all 0.3s ease-in-out;
                @include tablet-down {
                  top: 2px;
                  height: 17px;
                  width: 17px;
                }
                &:after {
                  content: "";
                  position: absolute;
                  display: none;
                }
              }
            }
            button {
              position: relative;
              min-width: 140px;
              margin: auto;
              outline: none;
              border: 0;
              cursor: pointer;
              background: $wine-red;
              color: $white;
              font-size: 14px;
              font-weight: 500;
              line-height: 1.43;
              letter-spacing: normal;
              font-family: $font-families-gotham;
              @include transition(all, 0.2s, ease-in-out);
              overflow: hidden;
              padding: 11px 27px 11px 30px;
              text-align: center;
              span {
                font-family: $font-families-gotham;
                position: relative;
                left: 0;
                transition: all 0.3s ease;
              }
              &:hover {
                background-color: $purple-red;
              }
            }
          }

          .mktoButtonRow {
            margin-top: 10px;
            .mktoButtonWrap {
              margin-left: 0 !important;
              button {
                position: relative;
                width: 100%;
                min-width: 140px;
                margin: auto;
                outline: none;
                border: 0;
                cursor: pointer;
                background: $wine-red;
                color: $white;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.43;
                letter-spacing: normal;
                text-shadow: none;
                border-radius: 0;
                box-shadow: none;
                font-family: $font-families-gotham;
                @include transition(all, 0.2s, ease-in-out);
                overflow: hidden;
                padding: 11px 27px 11px 27px;
                text-align: center;

                &:hover {
                  background-color: $purple-red;
                }
              }
            }
          }
        }
      }
    }
  }
  &.contact-us {
    @include desktop {
      padding: 80px 0;
    }
    @include tablet {
      padding: 80px 0;
    }
    @include tablet-down {
      padding: 60px 0;
    }
    @include phablet-down {
      padding: 40px 0;
    }
    @include phone-down {
      padding: 30px 0;
    }
  }

  &.e-response {
    @include desktop-up {
      padding-top: 56px;
    }
    .column-wrapper {
      .form-box {
        .column-wrap {
          @include desktop-up {
            margin-top: -368px;
          }
          form {
            .check-box {
              @include desktop-up {
                margin: 38px 0 36px;
              }
            }
            .button-box {
              .btn-red {
                @include desktop-up {
                  padding: 11px 42px 11px 44px;
                }
              }
            }
          }
        }
      }
    }
  }
}
