.violator-banner {
&.change-position{
  top:-56px;
}
  &.bg-black {
    background: $black;

  }
  &.bg-red {
    background: $wine-red;
  }
  &.bg-darkred {
    background: $darkred;
  }
  &.bg-darteal{
    background:$dark-green;
  }
  &.bg-green{
    background:$green10;
  }
  &.bg-darkgreen{
    background:$darkgreen;
  }


  &.bg-blue {
    background: $blue;
  }
  &.bg-yellow {
    background: $yellow;
    .content-wrap {
      p {
        color: $black;
      }
      .bold {
        color: $black;
      }
      .close-btn {
        &:before {
          background-color: $black;
        }
        &:after {
          background-color: $black;
        }

      }
    }
  }

  &.bg-chartreuse {
    background: $chartreuse;
    .content-wrap {
      p {
        color: $black;
      }
      .bold {
        color: $black;
      }
      .close-btn {
        &:before {
          background-color: $black;
        }
        &:after {
          background-color: $black;
        }

      }
    }
  }
  &.bg-teal {
    background: $green;
    .content-wrap {
      p {
        color: $black;
      }
      .bold {
        color: $black;
      }
      .close-btn {
        &:before {
          background-color: $black;
        }
        &:after {
          background-color: $black;
        }

      }
    }
  }

  position: fixed;
  top: 78px;
  left: 0;
  width: 100%;
  height: auto;
  overflow: auto;
  z-index: 9;
  display: none;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(489deg, rgb(0, 134, 161) 0%, rgb(0, 76, 108) 100%);
  @include desktop-down {
    top: 56px;
  }
  &.active {
    display: block;
  }
  .content-wrap {
    padding: 6px 0;
    @include desktop-up {
      max-width: 100%;
      margin: 0 auto;
    }
    max-width: 100%;
    margin: 0 auto;
    p {
      font-family: $font-families-gotham;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: center;
      color: $white;
      padding: 0 20px;
      a {
        display: inline-block;
        color: $white;
        font-weight: 500;
        @include container-up {
          padding-left: 5px;
        }
      }

    }
    .close-text {
      //cursor: pointer;
    }
    .close-button {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 1%;
      cursor: pointer;
      width: 15px;
      height: 15px;
      transform: translate(0%, 50%);
      @include container-max-width-up {
        right: -5%;
      }
      @include desktop-down {
        right: 2%;
      }
      //img {
      //  width: 100%;
      //  height: 100%;
      //  object-fit: contain;
      //}

      &:before {
        content: "";
        width: 1.5px;
        height: 100%;
        position: absolute;
        background-color: $white;
        transform: rotate(45deg);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      &:after {
        content: "";
        width: 1.5px;
        height: 100%;
        position: absolute;
        background-color: $white;
        transform: rotate(134deg);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
    br {
      display: none;
    }
  }
  .bold {
    display: inline-block;
    color: $white;
    font-weight: 500;
  }

}