.year-slider {
  opacity: 0;
  .slider-wrapper {
    z-index: 1;
    background-color: white;

    @include container-up {
      margin: 0 -37px;
    }
    overflow: hidden;
    overflow-x: auto;
    .content-box {
      display: block;
      width: 332px;
      float: left;
      margin-left: -25px;
      margin-top: 5px;
      margin-bottom: 5px;

      &:first-child {
        margin-left: 0;
      }

      &:nth-child(4n) {
        margin-right: 20px;
      }
      .content {
        padding: 25px;
        cursor: pointer;
        transition: 0.4s;
        img {
          margin-bottom: 12px;
          height: 144px;
          object-fit: cover;

          @include phablet-down {
            width: 100%;
            height: auto;
            max-height: 268px;
          }
        }
        h3 {
          position: relative;
          margin-bottom: 16px;
          font-family: $font-inter-regular;
          background-color: transparent;
          &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 58%;
            height: 4px;
            background-color: $extra-light-gray;
          }
        }
        p {
          font-size: 14px;
          line-height: 1.4;
          margin-top: 10px;
        }

        &:hover {
          background-color: $white;
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
        }
      }
    }

    .mCSB_container {
      display: flex;
      padding: 0 10px;
    }

    .mCSB_scrollTools_horizontal {
      opacity: 1;
      .mCSB_draggerContainer {
        margin-left: 34px;
        .mCSB_dragger {
          background-color: #01b7c6;
          width: 119px;
          height: 24px;
          top: -4px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          border-radius: 20px;

          &::after {
            content: '';
            position: absolute;
            right: 5px;
            top: 2px;
            background-image: url("/themes/rms/templates/dist/images/svg/next-arrow.svg");
            background-size: 100%;
            width: 20px;
            height: 21px;
          }

          &::before {
            content: '';
            position: absolute;
            left: 5px;
            top: 2px;
            background-image: url("/themes/rms/templates/dist/images/svg/next-arrow.svg");
            transform: rotate(180deg);
            background-size: 100%;
            width: 20px;
            height: 21px;
          }

          .mCSB_dragger_bar {
            display: none;
          }
        }
        .mCSB_draggerRail {
          position: relative;
          background-color: $extra-light-gray;

          .bg-line {
            position: absolute;
            left: 0;
            height: 2px;
            right: 0;
            background-color: $extra-light-gray;
          }
        }
      }
    }
  }

  .bg-cards {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $extra-light-gray;

    @include phablet-down {
      display: none;
    }
  }
}




