{% set btn_text = '/' in content.field_link[0]['#title'] ? 'Learn More' : content.field_link[0]['#title'] %}
{% set overlay_class = 'yes' in content.field_overlay[0] ? 'has-overlay' : 'no-overlay' %}
<div class="cover-text-image item">
  {% if content.field_image[0] is not empty %}
    <div class="bg-img {{ overlay_class }}">
      {% if content.field_video_url[0] is not empty %}
        <a data-video="{{ content.field_video_url[0] }}" class="video-play"><p>Video</p></a>
      {% endif %}
      {{ content.field_image[0] }}
      {% if content.field_video_url[0] is not empty %}
        <div class="play-icon">
          <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
        </div>
      {% endif %}
    </div>
  {% endif %}
  {% if content.field_video_url[0] is empty %}
    <div class="v-middle-wrapper">
      <div class="v-middle-inner container">
        <div class="v-middle">
          <div class="inner-text">
            <h2>{{ content.field_title[0] }}</h2>
            <h5>{{ content.field_subtitle[0] }}</h5>
            {% if content.field_link[0] is not empty %}
            <div class="button-box">
              <a href="{{ content.field_link[0]['#url'] }}" class="btn-transparent">{{ btn_text }}</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
