{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
  {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="image-slider {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
  <div class="container">
    <div class="intro-box green-border align-center wow fadeInUp">
      <h3 class="">Spotlight</h3>
    </div>
    <div class="column-wrapper  wow fadeInUp">
      <div class="pattern-animation" id="lottie1">
        {#<img src="/themes/rms/templates/dist/images/svg/Grid-blue.svg" alt="green pattern">#}
      </div>
      <div class="slider">
        {{ content.field_image_slider_items }}
      </div>
    </div>
    <div class="button-wrap">
      <span class="pre-btn"></span>
      <div class="dots-outer">
      </div>
      <span class="next-btn"></span>
    </div>
  </div>
</section>
