<section class="col-four-with-slider animation-first">
    <div class="row-wrapper no-gutters">
        <div class="pattern-animation" id="lottie1">
            {#<img src="/themes/rms/templates/dist/images/svg/Grid-blue.svg" alt="green pattern">#}
        </div>
        <div class="overview-block green-border align-left wow zoomIn" data-wow-delay="0.5s">
            <div class="container">
                <h2>Software as a Service</h2>
                <p>Lorem ipsum dolor sit amet,consetetur sadipscing elitr, sed diam nonumy amet invid unt ut labore et
                    dolore sit magna aliquyam a, sed diam voluptua</p>
                <div class="button-box">
                    <a href="#" class="learn-more">Explore Our Products</a>
                </div>
            </div>
        </div>
        <div class="slider-block  wow fadeIn" data-wow-delay="0.5s">
            <div class="button-wrap">
                <span class="pre-btn"></span>
                <div class="dots-outer">
                </div>
                <span class="next-btn"></span>
            </div>
            <div class="slide-outer">
                <div class="item-box  ">
                    <div class="no-state">
                        <div class="icon-box">
                            <img src="/themes/rms/templates/dist/images/risk-modeler-icon.svg" alt="icon image">
                        </div>
                        <div class="text-block">
                            <h3>Risk Modeler</h3>
                            <p>Lorem ipsum dolor sit amet, dolore consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor
                                invidunt set ut labore amet dolore.</p>
                        </div>
                    </div>
                    {#<div class="hover-state">#}
                        {#<div class="bg-img-top">#}
                            {#<img src="/themes/rms/templates/dist/images/laptop-clouds.jpg" alt="laptop cloud image">#}
                        {#</div>#}
                        {#<div class="content-footer">#}
                            {#<h3>Risk Modeler</h3>#}
                            {#<a href="#" class="learn-more">Learn More</a>#}
                        {#</div>#}
                    {#</div>#}
                </div>
                <div class="item-box">
                    <div class="no-state">
                        <div class="icon-box">
                            <img src="/themes/rms/templates/dist/images/siteiq-Icon.svg" alt="icon image">
                        </div>
                        <div class="text-block">
                            <h3>SiteIQ</h3>
                            <p>Lorem ipsum dolor sit amet, dolore consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor
                                invidunt set ut labore amet dolore.</p>
                        </div>
                    </div>
                    <div class="hover-state">
                        <div class="bg-img-top">
                            <img src="/themes/rms/templates/dist/images/laptop-clouds.jpg" alt="laptop cloud image">
                        </div>
                        <div class="content-footer">
                            <h3>SiteIQ</h3>
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="no-state">
                        <div class="icon-box">
                            <img src="/themes/rms/templates/dist/images/risk-Intelligence.svg" alt="icon image">
                        </div>
                        <div class="text-block">
                            <h3>Risk Intelligence</h3>
                            <p>Lorem ipsum dolor sit amet, dolore consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor
                                invidunt set ut labore amet dolore.</p>
                        </div>
                    </div>
                    <div class="hover-state">
                        <div class="bg-img-top">
                            <img src="/themes/rms/templates/dist/images/laptop-clouds.jpg" alt="laptop cloud image">
                        </div>
                        <div class="content-footer">
                            <h3>Risk Intelligence</h3>
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="no-state">
                        <div class="icon-box">
                            <img src="/themes/rms/templates/dist/images/exposure-iq.png" alt="icon image">
                        </div>
                        <div class="text-block">
                            <h3>ExposureIQ</h3>
                            <p>Lorem ipsum dolor sit amet, dolore consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor
                                invidunt set ut labore amet dolore.</p>
                        </div>
                    </div>
                    {#<div class="hover-state">#}
                        {#<div class="bg-img-top">#}
                            {#<img src="/themes/rms/templates/dist/images/laptop-clouds.jpg" alt="laptop cloud image">#}
                        {#</div>#}
                        {#<div class="content-footer">#}
                            {#<h3>Risk Modeler</h3>#}
                            {#<a href="#" class="learn-more">Learn More</a>#}
                        {#</div>#}
                    {#</div>#}
                </div>
                {#<div class="item-box">#}
                    {#<div class="no-state">#}
                        {#<div class="icon-box">#}
                            {#<img src="/themes/rms/templates/dist/images/risk-modeler-icon.svg" alt="icon image">#}
                        {#</div>#}
                        {#<div class="text-block">#}
                            {#<h3>Risk Modeler</h3>#}
                            {#<p>Lorem ipsum dolor sit amet, dolore consetetur sadipscing elitr, sed diam nonumy eirmod#}
                                {#tempor#}
                                {#invidunt set ut labore amet dolore.</p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="hover-state">#}
                        {#<div class="bg-img-top">#}
                            {#<img src="/themes/rms/templates/dist/images/laptop-clouds.jpg" alt="laptop cloud image">#}
                        {#</div>#}
                        {#<div class="content-footer">#}
                            {#<h3>Risk Modeler</h3>#}
                            {#<a href="#" class="learn-more">Learn More</a>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="item-box">#}
                    {#<div class="no-state">#}
                        {#<div class="icon-box">#}
                            {#<img src="/themes/rms/templates/dist/images/exposure-iq.png" alt="icon image">#}
                        {#</div>#}
                        {#<div class="text-block">#}
                            {#<h3>ExposureIQ</h3>#}
                            {#<p>Lorem ipsum dolor sit amet, dolore consetetur sadipscing elitr, sed diam nonumy eirmod#}
                                {#tempor#}
                                {#invidunt set ut labore amet dolore.</p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="hover-state">#}
                        {#<div class="bg-img-top">#}
                            {#<img src="/themes/rms/templates/dist/images/laptop-clouds.jpg" alt="laptop cloud image">#}
                        {#</div>#}
                        {#<div class="content-footer">#}
                            {#<h3>Risk Modeler</h3>#}
                            {#<a href="#" class="learn-more">Learn More</a>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="item-box">#}
                    {#<div class="no-state">#}
                        {#<div class="icon-box">#}
                            {#<img src="/themes/rms/templates/dist/images/exposure-iq.png" alt="icon image">#}
                        {#</div>#}
                        {#<div class="text-block">#}
                            {#<h3>ExposureIQ</h3>#}
                            {#<p>Lorem ipsum dolor sit amet, dolore consetetur sadipscing elitr, sed diam nonumy eirmod#}
                                {#tempor#}
                                {#invidunt set ut labore amet dolore.</p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="hover-state">#}
                        {#<div class="bg-img-top">#}
                            {#<img src="/themes/rms/templates/dist/images/laptop-clouds.jpg" alt="laptop cloud image">#}
                        {#</div>#}
                        {#<div class="content-footer">#}
                            {#<h3>Risk Modeler</h3>#}
                            {#<a href="#" class="learn-more">Learn More</a>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            </div>
        </div>
    </div>
</section>
