<section class="col-three-slider overlap">
  <div class="container">
    <div class="column-wrapper">
      <div class="slider">
        <div class="card-box item">
          <div class="image-box">
            <img src="/themes/rms/templates/dist/images/RMS-Flood-Infographic-1@1.5x-100.jpg" alt="icon">
          </div>
          <div class="content-box">
            <span class="small-head">Infographic</span>
            <h5><a href="#">U.S. Flood Risk</a></h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr ipsum diam nonumy eirmod at tempor invidunt ut
              labore et dolore</p>
          </div>
        </div>

        <div class="card-box item">
          <div class="image-box">
            <img src="/themes/rms/templates/dist/images/event-img.jpg" alt="icon">
          </div>
          <div class="content-box">
            <span class="small-head">Event</span>
            <h5><a href="#">Lorem ipsum dolor sit amet consetetur amet sadipscing elitr diam</a></h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr ipsum</p>
          </div>
        </div>

        <div class="card-box item">
          <div class="image-box">
            <img src="/themes/rms/templates/dist/images/wildfire-img.jpg" alt="icon">
          </div>
          <div class="content-box ">
            <span class="small-head">News</span>
            <h5><a href="#">New U.S. Wildfire HD Model</a></h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr ipsum diam nonumy eirmod at tempor</p>
          </div>
        </div>

        <div class="card-box item">
          <div class="image-box">
            <img src="/themes/rms/templates/dist/images/event-img.jpg" alt="icon">
          </div>
          <div class="content-box">
            <span class="small-head">Event</span>
            <h5><a href="#">Lorem ipsum dolor sit amet consetetur amet sadipscing elitr diam</a></h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr ipsum</p>
          </div>
        </div>

        <div class="card-box item">
          <div class="image-box">
            <img src="/themes/rms/templates/dist/images/wildfire-img.jpg" alt="icon">
          </div>
          <div class="content-box ">
            <span class="small-head">News</span>
            <h5><a href="#">New U.S. Wildfire HD Model</a></h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr ipsum diam nonumy eirmod at tempor</p>
          </div>
        </div>

      </div>
      <div class="button-wrap">
        <span class="pre-btn"></span>
        <div class="dots-outer">
        </div>
        <span class="next-btn"></span>
      </div>
    </div>
  </div>
</section>