<section class="col-three-with-image no-padding">
    <div class="container">
        <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.3s">
            <h3 class="">Our Solutions</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua, at vero eos et et.</p>
            <div class="button-box">
                <a href="#" class="learn-more">Explore Our Solutions</a>
            </div>
        </div>
        <div class="col-grid row no-gutters">
            <div class="col col-lg-4 col-md-6 content-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="bg-img">
                    <img src="/themes/rms/templates/dist/images/industry-img.jpg" alt="card img">
                </div>
                <div class="blue-overlay wow fadeInUp" data-wow-delay="0.4s">
                    <h5>Industry</h5>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut
                        labore et dolore magna aliquyam erat, sed diam voluptua at vero,
                        diam nonumy eirmod.</p>
                    <div class="button-box">
                        <a href="#" class="learn-more">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-md-6 content-box  wow fadeInUp" data-wow-delay="0.4s">
                <div class="bg-img">
                    <img src="/themes/rms/templates/dist/images/region.jpg" alt="card img">
                </div>
                <div class="blue-overlay wow fadeInUp" data-wow-delay="0.4s">
                    <h5>Region</h5>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut
                        labore et dolore magna aliquyam erat, sed diam voluptua at vero,
                        diam nonumy eirmod.</p>
                    <div class="button-box">
                        <a href="#" class="learn-more">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-md-6 content-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="bg-img">
                    <img src="/themes/rms/templates/dist/images/role-img.jpg" alt="card img">
                </div>
                <div class="blue-overlay wow fadeInUp" data-wow-delay="0.4s">
                    <h5>Function</h5>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut
                        labore et dolore magna aliquyam erat, sed diam voluptua at vero,
                        diam nonumy eirmod.</p>
                    <div class="button-box">
                        <a href="#" class="learn-more">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-md-6 content-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="bg-img">
                    <img src="/themes/rms/templates/dist/images/role-img.jpg" alt="card img">
                </div>
                <div class="blue-overlay wow fadeInUp" data-wow-delay="0.4s">
                    <h5>Function</h5>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut
                        labore et dolore magna aliquyam erat, sed diam voluptua at vero,
                        diam nonumy eirmod.</p>
                    <div class="button-box">
                        <a href="#" class="learn-more">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-md-6 content-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="bg-img">
                    <img src="/themes/rms/templates/dist/images/role-img.jpg" alt="card img">
                </div>
                <div class="blue-overlay wow fadeInUp" data-wow-delay="0.4s">
                    <h5>Function</h5>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut
                        labore et dolore magna aliquyam erat, sed diam voluptua at vero,
                        diam nonumy eirmod.</p>
                    <div class="button-box">
                        <a href="#" class="learn-more">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-md-6 content-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="bg-img">
                    <img src="/themes/rms/templates/dist/images/role-img.jpg" alt="card img">
                </div>
                <div class="blue-overlay wow fadeInUp" data-wow-delay="0.4s">
                    <h5>Function</h5>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut
                        labore et dolore magna aliquyam erat, sed diam voluptua at vero,
                        diam nonumy eirmod.</p>
                    <div class="button-box">
                        <a href="#" class="learn-more">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-md-6 content-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="bg-img">
                    <img src="/themes/rms/templates/dist/images/role-img.jpg" alt="card img">
                </div>
                <div class="blue-overlay wow fadeInUp" data-wow-delay="0.4s">
                    <h5>Function</h5>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut
                        labore et dolore magna aliquyam erat, sed diam voluptua at vero,
                        diam nonumy eirmod.</p>
                    <div class="button-box">
                        <a href="#" class="learn-more">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-md-6 content-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="bg-img">
                    <img src="/themes/rms/templates/dist/images/role-img.jpg" alt="card img">
                </div>
                <div class="blue-overlay wow fadeInUp" data-wow-delay="0.4s">  
                    <h5>Function</h5>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut
                        labore et dolore magna aliquyam erat, sed diam voluptua at vero,
                        diam nonumy eirmod.</p>
                    <div class="button-box">
                        <a href="#" class="learn-more">Learn More</a>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>