<section class="exceedance-banner">
    <div class="row col-outer position-relative wow fadeIn" data-wow-delay="0.3s">
        <div class="bg-img">
            <img src="/themes/rms/templates/dist/images/exced-banner.jpg"
                 alt="cta-image">
        </div>
        <div class="col-12 banner-content wow fadeIn"
             data-wow-delay="0.4s">
            <div class="container">
                <div class="row content-wrap col-outer no-gutters">
                    <div class="content-outer text-left col-lg-6 col-sm-12">
                        <div class="logo-bg">
                            <img src="/themes/rms/templates/dist/images/exceedance_logo.png"
                                 alt="cta-image">
                        </div>
                        <h1 class="">Join Us Now at Exceedance 2020</h1>
                        <div class="button-box">
                            <a href="#" class="btn-red"><span>Register Now</span></a>

                            {#<a href="#" class="btn-transparent"><span>Register Now</span></a>#}
                        </div>
                    </div>
                    <div class="content-outer large-text text-center col-lg-6 col-sm-12">
                        <div class="large-txt-img">
                            <img src="/themes/rms/templates/dist/images/exchange-txt-img.svg"
                                 alt="text image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#<div class="location-box">#}
        {#<div class="container">#}
            {#<div class="place-location">#}
                {#<span><p>Ontario, Canada</p></span>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
</section>