<section class="hero-slider no-padding overlap">
  <div class="container separator">
    <div class=" bg-white wow fadeInUp" data-wow-delay="0.5s">
      <div class="slider-outer row">
        <div class="item-box info-image-overlay col-md-4">
          <div class="image-box wow fadeInUp" data-wow-delay="0.6s">
            <a href="/themes/rms/templates/dist/images/RMS-Infographic-Analytical-Services-Capacity-Constraints.jpg"
               rel="prettyPhoto[gallery1]"><img
                  src="/themes/rms/templates/dist/images/RMS-Flood-Infographic-1@1.5x-100.jpg"
                  alt="flood risk image"></a>
             <img src="/themes/rms/templates/dist/images/RMS-Flood-Infographic-1@1.5x-100.jpg" alt="flood risk image">
          </div>
          <div class="content-box wow fadeIn" data-wow-delay="0.7s">
            <span class="small-head">Infographic</span>
            <h5>U.S. Flood Risk</h5>
          </div>
        </div>
        <div class="item-box info-image-overlay col-md-4">
          <div class="image-box wow fadeInUp" data-wow-delay="0.6s">
             <img src="/themes/rms/templates/dist/images/hurricane-sandy.png" alt="flood risk image">
            <a href="/themes/rms/templates/dist/images/hurricane-sandy.png" rel="prettyPhoto[gallery1]"><img
                  src="/themes/rms/templates/dist/images/hurricane-sandy.png" alt="flood risk image"></a>
          </div>
          <div class="content-box wow fadeIn" data-wow-delay="0.7s">
            <span class="small-head">Event</span>
            <h5>Post-Exceedance Website Now Live</h5>
          </div>
        </div>
        <div class="item-box info-image-overlay col-md-4">
          <div class="image-box wow fadeInUp" data-wow-delay="0.6s">
            <a href="/themes/rms/templates/dist/images/RMS-Infographic-Analytical-Services-Capacity-Constraints.jpg"
               rel="prettyPhoto[gallery1]"><img
                  src="/themes/rms/templates/dist/images/RMS-Infographic-Analytical-Services-Capacity-Constraints.jpg"
                  alt="flood risk image"></a>
             <img src="/themes/rms/templates/dist/images/RMS-Infographic-Analytical-Services-Capacity-Constraints.jpg" alt="flood risk image">
          </div>
          <div class="content-box wow fadeIn" data-wow-delay="0.7s">
            <span class="small-head">News</span>
            <h5>New U.S. Wildfire HD Model</h5>
          </div>
        </div>

        <div class="item-box info-image-overlay col-md-4">
          <div class="image-box wow fadeInUp" data-wow-delay="0.6s">
            <a href="/themes/rms/templates/dist/images/rms-u.s.-wildfire-infographic.jpg"
               rel="prettyPhoto[gallery1]"><img
                  src="/themes/rms/templates/dist/images/rms-u.s.-wildfire-infographic.jpg" alt="flood risk image"></a>

             <img src="/themes/rms/templates/dist/images/rms-u.s.-wildfire-infographic.jpg" alt="flood risk image">
          </div>
          <div class="content-box wow fadeIn" data-wow-delay="0.7s">
            <span class="small-head">Infographic</span>
            <h5>U.S. Flood Risk</h5>
          </div>
        </div>
        <div class="item-box info-image-overlay col-md-4">
          <div class="image-box wow fadeInUp" data-wow-delay="0.6s">
            <a href="/themes/rms/templates/dist/images/RMS-Infographic-Analytical-Services-Capacity-Constraints.jpg"
               rel="prettyPhoto[gallery1]"><img src="/themes/rms/templates/dist/images/event-img.jpg"
                                                alt="flood risk image"></a>

             <img src="/themes/rms/templates/dist/images/event-img.jpg" alt="flood risk image">
          </div>
          <div class="content-box wow fadeIn" data-wow-delay="0.7s">
            <span class="small-head">Event</span>
            <h5>Post-Exceedance Website Now Live</h5>
          </div>
        </div>
        <div class="item-box  info-image-overlay col-md-4">
          <div class="image-box wow fadeInUp" data-wow-delay="0.6s">
            <a href="/themes/rms/templates/dist/images/RMS-Infographic-Analytical-Services-Capacity-Constraints.jpg"
               rel="prettyPhoto[gallery1]"><img src="/themes/rms/templates/dist/images/wildfire-img.jpg"
                                                alt="flood risk image"></a>

             <img src="/themes/rms/templates/dist/images/wildfire-img.jpg" alt="flood risk image">
          </div>
          <div class="content-box wow fadeIn" data-wow-delay="0.7s">
            <span class="small-head">News</span>
            <h5>New U.S. Wildfire HD Model</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


