<section class="hero-banner video-banner">
    <div class="row col-outer position-relative wow fadeIn" data-wow-delay="0.3s">
        <div class="bg-img">
            <img src="/themes/rms/templates/dist/images/hero-banner.jpg"
                 alt="cta-image">
        </div>
        <div class="video-wrapper">
            <video class="agari-video" muted="muted" autoplay="autoplay" allowfullscreen="true" playsinline="true">
                <source src="/themes/rms/templates/dist/images/banner-update-video.mp4" type="video/mp4">
            </video>
        </div>
        {#<div class="side-button">#}
        {#<div class="intro">#}
        {#<h6>Infographic</h6>#}
        {#</div>#}
        {#<div class="content-block">#}
        {#<div class="top-img">#}
        {#<img src="/themes/rms/templates/dist/images/side-map.jpg" alt="top image">#}
        {#</div>#}
        {#<div class="text-block">#}
        {#<h5>Wildfire Risk</h5>#}
        {#<p>The Causes and Spread of Wildfire</p>#}
        {#<a href="#" class="learn-more">Read More</a>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        <div class="col-12 banner-content wow fadeIn"
             data-wow-delay="0.4s">
            <div class="container">
                <div class="row col-outer no-gutters">
                    <div class="content-outer text-left col-lg-8">
                        <h1 class="">The World’s Leading
                            Risk Modeling Company </h1>
                        <h5>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            nonumy</h5>
                        <div class="button-box">
                            <a href="#" class="btn-red"><span>Contact Us</span></a>
                            <a href="#" class="btn-transparent"><span>Get a Demo</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="location-box">
        <div class="container">
            <div class="place-location">
                <span><p>Ontario, Canada</p></span>
            </div>
        </div>
    </div>
</section>