<section class="image-with-slider animation-three">
    <div class="container">
        <div class="intro-block green-border align-center wow fadeInUp" data-wow-delay="0.3s">
            <h3>Validation</h3>
        </div>
        <div class="award-top-carousel">
            <div class="pattern-animation" id="lottie3">
            </div>
            <div class="slider-outer">
                <div class="items">
                    <div class="col-two media-block  wow zoomIn" data-wow-delay="0.4s">
                        <div class="img-wrapper">
                            <div class="top-border wow fadeInLeft" data-wow-delay="0.5s"></div>
                            <img src="/themes/rms/templates/dist/images/award-image.jpg" alt="award image">
                            <div class="shared-icon">
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/facebook-share.svg" alt="facebook icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/linkedin-share.svg" alt="LinkedIn icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/twitter-share.svg" alt="Twitter icon">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-two content-block wow fadeIn" data-wow-delay="0.6s">
                        <h3>Reactions 2019 North America Award for Modeler of the Year</h3>
                        <p>“On behalf of my 50,000 colleagues, it’s an honor to accept this recognition. Every day, it’s
                            a privilege to see my dedicated colleagues bring their best to our clients around the world.
                            They serve with excellence, and seek to help clients address the volatility and new
                            challenges so prevalent in today’s marketplace.”
                        </p>
                        <div class="author-box">
                            <h6>Greg Case</h6>
                            <p>Company Title</p>
                        </div>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="col-two media-block  wow zoomIn" data-wow-delay="0.4s">
                        <div class="img-wrapper">
                            <div class="top-border wow fadeInLeft" data-wow-delay="0.5s"></div>
                            <img src="/themes/rms/templates/dist/images/award-image.jpg" alt="award image">
                            <div class="shared-icon">
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/facebook-share.svg" alt="facebook icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/linkedin-share.svg" alt="LinkedIn icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/twitter-share.svg" alt="Twitter icon">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-two content-block wow fadeIn" data-wow-delay="0.6s">
                        <h3>Reactions 2019 North America Award for Modeler of the Year</h3>
                        <p>“On behalf of my 50,000 colleagues, it’s an honor to accept this recognition. Every day, it’s
                            a privilege to see my dedicated colleagues bring their best to our clients around the world.
                            They serve with excellence, and seek to help clients address the volatility and new
                            challenges so prevalent in today’s marketplace.”
                        </p>
                        <div class="author-box">
                            <h6>Greg Case</h6>
                            <p>Company Title</p>
                        </div>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="col-two media-block  wow zoomIn" data-wow-delay="0.4s">
                        <div class="img-wrapper">
                            <div class="top-border wow fadeInLeft" data-wow-delay="0.5s"></div>
                            <img src="/themes/rms/templates/dist/images/award-image.jpg" alt="award image">
                            <div class="shared-icon">
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/facebook-share.svg" alt="facebook icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/linkedin-share.svg" alt="LinkedIn icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/twitter-share.svg" alt="Twitter icon">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-two content-block wow fadeIn" data-wow-delay="0.6s">
                        <h3>Reactions 2019 North America Award for Modeler of the Year</h3>
                        <p>“On behalf of my 50,000 colleagues, it’s an honor to accept this recognition. Every day, it’s
                            a privilege to see my dedicated colleagues bring their best to our clients around the world.
                            They serve with excellence, and seek to help clients address the volatility and new
                            challenges so prevalent in today’s marketplace.”
                        </p>
                        <div class="author-box">
                            <h6>Greg Case</h6>
                            <p>Company Title</p>
                        </div>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="button-wrap">
                <span class="pre-btn"></span>
                <div class="dots-outer">
                </div>
                <span class="next-btn"></span>
            </div>
        </div>
    </div>
</section>
