    <section class="info-with-tabs animation-five service-home">
        <div class="bg-img " >
        </div>
        <div class="container">
            <div class="pattern-animation" id="lottie5">
            </div>
            <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.3s">
                <h3>Our Services</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut labore et
                    dolore magna aliquyam erat, sed diam voluptua, at vero eos et et.</p>
                <div class="button-box">
                    <a href="#" class="learn-more">Explore Our Services</a>
                </div>
            </div>

            <div class="row-wrap column-wrapper wow fadeInUp" data-wow-delay="0.4s">
                <button class="open">
                    <div class="cover">
                        <div class="icon-box">
                            <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:#C7C7C7;}
                                </style>
                                <g  transform="translate(26.3 8.837)">
                                    <g  transform="translate(18.88)">
                                        <path class="st0" d="M-15.3,22.8c-0.1,0-0.3,0-0.4-0.1c-0.5-0.2-12.8-5.2-12.8-15.4V-3.9c0-0.4,0.2-0.8,0.6-0.9
          c7.9-4.3,17.4-4.3,25.3,0C-2.3-4.7-2-4.3-2-3.9V7.3c0,10.2-12.3,15.1-12.8,15.4C-15,22.8-15.2,22.8-15.3,22.8z M-26.4-3.2V7.4
          c0,7.8,9.1,12.3,11.1,13.1c2-0.9,11.1-5.4,11.1-13.1V-3.2C-11.2-6.7-19.4-6.7-26.4-3.2z"/>
                                        <path id="Path_8708_3_" class="st0" d="M-17.4,13L-17.4,13c-0.3,0-0.6-0.1-0.8-0.3l-4.2-4.6c-0.4-0.4-0.4-1.1,0.1-1.6
          c0.4-0.4,1.1-0.4,1.6,0.1c0,0,0,0,0,0l3.5,3.7l7.8-8.3C-9.1,1.7-8.5,1.6-8,2c0.4,0.4,0.4,1.1,0.1,1.6l-8.5,9.2
          C-16.7,12.9-17.1,13-17.4,13z"/>
                                    </g>
                                    <g id="Title_3_" transform="translate(0 20.566)">
                                        <g id="Group_5361_3_">
                                            <path id="Path_8709_3_" class="st0" d="M-24.8,21.4c-0.6,0-1-0.5-1-1V5.4c0-2.5,2-4.5,4.4-4.5c0,0,0,0,0.1,0h2.3
            c2.5,0,4.5,2,4.5,4.4c0,0,0,0,0,0.1v6.9c0,0,0,0.1,0.1,0.1h0h8c0.9,0,1.8,0.4,2.4,0.9c0.6,0.6,1,1.5,0.9,2.4
            c0,1.8-1.4,3.3-3.3,3.4c0,0-0.1,0-0.1,0h-13.8c-0.6,0-1-0.5-1-1c0-0.6,0.5-1,1-1h13.7c0.7,0,1.2-0.5,1.2-1.2
            c0-0.7-0.5-1.2-1.2-1.2c0,0,0,0,0,0h-8c-1.2,0-2.2-1-2.2-2.2V5.5c0-1.3-1-2.3-2.3-2.3c0,0,0,0,0,0h-2.2c-1.3,0-2.3,1-2.3,2.3
            c0,0,0,0,0,0v14.9C-23.8,20.9-24.3,21.3-24.8,21.4z"/>
                                            <path id="Path_8710_3_" class="st0" d="M32.4,21.4c-0.6,0-1-0.5-1-1V5.4c0-1.3-1-2.3-2.3-2.3c0,0,0,0,0,0h-2.3
            c-1.3,0-2.3,1-2.3,2.3c0,0,0,0,0,0v6.9c0,1.2-1,2.2-2.2,2.2h-8c-0.7,0-1.2,0.5-1.2,1.2c0,0,0,0,0,0.1c0,0.7,0.5,1.2,1.2,1.2
            c0,0,0,0,0.1,0h13.7c0.6,0,1,0.5,1,1s-0.5,1-1,1c0,0,0,0,0,0H14.1c-0.9,0-1.8-0.4-2.4-0.9c-1.3-1.4-1.3-3.5,0.1-4.8
            c0.6-0.6,1.4-0.9,2.3-0.9h8c0,0,0.1,0,0.1-0.1V5.3c0-2.5,2-4.5,4.4-4.5c0,0,0,0,0.1,0H29c2.5,0,4.5,2,4.5,4.4c0,0,0,0,0,0.1v14.9
            C33.6,20.8,33.1,21.4,32.4,21.4C32.4,21.4,32.4,21.4,32.4,21.4z"/>
                                            <path id="Path_8711_3_" class="st0" d="M-20.7,0.7C-23.5,0.7-26-1.8-26-5s2.3-5.8,5.3-5.8s5.3,2.6,5.3,5.8S-17.8,0.7-20.7,0.7z
             M-20.7-8.7c-1.7,0-3.1,1.6-3.1,3.6s1.4,3.6,3.1,3.6c1.7,0,3.1-1.6,3.1-3.6S-19-8.7-20.7-8.7z"/>
                                            <path id="Path_8712_3_" class="st0" d="M28.2,0.7c-2.8,0-5.3-2.6-5.3-5.8s2.3-5.8,5.3-5.8c2.8,0,5.3,2.6,5.3,5.8S31,0.7,28.2,0.7
            z M28.2-8.7c-1.7,0-3.1,1.6-3.1,3.6s1.4,3.6,3.1,3.6s3.1-1.6,3.1-3.6S29.8-8.7,28.2-8.7z"/>
                                            <path id="Path_8713_3_" class="st0" d="M21.7,28.3H-14c-0.2,0-0.5,0-0.7-0.1c-1.1-0.4-1.8-1.6-1.4-2.7c0,0,0-0.1,0-0.1l2.6-7.7
            l2.1,0.7L-14,26v0.1h35.8c0,0,0.1,0,0.1-0.1l-2.6-7.7l2.1-0.7l2.6,7.7C24,25.6,24,25.8,24,26C23.9,27.3,22.9,28.2,21.7,28.3z"/>
                                            <path id="Path_8714_3_" class="st0" d="M-10.1,13.8l-2.1-0.7l2.1-6.1C-9.8,6-9,5.4-8,5.4h23.6c1,0,1.8,0.6,2.1,1.6l2.1,6.1
            l-2.1,0.7l-2.1-6.1L-8.1,7.6L-10.1,13.8z"/>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <p>Consulting</p>
                    </div>
                </button>
                <div class="scroll-wrap">
                    <div class="tab-div">
                        <div class="icon-with-heading hide" data-tab="tab-A">
                            <div class="icon-box">
                                <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:#C7C7C7;}
                                </style>
                                    <g  transform="translate(26.3 8.837)">
                                        <g transform="translate(18.88)">
                                            <path  class="st0" d="M-15.3,22.8c-0.1,0-0.3,0-0.4-0.1c-0.5-0.2-12.8-5.2-12.8-15.4V-3.9c0-0.4,0.2-0.8,0.6-0.9
          c7.9-4.3,17.4-4.3,25.3,0C-2.3-4.7-2-4.3-2-3.9V7.3c0,10.2-12.3,15.1-12.8,15.4C-15,22.8-15.2,22.8-15.3,22.8z M-26.4-3.2V7.4
          c0,7.8,9.1,12.3,11.1,13.1c2-0.9,11.1-5.4,11.1-13.1V-3.2C-11.2-6.7-19.4-6.7-26.4-3.2z"/>
                                            <path id="Path_8708_3_" class="st0" d="M-17.4,13L-17.4,13c-0.3,0-0.6-0.1-0.8-0.3l-4.2-4.6c-0.4-0.4-0.4-1.1,0.1-1.6
          c0.4-0.4,1.1-0.4,1.6,0.1c0,0,0,0,0,0l3.5,3.7l7.8-8.3C-9.1,1.7-8.5,1.6-8,2c0.4,0.4,0.4,1.1,0.1,1.6l-8.5,9.2
          C-16.7,12.9-17.1,13-17.4,13z"/>
                                        </g>
                                        <g id="Title_3_" transform="translate(0 20.566)">
                                            <g id="Group_5361_3_">
                                                <path id="Path_8709_3_" class="st0" d="M-24.8,21.4c-0.6,0-1-0.5-1-1V5.4c0-2.5,2-4.5,4.4-4.5c0,0,0,0,0.1,0h2.3
            c2.5,0,4.5,2,4.5,4.4c0,0,0,0,0,0.1v6.9c0,0,0,0.1,0.1,0.1h0h8c0.9,0,1.8,0.4,2.4,0.9c0.6,0.6,1,1.5,0.9,2.4
            c0,1.8-1.4,3.3-3.3,3.4c0,0-0.1,0-0.1,0h-13.8c-0.6,0-1-0.5-1-1c0-0.6,0.5-1,1-1h13.7c0.7,0,1.2-0.5,1.2-1.2
            c0-0.7-0.5-1.2-1.2-1.2c0,0,0,0,0,0h-8c-1.2,0-2.2-1-2.2-2.2V5.5c0-1.3-1-2.3-2.3-2.3c0,0,0,0,0,0h-2.2c-1.3,0-2.3,1-2.3,2.3
            c0,0,0,0,0,0v14.9C-23.8,20.9-24.3,21.3-24.8,21.4z"/>
                                                <path id="Path_8710_3_" class="st0" d="M32.4,21.4c-0.6,0-1-0.5-1-1V5.4c0-1.3-1-2.3-2.3-2.3c0,0,0,0,0,0h-2.3
            c-1.3,0-2.3,1-2.3,2.3c0,0,0,0,0,0v6.9c0,1.2-1,2.2-2.2,2.2h-8c-0.7,0-1.2,0.5-1.2,1.2c0,0,0,0,0,0.1c0,0.7,0.5,1.2,1.2,1.2
            c0,0,0,0,0.1,0h13.7c0.6,0,1,0.5,1,1s-0.5,1-1,1c0,0,0,0,0,0H14.1c-0.9,0-1.8-0.4-2.4-0.9c-1.3-1.4-1.3-3.5,0.1-4.8
            c0.6-0.6,1.4-0.9,2.3-0.9h8c0,0,0.1,0,0.1-0.1V5.3c0-2.5,2-4.5,4.4-4.5c0,0,0,0,0.1,0H29c2.5,0,4.5,2,4.5,4.4c0,0,0,0,0,0.1v14.9
            C33.6,20.8,33.1,21.4,32.4,21.4C32.4,21.4,32.4,21.4,32.4,21.4z"/>
                                                <path id="Path_8711_3_" class="st0" d="M-20.7,0.7C-23.5,0.7-26-1.8-26-5s2.3-5.8,5.3-5.8s5.3,2.6,5.3,5.8S-17.8,0.7-20.7,0.7z
             M-20.7-8.7c-1.7,0-3.1,1.6-3.1,3.6s1.4,3.6,3.1,3.6c1.7,0,3.1-1.6,3.1-3.6S-19-8.7-20.7-8.7z"/>
                                                <path id="Path_8712_3_" class="st0" d="M28.2,0.7c-2.8,0-5.3-2.6-5.3-5.8s2.3-5.8,5.3-5.8c2.8,0,5.3,2.6,5.3,5.8S31,0.7,28.2,0.7
            z M28.2-8.7c-1.7,0-3.1,1.6-3.1,3.6s1.4,3.6,3.1,3.6s3.1-1.6,3.1-3.6S29.8-8.7,28.2-8.7z"/>
                                                <path id="Path_8713_3_" class="st0" d="M21.7,28.3H-14c-0.2,0-0.5,0-0.7-0.1c-1.1-0.4-1.8-1.6-1.4-2.7c0,0,0-0.1,0-0.1l2.6-7.7
            l2.1,0.7L-14,26v0.1h35.8c0,0,0.1,0,0.1-0.1l-2.6-7.7l2.1-0.7l2.6,7.7C24,25.6,24,25.8,24,26C23.9,27.3,22.9,28.2,21.7,28.3z"/>
                                                <path id="Path_8714_3_" class="st0" d="M-10.1,13.8l-2.1-0.7l2.1-6.1C-9.8,6-9,5.4-8,5.4h23.6c1,0,1.8,0.6,2.1,1.6l2.1,6.1
            l-2.1,0.7l-2.1-6.1L-8.1,7.6L-10.1,13.8z"/>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <p>Consulting</p>
                            <span class="active-arrow"></span>
                        </div>
                        <div class="icon-with-heading" data-tab="tab-B">
                            <div class="icon-box">
                                <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                    <style type="text/css">
                                        .st0{fill:#C7C7C7;}
                                    </style>
                                    <g id="Database_network_1_">
                                        <path class="st0" d="M55.7,31.2c-0.7-8.7-5.8-16.4-13.5-20.4V4c0-3.1-7.3-3.9-11.7-3.9S18.8,0.9,18.8,4v6.8
        C11.1,14.8,6,22.5,5.2,31.1c-2.3,0.6-4,1.6-4,3v14.6c0,3.1,7.3,3.9,11.7,3.9c0.4,0,0.9,0,1.3,0c9.4,7.8,23,7.8,32.4,0
        c0.5,0,0.9,0,1.3,0c4.3,0,11.7-0.8,11.7-3.9V34.2C59.7,32.9,58.3,31.8,55.7,31.2z M57.8,43.9c-0.3,0.7-3.9,2-9.7,2
        s-9.5-1.3-9.7-1.9v-2.6c2.5,1.2,6.8,1.6,9.7,1.6c1.8,0,3.7-0.1,5.5-0.4c1.5-0.2,2.9-0.6,4.3-1.2L57.8,43.9z M57.8,39
        c-0.1,0.2-1.1,1.1-4.6,1.6C51.5,40.9,49.7,41,48,41c-5.9,0-9.5-1.3-9.7-1.9v-2.6c2.5,1.2,6.8,1.6,9.7,1.6c2.3,0,4.6-0.2,6.8-0.6
        c1-0.2,2-0.5,2.9-0.9L57.8,39z M57.7,34.2c-0.2,0.2-1,0.9-3.3,1.3c-2.1,0.4-4.2,0.6-6.4,0.6c-5.9,0-9.4-1.3-9.7-1.9v0
        c0.3-0.7,3.9-2,9.7-2c2.2,0,4.4,0.2,6.6,0.6C56.8,33.4,57.6,34,57.7,34.2z M40.2,18.6c-0.3,0.7-3.9,2-9.7,2s-9.5-1.3-9.7-1.9V16
        c2.5,1.2,6.8,1.6,9.7,1.6s7.3-0.4,9.7-1.6L40.2,18.6z M20.7,11.2c2.5,1.2,6.8,1.6,9.7,1.6s7.3-0.4,9.7-1.6v0.1c0,0,0,0,0,0v2.4
        c-0.3,0.7-3.9,2-9.7,2s-9.5-1.3-9.7-1.9V11.2z M40.2,8.8c-0.3,0.7-3.9,2-9.7,2S21,9.5,20.7,8.9V6.3c2.5,1.2,6.8,1.6,9.7,1.6
        s7.3-0.4,9.7-1.6L40.2,8.8z M30.5,2c5.8,0,9.3,1.2,9.7,1.9c-0.4,0.7-4,1.9-9.7,1.9c-5.9,0-9.4-1.3-9.7-1.9v0C21,3.3,24.6,2,30.5,2z
         M12.9,32.2c5.8,0,9.3,1.2,9.7,1.9c-0.4,0.7-4,1.9-9.7,1.9c-5.9,0-9.4-1.3-9.7-1.9v0C3.5,33.5,7.1,32.2,12.9,32.2z M3.2,41.4
        c1.4,0.6,2.8,1,4.3,1.2c1.8,0.3,3.7,0.4,5.5,0.4c2.9,0,7.3-0.4,9.7-1.6v2.5c-0.3,0.7-3.8,2-9.7,2c-1,0-1.8,0-2.6-0.1
        c-5-0.3-7-1.5-7.1-1.9V41.4z M22.7,36.5V39c-0.3,0.7-3.8,2-9.7,2c-1.7,0-3.5-0.1-5.2-0.4c-3.5-0.5-4.5-1.4-4.6-1.6v-2.6
        c2.5,1.2,6.8,1.6,9.7,1.6S20.2,37.7,22.7,36.5z M3.2,48.8v-2.5c2.2,0.9,4.6,1.4,7,1.5c0.9,0.1,1.8,0.1,2.8,0.1
        c2.9,0,7.3-0.4,9.7-1.6v2.5c-0.3,0.7-3.9,2-9.7,2S3.5,49.5,3.2,48.8z M30.5,56.6c-4.7,0-9.4-1.4-13.3-4.1c3.7-0.4,7.4-1.5,7.4-3.7
        V34.2c0-3.1-7.3-3.9-11.7-3.9c-1.9,0-3.8,0.1-5.7,0.4c0.8-7.4,5.1-14,11.6-17.8v5.6c0,3.1,7.3,3.9,11.7,3.9s11.7-0.8,11.7-3.9V13
        c6.5,3.7,10.8,10.3,11.6,17.8c-1.9-0.3-3.8-0.5-5.7-0.4c-4.3,0-11.7,0.8-11.7,3.9v14.6c0,2.2,3.7,3.2,7.4,3.7
        C39.8,55.1,35.2,56.6,30.5,56.6z M48,50.7c-0.6,0-1.1,0-1.6,0l0,0c-4.9-0.2-7.9-1.3-8.2-1.9v-2.6c2.5,1.2,6.8,1.6,9.7,1.6
        s7.3-0.4,9.7-1.6v2.5C57.5,49.5,53.9,50.7,48,50.7z"/>
                                    </g>
                                </svg>
                            </div>
                            <p>RMS Hosted</p>
                            <span class="active-arrow "></span>
                        </div>

                        <div class="icon-with-heading" data-tab="tab-C">
                            <div class="icon-box">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                    <style type="text/css">
                                        .st0{fill:#C7C7C7;}
                                    </style>
                                    <g>
                                        <g>
                                            <g>
                                                <path class="st0" d="M25.4,5.2c-11.1,0-20,9-20,20s9,20,20,20s20-9,20-20C45.4,14.2,36.4,5.2,25.4,5.2z M25.4,7.1
            c5.9,0,11.4,2.9,14.8,7.7l-2.4,2.4c-0.6-0.4-1.2-0.5-1.9-0.5c-2.1,0-3.8,1.7-3.8,3.8c0,0.7,0.2,1.3,0.5,1.9l-6.2,6.2
            c-1.2-0.7-2.7-0.7-3.9,0l-4.3-4.3c0.4-0.6,0.5-1.2,0.5-1.9c0-2.1-1.7-3.8-3.8-3.8c-1.7,0-3.3,1.2-3.7,2.9H7.6
            C9.5,13.1,16.8,7.1,25.4,7.1z M37.8,20.5c0,1.1-0.9,1.9-1.9,1.9S34,21.5,34,20.5s0.9-1.9,1.9-1.9S37.8,19.4,37.8,20.5z
             M26.3,31.9c0,1.1-0.9,1.9-1.9,1.9s-1.9-0.9-1.9-1.9s0.9-1.9,1.9-1.9S26.3,30.9,26.3,31.9z M16.8,22.4c0,1.1-0.9,1.9-1.9,1.9
            S13,23.4,13,22.4c0-1.1,0.9-1.9,1.9-1.9S16.8,21.3,16.8,22.4z M34.2,41.1c-2.7,1.5-5.7,2.3-8.8,2.3c-10,0-18.1-8.1-18.1-18.1
            c0-0.6,0-1.3,0.1-1.9h3.9c0.4,1.7,1.9,2.9,3.7,2.9c0.7,0,1.3-0.2,1.9-0.5l4.3,4.3c-0.4,0.6-0.5,1.2-0.5,1.9
            c0,2.1,1.7,3.8,3.8,3.8s3.8-1.7,3.8-3.8c0-0.7-0.2-1.3-0.5-1.9l6.2-6.2c0.6,0.4,1.2,0.5,1.9,0.5c2.1,0,3.8-1.7,3.8-3.8
            c0-0.7-0.2-1.3-0.5-1.9l2.1-2.1C46.1,25.2,42.9,36.2,34.2,41.1z"/>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path class="st0" d="M49.2,10.9c1.7,0,3.2-1.2,3.7-2.9h5.9V6.1h-5.9c-0.4-1.7-1.9-2.9-3.7-2.9c-2.1,0-3.8,1.7-3.8,3.8
            c0,0.7,0.2,1.3,0.5,1.9l-1.7,1.7c-8-10.5-23-12.4-33.5-4.4s-12.4,23-4.4,33.5C14,49.6,27.9,52,38.3,45.3l2.9,2.9l1.3,1.3l7.7,7.7
            c2,2,5.1,2,7.1,0c2-2,2-5.1,0-7.1l-7.7-7.7l-1.3-1.3l-2.9-2.9c5.1-7.9,5.1-18,0-25.9l1.9-1.9C47.9,10.7,48.5,10.9,49.2,10.9z
             M49.2,5.2c1.1,0,1.9,0.9,1.9,1.9S50.3,9,49.2,9s-1.9-0.9-1.9-1.9S48.2,5.2,49.2,5.2z M56,51.4c1.2,1.2,1.2,3.2,0,4.4
            c-1.2,1.2-3.2,1.2-4.4,0c0,0,0,0,0,0l-7.7-7.7l4.4-4.4L56,51.4z M46.9,42.4l-4.4,4.4l-2.6-2.6c0.1-0.1,0.3-0.2,0.4-0.3
            c0.1-0.1,0.3-0.2,0.4-0.4c0.2-0.2,0.4-0.4,0.6-0.5c0.1-0.1,0.2-0.2,0.3-0.3c0.4-0.4,0.8-0.7,1.1-1.1c0.1-0.1,0.2-0.2,0.3-0.3
            c0.2-0.2,0.4-0.4,0.5-0.6c0.1-0.1,0.2-0.3,0.4-0.4c0.1-0.1,0.2-0.3,0.3-0.4L46.9,42.4z M43.2,38c-0.3,0.4-0.6,0.8-0.9,1.2
            c-0.1,0.1-0.2,0.2-0.3,0.3c-0.3,0.3-0.6,0.7-0.9,1c-0.1,0.1-0.3,0.3-0.4,0.4c-0.3,0.3-0.6,0.6-1,0.9c-0.1,0.1-0.2,0.2-0.3,0.3
            c-0.4,0.3-0.8,0.6-1.2,0.9c-9.9,7.1-23.6,4.8-30.7-5.1S2.7,14.4,12.6,7.3s23.6-4.8,30.7,5.1C48.7,20.1,48.7,30.3,43.2,38z"/>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <p>Analytical</p>
                            <span class="active-arrow"></span>
                        </div>

                        <div class="icon-with-heading" data-tab="tab-D">
                            <div class="icon-box">
                                <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                    <style type="text/css">
                                        .st0{fill:#C7C7C7;}
                                    </style>
                                    <path id="Path_7443_4_" class="st0" d="M59.2,40.2c-0.5-0.3-1.1-0.2-1.5,0.3c0,0,0,0,0,0c-1.7,2.4-3.9,3.8-6.3,3.8
      c-0.1,0-0.2,0-0.3,0V34.1l0.3,0.3c0.4,0.4,1.1,0.4,1.5,0c0,0,0,0,0,0l4.2-4.2c0.4-0.4,0.4-1.1,0-1.5c0,0,0,0,0,0l-8.1-8.1V7.2
      c0-0.6-0.5-1.1-1.1-1.1c0,0,0,0,0,0h-6.3c-0.6,0-1.1,0.5-1.1,1.1c0,0,0,0,0,0v4.8l-9.8-9.8c-0.4-0.4-1.1-0.4-1.5,0c0,0,0,0,0,0
      L2.9,28.7c-0.4,0.4-0.4,1.1,0,1.5c0,0,0,0,0,0l4.2,4.2c0.4,0.4,1.1,0.4,1.5,0c0,0,0,0,0,0l0.3-0.3v10.1c-0.1,0-0.2,0-0.3,0l0,0
      c-2.3,0-4.6-1.3-6.3-3.8c-0.3-0.5-1-0.6-1.5-0.2c-0.5,0.3-0.6,1-0.3,1.4c2.1,3,4.9,4.7,8,4.7l0,0c2.8-0.1,5.4-1.4,7.1-3.6
      c1.7,2.2,4.3,3.5,7.1,3.6l0,0c2.8-0.1,5.4-1.4,7.1-3.6c3,3.9,8.6,4.7,12.5,1.8c0.7-0.5,1.3-1.1,1.8-1.8c1.7,2.2,4.3,3.5,7.1,3.6
      c3,0,5.9-1.7,8-4.7C59.8,41.2,59.7,40.5,59.2,40.2C59.2,40.2,59.2,40.2,59.2,40.2z M7.9,32.2l-2.7-2.7L30.1,4.5l10.9,10.9
      c0.4,0.4,1.1,0.4,1.5,0c0.2-0.2,0.3-0.5,0.3-0.7V8.3H47V21c0,0.3,0.1,0.5,0.3,0.7l7.7,7.7l-2.7,2.7L30.8,10.7
      c-0.4-0.4-1.1-0.4-1.5,0c0,0,0,0,0,0L7.9,32.2z M36.4,44.2c-2.3-0.4-4.3-1.8-5.5-3.7c-0.4-0.5-1.1-0.6-1.5-0.2
      c-0.1,0.1-0.1,0.1-0.2,0.2c-1.2,2-3.2,3.3-5.5,3.7V32.6h12.7L36.4,44.2z M49.1,43.7c-1.6-0.7-2.9-1.8-3.9-3.3
      c-0.4-0.5-1.1-0.6-1.5-0.2c-0.1,0.1-0.1,0.1-0.2,0.2c-1.1,1.8-2.9,3.1-5,3.6V31.5c0-0.6-0.5-1.1-1.1-1.1c0,0,0,0,0,0H22.7
      c-0.6,0-1.1,0.5-1.1,1.1c0,0,0,0,0,0v12.5c-2.1-0.5-3.8-1.9-5-3.7c-0.4-0.5-1.1-0.5-1.6-0.1c0,0-0.1,0.1-0.1,0.1
      c-1,1.4-2.3,2.6-3.9,3.3V32l19-19l19,19V43.7z M51.4,51c-2.1,3.6-6.7,4.9-10.3,2.8C40,53.1,39,52.2,38.3,51
      c-0.4-0.5-1.1-0.5-1.5-0.2c-0.1,0.1-0.1,0.1-0.2,0.2c-1.4,2.3-3.9,3.7-6.5,3.8l0,0c-2.6-0.1-5.1-1.5-6.5-3.7
      c-0.4-0.5-1.1-0.6-1.6-0.2c-0.1,0.1-0.1,0.1-0.2,0.2c-1.4,2.2-3.9,3.7-6.5,3.8l0,0c-2.7-0.1-5.1-1.5-6.5-3.8c-0.3-0.5-1-0.6-1.5-0.3
      s-0.6,1-0.3,1.5c0,0,0,0,0,0c2.2,3,5.1,4.7,8.2,4.7h0c2.9-0.1,5.6-1.4,7.4-3.6c1.8,2.2,4.5,3.5,7.4,3.6h0c2.9-0.1,5.6-1.4,7.4-3.6
      c1.8,2.2,4.5,3.5,7.4,3.6c3.1,0,6.1-1.7,8.3-4.7c0.4-0.5,0.3-1.1-0.2-1.5C52.5,50.4,51.8,50.5,51.4,51C51.4,51,51.4,51,51.4,51
      L51.4,51z"/>
                                </svg>
                            </div>
                            <p>Event Response</p>
                            <span class="active-arrow"></span>
                        </div>

                        <div class="icon-with-heading" data-tab="tab-E">
                            <div class="icon-box">
                                <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                    <style type="text/css">
                                        .st0{fill:#C7C7C7;}
                                    </style>
                                    <g>
                                        <path class="st0" d="M11.2,45.9c-0.8,0-1.6,0.2-2.3,0.6C5.3,41.8,3.3,36,3.3,30c0-14.8,12-26.8,26.8-26.8c1.8,0,3.6,0.2,5.3,0.5
        c0.6,0.1,1.2-0.3,1.3-0.9c0.1-0.6-0.3-1.2-0.9-1.3C33.9,1.2,32,1,30,1C22.3,1,15,4,9.5,9.5S1,22.3,1,30c0,6.5,2.2,12.9,6.2,18
        c-0.5,0.8-0.8,1.7-0.8,2.6c0,1.3,0.5,2.5,1.4,3.4c0.9,0.9,2.1,1.4,3.4,1.4s2.5-0.5,3.4-1.4c0.9-0.9,1.4-2.1,1.4-3.4
        c0-1.3-0.5-2.5-1.4-3.4C13.7,46.4,12.5,45.9,11.2,45.9z M13,52.4c-0.5,0.5-1.1,0.7-1.8,0.7c-0.7,0-1.3-0.3-1.8-0.7
        c-0.5-0.5-0.7-1.1-0.7-1.8c0-0.7,0.3-1.3,0.7-1.8c0.5-0.5,1.1-0.7,1.8-0.7c0.7,0,1.3,0.3,1.8,0.7c0.5,0.5,0.7,1.1,0.7,1.8
        C13.7,51.3,13.5,51.9,13,52.4z"/>
                                        <path class="st0" d="M52.8,12c1.2-1.8,1-4.4-0.6-6c-0.9-0.9-2.1-1.4-3.4-1.4S46.4,5.1,45.5,6c-0.9,0.9-1.4,2.1-1.4,3.4
        s0.5,2.5,1.4,3.4c0.9,0.9,2.1,1.4,3.4,1.4c0.8,0,1.6-0.2,2.3-0.6c3.7,4.7,5.7,10.5,5.7,16.4c0,14.8-12,26.8-26.8,26.8
        c-1.8,0-3.6-0.2-5.3-0.5c-0.6-0.1-1.2,0.3-1.3,0.9c-0.1,0.6,0.3,1.2,0.9,1.3c1.9,0.4,3.8,0.6,5.7,0.6c7.8,0,15-3,20.5-8.5
        s8.5-12.8,8.5-20.5C59.1,23.5,56.8,17.1,52.8,12z M47.1,11.1c-0.5-0.5-0.7-1.1-0.7-1.8c0-0.7,0.3-1.3,0.7-1.8
        c0.5-0.5,1.1-0.7,1.8-0.7c0.7,0,1.3,0.3,1.8,0.7c1,1,1,2.6,0,3.5c-0.5,0.5-1.1,0.7-1.8,0.7C48.2,11.9,47.6,11.6,47.1,11.1z"/>
                                        <path class="st0" d="M25.4,49.5c0,0.6,0.5,1.1,1.1,1.1h7.1c0.6,0,1.1-0.5,1.1-1.1v-2.2c1.5-0.4,2.9-1,4.3-1.8l1.6,1.6
        c0.2,0.2,0.5,0.3,0.8,0.3c0.3,0,0.6-0.1,0.8-0.3l5-5c0.4-0.4,0.4-1.2,0-1.6l-1.5-1.5c0.8-1.3,1.4-2.8,1.8-4.3h2.2
        c0.6,0,1.1-0.5,1.1-1.1v-7.1c0-0.6-0.5-1.1-1.1-1.1h-2.2c-0.4-1.5-1-2.9-1.8-4.3l1.5-1.5c0.2-0.2,0.3-0.5,0.3-0.8
        c0-0.3-0.1-0.6-0.3-0.8l-5-5c-0.4-0.4-1.2-0.4-1.6,0L39,14.4c-1.3-0.8-2.8-1.4-4.3-1.8v-2.2c0-0.6-0.5-1.1-1.1-1.1h-7.1
        c-0.6,0-1.1,0.5-1.1,1.1v2.2c-1.5,0.4-2.9,1-4.3,1.8l-1.5-1.5c-0.4-0.4-1.2-0.4-1.6,0l-5,5c-0.2,0.2-0.3,0.5-0.3,0.8
        c0,0.3,0.1,0.6,0.3,0.8l1.5,1.5c-0.8,1.3-1.4,2.8-1.8,4.3h-2.2c-0.6,0-1.1,0.5-1.1,1.1l0,7.1c0,0.3,0.1,0.6,0.3,0.8
        c0.2,0.2,0.5,0.3,0.8,0.3h2.2c0.4,1.5,1,2.9,1.8,4.3l-1.5,1.5c-0.4,0.4-0.4,1.2,0,1.6l5,5c0.2,0.2,0.5,0.3,0.8,0.3h0
        c0.3,0,0.6-0.1,0.8-0.3l1.6-1.6c1.3,0.8,2.8,1.4,4.3,1.8V49.5z M21.5,43.2c-0.4-0.3-1-0.2-1.4,0.2l-1.4,1.4l-3.4-3.4l1.4-1.4
        c0.4-0.4,0.4-1,0.2-1.4c-1-1.6-1.8-3.3-2.1-5.2c-0.1-0.5-0.6-0.9-1.1-0.9h-1.9l0-4.8h1.9c0.5,0,1-0.4,1.1-0.9
        c0.4-1.8,1.1-3.6,2.1-5.2c0.3-0.4,0.2-1-0.2-1.4l-1.4-1.4l3.4-3.4l1.4,1.4c0.4,0.4,1,0.4,1.4,0.2c1.6-1,3.3-1.8,5.2-2.1
        c0.5-0.1,0.9-0.6,0.9-1.1v-1.9h4.8v1.9c0,0.5,0.4,1,0.9,1.1c1.8,0.4,3.6,1.1,5.2,2.1c0.4,0.3,1,0.2,1.4-0.2l1.4-1.4l3.4,3.4
        l-1.4,1.4c-0.4,0.4-0.4,1-0.2,1.4c1,1.6,1.7,3.3,2.1,5.2c0.1,0.5,0.6,0.9,1.1,0.9h1.9v4.8h-1.9c-0.5,0-1,0.4-1.1,0.9
        c-0.4,1.8-1.1,3.6-2.1,5.2c-0.3,0.4-0.2,1,0.2,1.4l1.4,1.4l-3.4,3.4l-1.4-1.4c-0.4-0.4-1-0.4-1.4-0.2c-1.6,1-3.3,1.7-5.2,2.1
        c-0.5,0.1-0.9,0.6-0.9,1.1v2h-4.8v-2c0-0.5-0.4-1-0.9-1.1C24.9,44.9,23.1,44.2,21.5,43.2z"/>
                                        <path class="st0" d="M39.4,30c0-5.2-4.2-9.4-9.4-9.4s-9.4,4.2-9.4,9.4s4.2,9.4,9.4,9.4S39.4,35.2,39.4,30z M22.9,30
        c0-3.9,3.2-7.1,7.1-7.1s7.1,3.2,7.1,7.1s-3.2,7.1-7.1,7.1S22.9,33.9,22.9,30z"/>
                                        <path class="st0" d="M40.5,5.3c0.3,0,0.6-0.1,0.8-0.3c0.2-0.2,0.3-0.5,0.3-0.8c0-0.3-0.1-0.6-0.3-0.8C41.1,3.1,40.8,3,40.5,3
        c-0.3,0-0.6,0.1-0.8,0.3c-0.2,0.2-0.3,0.5-0.3,0.8c0,0.3,0.1,0.6,0.3,0.8C39.9,5.1,40.2,5.3,40.5,5.3z"/>
                                        <path class="st0" d="M19.6,54.8c-0.3,0-0.6,0.1-0.8,0.3c-0.2,0.2-0.3,0.5-0.3,0.8c0,0.3,0.1,0.6,0.3,0.8s0.5,0.3,0.8,0.3
        c0.3,0,0.6-0.1,0.8-0.3s0.3-0.5,0.3-0.8c0-0.3-0.1-0.6-0.3-0.8C20.2,54.9,19.9,54.8,19.6,54.8z"/>
                                    </g>
                                </svg>
                            </div>
                            <p>Support</p>
                            <span class="active-arrow"></span>
                        </div>
                    </div>
                </div>

                <div class="text-with-image tab-text hide" id="tab-A">
                    <div class="col-two text-content">
                        <h3>Consulting Services</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt
                            augue interdum velit euismod in. </p>
                        <p>Mattis enim ut tellus elementum sagittis vitae et leo. Consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum
                            sagittis vitae et leo. Tincidunt augue interdum velit euismod in. Tincidunt augue interdum velit
                            euismod in. </p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                    <div class="col-two bg-img ">
                        <div class="img-wrapper">
                            <div class="top-border"></div>
                            <img src="/themes/rms/templates/dist/images/consulting.jpg" alt="image">
                        </div>
                    </div>
                </div>
                <div class="text-with-image tab-text" id="tab-B">
                    <div class="col-two text-content">
                        <h3>RMS Hosted</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt
                            augue interdum velit euismod in. </p>
                        <p>Mattis enim ut tellus elementum sagittis vitae et leo. Consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum
                            sagittis vitae et leo. Tincidunt augue interdum velit euismod in. Tincidunt augue interdum velit
                            euismod in. </p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                    <div class="col-two bg-img">
                        <div class="img-wrapper">
                            <div class="top-border"></div>
                            <img src="/themes/rms/templates/dist/images/consulting.jpg" alt="image">
                        </div>
                    </div>
                </div>
                <div class="text-with-image tab-text" id="tab-C">
                    <div class="col-two text-content">
                        <h3>Analytical</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt
                            augue interdum velit euismod in. </p>
                        <p>Mattis enim ut tellus elementum sagittis vitae et leo. Consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum
                            sagittis vitae et leo. Tincidunt augue interdum velit euismod in. Tincidunt augue interdum velit
                            euismod in. </p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                    <div class="col-two bg-img">
                        <div class="img-wrapper">
                            <div class="top-border"></div>
                            <img src="/themes/rms/templates/dist/images/consulting.jpg" alt="image">
                        </div>
                    </div>
                </div>
                <div class="text-with-image tab-text" id="tab-D">
                    <div class="col-two text-content">
                        <h3>Event Response</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt
                            augue interdum velit euismod in. </p>
                        <p>Mattis enim ut tellus elementum sagittis vitae et leo. Consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum
                            sagittis vitae et leo. Tincidunt augue interdum velit euismod in. Tincidunt augue interdum velit
                            euismod in. </p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                    <div class="col-two bg-img">
                        <div class="img-wrapper">
                            <div class="top-border"></div>
                            <img src="/themes/rms/templates/dist/images/consulting.jpg" alt="image">
                        </div>
                    </div>
                </div>
                <div class="text-with-image tab-text" id="tab-E">
                    <div class="col-two text-content">
                        <h3>Support</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo. Tincidunt
                            augue interdum velit euismod in. </p>
                        <p>Mattis enim ut tellus elementum sagittis vitae et leo. Consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum
                            sagittis vitae et leo. Tincidunt augue interdum velit euismod in. Tincidunt augue interdum velit
                            euismod in. </p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                    <div class="col-two bg-img">
                        <div class="img-wrapper">
                            <div class="top-border"></div>
                            <img src="/themes/rms/templates/dist/images/consulting.jpg" alt="image">
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>