<section class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.3s">
    <div class="container">
        <h3>Our Solutions</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua, at vero eos et et.</p>
        <div class="button-box">
            <a href="#" class="learn-more">Explore Our Solutions</a>
        </div>
    </div>
</section>