<section class="logo-four-grid animation-second ">
    <div class="bg-img">
        <img src="/themes/rms/templates/dist/images/bach-image.jpg" alt="Beach Image">
    </div>
    <div class="container">
        <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.4s">
            <h3>The Four Pillars of Our Mission</h3>
        </div>
        <div class="container-box">
            <div class="pattern-animation" id="lottie2">
            </div>
            <div class="row-wrap wow fadeInUp" data-wow-delay="0.5s">
                <div class="content-box">
                    <div class="icon-box">
                        {#<img src="/themes/rms/templates/dist/images/people_icon.svg"#}
                        {#alt="Ag risk image"/>#}
                        <svg xmlns="http://www.w3.org/2000/svg" width="130" height="130" viewBox="0 0 130 130">
                            <defs>
                                <clipPath id="prefix__clip-path">
                                    <circle id="prefix__Ellipse_351" cx="65" cy="65" r="65" data-name="Ellipse 351"
                                            transform="translate(307 2603)" style="stroke:#2e2e2e;fill:#2e2e2e"/>
                                </clipPath>
                            </defs>
                            <g id="prefix__people_icon" transform="translate(-307 -2603)">
                                <g id="prefix__Layer_2" data-name="Layer 2" transform="translate(307 2603)">
                                    <g id="prefix__Layer_1" data-name="Layer 1">
                                        <path id="prefix__Path_8824"
                                              d="M120.25 65A55.25 55.25 0 1 0 18.642 95.056V85.8a6.8 6.8 0 0 1 6.773-6.773h7.644l6.89 11.1L46.8 78.988h7.644a6.8 6.8 0 0 1 6.825 6.812v34.307c1.235.078 2.47.143 3.731.143a32.322 32.322 0 0 0 3.731-.143V85.8a6.8 6.8 0 0 1 6.769-6.773h7.7l6.89 11.1 6.89-11.1h7.644a6.8 6.8 0 0 1 6.721 6.773v9.3A54.977 54.977 0 0 0 120.25 65zM39.962 75.309a14.963 14.963 0 1 1 14.963-14.95 14.963 14.963 0 0 1-14.963 14.95zM65 47.918A12.688 12.688 0 1 1 77.688 35.23 12.688 12.688 0 0 1 65 47.918zm25.038 27.391a14.963 14.963 0 1 1 14.95-14.95 14.963 14.963 0 0 1-14.95 14.95z"
                                              class="prefix__cls-3" data-name="Path 8824"/>
                                        <path id="prefix__Path_8825"
                                              d="M65 130a65 65 0 1 1 65-65 65 65 0 0 1-65 65zM65 5.2A59.8 59.8 0 1 0 124.8 65 59.8 59.8 0 0 0 65 5.2z"
                                              class="prefix__cls-3" data-name="Path 8825"/>
                                    </g>
                                </g>
                            </g>
                        </svg>

                    </div>
                    <p>People</p>
                    <div class="side-content">
                        <h3>Lorem Ipsum</h3>
                        <p>Nam vitae vehicula risus. Vestibulum magna elit, cursus sit amet interdum lobortis, posuere
                            vitae
                            velit. Morbi nec urna lacinia, molestie mauris id, efficitur leo. Fusce maximus, mi sed
                            scelerisque pharetra, tortor sapien faucibus.</p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="icon-box">
                        {#<img src="/themes/rms/templates/dist/images/planet_icon.svg"#}
                        {#alt="Flood icon"/>#}
                        <svg xmlns="http://www.w3.org/2000/svg" width="130" height="130" viewBox="0 0 130 130">
                            <defs>
                                <clipPath id="prefix__clip-path">
                                    <circle id="prefix__Ellipse_352" cx="65" cy="65" r="65" data-name="Ellipse 352"
                                            transform="translate(537 2603)" style="stroke:#2e2e2e;fill:#2e2e2e"/>
                                </clipPath>
                                <style>
                                    .prefix__cls-3 {
                                        fill: #2e2e2e
                                    }
                                </style>
                            </defs>
                            <g id="prefix__planet_icon" transform="translate(-537 -2603)">
                                <g id="prefix__Layer_2" data-name="Layer 2" transform="translate(537 2603)">
                                    <g id="prefix__Layer_1" data-name="Layer 1">
                                        <path id="prefix__Path_8826"
                                              d="M65 130a65 65 0 1 1 65-65 65 65 0 0 1-65 65zM65 5.2A59.8 59.8 0 1 0 124.8 65 59.8 59.8 0 0 0 65 5.2z"
                                              class="prefix__cls-3" data-name="Path 8826"/>
                                        <path id="prefix__Path_8827"
                                              d="M45.5 85.267c2.925 9.659 7.878 16.9 13.78 19.838.52.078 1.04.117 1.573.169-.351-3.692-.689-12.649 2.9-20.007z"
                                              class="prefix__cls-3" data-name="Path 8827"/>
                                        <path id="prefix__Path_8828"
                                              d="M44.9 83.109h19.021v-17.03H42.679a71.188 71.188 0 0 0 2.221 17.03z"
                                              class="prefix__cls-3" data-name="Path 8828"/>
                                        <path id="prefix__Path_8829"
                                              d="M42.679 63.921h21.242V46.878H44.954a70.993 70.993 0 0 0-2.275 17.043z"
                                              class="prefix__cls-3" data-name="Path 8829"/>
                                        <path id="prefix__Path_8830"
                                              d="M45.565 44.72h18.356V24.7a40.534 40.534 0 0 0-4.628.39C53.417 27.95 48.5 35.1 45.565 44.72z"
                                              class="prefix__cls-3" data-name="Path 8830"/>
                                        <path id="prefix__Path_8831"
                                              d="M54.028 26.182A40.586 40.586 0 0 0 30.1 44.72h13.281c2.379-7.969 6.11-14.469 10.647-18.538z"
                                              class="prefix__cls-3" data-name="Path 8831"/>
                                        <path id="prefix__Path_8832"
                                              d="M42.77 46.878H28.912a40.144 40.144 0 0 0-4.312 17.03h15.934a72.332 72.332 0 0 1 2.236-17.03z"
                                              class="prefix__cls-3" data-name="Path 8832"/>
                                        <path id="prefix__Path_8833"
                                              d="M40.534 66.079H24.6a40.144 40.144 0 0 0 4.225 17.03h13.91a72.488 72.488 0 0 1-2.2-17.03z"
                                              class="prefix__cls-3" data-name="Path 8833"/>
                                        <path id="prefix__Path_8834"
                                              d="M43.316 85.267H29.991A40.586 40.586 0 0 0 54.028 104c-4.628-4.108-8.333-10.673-10.712-18.733z"
                                              class="prefix__cls-3" data-name="Path 8834"/>
                                        <path id="prefix__Path_8835"
                                              d="M86.619 44.72h13.273a40.586 40.586 0 0 0-23.933-18.538c4.541 4.069 8.281 10.569 10.66 18.538z"
                                              class="prefix__cls-3" data-name="Path 8835"/>
                                        <path id="prefix__Path_8836"
                                              d="M70.707 25.077a40.534 40.534 0 0 0-4.628-.39V44.72h18.343C81.5 35.1 76.57 27.95 70.707 25.077z"
                                              class="prefix__cls-3" data-name="Path 8836"/>
                                        <path id="prefix__Path_8837"
                                              d="M98.033 66.079c1.3 4.9 2.782 12.207 2.34 17.03h.806a40.144 40.144 0 0 0 4.225-17.03z"
                                              class="prefix__cls-3" data-name="Path 8837"/>
                                        <path id="prefix__Path_8838" d="M99.944 85.358v-.091z" class="prefix__cls-3"
                                              data-name="Path 8838"/>
                                        <path id="prefix__Path_8839"
                                              d="M65 9.75A55.25 55.25 0 1 0 120.25 65 55.25 55.25 0 0 0 65 9.75zm5.668 98.995a66.794 66.794 0 0 0 12.155-11.96c7.111-9 11.388-18.811 12.532-27.3a81.316 81.316 0 0 1-13.312 23.751 84.721 84.721 0 0 1-16.25 15.86H65a44.122 44.122 0 1 1 5.668-.377z"
                                              class="prefix__cls-3" data-name="Path 8839"/>
                                        <path id="prefix__Path_8840"
                                              d="M101.075 46.878H87.217a72.332 72.332 0 0 1 2.236 17.03h4.29a32.161 32.161 0 0 0 2.834-3.029s.364 1.17.871 3.029h7.93a40.144 40.144 0 0 0-4.303-17.03z"
                                              class="prefix__cls-3" data-name="Path 8840"/>
                                        <path id="prefix__Path_8841"
                                              d="M89.4 67.353c.637-.442 1.222-.858 1.768-1.3h-1.715c0 .455-.039.871-.053 1.3z"
                                              class="prefix__cls-3" data-name="Path 8841"/>
                                        <path id="prefix__Path_8842"
                                              d="M66.079 81.536a17.927 17.927 0 0 1 6.721-5.369 132.984 132.984 0 0 0 14.3-7.384c0-.9.1-1.781.117-2.691H66.079z"
                                              class="prefix__cls-3" data-name="Path 8842"/>
                                        <path id="prefix__Path_8843"
                                              d="M85.046 46.878H66.079v17.03h21.229a70.993 70.993 0 0 0-2.262-17.03z"
                                              class="prefix__cls-3" data-name="Path 8843"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <p>Planet</p>
                    <div class="side-content">
                        <h3>Lorem Ipsum</h3>
                        <p>Nam vitae vehicula risus. Vestibulum magna elit, cursus sit amet interdum lobortis, posuere
                            vitae
                            velit. Morbi nec urna lacinia, molestie mauris id, efficitur leo. Fusce maximus, mi sed
                            scelerisque pharetra, tortor sapien faucibus.</p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="icon-box">
                        {#<img src="/themes/rms/templates/dist/images/performance_icon.svg"#}
                        {#alt="Marine cargo"/>#}
                        <svg xmlns="http://www.w3.org/2000/svg" width="130" height="130" viewBox="0 0 130 130">
                            <defs>
                                <clipPath id="prefix__clip-path">
                                    <circle id="prefix__Ellipse_353" cx="65" cy="65" r="65" data-name="Ellipse 353"
                                            transform="translate(765 2603)" style="stroke:#2e2e2e;fill:#2e2e2e"/>
                                </clipPath>
                            </defs>
                            <g id="prefix__performance_icon" transform="translate(-765 -2603)">
                                <g id="prefix__Layer_2" data-name="Layer 2" transform="translate(765 2603)">
                                    <g id="prefix__Layer_1" data-name="Layer 1">
                                        <path id="prefix__Path_8844"
                                              d="M65 130a65 65 0 1 1 65-65 65 65 0 0 1-65 65zM65 5.2A59.8 59.8 0 1 0 124.8 65 59.8 59.8 0 0 0 65 5.2zm0 4.55A55.25 55.25 0 1 0 120.25 65 55.25 55.25 0 0 0 65 9.75zm27.937 57.278a98.724 98.724 0 0 1-5.954 9.1C85.4 78.442 84.994 80.4 84.8 83.733c-.26 5.824.13 8.047.182 11.778v2.171c-6.851 6.006-23.4 10.127-31.629 11.895a8 8 0 0 1 0-1.131 65 65 0 0 0-.26-15.47c-.689-2.327-2.535-2.509-4.992-2.2a38.287 38.287 0 0 1-5.408.481 4.069 4.069 0 0 1-4.3-4.693c0-.975.481-1.937.507-2.912 0-.676-.13-1.7-.572-1.989-1.4-.9-1.677-1.794-.468-3.081-1.378-.546-1.43-1.4-1-2.6.78-2.093.364-2.847-1.742-3.627-.364-.13-.728-.247-1.079-.4a2.34 2.34 0 0 1-1.391-3.484 22.165 22.165 0 0 1 1.677-3.029c1.443-2.275 2.964-4.511 4.407-6.8A4.368 4.368 0 0 0 39 54.158a9.022 9.022 0 0 1-.871-3.653c-.1-8.19 3.9-14.625 9.529-19.968 6.981-6.6 15.6-8.164 24.8-6.409 11.011 2.106 19.279 7.982 23.049 18.967 2.851 8.32 1.486 16.354-2.57 23.933zm-.533-15.5l-.884-3.12-2.158.377a7.384 7.384 0 0 0-1.3-1.651l.871-2.015-2.833-1.582-1.3 1.794a7.384 7.384 0 0 0-2.093-.247L81.9 43.03l-3.12.884.377 2.158a7.384 7.384 0 0 0-1.651 1.3l-2.015-.872-1.547 2.9 1.794 1.3a7.384 7.384 0 0 0-.247 2.093l-2.041.807.884 3.12 2.158-.377a7.384 7.384 0 0 0 1.3 1.651l-.871 2.015 2.834 1.586 1.3-1.794a7.384 7.384 0 0 0 2.093.247l.806 2.041L87.1 61.1l-.377-2.158a7.384 7.384 0 0 0 1.651-1.3l2.015.871 1.586-2.834-1.794-1.3a7.384 7.384 0 0 0 .247-2.093zm-8.229 5.412a4.6 4.6 0 1 1 3.185-5.681 4.6 4.6 0 0 1-3.185 5.681zM75.01 45.357v-4.2l-2.821-.286a9.555 9.555 0 0 0-1.04-2.522l1.794-2.2-2.977-2.977-2.2 1.794a9.555 9.555 0 0 0-2.522-1.04L65 31.109h-4.238l-.286 2.821a9.555 9.555 0 0 0-2.522 1.04l-2.184-1.794-2.977 2.977 1.807 2.2a9.568 9.568 0 0 0-1.04 2.522l-2.86.286v4.2l2.821.286A9.568 9.568 0 0 0 54.6 48.1l-1.794 2.2 2.964 3 2.2-1.794a9.555 9.555 0 0 0 2.522 1.04l.286 2.821H65l.286-2.821a9.555 9.555 0 0 0 2.522-1.04l2.158 1.794 2.977-2.977-1.794-2.223a9.555 9.555 0 0 0 1.04-2.522zm-12.142 3.9a5.948 5.948 0 1 0 0-.039zm0-9.373a3.387 3.387 0 1 0 0-.039z"
                                              data-name="Path 8844" style="fill:#2e2e2e"/>
                                    </g>
                                </g>
                            </g>
                        </svg>

                    </div>
                    <p>Performance</p>
                    <div class="side-content">
                        <h3>Lorem Ipsum</h3>
                        <p>Nam vitae vehicula risus. Vestibulum magna elit, cursus sit amet interdum lobortis, posuere
                            vitae
                            velit. Morbi nec urna lacinia, molestie mauris id, efficitur leo. Fusce maximus, mi sed
                            scelerisque pharetra, tortor sapien faucibus.</p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="icon-box">
                        {#<img src="/themes/rms/templates/dist/images/mask_group.svg"#}
                        {#alt="hurricane Icon"/>#}
                        <svg xmlns="http://www.w3.org/2000/svg" width="130" height="130" viewBox="0 0 130 130">
                            <defs>
                                <clipPath id="prefix__clip-path">
                                    <circle id="prefix__Ellipse_354" cx="65" cy="65" r="65" data-name="Ellipse 354"
                                            transform="translate(995 2603)" style="stroke:#2e2e2e;fill:#2e2e2e"/>
                                </clipPath>
                                <style>
                                    .prefix__cls-3 {
                                        fill: #2e2e2e
                                    }
                                </style>
                            </defs>
                            <g id="prefix__Mask_Group_48" data-name="Mask Group 48" transform="translate(-995 -2603)">
                                <g id="prefix__Layer_2" data-name="Layer 2" transform="translate(995 2603)">
                                    <g id="prefix__Layer_1" data-name="Layer 1">
                                        <path id="prefix__Path_8845"
                                              d="M65 130a65 65 0 1 1 65-65 65 65 0 0 1-65 65zM65 5.2A59.8 59.8 0 1 0 124.8 65 59.8 59.8 0 0 0 65 5.2z"
                                              class="prefix__cls-3" data-name="Path 8845"/>
                                        <path id="prefix__Path_8846"
                                              d="M65 9.75A55.25 55.25 0 1 0 120.25 65 55.25 55.25 0 0 0 65 9.75zM22.958 63.7a19.5 19.5 0 0 1 2.405-20.124c4.407-6.11 10.4-9.581 18.083-9.529 6.1 0 10.946 3.081 15.132 7.332s8.632 8.658 13 13c2.015 2 2.4 3.588 1.3 5.434a3.51 3.51 0 0 1-5.759.7c-2.6-2.6-6.5-6.6-9.1-9.1l-24.7 24.791C29 71.5 25.389 69.394 22.958 63.7zM39.78 81.471a8 8 0 0 1-2.38-2.951c-.182-.312.221-1.2.6-1.573 4.017-4.043 8.1-8.008 12.129-12.038 2.6-2.6 5.2-5.278 7.8-7.9.351-.351.286-.221.715-.611l4.81 4.758c-1.976 1.872-3.51 3.263-5.434 5.2-3.394 3.324-6.748 6.704-10.128 10.044-1.534 1.521-3.068 3.029-4.6 4.55a2.886 2.886 0 0 1-3.51.52zm60.957-8.528c-6.578 6.5-13.117 13.117-19.682 19.682q-6.3 6.292-12.649 12.571a3.458 3.458 0 0 1-5.2.143 3.627 3.627 0 0 1 0-5.343c2.47-2.6 5.018-5.044 7.54-7.553L83.018 80.2l-3.042-3.016c-3.549 3.614-6.188 6.331-9.581 9.75s-6.5 6.5-9.776 9.8A3.822 3.822 0 0 1 55 97.11c-1.716-1.677-1.69-3.627.182-5.525q9.685-9.763 19.422-19.5c.221-.221-.3.273 0 0L71.5 69.121c-2.756 2.808-4.732 4.849-7.462 7.592q-5.938 5.98-11.921 11.921a3.5 3.5 0 0 1-3.731 1.3 3.458 3.458 0 0 1-2.769-3.159 4.81 4.81 0 0 1 1.027-3.12c6.5-6.591 13-13.078 19.5-19.565a7.293 7.293 0 0 0 8.307-11.7l-6.5-6.5c3.9-3.9 7.371-7.995 12.662-9.789 8.918-3.029 18.031.6 23.517 7.709a20.046 20.046 0 0 1 3.549 19.279c-1.235 3.9-4 6.942-6.942 9.854z"
                                              class="prefix__cls-3" data-name="Path 8846"/>
                                    </g>
                                </g>
                            </g>
                        </svg>

                    </div>
                    <p>Philanthropy</p>
                    <div class="side-content">
                        <h3>Lorem Ipsum</h3>
                        <p>Nam vitae vehicula risus. Vestibulum magna elit, cursus sit amet interdum lobortis, posuere
                            vitae
                            velit. Morbi nec urna lacinia, molestie mauris id, efficitur leo. Fusce maximus, mi sed
                            scelerisque pharetra, tortor sapien faucibus.</p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
