<section class="logo-grid animation-second ">
    <div class="bg-img">
        <img src="/themes/rms/templates/dist/images/model-bg.jpg" alt="overlay image">
    </div>
    <div class="container">
        <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.4s">
            <h3>Models</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua, at vero eos et et.</p>
            <div class="button-box">
                <a href="#" class="learn-more">Explore Our Models</a>
            </div>
        </div>
        <div class="container-box">
            <div class="pattern-animation" id="lottie2">
            </div>
            <div class="row-wrap wow fadeInUp" data-wow-delay="0.5s">
                <div class="content-box">
                    <div class="icon-box">
                        {#<img src="/themes/rms/templates/dist/images/ag-risk-icon.svg"#}
                        {#alt="Ag risk image"/>#}
                        <svg xmlns="http://www.w3.org/2000/svg" id="ag_risk_icon"
                             viewBox="0 0 104.558 104.558">
                            <g id="Group_4154" data-name="Group 4154">
                                <path id="Path_5497"
                                      d="M144.175 133.4a52.279 52.279 0 1 0 52.279 52.279 52.3 52.3 0 0 0-52.279-52.279zm0 101a48.672 48.672 0 1 1 48.619-48.724 48.661 48.661 0 0 1-48.619 48.73z"
                                      class="svg-img" data-name="Path 5497" transform="translate(-91.896 -133.403)"/>
                            </g>
                            <g id="Group_4155" data-name="Group 4155" transform="translate(7.528 7.528)">
                                <path id="Path_5498"
                                      d="M162.845 218.3a5.237 5.237 0 0 0 1.926-2.479c.7-2.429-.181-4.976-.784-4.829s.1 3.519-.857 4.916a6.534 6.534 0 0 1-1.853 1.758 18.078 18.078 0 0 0-6.208.009c.03-.175.054-.35.087-.527.47-2.488 1.715-5.838 2.263-7.694.931-3.155 1.1-4.057 1.1-4.057h-4.869s-.9 3.2-1.568 7.1a49.088 49.088 0 0 1-6.937.421c-3.091-.142-8.232-4.443-9.173-4.083-.829.318 1.76 3.383 5.329 5.175a6.093 6.093 0 0 0-2.679 3.007c-.7 2.428.181 4.976.784 4.829s-.1-3.52.857-4.917a6.833 6.833 0 0 1 2.687-2.22 22.1 22.1 0 0 0 8.714.619 36.368 36.368 0 0 0-.306 4.548c.018 3.386 1.9 10.287 2.9 10.393.838.088.012-4.527.488-10l.015.057a28.871 28.871 0 0 1 6.879-.5c2.979.279 5.064 2.932 5.362 2.43.255-.443-1.836-2.721-4.157-3.956z"
                                      class="svg-img" data-name="Path 5498" transform="translate(-100.824 -143.226)"/>
                                <path id="Path_5499"
                                      d="M144.423 141.179a44.75 44.75 0 0 0-41.221 62.17h49.3s10.15-43.644-5.411-47.022c-11.635-2.526-13 7.642-13.149 10.643a8.757 8.757 0 0 1 5.721 3.767 18.478 18.478 0 0 1 3.236 12.162 14.578 14.578 0 0 0-3.989-2.795c-5.564-2.981-7.183-7.325-7.64-10.139-.658 2.775-2.584 6.992-8.346 9.566a14.626 14.626 0 0 0-4.178 2.5 18.47 18.47 0 0 1 4.1-11.9c2.317-2.642 4.6-3.314 6.263-3.361.077-1.039 1.519-16.762 17.985-14.472 8.312 1.156 11.465 10.262 12.327 20.468a18.307 18.307 0 0 1 3.63-3.3 14.329 14.329 0 0 0 3.327-2.906 15.456 15.456 0 0 1-1.332 11.558c-1.69 2.918-3.762 3.563-5.378 3.511a141.246 141.246 0 0 1-2.3 21.718h28.278a44.75 44.75 0 0 0-41.221-62.17zm-13.434 36.476c.136.077 3.513 3.481 3.323 7.632a11.8 11.8 0 0 1-3.867 7.561 11.8 11.8 0 0 1-3.315-7.819c.107-4.152 3.719-7.306 3.859-7.374z"
                                      class="svg-img" data-name="Path 5499" transform="translate(-99.672 -141.179)"/>
                            </g>
                        </svg>

                    </div>
                    <p>Ag Risk</p>
                    <div class="side-content">
                        <h3>Lorem Ipsum</h3>
                        <p>Nam vitae vehicula risus. Vestibulum magna elit, cursus sit amet interdum lobortis, posuere
                            vitae
                            velit. Morbi nec urna lacinia, molestie mauris id, efficitur leo. Fusce maximus, mi sed
                            scelerisque pharetra, tortor sapien faucibus.</p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="icon-box">
                        {#<img src="/themes/rms/templates/dist/images/flood-icon.svg"#}
                        {#alt="Flood icon"/>#}
                        {#<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"#}
                        {#viewBox="0 0 144 144" style="enable-background:new 0 0 144 144;" xml:space="preserve">#}
                        {#<style type="text/css">#}

                        {#.st1{fill:none;}#}
                        {#</style>#}
                        {#<g>#}
                        {#<g>#}
                        {#<path class="svg-img" d="M72.14,10.37c-33.98,0-61.78,27.65-61.78,61.78c0,33.98,27.65,61.63,61.63,61.63s61.63-27.65,61.63-61.63#}
                        {#C133.78,38.02,106.13,10.37,72.14,10.37z M103.39,113.9c-0.43,1.73-2.3,3.31-3.74,4.18c-1.87,1.15-4.03,1.73-6.19,1.73#}
                        {#c-2.74,0-5.33-0.86-7.34-2.45c-4.03,3.31-10.51,3.31-14.69,0c-4.03,3.31-10.51,3.31-14.69,0c-3.46,2.74-8.5,3.17-12.53,1.3#}
                        {#c-1.73-0.86-3.31-2.02-4.32-3.74s-0.29-3.89,2.02-4.03c2.16-0.14,2.74,2.16,4.46,3.02c1.58,0.86,3.6,1.01,5.33,0.43#}
                        {#c0.86-0.29,1.73-0.72,2.3-1.44c0.72-0.72,1.01-1.44,2.02-1.73c2.16-0.58,2.74,1.01,4.03,2.16c1.58,1.3,3.89,1.73,5.9,1.15#}
                        {#c1.01-0.29,2.02-0.72,2.74-1.58c0.86-1.01,1.3-2.02,2.74-2.02c2.02,0,2.45,2.16,4.03,3.02c1.44,0.86,3.31,1.01,4.9,0.58#}
                        {#c0.86-0.14,1.58-0.58,2.3-1.01c0.72-0.58,1.01-1.3,1.58-1.87c1.15-1.01,3.02-0.72,4.03,0.29c1.15,1.3,2.02,2.3,3.89,2.59#}
                        {#c1.58,0.29,3.17,0.14,4.61-0.72c1.44-0.86,2.02-2.74,3.74-3.02C102.1,110.59,103.82,112.18,103.39,113.9z M113.76,101.23#}
                        {#c-2.74,4.61-7.78,6.77-12.96,6.77c-4.03,0-6.77-1.15-9.65-3.17c-2.88,2.02-5.76,3.17-9.22,3.17c-3.74,0-7.34-1.3-10.37-3.46#}
                        {#c-5.76,4.18-13.68,3.89-19.44-0.29c-4.61,3.31-10.94,3.89-16.27,1.87c-2.3-0.86-4.46-2.3-6.05-4.18#}
                        {#c-0.86-0.86-1.73-1.87-0.86-3.17c0.72-1.01,2.45-1.3,3.74-1.15c2.74,0.29,3.6,3.17,5.9,4.18c2.16,1.01,5.04,1.01,7.34,0.14#}
                        {#c2.16-1.01,2.88-3.6,5.47-3.89c1.01-0.14,2.02,0,2.88,0.43c1.15,0.58,1.58,1.58,2.45,2.45c2.02,2.02,5.18,2.3,7.92,1.58#}
                        {#c1.44-0.43,2.59-1.15,3.46-2.3c1.01-1.3,2.02-2.02,3.6-2.02c2.88,0,3.6,2.59,5.62,3.89c1.87,1.3,4.32,1.73,6.62,1.15#}
                        {#c1.01-0.29,1.87-0.72,2.59-1.3c0.86-0.72,1.3-1.87,2.16-2.45c1.44-1.15,3.74-1.15,5.33-0.14c0.86,0.58,1.15,1.44,1.87,2.16#}
                        {#c0.86,0.86,1.73,1.44,2.88,1.73c2.16,0.58,4.75,0.29,6.62-1.01c1.87-1.44,2.59-3.74,5.33-3.89c1.15,0,2.3,0.43,3.17,1.01#}
                        {#C114.48,99.65,114.34,100.37,113.76,101.23z M106.39,77.63v10.5c0,3.17-3.51,5.33-6.39,5.47c-1.58,0.14-2.98-0.29-4.28-1.15#}
                        {#c-1.44-0.86-1.85-2.45-3.15-3.31c-1.01-0.72-2.44-0.72-3.59-0.29c-1.3,0.58-1.58,2.02-2.59,2.88c-2.16,1.87-5.33,2.16-7.92,1.3#}
                        {#c-1.58-0.58-2.59-1.44-3.6-2.88c-0.86-1.3-2.16-2.02-3.74-1.73c-1.73,0.43-2.16,2.16-3.46,3.17c-1.01,0.86-2.3,1.44-3.6,1.58#}
                        {#c-2.59,0.43-5.76-0.29-7.49-2.45c-0.86-1.15-1.44-2.16-3.02-2.3c-1.15-0.14-2.45,0.43-3.17,1.3c-1.01,1.3-1.73,2.3-3.31,3.02#}
                        {#c-1.15,0.43-2.68,0.72-3.97,0.58c-1.87-0.14-5.85-0.72-5.85-3.17V77.63h-8.9l-6.13-6.85l16.47-12.61v-7.91h13.13l0,0L72,37.81#}
                        {#l49.25,32.87l-4.61,6.95H106.39z"/>#}
                        {#<rect x="81.91" y="74.8" class="svg-img" width="11.52" height="10.08"/>#}
                        {#</g>#}
                        {#<g>#}
                        {#<path class="svg-img" d="M72,0C32.26,0,0,32.26,0,72s32.26,72,72,72s72-32.26,72-72C144,32.4,111.74,0,72,0z M72,139.1#}
                        {#c-37.01,0-66.96-30.1-66.96-66.96C4.9,35.14,34.99,5.04,72,5.04s66.96,30.1,66.96,66.96C138.96,109.01,108.86,139.1,72,139.1z"/>#}
                        {#</g>#}
                        {#</g>#}
                        {#<rect class="st1" width="144" height="144"/>#}
                        {#</svg>#}
                        l<?xml version="1.0" encoding="utf-8"?>
                        <!-- Generator: Adobe Illustrator 24.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 144 144" style="enable-background:new 0 0 144 144;" xml:space="preserve">
                            <style type="text/css">

                                .st1{fill:none;}
                            </style>
                            <g>
                                <g>
                                    <path class="svg-img" d="M72.14,10.37c-33.98,0-61.78,27.65-61.78,61.78c0,33.98,27.65,61.63,61.63,61.63s61.63-27.65,61.63-61.63
			C133.78,38.02,106.13,10.37,72.14,10.37z M103.39,113.9c-0.43,1.73-2.3,3.31-3.74,4.18c-1.87,1.15-4.03,1.73-6.19,1.73
			c-2.74,0-5.33-0.86-7.34-2.45c-4.03,3.31-10.51,3.31-14.69,0c-4.03,3.31-10.51,3.31-14.69,0c-3.46,2.74-8.5,3.17-12.53,1.3
			c-1.73-0.86-3.31-2.02-4.32-3.74s-0.29-3.89,2.02-4.03c2.16-0.14,2.74,2.16,4.46,3.02c1.58,0.86,3.6,1.01,5.33,0.43
			c0.86-0.29,1.73-0.72,2.3-1.44c0.72-0.72,1.01-1.44,2.02-1.73c2.16-0.58,2.74,1.01,4.03,2.16c1.58,1.3,3.89,1.73,5.9,1.15
			c1.01-0.29,2.02-0.72,2.74-1.58c0.86-1.01,1.3-2.02,2.74-2.02c2.02,0,2.45,2.16,4.03,3.02c1.44,0.86,3.31,1.01,4.9,0.58
			c0.86-0.14,1.58-0.58,2.3-1.01c0.72-0.58,1.01-1.3,1.58-1.87c1.15-1.01,3.02-0.72,4.03,0.29c1.15,1.3,2.02,2.3,3.89,2.59
			c1.58,0.29,3.17,0.14,4.61-0.72c1.44-0.86,2.02-2.74,3.74-3.02C102.1,110.59,103.82,112.18,103.39,113.9z M113.76,101.23
			c-2.74,4.61-7.78,6.77-12.96,6.77c-4.03,0-6.77-1.15-9.65-3.17c-2.88,2.02-5.76,3.17-9.22,3.17c-3.74,0-7.34-1.3-10.37-3.46
			c-5.76,4.18-13.68,3.89-19.44-0.29c-4.61,3.31-10.94,3.89-16.27,1.87c-2.3-0.86-4.46-2.3-6.05-4.18
			c-0.86-0.86-1.73-1.87-0.86-3.17c0.72-1.01,2.45-1.3,3.74-1.15c2.74,0.29,3.6,3.17,5.9,4.18c2.16,1.01,5.04,1.01,7.34,0.14
			c2.16-1.01,2.88-3.6,5.47-3.89c1.01-0.14,2.02,0,2.88,0.43c1.15,0.58,1.58,1.58,2.45,2.45c2.02,2.02,5.18,2.3,7.92,1.58
			c1.44-0.43,2.59-1.15,3.46-2.3c1.01-1.3,2.02-2.02,3.6-2.02c2.88,0,3.6,2.59,5.62,3.89c1.87,1.3,4.32,1.73,6.62,1.15
			c1.01-0.29,1.87-0.72,2.59-1.3c0.86-0.72,1.3-1.87,2.16-2.45c1.44-1.15,3.74-1.15,5.33-0.14c0.86,0.58,1.15,1.44,1.87,2.16
			c0.86,0.86,1.73,1.44,2.88,1.73c2.16,0.58,4.75,0.29,6.62-1.01c1.87-1.44,2.59-3.74,5.33-3.89c1.15,0,2.3,0.43,3.17,1.01
			C114.48,99.65,114.34,100.37,113.76,101.23z M106.39,77.63v10.5c0,3.17-3.51,5.33-6.39,5.47c-1.58,0.14-2.98-0.29-4.28-1.15
			c-1.44-0.86-1.85-2.45-3.15-3.31c-1.01-0.72-2.44-0.72-3.59-0.29c-1.3,0.58-1.58,2.02-2.59,2.88c-2.16,1.87-5.33,2.16-7.92,1.3
			c-1.58-0.58-2.59-1.44-3.6-2.88c-0.86-1.3-2.16-2.02-3.74-1.73c-1.73,0.43-2.16,2.16-3.46,3.17c-1.01,0.86-2.3,1.44-3.6,1.58
			c-2.59,0.43-5.76-0.29-7.49-2.45c-0.86-1.15-1.44-2.16-3.02-2.3c-1.15-0.14-2.45,0.43-3.17,1.3c-1.01,1.3-1.73,2.3-3.31,3.02
			c-1.15,0.43-2.68,0.72-3.97,0.58c-1.87-0.14-5.85-0.72-5.85-3.17V77.63h-8.9l-6.13-6.85l16.47-12.61v-7.91h13.13l0,0L72,37.81
			l49.25,32.87l-4.61,6.95H106.39z"/>
                                    <rect x="81.91" y="74.8" class="svg-img" width="11.52" height="10.08"/>
                                </g>
                                <g>
                                    <path class="svg-img" d="M72,0C32.26,0,0,32.26,0,72s32.26,72,72,72s72-32.26,72-72C144,32.4,111.74,0,72,0z M72,139.1
			c-37.01,0-66.96-30.1-66.96-66.96C4.9,35.14,34.99,5.04,72,5.04s66.96,30.1,66.96,66.96C138.96,109.01,108.86,139.1,72,139.1z"/>
                                </g>
                            </g>
                            <rect class="st1" width="144" height="144"/>
                        </svg>
                    </div>
                    <p>Flood</p>
                    <div class="side-content">
                        <h3>Lorem Ipsum</h3>
                        <p>Nam vitae vehicula risus. Vestibulum magna elit, cursus sit amet interdum lobortis, posuere
                            vitae
                            velit. Morbi nec urna lacinia, molestie mauris id, efficitur leo. Fusce maximus, mi sed
                            scelerisque pharetra, tortor sapien faucibus.</p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="icon-box">
                        {#<img src="/themes/rms/templates/dist/images/marine-cargo-con.svg"#}
                        {#alt="Marine cargo"/>#}
                        <svg xmlns="http://www.w3.org/2000/svg" id="marine_cargo_icon" width="104.558" height="104.558"
                             viewBox="0 0 104.558 104.558">
                            <g id="Group_4160" data-name="Group 4160">
                                <path id="Path_5502"
                                      d="M1578.485 133.4a52.279 52.279 0 1 0 52.279 52.279 52.3 52.3 0 0 0-52.279-52.279zm.523 101.107a48.672 48.672 0 1 1 48.619-48.724 48.751 48.751 0 0 1-48.62 48.727z"
                                      class="svg-img" data-name="Path 5502" transform="translate(-1526.206 -133.403)"/>
                            </g>
                            <g id="Group_4161" data-name="Group 4161" transform="translate(8.016 7.493)">
                                <path id="Path_5503"
                                      d="M1579.271 141.143a44.786 44.786 0 1 0 44.786 44.786 44.785 44.785 0 0 0-44.786-44.786zm0 37.989h15.684v7.319h-15.684zm17.775 0h14.638v7.319h-14.638zm-34.5 0h14.638v7.319h-14.638zm39.561 37.839a5.914 5.914 0 0 1-2.719 3.032 8.794 8.794 0 0 1-9.828-.523 8.784 8.784 0 0 1-10.665 0 8.784 8.784 0 0 1-10.665 0 8.9 8.9 0 0 1-9.1.941 7.189 7.189 0 0 1-3.136-2.719 1.84 1.84 0 0 1 1.464-2.928c1.568-.1 1.988 1.568 3.241 2.2a4.976 4.976 0 0 0 3.868.314 3.516 3.516 0 0 0 1.674-1.046c.523-.523.731-1.046 1.463-1.255 1.568-.418 1.987.732 2.927 1.568a4.822 4.822 0 0 0 4.287.836 3.846 3.846 0 0 0 1.987-1.15c.627-.732.941-1.464 1.987-1.464 1.465 0 1.778 1.568 2.928 2.2a4.688 4.688 0 0 0 3.555.418 4.8 4.8 0 0 0 1.673-.732 13.388 13.388 0 0 0 1.151-1.359 2.231 2.231 0 0 1 2.927.209 4.436 4.436 0 0 0 2.824 1.882 4.692 4.692 0 0 0 3.345-.523c1.046-.627 1.464-1.987 2.719-2.2a1.987 1.987 0 0 1 2.086 2.3zm7.529-9.2a10.628 10.628 0 0 1-9.41 4.914 11.342 11.342 0 0 0-13.7 0 13.005 13.005 0 0 1-7.528-2.509 12.092 12.092 0 0 1-14.115-.209 12.811 12.811 0 0 1-11.815 1.359 10.727 10.727 0 0 1-4.392-3.032c-.627-.627-1.255-1.359-.627-2.3a3.092 3.092 0 0 1 2.719-.836c1.987.209 2.614 2.3 4.287 3.032a7.221 7.221 0 0 0 5.332.1c1.568-.732 2.091-2.614 3.973-2.823a3.554 3.554 0 0 1 2.091.314c.836.418 1.15 1.15 1.777 1.777a5.974 5.974 0 0 0 5.751 1.15 4.669 4.669 0 0 0 2.509-1.673 3.111 3.111 0 0 1 2.614-1.464c2.091 0 2.614 1.882 4.078 2.823a5.965 5.965 0 0 0 4.81.836 5.3 5.3 0 0 0 1.882-.941c.627-.523.942-1.359 1.568-1.777a3.473 3.473 0 0 1 3.869-.1c.627.418.836 1.046 1.359 1.568a4.338 4.338 0 0 0 2.091 1.255 6 6 0 0 0 4.81-.732c1.36-1.046 1.883-2.719 3.869-2.823a4.288 4.288 0 0 1 2.3.732c.417.208.311.731-.106 1.359zm-8.887-3.276a4.755 4.755 0 0 1-3.136-.836c-1.046-.627-1.36-1.777-2.3-2.4a2.879 2.879 0 0 0-2.614-.209c-.941.418-1.15 1.464-1.881 2.091a6.005 6.005 0 0 1-5.751.941 5.105 5.105 0 0 1-2.614-2.091 2.6 2.6 0 0 0-2.719-1.255c-1.255.314-1.568 1.568-2.509 2.3a4.944 4.944 0 0 1-2.614 1.15 5.872 5.872 0 0 1-5.438-1.777c-.627-.836-1.046-1.568-2.2-1.673a2.733 2.733 0 0 0-2.3.941 6.1 6.1 0 0 1-2.406 2.2 6.4 6.4 0 0 1-2.822.418c-11.017-.059-17.814-16.614-17.814-16.614l6.274.174v-14.473l9.41.065V161.88l3.018.111.253 26.028 52.341-.207s-6.727 16.414-12.183 16.682z"
                                      class="svg-img" data-name="Path 5503" transform="translate(-1534.486 -141.143)"/>
                            </g>
                        </svg>
                    </div>
                    <p>Marine Cargo</p>
                    <div class="side-content">
                        <h3>Lorem Ipsum</h3>
                        <p>Nam vitae vehicula risus. Vestibulum magna elit, cursus sit amet interdum lobortis, posuere
                            vitae
                            velit. Morbi nec urna lacinia, molestie mauris id, efficitur leo. Fusce maximus, mi sed
                            scelerisque pharetra, tortor sapien faucibus.</p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="icon-box">
                        {#<img src="/themes/rms/templates/dist/images/hurricane-Icon.svg"#}
                        {#alt="hurricane Icon"/>#}
                        <svg xmlns="http://www.w3.org/2000/svg" id="hurricane_Icon" width="104.558" height="104.558"
                             viewBox="0 0 104.558 104.558">
                            <g id="Group_4163" data-name="Group 4163">
                                <path id="Path_5504"
                                      d="M575.252 141.071a44.8 44.8 0 1 0 44.648 44.855 44.913 44.913 0 0 0-44.648-44.855zM594.6 215.1c-1.359.941-4.81 5.123-14.743 5.123 15.161-7.005 20.18-16 20.389-25.617.314-17.566-8.26-30.008-24.048-30.008a23.449 23.449 0 0 0-23.421 23.421 18.229 18.229 0 0 0 18.3 18.193 14.191 14.191 0 0 0 14.108-14.112 10.844 10.844 0 0 0-10.769-10.874 8.234 8.234 0 0 0-6.378 3.137 8.1 8.1 0 0 1 4.705-1.464 8.518 8.518 0 0 1 4.81 1.568 8.257 8.257 0 0 1 4.078 6.692 9.376 9.376 0 0 1-9.41 9.1 10.754 10.754 0 0 1-10.769-10.77 12.851 12.851 0 0 1 12.861-12.861A15.618 15.618 0 0 1 589.89 192.2a18.929 18.929 0 0 1-13.174 17.984 28.455 28.455 0 0 1-12.861 2.719 27.035 27.035 0 0 1-26.035-27.185 28.807 28.807 0 0 0 16.729 18.3 25.032 25.032 0 0 1-4.705-5.646 27.21 27.21 0 0 1-3.137-6.169c-5.228-13.7-1.15-28.962 11.71-35.759a29.087 29.087 0 0 0-8.469 21.33 28.048 28.048 0 0 1 26.139-17.879c18.193 0 29.172 13.07 29.172 33.145.21 10.347-6.377 19.235-10.659 22.06zm9.828-47.783c-3.45-4.914-9.306-8.678-15.056-10.874-8.574-3.241-17.88-2.3-22.689.1a28.265 28.265 0 0 1 28.44-3.346 27.891 27.891 0 0 1 14.952 15.684 28.626 28.626 0 0 1 .523 19.134c.308-8.362-2.619-16.204-6.174-20.7z"
                                      class="svg-img" data-name="Path 5504" transform="translate(-522.451 -133.647)"/>
                                <path id="Path_5505"
                                      d="M574.468 133.4a52.279 52.279 0 1 0 52.279 52.279 52.3 52.3 0 0 0-52.279-52.279zm.523 100.9a48.619 48.619 0 1 1 48.619-48.619 48.661 48.661 0 0 1-48.619 48.619z"
                                      class="svg-img" data-name="Path 5505" transform="translate(-522.189 -133.403)"/>
                            </g>
                        </svg>
                    </div>
                    <p>Hurricane</p>
                    <div class="side-content">
                        <h3>Lorem Ipsum</h3>
                        <p>Nam vitae vehicula risus. Vestibulum magna elit, cursus sit amet interdum lobortis, posuere
                            vitae
                            velit. Morbi nec urna lacinia, molestie mauris id, efficitur leo. Fusce maximus, mi sed
                            scelerisque pharetra, tortor sapien faucibus.</p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="icon-box">
                        {#<img src="/themes/rms/templates/dist/images/wind-storm-icon.svg"#}
                        {#alt="Wind strom image"/>#}
                        <svg xmlns="http://www.w3.org/2000/svg" id="wind_storm_icon" width="104.558" height="104.558"
                             viewBox="0 0 104.558 104.558">
                            <g id="Group_4165" data-name="Group 4165">
                                <path id="Path_5506"
                                      d="M903.937 170.138a6.372 6.372 0 0 1-8.26 2.2 9.748 9.748 0 0 0-.732-1.15 10.131 10.131 0 0 1-6.8 4.6c-7.214 1.568-11.188 3.555-15.266 8.783.523-4.705 4.391-9.306 8.156-11.92-3.346 0-6.483.209-8.26 2.4.627-5.437 7.319-10.56 9.933-10.456a3.218 3.218 0 0 1-1.464-2.4 4.812 4.812 0 0 1 .941-2.823 3.21 3.21 0 0 1-.732-1.255 13.676 13.676 0 0 1-4.81 2.2c-9.306 2.4-14.115 5.123-18.089 12.024-1.255-9.515 8.992-18.925 13.906-19.03-1.464-.941-3.346-2.2-3.764-4.182a6.793 6.793 0 0 1 2.509-7.11 45.31 45.31 0 0 0-9.306-.941 44.786 44.786 0 0 0-7.737 88.874 10.227 10.227 0 0 1 2.719-3.45 32.306 32.306 0 0 1 8.678-5.228 6.871 6.871 0 0 0 1.673-6.587c-2.091-8.26-7.319-18.193-16.729-23.735-.1 1.15-.836 2.091-2.2 3.241l-1.464 1.464c-.836.836-1.777 1.882-2.823 3.032-1.046-2.091-1.15-3.346-1.359-3.032a5.922 5.922 0 0 0 .314 4.182 15.107 15.107 0 0 1-3.45 2.928c-.732-1.255-1.255-1.987-1.464-1.777s0 1.046.418 2.3c-2.823 1.359-6.169-.314-6.9-1.987-.1-.209 2.3-1.15 4.391-4.5a62.192 62.192 0 0 0 3.555-6.483c-.418-1.255-.941-1.568-1.255.836-.314.418-.732 1.777-1.673 1.987-.732-2.091-1.464-1.777-1.046.209a24.494 24.494 0 0 0-2.509.941c-.523-1.255-.627-2.4-.732-2.2a4.058 4.058 0 0 0-.314 2.614c-1.987.941-3.241 1.778-3.764.1-.209-.523 2.3-8.26 5.646-10.038-.523-2.2-1.359-2.091-1.15.209a20.183 20.183 0 0 0-3.555 0c-.314-1.568-.209-2.4-.314-2.3a2.9 2.9 0 0 0-.627 2.4c-2.51.209-3.66-.047-4.5-1.2 1.359-2.2 5.646-6.424 9.724-6.424h.314c-1.568-3.137-3.973-2.777-3.869-3.3a9.353 9.353 0 0 1 6.8-2.381c.314.1 4.182 1.109 4.5 1.214-.418-1.777-1.778-2.948-3.973-5.144-.837-.836 7.11-.011 12.233 6.786 2.614 3.45 3.66 9.51 3.346 12.019 14.429 7.319 21.121 24.464 21.643 34.919a18.14 18.14 0 0 1 2.719 1.567 29.884 29.884 0 0 0 4.5 2.195 6.224 6.224 0 0 1 .837.418 45.209 45.209 0 0 0 24.257-39.941 43.476 43.476 0 0 0-2.822-15.668z"
                                      class="svg-img" data-name="Path 5506" transform="translate(-809.313 -133.647)"/>
                                <path id="Path_5507"
                                      d="M861.33 133.4a52.279 52.279 0 1 0 52.279 52.279A52.3 52.3 0 0 0 861.33 133.4zm.418 100.9a48.672 48.672 0 1 1 48.619-48.724 48.684 48.684 0 0 1-48.619 48.724z"
                                      class="svg-img" data-name="Path 5507" transform="translate(-809.051 -133.403)"/>
                            </g>
                        </svg>

                    </div>
                    <p>Wind Storm</p>
                    <div class="side-content">
                        <h3>Lorem Ipsum</h3>
                        <p>Nam vitae vehicula risus. Vestibulum magna elit, cursus sit amet interdum lobortis, posuere
                            vitae
                            velit. Morbi nec urna lacinia, molestie mauris id, efficitur leo. Fusce maximus, mi sed
                            scelerisque pharetra, tortor sapien faucibus.</p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="icon-box">
                        {#<img src="/themes/rms/templates/dist/images/cyber-icon.svg"#}
                        {#alt="Cyber icon"/>#}
                        <svg id="Cyber-Icon-Redo2019" xmlns="http://www.w3.org/2000/svg" width="104" height="104"
                             viewBox="0 0 104 104">
                            <rect id="Rectangle_19513" data-name="Rectangle 19513" width="103.758" height="103.758"
                                  fill="none"/>
                            <rect id="Rectangle_19514" data-name="Rectangle 19514" width="103.758" height="103.758"
                                  fill="none"/>
                            <g id="Group_5856" data-name="Group 5856">
                                <g id="Group_5854" data-name="Group 5854">
                                    <path id="Path_8771" data-name="Path 8771"
                                          d="M52,0a52,52,0,1,0,52,52A52.023,52.023,0,0,0,52,0Zm0,100.461A48.411,48.411,0,1,1,100.36,52,48.4,48.4,0,0,1,52,100.461Z"
                                          class="svg-img"/>
                                </g>
                                <g id="Group_5855" data-name="Group 5855" transform="translate(7.507 7.507)">
                                    <path id="Path_8772" data-name="Path 8772"
                                          d="M71.18,65.82A2.143,2.143,0,0,0,70.072,69.8v3.634a.343.343,0,0,0,.347.347h1.527a.343.343,0,0,0,.347-.347V69.8A2.143,2.143,0,0,0,71.18,65.82Z"
                                          transform="translate(-26.687 -25.799)" class="svg-img"/>
                                    <path id="Path_8773" data-name="Path 8773"
                                          d="M70.644,52.74a3.556,3.556,0,0,0-3.554,3.554v3.417h7.1V56.294A3.545,3.545,0,0,0,70.644,52.74Z"
                                          transform="translate(-26.151 -22.158)" class="svg-img"/>
                                    <path id="Path_8774" data-name="Path 8774"
                                          d="M54.863,10.37A44.493,44.493,0,1,0,99.356,54.863,44.491,44.491,0,0,0,54.863,10.37ZM27.956,34.057a3.127,3.127,0,0,1,3.126-3.126H78.651a3.137,3.137,0,0,1,3.126,3.126V65.129a3.137,3.137,0,0,1-3.126,3.126H31.082a3.137,3.137,0,0,1-3.126-3.126V34.057Zm57.3,41.988H24.469A2.984,2.984,0,0,1,21.5,73.07V70.782H88.231V73.07A2.979,2.979,0,0,1,85.257,76.045Z"
                                          transform="translate(-10.37 -10.37)" class="svg-img"/>
                                    <path id="Path_8775" data-name="Path 8775"
                                          d="M86.052,43.87H40.08V74.042H86.045V43.87ZM71.65,69.344a.693.693,0,0,1-.691.695H55.174a.693.693,0,0,1-.691-.695V57.957a.693.693,0,0,1,.691-.695h1.959V53.845a5.934,5.934,0,1,1,11.867,0v3.417h1.959a.693.693,0,0,1,.691.695Z"
                                          transform="translate(-18.573 -19.719)" class="svg-img"/>
                                    <rect id="Rectangle_19515" data-name="Rectangle 19515" width="5.806" height="1.564"
                                          transform="translate(41.59 62.257)" class="svg-img"/>
                                </g>
                            </g>
                        </svg>


                    </div>
                    <p>Cyber</p>
                    <div class="side-content">
                        <h3>Lorem Ipsum</h3>
                        <p>Nam vitae vehicula risus. Vestibulum magna elit, cursus sit amet interdum lobortis, posuere
                            vitae
                            velit. Morbi nec urna lacinia, molestie mauris id, efficitur leo. Fusce maximus, mi sed
                            scelerisque pharetra, tortor sapien faucibus.</p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="icon-box">
                        {#<img src="/themes/rms/templates/dist/images/hwind-icon.svg"#}
                        {#alt="Hwing icon"/>#}
                        <svg xmlns="http://www.w3.org/2000/svg" id="hwind_icon" width="104.999" height="105.075"
                             viewBox="0 0 104.999 105.075">
                            <g id="Group_4172" data-name="Group 4172" transform="translate(2.441)">
                                <g id="Group_4169" data-name="Group 4169" transform="translate(7.329 7.277)">
                                    <g id="Layer_4" data-name="Layer 4">
                                        <path id="Path_5515" d="M2013.2 203.5z" class="svg-img2" data-name="Path 5515"
                                              transform="translate(-1967.684 -142.914)"/>
                                        <path id="Path_5516" d="M2013.41 203.387l.308-.1c.409-.002.717-.104-.308.1z"
                                              class="svg-img2" data-name="Path 5516"
                                              transform="translate(-1967.691 -142.907)"/>
                                        <path id="Path_5517"
                                              d="M2010.059 140.92a43.858 43.858 0 0 0-43.874 43.874 54.685 54.685 0 0 0 .513 7.073h6.971c4.1 0 8.3-.307 11.993-2.357 2.666-1.537 4.716-4.408 3.588-7.585-1.128-2.973-5.023-2.05-7.176-.923a6.15 6.15 0 0 1 4-2.768 5.994 5.994 0 0 1 4.2.717c2.768 1.845 2.563 6.15 2.563 6.458-.41 5.74-7.176 10.456-12.813 11.481a44.065 44.065 0 0 1-9.021.307h-3.076a21.207 21.207 0 0 0 1.231 3.588c2.665 0 5.125 0 7.176-.1 1.64 0 3.895-.205 4.92-.307 4.305-.513 11.994-3.588 14.659-10.558 1.435-3.588 2.255-10.046-1.538-13.737a10.288 10.288 0 0 0-6.765-2.563c-1.025 0-4.818 0-6.97 2.973-1.948 2.563-2.05 6.765 0 8.405 1.025.82 3.177 1.333 4.408.308a3.048 3.048 0 0 0 1.025-1.948 2.022 2.022 0 0 1 .307 1.537c-.1 1.538-1.845 2.871-3.383 2.973-2.666.205-5.331-2.46-6.356-5.023-1.435-3.9.923-8.406 3.69-10.764 4.819-4.1 12.917-3.177 17.734.82 6.561 5.331 5.331 14.556 5.125 16.2a20.451 20.451 0 0 1-3.177 8.405 21.954 21.954 0 0 1-9.124 7.585 23.218 23.218 0 0 1-9.43 2.665h-9.124c7.689 12.3 21.732 21.322 37.723 21.322a44.028 44.028 0 0 0 0-88.055zm2.256 12.4c2.563-4.511 8.508-4.408 9.226-4.408 5.33.1 8.816 4 9.636 5.023 6.766 7.689 2.665 18.965 2.461 19.477a22.032 22.032 0 0 1-4.921 7.586 29.552 29.552 0 0 1-13.838 8 51.984 51.984 0 0 1-5.741 1.23 88.278 88.278 0 0 0 8.2-4.2 32.532 32.532 0 0 0 5.536-3.69 30.819 30.819 0 0 0 4.1-4.817 22.117 22.117 0 0 0 2.665-6.664c1.333-6.56-1.025-15.889-6.356-17.734-1.742-.615-4.612-.717-6.15.923a4.306 4.306 0 0 0-1.229 2.563c0 .41-.205 2.256 1.025 3.178a2.523 2.523 0 0 0 2.665.205 4.1 4.1 0 0 0 1.024-1.845 5.121 5.121 0 0 1-.2 3.28 4.849 4.849 0 0 1-5.638 2.46 5.691 5.691 0 0 1-3.075-3.28 9.4 9.4 0 0 1 .61-7.283zm9.738 16.812a4.212 4.212 0 0 1 2.152 1.025 3.96 3.96 0 0 1 1.128 2.768c.205 2.768-2.153 5.023-3.9 6.663a27.277 27.277 0 0 1-4.408 3.28 58.718 58.718 0 0 1-6.663 3.485 14.74 14.74 0 0 0 1.537-.923 31.315 31.315 0 0 0 5.433-4.305 21.035 21.035 0 0 0 3.793-4.2 8.479 8.479 0 0 0 1.64-4.1 5.739 5.739 0 0 0-.718-3.69zm-16.4-8.611a6.119 6.119 0 0 1 2.871-4.2s-1.846 3.792.41 6.765a7.528 7.528 0 0 0 5.33 2.87c-2.87 1.332-6.048.82-7.586-1.128a6.315 6.315 0 0 1-1.025-4.305zm-.1 41.721c5.637-4.817 15.171-7.176 21.116-1.537 2.768 2.563 3.9 8-.41 9.738a3.817 3.817 0 0 1-3.177-.205 2.146 2.146 0 0 1-.513-2.972 1.237 1.237 0 0 1 .513-.513c-.1 1.128.41 2.357 1.743 2.256 2.665-.205 2.255-3.793 1.127-5.228-3.177-4.1-9.02-4.1-13.736-3.281l-.512.1a34.173 34.173 0 0 0-6.154 1.645zm22.141 13.429c-3.485.82-7.893-.82-9.123-4.305a4.779 4.779 0 0 1 1.23-5.125 5.816 5.816 0 0 0 .1 4.715c1.025 1.948 3.793 2.973 6.253 2.563a6.018 6.018 0 0 0 3.076-1.64c2.972-2.972 1.844-8.918-1.025-11.891-6.664-7.176-17.837-3.485-25.627-.308 6.356-4.92 14.453-8.2 22.449-5.433.718.205 7.586 3.281 8.918 9.944a10.437 10.437 0 0 1-1.332 7.79 7.561 7.561 0 0 1-4.921 3.69zm10.866-6.048a6.718 6.718 0 0 1-1.23 3.075 6.337 6.337 0 0 1-2.255 1.743 4.587 4.587 0 0 1-2.051.41 10.168 10.168 0 0 0 2.665-3.28 9.591 9.591 0 0 0 1.128-3.793 9.255 9.255 0 0 0-.512-4.1 7.421 7.421 0 0 1 2.252 5.948z"
                                              class="svg-img2" data-name="Path 5517"
                                              transform="translate(-1966.186 -140.92)"/>
                                    </g>
                                </g>
                                <g id="Group_4171" data-name="Group 4171">
                                    <g id="Group_4170" data-name="Group 4170">
                                        <path id="Path_5518"
                                              d="M2009.869 133.4a51.254 51.254 0 1 0 51.255 51.254 51.272 51.272 0 0 0-51.255-51.254zm0 99.023a47.718 47.718 0 1 1 47.667-47.769 47.707 47.707 0 0 1-47.667 47.772z"
                                              class="svg-img2" data-name="Path 5518"
                                              transform="translate(-1958.616 -133.403)"/>
                                    </g>
                                </g>
                            </g>
                        </svg>

                    </div>
                    <p>HWind</p>
                    <div class="side-content">
                        <h3>Lorem Ipsum</h3>
                        <p>Nam vitae vehicula risus. Vestibulum magna elit, cursus sit amet interdum lobortis, posuere
                            vitae
                            velit. Morbi nec urna lacinia, molestie mauris id, efficitur leo. Fusce maximus, mi sed
                            scelerisque pharetra, tortor sapien faucibus.</p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="icon-box">
                        {#<img src="/themes/rms/templates/dist/images/life-isks-icon.svg"#}
                        {#alt="Life isks"/>#}
                        <svg xmlns="http://www.w3.org/2000/svg" id="life_risks_icon" width="104.558" height="104.558"
                             viewBox="0 0 104.558 104.558">
                            <path id="Path_5530"
                                  d="M1435.842 141.287a44.751 44.751 0 1 0 44.751 44.751 44.8 44.8 0 0 0-44.751-44.751zm19.343 58.866c-4.5 5.542-9.724 10.456-14.743 15.37l-4.5 4.391-4.5-4.391-3.241-3.137-.209.523-.1-.732-2.091-2.091a132.446 132.446 0 0 1-10.351-11.292c-1.359-1.777-2.719-3.555-3.973-5.437-.1-.209-.732-.836-.627-1.046 0-.1.418-.314.523-.418.314-.314.732-.627 1.046-.941l4.078 4.287a1.817 1.817 0 0 0 3.032-.732c.313-.732 2.091-5.332 2.718-6.9l3.869 11.606a1.8 1.8 0 0 0 3.137.523 2.2 2.2 0 0 0 .418-1.15c1.359-4.81 2.718-9.724 3.973-14.638l3.032 11.4a1.836 1.836 0 0 0 3.346.418c.313-.523 2.4-4.6 3.241-6.064l2.823 6.273a1.868 1.868 0 0 0 3.241.209c.314-.418 2.2-3.66 3.032-4.914a1.807 1.807 0 0 0-2.614-2.4c-.732.523-1.15 1.673-1.673 2.4l-2.928-6.483a1.8 1.8 0 0 0-3.241-.1c-.314.418-2.091 3.973-2.823 5.332l-3.555-13.488a1.705 1.705 0 0 0-1.777-1.255c-1.673 0-1.882 1.568-2.2 2.823-.523 1.778-3.137 11.292-3.869 14.22l-3.66-10.665c-.627-1.882-2.823-1.359-3.555.1-.418.941-2.718 6.8-3.45 8.783l-3.45-3.555c-1.673-1.777-4.182 1.046-5.437 2.091-3.032-5.332-5.019-9.306-5.019-16.52 0-.314.1-1.568.1-1.987a16.119 16.119 0 0 1 .627-2.4 14.54 14.54 0 0 1 2.823-4.287 16.8 16.8 0 0 1 7.11-4.914 21.935 21.935 0 0 1 9.41-.836 16.194 16.194 0 0 1 8.26 3.764 14.213 14.213 0 0 1 2.823 3.764c.209.418.732 1.673 1.15 1.777a3.484 3.484 0 0 0 1.045 0c1.464-2.3 2.614-4.705 4.81-6.378a17.87 17.87 0 0 1 7.005-3.241c4.914-.836 10.665.209 14.534 3.555 4.078 3.45 5.437 8.365 4.914 13.593-1.033 9.611-6.783 18.08-12.534 25.19z"
                                  class="svg-img" data-name="Path 5530" transform="translate(-1383.04 -133.654)"/>
                            <path id="Path_5531"
                                  d="M1435.054 133.4a52.279 52.279 0 1 0 52.279 52.279 52.3 52.3 0 0 0-52.279-52.279zm.523 101.107a48.672 48.672 0 1 1 48.619-48.724 48.751 48.751 0 0 1-48.619 48.727z"
                                  class="svg-img" data-name="Path 5531" transform="translate(-1382.775 -133.403)"/>
                        </svg>

                    </div>
                    <p>Life Risks</p>
                    <div class="side-content">
                        <h3>Life Risks</h3>
                        <p>Nam vitae vehicula risus. Vestibulum magna elit, cursus sit amet interdum lobortis, posuere
                            vitae
                            velit. Morbi nec urna lacinia, molestie mauris id, efficitur leo. Fusce maximus, mi sed
                            scelerisque pharetra, tortor sapien faucibus.</p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="icon-box">
                        {#<img src="/themes/rms/templates/dist/images/tsunami-icon.svg"#}
                        {#alt="Tsunami icon"/>#}
                        <svg xmlns="http://www.w3.org/2000/svg" id="tsunami_icon" width="104.558" height="104.558"
                             viewBox="0 0 104.558 104.558">
                            <g id="Group_4176" data-name="Group 4176">
                                <path id="Path_5521"
                                      d="M431.821 141.071a44.913 44.913 0 0 0-44.855 44.855A45.48 45.48 0 0 0 388.953 199a58.6 58.6 0 0 1 6.273-28.544c7.424-14.429 25.094-22.375 41.614-18.611a36.5 36.5 0 0 1 28.022 30.74 28.806 28.806 0 0 0-11.815-11.085 26.373 26.373 0 0 1 1.464 15.056 21.526 21.526 0 0 0-9.828-13.8 18.175 18.175 0 0 0-1.987-1.046 23.279 23.279 0 0 1 1.255 12.547 18.166 18.166 0 0 0-8.26-11.606 14.9 14.9 0 0 0-2.928-1.359 23.271 23.271 0 0 0-29.694 9.828 21.886 21.886 0 0 0-2.928 9.724 11.924 11.924 0 0 1 1.046-1.987c3.973-6.9 10.874-11.083 18.716-12.652a29.748 29.748 0 0 0-7.11 9.933 29.164 29.164 0 0 0-1.617 5.123 23.288 23.288 0 0 0-.676 5.332v2.928a17.011 17.011 0 0 0 .153 2.3A29.321 29.321 0 0 0 423.38 222.1a44.61 44.61 0 0 0 17.552 3.555 45.441 45.441 0 0 0 17.349-3.45 45 45 0 0 0-26.46-81.137z"
                                      class="svg-img" data-name="Path 5521" transform="translate(-379.02 -133.647)"/>
                                <path id="Path_5522"
                                      d="M431.037 133.4a52.279 52.279 0 1 0 52.279 52.279 52.3 52.3 0 0 0-52.279-52.279zm.523 100.9a48.619 48.619 0 1 1 48.619-48.619A48.661 48.661 0 0 1 431.56 234.3z"
                                      class="svg-img" data-name="Path 5522" transform="translate(-378.758 -133.403)"/>
                            </g>
                        </svg>

                    </div>
                    <p>Tsunami</p>
                    <div class="side-content">
                        <h3>Tsunami</h3>
                        <p>Nam vitae vehicula risus. Vestibulum magna elit, cursus sit amet interdum lobortis, posuere
                            vitae
                            velit. Morbi nec urna lacinia, molestie mauris id, efficitur leo. Fusce maximus, mi sed
                            scelerisque pharetra, tortor sapien faucibus.</p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="icon-box">
                        {#<img src="/themes/rms/templates/dist/images/winter-storms-icon.svg"#}
                        {#alt="Winter storms icon"/>#}
                        <svg xmlns="http://www.w3.org/2000/svg" id="winter_storms_icon" width="104.558" height="104.558"
                             viewBox="0 0 104.558 104.558">
                            <g id="Group_4178" data-name="Group 4178">
                                <path id="Path_5523"
                                      d="M1148.764 140.747a44.8 44.8 0 0 0-44.751 44.751c0 16.938 4.5 23.63 18.4 31.263 1.673-1.255 6.273-7.842 14.952-7.842a58.312 58.312 0 0 1 9.306 2.509c6.378 3.555 16.625 8.26 24.676 4.078 11.292-4.914 22.166-13.07 22.166-30.008a44.8 44.8 0 0 0-44.749-44.751zm27.708 56.043l-7.424-2.928 1.882 4.287-3.764 1.673-3.555-7.946-5.75-2.2 2.2 9.41a12.4 12.4 0 0 0 4.392 6.483 18.878 18.878 0 0 0 4.287 2.614 8.054 8.054 0 0 0 4.914.314 16.687 16.687 0 0 1-7.215 1.046 15.45 15.45 0 0 1-6.378-2.18 3.111 3.111 0 0 0-.836-.4h-.1c-3.241 0-7.424-4.722-10.874-5.767-1.778-.627-9.933-5.811-29.172 4.227L1129 196.4l-4.5-.434.418-3.981 8.678.937 4.705-3.765-9.306-2.51 8.156-5.229-5.646-2.2-8.051 3.45-1.568-3.66 4.287-1.882-7.424-2.928 1.464-3.764 7.424 2.928-1.882-4.287 3.659-1.568 3.451 7.946 5.437 2.2-2.928-9.306 7.946 4.6-.941-5.96-6.692-5.228 2.718-3.346 3.032 2.823-1.046-7.005 4.287-.627 1.046 7.005 3.032-3.764 3.555 2.4-5.646 7.11.941 5.96 7.424-6.9.941 9.619 4.705-3.764.941-8.678 3.973.418-.523 4.6 6.169-5.019 2.509 3.137-6.169 4.914 4.6.523-.418 3.973-8.574-.836-4.705 3.764 9.306 2.509-8.155 5.228 5.646 2.2 7.946-3.45 1.673 3.66-4.391 1.882 7.424 2.928z"
                                      class="svg-img" data-name="Path 5523" transform="translate(-1096.171 -133.637)"/>
                                <path id="Path_5524"
                                      d="M1148.192 133.4a52.279 52.279 0 1 0 52.279 52.279 52.3 52.3 0 0 0-52.279-52.279zm.314 100.48a48.619 48.619 0 1 1 48.619-48.619 48.661 48.661 0 0 1-48.619 48.622z"
                                      class="svg-img" data-name="Path 5524" transform="translate(-1095.913 -133.403)"/>
                                <path id="Path_5525"
                                      d="M1153.218 181.573l-.314-6.483-4.6 4.6-5.751-3.032 1.673 6.273-5.437 3.555 6.274 1.673.209 6.483 4.6-4.6 5.855 3.032-1.673-6.273 5.437-3.555z"
                                      class="svg-img" data-name="Path 5525" transform="translate(-1097.279 -134.732)"/>
                            </g>
                        </svg>

                    </div>
                    <p>Winter Storms</p>
                    <div class="side-content">
                        <h3>Lorem Ipsum</h3>
                        <p>Nam vitae vehicula risus. Vestibulum magna elit, cursus sit amet interdum lobortis, posuere
                            vitae
                            velit. Morbi nec urna lacinia, molestie mauris id, efficitur leo. Fusce maximus, mi sed
                            scelerisque pharetra, tortor sapien faucibus.</p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="icon-box">
                        {#<img src="/themes/rms/templates/dist/images/earthquake-icon.svg"#}
                        {#alt="Earthquake icon"/>#}
                        <svg xmlns="http://www.w3.org/2000/svg" id="earthquake_icon" width="104.558" height="104.558"
                             viewBox="0 0 104.558 104.558">
                            <g id="Group_4180" data-name="Group 4180">
                                <path id="Path_5526"
                                      d="M287.606 133.4a52.279 52.279 0 1 0 52.279 52.279 52.3 52.3 0 0 0-52.279-52.279zm0 101a48.672 48.672 0 1 1 48.619-48.724 48.661 48.661 0 0 1-48.619 48.73z"
                                      class="svg-img" data-name="Path 5526" transform="translate(-235.327 -133.403)"/>
                                <path id="Path_5527" d="M265.594 189.654z" class="svg-img" data-name="Path 5527"
                                      transform="translate(-236.292 -135.179)"/>
                                <path id="Path_5528" d="M296.914 199.12h8.365v-9.41h-8.365z" class="svg-img"
                                      data-name="Path 5528" transform="translate(-237.29 -135.198)"/>
                                <path id="Path_5529"
                                      d="M287.854 141.179a44.623 44.623 0 0 0-44.754 44.542c0 9.306 2.823 19.03 7.737 24.885l7.842 2.091 26.558 1.777-2.091 7.842 5.019 3.973-4.5 4.914 7.319-3.869 14.429-.1-11.92-1.987-6.692-3.973 2.614-6.9 16.625-1.046 12.547 4.391c8.365-7.737 14.011-22.794 14.011-32.1a44.534 44.534 0 0 0-44.744-44.44zm-23.421 69.34l.1-22.356h-6.169l-4.065-5.038 11.619-9.115v-5.71h7.319v.485l14.52-8.469 34.6 22.812-3.144 5.038h-8.365l.1 22.67c0 .1-6.8-.375-17.984-.375l-.836-9.075-11.28-4.486 5.646-5.118-16.625-8.153 11.083 8.679-5.437 4.183 9.515 7.005-3.764 7.067"
                                      class="svg-img" data-name="Path 5529" transform="translate(-235.575 -133.651)"/>
                            </g>
                        </svg>

                    </div>
                    <p>Earthquake</p>
                    <div class="side-content">
                        <h3>Lorem Ipsum</h3>
                        <p>Nam vitae vehicula risus. Vestibulum magna elit, cursus sit amet interdum lobortis, posuere
                            vitae
                            velit. Morbi nec urna lacinia, molestie mauris id, efficitur leo. Fusce maximus, mi sed
                            scelerisque pharetra, tortor sapien faucibus.</p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="icon-box">
                        {#<img src="/themes/rms/templates/dist/images/convective-storm.svg"#}
                        {#alt="Convective storm"/>#}
                        <svg xmlns="http://www.w3.org/2000/svg" id="convective_storm" width="104.558" height="104.558"
                             viewBox="0 0 104.558 104.558">
                            <g id="Group_4174" data-name="Group 4174">
                                <path id="Path_5519"
                                      d="M1004.9 140.747a44.8 44.8 0 1 0 44.751 44.855 44.891 44.891 0 0 0-44.751-44.855zm24.467 29.8l-32.1 8.365 29.694-1.777a97.872 97.872 0 0 1-3.346 7.842l-24.467 6.378 22.062-1.359c-1.673 3.346-3.45 6.692-5.437 9.933l-14.638 3.764 12.756-.732c-5.228 7.842-11.5 14.952-19.03 19.552 3.137-6.9 2.928-14.952 1.046-22.689l15.684-4.078-16.52.941a90.305 90.305 0 0 0-3.241-8.887l17.67-4.6-19.239 1.15c-1.359-2.928-2.823-5.646-4.182-8.051l21.539-5.542-23.944 1.464c-2.928-4.6-5.123-7.528-5.123-7.528l52.488-7.737-36.909 9.619 37.223-2.2c-.522 1.78-1.253 3.871-1.986 6.171z"
                                      class="svg-img" data-name="Path 5519" transform="translate(-952.726 -133.637)"/>
                                <path id="Path_5520"
                                      d="M1004.761 133.4a52.279 52.279 0 1 0 52.279 52.279 52.3 52.3 0 0 0-52.279-52.279zm-.1 100.585a48.672 48.672 0 1 1 48.619-48.724 48.729 48.729 0 0 1-48.624 48.727z"
                                      class="svg-img" data-name="Path 5520" transform="translate(-952.482 -133.403)"/>
                            </g>
                        </svg>

                    </div>
                    <p>Convective Storm</p>
                    <div class="side-content">
                        <h3>Lorem Ipsum</h3>
                        <p>Nam vitae vehicula risus. Vestibulum magna elit, cursus sit amet interdum lobortis, posuere
                            vitae
                            velit. Morbi nec urna lacinia, molestie mauris id, efficitur leo. Fusce maximus, mi sed
                            scelerisque pharetra, tortor sapien faucibus.</p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="icon-box">
                        {#<img src="/themes/rms/templates/dist/images/terrorism-icon.svg"#}
                        {#alt="Convective storm"/>#}
                        <svg xmlns="http://www.w3.org/2000/svg" id="terrorism_icon" width="104.558" height="104.558"
                             viewBox="0 0 104.558 104.558">
                            <g id="Group_4186" data-name="Group 4186">
                                <g id="Group_4184" data-name="Group 4184">
                                    <path id="Path_5532"
                                          d="M1291.623 133.4a52.279 52.279 0 1 0 52.279 52.279 52.3 52.3 0 0 0-52.279-52.279zm.523 101a48.619 48.619 0 1 1 48.619-48.619 48.661 48.661 0 0 1-48.619 48.625z"
                                          class="svg-img" data-name="Path 5532"
                                          transform="translate(-1239.344 -133.403)"/>
                                </g>
                                <g id="Group_4185" data-name="Group 4185" transform="translate(7.528 7.528)">
                                    <path id="Path_5533"
                                          d="M1301.267 186.05h7.633a14.631 14.631 0 0 0-13-12.795v7.633a7.259 7.259 0 0 1 5.367 5.162z"
                                          class="svg-img" data-name="Path 5533"
                                          transform="translate(-1248.675 -142.201)"/>
                                    <path id="Path_5534"
                                          d="M1272.268 190.791h-3.768c1.255 11.5 9.8 20.977 22.344 22.128v-3.346a20.959 20.959 0 0 1-18.576-18.782z"
                                          class="svg-img" data-name="Path 5534"
                                          transform="translate(-1247.801 -142.76)"/>
                                    <path id="Path_5535"
                                          d="M1291.171 181v-7.633c-6.273.941-11.783 6.417-12.515 12.69h7.424a8.975 8.975 0 0 1 5.091-5.057z"
                                          class="svg-img" data-name="Path 5535"
                                          transform="translate(-1248.125 -142.205)"/>
                                    <path id="Path_5536"
                                          d="M1286.292 190.791h-7.528c1.046 6.273 6.137 11.672 12.411 12.613v-7.528a6.558 6.558 0 0 1-4.883-5.085z"
                                          class="svg-img" data-name="Path 5536"
                                          transform="translate(-1248.128 -142.76)"/>
                                    <path id="Path_5537"
                                          d="M1295.9 209.573v3.346c11.5-.941 21.571-9.581 22.617-22.128h-3.555c-1.148 10.456-8.603 17.945-19.062 18.782z"
                                          class="svg-img" data-name="Path 5537"
                                          transform="translate(-1248.675 -142.76)"/>
                                    <path id="Path_5538"
                                          d="M1292.08 141.179a44.96 44.96 0 1 0 44.96 44.96 45.025 45.025 0 0 0-44.96-44.96zm39.909 48.031h-11.469a28.665 28.665 0 0 1-26.171 25.578v9.972h-4.182v-9.972a28.3 28.3 0 0 1-25.794-25.578h-11.847v-4.182h18.957c.732-9.41 9.273-17.814 18.684-18.859v-4.078c-10.456.941-19.207 8.3-22.239 20.846h-3.555a28.3 28.3 0 0 1 25.794-24.3v-11.25h4.182v11.253c13.593.941 24.5 11.749 26.067 24.3h-3.555a24.741 24.741 0 0 0-22.512-20.846v3.973a21.34 21.34 0 0 1 19.166 18.964h18.475v4.182z"
                                          class="svg-img" data-name="Path 5538"
                                          transform="translate(-1247.12 -141.179)"/>
                                    <path id="Path_5539"
                                          d="M1295.9 195.98v7.528c6.274-.836 11.847-6.444 12.893-12.717h-7.737c-.73 3.137-3.062 4.457-5.156 5.189z"
                                          class="svg-img" data-name="Path 5539"
                                          transform="translate(-1248.675 -142.76)"/>
                                </g>
                            </g>
                            <path id="Path_5540"
                                  d="M1296.989 188.259h-3.1v-3.1h-.523v3.1h-3.1v.523h3.1v3.1h.523v-3.1h3.1z"
                                  class="svg-img" data-name="Path 5540" transform="translate(-1240.967 -135.053)"/>
                        </svg>

                    </div>
                    <p>Terrorism</p>
                    <div class="side-content">
                        <h3>Lorem Ipsum</h3>
                        <p>Nam vitae vehicula risus. Vestibulum magna elit, cursus sit amet interdum lobortis, posuere
                            vitae
                            velit. Morbi nec urna lacinia, molestie mauris id, efficitur leo. Fusce maximus, mi sed
                            scelerisque pharetra, tortor sapien faucibus.</p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="icon-box">
                        {#<img src="/themes/rms/templates/dist/images/wildfirs-icon.svg"#}
                        {#alt="Wildfire icon"/>#}
                        <svg xmlns="http://www.w3.org/2000/svg" width="104.558" height="104.558"
                             viewBox="0 0 104.558 104.558">
                            <path id="wildfirs_icon"
                                  d="M1835.927 219.439l.091.077.055-.077zm-15.234-30.9c.03.472.064.944.108 1.413.025.272.056.543.086.814q.072.64.162 1.273c.041.283.08.564.125.844.066.414.143.826.221 1.236.052.275.1.551.157.824a51.716 51.716 0 0 0 .68 2.762c.1.35.193.7.3 1.049.111.364.232.723.352 1.082.087.263.174.527.266.788.135.384.278.765.424 1.144q.126.328.258.655c.165.408.332.814.509 1.216.064.146.13.289.2.435a44.741 44.741 0 0 0 3.287 6.02q.489.751 1.007 1.481.518.73 1.065 1.439.7.9 1.441 1.773c1.622-2.106 3.8-5.021 6.021-8.258h-6.015c-.754 0-1.033-.538-.62-1.2 0 0 4.412-5.659 8.63-12.316h-6.205c-.666 0-.912-.475-.547-1.055a149.428 149.428 0 0 0 8.866-12.886c2.1-3.485 4.622-8.563 4.622-8.563a.724.724 0 0 1 1.328 0s2.519 5.078 4.621 8.563c.56.927 1.134 1.842 1.709 2.735q.409.636.817 1.254l.026.04q.393.6.78 1.17l.06.088q.367.54.722 1.058l.1.14.657.945.116.167c.208.3.41.582.608.859l.113.159.553.772.124.17.516.708.076.106c.185.252.361.491.524.71.841 1.132 1.368 1.808 1.368 1.808a.741.741 0 0 1 .1.757l-.011.015a.485.485 0 0 1-.087.108.329.329 0 0 1-.044.029.6.6 0 0 1-.1.065.941.941 0 0 1-.1.033c-.028.009-.053.02-.084.027a1.173 1.173 0 0 1-.227.021h-6.205l.175.273a175.007 175.007 0 0 0 8.456 12.043c.413.657.134 1.2-.62 1.2h-6.015c4.408 6.425 8.674 11.62 8.674 11.62.466.7.151 1.279-.7 1.279h-6.692a204.914 204.914 0 0 0 8.358 11.053 45.535 45.535 0 0 0 2.572-.1 3.736 3.736 0 0 0-.36-.691l-.064-.095-.073-.087c-.034-.041-2.742-3.31-6.1-7.859h2.353a2.95 2.95 0 0 0 2.551-4.727l-.062-.095-.073-.088c-.034-.042-2.786-3.4-6.106-7.988h1.73a2.986 2.986 0 0 0 2.685-1.487 3.037 3.037 0 0 0-.184-3.113l-.06-.094-.069-.089a174.946 174.946 0 0 1-6.275-8.729h2.1a2.894 2.894 0 0 0 2.6-1.447 2.926 2.926 0 0 0-.14-2.958l6.807-4.207 10.379 6.935.658.439 15.294 10.208-2.465 3.717h-5.473v16.426a43.017 43.017 0 0 0 2.3-1.438 47.396 47.396 0 0 0 2.1-1.5c.126-.1.248-.2.373-.293q.8-.623 1.578-1.28c.172-.146.343-.3.513-.444q.723-.633 1.417-1.3c.148-.141.3-.28.444-.423a45.032 45.032 0 0 0 3.389-3.716c.118-.144.229-.293.344-.439q.6-.759 1.175-1.545c.145-.2.287-.4.429-.6q.532-.759 1.031-1.541c.122-.191.247-.38.367-.572.431-.7.849-1.4 1.242-2.124l.016-.027c.4-.739.78-1.492 1.142-2.255.1-.2.184-.41.277-.614q.382-.839.733-1.7l.3-.767q.323-.839.611-1.7c.081-.239.167-.477.243-.718.25-.779.483-1.566.69-2.364l.02-.071c.212-.821.4-1.655.561-2.493.05-.252.09-.506.135-.76.107-.6.205-1.2.289-1.8a47.979 47.979 0 0 0 .287-2.708c.02-.271.045-.54.061-.812.051-.873.084-1.751.084-2.637a44.786 44.786 0 0 0-89.571 0c0 .715.02 1.424.054 2.13.013.236.031.466.045.699zM1853.978 177c.836-3.371 3.523-6.308 5.914-9.2 2.435-2.952 6.266-5.745 8.094-8.913 1.9-3.29 2.769-6.14 1.658-9.663l.1-.019a16.711 16.711 0 0 1 10.051 6.457 14.457 14.457 0 0 1 3.107 10.022 17.334 17.334 0 0 1-1.261 5.824l.022.009c3.612-.718 5.886-4.641 4.826-7.644l.123-.024c5.754 1.992 7.444 6.3 8.267 10.954a15.446 15.446 0 0 1-5.013 14.524 19.664 19.664 0 0 1-6.23 3.9l-1.689-1.128a8.108 8.108 0 0 0 2.408-5.993c-.175-4.261-4.465-6.948-6.329-10.74-.94-1.911-1.864-3.32-.786-5.272-3.73 1.928-6.446 4.907-6.717 8.405a6.8 6.8 0 0 0 .523 3.58 6.774 6.774 0 0 1-3.892-5.907c-4.617 3.106-6.213 7.839-4.932 12.341l-.785.484c-1.673-2.246-4.779-6.55-7.494-11.053l-.108-.181c.043-.263.081-.515.143-.763zm20.181 30.933v7.315h7.314v-7.315zm-8.812-74.526a52.279 52.279 0 1 0 52.279 52.279 52.3 52.3 0 0 0-52.279-52.286zm0 101a48.672 48.672 0 1 1 48.619-48.724 48.661 48.661 0 0 1-48.619 48.723z"
                                  class="svg-img" transform="translate(-1813.068 -133.403)"/>
                        </svg>

                    </div>
                    <p>Wildfires</p>
                    <div class="side-content">
                        <h3>Lorem Ipsum</h3>
                        <p>Nam vitae vehicula risus. Vestibulum magna elit, cursus sit amet interdum lobortis, posuere
                            vitae
                            velit. Morbi nec urna lacinia, molestie mauris id, efficitur leo. Fusce maximus, mi sed
                            scelerisque pharetra, tortor sapien faucibus.</p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="icon-box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="104" height="104" viewBox="0 0 104 104">
                            <g id="IFM_icon" data-name="IFM icon" transform="translate(0 0.133)">
                                <g id="Group_5859" data-name="Group 5859">
                                    <g id="Group_5857" data-name="Group 5857">
                                        <path id="Path_8776" data-name="Path 8776"
                                              d="M51.934,0a51.934,51.934,0,1,0,51.934,51.934A51.956,51.956,0,0,0,51.934,0Zm0,100.333a48.349,48.349,0,1,1,48.3-48.4A48.341,48.341,0,0,1,51.934,100.333Z"
                                              class="svg-img"/>
                                    </g>
                                    <g id="Group_5858" data-name="Group 5858" transform="translate(7.552 7.552)">
                                        <rect id="Rectangle_19516" data-name="Rectangle 19516" width="5.178"
                                              height="5.178" transform="translate(36.982 43.28)" class="svg-img"/>
                                        <rect id="Rectangle_19517" data-name="Rectangle 19517" width="5.178"
                                              height="5.178" transform="translate(36.982 52.222)" class="svg-img"/>
                                        <rect id="Rectangle_19518" data-name="Rectangle 19518" width="5.178"
                                              height="5.178" transform="translate(27.361 43.28)" class="svg-img"/>
                                        <rect id="Rectangle_19519" data-name="Rectangle 19519" width="5.178"
                                              height="5.178" transform="translate(36.982 61.165)" class="svg-img"/>
                                        <rect id="Rectangle_19520" data-name="Rectangle 19520" width="5.178"
                                              height="5.178" transform="translate(27.361 61.165)" class="svg-img"/>
                                        <rect id="Rectangle_19521" data-name="Rectangle 19521" width="5.178"
                                              height="5.178" transform="translate(27.361 52.222)" class="svg-img"/>
                                        <rect id="Rectangle_19522" data-name="Rectangle 19522" width="5.178"
                                              height="5.178" transform="translate(56.225 43.28)" class="svg-img"/>
                                        <rect id="Rectangle_19523" data-name="Rectangle 19523" width="5.178"
                                              height="5.178" transform="translate(56.225 61.165)" class="svg-img"/>
                                        <rect id="Rectangle_19524" data-name="Rectangle 19524" width="5.178"
                                              height="5.178" transform="translate(56.225 52.222)" class="svg-img"/>
                                        <path id="Path_8777" data-name="Path 8777"
                                              d="M26.307,89.7H83.19A44.988,44.988,0,0,0,99.133,55.252c0-24.789-19.868-44.882-44.382-44.882S10.37,30.462,10.37,55.252A45.005,45.005,0,0,0,26.307,89.7Zm5-43.644,30.771-9.533v9.533h4.551l1.059-20.682a1.185,1.185,0,0,1,1.174-1.187h1.772A1.185,1.185,0,0,1,71.8,25.379l1.059,20.682h5.329V84.316H31.3Z"
                                              transform="translate(-10.37 -10.37)" class="svg-img"/>
                                        <rect id="Rectangle_19525" data-name="Rectangle 19525" width="5.178"
                                              height="5.178" transform="translate(46.604 61.165)" class="svg-img"/>
                                        <rect id="Rectangle_19526" data-name="Rectangle 19526" width="5.178"
                                              height="5.178" transform="translate(46.604 43.28)" class="svg-img"/>
                                        <rect id="Rectangle_19527" data-name="Rectangle 19527" width="5.178"
                                              height="5.178" transform="translate(46.604 52.222)" class="svg-img"/>
                                    </g>
                                </g>
                                <rect id="Rectangle_19528" data-name="Rectangle 19528" width="104" height="104"
                                      transform="translate(0 -0.133)" fill="none"/>
                            </g>
                        </svg>
                    </div>
                    <p>Industrial Facilities</p>
                    <div class="side-content">
                        <h3>Lorem Ipsum</h3>
                        <p>Nam vitae vehicula risus. Vestibulum magna elit, cursus sit amet interdum lobortis, posuere
                            vitae
                            velit. Morbi nec urna lacinia, molestie mauris id, efficitur leo. Fusce maximus, mi sed
                            scelerisque pharetra, tortor sapien faucibus.</p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
