<section class="reference-carousel-with-img">
    <div class="container wow fadeInUp" data-wow-delay="0.4s">
        <div class="intro-box green-border align-center ">
            <h3 class="">Learn More</h3>
        </div>
        <div class="col-wrapper">
            <div class="col-item">
                <div class="row">
                    <div class="col-md-4 col-sm-12 media-block">
                        <div class="img-box">
                            <img src="/themes/rms/templates/dist/images/agriculture.jpg" alt="logo img"/>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12 content-block">
                        <h4>China Agricultural Model</h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                            et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                            diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                            voluptua. At vero eos et accusam et justo duo sed.</p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-item">
                <div class="row">
                    <div class="col-md-4 col-sm-12 media-block">
                        <div class="img-box">
                            <img src="/themes/rms/templates/dist/images/agriculture.jpg" alt="logo img"/>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12 content-block">
                        <h4>Wind Storms</h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                            et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                            diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                            voluptua. At vero eos et accusam et justo duo sed.</p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-item">
                <div class="row">
                    <div class="col-md-4 col-sm-12 media-block">
                        <div class="img-box">
                            <img src="/themes/rms/templates/dist/images/agriculture.jpg" alt="logo img"/>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12 content-block">
                        <h4>China Agricultural Model</h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                            et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                            diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                            voluptua. At vero eos et accusam et justo duo sed.</p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrap">
            <span class="pre-btn"></span>
            <div class="dots-outer">
            </div>
            <span class="next-btn"></span>

        </div>
    </div>
</section>