<!--<div class="side-notifictaion-btn">-->
    <!--<div class="intro">-->
        <!--<h6>Infographic</h6>-->
    <!--</div>-->
    <!--<div class="content-block">-->
        <!--<div class="top-img">-->
            <!--<img src="/themes/rms/templates/dist/images/side-map.jpg" alt="top image">-->
        <!--</div>-->
        <!--<div class="text-block">-->
            <!--<h5>Wildfire Risk</h5>-->
            <!--<p>The Causes and Spread of Wildfire</p>-->
            <!--<a href="#" class="learn-more">Read More</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->