{% set body = content.field_blurb[0] %}
{#{% if content.field_title[0] is not empty %}#}
  <div class="card">
    {% if content.field_icon[0] is not empty %}
      <div class="top-icon">
        <img src="/themes/rms/templates/dist/images/svg/{{ content.field_icon[0] }}.svg"
             alt="{{ content.field_icon[0] }}">
      </div>
    {% endif %}

    <h4>{{ content.field_title[0] }}</h4>
      {% if body is not empty %}
        {{ body }}
      {% endif %}
  </div>
{#{% endif %}#}
