{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="col-two-with-cards {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    {% if content.field_background_image[0] is not empty %}
    <div class="bg-img">
        {{ content.field_background_image[0] }}
    </div>
    {% endif %}
    <div class="container">
        {% if content.field_title[0] is not empty %}
            <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.4s">
                <h3>{{ content.field_title[0] }}</h3>
            </div>
        {% endif %}
        <div class="content-box">
            <div class="pattern-animation wow fadeIn" id="lottie5" data-wow-delay="0.6s"></div>
            <div class="row column-wrapper no-gutters wow fadeInUp" data-wow-delay="0.5s">
                {{ content.field_col_two_cards_items }}
            </div>
        </div>
    </div>

</section>
