{% set body = content.field_blurb|render|striptags %}
{% set new_tab_1= content.field_target[0]|render|striptags %}
{% set target = '_self' %}
{% if new_tab_1 == 'On' %}
  {% set target = '_blank' %}
{% endif %}
{% if content.field_title[0] is not empty %}
<div class="items" data-id="{{ content.field_data_id[0] }}">
    <div class="col-two media-block  wow zoomIn" data-wow-delay="0.4s">
        <div class="img-wrapper">
            <div class="top-border wow fadeInLeft" data-wow-delay="0.5s"></div>
            {{ content.field_image[0] }}
        </div>
    </div>
    <div class="col-two content-block wow fadeIn" data-wow-delay="0.6s">
        <h4>{{ content.field_title[0] }}</h4>
        <p>{{ body }}</p>
        <div class="author-box">
            <h6>{{ content.field_author[0] }}</h6>
            <p>{{ content.field_company[0] }}</p>
        </div>
        {% if content.field_link[0]['#title']%}
            <div class="button-box">
                <a href="{{ content.field_link[0]['#url'] }}" target="{{ target }}" class="learn-more">{{ content.field_link[0]['#title'] }}</a>
            </div>
        {% endif %}
    </div>
</div>
{% endif %}
