{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="resource-with-card-slider  {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    <div class="bg-img">
        {% if content.field_background_image[0] is not empty %}
            {{ content.field_background_image[0] }}
        {% endif %}
    </div>
    <div class="container">
        <div class="pattern-animation" data-wow-delay="0.3s" id="lottie2">
        </div>
        <div class="award-top-carousel wow fadeInUp" data-wow-delay="0.5s">

            <div class="slider-outer ">
                {{ content.field_quote_items }}
            </div>

            <div class="button-wrap">
                <span class="pre-btn"></span>
                <div class="dots-outer">
                </div>
                <span class="next-btn"></span>
            </div>
        </div>
    </div>
</section>

