<section class="statistic-slider box-two wow fadeIn" data-wow-delay="0.4s">
    <div class="container">
        <div class="items">
            {{ content.field_service_statistic_slider }}
        </div>
    </div>
</section>