<section class="event-response-grid ">
    <div class="container">
        <div class="column-wrapper">
            <div class="filter-outer wow fadeInUp" data-wow-delay="0.5s">
                <div class="text-wrap">
                    <p>Filter by:</p>
                </div>
                <div class="select-outer">
                    <div class="select-plugin">
                        <select class="Month">
                            <option value="all">Month</option>
                        </select>
                    </div>
                    <div class="select-plugin">
                        <select class="Year">
                            <option value="all">Year</option>
                        </select>
                    </div>
                    <div class="select-plugin">
                        <select class="Region">
                            <option value="all">Region</option>
                        </select>
                    </div>
                    <div class="select-plugin">
                        <select class="Catastrophe">
                            <option value="all">Type of Catastrophe</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="column-wrap cover-two-col">
                <div class="col-two card-grid wow fadeInUp" data-wow-delay="0.5s">
                    <div class="grid">
                    
                    </div>
                    <div class="button-box">
                            <a href="#" class="btn-white"><span>Load More</span></a>
                        </div>
                </div>
                <div class="col-two menu-item wow fadeInUp" data-wow-delay="0.8s">
                    <div class="cover-right-content">
                        <div class="subscribe-box">
                            <h6>Want to Learn More about RMS?</h6>
                            <p>Lorem ipsum dolor sit amet, et a consetetur amet set.</p>
                            <div class="button-box">
                                <a href="#" class="btn-red"><span>Contact Us</span></a>
                            </div>
                        </div>
                        <div class="card-with-blog">
                            <h6>Related Products & Services</h6>

                            <div class="card">
                                <div class="img-box">
                                    <img src="/themes/rms/templates/dist/images/event-response.jpg" alt="blog image">
                                </div>
                                <div class="content-btn">
                                    <h6>Event Response
                                        Services</h6>

                                    <div class="button-box">
                                        <a href="#" class="learn-more">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="img-box">
                                    <img src="/themes/rms/templates/dist/images/hwind_icon.png" alt="blog image">

                                </div>
                                <div class="content-btn">
                                    <h6>HWind
                                    </h6>
                                    <p>Lorem ipsum dolor…</p>
                                    <div class="button-box">
                                        <a href="#" class="learn-more">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</section>
