{% set body = content.field_blurb_three|render|striptags %}
{% if content.field_title_two[0] is not empty %}
    <section class="card-with-features animation-first ">
        <div class="row-wrapper no-gutters">
            <div class="pattern-animation" id="lottie1">
                {#<img src="/themes/rms/templates/dist/images/svg/Grid-blue.svg" alt="green pattern">#}
            </div>
            <div class="container">
                <div class="overview-block green-border align-left wow zoomIn" data-wow-delay="0.4s">
                    <div class="container">
                        <h2>{{ content.field_title_two[0] }}</h2>
                        <p>{{ body }}</p>
                    </div>
                </div>
                <div class="slider-block  wow fadeIn" data-wow-delay="0.4s">
                    <div class="row">
                        {{ content.field_featured_items }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
