{% if content.field_title[0] is not empty %}
    {% set body = content.field_blurb|render|striptags %}
    <div class="col-md-6 col-sm-12 item-box">
        {% if content.field_icon[0] is not empty %}
            <div class="icon-box">
                <img src="/themes/rms/templates/dist/images/svg/{{ content.field_icon[0] }}.svg"
                     alt="{{ content.field_icon[0] }} Icon">
            </div>
        {% endif %}
        <div class="text-block">
            <h5>{{ content.field_title[0] }}</h5>
            <p>{{ body }}</p>
        </div>
    </div>
{% endif %}