<section class="informative-table animation-second">
    <div class="bg-img ">
        <img src="/themes/rms/templates/dist/images/table-bg.jpg" alt="overlay image">
    </div>

    <div class="container">
        <div class="pattern-animation" id="lottie2"></div>
        <div class="container-box">
            <div class="column-wrapper wow fadeInUp" data-wow-delay="0.5s">
                <table>
                    <thead>
                    <tr>
                        <td></td>
                        <td><h5>Cloud</h5></td>
                        <td><h5>On Prem</h5></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="features">Lorem ipsum dolore sint</td>
                        <td>
                            <span class="checked-img"><img src="/themes/rms/templates/dist/images/checked.svg"
                                                           alt="icon image"></span>
                        </td>
                        <td>
                            <span class="checked-img"><img src="/themes/rms/templates/dist/images/checked.svg"
                                                           alt="icon image"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="features">Consetetur sadipscing elitr qui set</td>
                        <td>
                            <span class="checked-img"><img src="/themes/rms/templates/dist/images/check-close.svg"
                                                           alt="icon image"></span>
                        </td>
                        <td>
                            <span class="checked-img"><img src="/themes/rms/templates/dist/images/checked.svg"
                                                           alt="icon image"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="features">Dolor sit amet error sit amet</td>
                        <td>
                            <span class="checked-img"><img src="/themes/rms/templates/dist/images/check-close.svg"
                                                           alt="icon image"></span>
                        </td>
                        <td>
                            <span class="checked-img"><img src="/themes/rms/templates/dist/images/check-close.svg"
                                                           alt="icon image"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="features">Mollit anim id est eopksio sed un culpa</td>
                        <td>
                            <span class="checked-img"><img src="/themes/rms/templates/dist/images/checked.svg"
                                                           alt="icon image"></span>
                        </td>
                        <td>
                            <span class="checked-img"><img src="/themes/rms/templates/dist/images/checked.svg"
                                                           alt="icon image"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="features">Qlik’s Search & Associative experience</td>
                        <td>
                            <span class="checked-img"><img src="/themes/rms/templates/dist/images/checked.svg"
                                                           alt="icon image"></span>
                        </td>
                        <td>
                            <span class="checked-img"><img src="/themes/rms/templates/dist/images/checked.svg"
                                                           alt="icon image"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="features">Mobile device enablement</td>
                        <td>
                            <span class="checked-img"><img src="/themes/rms/templates/dist/images/check-close.svg"
                                                           alt="icon image"></span>
                        </td>
                        <td>
                            <span class="checked-img"><img src="/themes/rms/templates/dist/images/checked.svg"
                                                           alt="icon image"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>




