// Bootstrap integration
@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/functions";
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';
@import 'common/variables';
@import 'common/button';
@import 'common/fonts';
// Plugins
@import 'plugins/animate';
@import 'plugins/slick';
@import 'plugins/mCustomScrollbar';

body {
  @import 'css/selectBoxIt';
  @import 'css/jquery-ui';
  @import 'global/footer';
  @import 'global/header';
  @import 'common/default';
  @import 'section/hero-slider';
  @import 'section/box-with-icon';
  @import 'section/footer-cta';
  @import 'section/hero-banner';
  @import 'section/col-three-with-image';
  @import 'section/cta';
  @import 'section/col-four-with-slider';
  @import 'section/image-with-slider';
  @import 'section/logo-grid';
  @import 'section/news-slider';
  @import "section/banner-second-level";
  @import "section/active-model-region";
  @import "section/tabs-with-detail";
  @import "section/image-with-text";
  @import "section/image-slider";
  @import "section/statistic-slider";
  @import "section/Info-with-tabs";
  @import "section/banner-third-level";
  @import "section/col-two-with-cards";
  @import "section/image-with-text-slider";
  @import "section/col-three-with-text";
  @import "section/resource-with-card";
  @import "section/reference-carousel";
  @import "section/banner-fourth";
  @import "section/informative-table";
  @import "section/insight-with-progress";
  @import "section/resource-with-card-slider";
  @import "section/card-with-features";
  @import "section/research-reports-white-papers";
  @import "section/infor-author";
  @import "section/leadership-grid";
  @import "section/detail-author";
  @import "section/rms-form-event";
  @import "section/leadership-slider";
  @import "section/blog-grid";
  @import "section/slider-with-dates";
  @import "section/card-with-image";
  @import "section/banner-with-carousel";
  @import "section/filter-block";
  @import "section/events-cards";
  @import "section/news-grid";
  @import "section/content-with-form";
  @import "section/inquiry-block";
  @import "section/image-gallery";
  @import "section/location-map-box";
  @import "section/event-response-grid";
  @import "section/side-notifictaion-btn";
  @import "section/login-form";
  @import "section/search";
  @import "section/intro-block";
  @import "section/banner-404";
  @import "section/logo-four-grid";
  @import "section/reference-carousel-with-img";
  @import "section/new-banner";
  @import "section/col-three-slider";
  @import "section/exceedance-banner";
  @import "section/feature-grid";
  @import "section/grid-with-out-animation";
  @import "section/covid-banner";
  @import "section/two-col-with-form";
  @import "section/three-col-image";
  @import "section/legacy-data";
  @import "section/violator-banner";
  @import "section/infographics";
  @import "section/year-slider";

  .views-exposed-form {
    display: none !important;
  }
  .ajax-progress-fullscreen {
    background-color: transparent !important;
    background-size: contain;
    width: 64px;
    height: 64px;
    background-image: url(/themes/rms/templates/assets/images/gif/Loader.gif) !important;
  }
}

#block-eventcta {
  display: none !important;
}

.pagination {
  display: block;
  width: 100%;
  overflow: hidden;
}

///pagination styling ///
//.pagination {
//  display: block;
//  width: 100%;
//  overflow: hidden;
.js-pager__items {
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    position: relative;
    padding: 0 10px;
    @include desktop-up {
      margin: 15px 12px 15px 0;
    }
    @include phablet-down {
      padding: 0 4px;
      span {
        font-size: 0;
      }
    }
    a {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: left;
      color: $black;
      opacity: 0.5;
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -6px;
      width: 1px;
      height: 12px;
      background-color: $black;
      opacity: 0.1;
      @include desktop-down {
        right: -6%;
      }
    }
    &.pager__item--next {
      a {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: 0.28px;
        text-align: left;
        color: $black;
        text-transform: uppercase;
        position: relative;
        @include phablet-down {
          font-size: 12px;
        }
        &:after {
          content: "⌃";
          font-size: 20px;
          position: absolute;
          right: -33%;
          top: -4px;
          transform: rotate(91deg);
          @include phablet-down {
            right: -10px;
            top: -6px;
          }
        }
      }
      &:after {
        display: none;
      }
    }
    &.pager__item--first, &.pager__item--last {
      display: none;
    }
    &.pager__item--previous {
      a {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: 0.28px;
        text-align: left;
        color: $black;
        text-transform: uppercase;
        position: relative;
        @include phablet-down {
          font-size: 12px;
        }
        &:after {
          content: "⌃";
          font-size: 20px;
          position: absolute;
          left: -33%;
          top: -4px;
          transform: rotate(-90deg);
          @include phablet-down {
            left: -10px;
            top: -6px;
          }
        }
      }
      &:after {
        display: none;
      }
    }
    &.pager__item--ellipsis {
      display: none;
    }
    &.is-active {
      border: 1.5px solid $green;
      a {
        opacity: 1;
      }
    }
  }
}

.work {
  margin-top: -42px;
}

.style {
  margin-top: 80px;
  @include tablet-down {
    margin-top: 64px;
  }
  @include phablet-down {
    margin-top: 0;
  }
}

.ua-safari {
  body .header-rms.new-header .container .wrapper-white .header-wrap nav {
    @include desktop {
      padding-right: 0;
    }
  }
  body .service-data-landing .row-wrapper .pattern-animation {
    top: 187px;
    left: 16.5%;
    transform: none;
  }
  body .resource-with-card-slider .pattern-animation {
    transform: none;
  }
}

.ua-ie {
  body .violator-banner .bold {
    font-weight: 600;
  }
  body .header-rms.new-header .container .wrapper-white .header-wrap nav ul {
    @include desktop-up {
      //width: calc(100% - 350px);
      width: calc(100% - 320px);
      justify-content: flex-start;
    }
  }

  body .infographic-popup .content-outer .content-box .content .copy-link .field-wrap .info-share-url {
    padding: 9px 9px 14px;
  }
}

.ua-ie,
.ua-edge {
  body .filter-block .content-wrapper .reset-filter {
    padding-left: 115px;
    p {
      font-weight: bold;
    }
  }

  body .col-three-with-image .col-grid .content-box:hover .blue-overlay::after {
    top: -88% !important;
  }

  .insight-with-progress {
    .column-wrapper {
      .cover-item {
        .we-items {
          overflow: visible;
          &.hass-arrow {
            .top-heading {
              @include desktop-up {
                padding-top: 12px;
              }
            }
          }
          &:nth-child(6) {
            z-index: 2;
          }
          &:nth-child(5) {
            z-index: 3;
          }
          &:nth-child(4) {
            z-index: 5;
          }

          &:nth-child(3) {
            z-index: 7;
          }
          &:nth-child(2) {
            z-index: 9;
          }
          .left-arrow {
            z-index: 2;
          }
          .right-arrow {
            z-index: 99;
          }
        }
      }
    }
  }

  .service-slider {
    .slider-block {
      .slick-arrow {
        &.slick-prev {
          bottom: -12%;
        }
        &.slick-next {
          bottom: -12%;
        }
      }
    }
    .row-wrapper {
      .slick-dots {
        position: relative;
        top: -14px;
      }
    }
  }
  .award-slider {
    .award-top-carousel {
      .slider-outer {
        .slick-arrow {
          &.slick-prev {
            bottom: 40px;
          }
          &.slick-next {
            bottom: 40px;
          }
        }
      }
      .button-wrap {
        .slick-dots {
          position: relative;
          top: -15px;
        }
      }
    }
  }
  .news-slider {
    .slick-arrow {
      &.slick-prev {
        bottom: -31px;
      }
      &.slick-next {
        bottom: -31px;
      }
    }
    .button-wrap {
      .dots-outer {
        position: relative;
        top: -15px;
      }
    }
  }
  body {
    .header-rms {
      .header-wrap {
        max-width: 1076px;
        nav {
          .search-box {
            margin-left: 50px;
            .sub-menu {
              .container-box {
                form {
                  .search-wrap {
                    input {
                      padding-bottom: 4px;
                    }
                  }
                }
              }
            }
          }
          .button-box {
            .btn-red {
              padding: 10px 27px 11px !important;
            }
          }
        }
      }
    }
  }
  .btn-red, .btn-transparent {
    box-shadow: none;
    padding: 12px 27px 11px 30px;
  }
  .btn-red {
    &:hover {
      box-shadow: none !important;
    }
  }
  .btn-transparent {
    &:hover {
      box-shadow: none !important;
    }
  }
  .hero-banner {
    .col-outer {
      .content-outer {
        .button-box {
          .btn-transparent {
            &:hover {
              box-shadow: none;
            }
          }
        }
      }
    }
  }
  .col-four-with-slider {
    .row-wrapper {
      .slider-block {
        .button-wrap {
          .dots-outer {
            position: relative;
            top: -13px;
          }
        }
      }
    }
  }
  .image-with-slider {
    .award-top-carousel {
      .button-wrap {
        .dots-outer {
          position: relative;
          top: -15px;
        }
      }
    }
  }
  .info-with-tabs {
    .column-wrapper {
      .scroll-wrap {
        .icon-with-heading {
          .active-arrow {
            left: 50%;
          }
        }
      }
    }
  }

  .logo-four-grid {
    .container-box {
      .row-wrap {
        box-shadow: 0px -5px 30px 0px rgba(0, 0, 0, 0.08);
      }
    }
  }
  .reference-carousel-with-img {
    .button-wrap {
      .dots-outer {
        position: relative;
        top: -13px;
      }
    }
    .col-wrapper {
      .col-item {
        box-shadow: 0px 5px 38px 5px rgba(0, 0, 0, 0.04);
      }
    }
  }

  //hero banner video//
  .hero-banner {
    &.video-banner {
      .video-wrapper {
        video {
          width: 100vw;
          height: auto;
        }
      }
    }
  }

  body {
    .exceedance-banner {
      .col-outer {
        .content-outer {
          .large-txt-img {
            img {
              width: auto;
              height: auto;
            }
          }
        }
      }
    }
  }
}

.touch {
  .overview {
    .col-grid {
      .content-box {
        &.active {
          .blue-overlay {
            height: 100%;
            border: none;
            opacity: 1;
            box-shadow: 0 6px 40px 0 rgba(0, 43, 124, 0.3);
            background-image: linear-gradient(501deg, #202e4a -60%, #0086a1 119%, #004c6c -16%);
            padding-top: 53px;
            @include phablet {
              padding-top: 20px
            }
            @include phablet-down {
              padding-top: 53px;
            }
            @include large_desktop {
              padding-top: 31px;
            }
            &:after {
              opacity: 0.2;
              visibility: visible;
              transition-delay: 0.5s;
            }
            p, .button-box {
              opacity: 1;
              visibility: visible;
              transition-delay: 0.5s;
            }
          }
        }
      }
    }
  }

  .logo-grid {
    .container-box {
      .row-wrap {
        .content-box {
          &.active {
            .icon-box {
              &:after {
                width: 57px;
                //opacity: 1;
                //visibility: visible;
              }
              &:before {
                opacity: 1;
                visibility: visible;
                transition-delay: 0.5s;
              }
            }
            .side-content {
              opacity: 1;
              visibility: visible;
              transition-delay: 0.2s;
              @include phablet-down {
                z-index: 9;
              }
            }
            .icon-box {
              svg {
                fill: #0086a1;
                box-shadow: 0 0 20px 0 rgba(0, 76, 108, 0.39);
              }
            }
            @include desktop-down {
              .icon-box {
                &:after {
                  height: 63px;
                  width: 1px !important;
                }
              }
            }

          }
        }
      }
    }
  }
}

.margin-75px {
  margin-top: 75px;
}

.ua-ie,
.ua-edge {
  .col-three-slider {
    .button-wrap {
      .pre-btn {
        @include desktop-up {
          top: 15px;
        }
      }
      .next-btn {
        @include desktop-up {
          top: 15px;
        }
      }
    }
  }

  .image-slider .column-wrapper .button-box {
    .btn-transparent {
      box-shadow: 0 0 0 2px $white !important;
    }
  }
  .image-slider, .news-data-detail, .banner-second-level {
    .button-wrap {
      .pre-btn {
        @include desktop-up {
          top: 15px;
        }
      }
      .next-btn {
        @include desktop-up {
          top: 15px;
        }
      }
    }
  }
  .reverse-slider {
    .button-wrap {
      .pre-btn {
        @include desktop-up {
          top: 2px !important;
        }
      }
      .next-btn {
        @include desktop-up {
          top: 2px !important;
        }
      }
    }
  }
  .service-page-overview, .gated-resource-page-slider, .news-data-detail {
    .button-wrap {
      .pre-btn {
        @include desktop-up {
          top: 0 !important;
        }
      }
      .next-btn {
        @include desktop-up {
          top: 0 !important;
        }
      }
    }
  }
  .resources {
    .button-wrap {
      .pre-btn {
        @include desktop-up {
          top: 15px;
        }
      }
      .next-btn {
        @include desktop-up {
          top: 15px;
        }
      }
    }
  }
  .service-offer {
    .row-wrap {
      box-shadow: 0px 6px 40px 0px rgba(0, 0, 0, 0.09);
    }
  }
  .solution-page-award-slider, .col-two-resource-slider, .data-landing-new-slider, .col-image-slider {
    .button-wrap {
      .pre-btn {
        @include desktop-up {
          top: 15px;
        }
      }
      .next-btn {
        @include desktop-up {
          top: 15px;
        }
      }
    }
  }

  .col-image-slider {
    .award-top-carousel {
      .slider-outer {
        //.button-wrap {
        //  .pre-btn {
        //    @include desktop-up {
        //      top: 15px;
        //    }
        //  }
        //  .next-btn {
        //    @include desktop-up {
        //      top: 15px;
        //    }
        //  }
        //}
        .slick-dots {
          bottom: 21px
        }
      }
    }
  }
  .resource-with-card-slider {
    .button-wrap {
      @include desktop {
        bottom: 30px;
        left: 0;
      }
      .dots-outer {
        position: relative;
        top: 1px;
      }
    }
  }
  .leadership-slider {
    .slider-block {
      .button-wrap {
        .pre-btn {
          @include desktop-up {
            top: 15px !important;
          }
        }
        .next-btn {
          @include desktop-up {
            top: 15px !important;
          }
        }
      }
    }
  }

  .sol-detail-slider, .resource-with-card-slider, .reference-carousel {
    .button-wrap {
      .pre-btn {
        @include desktop-up {
          top: 15px !important;
        }
      }

      .next-btn {
        @include desktop-up {
          top: 15px !important;
        }
      }
    }
  }

  .col-image-with-text-slider {
    .award-top-carousel {
      .slider-outer {
        .slick-arrow {
          &.slick-prev {
            bottom: 40px;
          }
          &.slick-next {
            bottom: 40px;
          }
        }
      }
    }
  }

  .cloud-table {
    .container-box {
      .column-wrapper {
        table {
          tbody {
            tr {
              td {
                .checked-img {
                  margin-top: 7px;
                }
              }
            }
          }
        }
      }
    }
  }

  .about-us-with-contect-us {
    .column-wrapper {
      .contact-us {
        .address-blog {
          .mail-with-phone {
            .phone-no {
              text-decoration: none;
              cursor: none;
            }
          }
        }
      }
    }
  }
  //body {
  //  .side-notifictaion-btn {
  //    right: -364px;
  //    .intro {
  //      left: -43.4%;
  //      bottom: 43%;
  //      width: 278px;
  //    }
  //    &:hover {
  //      right: 0;
  //    }
  //  }
  //}
  //body {
  //  .side-notifictaion-btn {
  //    //right: -364px;
  //    right: -264px;
  //    .intro {
  //      //left: -43.4%;
  //      //bottom: 43%;
  //      //width: 278px;
  //      left: -55.4%;
  //      bottom: 43%;
  //      width: 287px;
  //    }
  //    &:hover {
  //      right: 0;
  //    }
  //  }
  //}
}

.ua-edge {
  .col-image-slider {
    .award-top-carousel {
      .slider-outer {
        .text-wrapper {
          p {
            @include container-down {
              margin-bottom: 15px;
            }
          }
        }
        .button-box {
          margin-bottom: 0;
        }
        //.button-wrap {
        //  margin-top: 25px;
        //  @include container-down {
        //    margin-top: 15px;
        //  }
        //}
      }
    }
  }
  .header-rms {
    .header-wrap {
      nav {
        ul {
          li {
            a {
              padding: 0 5px;
            }
          }
        }
      }
    }
  }
  body .card-with-image .container-wrap .column-wrapper {
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.12);

  }
}

.ua-ie {

  body .feature-grid .column-wrap {
    z-index: 1;
  }
  body .feature-grid .column-wrap .pattern-animation {
    width: 317px;
  }

  body .feature-grid .outer-wrapper .col-wrapper .open-close-link span.close-link::after {
    top: 27%;
  }
  body .feature-grid .outer-wrapper .col-wrapper .open-close-link span.open-link::after {
    top: 30%;
  }

  body .header-rms .header-wrap {
    max-width: 1101px;
  }
  body .header-rms .header-wrap nav .login-box .icon-box {
    height: 28px;
  }

  body .banner-with-carousel .row-wrapper .right-block .slider-outer-block .items .row-wrap .content-block h4 {
    letter-spacing: 0.47px;
  }
  .two-col-with-form .column-wrapper .form-box .column-wrap {
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
  }

  .two-col-with-form .column-wrapper .form-box .column-wrap form .mktoFormRow .mktoFieldDescriptor .mktoDateButton {
    right: 17px;
    bottom: 0;
    margin-left: 0;
  }

  body .card-with-features .slider-block .item-box .icon-box img {
    background-size: 100% 100% !important;
  }
  .solution-role {
    .pattern-animation {
      &:after {
        content: "";
        position: absolute;
        z-index: 1;
        right: -2.4%;
        bottom: -5.5%;
        background-image: url("/themes/rms/templates/dist/images/svg/Grid.svg");
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
      }
    }
  }
  .solution-page-award-slider {
    .pattern-animation {
      &:after {
        content: "";
        position: absolute;
        top: -2% !important;
        left: -3.3%;
        opacity: 0.7;
        z-index: 1;
        background-image: url("/themes/rms/templates/dist/images/svg/Grid-blue.svg") !important;
        background-size: 100% 100%;
        width: 294px;
        height: 369px;
      }
    }
  }
}

.ua-ie-11 {
  body {
    .col-four-with-slider {
      .slider-block {
        .slider-outer {
          .item-box {
            .hover-state {
              .content-footer {
                height: 75px;
              }
            }
          }
        }
      }
    }
  }
}

.ua-ie {

  body .header-rms .header-wrap nav .login-box .icon-box{
    height:25px;

  }
  body .infographics .content-wrapper .nav-wrap .social-wrap span {
    margin-top: 5px;
  }
  p {
    letter-spacing: 0.64px !important;
    word-spacing: 2px !important;
    font-weight: 500;

  }
  .content-image-with-blog, .research-reports-white-papers {
    .column-wrapper {
      .text-left-with-image {
        p {
          letter-spacing: 0.64px;
          word-spacing: 4px;
          font-weight: 500;

        }
      }
      .col-three-blog .card-with-blog .card .content-btn span {
        font-weight: 600;
      }
    }
  }
}

.ua-safari, .ua-firefox, .ua-ie {
  body .header-rms .header-wrap nav .search-box .sub-menu .container-box .search-btn {
    top: auto !important;
    bottom: 0;
  }

  .two-col-with-form .column-wrapper .form-box .column-wrap form .mktoFormRow .mktoFieldDescriptor .mktoDateButton {
    right: 17px;
    bottom: 0;
    margin-left: 0;
    background: url(/themes/rms/templates/dist/images/calender_icon.png) center center no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 30px !important;
  }
}

.ua-firefox {
  body .content-with-form .column-wrapper .form-box .column-wrap form .mktoFormRow .mktoFieldDescriptor .mktoFieldWrap select {
    color: rgba(0, 0, 0, 0);
  }
  body .two-col-with-form .column-wrapper .form-box .column-wrap form .mktoFormRow .mktoFieldDescriptor input[type=date] {
    background: $white url('/themes/rms/templates/dist/images/calender_icon.png') center right no-repeat;
    background-size: 25px;
    background-position-x: 94%;
  }

  body {
    .side-notifictaion-btn {
      //right: -353px !important;

      .intro {
        //left: -41%;
        //bottom: 43%;
        width: 287px;
      }
      &:hover {
        right: 0 !important;
      }
    }
  }

}

.ua-safari, .ua-ie {
  body .content-with-form .column-wrapper .form-box .column-wrap form .mktoFormRow .mktoFieldDescriptor .mktoFieldWrap .mktoDateButton {
    top: 31%;
    right: 0;
  }
}

.ua-ie {
  body .header-rms.new-header .container .wrapper-white .header-wrap nav ul .nav-list .sub-menu .sub-content .row-wrap .sub-links h6 a, body .header-rms.new-header .container .wrapper-white .header-wrap nav ul .nav-list .sub-menu .sub-content .row-wrap .sub-links h6{
    font-weight: bold;
  }
  body .content-with-form .column-wrapper .form-box .column-wrap form :nth-child(7).mktoFormRow .mktoFieldDescriptor .mktoRequiredField .mktoRequired, body .content-with-form .column-wrapper .form-box .column-wrap form :nth-child(8).mktoFormRow .mktoFieldDescriptor .mktoRequiredField .mktoRequired, body .content-with-form .column-wrapper .form-box .column-wrap form :nth-child(7).mktoFormRow .mktoFieldDescriptor .mktoFieldWrap .mktoLogicalField, body .content-with-form .column-wrapper .form-box .column-wrap form :nth-child(8).mktoFormRow .mktoFieldDescriptor .mktoFieldWrap .mktoLogicalField, body .content-with-form .column-wrapper .form-box .column-wrap form :nth-child(11).mktoFormRow .mktoFieldDescriptor .mktoRequiredField .mktoRequired {
    top: -12px !important;
  }
  .side-notifictaion-btn {
    //right: -26%;
    .intro {
      //left: -42%;
      //bottom: 43%;
      width: 287px;
    }
    &:hover {
      right: 0;
    }
  }
}

.privacy-policy {
  .green-border{
    h3,h4{
      &:after{
        content: none;
      }
    }
  }
  .intro-box {
    text-align: left;
    @include anchor-tag;
    h3 {
      font-size:28px;
      @include tablet-up {
        margin-top: 30px;
      }
    }
    h2 {
      text-align: left;
      &:after {
        display: none;
      }
    }
    h5 {
      font-family: $font-families-InterM;
    }
    p {
      text-align: left;
    }
  }
  ul {
    padding-left: 40px;
    @include tablet-down {
      padding-left: 20px;
    }
    @include phablet-down {
      padding-left: 0;
    }

    li {
      position: relative;
      strong {
        color: $black;
        font-weight: 500;
      }
      &:after {
        content: '';
        position: absolute;
        top: 14px;
        left: 0;
        width: 5px;
        height: 5px;
        background: $black;
      }
      strong {
        font-weight: 500;
      }
    }
  }
  .table-responsive {
    @include tablet-down {
      width: 100%;
      margin-bottom: 15px;
      overflow-y: hidden;
      border: 1px solid $gray11;
      overflow-x: scroll;
      cursor: all-scroll;
      border-top: 0;
      border-bottom: 0;
    }
    .table-bordered {
      border: none;
      padding: 0;
      @include tablet-down {
        width: 1500px !important;
        max-width: 1500px;
        margin-top: 0;
        margin-bottom: 0;
      }
      ul {
        li {
          list-style-type: none !important;
          ul {
            li {
              list-style-type: circle !important;
              padding-left: 0;
              &:after {
                display: none !important;
              }
              &:before {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  table {
    border: 1px solid $gray10;
    margin-top: 20px;
    padding: 11px 23px;
    border-radius: 3px;
    display: block;
    width: 100% !important;
    ul {
      padding-left: 40px;
      @include tablet-down {
        padding-left: 20px;
      }

      li {
        strong {
          color: $black;
          font-weight: 500;
        }
        &:before {
          //background:#827f7e;
          width: 6px;
          height: 6px;
        }
        strong {
          font-weight: 500;
        }
      }
    }
  }

}

.ua-safari {

  body .header-rms .header-wrap nav .search-box .search-icon {
    svg {
      .cls-2 {
        clip-path: url(#clip-path), $black;
      }
    }
  }
  .card-with-features {
    .row-wrapper {
      .pattern-animation {
        @include desktop-up {
          bottom: -10%;
        }
      }
    }
  }

  .two-col-with-form .column-wrapper .form-box .column-wrap form .mktoFormRow .mktoFieldDescriptor .mktoDateButton {
    right: 17px;
    bottom: 0;
    margin-left: 0;
    background: url(/themes/rms/templates/dist/images/calender_icon.png) center center no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 30px;
  }

  body .image-gallery .column-wrap .pattern-animation {
    bottom: -10%;
  }
  .location-map-box {
    .map-block {
      .place-pin {
        &.silicon-valley {
          z-index: 3;
        }
        &.lafayette {
          z-index: 2;
        }
        &.bermuda {
          z-index: 3;
        }
        &.miami-tallahassee {
          z-index: 3;
        }
        &.zurich {
          z-index: 2;
        }
        &.tokyo {
          z-index: 2;
        }
      }
    }
  }

  body .slider-with-dates .right-slider-block .years-block .item-year {
    @include container-up {
      padding: 0 40px 39px 10px !important;
    }
  }
  body .slider-with-dates .right-slider-block .button-wrap::before {
    @include container-up {
      bottom: 2%;
    }
  }
  body .slider-with-dates .right-slider-block .button-wrap .next-btn {
    @include container-up {
      bottom: -226px;
      right: 15px;
    }
  }
  body .slider-with-dates .right-slider-block .button-wrap {
    @include desktop {
      right: -20px;

    }
  }
  body .slider-with-dates .right-slider-block .button-wrap:after {
    @include container-up {
      height: 86%;
    }
  }

  body .infographic-popup .content-outer .content-box .content .copy-link .field-wrap .info-share-url {
    @media (max-width: 1025px) {
      box-shadow: none;
      padding: 9px 27px 11px 30px;
    }

    @include tablet-down {
      padding: 6px 9px 9px 12px;
    }
  }
}

.ua-ie {
  body .blog-grid .column-wrapper .cover-two-col .card-grid .card:hover {
    //box-shadow: 0px 6px 15px 5px rgba(0, 0, 0, 0.36);
  }

  .location-map-box {
    &.lactaion-map-career {
      .map-block {
        .place-pin {

          &.miami-tallahassee {
            .wrapper-box {
              span {
                .content-box {
                  top: -277px !important;
                }
              }
            }
          }
          &.silicon-valley {
            .wrapper-box {
              span {
                .content-box {
                  top: -219px;
                }
              }
            }
          }
          &.hoboken {
            .wrapper-box {
              span {
                .content-box {
                  top: -274px;
                }
              }
            }
          }
        }
      }
    }
    .map-block {
      .place-pin {

        &.miami-tallahassee {
          .wrapper-box {
            span {
              .content-box {
                top: -331px !important;
              }
            }
          }
        }

        &.singapore {
          .wrapper-box {
            span {
              .content-box {
                top: -217px;
              }
            }
          }
        }

      }
    }
  }

  body .slider-with-dates .right-slider-block .years-block .item-year {
    @include desktop-up {
      padding: 0 30px 39px 10px !important;
    }
  }
  body .slider-with-dates .right-slider-block .button-wrap {
    @include container-up {
      right: -20px;
    }
  }
  body .slider-with-dates .right-slider-block .button-wrap::before {
    @include desktop-up {
      bottom: 2%;
    }
  }
  body .slider-with-dates .right-slider-block .button-wrap .next-btn {
    @include desktop-up {
      bottom: -226px;
      right: 15px;
    }
  }
  body .slider-with-dates .right-slider-block .button-wrap:after {
    @include desktop-up {
      height: 86%;
    }
  }

  body .news-slider .slider-block .item .half-width.resources-block .wrapper-box {
    @include desktop-up {
      padding: 0 30px 0 0;
      margin-right: 45px;
    }
  }

  body .col-four-with-slider .row-wrapper .slider-block .slide-outer .item-box.slick-slide {
    box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.09);
  }
}

.toolbar-tray-open {
  #block-tabs {
    position: relative;
    ul {
      position: fixed;
      top: 180px;
      z-index: 99;
      li {
        display: none;
        float: left;
        &:first-child, &:nth-child(2) {
          display: block;
        }
        a {
          display: inline-block;
          color: $black;
          padding: 10px 15px;
          background: $white;
          transition: 0.5s all ease-in-out;
          &:hover {
            color: $white;
            background: $wine-red;
          }
        }

      }
    }
  }
  .section-intro {
    #block-rms-content {
      .js-form-item {
        text-align: left;
        h5 {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.section-intro {
  .content-870 {
    .block-tabs {

    }
  }
  ul {
    li {
      padding-left: 0 !important;
      margin: 9px 0 !important;
      a {
        &:hover {
          color: $wine-red !important;
        }
      }
    }
  }
  .user-login-form, .user-pass {
    text-align: left;
    .form-submit {
      margin-top: 20px;
      outline: none;
      cursor: pointer;
      font-family: $font-families-gotham;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.43;
      letter-spacing: normal;
      padding: 11px 27px 11px 30px;
      color: $white;
      background-color: $wine-red;
      transition: all 0.2s ease-in-out;
      position: relative;
      &:hover {
        background-color: $maroon;
      }
    }
    p {
      margin-top: 5px;
    }
  }
}

body .optanon-alert-box-wrapper {
  .optanon-alert-box-bg {
    .banner-content {
      @include container-max-width-up {
        text-align: center;
      }
    }
  }
}
