.footer-block {
  position: relative;
  padding: 78px 0;
  border-top: solid 1px $lighter-grey;
  @include desktop {
    padding: 80px 0;
  }
  @include tablet {
    padding: 80px 0;
  }
  @include tablet-down {
    padding: 60px 0;
  }
  @include phablet-down {
    padding: 40px 0 20px;
  }
  @include phone-down {
    padding: 30px 0 20px;
  }
  .bottom-border {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 9px;
    background: linear-gradient(91deg, #0086a1 0%, #004c6c 100%);
  }
  .left-block {
    @include tablet {
      max-width: 100%;
      flex: 0 0 100%;
    }
    @include phablet-down {
      margin-bottom: 20px;
    }
    .logo-box {
      width: 80px;
      height: 80px;
      margin-bottom: 51px;
      margin-top: 3px;
      display: block;
      @include desktop-down {
        margin-top: 0;
        margin: 0 auto;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .icon-wrapper {
      display: flex;
      margin: 20px 0 23px;
      @include desktop-down {
        justify-content: center;
      }
      .icon-box {
        height: 30px;
        width: 30px;
        margin-right: 13px;
        &:last-child {
          @include desktop-down {
            margin-right: 0;
          }
        }
        img, svg {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.3s all ease-in-out;
          .cls-1 {
            fill: $white;
          }
        }
        &:hover {
          svg {
            fill: $light-green;
          }
        }
      }
    }
    .list-box {
      li {
        font-size: 14px;
        font-family: $font-families-gotham;
        line-height: 2.14;
        letter-spacing: normal;
        text-align: left;
        color: $black !important;
        width: 100%;
        display: inline-block;
        text-decoration: none;
        @include desktop-down {
          text-align: center;
        }
        a {
          font-family: inherit;
          &:hover {
            color: $light-teal;
          }
        }
      }
    }
  }
  .right-block {
    margin-bottom: 88px;
    padding-left: 63px;
    @include tablet {
      max-width: 100%;
      flex: 0 0 100%;
      padding-left: 0;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      padding-left: 30px;
    }
    @include tablet-down {
      padding-left: 0;
    }
    @include phablet-down {
      margin-bottom: 0;
    }
    .col-item {
      @include desktop-down {
        margin: 10px 0;
      }
      @include phablet-down {
        max-width: 50%;
        flex-basis: 50%;
      }

      h6 {
        font-family: $font-families-gotham;
        font-size: 16px;
        margin: 0 0 23px 0;
        text-align: left;
        color: $black;
        font-weight: 500;
        line-height: 1.38;
        letter-spacing: normal;
        @include tablet-down {
          line-height: 1.67;
          font-size: 16px;
          margin-bottom: 8px;

        }
        @include phone-down {
          font-size: 16px;
          margin-bottom: 5px;
        }
      }
      ul {
        li {
          margin-bottom: 16px;
          @include tablet-down {
            margin-bottom: 5px;
          }
          a {
            font-size: 14px;
            font-family: $font-families-gotham;
            //line-height: 2.14;
            line-height: 1.57;
            letter-spacing: normal;
            text-align: left;
            color: $black;
            position: relative;
            //&:before {
            //  content: "";
            //  position: absolute;
            //  left: 50%;
            //  right: 50%;
            //  bottom: 2px;
            //  background-color: $black;
            //  width: 0;
            //  height: 1px;
            //  -webkit-transition: all 0.3s ease-in-out;
            //  -o-transition: all 0.3s ease-in-out;
            //  transition: all 0.3s ease-in-out;
            //}
            &:hover {
              color: $light-teal;
            }
          }
        }
      }
      @include container-up {
        &.customer {
          padding-left: 20px;
        }
        &.event {
          padding-left: 23px;
        }
        &.resource {
          padding-left: 34px;
        }
      }
    }
  }

  .bottom-box {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 38px;
    @include phablet-down {
      position: relative;
      padding-bottom: 0;
    }
    .wrapper-box {
      position: relative;
      padding: 23px 0 0;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        margin: auto;
        width: 100%;
        height: 2px;
        background-color: $light-gray;
        @include phone-down {
          top: 17px;
        }
      }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        .link-wrap {
          max-width: 100%;
          flex-basis: 100%;
          justify-content: end;
          display: flex;
        }
      }

      .copyright-txt {
        line-height: .7;
        @include tablet-up {
          flex: 0 0 45%;
          max-width: 45%;

        }
        @media only screen and (max-width: 768px) {
          padding-bottom: 5px;
        }
      }
      .link-wrap {
        @include tablet-up {
          flex: 0 0 55%;
          max-width: 55%;

        }
      }

      small {
        font-size: 10px;
        font-family: $font-families-gotham;
        line-height: 1;
        letter-spacing: -0.004em;
        color: $black;
      }

      ul {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        @include tablet-down {
          justify-content: flex-start;
        }
        @include phone-down {
          display: block;
        }
        li {
          a {
            margin: 0 8px 0;
            position: relative;
            font-size: 12px;
            font-family: $font-families-gotham;
            line-height: 1.67;
            letter-spacing: normal;
            color: $black !important;
            //@include container-up {
            //  margin: 0 0 0 25px;
            //}
            @include desktop-down {
              margin: 0 10px 0 0;
            }
            @include tablet-down {
              margin: 0 26px 0 0;
            }
            &:after {
              content: "";
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: -9px;
              margin: auto;
              width: 1px;
              height: 70%;
              background-color: $black;
              cursor: auto;
              @include tablet {
                right: -6px;
              }
              @include tablet-down {
                right: -15px;
              }
              @include phone-down {
                display: none;
              }
            }
          }
          &:last-child {
            a {
              margin-right: 0;
              &:after {
                display: none;
              }

            }

          }
        }
      }
    }

  }
}

.home-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.92);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease-in-out;
  .overlay-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    .overlay-box {
      width: 100%;
      max-width: 1299px;
      padding: 29px;
      height: calc(100% - 15%);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      @include desktop-down {
        max-width: 650px;
        height: 307px;
      }
      @include tablet-down {
        max-width: 500px;
        height: 300px;
      }
      @include phablet-down {
        max-width: 400px;
        height: 260px;
      }
      @include phone-down {
        max-width: 300px;
        height: 300px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .place-location {
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 30px;
        color: $white;
        @include phone-down {
          bottom: -8%;
          padding-right: 0;
          left: 0;
        }
        span {
          font-family: $font-families-gotham;
          font-size: 11px;
          font-weight: 500;
          line-height: 1.36;
          letter-spacing: normal;
          @include phone-down {
            text-align: center;
            display: block;
            padding: 0 5px;
          }
        }
      }
    }
  }
  .close-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2%;
    right: 2%;
    cursor: pointer;
    z-index: 5;
    @include desktop-down {
      top: 9%;
      right: 6%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.play-icon {
  position: relative;
  &:before {
    content: "";
    background: url(/themes/rms/templates/dist/images/svg/play_icon.svg) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80px;
    height: 80px;
    margin: auto;
  }
  &:after {
    content: "";
    background: url(/themes/rms/templates/dist/images/svg/play_icon.svg) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 48px;
    height: 48px;
    margin: auto;
    display: none;
  }
  > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    &:before {
      display: none;
    }

  }
}

.video-play {
  z-index: 5;
  p {
    visibility: hidden;
    opacity: 0;
  }
}

.video-overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity .3s ease;
  z-index: -1;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0.8;
    left: 0;
    top: 0;
  }
  .video-container {
    max-width: 720px;
    margin: 0 auto;
    position: relative;
    @include tablet-down {
      max-width: 100%;
      margin: 0 20px;
    }
    h6 {
      color: $white;
      text-align: left;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: normal;
      padding-right: 20px;
    }
    > iframe {
      width: 100%;
      z-index: 5;
      border: solid 1px #212121;
      margin: 14px 0 0 0px;
      height: 500px;
      @include tablet-down {
        height: 400px;
      }
    }
    .closeVideo {
      position: absolute;
      width: 2px;
      height: 22px;
      background: none;
      outline: none;
      cursor: pointer;
      right: -24px;
      top: 35px;
      background-color: $white;
      transform: rotate(45deg);
      @include desktop-down {
        top: 0;
        right: 0;
      }

      &:after {
        content: "";
        position: absolute;
        background-color: $white;
        width: 2px;
        height: 22px;
        transform: rotate(-90deg);
        top: 0;
        left: 0;
      }
    }
  }
  &.active {
    opacity: 1;
    z-index: 999;
    visibility: visible;
  }
}

.infographic-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease-in-out;
  padding: 45px 0;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    background-color: rgba(0, 0, 0, 0.92);
    left: 0;
    top: 0;
  }
  .column-wrapper {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    //width: 100%;
    //height: 100%;
    @include desktop-down {
      max-width: 100%;
      width: 80%;
    }
    .cover-overlay-box {
      width: auto;
      height: auto;
      max-height: 100%;
      padding: 10px;
      position: relative;
      margin: 0 auto;
      background-color: white;
      display: inline-block;
      @include desktop-down {
        padding: 5px;
      }
      img {
        width: auto;
        height: auto;
        max-height: 100%;
        object-fit: cover;
        min-height: 190px;
        min-width: 190px;
      }
      .item-overlay, .click-overlay {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 31px;
        opacity: 0.85;
        background-color: $white;
        span {
          font-family: $font-families-gotham;
          font-size: 11px;
          font-weight: 500;
          line-height: 1.36;
          letter-spacing: normal;
          position: relative;
          width: 30px;
          height: 31px;
          display: block;
          cursor: pointer;
          &:after {
            content: "";
            position: absolute;
            background-image: url(/themes/rms/templates/dist/images/svg/Mask-blue.svg);
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
            top: 0;
            left: 0;
            bottom: 0;
            margin: 0 auto;
            background-size: 100%;
            transform: translate(50%, 50%);
          }
        }
      }
    }

  }
  .close-btn {
    position: absolute;
    width: 2px;
    height: 22px;
    outline: none;
    cursor: pointer;
    right: -23px;
    top: -3px;
    background-color: $white;
    transform: rotate(45deg);
    @include tablet-down {
      right: 7px;
      top: -35px;
    }
    //@include phone-down{
    //  //top: 0;
    //  right: -15px;
    //}
    &:after {
      content: "";
      position: absolute;
      background-color: $white;
      width: 2px;
      height: 22px;
      transform: rotate(-90deg);
      top: 0;
      left: 0;
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }

  &.change-width {
    opacity: 1;
    visibility: visible;
    .column-wrapper {
      max-width: 971px;
      width: 100%;
      @include container-down {
        max-width: 100%;
        width: 85%;
      }
      .cover-overlay-box {
        width: 100%;
        height: 700px;
        @include tablet-down {
          height: 500px;
        }
        .cover-image {
          height: 100%;
          overflow: hidden;
          overflow-y: scroll;
          max-width: 100%;
          max-height: 100%;
          width: 100%;
          .main-image {
            height: 1000px;
            width: 100%;
            img {
              object-fit: fill;
              height: 100%;
            }
          }
        }
        .click-overlay {
        }

        .close-btn {
        }
      }
    }
  }

}

.thank-you-overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity .3s ease;
  z-index: -1;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0.8;
    left: 0;
    top: 0;
  }
  .column-wrapper {
    max-width: 589px;
    min-height: 400px;
    margin: 0 auto;
    position: relative;
    background-color: $white;
    padding: 56px 81px 30px;
    text-align: left;
    @include tablet-down {
      padding: 56px 40px 50px;
      max-width: 80%;
      margin: 0 auto;
      min-height: 250px;
    }
    @include phone-down {
      padding: 40px;
    }
    &.green-border {
      .thank-you-title {
        font-family: $font-families-nunito;
        font-weight: bold;
        line-height: 1.11;
        letter-spacing: 0.45px;
        margin-bottom: 47px;
        position: relative;
        font-size: 45px;
        color: #000000;
        @include desktop-down {
          margin-bottom: 40px;
        }
        @include tablet-down {
          margin-bottom: 30px;
        }
        @include desktop {
          font-size: 40px;
        }
        @include tablet {
          font-size: 34px;
        }
        @include phablet {
          font-size: 30px;
        }
        @include phone {
          font-size: 30px;
        }
        @include phone-down {
          font-size: 30px;
        }
        &:after {
          content: "";
          position: absolute;
          left: 0;
          right: auto;
          bottom: -12.1px;
          background: #00b7c6;
          width: 81px;
          height: 2px;
        }
      }
    }
    h2 {
      font-family: $font-families-nunito;
      font-weight: bold;
      line-height: 1.11;
      letter-spacing: 0.45px;
      margin-bottom: 47px;
      @include desktop-down {
        margin-bottom: 40px;
      }
      @include tablet-down {
        margin-bottom: 30px;
      }
    }
    p {
      color: $black;
      text-align: left;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.75;
      font-family: $font-families-gotham;
      letter-spacing: 0.16px;
    }
    .button-box {
      display: block;
      margin-top: 50px;
      @include desktop-down {
        margin-top: 40px;
      }
      @include tablet-down {
        margin-top: 30px;
      }
    }
    .close-btn {
      position: absolute;
      width: 2px;
      height: 20px;
      background: none;
      outline: none;
      cursor: pointer;
      right: 32px;
      top: 20px;
      background-color: $black;
      transform: rotate(45deg);
      &:after {
        content: "";
        position: absolute;
        background-color: $black;
        width: 2px;
        height: 20px;
        transform: rotate(-90deg);
        top: 0;
        left: 0;
      }
    }
  }
  &.active {
    opacity: 1;
    z-index: 999;
    visibility: visible;
  }
}

div.pp_default .pp_content .ppt {
  color: #f8f8f8;
}

div.pp_default .pp_content {
  background-color: $white;
  padding: 12px;
}

/* Content background */
div.pp_default .pp_expand {
  background: url(/themes/rms/templates/dist/images/expan-btn.png) no-repeat;
  cursor: pointer;
  background-position: center;
  width: 30px;
  height: 30px;
  background-size: 18px;
  background-color: $white;
  opacity: 0.85;
  right: 30px;
  top: 0;
  @include phablet-down {
    display: none !important;
  }
}

/* Expand button */
div.pp_default .pp_contract {
  background: url(/themes/rms/templates/dist/images/expan-btn.png) no-repeat;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-size: 18px;
  background-color: $white;
  opacity: 0.85;
  right: 30px;
  top: 0;
  background-position: center;
  @include phablet-down {
    display: none !important;
  }
}

/* Expand button */
div.pp_default .pp_close {
  width: 20px;
  height: 20px;
  background: url(/themes/rms/templates/assets/images/cross-sign.png) 2px 1px no-repeat;
  cursor: pointer;
  background-size: 14px;
  right: -2px;
  background-position: center;
  @include phablet-down {
    right: 6px;
    top: 0px;
    //position: fixed;
  }
}

div.pp_overlay {
  background: $black;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9500;
}

div.pp_pic_holder {
  display: none;
  position: fixed;
  width: 100px;
  z-index: 10000;
}

.pp_nav {
  display: none !important;
}

.pp_top {
  height: 20px;
  position: relative;
  display: none;
}

.pp_content {
  height: 40px;
  min-width: 40px;
}

.pp_fade {
  display: none;
}

.pp_content_container {
  position: relative;
  text-align: left;
  width: 100%;
  padding: 0 30px;
}

.pp_hoverContainer {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2000;
  display: none !important;
}

.pp_gallery {
  display: none !important;
  left: 50%;
  margin-top: -50px;
  position: absolute;
  z-index: 10000;
}

.pp_gallery li.default a img {
  display: none;
}

a.pp_expand,
a.pp_contract {
  cursor: pointer;
  display: none;
  height: 20px;
  position: absolute;
  right: 30px;
  text-indent: -10000px;
  top: 10px;
  width: 20px;
  z-index: 20000;
}

a.pp_close {
  position: absolute;
  right: -2px;
  top: 0;
  display: block;
  line-height: 22px;
  text-indent: -10000px;
  background-size: cover;
  z-index: 99999;
}

div.ppt {
  color: #fff;
  display: none;
  font-size: 17px;
  margin: 0 0 5px 15px;
  z-index: 9999;
}

img#fullResImage {
  width: 100% !important;
  height: auto !important;
}

.info-pp-container .pp_content {
  min-width: auto;
  height: auto !important;
  max-width: 100% !important;
  //overflow: hidden;
  width: auto !important;
  overflow-y: scroll;
  max-height: 100vh;
  @include phablet-down {
    max-height: 90vh;
  }
}

.pp_pic_holder.pp_default {
  min-width: 320px !important;
  overflow: hidden;
  max-height: 100vh;
  max-width: 95%;
  @include phablet-down {
    max-height: 90vh;
  }
}

.pp_pic_holder .ppt {
  width: 99% !important;
  display: none !important;
}

.info-pp-bottom.pp_bottom, .info-pp-container.pp_content_container {
  max-width: 100% !important;
  //overflow: hidden;
  @include phablet-down {
    margin-top: 35px;
  }
}

.cookies-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow: auto;
  z-index: 999;
  display: none;
  background: linear-gradient(489deg, rgb(0, 134, 161) 0%, rgb(0, 76, 108) 100%);
  &.active {
    display: block;
  }
  .content-wrap {
    padding: 10px 0;
    @include desktop-up {
      //max-width: 930px;
      max-width: 950px;
      margin: 0 auto;
    }
    max-width: 100%;
    margin: 0 auto;
    p {
      font-family: $font-families-gotham;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: $white;
    }
    .close-txt {
      cursor: pointer;
    }
    .close-btn {
      position: absolute;
      top: 17px;
      right: 2%;
      cursor: pointer;
      width: 15px;
      height: 15px;
      @include container-max-width-up {
        right: -5%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .bold {
    display: inline-block;
    color: $white;
    font-weight: 600;
  }

}
