.header-rms {
  &.new-header {
    opacity: 0;
    //@include desktop-up{
    //  min-height: 79px;
    //}
    .container {
      @include container-up {
        max-width: 1264px;
        padding: 0 32px;
      }
      @include desktop {
        padding: 0 25px;
      }
      @include desktop-down {
        padding: 0 16px;
      }
      .wrapper-white {
        .header-wrap {
          @include desktop-up {
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
          }
          @include desktop-down {
            padding: 8px 0;
          }

          .logo-img {
            @include desktop-up {
              margin-top: 11px;
            }
            @include desktop-down {
              width: 40px;
              height: 40px;
            }
          }
          .hamburger-logo {
            &.open{
              span{
                @include desktop-down{
                  &:nth-child(1){
                    top: 12px;
                  }
                  &:nth-child(3){
                    top: 12px;
                  }
                }
              }
            }
            @include desktop-down {
              width: 24px;
              height: 19px;
            }
            span{
              @include desktop-down{
                height: 2px;
                &:nth-child(2){
                  top: 8px;
                }
                &:nth-child(3){
                  top: 16px;
                }
              }
            }
          }

          nav {
            @include desktop-down {
              padding: 0px 24px;
              top: 56px;
              overflow-y:auto;
            }
            ul {
              @include container-up {
                margin: 0 0px 0 32px;
                width: calc(100% - 269px);
                justify-content: left;
              }
              @include desktop {
                margin: 0 0px 0 15px;
                width: calc(100% - 245px);
                justify-content: left;
              }
              li {
                @include container-up {
                  padding: 26px 0 28px;
                }
                @include desktop {
                  padding: 26px 0 28px;
                }
                &:last-child a:after {
                  @include container-up {
                    left: -10%;
                  }
                  @include desktop {
                    left: -6%;
                  }
                }
              }
              .nav-list {
                a {
                  @include container-up {
                    padding: 0 18px 0 15px !important;
                  }
                  @include desktop {
                    padding: 0 9px 0 9px !important;
                  }
                  &:before {
                    @include desktop-up {
                      bottom: -143%;
                    }
                  }
                }
                .sub-menu {
                  @include desktop-up {
                    left: -32px;
                  }
                  .sub-content {
                    &.product-content {
                      .row-wrap {
                        .overview {
                          @include desktop {
                            padding-left: 31px;
                            padding-right: 18px;
                            padding-bottom: 32px;
                          }
                          .small-text {
                            @include desktop-up {
                              padding: 4px 0px 8px 0;
                            }

                          }
                          .sub-links {
                            @include desktop-up {
                              max-width: 100%;
                              padding: 10px 0 0;
                            }
                            span {
                              @include desktop-up {
                                padding: 0 0px 12px 0;
                              }
                            }
                          }
                        }
                        .model {
                          @include container-up {
                            padding: 33px 20px 32px 28px;
                            flex-basis: 29%;
                            max-width: 29%;
                          }
                          @include desktop {
                            padding: 33px 18px 32px;
                            flex-basis: 29%;
                            max-width: 29%;
                          }
                          .small-text {
                            @include desktop-up {
                              padding: 4px 0px 6px 0;
                            }
                          }
                          .sub-links {
                            &:nth-child(4) {
                              @include container-up {
                                padding-left: 19px;
                              }
                              @include desktop {
                                padding-left: 6px;
                              }

                            }
                            @include desktop-up {
                              padding: 13px 0 0px;
                            }
                            span {
                              @include desktop-up {
                                padding: 0 0px 15px 0;
                              }
                            }
                          }
                        }
                        .data {
                          @include container-up {
                            padding: 33px 26px 32px 30px;
                            max-width: 22.6%;
                            flex-basis: 22.6%;
                          }
                          @include desktop {
                            padding: 33px 18px 32px;
                            max-width: 22.6%;
                            flex-basis: 22.6%;
                          }
                          .small-text {
                            @include desktop-up {
                              padding: 4px 0px 6px 0;
                            }
                          }
                          .sub-links {
                            @include desktop-up {
                              padding: 10px 0 0;
                            }
                            span {
                              @include desktop-up {
                                padding: 0 0px 12px 0;

                              }
                            }
                          }
                        }
                        .software {
                          @include container-up {
                            padding: 33px 56px 32px 32px;
                            flex-basis: 25.4%;
                            max-width: 25.4%;
                          }
                          @include desktop {
                            padding: 33px 29px 32px 18px;
                            flex-basis: 25.4%;
                            max-width: 25.4%;
                          }
                          .small-text {
                            @include desktop-up {
                              padding: 4px 0px 6px 0;
                            }
                          }
                          .sub-links {
                            @include desktop-up {
                              padding: 10px 0 0;
                              max-width: 100%;
                            }
                            span {
                              @include desktop-up {
                                padding: 0 0px 12px 0;
                              }
                            }
                          }
                        }
                      }
                    }
                    &.col-two-columns{
                        .row-wrap{
                          .services-block{
                            @include desktop-up {
                              max-width: 73%;
                              flex-basis: 73%;
                            }
                            @include desktop {
                              padding: 26px 15px 32px 32px;
                            }
                            @include desktop-down{

                            }
                            .sub-links {
                              @include desktop-up {
                                width: calc(50% - 29px) !important;
                                padding-bottom: 0;
                                padding-top: 16px;
                              }
                              @include phablet-up {
                                width: calc(50% - 3px) !important;
                              }
                              @include phablet-down{
                                width: calc(100%)!important;
                              }
                              p{
                                @include desktop-up{
                                  min-height:auto !important;
                                  padding: 13px 0px 14px 0 !important;
                                }

                              }
                              span {
                                @include desktop-up {
                                  padding: 0 15px 10px 0;
                                }

                                .small-text {
                                  @include desktop-up {
                                    min-height: 50px;
                                    padding: 6px 15px 5px 0;
                                  }
                                  @include desktop {
                                    padding: 6px 0px 5px 0;
                                  }
                                }
                              }
                            }
                          }
                          .resource-media {
                            &:before {
                              @include desktop-up {
                                height: 80%;
                                top: 32px;
                              }
                              @include desktop-down{
                                display:none;
                              }
                            }
                            @include desktop-up {
                              max-width: 27%;
                              flex-basis: 27%;
                              padding: 26px 32px 27px 33px;
                            }
                            .img-box {
                              @include desktop-up {
                                max-width: 276px;
                                height: 137px;
                                margin-top: 0;
                                overflow: hidden;
                              }
                              a {
                                @include desktop-up {
                                  padding: 0 0px 0 0px !important;
                                  width: 100%;
                                  height: 100%;
                                }
                              }
                            }
                            h5 {
                              @include desktop-up {
                                padding-top: 19px;
                              }
                            }
                            .small-text {
                              @include desktop-up {
                                letter-spacing: 0.96px;
                                padding-top: 11px;
                              }
                            }
                            .learn-more {
                              @include desktop-up {
                                padding: 0 !important;
                                margin: 12px 0 0px 0 !important;
                              }
                            }
                          }
                        }
                    }
                    &.serivces-content {
                      .row-wrap {
                        .col-content {
                          @include desktop-up {
                            max-width: 73%;
                            flex-basis: 73%;
                          }
                          @include desktop {
                            padding: 26px 15px 32px 32px;
                          }
                          .sub-links {
                            @include desktop-up {
                              width: calc(50% - 29px);
                              padding-bottom: 0;
                              padding-top: 16px;
                            }
                            span {
                              @include desktop-up {
                                padding: 0 15px 10px 0;
                              }

                              .small-text {
                                @include desktop-up {
                                  min-height: 50px;
                                  padding: 6px 15px 5px 0;
                                }
                                @include desktop {
                                  padding: 6px 0px 5px 0;
                                }
                              }
                            }
                          }
                        }
                        .service-media {
                          &:before {
                            @include desktop-up {
                              height: 80%;
                              top: 32px;
                            }
                          }
                          @include desktop-up {
                            max-width: 27%;
                            flex-basis: 27%;
                            padding: 26px 32px 27px 33px;
                          }
                          .img-box {
                            @include desktop-up {
                              max-width: 276px;
                              height: 137px;
                              margin-top: 0;
                              overflow: hidden;
                            }
                            a {
                              @include desktop-up {
                                padding: 0 0px 0 0px !important;
                                width: 100%;
                                height: 100%;
                              }
                            }
                          }
                          h5 {
                            @include desktop-up {
                              padding-top: 19px;
                            }
                          }
                          .small-text {
                            @include desktop-up {
                              letter-spacing: 0.96px;
                              padding-top: 11px;
                            }
                          }
                          .learn-more {
                            @include desktop-up {
                              padding: 0 !important;
                              margin: 12px 0 0px 0 !important;
                            }
                          }
                        }
                      }
                    }

                    &.solutions-content {
                      @include desktop-up {
                        padding: 0;
                      }
                      .col-content {
                        @include desktop-up {
                          max-width: 73%;
                          flex-basis: 73%;
                          padding-right: 5px !important;
                        }
                        @include desktop {
                          padding: 30px 5px 30px 32px !important;
                        }
                        .sub-links {
                          &:nth-child(3) {
                            @include desktop-up {
                              padding-left: 9px;
                            }
                          }
                          &:nth-child(4) {
                            @include desktop-up {
                              padding-left: 17px;
                            }
                          }
                          @include desktop-up {
                            padding-bottom: 0;
                            padding-right: 24px;
                            padding-top: 13px;
                          }
                          @include phablet-down {
                            width: 50%;
                            max-width: 50%;
                            flex-basis: 50%;
                          }
                          @include phone-down {
                            width: calc(100%);
                            max-width: 100%;
                            flex-basis: 100%;
                            margin-left: 0;
                          }
                          h6 {
                            @include desktop-up {
                              letter-spacing: 0.20px;
                            }
                          }
                          .small-text {
                            @include desktop-up {
                              min-height: 63px;
                              padding: 13px 38px 19px 0;
                            }
                            @include desktop {
                              padding: 13px 0px 19px 0;
                            }
                          }
                          span {
                            @include desktop-up {
                              padding: 0 0px 15px 0;
                            }
                          }
                        }
                      }
                      .sol-media {
                        &:before {

                          @include desktop-up {
                            height: 80%;
                            top: 32px;
                          }
                        }
                        @include desktop-up {
                          max-width: 27%;
                          flex-basis: 27%;
                          padding: 32px 32px 32px 33px;
                        }

                        .img-box {
                          max-width: 276px;
                          height: 131px;
                          margin-top: 0;
                          overflow: hidden;
                          //a{
                          //  @include desktop-up{
                          //    padding: 0 0px 0 0px !important;
                          //    width:100%;
                          //    height: 100%;
                          //  }
                          //}
                        }
                        h5 {
                          @include desktop-up {
                            padding-top: 19px;
                          }
                        }
                        .small-text {
                          @include desktop-up {
                            letter-spacing: 0.96px;
                            padding-top: 11px;
                          }
                        }
                        .learn-more {
                          @include desktop-up {
                            padding: 0 !important;
                            margin: 12px 0 25px 0 !important;
                          }
                        }
                      }
                    }

                    &.resource {
                      .row-wrap {
                        .services-block {
                          @include desktop-up {
                            max-width: 73%;
                            flex-basis: 73%;
                            padding-right: 5px !important;
                          }
                          @include desktop {
                            padding: 32px 5px 32px 32px ;
                          }
                          @include desktop-down {
                            max-width: 100%;
                            flex-basis: 100%;
                          }
                          @include phablet-down {
                            padding-bottom: 15px;
                          }
                          .sub-links {
                            width: calc(33.33% - 8px);
                            @include phablet-down {
                              width: calc(50% - 8px);
                            }
                            @include phone-down {
                              width: calc(100%);
                            }
                            @include desktop-up {
                              padding-right: 24px;
                              padding-top: 0;
                            }
                            @include desktop-down {
                              padding: 0 10px 4px 0;
                            }
                            .small-text {
                              @include desktop-up {
                                padding-right: 20px;
                              }
                              @include desktop {
                                padding-right: 0;
                              }
                              @include desktop-down {
                                padding-right: 0;
                              }
                            }
                            h6 {
                              @include desktop-up {
                                letter-spacing: 0.20px;
                              }

                            }
                            span {
                              @include desktop-up {
                                padding-right: 0px;
                              }
                              @include desktop-down {
                                padding: 0 0px 6px 0;
                              }
                            }
                          }
                        }
                        .resource-media {
                          &:before {
                            @include desktop-up {
                              height: 80%;
                              top: 32px;
                              left:0;
                            }
                          }
                          @include desktop-up {
                            max-width: 27%;
                            flex-basis: 27%;
                            padding: 34px 32px 32px 32px;
                          }
                          @include desktop {
                            padding: 34px 32px 32px 24px;
                          }
                          @include desktop-down {
                            max-width: 100%;
                            flex-basis: 100%;
                            padding-left: 0;
                          }
                          .img-box {
                            max-width: 276px;
                            height: 131px;
                            margin-top: 0;
                            overflow: hidden;
                            //a{
                            //  @include desktop-up{
                            //    padding: 0 0px 0 0px !important;
                            //    width:100%;
                            //    height: 100%;
                            //  }
                            //}
                          }
                          h5 {
                            @include desktop-up {
                              padding-top: 19px;
                            }
                          }
                          .small-text {
                            @include desktop-up {
                              letter-spacing: 0.96px;
                              padding-top: 11px;
                            }
                          }
                          .learn-more {
                            @include desktop-up {
                              padding: 0 !important;
                              margin: 12px 0 25px 0 !important;
                            }
                          }
                        }
                      }
                    }

                    &.company-content {
                      @include desktop-up {
                        padding: 0;
                      }
                      .row {
                        .col-content {
                          @include desktop-up {
                            max-width: 73%;
                            flex-basis: 73%;
                            padding-right: 5px !important;
                          }
                          @include desktop {
                            padding: 30px 5px 30px 32px;
                          }
                          @include tablet {
                            max-width: 100%;
                            flex-basis: 100%;
                          }
                          @include phablet {
                            max-width: 100%;
                            flex-basis: 100%;
                          }
                          .sub-links {
                            &:nth-child(2) {
                              @include phablet {
                                margin-left: 0;
                              }
                            }
                            &:nth-child(3) {
                              @include desktop-up {
                                padding-left: 9px;
                              }
                            }
                            &:nth-child(4) {
                              @include desktop-up {
                                padding-left: 17px;
                              }
                            }
                            @include desktop-up {
                              padding-bottom: 0;
                              padding-right: 24px;
                              padding-top: 0;
                            }
                            @include phablet-down {
                              width: calc(50% - 20px);
                              padding-right: 15px;

                            }
                            @include phablet {
                              width: calc(53% - 10px);
                              padding-right: 20px;
                            }
                            @include phone-down {
                              width: calc(100%);
                              max-width: 100%;
                              flex-basis: 100%;
                              margin-left: 0;
                            }
                            h6 {
                              @include desktop-up {
                                letter-spacing: 0.20px;
                              }

                            }
                            .small-text {
                              @include desktop-up {
                                min-height: 63px;
                                padding: 13px 30px 19px 0;
                              }
                              @include desktop {
                                padding: 13px 0px 19px 0;
                              }
                              @include phablet {
                                padding: 4px 0px 14px 0;
                              }
                              @include phablet-down {
                                padding-right: 0;
                              }
                            }
                            span {
                              @include desktop-up {
                                padding: 0 0px 15px 0;
                              }
                            }
                          }
                        }
                        .company-media {
                          &:before {
                            @include desktop-up {
                              height: 80%;
                              top: 32px;
                            }
                          }
                          @include desktop-up {
                            max-width: 27%;
                            flex-basis: 27%;
                            padding: 34px 32px 32px 33px;
                          }
                          @include tablet {
                            max-width: 100%;
                            flex-basis: 100%;
                            padding-left: 0;
                          }
                          @include phablet {
                            max-width: 100%;
                            flex-basis: 100%;
                            padding-left: 0;
                          }

                          .img-box {
                            max-width: 276px;
                            height: 131px;
                            margin-top: 0;
                            overflow: hidden;
                            //a{
                            //  @include desktop-up{
                            //    padding: 0 0px 0 0px !important;
                            //    width:100%;
                            //    height: 100%;
                            //  }
                            //}
                          }
                          h5 {
                            @include desktop-up {
                              padding-top: 19px;
                            }
                          }
                          .small-text {
                            @include desktop-up {
                              letter-spacing: 0.96px;
                              padding-top: 11px;
                            }
                          }
                          .learn-more {
                            @include desktop-up {
                              padding: 0 !important;
                              margin: 12px 0 25px 0 !important;
                            }
                          }
                        }
                      }

                    }

                    .row-wrap {
                      @include desktop-up {
                        padding: 0;
                      }
                      .col-content {
                        @include container-up {
                          padding: 33px 20px 32px 32px;
                          @include desktop {
                            padding: 33px 20px 32px 25px;
                          }
                        }
                        .small-text {
                          @include desktop-up {
                            //padding: 7px 0px 8px 0;
                            min-height: 72px;
                          }
                        }
                        .sub-links {
                          @include desktop-up {
                            max-width: 100%;
                          }
                          span {
                            @include desktop-up {
                              &:last-child {
                                padding-bottom: 0 !important;
                              }
                            }
                            a {
                              @include desktop-down{
                                display: inline-block;
                              }
                            }
                          }
                          h6{
                            a{
                              font-size:14px;
                              @include desktop-down{
                                display: inline-block;
                              }
                            }
                          }
                        }

                        a {
                          @include desktop-up {
                            padding: 0 !important;
                          }

                        }
                      }
                    }
                  }
                }

                .row-wrap {
                  @include desktop-up {
                    padding: 0;
                  }
                  .col-content {
                    @include container-up {
                      padding: 33px 20px 32px 32px;
                      @include desktop {
                        padding: 33px 20px 32px 25px;
                      }
                    }
                    .small-text {
                      @include desktop-up {
                        //padding: 7px 0px 8px 0;
                        min-height: 72px;
                      }
                    }
                    .sub-links {
                      @include desktop-up {
                        max-width: 100%;
                      }
                      span {
                        @include desktop-up {
                          &:last-child {
                            padding-bottom: 0 !important;
                          }
                        }
                        a {
                        }
                      }
                    }

                    a {
                      @include desktop-up {
                        padding: 0 !important;
                      }

                    }
                  }
                }

              }
              .red-link {
                &.new-item {
                  margin: 0;
                  .head-text {
                    font-family: $font-families-gotham;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.75;
                    letter-spacing: normal;
                    text-align: left;
                    color: $wine-red;
                    display: block;
                    padding: 0 !important;
                    //@include desktop-down{
                    //  display: inline-block;
                    //}
                    &:hover {
                      color: $light-green;
                    }
                    &:after {
                      display: none;
                    }
                  }
                  a {
                    color: $black;
                    @include container-up {
                      padding: 0 21px 0 13px !important
                    }
                    @include desktop {
                      padding: 0 9px 0 9px !important;
                    }
                  }
                  .sub-menu {
                    @include desktop-up {
                      padding: 26px 32px 25px 32px;
                      left: 0;
                    }
                    .sub-links {
                      span {
                        a {
                          transition: 0.3s all ease-in-out;
                          &:hover {
                            color: $light-green;
                          }
                        }
                        .small-text {
                          @include desktop-up {
                            padding: 5px 0 10px 0;
                          }
                        }
                      }
                    }
                  }
                }
                @include container-up {
                  margin: 0 0 0 19px;
                }
                @include desktop {
                  margin: 0 0 0 10px;

                }
                a {
                  &:before {
                    @include desktop-up {
                      bottom: -143%;
                    }
                  }
                  @include desktop {
                    padding: 0 9px !important;
                  }
                  &:before {
                  }
                }
                .sub-menu-red {
                  @include desktop-up {
                    left: 0;
                    padding: 32px 32px 32px 32px;
                    width: 340px !important;
                  }
                  
                  .sub-links {
                    span {
                      &:first-child {
                        @include desktop-up {
                          padding: 0;
                        }

                      }
                      &:last-child {
                        @include desktop-up {
                          padding-top: 9px;
                        }

                      }
                      @include desktop-up {
                        padding-bottom: 0;
                        padding-right: 0;
                        padding-top: 9px;
                      }
                      a {
                        @include desktop-up {
                          padding: 0 !important;
                        }

                      }
                      .small-text {
                        @include desktop-up {
                          padding: 8px 0 6px 0;
                        }
                      }
                    }
                  }
                }
              }
            }
            .search-box {
              @include desktop-up {
                padding: 0 28px 0 0;
              }
              @include desktop-down {
                padding: 0;
              }

              .sub-menu {
                @include desktop-up {
                  left: -32px;
                }

                .container-box {
                  @include desktop-down {
                    height: 40px;
                  }
                  .search-btn {
                    @include tablet-down {
                      margin-right: 15px;
                    }
                  }
                  .search-block {
                    .search-wrap {
                      position: relative;
                      .search {
                        padding-right: 0;
                        width: 96%;
                        @include desktop-down {
                          height: 40px;
                          width: 85%;
                        }
                        &:not(:valid) {
                          ~ {
                            .close-icon {
                              display: none;
                            }
                          }
                        }

                      }
                      .close-icon {
                        background-color: transparent;
                        display: inline-block;
                        vertical-align: middle;
                        outline: 0;
                        cursor: pointer;
                        position: absolute;
                        right: 21px;
                        width: 20px;
                        height: 20px;
                        transform: translate(0%, 8%);
                        @include desktop {
                          right: 15px;
                        }
                        @include desktop-down {
                          right: 8px;
                          transform: translate(0%, 50%);
                        }
                        &:before {
                          content: "";
                          width: 2px;
                          height: 100%;
                          position: absolute;
                          background-color: $black;
                          opacity: 0.4;
                          transform: rotate(45deg);
                          top: 0;
                          bottom: 0;
                          left: 0;
                          right: 0;
                          margin: 0 auto;
                        }
                        &:after {
                          content: "";
                          width: 2px;
                          height: 100%;
                          position: absolute;
                          background-color: $black;
                          opacity: 0.4;
                          transform: rotate(134deg);
                          top: 0;
                          bottom: 0;
                          left: 0;
                          right: 0;
                          margin: 0 auto;
                        }

                      }
                    }
                  }
                }
              }
            }
            .login-box {
              @include container-up {
                margin-right: 34px;
              }
              .profiles-block {
                @include desktop-up {
                  min-width: 340px;
                  padding: 35px 32px 32px 31px;
                  left: -121px;
                }
                .head-text {
                  font-family: $font-families-gotham;
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 1.75;
                  letter-spacing: normal;
                  text-align: left;
                  color: $wine-red;
                  display: block;
                  padding: 0 !important;
                  //@include desktop-down{
                  //  display: inline-block;
                  //}
                  &:hover {
                    color: $light-green;
                  }
                  &:after {
                    display: none;
                  }
                }
                .sub-links {
                  span {
                    &:last-child {
                      @include desktop-up {
                        padding-bottom: 0;
                      }
                    }
                    @include desktop-up {
                      padding: 0 0 22px 0;
                    }
                    a {
                      font-size: 14px;
                      font-weight: normal;
                      font-family: $font-families-gotham;
                      font-style: normal;
                      line-height: 1.57;
                      letter-spacing: normal;
                      text-align: left;
                      color: $black;
                      border: none;
                      transition: 0.3s all ease-in-out;
                      display: inline;
                      
                      &:hover {
                        color: $light-green;
                      }
                      span {
                        @include desktop-up {
                          position: relative;
                          display: inline;
                          width: 100%;
                          top: 1px;
                        }
                        @include desktop-down {
                          position: relative;
                          display: inline;
                          width: 100%;
                        }
                        &:after {
                          content: '';
                          width: 11px;
                          height: 12px;
                          right: -18px;
                          position: absolute;
                          top: 0;
                          bottom: 0;
                          background-size: 100%;
                          background-image: url(/themes/rms/templates/dist/images/svg/lock.svg);
                          background-repeat: no-repeat;
                          @include desktop-down {
                            top: 4px;
                          }
                        }
                      }

                    }
                    .small-text {
                      display: block;
                      font-size: 12px;
                      font-weight: normal;
                      opacity: 0.65;
                      padding-top: 5px;
                      @include desktop-down {
                        border-bottom: 0;
                        padding-bottom: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0 0;
  background: transparent;
  z-index: 99;
  transition: 0.3s all ease-in-out;
  .wrapper-white {
    @include desktop-up {
      position: relative;
    }
  }
  &.fixed {
    background-color: $white;
    box-shadow: 0 6px 20px -8px rgba(0, 0, 0, 0.08);
    transition: 0.3s all ease-in-out;
    .header-wrap {
      .bg-white {
        background-color: transparent;
        transition: 0.3s all ease-in-out;
      }
    }
  }
  @include desktop-down {
    z-index: 15;
    background-color: $white;
  }
  .header-wrap {
    max-width: 1096px;
    margin: 0 auto;
    overflow: visible;
    @include large_desktop {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 14px;
    }
    @include desktop-down {
      padding: 15px 0;
      overflow: hidden;
    }
    @media only screen and (min-width: 1024px) and (max-width: 1366px) {
      padding: 0 35px;
    }
    .hamburger-logo {
      display: none;
      float: right;
      width: 30px;
      height: 20px;
      position: relative;
      margin-top: 11px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;
      span {
        background: $black;
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        cursor: pointer;
        &:nth-child(1) {
          top: 0px;
        }

        &:nth-child(2) {
          top: 10px;
        }

        &:nth-child(3) {
          top: 20px;
        }
      }

      &.open {
        span:nth-child(1) {
          top: 11px;
          transform: rotate(135deg);
        }

        span:nth-child(2) {
          opacity: 0;
          left: -60px;
        }

        span:nth-child(3) {
          top: 11px;
          transform: rotate(-135deg);
        }
      }
      @include desktop-down {
        display: block !important;
      }
    }
    .logo-img {
      float: left;
      width: 50px;
      height: 50px;
      margin-top: 13px;
      @include desktop-down {
        margin: 0;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .bg-white {
      background-color: $white;
      transition: 0.3s all ease-in-out;
    }
    nav {
      align-items: center;
      @media only screen and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: portrait) {
        padding: 0 40px;
      }
      @include desktop-up {
        display: flex !important;
        align-items: center;
      }
      @include desktop-down {
        display: none;
        background: $white;
        position: absolute;
        height: 100vh;
        top: 65px;
        left: 0;
        width: 100%;
        padding: 0 20px;
        transition: 0.5s width ease-in-out;
        overflow-y: scroll;
      }

      &.active {
        display: block;
        width: 100%;
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        margin: 0 116px 0 42px;
        @include large_desktop {
          margin: 0 auto;
        }
        @include desktop-down {
          margin: 0 auto;
        }
        @include desktop-down {
          display: block;
          margin: 30px 0 0 0;
        }
        @media only screen and (min-width: 1365px) {
          margin: 0 176px 0 31px;
        }
        @media only screen and (min-width: 1024px) and (max-width: 1366px) {
          margin: 0 auto;
        }
        li {
          list-style: none;
          margin: 0;
          position: inherit;
          padding: 27px 0;
          transition: 0.3s all ease-in-out;
          //cursor: pointer;
          @media screen and (min-width: 992px) and (max-width: 1108px) {
            margin: 0;
          }

          @include desktop-down {
            padding: 0;
            a {
              margin: 0;
              border-bottom: 1px solid $light-gray;
              padding: 3px 0;
              display: block;
              padding: 17px 0;
            }
          }
          &.active {
            a {
              @include desktop-up {
                &:before {
                  opacity: 1;
                  visibility: visible;
                  width: 100%;
                }
              }
            }
          }
          &:hover {
            @include desktop-up {
              background-color: $hex-white-smoke;
              .sub-menu {
                opacity: 1;
                visibility: visible;
                //top: 78px;
              }
            }
            a {
              @include desktop-up {
                &:before {
                  opacity: 1;
                  visibility: visible;
                  width: 100%;
                }
              }
            }
          }
          a {
            font-size: 14px;
            color: $black;
            font-weight: 500;
            line-height: 1.43;
            letter-spacing: normal;
            font-family: $font-families-gotham;
            position: relative;
            @media only screen and (min-width: 1400px) {
              padding: 0 18px 0 11px !important;
            }
            @media only screen and (min-width: 1024px) and (max-width: 1366px) {
              //padding: 0 9px !important;
              padding: 0 14px !important;
            }
            @include desktop-up {
              padding: 0 11px;
              &:before {
                content: "";
                position: absolute;
                bottom: -138%;
                left: 0;
                width: 0;
                height: 4px;
                background-image: linear-gradient(91deg, #0086a1 0%, #00b7c6 100%);
                opacity: 0;
                visibility: hidden;
                transition: 0.5s all ease-in-out;
              }
            }
            @include desktop-down {
              font-size: 16px;
              &:after {
                content: "";
                position: absolute;
                right: 0;
                top: 20px;
                background-image: url(/themes/rms/templates/dist/images/down_arrow.svg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
              }
            }

          }
          &:last-child {
            a {
              position: relative;
              &:after {
                content: '';
                position: absolute;
                top: -1px;
                left: -2px;
                width: 1px;
                height: 24px;
                background-color: $black;
                opacity: 0.1;
                @media only screen and (min-width: 1400px) {
                  left: -5%;
                }
              }
              @include desktop-down {
                &:after {
                  display: none;
                }
              }
            }

          }
          &:before {
            display: none;
          }
          &.red-link {
            margin: 0 0 0 4px;
            position: relative;
            @include desktop-down {
              margin: 0;
              //padding: 0 26px 17px 0 !important;
              //border-bottom: 1px solid $light-gray;
              @include desktop-down {
                &:after {
                  content: "";
                  position: absolute;
                  right: 0;
                  top: 20px;
                  background-image: url(/themes/rms/templates/dist/images/down_arrow.svg);
                  background-size: 100% 100%;
                  background-repeat: no-repeat;
                  width: 20px;
                  height: 20px;
                  -webkit-transition: all 0.3s ease-in-out;
                  -o-transition: all 0.3s ease-in-out;
                  transition: all 0.3s ease-in-out;
                }
              }
            }
            //&.arrow-rotate {
            //  @include desktop-down {
            //    &:after {
            //      transform: rotate(180deg);
            //    }
            //  }
            //}
            &.rotate-arrow {
              @include desktop-down {
                &:after {
                  transform: rotate(180deg);
                }
              }
            }
            a {
              color: $wine-red;
            }
            &:hover {
              @include desktop-up {
                .sub-menu-red {
                  opacity: 1;
                  visibility: visible;
                  top: 78px;
                }
              }
            }
          }
          .sub-menu {
            //cursor: auto;
            @include desktop-up {
              box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.06);
            }

            &:after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              margin: auto;
              width: 100%;
              height: 1px;
              background-color: $light-gray;
            }
            @include desktop-up {
              position: absolute;
              top: 78px;
              left: 0;
              width: 100%;
              min-height: 250px;
              background: $white;
              opacity: 0;
              visibility: hidden;
              transition: 0.5s all ease-in-out;
              display: block !important;
            }
            @include desktop-down {
              display: none;
            }
            .bg-grey {
              background-color: $hex-white-smoke;
            }
            .row-wrap {
              padding: 0;
              margin: 0;
              @include desktop-up {
                padding: 0 0 0 26px;
              }
              @include desktop-down {
                font-size: 0;
              }
            }
            a {
              padding-left: 0 !important;
              &:before {
                display: none;
              }
              @include desktop-down {
                border: none;
              }
            }
            .sub-content {
              .sub-links {
                h6 {
                  a {
                    &:hover {
                      color: $light-green;
                    }
                  }
                }
              }
              &.serivces-content {
                .row-wrap {
                  @include desktop-down {
                    padding-top: 10px;
                  }
                }
                .col-content {
                  max-width: 100%;
                  flex-basis: 100%;
                  @include desktop-up {
                    max-width: 70%;
                    flex-basis: 70%;
                    padding: 29px 0 10px 23px;
                  }
                  @include desktop-down {
                    padding-left: 0;
                  }
                  @include tablet {
                    max-width: 50%;
                    flex-basis: 50%;
                  }
                  @include tablet-down {
                    padding-top: 0;
                  }
                  @include phablet {
                    max-width: 50%;
                    flex-basis: 50%;
                  }
                  .small-text {
                    padding: 4px 38px 11px 0;
                    max-width: 343px;
                  }
                }
                .sub-links {
                  @include tablet-down {
                    padding: 0 0 4px;
                  }
                  span {
                    padding: 0 15px 13px 0;
                  }
                  h6 {
                    font-size: 14px;
                  }
                }

                &.resource {
                  @include desktop-up {
                    .col-content {
                      padding: 29px 0 10px 24px;
                    }
                    .sub-links {
                      padding: 0 0 4px;
                    }
                  }
                  @include tablet {
                    .col-content {
                      padding-top: 29px;
                    }
                  }
                  .media-block {
                    @include desktop-up {
                      padding-left: 56px;
                      padding-right: 50px;
                      &:before {
                        left: 6px;
                      }
                    }
                  }
                }
                .media-block {
                  @include phablet {
                    max-width: 50%;
                    flex-basis: 50%;
                    padding-left: 15px;
                    &:before {
                      display: block;
                    }
                  }
                }
              }
              &.solutions-content {
                @include desktop-up {
                  padding-bottom: 45px;
                }
                .row-wrap {
                  @include desktop-down {
                    padding-top: 10px;
                  }
                }
                .col-content {
                  max-width: 100%;
                  flex-basis: 100%;
                  font-size: 0;
                  @include desktop-up {
                    max-width: 70%;
                    flex-basis: 70%;
                    padding: 29px 0 0 24px;
                  }
                  @include desktop-down {
                    padding-left: 0;
                    max-width: 100%;
                    flex-basis: 100%;
                  }

                  .small-text {
                    padding: 11px 38px 19px 0;
                    max-width: 343px;
                  }
                  .sub-links {
                    width: 33.33%;
                    @include desktop-up {
                      padding-top: 14px;
                      &:nth-child(3) {
                        padding-left: 5px;
                      }
                    }
                    @include desktop-down {
                      padding-right: 5px;
                    }
                    @include tablet-down {
                      padding: 0 0 4px;
                    }
                    @include phone-down {
                      width: 50%;
                    }
                    h6 {
                      height: 14px;
                      font-family: $font-families-gotham;
                      font-size: 14px;
                      font-weight: 500;
                      line-height: 1.43;
                      letter-spacing: 0.42px;
                    }
                    span {
                      @include desktop-up {
                        padding: 0 15px 17px 0;
                      }
                    }
                  }
                }
                .media-block {
                  @include desktop-down {
                    &:before {
                      display: none;
                    }
                  }
                  @include tablet {
                    padding-top: 10px;
                    padding-left: 0;
                  }
                }
              }
              &.company-content {
                .row-wrap {
                  @include desktop-down {
                    padding-top: 10px;
                  }
                  @include phablet-down {
                    padding-top: 15px;
                  }
                }
                .col-content {
                  max-width: 100%;
                  flex-basis: 100%;
                  font-size: 0;
                  @include desktop-up {
                    max-width: 70%;
                    flex-basis: 70%;
                    padding: 0 0 0 24px;
                  }

                  @include desktop-down {
                    padding-left: 0;
                    max-width: 50%;
                    flex-basis: 50%;
                  }
                  @include tablet {
                    max-width: 50%;
                    flex-basis: 50%;
                  }
                  @include phablet {
                    max-width: 50%;
                    flex-basis: 50%;
                  }
                  @include phablet-down {
                    max-width: 100%;
                    flex-basis: 100%;
                  }
                  .small-text {
                    padding: 4px 38px 14px 0;
                    max-width: 343px;
                  }
                  .sub-links {
                    padding: 31px 0 4px;
                    width: 33.33%;
                    @include desktop-up {
                      &:nth-child(1) {
                        width: calc(33.33% - 15px);
                      }
                    }
                    @include desktop-down {
                      padding-right: 5px;
                    }
                    //@include desktop-up {
                    //  &:nth-child(2) {
                    //    span {
                    //      &:nth-child(3) {
                    //        padding-bottom: 33px;
                    //      }
                    //    }
                    //  }
                    //}
                    @include desktop-down {
                      max-width: 50%;
                      flex-basis: 50%;
                    }
                    @include tablet-down {
                      padding: 0 0 4px;
                    }
                    @include phablet {
                      &:nth-child(2) {
                        margin-left: 30px;
                      }
                    }
                    @include phone-down {
                      &:nth-child(2) {
                        margin-left: 30px;
                      }
                    }
                    h6 {
                      height: 14px;
                      font-family: $font-families-gotham;
                      font-size: 14px;
                      font-weight: 500;
                      line-height: 1.43;
                      letter-spacing: 0.42px;
                      @include desktop-up {
                        padding-bottom: 19px;
                      }
                      @include desktop-down {
                        margin-bottom: 10px;
                      }
                    }
                    span {
                      padding: 0 15px 17px 0;
                      @include desktop-down {
                        padding: 0 15px 6px 0;
                      }
                      @include phablet {
                        padding-right: 0;
                      }
                      @include phablet-down {
                        padding-right: 0;
                      }
                    }
                  }
                }
                .media-block {
                  @include phablet {
                    max-width: 50%;
                    flex-basis: 50%;
                    padding-left: 15px;
                    &:before {
                      display: block;
                    }
                  }
                }

              }
              &.product-content {
                .col-content {
                  padding: 29px 0 10px 22px;
                  @include desktop-down {
                    max-width: 50%;
                    flex-basis: 50%;
                  }
                  @include desktop-down {
                    margin-bottom: 15px;
                  }
                  @include phone-down {
                    max-width: 100% !important;
                    flex-basis: 100% !important;
                    margin: 0;
                    padding: 10px 0 0 0;
                  }
                  &.overview {
                    @include desktop-up {
                      padding-left: 24px;
                      max-width: 23%;
                      flex-basis: 23%;
                    }
                    @include desktop-down {
                      padding-left: 0;
                    }
                  }
                  &.model {
                    font-size: 0;
                    @include desktop-up {
                      max-width: 31%;
                      flex-basis: 31%;
                      padding: 29px 0 4px 36px;
                    }
                    .col-content {
                      @include desktop-up {
                        padding: 6px 38px 8px 0;
                      }
                    }
                    .small-text {
                      @include desktop-up {
                        padding: 6px 34px 6px 0;
                      }

                    }
                    .sub-links {
                      display: inline-block;
                      width: 50%;
                      margin-left: 0;
                      @include desktop-up {
                        padding: 17px 0 4px;
                        &:nth-child(4) {
                          padding-left: 5px;
                        }
                        span {
                          padding: 0 15px 17px 0;
                        }
                      }

                    }
                    @include phone-down {
                      padding-left: 0;
                      &.bg-grey {
                        background-color: transparent;
                      }
                    }

                  }
                  &.data {
                    @include desktop-up {
                      max-width: 23%;
                      flex-basis: 23%;
                      padding: 29px 0 10px 33px;
                    }
                    @include desktop-down {
                      padding-left: 0;
                    }
                  }
                  &.software {
                    @include desktop-up {
                      max-width: 23%;
                      flex-basis: 23%;
                      padding: 29px 0 10px 34px;
                    }
                    @include phone-down {
                      padding-left: 0;
                      &.bg-grey {
                        background-color: transparent;
                      }
                    }
                  }
                }
              }

              .col-content {
                .sub-links {
                  span {
                    a {
                      padding-left: 0 !important;
                      &:after {
                        display: none;
                      }
                    }
                  }
                }
              }

              .media-block {
                position: relative;
                max-width: 100%;
                flex-basis: 100%;
                padding-left: 35px;
                padding-top: 29px;
                @include desktop-up {
                  padding-left: 50px;
                  max-width: 30%;
                  flex-basis: 30%;
                }
                @include desktop {
                  padding-left: 20px;
                }
                @include desktop-down {
                  max-width: 50%;
                  flex-basis: 50%;
                }
                @include tablet-down {
                  max-width: 100%;
                  flex-basis: 100%;
                  padding: 0;
                  &:before {
                    display: none;
                  }
                }
                &:before {
                  content: "";
                  position: absolute;
                  top: 20px;
                  left: 0;
                  width: 1px;
                  height: 89%;
                  background-color: $black;
                  opacity: 0.1;
                }
                .img-box {
                  max-width: 250px;
                  height: 120px;
                  margin-top: 6px;
                  @include desktop-down {
                    a {
                      padding: 0;
                      &:after {
                        display: none;
                      }
                    }
                  }
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
                h5 {
                  font-family: $font-families-Inter;
                  line-height: 1.2;
                  letter-spacing: normal;
                  text-align: left;
                  padding-top: 17px;
                }
                .small-text {
                  padding-top: 6px;
                }
              }
              .head-text {
                font-family: $font-families-gotham;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.75;
                letter-spacing: normal;
                text-align: left;
                color: $wine-red;
                display: block;
                padding: 0 !important;
                //@include desktop-down{
                //  display: inline-block;
                //}
                &:hover {
                  color: $light-green;
                }
                &:after {
                  display: none;
                }
              }
              .small-text {
                padding: 7px 38px 8px 0;
                font-family: $font-families-gotham;
                font-size: 12px;
                font-weight: normal;
                line-height: 1.33;
                letter-spacing: normal;
                color: $primary8;
                opacity: 0.65;
              }
              .sub-links {
                display: inline-block;
                vertical-align: top;
                padding: 12px 0 4px;

                @include desktop-mid-width-up {
                  max-width: calc(100% - 51%);
                }
                h6 {
                  @include desktop-down {
                    a {
                      padding: 0;
                      &:after {
                        display: none;
                      }
                    }
                  }
                }
                span {
                  display: block;
                  //cursor: pointer;
                  padding: 0 15px 14px 0;
                  @include desktop-down {
                    padding: 0 15px 6px 0;
                  }
                  a {
                    font-size: 14px;
                    font-weight: normal;
                    font-family: $font-families-gotham;
                    font-style: normal;
                    line-height: 1.57;
                    letter-spacing: normal;
                    text-align: left;
                    color: $blackthin-light;
                    @include desktop-down {
                      padding: 3px 0;
                    }
                    &:hover {
                      color: $light-green;
                    }
                  }
                }
              }

            }

            &.sub-menu-red {
              padding: 33px 0;
              background-color: $white;
              @include desktop-up {
                box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.2);
              }
              @include desktop-up {
                position: absolute;
                left: -23px;
                width: 285px !important;
                min-height: 124px;
                top: 78px;
                opacity: 0;
                visibility: hidden;
                transition: 0.5s all ease-in-out;
                padding: 29px 0 3px 35px;
                display: block !important;
              }
              @include desktop-down {
                display: none;
                padding: 15px 0;
              }
              .small-text {
                padding: 4px 35px 8px 0;
                font-family: $font-families-gotham;
                font-size: 12px;
                font-weight: normal;
                line-height: 1.41;
                letter-spacing: normal;
                color: $primary8;
                opacity: 0.65;
              }
              .sub-links {
                display: inline-block;
                vertical-align: top;
                padding: 0;
                span {
                  display: block;
                  //cursor: pointer;
                  @include desktop-up {
                    padding: 0 15px 14px 0;
                  }
                  @include desktop-down {
                    padding: 0 15px 6px 0;
                  }
                  @include phablet-down {
                    padding-right: 0;
                  }
                  &:first-child {
                    @include desktop-up {
                      padding: 0;
                    }
                  }
                  a {
                    font-size: 14px;
                    font-weight: normal;
                    font-family: $font-families-gotham;
                    font-style: normal;
                    line-height: 1.57;
                    letter-spacing: normal;
                    text-align: left;
                    color: $blackthin-light;
                    border: none;
                    padding: 0;
                    &:hover {
                      color: $light-green;
                    }
                    &:after {
                      display: none;
                    }
                    &:before {
                      display: none;
                    }
                  }
                }
              }
            }
          }
          &.rotate-arrow {
            a {
              @include desktop-down {
                &:after {
                  transform: rotate(180deg);
                }
              }
            }
          }
        }
      }
      a {
        &.learn-more {
          margin: 4px 0 25px 0 !important;
          color: $wine-red !important;
          @include desktop-down {
            padding: 0;
            &:after {
              display: none;
            }
          }

          &:hover {
            color: $light-teal !important;
          }
        }
      }
      .search-box {
        padding: 0 20px 0 0;
        p {
          display: none;
          font-size: 14px;
          color: $black;
          font-weight: 500;
          line-height: 1.43;
          letter-spacing: normal;
          font-family: $font-families-gotham;
          cursor: pointer;
          @include desktop-down {
            font-size: 16px;
            padding: 17px 0;
            border-bottom: 1px solid #f3f3f3;
          }
        }
        @include desktop-down {
          float: left;
          display: block;
          width: 100%;
          p {
            display: block;
          }
          .search-icon {
            float: left;
            display: none;
          }
        }
        .sub-menu {
          padding: 49px 0 80px;
          display: none;
          @include desktop-up {
            opacity: 1;
            visibility: visible;
            position: absolute;
            background-color: $white;
            //background-color: rgba(255, 255, 255, 0.8901960784313725);
            left: 0;
            top: 78px;
            padding: 51px 72px 50px;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
            //backdrop-filter: blur(2px);
          }
          @include desktop-down {
            padding: 21px 0 39px;
          }
          .container-box {
            display: flex;
            align-items: center;
            max-width: 100%;
            margin: 0 auto;
            position: relative;
            background-color: $hovgray;
            @include desktop-up {
              height: 55px;
            }
            &:after {
              content: "";
              position: absolute;
              bottom: -18px;
              left: 0;
              width: 100%;
              height: 1px;
              background: $black;
              opacity: 0.5;
              display: none;
            }
            .search-btn {
              width: 23px;
              height: 23px;
              margin-right: 38px;
              position: relative;
              top: -1px;
              @include desktop-up {
                left: 20px;
              }
              @include desktop-down {
                display: block;
                margin-right: 22px;
                margin-left: 15px;
              }
            }
            form {
              width: 100%;
              .search-wrap {
                input {
                  width: 100%;
                  border: none;
                  outline: none;
                  background-color: transparent;
                  padding-bottom: 1px;
                  padding-top: 0;

                  &::placeholder {
                    opacity: 0.5;
                    font-family: $font-families-gotham;
                    font-size: 20px;
                    font-weight: normal;
                    line-height: 1.5;
                    letter-spacing: 0.18px;
                    text-align: left;
                    color: $black;
                    overflow: visible;
                    @include phone-down {
                      font-size: 16px;
                    }
                  }
                }
              }
            }
          }

        }
        .search-input {
          margin: 0;
          border: none;
          background: transparent;
          opacity: 0;
          visibility: hidden;
          max-width: 150px;
          &.active {
            opacity: 1;
            visibility: visible;
            border-bottom: 1px solid grey;
          }
        }
        .search-icon {
          cursor: pointer;
          width: 24px;
          height: 22px;
          position: relative;
          @media only screen and (min-width: 1400px) {
            left: 6px;
          }
          svg {
            g {
              path {
                transition: 0.5s ease-in-out;
                fill: $black;
                stroke: $black;
              }
            }
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: 0.5s opacity ease-in-out;
            &.active-search {
              opacity: 1;
              visibility: visible;
            }
            &.close-img {
              opacity: 0;
              visibility: hidden;
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
        &.active {
          .search-icon {
            svg {
              g {
                path {
                  fill: $light-green;
                  stroke: $light-green;
                }
              }

            }
            .active-search {
              opacity: 0;
              visibility: hidden;
            }
            .close-img {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
      .login-box {
        //margin-right: 28px;
        margin-right: 26px;
        display: inline-block;
        position: relative;
        @include desktop-down {
          display: block;
          float: left;
          width: 100%;
          &:after {
            content: "";
            position: absolute;
            right: 0;
            top: 20px;
            background-image: url(/themes/rms/templates/dist/images/down_arrow.svg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
          }
        }
        &.rotate-arrow {
          @include desktop-down {
            &:after {
              transform: rotate(180deg);
            }
          }
        }
        p {
          display: none;
          font-size: 14px;
          color: $black;
          font-weight: 500;
          line-height: 1.43;
          letter-spacing: normal;
          font-family: $font-families-gotham;
          @include desktop-down {
            font-size: 16px;
            padding: 17px 0;
            border-bottom: 1px solid #f3f3f3;
            display: block;
          }
          //@include desktop-down {
          //
          //}
        }
        .icon-box {
          width: 25px;
          height: 23px;
          cursor: pointer;
          @include desktop-down {
            display: none;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
          svg {
            g {
              transition: 0.5s ease-in-out;
            }
            transition: 0.3s fill ease-in-out;
          }
          &:hover {
            svg {
              fill: $light-green;
              g {
                stroke: $light-green;
              }
            }
          }

        }
        &:hover {
          @include desktop-up {
            .profiles-block {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
      .profiles-block {
        padding: 33px 0;
        background-color: $white;
        display: none;
        @include desktop-up {
          box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.2);
        }
        @include desktop-up {
          position: absolute;
          left: -36px;
          min-width: 136px;
          min-height: 124px;
          top: 50px;
          opacity: 0;
          visibility: hidden;
          transition: 0.5s all ease-in-out;
          padding: 24px 22px 4px 28px;
          display: block !important;
        }
        @include desktop-down {
          padding: 10px 0;
        }
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          margin: auto;
          width: 100%;
          height: 1px;
          background-color: $light-gray;
        }
        .sub-links {
          display: inline-block;
          vertical-align: top;
          padding: 0;
          span {
            display: block;
            //cursor: pointer;
            padding: 0 0 14px 0;
            a {
              font-size: 14px;
              font-weight: normal;
              font-family: $font-families-gotham;
              font-style: normal;
              line-height: 1.57;
              letter-spacing: normal;
              text-align: left;
              color: $blackthin-light;
              padding: 0;
              &:hover {
                color: $light-green;
              }
              &:after {
                display: none;
              }
              &:before {
                display: none;
              }
            }
          }
        }
      }
      .button-box {
        display: inline-block;
        margin-top: 3px;
        @include desktop-down {
          display: block;
          width: 100%;
          float: left;
          margin: 23px 0 70px;
          padding: 17px 0;
        }
        .btn-red {
          padding: 10px 20px 11px;
          @media only screen and (min-width: 1400px) {
            padding: 10px 23px 11px !important;
            margin-top: 5px;
          }
        }
      }

    }
    .no-hover {
      @include desktop-up {
        pointer-events: none;
      }
    }
  }

}