{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="sticky-nav wow fadeInUp {{ class|join(' ') }}" data-wow-delay="0.4s">
    <div class="container">
        <div class="row column-wrapper no-gutters wow fadeInUp" data-wow-delay="0.4s">
            {{ content.field_sticky_nav_items }}
        </div>
    </div>
</section>
