<section class="slider-with-dates animation-five">
    <div class="bg-img " >
    </div>
    <div class="container">
        <div class="pattern-animation wow fadeIn" data-wow-delay="0.6s" id="lottie5"></div>
        <div class="left-slider-block  wow fadeInUp" data-wow-delay="0.5s">
            <div class="items">
                <div class="col-two media-block">
                    <div class="img-wrapper">
                        {% if field_image %}
                            {{ field_image }}
                        {% else %}
                            <img src="/themes/rms/templates/assets/images/report-image.jpg" alt="default">
                        {% endif %}
                    </div>
                </div>
                <div class="col-two content-block green-border align-left">
                    <h6>{{ created_1 }}</h6>
                    <h2>{{ title__value }}</h2>
                    <div class="text-block">
                        {{ field_blurb }}
                    </div>
                </div>
            </div>
        </div>
        <div class="right-slider-block wow fadeInUp" data-wow-delay="0.6s">
            <div class="years-block">
                <span class="item-year"><h2>{{ row.link }}</h2></span>
            </div>
            <div class="button-wrap">
                <span class="pre-btn"></span>
                <span class="square-box"></span>
                <span class="next-btn"></span>
            </div>
        </div>
    </div>
</section>