<section class="banner-second-level banner-gated-resource ">
  <div class="bg-img wow fadeIn" data-wow-delay="0.3s">
    {% if content.field_gated_banner_image[0] is not empty %}
      {{ content.field_gated_banner_image[0] }}
    {% else %}
      <img src="/themes/rms/templates/dist/images/banner-gated-resource-min.png" alt="gated resource banner">
    {% endif %}
  </div>
  <div class="v-middle-wrapper wow fadeIn" data-wow-delay="0.4s">
    <div class="v-middle-inner container">
      <div class="v-middle">
        <div class="inner-text">
          <h1>{{ label[0] }}</h1>
          {#<h5>Lorem ipsum dolor sit amet, consectetur adipiscing, sed do eiusmod tempor incididunt  </h5>#}

        </div>
      </div>
    </div>
  </div>

  {#<div class="location-box">#}

  {#</div>#}
</section>

