{% set ID = content.field_title[0] %}
{% set gated = content.field_gated[0]['#markup'] %}

{% if gated == '1' %}
  <section class="content-with-form gated wow fadeIn " data-wow-delay="0.5s">
    <div class="container gated ">
      <div class="column-wrapper">
        <div class="col-two content-with-heading">
          {#<h2>Lorem Ipsum Dolore</h2>#}
          {{ content.field_blurb[0] }}
        </div>

        <div class="col-two form-box">

          <div class="column-wrap wow fadeIn" data-wow-delay="0.7s">
            <div class="green-border ">
              <h2>{{ content.field_title_two[0] }}</h2>
            </div>

            {% if ID is empty %}
              <form id="mktoForm_1589" class="without-id" data-form-id="1589"></form>
            {% else %}
              <form id="mktoForm_{{ ID }}" class="with-id" data-form-id="{{ ID }}"></form>
            {% endif %}

          </div>
        </div>

      </div>
    </div>
  </section>
{% endif %}

