{% if content.field_title[0] is not empty %}
    {% set body = content.field_blurb[0] %}
<div class="items">
    <div class="col-two media-block  wow zoomIn" data-wow-delay="0.4s">
        <div class="img-wrapper">
            <div class="top-border wow fadeInLeft" data-wow-delay="0.5s"></div>
            {{ content.field_image[0] }}
            <div class="shared-icon">
                {% if content.field_facebook_url[0] is not empty %}
                <a href="{{ content.field_facebook_url[0] }}" class="icon-box">
                    <img src="/themes/rms/templates/dist/images/facebook-share.svg" alt="facebook icon">
                </a>
                {% endif %}
                {% if content.field_linkedin_url[0] is not empty %}
                <a href="{{ content.field_linkedin_url[0] }}" class="icon-box">
                    <img src="/themes/rms/templates/dist/images/linkedin-share.svg" alt="LinkedIn icon">
                </a>
                {% endif %}
                {% if content.field_twitter_url[0] is not empty %}
                <a href="{{ content.field_twitter_url[0] }}" class="icon-box">
                    <img src="/themes/rms/templates/dist/images/twitter-share.svg" alt="Twitter icon">
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-two content-block wow fadeIn" data-wow-delay="0.6s">
        <h3>{{ content.field_title[0] }}</h3>
        <p>{{ body|length > 315 ? body|slice(0, 315) ~ '...' : body }}</p>
        <div class="author-box">
            <h6>{{ content.field_author[0] }}</h6>
            <p>{{ content.field_company[0] }}</p>
        </div>
        {% set new_tab_1= content.field_target[0]|render|striptags %}
        {% set target = '_self' %}
        {% if new_tab_1 == 'On' %}
          {% set target = '_blank' %}
        {% endif %}
        {% if content.field_video[0]["#markup"] == "On" %}
            <a href="#" class="video-play learn-more" data-video="{{ content.field_link[0]['#url'] }}">
                Watch Video
                <p style="display: none;">{{ content.field_link[0]['#title'] }}</p>
            </a>
        {% elseif content.field_link[0]['#title']%}
        <div class="button-box">
            <a href="{{ content.field_link[0]['#url'] }}" target="{{ target }}" class="learn-more">{{ content.field_link[0]['#title'] }}</a>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
