{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}

{% set type = content.field_image_gradient[0] %}
{% if content.field_image[0] is not empty and 'image' in type %}
    {% set root_class, pattern_id = 'resource-with-card-slider', 'lottie2' %}
{% elseif 'gradient' in type %}
    {% set root_class, pattern_id = 'resource-with-card-slider', 'lottie2' %}
{% else %}
    {% set root_class, pattern_id = 'image-with-slider', 'lottie3' %}
{% endif %}
<section class="{{ root_class }} {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    {% if content.field_image[0] is not empty and 'image' in type %}
        <div class="bg-img">
            {{ content.field_image[0] }}
        </div>
    {% elseif 'gradient' in type %}
        <div class="bg-img"></div>
    {% endif %}
    <div class="container">
        <div class="award-top-carousel">
            <div class="pattern-animation wow fadeIn" id="{{ pattern_id }}" data-wow-delay="0.5s">
                {#<img src="/themes/rms/templates/dist/images/svg/Grid-blue.svg" alt="green pattern">#}
            </div>
            {#<div class="rectangle-box wow fadeInRight" data-wow-delay="1.6s"></div>#}
            <div class="slider-outer">
                {{ content.field_image_info_slider_items }}
            </div>
            <div class="button-wrap">
                <span class="pre-btn"></span>
                <div class="dots-outer">
                </div>
                <span class="next-btn"></span>
            </div>
        </div>
    </div>
</section>
