{% set text = node.field_blurb.value %}
<div class="col-item">
  <div class="row">
    <div class="col-md-4 col-sm-12 media-block">
      <div class="img-box">
        <div class="icon">
          {% if node.field_type.value is not empty %}
            <img src="/themes/rms/templates/dist/images/model-black/{{ node.field_type.value }}.svg" alt="{{ node.field_type.value }}">
          {% else %}
            <img src="{{ file_url(node.field_image.entity.uri.value) }}" alt="{{ node.field_image.alt }}">
          {% endif %}
        </div>
      </div>
      <p>{{ node.field_title.value }}</p>
    </div>
    <div class="col-md-8 col-sm-12 content-block">
      <h3>{{ node.field_title.value }}</h3>
      <p>{{ text|render|striptags }}</p>
      <div class="button-box">
        <a href="{{ url }}" class="learn-more">Learn More</a>
      </div>
    </div>
  </div>
</div>