{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="reference-carousel {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    <div class="container wow fadeInUp" data-wow-delay="0.4s">
        <div class="col-wrapper">
            {{ content.field_reference_model }}
        </div>
        <div class="button-wrap">
            <span class="pre-btn"></span>
            <div class="dots-outer">
            </div>
            <span class="next-btn"></span>

        </div>
    </div>
</section>