<section class="banner-404">
  <div class="bg-img">
    <img src="/themes/rms/templates/dist/images/banner_404.png"
         alt="Banner Image">
  </div>
  <div class="v-middle-wrapper">
    <div class="v-middle-inner container">
      <div class="v-middle">
        <div class="inner-text">
          <h1>404</h1>
          <h5> Sorry, the page you were looking for could not be found.
          </h5>
          <div class="type-text">
            <input type="text" placeholder="Try searching for something else.">
            <button type="submit">
              <div class="img-box">
                <img src="/themes/rms/templates/dist/images/svg/search_icon.svg" alt="search">
              </div>
            </button>
          </div>
          <p>Or, you can return to our <a href="#">homepage</a> or <a href="#">contact us</a> if you can’t find what
            you’re looking for.</p>

        </div>
      </div>
    </div>
  </div>
  <div class="location-box">
    <div class="place-location">
      <span><p>Ontario, Canada</p></span>
    </div>
  </div>
</section>