<section class="banner-second-level banner-career" >
    <div class="bg-img wow fadeIn" data-wow-delay="0.3s">
        <img src="/themes/rms/templates/dist/images/banner-career.png" alt="career banner">
    </div>
    <div class="v-middle-wrapper wow fadeIn" data-wow-delay="0.4s">
        <div class="v-middle-inner container">
            <div class="v-middle">
                <div class="inner-text">
                    <h1>Careers at RMS</h1>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </h5>
                    <div class="button-box">
                        <a href="#" class="btn-red"><span>See Jobs</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#<div class="location-box">#}
    <div class="place-location">
        <span><p>Samsun Province, Turkey</p></span>
    </div>
    {#</div>#}
</section>
