<section class="cta">
    <div class="bg-img">
        <img src="/themes/rms/templates/dist/images/cta-bg.jpg" alt="cta image">
    </div>
    <div class="content-box">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 text-block wow fadeIn" data-wow-delay="0.4s">
                    <h2>Want to Join RMS?</h2>
                </div>
                <div class="col-md-5 col-sm-12 button-box wow fadeIn" data-wow-delay="0.4s">
                    <a href="#" class="btn-red"><span>See Open Positions</span></a>
                </div>
            </div>
        </div>
    </div>
</section>