<section class="image-with-text reverse-image col-video-text col-image-career">

    <div class="container">
        <div class="row column-wrapper no-gutters wow fadeInUp" data-wow-delay="0.5s">
            <div class="col-two image-box">
                <div class="img-wrapper play-icon">
                    {#<div class="video-player fadeInLeft" data-wow-delay="0.8s"> </div>#}
                    <a href="#" class="video-play" data-video="https://youtu.be/sxkCuWXKkE4"><span class="id"></span>
                    </a>
                    <img src="/themes/rms/templates/dist/images/video-group.png" alt="Group Image">

                </div>
            </div>
            <div class="col-two green-border align-left text-wrapper">
                <h3 class="">Company Culture</h3>
                <p>RMS Risk Intelligence™ offers (re)insurers an innovative and cost-effective competitive advantage in
                    today’s ever-evolving market. It features the industry’s first open-standard platform built on a
                    unified data lake enabling access to RMS risk models and rich data layers, third-party data, and
                    your own proprietary data in real time across a new suite of applications built for your needs.</p>

                <p>Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                    vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                    sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                    diam nonumy eirmod tempor invidunt ut</p>

            </div>
        </div>
    </div>
</section>


{#<section class="video-overlay" style="visibility: visible;">#}
    {#<div class="v-middle-inner">#}
        {#<div class="v-middle">#}
            {#<div class="video-container">#}
                {#<iframe src="https://youtu.be/sxkCuWXKkE4" name="" class="" bf_offer_id=""></iframe>#}
                {#<button class="closeVideo">#}
                    {#<img src="/themes/datastax/templates/dist/images/svg/close_btn.svg" alt="Close">#}
                {#</button>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</section>#}