<section class="image-gallery animation-second">
    <div class="bg-img"></div>
    <div class="container">
        <div class="column-wrap">
            <div class="pattern-animation" data-wow-delay="0.6s" id="lottie2">
            </div>
            <div class='col-grid wow fadeIn ' data-wow-delay="0.4s">
                <div class="content-box  wow fadeIn" data-wow-delay="0.5s">
                    <div class="img-box">
                        <img src="/themes/rms/templates/dist/images/group-image.png" alt="Group Image">
                    </div>
                    <div class="black-overlay wow fadeIn" data-wow-delay="0.5s">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    </div>
                </div>

                <div class="content-box wow fadeIn" data-wow-delay="0.4s">
                    <div class="img-box">
                        <img src="/themes/rms/templates/dist/images/function-rms.png" alt="Group Image">
                    </div>
                    <div class="black-overlay wow fadeIn" data-wow-delay="0.5s">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                </div>

                <div class="content-box wow fadeIn" data-wow-delay="0.4s">
                    <div class="img-box">
                        <img src="/themes/rms/templates/dist/images/win-team-rms.png" alt="Group Image">
                    </div>
                    <div class="black-overlay wow fadeIn" data-wow-delay="0.5s">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                </div>

                <div class="content-box wow fadeIn" data-wow-delay="0.4s">
                    <div class="img-box">
                        <img src="/themes/rms/templates/dist/images/group-rms-team.png" alt="Group Image">
                    </div>
                    <div class="black-overlay wow fadeIn" data-wow-delay="0.5s">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                </div>

                <div class="content-box wow fadeIn" data-wow-delay="0.4s">
                    <div class="img-box">
                        <img src="/themes/rms/templates/dist/images/see-rms.png" alt="Group Image">
                    </div>
                    <div class="black-overlay wow fadeIn" data-wow-delay="0.5s">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
