<section class="new-banner" >
    <div class="bg-img wow fadeIn" data-wow-delay="0.3s">
        <img src="/themes/rms/templates/dist/images/background-new-banner.png" alt="career banner">
    </div>
    <div class="v-middle-wrapper wow fadeIn" data-wow-delay="0.4s">
        <div class="v-middle-inner container">
            <div class="v-middle">
                <div class="inner-text">
                    <div class="col-two inner-content">
                        <h1>Assess Location Risk In Seconds</h1>
                        <h5>Reduce underwriting overhead and make more informed decisions faster than ever.
                        </h5>
                    </div>

                    <div class="col-two right-block">
                        <div class="slider-outer-block">

                            <div class="row-wrap">
                                <div class="col-box media-block">
                                    <img src="/themes/rms/templates/dist/images/siteI-image.png" alt="image">
                                </div>

                                <div class="col-box content-block">
                                    <div class="logo-box">
                                        <img src="/themes/rms/templates/dist/images/logo-icon-new.png" alt="image">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>