<section class="news-slider new-slider-career animation-four">
    <div class="container">
        <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.5s">
            <h3>Why RMS?</h3>
        </div>
        <div class="slider-block">
            <div class="item">
                
                <div class="media-block">
                    <a href="#"></a>
                    <div class="pattern-animation" id="lottie4">
                        {#<img src="/themes/rms/templates/dist/images/svg/Grid-blue.svg" alt="green pattern">#}
                    </div>
                    <div class="media-top-wrap wow fadeInUp" data-wow-delay="0.7s">
                        <div class="img-box">
                            <img src="/themes/rms/templates/dist/images/rms-recent.png" alt="bitmap image">

                            <div class="play-icon">
                                <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                            </div>
                        </div>
                        {#<div class="media-footer">#}
                            {#<div class="icon-box">#}
                                {#<img src="/themes/rms/templates/dist/images/play-small.svg" alt="icon play">#}
                            {#</div>#}
                            {#<span>video</span>#}
                        {#</div>#}
                    </div>
                    <div class="content-box wow fadeInUp" data-wow-delay="0.9s">
                        <h3>What does RMS look for in recent graduates? </h3>
                        {#<p class="small-text">September 24, 2019 - September 26, 2019</p>#}
                        <p>“Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam.”</p>
                        <div class="author-info">
                            <span class="name-author">Micah Biana</span>
                            <span>University Relations</span>
                        </div>
                    </div>
                </div>
                <div class="resources-block">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/rms-join.png"
                                     alt="bitmap image">

                                <div class="play-icon">
                                    <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                                </div>
                            </div>
                        </div>
                        <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                            <h3>Why Join RMS?</h3>
                            <div class="author-info">
                                <span class="name-author">Luke Kennedy</span>
                                <span>Senoir Project Manager</span>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/rms-life.png" alt="bitmap image">
                                <div class="play-icon">
                                    <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                                </div>
                            </div>

                        </div>
                        <div class="content-block wow fadeInUp" data-wow-delay="0.9s">
                            <h3>A Day In The Life At RMS</h3>
                            <div class="author-info">
                                <span class="name-author">Maurizio Gobbato</span>
                                <span>Lead Modeler</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="item">
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/rms-join.png"
                                     alt="bitmap image">

                                <div class="play-icon">
                                    <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                                </div>
                            </div>
                        </div>
                        <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                            <h3>What Do You Like Most..</h3>
                            <div class="author-info">
                                <span class="name-author">Chris Folkman</span>
                                <span> Senior Director, Project Management</span>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/rms-life.png" alt="bitmap image">
                                <div class="play-icon">
                                    <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                                </div>
                            </div>

                        </div>
                        <div class="content-block wow fadeInUp" data-wow-delay="0.9s">
                            <h3>Why Join RMS?</h3>
                            <div class="author-info">
                                <span class="name-author">Luke Kennedy</span>
                                <span>Senoir Project Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/rms-join.png"
                                     alt="bitmap image">

                                <div class="play-icon">
                                    <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                                </div>
                            </div>
                        </div>
                        <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                            <h3>Why Join RMS?</h3>
                            <div class="author-info">
                                <span class="name-author">Luke Kennedy</span>
                                <span>Senoir Project Manager</span>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/rms-life.png" alt="bitmap image">
                                <div class="play-icon">
                                    <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                                </div>
                            </div>

                        </div>
                        <div class="content-block wow fadeInUp" data-wow-delay="0.9s">
                            <h3>A Day In The Life At RMS</h3>
                            <div class="author-info">
                                <span class="name-author">Maurizio Gobbato</span>
                                <span>Lead Modeler</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/rms-join.png"
                                     alt="bitmap image">

                                <div class="play-icon">
                                    <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                                </div>
                            </div>
                        </div>
                        <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                            <h3>Why Join RMS?</h3>
                            <div class="author-info">
                                <span class="name-author">Luke Kennedy</span>
                                <span>Senoir Project Manager</span>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/rms-life.png" alt="bitmap image">
                                <div class="play-icon">
                                    <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                                </div>
                            </div>

                        </div>
                        <div class="content-block wow fadeInUp" data-wow-delay="0.9s">
                            <h3>A Day In The Life At RMS</h3>
                            <div class="author-info">
                                <span class="name-author">Maurizio Gobbato</span>
                                <span>Lead Modeler</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/rms-join.png"
                                     alt="bitmap image">

                                <div class="play-icon">
                                    <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                                </div>
                            </div>
                        </div>
                        <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                            <h3>Why Join RMS?</h3>
                            <div class="author-info">
                                <span class="name-author">Luke Kennedy</span>
                                <span>Senoir Project Manager</span>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/rms-life.png" alt="bitmap image">
                                <div class="play-icon">
                                    <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                                </div>
                            </div>

                        </div>
                        <div class="content-block wow fadeInUp" data-wow-delay="0.9s">
                            <h3>A Day In The Life At RMS</h3>
                            <div class="author-info">
                                <span class="name-author">Maurizio Gobbato</span>
                                <span>Lead Modeler</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/rms-join.png"
                                     alt="bitmap image">

                                <div class="play-icon">
                                    <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                                </div>
                            </div>
                        </div>
                        <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                            <h3>Why Join RMS?</h3>
                            <div class="author-info">
                                <span class="name-author">Luke Kennedy</span>
                                <span>Senoir Project Manager</span>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/rms-life.png" alt="bitmap image">
                                <div class="play-icon">
                                    <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                                </div>
                            </div>

                        </div>
                        <div class="content-block wow fadeInUp" data-wow-delay="0.9s">
                            <h3>A Day In The Life At RMS</h3>
                            <div class="author-info">
                                <span class="name-author">Maurizio Gobbato</span>
                                <span>Lead Modeler</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/rms-join.png"
                                     alt="bitmap image">

                                <div class="play-icon">
                                    <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                                </div>
                            </div>
                        </div>
                        <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                            <h3>Why Join RMS?</h3>
                            <div class="author-info">
                                <span class="name-author">Luke Kennedy</span>
                                <span>Senoir Project Manager</span>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/rms-life.png" alt="bitmap image">
                                <div class="play-icon">
                                    <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
                                </div>
                            </div>

                        </div>
                        <div class="content-block wow fadeInUp" data-wow-delay="0.9s">
                            <h3>A Day In The Life At RMS</h3>
                            <div class="author-info">
                                <span class="name-author">Maurizio Gobbato</span>
                                <span>Lead Modeler</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrap">
            <span class="pre-btn"></span>
            <div class="dots-outer">
            </div>
            <span class="next-btn"></span>

        </div>
    </div>
</section>
