<section class="statistic-slider box-two wow fadeIn" data-wow-delay="0.4s">
    <div class="container">
        <div class="items">
            <div class="item-box">
                <h2>93%<span>of top U.S.</span></h2>
                <h3>Commercial Insurers
                    choose RMS</h3>
            </div>
            <div class="item-box">
                <h2>9 out of 10</h2>
                <h3>Global Reinsurers
                    choose RMS</h3>
            </div>
            <div class="item-box">
                <h2>80%<span>of top U.S.</span></h2>
                <h3>Brokers in the U.S.
                    choose RMS</h3>
            </div>
            <div class="item-box">
                <h2>93%<span>of top U.S.</span></h2>
                <h3>Commercial Insurers
                    choose RMS</h3>
            </div>
            <div class="item-box">
                <h2>80%<span>of top U.S.</span></h2>
                <h3>Brokers in the U.S.
                    choose RMS</h3>
            </div>
        </div>
    </div>
</section>