<section class="col-three-with-text three-col-overview-service-detail">
    <div class="container wow fadeInUp" data-wow-delay="0.5s">
        <div class="intro-box green-border align-center " >
            <h3 class="">Analytical Services Overview</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua, at vero eos et et.</p>
        </div>
        <div class="row three-col-wrap ">
            <div class="col-lg-4 col-md-6 col-sm-12 content-column">
                <h4>Lorem Ipsum</h4>
                <p>Lorem ipsum dolor amet,<br>
                    consectetur adipiscing elit, dolore sed do
                    eiusmod dolore temp incididunt labore
                    dolore set magna set aliqua. </p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 content-column">
                <h4>Lorem Ipsum</h4>
                <p>Lorem ipsum dolor amet,<br>
                    consectetur adipiscing elit, dolore sed do
                    eiusmod dolore temp incididunt labore
                    dolore set magna set aliqua. </p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 content-column">
                <h4>Lorem Ipsum</h4>
                <p>Lorem ipsum dolor amet,<br>
                    consectetur adipiscing elit, dolore sed do
                    eiusmod dolore temp incididunt labore
                    dolore set magna set aliqua. </p>
            </div>
        </div>
    </div>
</section>