<section class="image-with-slider animation-three service-detail-page-slider">
    <div class="container">
        <div class="intro-block green-border align-center wow fadeInUp" data-wow-delay="0.4s">
            <h3>Validation</h3>
        </div>
        <div class="award-top-carousel">
            <div class="pattern-animation" id="lottie3">
                {#<img src="/themes/rms/templates/dist/images/svg/Grid-blue.svg" alt="green pattern">#}
            </div>
            {#<div class="rectangle-box wow fadeInRight" data-wow-delay="1.6s"></div>#}
            <div class="slider-outer">
                <div class="items">
                    <div class="col-two media-block  wow zoomIn" data-wow-delay="0.4s">
                        <div class="img-wrapper">
                            <div class="top-border wow fadeInLeft" data-wow-delay="0.5s"></div>
                            <img src="/themes/rms/templates/dist/images/Award-image.png" alt="award image">
                            <div class="shared-icon">
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/facebook-share.svg" alt="facebook icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/linkedin-share.svg" alt="LinkedIn icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/twitter-share.svg" alt="Twitter icon">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-two content-block wow fadeIn" data-wow-delay="0.6s">
                        <h3>British Insurance Awards 2019: Risk and Resilience Award - RMS</h3>
                        <p>“This award recognises Build Change’s amazing work, and how RMS analytics helps drive
                            understanding of resilience investments at all levels from local to national. As this
                            initiative in Colombia shows, working together we can prove the effectiveness of
                            retrofitting against earthquakes and demonstrate that focused structural planning can save
                            both lives and money, for families, governments and countries.”
                        </p>
                        <div class="author-box">
                            <h6>Ben Brookes</h6>
                            <p> Managing Director – Capital and Resilience Solutions, RMS</p>
                        </div>
                        {#<div class="button-wrap">#}
                        {#<span class="pre-btn"></span>#}
                        {#<div class="dots-outer">#}
                        {#</div>#}
                        {#<span class="next-btn"></span>#}

                        {#</div>#}
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="col-two media-block  wow zoomIn" data-wow-delay="0.4s">
                        <div class="img-wrapper">
                            <div class="top-border wow fadeInLeft" data-wow-delay="0.5s"></div>
                            <img src="/themes/rms/templates/dist/images/Award-image.png" alt="award image">
                            <div class="shared-icon">
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/facebook-share.svg" alt="facebook icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/linkedin-share.svg" alt="LinkedIn icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/twitter-share.svg" alt="Twitter icon">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-two content-block wow fadeIn" data-wow-delay="0.6s">
                        <h3>British Insurance Awards 2019: Risk and Resilience Award - RMS</h3>
                        <p>“This award recognises Build Change’s amazing work, and how RMS analytics helps drive
                            understanding of resilience investments at all levels from local to national. As this
                            initiative in Colombia shows, working together we can prove the effectiveness of
                            retrofitting against earthquakes and demonstrate that focused structural planning can save
                            both lives and money, for families, governments and countries.”
                        </p>
                        <div class="author-box">
                            <h6>Ben Brookes</h6>
                            <p> Managing Director – Capital and Resilience Solutions, RMS</p>
                        </div>
                        {#<div class="button-wrap">#}
                        {#<span class="pre-btn"></span>#}
                        {#<div class="dots-outer">#}
                        {#</div>#}
                        {#<span class="next-btn"></span>#}

                        {#</div>#}
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="col-two media-block  wow zoomIn" data-wow-delay="0.4s">
                        <div class="img-wrapper">
                            <div class="top-border wow fadeInLeft" data-wow-delay="0.5s"></div>
                            <img src="/themes/rms/templates/dist/images/Award-image.png" alt="award image">
                            <div class="shared-icon">
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/facebook-share.svg" alt="facebook icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/linkedin-share.svg" alt="LinkedIn icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/twitter-share.svg" alt="Twitter icon">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-two content-block wow fadeIn" data-wow-delay="0.6s">
                        <h3>British Insurance Awards 2019: Risk and Resilience Award - RMS</h3>
                        <p>“This award recognises Build Change’s amazing work, and how RMS analytics helps drive
                            understanding of resilience investments at all levels from local to national. As this
                            initiative in Colombia shows, working together we can prove the effectiveness of
                            retrofitting against earthquakes and demonstrate that focused structural planning can save
                            both lives and money, for families, governments and countries.”
                        </p>
                        <div class="author-box">
                            <h6>Ben Brookes</h6>
                            <p> Managing Director – Capital and Resilience Solutions, RMS</p>
                        </div>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="items">
                    <div class="col-two media-block  wow zoomIn" data-wow-delay="0.4s">
                        <div class="img-wrapper">
                            <div class="top-border wow fadeInLeft" data-wow-delay="0.5s"></div>
                            <img src="/themes/rms/templates/dist/images/Award-image.png" alt="award image">
                            <div class="shared-icon">
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/facebook-share.svg" alt="facebook icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/linkedin-share.svg" alt="LinkedIn icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/twitter-share.svg" alt="Twitter icon">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-two content-block wow fadeIn" data-wow-delay="0.6s">
                        <h3>British Insurance Awards 2019: Risk and Resilience Award - RMS</h3>
                        <p>“This award recognises Build Change’s amazing work, and how RMS analytics helps drive
                            understanding of resilience investments at all levels from local to national. As this
                            initiative in Colombia shows, working together we can prove the effectiveness of
                            retrofitting against earthquakes and demonstrate that focused structural planning can save
                            both lives and money, for families, governments and countries.”
                        </p>
                        <div class="author-box">
                            <h6>Ben Brookes</h6>
                            <p> Managing Director – Capital and Resilience Solutions, RMS</p>
                        </div>
                        {#<div class="button-wrap">#}
                        {#<span class="pre-btn"></span>#}
                        {#<div class="dots-outer">#}
                        {#</div>#}
                        {#<span class="next-btn"></span>#}

                        {#</div>#}
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="button-wrap">
                <span class="pre-btn"></span>
                <div class="dots-outer">
                </div>
                <span class="next-btn"></span>
            </div>
        </div>
    </div>
</section>
