<section class="news-slider animation-four new-service-detail">
    <div class="container">
        <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.5s">
            <h3>Resources</h3>
        </div>

        <div class="slider-block">
            <div class="item">
                <div class="media-block">
                    <a href="#"></a>
                    <div class="pattern-animation" id="lottie4">
                    </div>
                    <div class="media-top-wrap wow fadeInUp" data-wow-delay="0.7s">
                        <div class="img-box">
                            <img src="/themes/rms/templates/dist/images/wepage-image.png" alt="bitmap image">
                            <div class="shared-icon">
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/facebook-share.svg" alt="facebook icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/linkedin-share.svg" alt="LinkedIn icon">
                                </a>
                                <a href="#" class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/twitter-share.svg" alt="Twitter icon">
                                </a>
                            </div>
                        </div>
                        <div class="media-footer">
                            <div class="icon-box">
                                {#<img src="/themes/rms/templates/dist/images/svg/report.svg" alt="icon play">#}
                                <img src="/themes/rms/templates/assets/images/report-logo.svg" alt="icon report">
                            </div>
                            <span>Report</span>
                        </div>
                    </div>

                    <div class="content-box wow fadeInUp" data-wow-delay="0.9s">
                        <h3>RMS Analytical Services Datasheet</h3>
                        <p class="small-text">Combining Deep Domain Expertise With RMS Solution Knowledge</p>
                        <p>RMS® Analytical Services (RMS AS) helps organizations benefit from highquality analytical
                            intelligence across all aspects of catastrophe modeling and risk
                            management. Supported by more than 400 professional analysts, RMS AS uses
                            the latest RMS peril models – with robust, automated, scalable processes…</p>
                        <div class="button-box">
                            <span class="learn-more">Read More</span>
                        </div>
                    </div>
                </div>


                <div class="resources-block">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top  wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                                <img src="/themes/rms/templates/dist/images/underwriting.png"
                                     alt="bitmap image">
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/assets/images/report-logo.svg"
                                         alt="icon play">
                                </div>
                                <span>Report</span>
                            </div>
                        </div>
                        <div class="content-block  wow fadeInUp" data-wow-delay="0.9s">
                            <h3>RMS Data for Underwriting</h3>
                            <p>Cat Model Insight at Point of Underwriting Enhance...</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                                <img src="/themes/rms/templates/assets/images/new-slider-image.png" alt="bitmap image">
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block wow fadeInUp" data-wow-delay="0.9s">
                            <h3>Infographic: RMS Analytical Services</h3>
                            {#<p>Stay Informed with News, Videos, Updates, Photos…</p>#}
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg"
                                     alt="bitmap image">
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/news-resource-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>News</span>
                            </div>
                        </div>
                        <div class="content-block wow fadeInUp" data-wow-delay="0.9s">
                            <h3>New U.S. Wildfire HD Model</h3>
                            <p>The Most Comprehensive</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top wow fadeInUp" data-wow-delay="0.7s">
                            <div class="img-box">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                                <img src="/themes/rms/templates/dist/images/event-reaction-img.jpg" alt="bitmap image">
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/event-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Event</span>
                            </div>
                        </div>
                        <div class="content-block wow fadeInUp" data-wow-delay="0.9s">
                            <h3>Reactions North America</h3>
                            <p>This one-day event will examine.</p>
                        </div>
                    </div>
                </div>
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg"
                                     alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/event-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Event</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>U.S. Flood Risk</h3>
                            <p>Identifying Floodwater Sources</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>Post-Exceedance Website Live</h3>
                            <p>Stay Informed with News, Videos, Updates, Photos…</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/infogrph-card-img.jpg"
                                     alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>U.S. Flood Risk</h3>
                            <p>Identifying Floodwater Sources</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>Post-Exceedance Website Live</h3>
                            <p>Stay Informed with News, Videos, Updates, Photos…</p>
                        </div>
                    </div>
                </div>
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/infogrph-card-img.jpg"
                                     alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>U.S. Flood Risk</h3>
                            <p>Identifying Floodwater Sources</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>Post-Exceedance Website Live</h3>
                            <p>Stay Informed with News, Videos, Updates, Photos…</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/infogrph-card-img.jpg"
                                     alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>U.S. Flood Risk</h3>
                            <p>Identifying Floodwater Sources</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>Post-Exceedance Website Live</h3>
                            <p>Stay Informed with News, Videos, Updates, Photos…</p>
                        </div>
                    </div>
                </div>
                <div class="resources-block half-width">
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/infogrph-card-img.jpg"
                                     alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>U.S. Flood Risk</h3>
                            <p>Identifying Floodwater Sources</p>
                        </div>
                    </div>
                    <div class="wrapper-box">
                        <a href="#"></a>
                        <div class="media-top">
                            <div class="img-box">
                                <img src="/themes/rms/templates/dist/images/event-card-img.jpg" alt="bitmap image">
                                <div class="shared-icon">
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/facebook-share.svg"
                                             alt="facebook icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/linkedin-share.svg"
                                             alt="LinkedIn icon">
                                    </a>
                                    <a href="#" class="icon-box">
                                        <img src="/themes/rms/templates/dist/images/twitter-share.svg"
                                             alt="Twitter icon">
                                    </a>
                                </div>
                            </div>
                            <div class="media-footer">
                                <div class="icon-box">
                                    <img src="/themes/rms/templates/dist/images/infographic-icon.svg"
                                         alt="icon play">
                                </div>
                                <span>Infographic</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <h3>Post-Exceedance Website Live</h3>
                            <p>Stay Informed with News, Videos, Updates, Photos…</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrap">
            <span class="pre-btn"></span>
            <div class="dots-outer">
            </div>
            <span class="next-btn"></span>
        </div>
    </div>
</section>




