.paragraphs-subform-collapsable-button{
  color: #333;
  border: 1px solid #a6a6a6;
  border-radius: 20px;
  background-color: #f2f1eb;
  padding: 4px 1.5em;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}

.paragraphs-subform-collapsable-button:focus{
  outline: none;
}

.js .paragraph-type-top .paragraph-type-title{
  flex-basis: 65%;
}