{% set body = content.field_blurb_two|render|striptags %}
{% if content.field_title_three[0] is not empty %}
<section class="col-four-with-slider solution-page-cases" id="industry">
    <div class="pattern-animation wow " id="lottie1">
        {#<img src="/themes/rms/templates/dist/images/svg/Grid-blue.svg" alt="green pattern">#}
    </div>
    <div class="row-wrapper no-gutters">
        <div class="overview-block green-border align-left " >
            <div class="container wow fadeIn" data-wow-delay="0.5s">
                <h2 class="">{{ content.field_title_three[0] }}</h2>
                <p>{{ body }}</p>
            </div>
        </div>
        <div class="slider-block  wow fadeIn" data-wow-delay="0.5s">
            <div class="button-wrap">
                <span class="pre-btn"></span>
                <div class="dots-outer">
                </div>
                <span class="next-btn"></span>
            </div>
            <div class="slide-outer">
                {{ content.field_session_slider_items }}
            </div>
        </div>
    </div>
</section>
{% endif %}