<section class="banner-third-level banner-blog-detail " >
    <div class="bg-img wow fadeIn" data-wow-delay="0.3">
        <img src="/themes/rms/templates/dist/images/blog-detail.png" alt="blog detail banner">
    </div>
    <div class="v-middle-wrapper wow fadeIn" data-wow-delay="0.4s">
        <div class="v-middle-inner container">
            <div class="v-middle">
                <div class="inner-text">
                    <h1>New Era of U.S. Wildfire Modeling Begins with Risk Modeler
                    </h1>
                    <h5>The last two North America wildfire seasons have seen total insured losses skyrocket to over
                        US$23 billion </h5>
                    <div class="auther-info">
                        <div class="auther"><img src="/themes/rms/templates/dist/images/author-icon.png"
                                                 alt="icon auther"></div>

                        <div class="author-detail">
                            <span>Michael Young</span>
                            <span>October 14, 2019</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
