<section class="detail-author">
  <div class="container">
    <div class="column-wrapper">
        <div class="col-two detail-summary">
          <div class="author-icon">
            <img src="/themes/rms/templates/dist/images/author-full-width.png" alt="author name">
          </div>

          <div class="text-content">
            <h6>Michael Young</h6>
            <span>Vice President, Model Product Management, RMS</span>
            <p>Michael has led studies of insurance mitigation programs for the state of Florida, as well as the World Bank. In his past 14 years at RMS, Michael has also worked as a lead wind vulnerability engineer, a director of claims and exposure development, and as the head of the mitigation practice. He has worked in commercial wind-tunnel laboratories doing studies on wind loads for a variety of buildings.</p>
          <p>Before joining RMS, he was involved in the development of Federal Emergency Management Agency (FEMA) HAZUS-MH software for hurricane risk assessment, and he taught courses on the use of HAZUS hurricane and flood components. Michael has also led studies on mitigation cost effectiveness for building codes such as the 2001 Florida Building Code and the North Carolina Building Code.</p>

            <p>Michael holds a bachelor’s degree in Civil Engineering and a master’s degree from the University of Western Ontario in Canada in Wind Engineering.</p>

          </div>

        </div>
        <div class="col-two list-status">

          <ul class="text-right">
            <li>#RMS-United States-Wildfire-HD-Model </li>
            <li>#wildfires</li>

            <li>#RiskIntelligence</li>
            <li>#USWildfires</li>

          </ul>
        </div>
    </div>
  </div>
</section>
