<section class="research-reports-white-papers  blog-detal-page">
  <div class="container">
    <div class="column-wrapper">
      <div class="col-two text-left-with-image">
        <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod dolore tempor incididunt ut labore et dolore magna aliqua.</h6>
        <p>Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua consetetur sadipscing elitr.</p>


        <p class="alignright"><img class="alignleft" src="/themes/rms/templates/dist/images/maping.png" alt="left image">Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no lorem sea takimata sanctus est.</p>


        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.
        </p>

        <p class="alignleft">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
          <img  class= "alignright" src="/themes/rms/templates/dist/images/maping-world.png" alt="right image">
        </p>

        {#<p><img  class= "alignright" src="/themes/rms/templates/dist/images/maping-world.png" alt="right image"></p>#}


        <div class="img-wrap">
          <img src="/themes/rms/templates/dist/images/nat.png" alt="image">
        </div>


        <strong>Lorem ipsum dolore sit amet</strong>

        <h3>Lorem ipsum dolor sit amet</h3>

        <p>Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut Lorem ipsum dolor sit amet.</p>
      </div>


      <div class="col-two col-three-blog">
        <div class="icon-wrapper">
          <a href="#" class="icon-box">
            {#<img src="/themes/rms/templates/dist/images/facebook-logo.svg" alt="facebook logo">#}
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
              <defs>
                <clipPath id="clip-path">
                  <path id="Rectangle_2900" d="M0 0h16v16H0z" class="cls-1" data-name="Rectangle 2900"
                        transform="translate(102 5906)"/>
                </clipPath>
              </defs>
              <g id="Group_5272" data-name="Group 5272" transform="translate(-102 -5906)">
                <path id="Rectangle_2897" d="M0 0h30v30H0z" class="cls-2" data-name="Rectangle 2897"
                      transform="translate(102 5906)"/>
                <g id="Mask_Group_9" class="cls-3" data-name="Mask Group 9" transform="translate(7 7)">
                  <g id="_002-facebook-logo" data-name="002-facebook-logo"
                     transform="translate(105.675 5906)">
                    <path id="Path_7285"
                          d="M15.215 0H13.14A3.644 3.644 0 0 0 9.3 3.938v1.815H7.216a.326.326 0 0 0-.326.326V8.71a.326.326 0 0 0 .326.326H9.3v6.637a.326.326 0 0 0 .329.327h2.722a.326.326 0 0 0 .326-.326V9.036h2.439a.326.326 0 0 0 .326-.326V6.08a.326.326 0 0 0-.326-.326h-2.44v-1.54c0-.74.176-1.115 1.14-1.115h1.4a.326.326 0 0 0 .326-.326V.33a.326.326 0 0 0-.327-.33z"
                          class="cls-1" data-name="Path 7285" transform="translate(-6.89)"/>
                  </g>
                </g>
              </g>
            </svg>

          </a>
          <a href="#" class="icon-box">
            {#<img src="/themes/rms/templates/dist/images/linkedin-logo.svg" alt="linkedIn logo">#}
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
              <defs>
                <clipPath id="clip-path">
                  <path id="Rectangle_2901" d="M0 0h16v16H0z" class="cls-1" data-name="Rectangle 2901"
                        transform="translate(144 5906)"/>
                </clipPath>
              </defs>
              <g id="Group_5271" data-name="Group 5271" transform="translate(-144 -5906)">
                <path id="Rectangle_2898" d="M0 0h30v30H0z" class="cls-2" data-name="Rectangle 2898"
                      transform="translate(144 5906)"/>
                <g id="Mask_Group_10" class="cls-3" data-name="Mask Group 10"
                   transform="translate(7 6)">
                  <g id="_001-linkedin-letters" data-name="001-linkedin-letters"
                     transform="translate(144 5906.355)">
                    <g id="Group_5269" data-name="Group 5269">
                      <path id="Rectangle_2903" d="M0 0h3.437v10.323H0z" class="cls-1"
                            data-name="Rectangle 2903" transform="translate(.198 4.969)"/>
                      <path id="Path_7286"
                            d="M19.756 10.714a3.7 3.7 0 0 0-2.865-1.182 4.128 4.128 0 0 0-1.193.162 2.706 2.706 0 0 0-.906.453 3.881 3.881 0 0 0-.995 1.093V9.771h-3.426l.011.5q.011.5.011 3.083t-.021 6.74H13.8v-5.761a2.516 2.516 0 0 1 .115-.844 2.213 2.213 0 0 1 .662-.89 1.687 1.687 0 0 1 1.1-.36 1.482 1.482 0 0 1 1.318.62 3.014 3.014 0 0 1 .422 1.714v5.521h3.423v-5.917a4.96 4.96 0 0 0-1.084-3.463z"
                            class="cls-1" data-name="Path 7286"
                            transform="translate(-4.84 -4.802)"/>
                      <path id="Path_7287"
                            d="M1.937.664a1.961 1.961 0 0 0-1.4.505A1.677 1.677 0 0 0 0 2.445a1.707 1.707 0 0 0 .521 1.271 1.88 1.88 0 0 0 1.375.51h.021a1.963 1.963 0 0 0 1.412-.51 1.649 1.649 0 0 0 .526-1.271 1.738 1.738 0 0 0-.531-1.276A1.9 1.9 0 0 0 1.937.664z"
                            class="cls-1" data-name="Path 7287" transform="translate(0 -.664)"/>
                    </g>
                  </g>
                </g>
              </g>
            </svg>

          </a>
          <a href="#" class="icon-box">
            {#<img src="/themes/rms/templates/dist/images/twitter-logo.svg" alt="twitter logo">#}
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
              <defs>
                <clipPath id="clip-path">
                  <path id="Rectangle_2902" d="M0 0h16v16H0z" class="cls-1" data-name="Rectangle 2902"
                        transform="translate(186 5906)"/>
                </clipPath>
              </defs>
              <g id="Group_5273" data-name="Group 5273" transform="translate(-186 -5906)">
                <path id="Rectangle_2899" d="M0 0h30v30H0z" class="cls-2" data-name="Rectangle 2899"
                      transform="translate(186 5906)"/>
                <g id="Mask_Group_11" class="cls-3" data-name="Mask Group 11"
                   transform="translate(7 7)">
                  <g id="_003-twitter" data-name="003-twitter" transform="translate(186 5907.5)">
                    <g id="Group_5270" data-name="Group 5270">
                      <path id="Path_7288"
                            d="M16 4.352a6.839 6.839 0 0 1-1.89.518 3.262 3.262 0 0 0 1.443-1.813 6.555 6.555 0 0 1-2.08.794A3.28 3.28 0 0 0 7.8 6.094a3.378 3.378 0 0 0 .076.748 9.284 9.284 0 0 1-6.762-3.431 3.281 3.281 0 0 0 1.008 4.383 3.239 3.239 0 0 1-1.482-.4v.036a3.3 3.3 0 0 0 2.628 3.223 3.274 3.274 0 0 1-.86.108 2.9 2.9 0 0 1-.621-.056 3.311 3.311 0 0 0 3.065 2.285 6.591 6.591 0 0 1-4.067 1.4A6.144 6.144 0 0 1 0 14.34a9.234 9.234 0 0 0 5.032 1.472 9.272 9.272 0 0 0 9.336-9.334c0-.145-.005-.285-.012-.424A6.544 6.544 0 0 0 16 4.352z"
                            class="cls-1" data-name="Path 7288" transform="translate(0 -2.813)"/>
                    </g>
                  </g>
                </g>
              </g>
            </svg>

          </a>
        </div>

        <div class="subscribe-box">
          <h6>Subscribe by Email</h6>

          <div class="search-box">
            <input type="text" placeholder="Email Address">
            <button><img src="/themes/rms/templates/dist/images/svg/arrow-right-white-color.svg" alt="search">
            </button>
          </div>
        </div>

        <div class="card-with-blog">
          <h6>You May Also Like</h6>

          <div class="card">
            <div class="img-box item">
              <img src="/themes/rms/templates/dist/images/nature-imaage.png" alt="blog image">
            </div>
            <div class="content-btn item">
              <h6>EXPOSURE Magazine: Exploring the World</h6>
              <strong>May 22, 2019</strong>
              <div class="button-box">
                <a href="#" class="learn-more" tabindex="0">Read More</a>
              </div>
            </div>
          </div>




          <div class="card">
            <div class="img-box item">
              <img src="/themes/rms/templates/dist/images/sky.png" alt="blog image">
              <div class="play-icon">
                <img src="/themes/rms/templates/dist/images/play-icon-white.svg" alt="play icon">
              </div>
            </div>
            <div class="content-btn item">
              <h6>Wildfire: Managing a Peak Peril</h6>
              <strong>May 10, 2019</strong>
              <div class="button-box">
                <a href="#" class="learn-more" tabindex="0">Read More</a>
              </div>
            </div>
          </div>



        </div>

        <div class="card-with-blog ">
          <h6>Related Products</h6>

          <div class="card img-with-p">
            <div class="img-box item">
              <img src="/themes/rms/templates/dist/images/laptop-clouds.jpg" alt="blog image">
            </div>
            <div class="content-btn item">
              <h6>SiteIQ</h6>
              <p>Lorem ipsum dolor sit amet, sed a consetetur sadipscing elitr.</p>
              <div class="button-box">
                <a href="#" class="learn-more" tabindex="0">Learn More</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
