{% set image = content.field_image[0] %}
{% set text = node.title.value %}
{% set start_date = node.field_event_date.start_date %}
{% set end_date = node.field_event_date.end_date %}
<div class="items">
    <div class="row-wrap">
        {% if content.field_image_three[0] %}
            <div class="col-box media-block">
                {{ content.field_image_three[0] }}
            </div>
        {% elseif image is not empty %}
            <div class="col-box media-block">
                {{ image }}
            </div>
        {% else %}
            <div class="col-box media-block">
                <img src="/themes/rms/templates/dist/images/event_detail_default.jpg" alt="Default Image">
            </div>
        {% endif %}
        <div class="col-box content-block">
            {% if node.field_event_taxonomy.0.entity.label is not empty %}
            <div class="resource-block">
                <div class="icon-box">
                    <img src="/themes/rms/templates/dist/images/event-icon.svg" alt="icon play">
                </div>
                <span>{{ node.field_event_taxonomy.0.entity.label }}</span>
            </div>
            {% endif %}
            <div class="date-block">
                {% if start_date is not empty and end_date is not empty and start_date == end_date %}
                  <p>{{ start_date|date('l, F d Y') }}</p>
                {% elseif start_date is not empty and end_date is not empty %}
                    {% if start_date|date('F') == end_date|date('F') %}
                      <p>{{ start_date|date('F d') }}-</p>
                      <p>{{ end_date|date('d, Y') }}</p>
                    {% else %}
                        <p>{{ start_date|date('F d') }}-</p>
                        <p>{{ end_date|date('F d, Y') }}</p>
                    {% endif %}
                {% elseif start_date is not empty %}
                  <p>{{ start_date|date('l, F d Y') }}</p>
                {% elseif end_date is not empty %}
                  <p>{{ end_date|date('l, F d Y') }}</p>
                {% endif %}
            </div>
            <h5>{{ text|truncate(66, true, '...') }}</h5>
            <div class="button-block">
                <a href="{{ url }}" class="learn-more">Read More</a>
            </div>
        </div>
    </div>
</div>
