{% set box_class, box_row_class, award_block_class, pattern_class = '', '', '', '' %}
                    {# No insight by and accomplishment found #}
                    {% if content.field_insight_by is empty and content.field_awards is empty %}
                      {% set box_class, box_row_class = 'single-content', 'collapse-row' %}
                    {% elseif content.field_insight_by is empty or content.field_awards is empty %} {# No insight by found #}
                      {% set box_class, box_row_class, award_block_class, pattern_class = 'coll-two', 'collapse-row', 'single-block', '-two' %}
                    {% endif %}
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card-item">
  <div class="img-box">
    {{ content.field_image }}
    <span>{{ edit_node }} </span>
  </div>
  <div class="content-wrap">
    <div class="text-wrap">
      <h5>{{ label[0] }}</h5>
      <p>{{ content.field_subtitle }}</p>
    </div>
    <div class="footer-box">
      <span class="read-more-btn">Read More</span>
      {% if content.field_linkedin_url|render %}
        <a href="{{ content.field_linkedin_url }}" class="icon-box" target="_blank">
          <img src="/themes/rms/templates/dist/images/linkedin-icon.svg" alt="social image">
        </a>
      {% endif %}
    </div>
  </div>

  <div class="collapse-box {{ box_class }}">
    <div class="container">
      <div class="row {{ box_row_class }}">

        {% if content.field_insight_by or content.field_awards %}
          <div class="col-lg-6 col-md-12 col-sm-12 left-content green-border align-left">
            <h2>{{ label[0] }}</h2>
            <div class="text-block">
              {{ content.field_blurb[0] }}
            </div>

          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 right-content">
            {% if content.field_insight_by or content.field_awards %}
              <div class="pattern-animation{{ pattern_class }}" id="lottie5">
                <img src="/themes/rms/templates/dist/images/grid-five.svg" alt="white pattern">
              </div>
            {% endif %}
            <div class="content-wrapper {{ award_block_class }}">
              <div class="top-border "></div>
              {% if content.field_insight_by %}
                <div class="slider-block">
                  <div class="container-block">
                    <h5>Insights by {{ label[0] }}</h5>
                    <div class=" bg-wrapper ">
                      <div class="slider-outer row">
                        {{ content.field_insight_by }}
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if content.field_awards %}
                <div class="awards-block">
                  <h5>Awards / Accomplishments</h5>
                  <div class="award-wrap">
                    {{ content.field_awards }}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        {% else %}
          <div class="col green-border align-left">
            <h2>{{ label[0] }}</h2>
            {{ content.field_blurb[0] }}
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>