<section class="covid-banner no-padding">
  <div class="bg-img">
    <img src="/themes/rms/templates/dist/images/Covid-hero-landing-latest.jpg" alt="projection chart">
  </div>
  <div class="container content-wrap">
    <div class="content">
      <h1>RMS COVID-19 Pandemic Projections</h1>
      <h5>Access 3 to 6 month projections to support longer term decision-making.</h5>
    </div>
  </div>
</section>
