{% set body = content.field_blurb[0] %}
{% set btn_text = '/' in content.field_link[0]['#title'] ? 'Learn More' : content.field_link[0]['#title'] %}
{% set new_tab_1= content.field_target[0]|render|striptags %}
{% set target = '_self' %}
{% if new_tab_1 == 'On' %}
  {% set target = '_blank' %}
{% endif %}
{% if content.field_title[0] is not empty %}
  <div class="items" data-id="{{ content.field_data_id[0] }}">
    <div class="col-two image-box wow fadeInUp" data-wow-delay="0.4s">
      {% if content.field_image[0] is not empty %}
        <div class="img-wrapper">
          <div class="top-border "></div>
          {{ content.field_image[0] }}
        </div>
      {% endif %}
    </div>
    <div class="col-two green-border align-left text-wrapper wow fadeInUp" data-wow-delay="0.4s">
      <h3 class="">{{ content.field_title[0] }}</h3>
      {{ body }}
      <div class="button-box">
        <a href="{{ content.field_link[0]['#url'] }}" target="{{ target }}" class="learn-more">{{ btn_text }}</a>
      </div>
    </div>
  </div>
{% endif %}
