{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
{% set alignment = 'right' in content.field_image_alignment[0] ? 'reverse-slider' : 'sol-detail-slider' %}
<section class="image-with-text-slider {{ alignment }} {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    <div class="container">
        <div class="award-top-carousel">
            <div class="pattern-animation wow fadeIn" id="lottie3" data-wow-delay="0.5s">
            </div>
            {#<div class="slider-outer">#}
                <div class="slider-outer">
                    {{ content.field_image_text_slider_items}}
                </div>
            {#</div>#}

            <div class="button-wrap">
                <span class="pre-btn"></span>
                <div class="dots-outer">
                </div>
                <span class="next-btn"></span>
            </div>
        </div>
    </div>
</section>
