<section class="banner-fourth">
    <div class="bg-img wow fadeIn" data-wow-delay="0.3s">
        <img src="/themes/rms/templates/dist/images/sol-detail-banner.jpg" alt="model banner">
    </div>
    <div class="v-middle-wrapper wow fadeIn" data-wow-delay="0.4s">
        <div class="v-middle-inner container">
            <div class="v-middle">
                <div class="inner-text">
                    <h1>Insurance Linked Securities</h1>
                    <h5>Gain a comprehensive view of risk across the ILS market.</h5>
                </div>
            </div>
        </div>
    </div>
    {#<div class="location-box">#}
    {#<div class="place-location">#}
    {#<span><p>Sonoran Desert, Arizona, United States</p></span>#}
    {#</div>#}
    {#</div>#}
</section>
