<section class="col-four-with-slider solution-page-cases" id="industry">
    <div class="pattern-animation wow " id="lottie1">
        {#<img src="/themes/rms/templates/dist/images/svg/Grid-blue.svg" alt="green pattern">#}
    </div>
    <div class="row-wrapper no-gutters">
        <div class="overview-block green-border align-left " >
            <div class="container wow fadeIn" data-wow-delay="0.5s">
                <h2>Use Cases</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd.</p>
            </div>
        </div>
        <div class="slider-block  wow fadeIn" data-wow-delay="0.5s">
            <div class="button-wrap">
                <span class="pre-btn"></span>
                <div class="dots-outer">
                </div>
                <span class="next-btn"></span>
            </div>
            <div class="slide-outer">
                <div class="item-box">
                    <div class="no-state">
                        <div class="icon-box">
                            <img src="/themes/rms/templates/dist/images/svg/Icon.svg" alt="icon image">
                        </div>
                        <div class="text-block">
                            <h3>Insurance</h3>
                            <p>Lorem ipsum dolor sit amet, dolore consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor invidunt set ut labore amet dolore. Lorem met ipsum dolor sit amet, dolore
                                consetetur.</p>
                        </div>
                    </div>
                    <div class="hover-state">
                        <div class="bg-img-top">
                            <img src="/themes/rms/templates/dist/images/reinsurance-image.jpg" alt="laptop cloud image">
                        </div>
                        <div class="content-footer">
                            <h3>Insurance</h3>
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="no-state">
                        <div class="icon-box">
                            <img src="/themes/rms/templates/dist/images/svg/Reinsurance_icon.svg" alt="icon image">
                        </div>
                        <div class="text-block">
                            <h3>Reinsurance</h3>
                            <p>Lorem ipsum dolor sit amet, dolore consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor invidunt set ut labore amet dolore. Lorem met ipsum dolor sit amet, dolore
                                consetetur.</p>
                        </div>
                    </div>
                    <div class="hover-state">
                        <div class="bg-img-top">
                            <img src="/themes/rms/templates/dist/images/reinsurance-image.jpg" alt="laptop cloud image">
                        </div>
                        <div class="content-footer">
                            <h3>Reinsurance</h3>
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="no-state">
                        <div class="icon-box">
                            <img src="/themes/rms/templates/dist/images/svg/Intermediaries_icon.svg" alt="icon image">
                        </div>
                        <div class="text-block">
                            <h3>Reinsurance Intermediaries</h3>
                            <p>Lorem ipsum dolor sit amet, dolore consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor invidunt set ut labore amet dolore. Lorem met ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="hover-state">
                        <div class="bg-img-top">
                            <img src="/themes/rms/templates/dist/images/reinsurance-image.jpg" alt="laptop cloud image">
                        </div>
                        <div class="content-footer">
                            <h3>Reinsurance Intermediaries</h3>
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="no-state">
                        <div class="icon-box">
                            <img src="/themes/rms/templates/dist/images/svg/brokers_icon.svg" alt="icon image">
                        </div>
                        <div class="text-block">
                            <h3>Brokers</h3>
                            <p>Lorem ipsum dolor sit amet, dolore consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor
                                invidunt set ut labore amet dolore.</p>
                        </div>
                    </div>
                    <div class="hover-state">
                        <div class="bg-img-top">
                            <img src="/themes/rms/templates/dist/images/reinsurance-image.jpg" alt="laptop cloud image">
                        </div>
                        <div class="content-footer">
                            <h3>Brokers</h3>
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="no-state">
                        <div class="icon-box">
                            <img src="/themes/rms/templates/dist/images/risk-modeler-icon.svg" alt="icon image">
                        </div>
                        <div class="text-block">
                            <h3>Risk Modeler</h3>
                            <p>Lorem ipsum dolor sit amet, dolore consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor
                                invidunt set ut labore amet dolore.</p>
                        </div>
                    </div>
                    <div class="hover-state">
                        <div class="bg-img-top">
                            <img src="/themes/rms/templates/dist/images/reinsurance-image.jpg" alt="laptop cloud image">
                        </div>
                        <div class="content-footer">
                            <h3>Risk Modeler</h3>
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="no-state">
                        <div class="icon-box">
                            <img src="/themes/rms/templates/dist/images/exposure-iq.png" alt="icon image">
                        </div>
                        <div class="text-block">
                            <h3>ExposureIQ</h3>
                            <p>Lorem ipsum dolor sit amet, dolore consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor
                                invidunt set ut labore amet dolore.</p>
                        </div>
                    </div>
                    <div class="hover-state">
                        <div class="bg-img-top">
                            <img src="/themes/rms/templates/dist/images/reinsurance-image.jpg" alt="laptop cloud image">
                        </div>
                        <div class="content-footer">
                            <h3>Risk Modeler</h3>
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="no-state">
                        <div class="icon-box">
                            <img src="/themes/rms/templates/dist/images/exposure-iq.png" alt="icon image">
                        </div>
                        <div class="text-block">
                            <h3>ExposureIQ</h3>
                            <p>Lorem ipsum dolor sit amet, dolore consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor
                                invidunt set ut labore amet dolore.</p>
                        </div>
                    </div>
                    <div class="hover-state">
                        <div class="bg-img-top">
                            <img src="/themes/rms/templates/dist/images/reinsurance-image.jpg" alt="laptop cloud image">
                        </div>
                        <div class="content-footer">
                            <h3>Risk Modeler</h3>
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>