<section class="reference-carousel " >
    <div class="container wow fadeInUp" data-wow-delay="0.4s">
        <div class="intro-box green-border align-center " >
            <h3 class="">Related Models</h3>
        </div>
        <div class="col-wrapper">
            <div class="col-item">
                <div class="row">
                    <div class="col-md-4 col-sm-12 media-block">
                        <div class="img-box">
                            <img src="/themes/rms/templates/dist/images/wind-strom-module.svg" alt="logo img"/>
                        </div>
                        <p>Wind Storm</p>
                    </div>
                    <div class="col-md-8 col-sm-12 content-block">
                        <h3>Wind Storms</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo.
                            Tincidunt
                            augue interdum velit euismod in. Mattis enim ut tellus elementum sagittis vitae et leo.
                            Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. </p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-item">
                <div class="row">
                    <div class="col-md-4 col-sm-12 media-block">
                        <div class="img-box">
                            <img src="/themes/rms/templates/dist/images/wind-strom-module.svg" alt="logo img"/>
                        </div>
                        <p>Wind Storm</p>
                    </div>
                    <div class="col-md-8 col-sm-12 content-block">
                        <h3>Wind Storms</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo.
                            Tincidunt
                            augue interdum velit euismod in. Mattis enim ut tellus elementum sagittis vitae et leo.
                            Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. </p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-item">
                <div class="row">
                    <div class="col-md-4 col-sm-12 media-block">
                        <div class="img-box">
                            <img src="/themes/rms/templates/dist/images/wind-strom-module.svg" alt="logo img"/>
                        </div>
                        <p>Wind Storm</p>
                    </div>
                    <div class="col-md-8 col-sm-12 content-block">
                        <h3>Wind Storms</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Mattis enim ut tellus elementum sagittis vitae et leo.
                            Tincidunt
                            augue interdum velit euismod in. Mattis enim ut tellus elementum sagittis vitae et leo.
                            Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. </p>
                        <div class="button-box">
                            <a href="#" class="learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrap">
            <span class="pre-btn"></span>
            <div class="dots-outer">
            </div>
            <span class="next-btn"></span>

        </div>
    </div>
</section>