<section class="resource-with-card animation-second sol-detail" >
    <div class="bg-img "></div>
    <div class="container">
        <div class="pattern-animation" id="lottie2">
            {#<img src="/themes/rms/templates/dist/images/svg/Grid.svg" alt="white pattern">#}
        </div>
        <div class="row column-wrapper no-gutters wow fadeInUp" data-wow-delay="0.4s">
            <div class="col-two image-box">
                <div class="img-wrapper">
                    <div class="top-border"></div>
                    <img src="/themes/rms/templates/assets/images/report-image.jpg" alt="Management Image">
                </div>
            </div>
            <div class="col-two green-border align-left text-wrapper ">
                <div class="logo-title">
                    <div class="logo-wrap"><img src="/themes/rms/templates/assets/images/lock-icon.svg"
                                                alt="logo box">
                    </div>
                    <span class="small-title">Report</span>
                </div>
                <h2>Lorem ipsum dolor amet, consetetur sed</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <div class="button-box">
                    <a href="#" class="learn-more">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>