{% set image = content.field_image[0] %}
{% set text = content.field_blurb|render|striptags %}
<div class="cover-slider item">
    {% if image is not empty %}
        <div class="bg-img wow fadeIn" data-wow-delay="0.3s">
            {{ image }}
        </div>
    {% endif %}
    {% if image is empty %}
        <div class="bg-img wow fadeIn" data-wow-delay="0.3s">
            <img src="/themes/rms/templates/assets/images/report-image.jpg" alt="Default Image">
        </div>
    {% endif %}
    <div class="v-middle-wrapper wow fadeIn" data-wow-delay="0.4s">
        <div class="v-middle-inner container">
            <div class="v-middle">
                <div class="inner-text">
                    <h1>{{ node.title.value }}</h1>
                    <h5>{{ text|length > 176 ? text|slice(0, 172) ~ '...' : text }}</h5>
                    <div class="button-box">
                        <a href="{{ url }}" class="btn-red"><span>Read Now</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>