{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="banner-second-level blog-landing-banner {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}">
    <div class="column-wrapper">
        <div class="slider">
            {{ content.field_slides }}
        </div>
        <div class="button-wrap">
            <span class="pre-btn"></span>
            <div class="dots-outer">
            </div>
            <span class="next-btn"></span>
        </div>
    </div>
</section>
