{% set has_image = content.field_image[0] ? '' : 'banner-with-out-image'  %}
<section class="banner-third-level banner-news-detail wow fadeIn {{ has_image }}" data-wow-delay="0.3s">
    <div class="bg-img">
        {% if content.field_image[0] is not empty %}
            {{ content.field_image[0] }}
        {% endif %}
    </div>
    <div class="v-middle-wrapper wow fadeIn"  data-wow-delay="0.4s">
        <div class="v-middle-inner container">
            <div class="v-middle">
                <div class="inner-text">
                    <h1>{{ node.title.value }}</h1>
                    <h5>{{ content.field_subtitle[0] }}</h5>

                </div>
            </div>
        </div>
    </div>
</section>
