<section class="about-us-with-contect-us">
    <div class="container">
      <div class="column-wrapper">
          <div class="col-two about-status">

            <h6>About RMS</h6>
            <p>RMS models and solutions help insurers, financial markets, corporations, and public agencies evaluate and manage global risk throughout the world. RMS has over 1,200 employees across 13 offices in the US, London, Bermuda, Zurich, India, China, Japan, Singapore, and Australia, with products and models covering six continents.</p>
          <p>We lead an industry that we helped to pioneer—catastrophe risk modeling – and continue to innovate. In May 2019, we announced the launch of Risk Intelligence™ (RI), an open, flexible and future-proof platform for strategic risk management. Through this purpose-built platform, clients can tap into RMS HD models, rich data layers, intuitive applications and APIs that simply integrate into existing enterprise systems to support business decisions across underwriting, risk selection, mitigation and portfolio management.</p>
            <p>Insurers, reinsurers, trading companies, and other financial institutions trust RMS solutions to better understand and manage the risks of natural and human-made catastrophes, including hurricanes, earthquakes, floods, terrorism, and pandemics.</p>
            <p>Visit <a href="#">RMS.com</a> to learn more and follow us on <a href="#">Twitter</a> and <a href="#">LinkedIn</a>.</p>
          </div>


          <div class="col-two contact-us">
            <h6>Media Contacts</h6>

            <div class="address-blog">
              <p>Matthew Longbottom</p>
              <strong class="heading">PR Lead, EU and APAC</strong>

              <div class="mail-with-phone">
                <span class="phone-no" x-ms-format-detection="none">+44 20 7444 7706</span>
                <span class="mail-id"><a href="mailto:prteam@rms.com">prteam@rms.com</a></span>
              </div>
            </div>

            <div class="address-blog">
              <p>Devonne Cusi</p>
              <strong class="heading">PR Lead, Americas</strong>

              <div class="mail-with-phone">
                <span class="phone-no" x-ms-format-detection="none">+1 551 226 1604</span>
                <span class="mail-id" ><a href="mailto:prteam@rms.com"> prteam@rms.com</a></span>
              </div>
            </div>
          </div>
      </div>
    </div>
</section>
