<section class="research-reports-white-papers">
    <div class="container">
        <div class="column-wrapper">
            <div class="col-two text-left-with-image">
                {{ content.field_blurb }}
            </div>


            <div class="col-two col-three-blog">
                <div class="icon-wrapper">
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5cc30e52a85862a9"></script>
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <div class="addthis_inline_share_toolbox_bbes"></div>
                </div>
                <div class="card-with-blog">
                    <h6>Related Resources</h6>

                    {{ drupal_view('news', 'block_1') }}
                </div>
            </div>
        </div>
    </div>
</section>
