<section class="infographics bg-grey">
  <div class="container">
    <div class="content-wrapper">
      <div class="nav-wrap">
        {% if info.items is not empty %}
          <div class="breadcrumb-wrap">
            <ul>
              {% for item in info.items %}
                {% if info.items|length > 1 %}
                  {% if loop.index < 2 %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                  {#{% else %}#}
                    {#<li>{{ item.title }}</li>#}
                  {% endif %}
                {#{% else %}#}
                  {#<li>{{ item.title }}</li>#}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        <div class="social-wrap">
          {#<span class="share">#}
          {#Share#}
          {#</span>#}
          <ul>
            <li><a href="http://www.facebook.com/sharer.php?u={{ url("<current>") }}" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <g fill="none" fill-rule="evenodd">
                    <path fill="#f7f7f7" d="M0 0H32V32H0z"/>
                    <path class="color" fill="#666"
                          d="M16.99 23h-2.66v-7H13v-2.413h1.33v-1.448c0-1.968.75-3.139 2.883-3.139h1.775v2.413h-1.11c-.83 0-.885.337-.885.966l-.004 1.208H19l-.235 2.412h-1.776V23z"/>
                  </g>
                </svg>

                <div class="tool-tip">
                  <div class="tip-text">
                    <span>Facebook</span>
                  </div>
                </div>
              </a></li>
            <li><a href="http://twitter.com/share?url={{ url("<current>") }}&text={{ node.title.value }}&hashtags=rms"
                   target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <g fill="none" fill-rule="evenodd">
                    <path fill="#f7f7f7" d="M0 0H32V32H0z"/>
                    <path class="color" fill="#666"
                          d="M21.35 11.897c.594-.374 1.05-.968 1.263-1.675-.556.347-1.17.599-1.824.735-.523-.59-1.27-.957-2.097-.957-1.586 0-2.87 1.356-2.87 3.029 0 .238.023.469.072.69-2.386-.127-4.502-1.331-5.92-3.165-.247.449-.388.969-.388 1.523 0 1.05.507 1.978 1.278 2.522-.471-.015-.914-.153-1.302-.378v.037c0 1.468.99 2.693 2.305 2.97-.242.071-.495.107-.758.107-.184 0-.365-.019-.54-.054.365 1.203 1.426 2.08 2.684 2.103-.984.813-2.222 1.297-3.568 1.297-.231 0-.46-.013-.685-.042C10.271 21.5 11.78 22 13.403 22c5.284 0 8.171-4.616 8.171-8.62 0-.13-.001-.262-.007-.39.561-.428 1.05-.962 1.433-1.57-.515.241-1.07.404-1.65.477z"/>
                  </g>
                </svg>

                <div class="tool-tip">
                  <div class="tip-text">
                    <span>Twitter</span>
                  </div>
                </div>

              </a></li>
            <li><a href="http://www.linkedin.com/shareArticle?url={{ url("<current>") }}" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <g fill="none" fill-rule="evenodd">
                    <path fill="#f7f7f7" d="M0 0H32V32H0z"/>
                    <path class="color" fill="#666"
                          d="M9.094 12.391h2.835v9.88H9.094v-9.88zm1.345-1.236h-.02c-1.026 0-1.692-.755-1.692-1.711 0-.976.685-1.717 1.732-1.717 1.046 0 1.69.739 1.71 1.714 0 .956-.664 1.714-1.73 1.714zm12.834 11.118h-3.215v-5.114c0-1.339-.503-2.251-1.609-2.251-.845 0-1.316.615-1.535 1.21-.082.213-.07.51-.07.808v5.347H13.66s.041-9.058 0-9.882h3.185v1.551c.188-.678 1.206-1.646 2.83-1.646 2.015 0 3.598 1.422 3.598 4.482v5.495z"/>
                  </g>
                </svg>

                <div class="tool-tip">
                  <div class="tip-text">
                    <span>LinkedIn</span>
                  </div>
                </div>

              </a></li>
            <li><a
                href="http://pinterest.com/pin/create/button/?url={{ url("<current>") }}&media={{ rootUrl ~ file_url(node.field_image.entity.fileuri) }}"
                target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <g fill="none" fill-rule="evenodd">
                    <path fill="#f7f7f7" d="M0 0H32V32H0z"/>
                    <path class="color" fill="#666"
                          d="M10 14.382c0 1.482.58 2.8 1.824 3.292.204.08.386.003.445-.216.041-.15.139-.532.182-.691.06-.216.036-.292-.128-.48-.358-.41-.588-.94-.588-1.69 0-2.177 1.683-4.127 4.384-4.127 2.391 0 3.705 1.414 3.705 3.302 0 2.484-1.137 4.581-2.823 4.581-.932 0-1.629-.745-1.405-1.66.267-1.09.785-2.27.785-3.057 0-.705-.391-1.293-1.2-1.293-.952 0-1.718.953-1.718 2.23 0 .813.285 1.363.285 1.363l-1.146 4.695c-.34 1.394-.05 3.102-.026 3.274.014.102.15.127.211.05.088-.112 1.222-1.466 1.608-2.82.109-.383.626-2.368.626-2.368.31.57 1.214 1.074 2.175 1.074 2.862 0 4.804-2.525 4.804-5.905C22 11.38 19.763 9 16.363 9 12.133 9 10 11.935 10 14.382z"/>
                  </g>
                </svg>


                <div class="tool-tip">
                  <div class="tip-text">
                    <span>Pinterest</span>
                  </div>
                </div>

              </a></li>
            <li><a href="mailto:?Subject={{ node.title.value }}&body={{ url("<current>") }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <g fill="none" fill-rule="evenodd">
                    <path fill="#f7f7f7" d="M0 0H32V32H0z"/>
                    <path class="color" fill="#666" fill-rule="nonzero"
                          d="M24 11v12H9V11h15zm-1.422 2.934l-6.205 4.649-5.952-4.458v7.332H22.58l-.001-7.523zm-.644-1.392H10.81l5.562 4.166 5.562-4.166z"/>
                  </g>
                </svg>

                <div class="tool-tip">
                  <div class="tip-text">
                    <span>Mail</span>
                  </div>
                </div>

              </a></li>

            <li><a id="info-popup" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <g fill="none" fill-rule="evenodd">
                    <path fill="#f7f7f7" d="M0 0H32V32H0z"/>
                    <path class="color" fill="#666"
                          d="M16.956 10l1.423.522L14.236 22l-1.423-.522L16.956 10zm-6.653 1.5l1.07 1.06-3.224 3.195 3.204 3.175-1.07 1.06L6 15.748l1.07-1.061.008.007 3.225-3.194zm10.415 0L25 15.743l-1.07 1.06-.008-.007-3.225 3.194-1.07-1.06 3.224-3.195-3.204-3.174 1.07-1.061z"/>
                  </g>
                </svg>

                <div class="tool-tip">
                  <div class="tip-text">
                    <span>Embed</span>
                  </div>
                </div>

              </a></li>
            <li><a href="{{ file_url(node.field_image.entity.fileuri) }}" download>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <g fill="none" fill-rule="evenodd">
                    <path fill="#f7f7f7" d="M0 0H32V32H0z"/>
                    <path class="color" fill="#666" fill-rule="nonzero"
                          d="M9.476 15.745v4.783h13.048v-4.783H24V22H8v-6.255h1.476zm7.075-6.751l-.007 6.409 2.236-2.237.976.975-3.913 3.913-3.903-3.903.979-.978 2.243 2.242.008-6.42 1.381-.001z"/>
                  </g>
                </svg>

                <div class="tool-tip">
                  <div class="tip-text">
                    <span>Download</span>
                  </div>
                </div>

              </a></li>
          </ul>
        </div>
      </div>

      <div class="intro-wrapper">
        <div class="intro-box green-border align-center">
          <h2>{{ node.title.value }}</h2>
          {% if content.field_blurb[0] is not empty %}
          <p>
              <span>
                {{ content.field_blurb[0] }}
              </span>
          </p>
          {% endif %}
          {#<div class="button-box">#}
          {#{{ content.field_cta }}#}
          {#</div>#}
        </div>
      </div>

      <div class="info-content">
        <div class="wrapper">
          {% if content.field_image[0] is not empty %}
            <div class="img-mobile-wrap">
              {{ content.field_image[0] }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="infographic-popup">
  <div class="content-outer">
    <div class="content-box">
      <div class="title">
        <h4>Share Infographic</h4>
      </div>
      <div class="content">

        <div class="copy-link">
          <label>iframe Link</label>
          <div class="field-wrap">
            <input id="copylink" name="copylink" type="text"
                   value="<iframe src='{{ rootUrl ~ file_url(node.field_image.entity.fileuri) }}' width='500' height='500'></iframe>"
                   class="info-share-url">
            <button id="copytext" class="btn-red">Copy</button>
          </div>
        </div>

      </div>

      <span class="close-popup"></span>
    </div> 
  </div>
</section>




