{#<section class="banner-second-level banner-gated-resource wow fadeIn" data-wow-delay="0.5s">#}
    {#<div class="bg-img wow fadeIn" data-wow-delay="0.5s">#}
        {#<img src="/themes/rms/templates/dist/images/banner-gated-resource-min.png" alt="gated resource banner">#}
    {#</div>#}
    {#<div class="v-middle-wrapper wow fadeIn" data-wow-delay="1.2s">#}
        {#<div class="v-middle-inner container">#}
            {#<div class="v-middle">#}
                {#<div class="inner-text">#}
                    {#<h1>Lorem Ipsum Dolor Sit Amet</h1>#}
                    {#<h5>Lorem ipsum dolor sit amet, consectetur adipiscing, sed do eiusmod tempor incididunt  </h5>#}

                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

  {#<div class="location-box">#}

  {#</div>#}
{#</section>#}

