<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
  <!-- Web Fonts (with Outlook fix) -->
  <!--[if !mso]><!-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"/>
  <!-- Always  in the code as:
  font-family: 'Open Sans', 'Lato', 'Arial', 'arial', sans-serif
  -->
  <!--<![endif]-->
  <link href="https://rsms.me/inter/inter.css" rel="stylesheet"/>
  <!-- Always  in the code as:
  font-family: 'inter', Lato, Arial, arial, sans-serif
  -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css"/>
  <!-- Always  in the code as:
font-family: 'gotham', Lato, Arial, arial, sans-serif
-->
  <title></title>

  <style type="text/css">

    img {
      -ms-interpolation-mode: bicubic;
    }


    /* Force IE to smoothly render resized images. */
    #outlook a {
      padding: 0;
    }
    #borderbackground {
      background-image: linear-gradient(91deg, #0086a1 0%, #004c6c 100%); !important;
    }

    /* Force Outlook 2007 and up to provide a "view in browser" message. */
    table {
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
    }

    /* Remove spacing between tables in Outlook 2007 and up. */
    .ReadMsgBody {
      width: 100%;
      background-color: #fff;
    }
    .contact{
      color: #000000 !important;
    }
    .ExternalClass {
      width: 100%;
      background-color: #fff;
    }

    /* Force Outlook.com to display emails at full width. */
    p, a, li, td, blockquote {
      mso-line-height-rule: exactly;
      margin: 0;
      padding: 0;
    }


    /* Force mobile devices to inherit declared link styles. */
    p, a, li, td, body, table, blockquote {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    }

    /* Prevent Windows- and Webkit-based mobile platforms from changing declared text sizes. */
    .ExternalClass, .ExternalClass p, .ExternalClass td, .ExternalClass div, .ExternalClass span, .ExternalClass font {
      line-height: 100%;
    }

    /* Force Outlook.com to display line heights normally. */
    table {
      border-collapse: collapse;
      border-spacing: 0;
      font-size:0em;
    }

    html {
      -webkit-text-size-adjust: none;
      width: 100%;
    }


    body {
      -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      -webkit-transform: translate3d(0, 0, 0);
    }

    table {
      border-spacing: 0;
      table-layout: fixed;
      margin: 0 auto;
    }

    table table table {
      table-layout: auto;
    }

    img {
      display: block !important;
      overflow: hidden !important;
    }

    table td {
      border-collapse: collapse;
    }

    .yshortcuts a {
      border-bottom: none !important;
    }

    a {
      text-decoration: none;
    }


    #frame {
      opacity: 1 !important;
    }

    .wrap {
      width: 100%;
      text-align: center;
      overflow: hidden;
    }

    img#uploadPreview {
      border: 0;
      overflow: hidden;
    }

    img#uploadPreview {
      max-width: 600px;
      max-height: 500px;
    }

    .ui-resizable-e {
      width: 30px;
      right: -30px;
      z-index: 9999;
    }


    .ui-resizable-s {
      height: 12px;
      bottom: 0;
      z-index: 99999999;
    }
    .preventSelection {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .link-text{
      color: #000000;
    }

    img {
      height: auto;
      max-width: 100%;
      vertical-align: top;
      border: 0;
      display: block !important;
    }

    tr[class=mobile-show] {
      display: none !important;
    }
    td[class=mobile-space-10] {
      display: none !important
    }
    .mobile-space-10{
      display: none !important
    }
    td[class=mobile-space-30] {
      display: none !important
    }
    .mobile-space-30{
      display: none !important
    }


    @media only screen and (max-width: 599px) {
      td[class=mobile-hidden] {
        display: none !important;
      }
      .mobile-hidden{
        display: none !important;
      }
      tr[class=mobile-show] {
        display: block !important;
      }

      td[class=mobile-space-124] {
        padding-top: 124px!important;
        display: block !important;
      }

      td[class=mobile-space-10] {
        padding-top: 10px!important;
        display: block !important;
      }
      .mobile-space-10{
        padding-top: 124px!important;
        display: block !important;
      }
      .mobile-space-124{
        padding-top: 124px!important;
        display: block !important;
      }
      td[class=mobile-space-30] {
        padding-top: 30px!important;
        display: block !important;
      }
      .mobile-space-30{
        padding-top: 30px!important;
        display: block !important;
      }
      td[class=mobile-space-40] {
        padding-top: 40px!important;
        display: block !important;
      }
      .mobile-space-40{
        padding-top: 40px!important;
        display: block !important;
      }

      .email-az-3 {
        width: 100% !important;
      }

      .mobile-show {
        display: block !important;
      }

      h1 {
        font-size: 42px !important;
      }

      h2{
        font-size: 35px !important;
      }

      .email-width {
        width: 100% !important;
      }

      td[class=email-width] {
        width: 100% !important;
      }

      table[ class=email-Z3-3] {
        width: 100% !important;
      }
      .email-Z3-3{
        width: 100% !important;
      }
    }
    @media only screen and (max-width: 480px) {
      h1 {
        font-size: 34px !important;

      }

      h2{
        font-size: 30px !important;
      }
    }
  </style>

</head>

<body>
<!--   <header start> -->
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0"
       style="position:relative;opacity:1; z-index:0;">
  <tbody>
  <tr>
    <td align="center" bgcolor="#004c6c"
        style="background-color:#004c6c; background-image:url('https://dev-new-rms.pantheonsite.io/themes/rms/templates/dist/images/email-background.png');background-position:center;background-size:cover; background-repeat:no-repeat;">
      <table align="center" class="email-width" width="550" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td height="50">
          </td>
        </tr>
        <tr>
          <td style="padding-left: 25px; padding-right: 25px;">
            <table class="email-az-3" align="left" width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
              <tr>
                <td>
                  <a href="">
                    <img src="https://dev-new-rms.pantheonsite.io/themes/rms/templates/dist/images/rms-logo.png"
                         style="display: block;" alt="rms logo" width="65" height="65"/></a>
                </td>
              </tr>
              <tr>
                <td height="32">
                </td>
              </tr>
              <tr>
                <td>
                  <h1 style="font-family: 'Inter',Open Sans, Lato, Arial, arial, Helvetica, helvetica,  sans-serif;font-style: normal;
            font-weight: 600;font-size:56px;line-height:1.18;color:#ffffff;width:100%;letter-spacing: 0.56px;word-break: break-word;">
                    Product Announcement</h1>
                </td>
              </tr>
              <tr>
                <td height="34"></td>
              </tr>
              <tr>
                <td>
                  <p style="font-family: 'Inter',Open Sans, Lato, Arial, arial, Helvetica, helvetica,  sans-serif;font-style: normal;
                    font-weight: 500;font-size:20px;line-height:1.2;color:#ffffff;width:100%;word-break: break-word;">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                </td>
              </tr>
              <tr>
                <td height="41"></td>
              </tr>
              <tr>
                <td align="left" height="34" style="font-weight:400;">
                  <table align="left" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                      <td align="center" style="
                     font-weight:500; background-color:#b40023; padding-top: 13px; padding-bottom: 13px;   padding-left: 54px; padding-right: 52px;">

                        <a href="#"  style=" font-size: 14px;line-height: 1.43;
                          text-decoration:none;font-family:'Gotham A', sans-serif , Arial, arial, Helvetica, helvetica ; font-size:14px; color: #ffffff;   border-radius:2px;  display: block; text-align: center;background-color:#b40023; "><span style="color:#ffffff; display:block; width:100%;">CTA</span> </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="59"></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<!--   <header end> -->
<!--   <intro start> -->
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0"
       style="position:relative;opacity:1; z-index:0;">
  <tbody>
  <tr>
    <td align="center">
      <table align="center" class="email-width" width="550" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td height="34">
          </td>
        </tr>
        <tr>
          <td style="padding-left: 25px; padding-right: 25px;">
            <p style="font-family:'Gotham A', sans-serif , Arial, arial, Helvetica, helvetica ; font-size:16px; color: #000000; line-height: 1.63; letter-spacing: 0.16px;">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
              sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
              eos
            </p>
          </td>
        </tr>
        <tr>
          <td height="19">
          </td>
        </tr>
        <tr>
          <td style="padding-left: 25px; padding-right: 25px;">
            <ul style="padding-left: 14px;">
              <li style="font-family:'Gotham A', sans-serif , Arial, arial, Helvetica, helvetica ; font-size:16px; color: #000000; line-height: 1.63; letter-spacing: 0.16px;list-style: disc; margin-bottom: 10px;">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
              </li>

              <li style="font-family:'Gotham A', sans-serif , Arial, arial, Helvetica, helvetica ; font-size:16px; color: #000000; line-height: 1.63; letter-spacing: 0.16px;list-style: disc;margin-bottom: 10px;">
                Consetetur sadipscing elitr, sed diam nonumy.
              </li>

              <li style="font-family:'Gotham A', sans-serif , Arial, arial, Helvetica, helvetica ; font-size:16px; color: #000000; line-height: 1.63; letter-spacing: 0.16px;list-style: disc;margin-bottom: 10px;">
                Sed diam nonumy eirmod tempor.
              </li>
            </ul>
            <div style="display:none;">&nbsp;</div>
          </td>
        </tr>
        <tr>
          <td height="30" class="mobile-hidden">
          </td></tr>
        <tr>
          <td class="mobile-space-10">
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<!--   <intro end> -->
<!--   <image-with-content start> -->
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0"
       style="position:relative;opacity:1; z-index:0;">
  <tbody>
  <tr>
    <td height="11"></td>
  </tr>
  <tr>
    <td align="center">
      <table align="center" class="email-width" width="550" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td style="padding-left: 25px; padding-right: 25px;">
            <table class="email-Z3-3" width="49%" align="left" border="0" cellpadding="0" cellspacing="0">
              <tbody>
              <tr>
                <td align="left">
                  <img src="https://dev-new-rms.pantheonsite.io/themes/rms/templates/dist/images/data-chart.jpg" style="display: block;"   alt="data chart" width="240" border="0"/>
                </td>
              </tr>
              </tbody>
            </table>
            <table class="email-Z3-3" width="49%" align="right" border="0" cellpadding="0" cellspacing="0">
              <tbody>
              <tr class="mobile-show">
                <td height="14"></td>
              </tr>
              <tr>
                <td align="left">
                  <p style="font-family: 'Inter',Arial, arial, Helvetica, helvetica , sans-serif; font-style: normal;
              font-weight: 600;font-size:28px;line-height:1.29;color:#000000;width:100%; word-break: break-word;margin:0 !important;">
                    Lorem ipsum </p>
                </td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td align="left">
                  <p style="font-family:'Gotham A', sans-serif , Arial, arial, Helvetica, helvetica ; font-style: normal;
              font-size:16px;line-height:1.63;color:#000000; width:100%; word-break: break-word;letter-spacing: 0.16px; margin:0 !important;">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
                  </p>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr><!-- first row ends-->
        <tr>
          <td height="40"></td>
        </tr>
        <tr>
          <td style="padding-left: 25px; padding-right: 25px;">
            <table class="email-Z3-3" width="49%" align="left" border="0" cellpadding="0" cellspacing="0">
              <tbody>
              <tr>
                <td align="left">
                  <img src="https://dev-new-rms.pantheonsite.io/themes/rms/templates/dist/images/table_data.jpg" style="display: block;"   alt="data chart" width="240" border="0"/>
                </td>
              </tr>
              </tbody>
            </table>
            <table class="email-Z3-3" width="49%" align="right" border="0" cellpadding="0" cellspacing="0">
              <tbody>
              <tr class="mobile-show">
                <td height="14"></td>
              </tr>
              <tr>
                <td align="left">
                  <p style="font-family: 'Inter',Arial, arial, Helvetica, helvetica , sans-serif; font-style: normal;
              font-weight: 600;font-size:28px;line-height:1.29;color:#000000;width:100%; word-break: break-word;margin:0 !important;">
                    Lorem ipsum
                  </p>
                </td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td align="left">
                  <p style="font-family:'Gotham A', sans-serif , Arial, arial, Helvetica, helvetica ; font-style: normal;
              font-size:16px;line-height:1.63;color:#000000; width:100%; word-break: break-word;letter-spacing: 0.16px;">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
                  </p>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr><!-- second row ends-->
        <tr>
          <td height="40"></td>
        </tr>
        <tr>
          <td align="center">
            <table align="center" class="email-width" width="550" border="0" cellspacing="0" cellpadding="0">
              <tbody>
              <tr>
                <td style="padding-left: 25px; padding-right: 25px;">
                  <table class="email-Z3-3" width="49%" align="left" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                      <td align="left">
                        <img src="https://dev-new-rms.pantheonsite.io/themes/rms/templates/dist/images/line_chart.png" width="240" border="0" style="display: block;"
                             alt="data chart"/>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <table class="email-Z3-3" width="49%" align="right" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr class="mobile-show">
                      <td height="14"></td>
                    </tr>
                    <tr>
                      <td align="left">
                        <p style="font-family: 'Inter',Arial, arial, Helvetica, helvetica , sans-serif;font-style: normal;
              font-weight: 600;font-size:28px;line-height:1.29;color:#000000;width:100%; word-break: break-word;margin:0 !important;">
                          Lorem ipsum
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td height="10"></td>
                    </tr>
                    <tr>
                      <td align="left">
                        <p style="font-family:'Gotham A', sans-serif , Arial, arial, Helvetica, helvetica ; font-style: normal;
              font-size:16px;line-height:1.63;color:#000000; width:100%; word-break: break-word;letter-spacing: 0.16px;margin:0 !important;">
                          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
                        </p>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>  <!-- Third row ends-->
        <tr>
          <td height="45" class="mobile-hidden"></td>
        </tr>
        <tr>
          <td height="30" class="mobile-space-30"></td>
        </tr>
        <tr>
          <td style="padding-left: 25px; padding-right: 25px;">
            <p style="font-family:'Gotham A', sans-serif , Arial, arial, Helvetica, helvetica ; font-size:16px; color: #000000; line-height: 1.63; letter-spacing: 0.16px;margin:0 !important;">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
              sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
              eos
            </p>
          </td>
        </tr>
        <tr>
          <td height="60" class="mobile-hidden">
          </td>
        </tr>
        <tr>
          <td class="mobile-space-40">
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<!--   <image-with-content end> -->

<!--   <intro with-image> -->
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0"
       style="position:relative;opacity:1; z-index:0;">
  <tbody>
  <tr>
    <td align="center" bgcolor="#004c6c" style="background-image:url('https://dev-new-rms.pantheonsite.io/themes/rms/templates/dist/images/title_background.jpg');
          background-position:center;background-size:cover; background-repeat:no-repeat;">
      <table align="center" class="email-width" width="550" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td align="center">
            <table align="center" class="email-width" width="550" border="0" cellspacing="0" cellpadding="0">
              <tbody>
              <tr>
                <td height="65">
                </td>
              </tr>
              <tr>
                <td style="padding-left: 25px; padding-right: 25px;" align="center">
                  <h2 style="font-family: 'Inter', Arial, arial, Helvetica, helvetica , sans-serif;font-style: normal;
                        font-weight: 600;font-size:45px;line-height:1.16;color:#000000; width:100%;letter-spacing: 0.45px;word-break: break-word;margin: 0px;">
                    Lorem ipsum dolore</h2>
                </td>
              </tr>
              <tr>
                <td height="47">
                </td>
              </tr>
              <tr>
                <td align="center" height="34" style="font-weight:400;">
                  <table align="center" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                      <td align="center" style="
                     font-weight:500; background-color:#b40023; padding-top: 13px; padding-bottom: 13px;   padding-left: 54px; padding-right: 52px;">

                        <a href="#" style=" font-size: 14px;line-height: 1.43;
                          text-decoration:none;font-family:'Gotham A', sans-serif , Arial, arial, Helvetica, helvetica ; font-size:14px; color: #ffffff;   border-radius:2px;  display: block; text-align: center;background-color:#b40023; "><span style="color:#ffffff; display:block; width:100%;">CTA</span> </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="89">
                </td>
              </tr>

              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<!--   <intro with-image ends> -->
<!--   <footer starts> -->
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0"
       style="position:relative;opacity:1; z-index:0;">
  <tbody>
  <tr>
    <td align="center">
      <table align="center" class="email-width" width="550" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr><td height="49"></td></tr>
        <tr>
          <td align="center">
            <a href="">  <img src="https://dev-new-rms.pantheonsite.io/themes/rms/templates/dist/images/rms-logo.png"
                              style="display: block;"         alt="rms logo" width="80" height="80"/></a>
          </td>
        </tr>
        <tr><td height="21"></td></tr>
        <tr>
          <td align="center">
            <p style="font-family:'Gotham A', sans-serif , Arial, arial, Helvetica, helvetica ; font-style: normal;
              font-size:14px;line-height:2.2; color:#000000; width:100%; word-break: break-word; text-decoration: none !important; outline: 0 !important; border: 0!important;">
              <span>7575 </span>Gateway Blvd., Suite 300
              <br/>Newark, CA 94560
              <br/><a href="tel:+1 (510) 505-2500" class="contact" style="color:#000000 !important; text-decoration:none !important;">+1 (510) 505-2500</a></p>
          </td>
        </tr>
        <tr>
          <td height="23"></td>
        </tr>
        <tr>
          <td align="center">
            <table align="center" border="0" cellpadding="0" cellspacing="0">
              <tbody>
              <tr>
                <td style="padding-left: 10px; padding-right: 10px;">
                  <a href="" target="_blank"><img src="https://dev-new-rms.pantheonsite.io/themes/rms/templates/dist/images/facebook.png" style="display: block;"   alt="Facebook" border="0" width="50" height="50"/></a>
                </td>
                <td style="padding-left: 10px; padding-right: 10px;">
                  <a href="" target="_blank"><img src="https://dev-new-rms.pantheonsite.io/themes/rms/templates/dist/images/linked.png" style="display: block;"   alt="LinkedIn" border="0" width="50" height="50"/></a>
                </td>
                <td style="padding-left: 10px; padding-right: 10px;">
                  <a href="" target="_blank"><img src="https://dev-new-rms.pantheonsite.io/themes/rms/templates/dist/images/twitter.png" style="display: block;"   alt="twitter" border="0" width="50" height="50"/></a>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="49"></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center">
      <table align="center" class="email-width" width="550" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td  style="padding-left: 25px; padding-right: 25px;">
            <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
              <tr>
                <td style="border-top:solid 1px #f3f3f3">
                  <table class="email-Z3-3" width="47%" align="left" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                      <td height="24"></td>
                    </tr>
                    <tr>
                      <td align="center">
                        <span style="font-family:'Gotham A', sans-serif ,Arial, arial, Helvetica, helvetica  ; font-style: normal;
              font-size:12px;line-height:1.67;color:#000000; width:100%; word-break: break-word;">©2019 Risk Management Solutions, Inc.</span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <table class="email-Z3-3" width="36%" align="right" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                      <td height="24"></td>
                    </tr>
                    <tr>
                      <td align="center">
                        <span style="line-height:1.67; font-size: 12px !important; color:#000000 !important;">
                          <a href="#" style="font-family:'Gotham A', sans-serif ,Arial, arial, Helvetica, helvetica ; font-style: normal;
              font-size:12px;color:#000000; word-break: break-word;  color:#000000; text-decoration:none !important">
                            Visit rms.com </a> <span style="font-family:'Gotham A', sans-serif ,Arial, arial, Helvetica, helvetica ; font-style: normal;
              font-size:12px;color:#000000; word-break: break-word;     letter-spacing: 0;">&nbsp; | &nbsp;</span>
                          <a href="#" style="font-family:'Gotham A', sans-serif , Arial, arial, Helvetica, helvetica ; font-style: normal;
              font-size:12px;color:#000000; word-break: break-word;   text-decoration: none !important;">Unsubscribe</a>
                        </span>

                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="36"></td>
  </tr>
  <tr>
    <td height="9" width="100%" bgcolor="#004c6c" style="background-color:#004c6c; background-image:linear-gradient(91deg, #0086a1 0%, #004c6c 100%);background-position:center;background-size:cover;"></td>
  </tr>

  </tbody>
</table>


</body>

</html>
