{% set has_video = content.field_video_url[0] ? 'play-icon' : '' %}
{% set redirect_id = content.field_redirect_id[0] %}
{% set class = [] %}
{% for item in content.field_section_class['#items'] %}
    {% set class = class|merge([item.getFieldCollectionItem().field_section_class.value|e]) %}
{% endfor %}
<section class="image-with-text {{ class|join(' ') }}" id="{{ content.field_section_id[0] }}" data-id="{{ redirect_id }}">
    <div class="container">
        {% if 'On' in content.field_pattern[0] %}
        <div class="pattern-animation wow fadeIn" id="lottie6" data-wow-delay="0.4s">
          {#<img src="/themes/rms/templates/dist/images/svg/Grid-blue.svg" alt="green pattern">#}
        </div>
        {% endif %}
        <div class="row column-wrapper no-gutters " >
            <div class="col-two image-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="img-wrapper {{ has_video }}">
                    {% if content.field_video_url[0] %}
                        <a href="#" class="video-play" data-video="{{ content.field_video_url[0] }}"><span class="id"></span> </a>
                    {% else %}
                        <div class="top-border"></div>
                    {% endif %}
                    {{ content.field_image[0] }}
                </div>
            </div>
            <div class="col-two green-border align-left text-wrapper wow fadeInUp" data-wow-delay="0.4s">
                <h3 class="">{{ content.field_title[0] }}</h3>
                {{ content.field_blurb[0] }}
                <div class="button-box">
                    {{ content.field_cta }}
                </div>
            </div>
        </div>
    </div>
</section>