<section class="leadership-grid">
    <div class="container">
        <div class="intro-box green-border align-center wow fadeInUp" data-wow-delay="0.5s">
            <h3 class="">Leadership</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut labore et
                dolore
                magna aliquyam erat, sed diam voluptua, at vero eos et et.</p>
        </div>
        <div class="row cards-wrapper wow fadeInUp" data-wow-delay="0.6s">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card-item">
                <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/gril-img.jpg" alt="girl image">
                </div>
                <div class="content-wrap">
                    <div class="text-wrap">
                        <h5>Karen White</h5>
                        <p>Chief Executive Officer</p>
                    </div>
                    <div class="footer-box">
                        <span class="read-more-btn">Read More</span>
                        <a href="#" class="icon-box">
                            {#<img src="/themes/rms/templates/dist/images/linkedin-icon.svg" alt="social image">#}
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                <defs>
                                    <clipPath id="clip-path">
                                        <path id="Rectangle_2901" d="M0 0h16v16H0z" class="cls-1"
                                              data-name="Rectangle 2901" transform="translate(144 5906)"></path>
                                    </clipPath>
                                </defs>
                                <g id="Group_5271" data-name="Group 5271" transform="translate(-144 -5906)">
                                    <path id="Rectangle_2898" d="M0 0h30v30H0z" class="cls-2"
                                          data-name="Rectangle 2898" transform="translate(144 5906)"></path>
                                    <g id="Mask_Group_10" class="cls-3" data-name="Mask Group 10"
                                       transform="translate(7 6)">
                                        <g id="_001-linkedin-letters" data-name="001-linkedin-letters"
                                           transform="translate(144 5906.355)">
                                            <g id="Group_5269" data-name="Group 5269">
                                                <path id="Rectangle_2903" d="M0 0h3.437v10.323H0z" class="cls-1"
                                                      data-name="Rectangle 2903"
                                                      transform="translate(.198 4.969)"></path>
                                                <path id="Path_7286"
                                                      d="M19.756 10.714a3.7 3.7 0 0 0-2.865-1.182 4.128 4.128 0 0 0-1.193.162 2.706 2.706 0 0 0-.906.453 3.881 3.881 0 0 0-.995 1.093V9.771h-3.426l.011.5q.011.5.011 3.083t-.021 6.74H13.8v-5.761a2.516 2.516 0 0 1 .115-.844 2.213 2.213 0 0 1 .662-.89 1.687 1.687 0 0 1 1.1-.36 1.482 1.482 0 0 1 1.318.62 3.014 3.014 0 0 1 .422 1.714v5.521h3.423v-5.917a4.96 4.96 0 0 0-1.084-3.463z"
                                                      class="cls-1" data-name="Path 7286"
                                                      transform="translate(-4.84 -4.802)"></path>
                                                <path id="Path_7287"
                                                      d="M1.937.664a1.961 1.961 0 0 0-1.4.505A1.677 1.677 0 0 0 0 2.445a1.707 1.707 0 0 0 .521 1.271 1.88 1.88 0 0 0 1.375.51h.021a1.963 1.963 0 0 0 1.412-.51 1.649 1.649 0 0 0 .526-1.271 1.738 1.738 0 0 0-.531-1.276A1.9 1.9 0 0 0 1.937.664z"
                                                      class="cls-1" data-name="Path 7287"
                                                      transform="translate(0 -.664)"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="collapse-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 left-content green-border align-left">
                                <h2>Karen White</h2>
                                <div class="text-block">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum
                                        sagittis vitae et leo. Tincidunt augue interdum in. Dolor purus non enim
                                        praesent.</p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Nulla aliquet porttitor lacus
                                        luctus.
                                        Cursus risus at sed ultrices mi tempus imperdiet nulla malesuada. Est velit
                                        lorem
                                        egestas dui id ornare arcu. Sed eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum
                                        sagittis vitae et leo. Tincidunt augue interdum in. Dolor purus non enim
                                        praesent.</p>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 right-content">
                                <div class="pattern-animation" id="lottie5">
                                    <img src="/themes/rms/templates/dist/images/grid-five.svg" alt="white pattern">
                                </div>
                                <div class="content-wrapper">
                                    <div class="top-border "></div>
                                    <div class="slider-block">
                                        <div class="container-block">
                                            <h5>Insights by Karen</h5>
                                            <div class=" bg-wrapper ">
                                                <div class="slider-outer row">
                                                    <div class="item-box col-md-4">
                                                        <div class="image-box">
                                                            <img src="/themes/rms/templates/dist/images/flood-risk.jpg"
                                                                 alt="flood risk image">
                                                        </div>
                                                        <div class="content-box">
                                                            <span class="small-head">Infographic</span>
                                                            <h5>U.S. Flood Risk</h5>
                                                        </div>
                                                    </div>
                                                    <div class="item-box col-md-4">
                                                        <div class="image-box">
                                                            <img src="/themes/rms/templates/dist/images/event-img.jpg"
                                                                 alt="flood risk image">
                                                        </div>
                                                        <div class="content-box ">
                                                            <span class="small-head">Event</span>
                                                            <h5>Post-Exceedance Website Now Live.</h5>
                                                        </div>
                                                    </div>
                                                    <div class="item-box col-md-4">
                                                        <div class="image-box">
                                                            <img src="/themes/rms/templates/dist/images/wildfire-img.jpg"
                                                                 alt="flood risk image">
                                                        </div>
                                                        <div class="content-box">
                                                            <span class="small-head">News</span>
                                                            <h5>New U.S. Wildfire HD Model</h5>
                                                        </div>
                                                    </div>

                                                    <div class="item-box col-md-4">
                                                        <div class="image-box">
                                                            <img src="/themes/rms/templates/dist/images/flood-risk.jpg"
                                                                 alt="flood risk image">
                                                        </div>
                                                        <div class="content-box">
                                                            <span class="small-head">Infographic</span>
                                                            <h5>U.S. Flood Risk</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="awards-block">
                                        <h5>Awards / Accomplishments</h5>
                                        <div class="award-wrap">
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/tradding-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/top-choice-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/insurance-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card-item">
                <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/chian-img.jpg" alt="girl image">
                </div>
                <div class="content-wrap">
                    <div class="text-wrap">
                        <h5>Cihan Biyikoglu</h5>
                        <p>Executive Vice President of Product</p>
                    </div>
                    <div class="footer-box">
                        <span class="read-more-btn">Read More</span>
                        <a href="#" class="icon-box">
                            {#<img src="/themes/rms/templates/dist/images/linkedin-icon.svg" alt="social image">#}
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                <defs>
                                    <clipPath id="clip-path">
                                        <path id="Rectangle_2901" d="M0 0h16v16H0z" class="cls-1"
                                              data-name="Rectangle 2901" transform="translate(144 5906)"></path>
                                    </clipPath>
                                </defs>
                                <g id="Group_5271" data-name="Group 5271" transform="translate(-144 -5906)">
                                    <path id="Rectangle_2898" d="M0 0h30v30H0z" class="cls-2"
                                          data-name="Rectangle 2898" transform="translate(144 5906)"></path>
                                    <g id="Mask_Group_10" class="cls-3" data-name="Mask Group 10"
                                       transform="translate(7 6)">
                                        <g id="_001-linkedin-letters" data-name="001-linkedin-letters"
                                           transform="translate(144 5906.355)">
                                            <g id="Group_5269" data-name="Group 5269">
                                                <path id="Rectangle_2903" d="M0 0h3.437v10.323H0z" class="cls-1"
                                                      data-name="Rectangle 2903"
                                                      transform="translate(.198 4.969)"></path>
                                                <path id="Path_7286"
                                                      d="M19.756 10.714a3.7 3.7 0 0 0-2.865-1.182 4.128 4.128 0 0 0-1.193.162 2.706 2.706 0 0 0-.906.453 3.881 3.881 0 0 0-.995 1.093V9.771h-3.426l.011.5q.011.5.011 3.083t-.021 6.74H13.8v-5.761a2.516 2.516 0 0 1 .115-.844 2.213 2.213 0 0 1 .662-.89 1.687 1.687 0 0 1 1.1-.36 1.482 1.482 0 0 1 1.318.62 3.014 3.014 0 0 1 .422 1.714v5.521h3.423v-5.917a4.96 4.96 0 0 0-1.084-3.463z"
                                                      class="cls-1" data-name="Path 7286"
                                                      transform="translate(-4.84 -4.802)"></path>
                                                <path id="Path_7287"
                                                      d="M1.937.664a1.961 1.961 0 0 0-1.4.505A1.677 1.677 0 0 0 0 2.445a1.707 1.707 0 0 0 .521 1.271 1.88 1.88 0 0 0 1.375.51h.021a1.963 1.963 0 0 0 1.412-.51 1.649 1.649 0 0 0 .526-1.271 1.738 1.738 0 0 0-.531-1.276A1.9 1.9 0 0 0 1.937.664z"
                                                      class="cls-1" data-name="Path 7287"
                                                      transform="translate(0 -.664)"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="collapse-box coll-two">
                    <div class="container">
                        <div class="row collapse-row">
                            <div class="col-lg-6 col-md-12 col-sm-12  left-content green-border align-left">
                                <h2>Cihan Biyikoglu</h2>
                                <div class="text-block no-scroll">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum
                                        sagittis vitae et leo. Tincidunt augue interdum in. Dolor purus non enim
                                        praesent.</p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Nulla aliquet porttitor lacus
                                        luctus.
                                        Cursus risus at sed ultrices mi tempus imperdiet nulla malesuada. Est velit
                                        lorem
                                        egestas dui id ornare arcu. Sed eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua.</p>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 right-content">
                                <div class="pattern-animation-two" id="lottie5">
                                    <img src="/themes/rms/templates/dist/images/svg/background-graphic.svg"
                                         alt="white pattern">
                                </div>
                                <div class="content-wrapper single-block">
                                    <div class="top-border "></div>
                                    <div class="awards-block">
                                        <h5>Awards / Accomplishments</h5>
                                        <div class="award-wrap">
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/tradding-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/top-choice-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/insurance-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card-item">
                <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/marilyn-img.jpg" alt="girl image">
                </div>
                <div class="content-wrap">
                    <div class="text-wrap">
                        <h5>Marilyn Mersereau</h5>
                        <p>Chief Executive Officer</p>
                    </div>
                    <div class="footer-box">
                        <span class="read-more-btn">Read More</span>
                        <a href="#" class="icon-box">
                            {#<img src="/themes/rms/templates/dist/images/linkedin-icon.svg" alt="social image">#}
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                <defs>
                                    <clipPath id="clip-path">
                                        <path id="Rectangle_2901" d="M0 0h16v16H0z" class="cls-1"
                                              data-name="Rectangle 2901" transform="translate(144 5906)"></path>
                                    </clipPath>
                                </defs>
                                <g id="Group_5271" data-name="Group 5271" transform="translate(-144 -5906)">
                                    <path id="Rectangle_2898" d="M0 0h30v30H0z" class="cls-2"
                                          data-name="Rectangle 2898" transform="translate(144 5906)"></path>
                                    <g id="Mask_Group_10" class="cls-3" data-name="Mask Group 10"
                                       transform="translate(7 6)">
                                        <g id="_001-linkedin-letters" data-name="001-linkedin-letters"
                                           transform="translate(144 5906.355)">
                                            <g id="Group_5269" data-name="Group 5269">
                                                <path id="Rectangle_2903" d="M0 0h3.437v10.323H0z" class="cls-1"
                                                      data-name="Rectangle 2903"
                                                      transform="translate(.198 4.969)"></path>
                                                <path id="Path_7286"
                                                      d="M19.756 10.714a3.7 3.7 0 0 0-2.865-1.182 4.128 4.128 0 0 0-1.193.162 2.706 2.706 0 0 0-.906.453 3.881 3.881 0 0 0-.995 1.093V9.771h-3.426l.011.5q.011.5.011 3.083t-.021 6.74H13.8v-5.761a2.516 2.516 0 0 1 .115-.844 2.213 2.213 0 0 1 .662-.89 1.687 1.687 0 0 1 1.1-.36 1.482 1.482 0 0 1 1.318.62 3.014 3.014 0 0 1 .422 1.714v5.521h3.423v-5.917a4.96 4.96 0 0 0-1.084-3.463z"
                                                      class="cls-1" data-name="Path 7286"
                                                      transform="translate(-4.84 -4.802)"></path>
                                                <path id="Path_7287"
                                                      d="M1.937.664a1.961 1.961 0 0 0-1.4.505A1.677 1.677 0 0 0 0 2.445a1.707 1.707 0 0 0 .521 1.271 1.88 1.88 0 0 0 1.375.51h.021a1.963 1.963 0 0 0 1.412-.51 1.649 1.649 0 0 0 .526-1.271 1.738 1.738 0 0 0-.531-1.276A1.9 1.9 0 0 0 1.937.664z"
                                                      class="cls-1" data-name="Path 7287"
                                                      transform="translate(0 -.664)"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="collapse-box single-content">
                    <div class="container">
                        <div class="row collapse-row">
                            <div class="col green-border align-left">
                                <h2>Marilyn Mersereau</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum
                                    sagittis vitae et leo. Tincidunt augue interdum in. Dolor purus non enim praesent.
                                </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Nulla aliquet porttitor lacus luctus.
                                    Cursus risus at sed ultrices mi tempus imperdiet nulla malesuada. Est velit lorem
                                    egestas dui id ornare arcu. Sed eiusmod tempor incididunt </br>
                                    ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card-item">
                <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/moe-img.jpg" alt="girl image">
                </div>
                <div class="content-wrap">
                    <div class="text-wrap">
                        <h5>Moe Khosravy</h5>
                        <p>Executive Vice President, Software and Platform</p>
                    </div>
                    <div class="footer-box">
                        <span class="read-more-btn">Read More</span>
                        <a href="#" class="icon-box">
                            {#<img src="/themes/rms/templates/dist/images/linkedin-icon.svg" alt="social image">#}
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                <defs>
                                    <clipPath id="clip-path">
                                        <path id="Rectangle_2901" d="M0 0h16v16H0z" class="cls-1"
                                              data-name="Rectangle 2901" transform="translate(144 5906)"></path>
                                    </clipPath>
                                </defs>
                                <g id="Group_5271" data-name="Group 5271" transform="translate(-144 -5906)">
                                    <path id="Rectangle_2898" d="M0 0h30v30H0z" class="cls-2"
                                          data-name="Rectangle 2898" transform="translate(144 5906)"></path>
                                    <g id="Mask_Group_10" class="cls-3" data-name="Mask Group 10"
                                       transform="translate(7 6)">
                                        <g id="_001-linkedin-letters" data-name="001-linkedin-letters"
                                           transform="translate(144 5906.355)">
                                            <g id="Group_5269" data-name="Group 5269">
                                                <path id="Rectangle_2903" d="M0 0h3.437v10.323H0z" class="cls-1"
                                                      data-name="Rectangle 2903"
                                                      transform="translate(.198 4.969)"></path>
                                                <path id="Path_7286"
                                                      d="M19.756 10.714a3.7 3.7 0 0 0-2.865-1.182 4.128 4.128 0 0 0-1.193.162 2.706 2.706 0 0 0-.906.453 3.881 3.881 0 0 0-.995 1.093V9.771h-3.426l.011.5q.011.5.011 3.083t-.021 6.74H13.8v-5.761a2.516 2.516 0 0 1 .115-.844 2.213 2.213 0 0 1 .662-.89 1.687 1.687 0 0 1 1.1-.36 1.482 1.482 0 0 1 1.318.62 3.014 3.014 0 0 1 .422 1.714v5.521h3.423v-5.917a4.96 4.96 0 0 0-1.084-3.463z"
                                                      class="cls-1" data-name="Path 7286"
                                                      transform="translate(-4.84 -4.802)"></path>
                                                <path id="Path_7287"
                                                      d="M1.937.664a1.961 1.961 0 0 0-1.4.505A1.677 1.677 0 0 0 0 2.445a1.707 1.707 0 0 0 .521 1.271 1.88 1.88 0 0 0 1.375.51h.021a1.963 1.963 0 0 0 1.412-.51 1.649 1.649 0 0 0 .526-1.271 1.738 1.738 0 0 0-.531-1.276A1.9 1.9 0 0 0 1.937.664z"
                                                      class="cls-1" data-name="Path 7287"
                                                      transform="translate(0 -.664)"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="collapse-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 left-content green-border align-left">
                                <h2>Moe Khosravy</h2>
                                <div class="text-block">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum
                                        sagittis vitae et leo. Tincidunt augue interdum in. Dolor purus non enim
                                        praesent.</p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Nulla aliquet porttitor lacus
                                        luctus.
                                        Cursus risus at sed ultrices mi tempus imperdiet nulla malesuada. Est velit
                                        lorem
                                        egestas dui id ornare arcu. Sed eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum
                                        sagittis vitae et leo. Tincidunt augue interdum in. Dolor purus non enim
                                        praesent.</p>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 right-content">
                                <div class="pattern-animation" id="lottie5">
                                    <img src="/themes/rms/templates/dist/images/grid-five.svg" alt="white pattern">
                                </div>
                                <div class="content-wrapper">
                                    <div class="top-border "></div>
                                    <div class="slider-block">
                                        <div class="container-block">
                                            <h5>Insights by Moe Khosravy</h5>
                                            <div class=" bg-wrapper ">
                                                <div class="slider-outer row">
                                                    <div class="item-box col-md-4">
                                                        <div class="image-box">
                                                            <img src="/themes/rms/templates/dist/images/flood-risk.jpg"
                                                                 alt="flood risk image">
                                                        </div>
                                                        <div class="content-box">
                                                            <span class="small-head">Infographic</span>
                                                            <h5>U.S. Flood Risk</h5>
                                                        </div>
                                                    </div>
                                                    <div class="item-box col-md-4">
                                                        <div class="image-box">
                                                            <img src="/themes/rms/templates/dist/images/event-img.jpg"
                                                                 alt="flood risk image">
                                                        </div>
                                                        <div class="content-box ">
                                                            <span class="small-head">Event</span>
                                                            <h5>Post-Exceedance Website Now Live</h5>
                                                        </div>
                                                    </div>
                                                    <div class="item-box col-md-4">
                                                        <div class="image-box">
                                                            <img src="/themes/rms/templates/dist/images/wildfire-img.jpg"
                                                                 alt="flood risk image">
                                                        </div>
                                                        <div class="content-box">
                                                            <span class="small-head">News</span>
                                                            <h5>New U.S. Wildfire HD Model</h5>
                                                        </div>
                                                    </div>

                                                    <div class="item-box col-md-4">
                                                        <div class="image-box">
                                                            <img src="/themes/rms/templates/dist/images/flood-risk.jpg"
                                                                 alt="flood risk image">
                                                        </div>
                                                        <div class="content-box">
                                                            <span class="small-head">Infographic</span>
                                                            <h5>U.S. Flood Risk</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="awards-block">
                                        <h5>Awards / Accomplishments</h5>
                                        <div class="award-wrap">
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/tradding-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/top-choice-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/insurance-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card-item">
                <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/mohsen-img.jpg" alt="girl image">
                </div>
                <div class="content-wrap">
                    <div class="text-wrap">
                        <h5>Mohsen Rahnama, Ph.D.
                        </h5>
                        <p>Chief Risk Modeling Officer and Executive Vice President</p>
                    </div>
                    <div class="footer-box">
                        <span class="read-more-btn">Read More</span>
                        <a href="#" class="icon-box">
                            {#<img src="/themes/rms/templates/dist/images/linkedin-icon.svg" alt="social image">#}
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                <defs>
                                    <clipPath id="clip-path">
                                        <path id="Rectangle_2901" d="M0 0h16v16H0z" class="cls-1"
                                              data-name="Rectangle 2901" transform="translate(144 5906)"></path>
                                    </clipPath>
                                </defs>
                                <g id="Group_5271" data-name="Group 5271" transform="translate(-144 -5906)">
                                    <path id="Rectangle_2898" d="M0 0h30v30H0z" class="cls-2"
                                          data-name="Rectangle 2898" transform="translate(144 5906)"></path>
                                    <g id="Mask_Group_10" class="cls-3" data-name="Mask Group 10"
                                       transform="translate(7 6)">
                                        <g id="_001-linkedin-letters" data-name="001-linkedin-letters"
                                           transform="translate(144 5906.355)">
                                            <g id="Group_5269" data-name="Group 5269">
                                                <path id="Rectangle_2903" d="M0 0h3.437v10.323H0z" class="cls-1"
                                                      data-name="Rectangle 2903"
                                                      transform="translate(.198 4.969)"></path>
                                                <path id="Path_7286"
                                                      d="M19.756 10.714a3.7 3.7 0 0 0-2.865-1.182 4.128 4.128 0 0 0-1.193.162 2.706 2.706 0 0 0-.906.453 3.881 3.881 0 0 0-.995 1.093V9.771h-3.426l.011.5q.011.5.011 3.083t-.021 6.74H13.8v-5.761a2.516 2.516 0 0 1 .115-.844 2.213 2.213 0 0 1 .662-.89 1.687 1.687 0 0 1 1.1-.36 1.482 1.482 0 0 1 1.318.62 3.014 3.014 0 0 1 .422 1.714v5.521h3.423v-5.917a4.96 4.96 0 0 0-1.084-3.463z"
                                                      class="cls-1" data-name="Path 7286"
                                                      transform="translate(-4.84 -4.802)"></path>
                                                <path id="Path_7287"
                                                      d="M1.937.664a1.961 1.961 0 0 0-1.4.505A1.677 1.677 0 0 0 0 2.445a1.707 1.707 0 0 0 .521 1.271 1.88 1.88 0 0 0 1.375.51h.021a1.963 1.963 0 0 0 1.412-.51 1.649 1.649 0 0 0 .526-1.271 1.738 1.738 0 0 0-.531-1.276A1.9 1.9 0 0 0 1.937.664z"
                                                      class="cls-1" data-name="Path 7287"
                                                      transform="translate(0 -.664)"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="collapse-box">
                    <div class="container">
                        <div class="row collapse-row">
                            <div class="col-lg-6 col-md-12 col-sm-12  left-content green-border align-left">
                                <h2>Mohsen Rahnama, Ph.D.</h2>
                                <div class="text-block no-scroll">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum
                                        sagittis vitae et leo. Tincidunt augue interdum in. Dolor purus non enim
                                        praesent.</p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Nulla aliquet porttitor lacus
                                        luctus.
                                        Cursus risus at sed ultrices mi tempus imperdiet nulla malesuada. Est velit
                                        lorem
                                        egestas dui id ornare arcu. Sed eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua.</p>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 right-content">
                                <div class="pattern-animation-two" id="lottie5">
                                    <img src="/themes/rms/templates/dist/images/svg/background-graphic.svg"
                                         alt="white pattern">
                                </div>
                                <div class="content-wrapper single-block">
                                    <div class="top-border "></div>
                                    <div class="awards-block">
                                        <h5>Awards / Accomplishments</h5>
                                        <div class="award-wrap">
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/tradding-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/top-choice-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/insurance-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card-item">
                <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/neil-img.jpg" alt="girl image">
                </div>
                <div class="content-wrap">
                    <div class="text-wrap">
                        <h5>Neil Isford</h5>
                        <p>Executive Vice President, Sales and Client Development</p>
                    </div>
                    <div class="footer-box">
                        <span class="read-more-btn">Read More</span>
                        <a href="#" class="icon-box">
                            {#<img src="/themes/rms/templates/dist/images/linkedin-icon.svg" alt="social image">#}
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                <defs>
                                    <clipPath id="clip-path">
                                        <path id="Rectangle_2901" d="M0 0h16v16H0z" class="cls-1"
                                              data-name="Rectangle 2901" transform="translate(144 5906)"></path>
                                    </clipPath>
                                </defs>
                                <g id="Group_5271" data-name="Group 5271" transform="translate(-144 -5906)">
                                    <path id="Rectangle_2898" d="M0 0h30v30H0z" class="cls-2"
                                          data-name="Rectangle 2898" transform="translate(144 5906)"></path>
                                    <g id="Mask_Group_10" class="cls-3" data-name="Mask Group 10"
                                       transform="translate(7 6)">
                                        <g id="_001-linkedin-letters" data-name="001-linkedin-letters"
                                           transform="translate(144 5906.355)">
                                            <g id="Group_5269" data-name="Group 5269">
                                                <path id="Rectangle_2903" d="M0 0h3.437v10.323H0z" class="cls-1"
                                                      data-name="Rectangle 2903"
                                                      transform="translate(.198 4.969)"></path>
                                                <path id="Path_7286"
                                                      d="M19.756 10.714a3.7 3.7 0 0 0-2.865-1.182 4.128 4.128 0 0 0-1.193.162 2.706 2.706 0 0 0-.906.453 3.881 3.881 0 0 0-.995 1.093V9.771h-3.426l.011.5q.011.5.011 3.083t-.021 6.74H13.8v-5.761a2.516 2.516 0 0 1 .115-.844 2.213 2.213 0 0 1 .662-.89 1.687 1.687 0 0 1 1.1-.36 1.482 1.482 0 0 1 1.318.62 3.014 3.014 0 0 1 .422 1.714v5.521h3.423v-5.917a4.96 4.96 0 0 0-1.084-3.463z"
                                                      class="cls-1" data-name="Path 7286"
                                                      transform="translate(-4.84 -4.802)"></path>
                                                <path id="Path_7287"
                                                      d="M1.937.664a1.961 1.961 0 0 0-1.4.505A1.677 1.677 0 0 0 0 2.445a1.707 1.707 0 0 0 .521 1.271 1.88 1.88 0 0 0 1.375.51h.021a1.963 1.963 0 0 0 1.412-.51 1.649 1.649 0 0 0 .526-1.271 1.738 1.738 0 0 0-.531-1.276A1.9 1.9 0 0 0 1.937.664z"
                                                      class="cls-1" data-name="Path 7287"
                                                      transform="translate(0 -.664)"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="collapse-box">
                    <div class="container">
                        <div class="row collapse-row">
                            <div class="col green-border align-left">
                                <h2>Neil Isford</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum
                                    sagittis vitae et leo. Tincidunt augue interdum in. Dolor purus non enim
                                    praesent.</p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Nulla aliquet porttitor lacus
                                    luctus.
                                    Cursus risus at sed ultrices mi tempus imperdiet nulla malesuada. Est velit
                                    lorem
                                    egestas dui id ornare arcu. Sed eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum
                                    sagittis vitae et leo. Tincidunt augue interdum in. Dolor purus non enim
                                    praesent.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card-item">
                <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/reed-img.jpg" alt="girl image">
                </div>
                <div class="content-wrap">
                    <div class="text-wrap">
                        <h5>Reed Birnbaum</h5>
                        <p>Chief Financial Officer</p>
                    </div>
                    <div class="footer-box">
                        <span class="read-more-btn">Read More</span>
                        <a href="#" class="icon-box">
                            {#<img src="/themes/rms/templates/dist/images/linkedin-icon.svg" alt="social image">#}
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                <defs>
                                    <clipPath id="clip-path">
                                        <path id="Rectangle_2901" d="M0 0h16v16H0z" class="cls-1"
                                              data-name="Rectangle 2901" transform="translate(144 5906)"></path>
                                    </clipPath>
                                </defs>
                                <g id="Group_5271" data-name="Group 5271" transform="translate(-144 -5906)">
                                    <path id="Rectangle_2898" d="M0 0h30v30H0z" class="cls-2"
                                          data-name="Rectangle 2898" transform="translate(144 5906)"></path>
                                    <g id="Mask_Group_10" class="cls-3" data-name="Mask Group 10"
                                       transform="translate(7 6)">
                                        <g id="_001-linkedin-letters" data-name="001-linkedin-letters"
                                           transform="translate(144 5906.355)">
                                            <g id="Group_5269" data-name="Group 5269">
                                                <path id="Rectangle_2903" d="M0 0h3.437v10.323H0z" class="cls-1"
                                                      data-name="Rectangle 2903"
                                                      transform="translate(.198 4.969)"></path>
                                                <path id="Path_7286"
                                                      d="M19.756 10.714a3.7 3.7 0 0 0-2.865-1.182 4.128 4.128 0 0 0-1.193.162 2.706 2.706 0 0 0-.906.453 3.881 3.881 0 0 0-.995 1.093V9.771h-3.426l.011.5q.011.5.011 3.083t-.021 6.74H13.8v-5.761a2.516 2.516 0 0 1 .115-.844 2.213 2.213 0 0 1 .662-.89 1.687 1.687 0 0 1 1.1-.36 1.482 1.482 0 0 1 1.318.62 3.014 3.014 0 0 1 .422 1.714v5.521h3.423v-5.917a4.96 4.96 0 0 0-1.084-3.463z"
                                                      class="cls-1" data-name="Path 7286"
                                                      transform="translate(-4.84 -4.802)"></path>
                                                <path id="Path_7287"
                                                      d="M1.937.664a1.961 1.961 0 0 0-1.4.505A1.677 1.677 0 0 0 0 2.445a1.707 1.707 0 0 0 .521 1.271 1.88 1.88 0 0 0 1.375.51h.021a1.963 1.963 0 0 0 1.412-.51 1.649 1.649 0 0 0 .526-1.271 1.738 1.738 0 0 0-.531-1.276A1.9 1.9 0 0 0 1.937.664z"
                                                      class="cls-1" data-name="Path 7287"
                                                      transform="translate(0 -.664)"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="collapse-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 left-content green-border align-left">
                                <h2>Reed Birnbaum</h2>
                                <div class="text-block">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum
                                        sagittis vitae et leo. Tincidunt augue interdum in. Dolor purus non enim
                                        praesent.</p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Nulla aliquet porttitor lacus
                                        luctus.
                                        Cursus risus at sed ultrices mi tempus imperdiet nulla malesuada. Est velit
                                        lorem
                                        egestas dui id ornare arcu. Sed eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum
                                        sagittis vitae et leo. Tincidunt augue interdum in. Dolor purus non enim
                                        praesent.</p>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 right-content">
                                <div class="pattern-animation" id="lottie5">
                                    <img src="/themes/rms/templates/dist/images/grid-five.svg" alt="white pattern">
                                </div>
                                <div class="content-wrapper">
                                    <div class="top-border "></div>
                                    <div class="slider-block">
                                        <div class="container-block">
                                            <h5>Insights by Reed Birnbaum</h5>
                                            <div class=" bg-wrapper ">
                                                <div class="slider-outer row">
                                                    <div class="item-box col-md-4">
                                                        <div class="image-box">
                                                            <img src="/themes/rms/templates/dist/images/flood-risk.jpg"
                                                                 alt="flood risk image">
                                                        </div>
                                                        <div class="content-box">
                                                            <span class="small-head">Infographic</span>
                                                            <h5>U.S. Flood Risk</h5>
                                                        </div>
                                                    </div>
                                                    <div class="item-box col-md-4">
                                                        <div class="image-box">
                                                            <img src="/themes/rms/templates/dist/images/event-img.jpg"
                                                                 alt="flood risk image">
                                                        </div>
                                                        <div class="content-box ">
                                                            <span class="small-head">Event</span>
                                                            <h5>Post-Exceedance Website Now Live</h5>
                                                        </div>
                                                    </div>
                                                    <div class="item-box col-md-4">
                                                        <div class="image-box">
                                                            <img src="/themes/rms/templates/dist/images/wildfire-img.jpg"
                                                                 alt="flood risk image">
                                                        </div>
                                                        <div class="content-box">
                                                            <span class="small-head">News</span>
                                                            <h5>New U.S. Wildfire HD Model</h5>
                                                        </div>
                                                    </div>

                                                    <div class="item-box col-md-4">
                                                        <div class="image-box">
                                                            <img src="/themes/rms/templates/dist/images/flood-risk.jpg"
                                                                 alt="flood risk image">
                                                        </div>
                                                        <div class="content-box">
                                                            <span class="small-head">Infographic</span>
                                                            <h5>U.S. Flood Risk</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="awards-block">
                                        <h5>Awards / Accomplishments</h5>
                                        <div class="award-wrap">
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/tradding-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/top-choice-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/insurance-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card-item">
                <div class="img-box">
                    <img src="/themes/rms/templates/dist/images/robert-img.jpg" alt="girl image">
                </div>
                <div class="content-wrap">
                    <div class="text-wrap">
                        <h5>Robert Muir-Wood, Ph.D.</h5>
                        <p>Chief Research Officer</p>
                    </div>
                    <div class="footer-box">
                        <span class="read-more-btn">Read More</span>
                        <a href="#" class="icon-box">
                            {#<img src="/themes/rms/templates/dist/images/linkedin-icon.svg" alt="social image">#}
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                <defs>
                                    <clipPath id="clip-path">
                                        <path id="Rectangle_2901" d="M0 0h16v16H0z" class="cls-1"
                                              data-name="Rectangle 2901" transform="translate(144 5906)"></path>
                                    </clipPath>
                                </defs>
                                <g id="Group_5271" data-name="Group 5271" transform="translate(-144 -5906)">
                                    <path id="Rectangle_2898" d="M0 0h30v30H0z" class="cls-2"
                                          data-name="Rectangle 2898" transform="translate(144 5906)"></path>
                                    <g id="Mask_Group_10" class="cls-3" data-name="Mask Group 10"
                                       transform="translate(7 6)">
                                        <g id="_001-linkedin-letters" data-name="001-linkedin-letters"
                                           transform="translate(144 5906.355)">
                                            <g id="Group_5269" data-name="Group 5269">
                                                <path id="Rectangle_2903" d="M0 0h3.437v10.323H0z" class="cls-1"
                                                      data-name="Rectangle 2903"
                                                      transform="translate(.198 4.969)"></path>
                                                <path id="Path_7286"
                                                      d="M19.756 10.714a3.7 3.7 0 0 0-2.865-1.182 4.128 4.128 0 0 0-1.193.162 2.706 2.706 0 0 0-.906.453 3.881 3.881 0 0 0-.995 1.093V9.771h-3.426l.011.5q.011.5.011 3.083t-.021 6.74H13.8v-5.761a2.516 2.516 0 0 1 .115-.844 2.213 2.213 0 0 1 .662-.89 1.687 1.687 0 0 1 1.1-.36 1.482 1.482 0 0 1 1.318.62 3.014 3.014 0 0 1 .422 1.714v5.521h3.423v-5.917a4.96 4.96 0 0 0-1.084-3.463z"
                                                      class="cls-1" data-name="Path 7286"
                                                      transform="translate(-4.84 -4.802)"></path>
                                                <path id="Path_7287"
                                                      d="M1.937.664a1.961 1.961 0 0 0-1.4.505A1.677 1.677 0 0 0 0 2.445a1.707 1.707 0 0 0 .521 1.271 1.88 1.88 0 0 0 1.375.51h.021a1.963 1.963 0 0 0 1.412-.51 1.649 1.649 0 0 0 .526-1.271 1.738 1.738 0 0 0-.531-1.276A1.9 1.9 0 0 0 1.937.664z"
                                                      class="cls-1" data-name="Path 7287"
                                                      transform="translate(0 -.664)"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="collapse-box">
                    <div class="container">
                        <div class="row collapse-row">
                            <div class="col-lg-6 col-md-12 col-sm-12  left-content green-border align-left">
                                <h2>Robert Muir-Wood</h2>
                                <div class="text-block no-scroll">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Mattis enim ut tellus elementum
                                        sagittis vitae et leo. Tincidunt augue interdum in. Dolor purus non enim
                                        praesent.</p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Nulla aliquet porttitor lacus
                                        luctus.
                                        Cursus risus at sed ultrices mi tempus imperdiet nulla malesuada. Est velit
                                        lorem
                                        egestas dui id ornare arcu. Sed eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua.</p>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 right-content">
                                <div class="pattern-animation-two" id="lottie5">
                                    <img src="/themes/rms/templates/dist/images/svg/background-graphic.svg"
                                         alt="white pattern">
                                </div>
                                <div class="content-wrapper single-block">
                                    <div class="top-border "></div>
                                    <div class="awards-block">
                                        <h5>Awards / Accomplishments</h5>
                                        <div class="award-wrap">
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/tradding-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/top-choice-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                            <div class="img-wrap">
                                                <img src="/themes/rms/templates/dist/images/insurance-award-img.jpg"
                                                     alt="award image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>